[2022-07-12 05:36] PamZ33 commented on #1314
@bolshoytoster Firstly, thanks. Tried but still got these error. Any help? Anyone?
C:\Users\Downloads\hashlips_art_engine-1.1.2_patch_v6> yarn install run Set-ExecutionPolicy
 -Scope CurrentUser -ExecutionPolicy Unrestricted
yarn : File C:\Users\Pamela Shea\AppData\Roaming\npm\yarn.ps1 cannot be loaded because running scripts
is disabled on this system. For more information, see about_Execution_Po

[2022-07-12 05:46] PamZ33 commented on #1314
I tried "npm install -g yarn" and it worked, in case anyone is facing similar issues. Thanks again, @bolshoytoster.

[2022-07-12 05:46] #1314 closed, assigned to nobody

[2022-07-12 06:41] bolshoytoster commented on #511
@Noodz-NFT if you're interested in performance, [my fork](https://github.com/bolshoytoster/hashlips_art_engine) has a ~4x speed boost compared to the main repo.

[2022-07-12 09:58] DewminaS opened #1318 "rarity is not working properly"
the problem is the rarity i enter before generating nfts, but after generating tham the rarities are  not the same rarities i entered before, they changed.
![Screenshot (132)](https://user-images.githubusercontent.com/109143816/178464393-b7b3276b-d2c0-43bf-aa20-50dff8860805.png)
![Screenshot (133)](https://user-images.githubusercontent.com/109143816/178464422-fc312b9b-b7dd-41f0-b6fc-1900b9bdd31c.p

[2022-07-12 14:50] bolshoytoster commented on #1318
@DewminaS the rarities you enter are just weights, meaning that occurance won't match it exactly.

Another factor to consider is that when you get closer to the max amount of images you can generate the weights will matter less because hashlips doesn't normally allow duplicates.

[2022-07-12 15:24] danvisx opened #1319 "Possibility to define trait incompatibility"
An enhancement that would enable the user to select which layers should not be used alongside others, based on the layer ordering in `config.js`

Take the following example of a layers folder of 8 trait categories and 80 traits:
- background: bg1, bg2, bg3, bgn
- body: body1, body2, body3, bodyn
- face: face1, face2, face3, facen
- other 5 trait categories

Based on the color scheme I chose, for e

[2022-07-12 15:36] danvisx opened #1320 "How to generate unique images with only 2 visible traits"
My current set-up:
- background: 20
- shape: 300
- 20 metadata layers as transparent pngs
- another 20 metadata layers as transparent pngs

so each shape can be generated 15 times, thus 15*300 are 4500 visual only combinations. But that is only if each background is set to trait weight: 5.

my edition size is ~3000 and a lot of the backgrounds are repeating, visually due to the discrepancy in the

[2022-07-12 15:39] danvisx commented on #1316
If you click ok the trait it will display all nfts in this collection with that trait, which is just 1, so that's why it's showing you 100%

[2022-07-12 15:42] bolshoytoster commented on #1320
@dvisan do you want the background/shape combinations to all be unique? If so you could add [`bypassDNA`](https://github.com/HashLips/hashlips_art_engine#usage-%E2%84%B9%EF%B8%8F) to the metadata layers.

[2022-07-12 16:37] danvisx commented on #1320
Yes, unique.

By my train of thought: if a shape has been already mixed with a background in a previous image, then the program should skip that combination. The issue here as stated above is that there are way less backgrounds than shapes. I still think there would be a need for more backgrounds in every scenario.

By my understanding, the DNA verification prevented duplicates, thus I didn't unde

[2022-07-12 16:39] bolshoytoster commented on #1320
@dvisan using `bypassDNA` like I said would make it so it only checks background/shape for uniqueness, so there wouldn't be any duplicates of them.

[2022-07-12 16:40] danvisx commented on #1320
ok, it makes 100% sense now. Thanks!!

[2022-07-12 16:41] #1320 closed, assigned to nobody

[2022-07-12 22:34] treshaa99 commented on #1318
@bolshoytoster
 but how can we add rarities to our NFTs ?
can you please explain it

[2022-07-12 22:35] bolshoytoster commented on #1318
@treshaa99 you do have rarities, they're just not exact amounts. You'll get closer to the amounts you want if you add more images and make your collection bigger.

[2022-07-12 23:17] treshaa99 commented on #1318
can uu please explain what's the  mathematical method use in rarities and why it is so hard to understand it,
 what is the reason we can't add rarity simply ?

[2022-07-13 00:08] Noodz-NFT commented on #655
This was partially fixed in later versions of hashlips. main.js has:
const DNA_DELIMITER = "-";

which you change to "#" or some other delimiter. However, in 1.1.2 there is still a bug. Line 76 of main.js
still has:
 if (i.includes("-"))

instead of:
 if (i.includes(DNA_DELIMITER))

[2022-07-13 00:46] piercelove opened #1321 "dependencies install error"
Hi, entering npm i in the terminal in v1.1.1 and v1.1.2 and the download is not happening.  using a macbook pro 2012.  Anyone else encountered this issue? thanks

[2022-07-13 00:46] piercelove commented on #1321
macss-MacBook-Air:hashlips_art_engine-1.1.2_patch_v6 macspro$ npm i
bash: npm: command not found
macss-MacBook-Air:hashlips_art_engine-1.1.2_patch_v6 macspro$

[2022-07-13 09:48] treshaa99 commented on #1318
@bolshoyotoster
 can uu please explain what's the mathematical method use in rarities and why it is so hard to understand it,
what is the reason we can't add rarity simply ?

[2022-07-13 11:31] vladko194 opened #1322 "Problem with update_info.js"
hi so basically i put the ipfs link to my collection on baseuri but after node utils/update_info.js it doesnt show that it was updated and also the json files are also not updated

[2022-07-13 12:18] bolshoytoster commented on #1321
@piercelove you need to install npm. Could you paste the output of `node -v` here please.

[2022-07-13 12:25] bolshoytoster commented on #1318
@treshaa99 because the images are generated (pseudo)randomly, the occurances are also random - weights can't be exact.

If you want to see how they're generated, refer to `createDna`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L282-L304

[2022-07-13 12:26] bolshoytoster commented on #1322
@vladko194 what is the output of `node utils/update_info.js`?

[2022-07-13 12:54] vladko194 commented on #1322
@bolshoytoster
PS C:\Users\bodli\Desktop\hashlips_art_engine> node utils/update_info.js
Updated description for images to ===> Forgotten mythical greek creature that rivals even the gods
Updated name prefix for images to ===> CrazyMinotaursDao
Updated creators for images to ===> [{"address":"Aj2U2WoFuHo9QTZEgnYoe3DCp319MxipMnFH7XcgX3Nq","share":100}]

[2022-07-13 12:57] vladko194 commented on #1322
it updates other things but for some reason the ipfs doesnt update

[2022-07-13 13:14] DewminaS commented on #1318
@bolshoytoster
can uu please show the correct way to add rarity
I want

1. gray 20%
2. light blue 20%
3. light green 10%
4. red. 5%
5. yellow 45%

[2022-07-13 14:45] bolshoytoster commented on #1322
@vladko194 you're using solana, I dont think that needs a `baseUri`.

[2022-07-13 14:45] themopixel opened #1323 "Install error"
Hey guys I'm on debian, did git clone,
when I do yarn install I get this message:

─$ yarn install
00h00m00s 0/0: : ERROR: [Errno 2] No such file or directory: 'install'

Pls help <3

[2022-07-13 14:46] bolshoytoster commented on #1318
@DewminaS with the way haslips generates, you can't. You can either add more images and make your collection bigger or look for a different generator.

[2022-07-13 14:54] bolshoytoster commented on #1323
@themopixel you have an outdated version of yarn - you can just run `npm install` instead.

[2022-07-13 15:57] diptadeep-69 opened #1324 "error in layers"
adding the layers in the path but it is not showing the layer order in m1 mac

[2022-07-13 15:58] bolshoytoster commented on #1324
@diptadeep-69 can you paste the error and the output of `Get-ChildItem layers/`

[2022-07-13 16:28] themopixel commented on #1323
awesome awesome worked for me! Thank you! so its either yarn or npm? wish it said it somewhere

[2022-07-13 16:30] bolshoytoster commented on #1323
@themopixel yarn is just an alternative for npm that some people prefer.

[2022-07-13 16:31] themopixel commented on #1323
noted* Thank you for your prompt response and help <3

[2022-07-14 04:07] treshaa99 commented on #1318
@bolshoytoster
then ,if customer give a rarities like the image below
can uu please tell how can we get the extract rarities within using hash lips art generator
![WhatsApp Image 2022-07-13 at 6 43 30 PM](https://user-images.githubusercontent.com/109152399/178896268-8e72c365-0a82-4b46-902f-7ab3b7a7eae2.jpeg)
![Uploading WhatsApp Image 2022-07-13 at 6.45.00 PM.jpeg…]()
![Uploading WhatsApp Image 20

[2022-07-14 07:17] bolshoytoster commented on #1318
@treshaa99

You can't, you'll have to find another generator.

[2022-07-14 08:53] fruitilike commented on #1067
any solution?

[2022-07-14 10:10] ClubPEC opened #1325 "How to reduce MaxSupply after deploying?"
Dear Community

Hope all okay.

I want to reduce my MaxSupply quantities. How can I  Do it?

My contract is deployed on mainnet.

Thanks

[2022-07-14 10:14] ClubPEC opened #1326 "Hidden Meta data not showing intended Image on Opensea."
Hello All

I am working on my new project. Everything worked as intended apart from Hidden meta data image on Opensea.

Wanted to have gif of my collection name but Opensea is showing my profile image.

Followed all steps.

any one having similar issues?

Thanks

[2022-07-14 12:36] bolshoytoster commented on #1067
@fruitilike what are you trying to do?

[2022-07-14 14:33] wailsonlucas opened #1327 "generate only metadata"

[2022-07-14 15:40] #1327 closed, assigned to nobody

[2022-07-14 21:31] haseebOptini opened #1328 "npm run generate error,"
whenever i type npm run generate this error is showing up. Can someone help?

npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1

[2022-07-14 21:33] bolshoytoster commented on #1328
@haseebOptini this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-07-15 04:47] tahaimran opened #1329 "Hi I want to start my art numbering from #00001?"

[2022-07-15 04:47] tahaimran commented on #1313
got it

[2022-07-15 04:47] #1313 closed, assigned to nobody

[2022-07-15 07:18] bolshoytoster commented on #1329
@tahaimran do you mean you want the numbers padded?

They start from 1 when your network isn't solana.

[2022-07-15 14:31] haseebOptini commented on #1328
M1 Issue is resolved by installing homebrew on my mac and then run this `brew install pixman cairo pango`

[2022-07-15 18:02] #1328 closed, assigned to nobody

[2022-07-16 04:12] zxcv4778 opened #1330 "Build error in mac"
**Environment**
- MacOS Monterey
- MacBook Pro
- Apple M1 Pro chip
- node v18

**Command**
- `git clone https://github.com/HashLips/hashlips_art_engine.git`
- `yarn install`
- `node index.js`

**Result (Error)**
`hashlips_art_engine/node_modules/canvas/build/Release/canvas.node, 0x0001): symbol not found in flat namespace '_cairo_fill'`

**I Tried this (Not works for me anything.)**
- installed No

[2022-07-16 04:45] zxcv4778 commented on #1330
I solve it!

downgrade NodeJS version LTS -> 14.17.3

[2022-07-16 04:45] #1330 closed, assigned to nobody

[2022-07-16 13:03] MarkoPolonft commented on #1316
I also thought that this was the case, but no, even two nft have different attributes, in addition, I created a new candy machine for 15 nft and 11 mint, the problem is the same

[2022-07-16 13:04] MarkoPolonft commented on #1316
I also thought that this was the case, but no, even two nft have different attributes, in addition, I created a new candy machine for 15 nft and 11 mint, the problem is the same

[2022-07-16 16:45] mvwmotor opened #1331 "Error when executing node utils/update_info.js"
Excuse me for disturbing you, but I meet a problem when I execute this command: node .\utils\update_info.js
The error say:

node:internal/fs/utils:345
    throw err;
    ^

Error: ENOENT: no such file or directory, open 'C:\Users\mathi\Desktop\NFTs\hashlips_art_engine/build/json/_metadata.json'
    at Object.openSync (node:fs:585:3)
    at Object.readFileSync (node:fs:453:35)
    at Object.<anonym

[2022-07-16 16:48] bolshoytoster commented on #1331
@mvwmotor `build/json/_metadata.json` doesn't exist. Replace your `utils/update_info.js` with [mine](https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js).

[2022-07-16 17:09] wailsonlucas opened #1332 "Opensea cant find my test contract deployed at Mumbai testnet"
so, i(ve deployed a test contract at Mumbai testnet via Reix IDE, after deploying it pops up a notification saying the deploying was successfull, i could find my contract on mumbai polygon scan, but when i type the contract address at Opensea it says " no items found ", i've waited for 24h but nothing, i can mint successfully from my Dapp built with Next.js but can't find my contract !!!

[2022-07-16 17:17] wailsonlucas commented on #1332
okey, i was searching for my contract by Hex address which for some reason i doesn't work, so i searched for it name and i found it !

[2022-07-16 17:17] #1332 closed, assigned to nobody

[2022-07-16 20:01] mvwmotor commented on #1331
Thanks you so Much for your help

[2022-07-16 20:02] #1331 closed, assigned to nobody

[2022-07-17 04:58] sheersh1111 commented on #977
I am also gettting same error . can someone help?
2022-07-17T02:30:06.056001+00:00 heroku[web.1]: State changed from crashed to starting
2022-07-17T02:30:18.388583+00:00 heroku[web.1]: Starting process with command `node /backend/server.js`
2022-07-17T02:30:19.090029+00:00 app[web.1]: node:internal/modules/cjs/loader:936
2022-07-17T02:30:19.090043+00:00 app[web.1]: throw err;
2022-07-17T02:30:19.0

[2022-07-17 04:59] sheersh1111 commented on #977
I am also getting same error . Can someone help?
2022-07-17T04:31:53.414823+00:00 heroku[web.1]: Starting process with command `node /backend/server.js`
2022-07-17T04:31:54.335598+00:00 app[web.1]: node:internal/modules/cjs/loader:936
2022-07-17T04:31:54.335635+00:00 app[web.1]: throw err;
2022-07-17T04:31:54.335635+00:00 app[web.1]: ^
2022-07-17T04:31:54.335636+00:00 app[web.1]:
2022-07-17T04:31:

[2022-07-17 07:23] bolshoytoster commented on #977
@sheersh1111 what did you run?

This error has nothing to do with this repo, you should probably open an issue where you got this code from.

[2022-07-18 07:34] sadun619 opened #1333 "some rarity not showing"
if use multiple layer configurations, some layers and values not showing in rarity. ( have 113 layer configuration, 65 layers, 876 traits in project.  only showing 6 layers and 105 traits in rarity. all layers and traits have deferent names.

[2022-07-18 10:38] bolshoytoster commented on #1333
@sadun619 it only shows the traits that get used in the collection, the unused ones won't be shown.

I also think won't work if you use `displayName`.

[2022-07-18 12:00] CreatorGG8400 opened #1334 "Generate from JSON"
Hi I have an existing JSON file set that was used for a previous collection that I would like to generate a new collection from using on a subset of traits and new updated image files. Has anyone done this before and any suggestions ?

[2022-07-18 15:46] ac6113 commented on #1306
compress the png files to less than 200kb

[2022-07-18 17:00] sadun619 commented on #1333
got it. thank you. most layers have displayName.

[2022-07-18 18:08] sungkim12 opened #1335 "Portions of images coming out as "TV static"."
I am not sure if this is a HashLips issue or an issue or something I did in Gimp but I repeatedly get images with portions of it grayed out like TV static. I have combined the layers in Gimp and every combination looks fine but after generating the collection, they all come out a bit weird. I apologize in advance if this is either my mistake or an easy fix!

UPDATE [FIXED]: I reduced the image pre

[2022-07-18 19:48] #1335 closed, assigned to nobody

[2022-07-19 18:07] Hammishoen opened #1336 "hashlips_art_engine-1.1.1"

[2022-07-19 18:08] #1336 closed, assigned to nobody

[2022-07-20 14:46] JudahPraise opened #1337 "Error: out of memory at setSource"
How can I fix this, is anyone here encountered this issue? Thank you in advance

[2022-07-20 14:50] bolshoytoster commented on #1337
@JudahPraise [my fork](https://github.com/bolshoytoster/hashlips_art_engine) reduces memory usage if you don't have enough memory available.

[2022-07-20 15:47] JudahPraise commented on #1337
I have memory available, but thanks I'll try your fork thank you 🙂

[2022-07-21 13:35] hani-j-asf commented on #406
It depends on **how many NFTs** you want to create and what your `uniqueDnaTorrance` is.
If it's ok for you to have duplicates in your Collection do this:

1. Go to **line 82 in config.js**
2. **Change** the constant `uniqueDnaTorrance` to a **number higher** than the number of **images in** your **collection**
3. **Run** the code with `node index.js` in the **terminal**

**Tip**: uniqueDnaTorranc

[2022-07-21 15:53] bolshoytoster commented on #406
@hani-j-asf

No it doesn't, duplicates are not tolerated by default, changing `uniqueDnaTorrance` doesn't change that.

[2022-07-22 01:07] Stamoments commented on #1001
got this error >>>
/Users/mac/Downloads/create-10k-nft-collection-2.0.0/node_modules/canvas/lib/image.js:91
  SetSource.call(img, src);
            ^

Error: Unsupported image type
    at setSource (/Users/mac/Downloads/create-10k-nft-collection-2.0.0/node_modules/canvas/lib/image.js:91:13)
    at Image.set (/Users/mac/Downloads/create-10k-nft-collection-2.0.0/node_modules/canvas/lib/image.js:62:9

[2022-07-22 01:44] Stamoments commented on #676
i'm having issues with the code,
/Users/mac/Downloads/create-10k-nft-collection-2.0.0/node_modules/canvas/lib/image.js:91
  SetSource.call(img, src);
            ^

Error: Unsupported image type
    at setSource (/Users/mac/Downloads/create-10k-nft-collection-2.0.0/node_modules/canvas/lib/image.js:91:13)
    at Image.set (/Users/mac/Downloads/create-10k-nft-collection-2.0.0/node_modules/canvas/lib

[2022-07-22 12:41] bolshoytoster commented on #1001
@Stamoments you're in the wrong repo, but you might have luck replacing your `src/main.js` with [mine](https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/src/main.js)

[2022-07-23 16:05] Stamoments commented on #1001
Thank you! The code works!

On Fri, Jul 22, 2022 at 1:41 PM bolshoytoster ***@***.***>
wrote:

[2022-07-23 16:43] Versilli0n opened #1339 "Wants to access a layer/Eyeball but i have changed the names in folder ans well as in config"
After i run  nvm run generate   i get this:

rror: ENOENT: no such file or directory, scandir 'C:\Users\Simanchal Dash\Desktop\hashlips_art_engine-1.1.2_patch_v6/layers/Eyeball/'
    at Object.readdirSync (node:fs:1405:3)
    at getElements (C:\Users\Simanchal Dash\Desktop\hashlips_art_engine-1.1.2_patch_v6\src\main.js:73:6)
    at C:\Users\Simanchal Dash\Desktop\hashlips_art_engine-1.1.2_patch_v6

[2022-07-23 16:44] bolshoytoster commented on #1339
@Versilli0n make sure you save `src/config.js`.

[2022-07-23 17:20] Versilli0n commented on #1339
I am eternally grateful to you my king.

[2022-07-23 18:38] Versilli0n opened #1340 "_metadata.json missing from JSON folder"
_metadata.json file is not there in the json folder. I have all the json files for all the nfts but not the _metadata.json

[2022-07-23 18:40] bolshoytoster commented on #1340
@Versilli0n the generation was probably interrupted or ran into too many duplicates. You can run [my `utils/update_info.js` ](https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js) to generate it.

[2022-07-23 18:42] Versilli0n commented on #1340
Thanks my g.

[2022-07-23 20:11] #1339 closed, assigned to nobody

[2022-07-23 20:12] #1340 closed, assigned to nobody

[2022-07-24 02:36] tahaimran opened #1341 "gif generation issue"
When I generate a gif it out a corrupted file...

[2022-07-24 08:38] bolshoytoster commented on #1341
@tahaimran do you mean that the layers appear individually or that you actually can't open it?

[2022-07-24 20:36] ionutdarius11 opened #1343 "please help me! I got the `--location=global` error while running the ''npm run generate'' command."
npm run generate
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

(node:14840) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
C:\Users\adria\Desktop\hashlips_art_engin

[2022-07-24 20:41] Sviche opened #1344 "Error: ENOENT, No such file or directory"
Hi, many times running the program, I encounter the same error
![image](https://user-images.githubusercontent.com/83732455/180665027-7c432e3c-e9bc-499a-9dbb-bbd4de4f8ed0.png)
my path matches, I can't figure out what the problem is

[2022-07-24 21:54] bolshoytoster commented on #1343
@ionutdarius11 use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-07-24 21:56] bolshoytoster commented on #1344
@Sviche your username has a unicode character in it, move the project into somewhere like `C:/Users/Public/`.

[2022-07-25 02:05] yash30401 opened #1345 "shows this error while running node index.js"
![Screenshot 2022-07-25 073438](https://user-images.githubusercontent.com/46748588/180679104-ca51eeb1-e5ce-4f5e-a71e-42558e9d211b.png)

[2022-07-25 10:42] bolshoytoster commented on #1345
@yash30401 could you please do as the error suggests and run `npm rebuild`

Also never send screenshots if you can copy/paste the text instead.

[2022-07-25 12:13] Sviche opened #1346 "Error: EEXIST: file already exists"
![image](https://user-images.githubusercontent.com/83732455/180774895-59202948-7f4e-4fb9-a3a6-10318124eed8.png)
right it tells me that the file already exists, but the problem is that if you delete this file or two folders in it (images and json), the program stops working

[2022-07-25 12:45] gzerro commented on #419
node . utils/update_info.js   - works!!!!

[2022-07-25 16:22] ionutdarius11 commented on #1343
@bolshoytoster I downloaded it and after running the command it says
DNA exists!
DNA exists!
DNA exists!
DNA exists!
DNA exists!
DNA exists!
You need more layers or elements to grow your edition to 190 artworks!

Also, when I check my images, I got only 10 images made only with 2 layers(background and accessories) and they also have the same dimensions

[2022-07-25 16:34] bolshoytoster commented on #1346
@Sviche do you have permissions for `C:/Users/hashlips_art_engine-main/`? you probably made it as admin.

You can either give yourself permissions for it, run powershell as admin or just move the project into your own user's forder.

[2022-07-25 16:36] bolshoytoster commented on #1343
@ionutdarius11 how many source images do you have?

That's intentional.

[2022-07-25 17:08] DrFalcon13 commented on #1001
@bolshoytoster Hi.I created 1000 nfts with your code.I will create it again but keep the numbers from 1000.Where should I write the number?

[2022-07-25 17:12] bolshoytoster commented on #1001
@DrFalcon13 do you mean you want the numbers to start from 1000? If you're using my fork, or at least my `src/main.js` you can set `startEditionFrom` the same way you set `growEditionSizeTo`.

[2022-07-25 17:12] DrFalcon13 commented on #1001
yes

[2022-07-25 17:16] DrFalcon13 commented on #1001
okay ty

[2022-07-25 17:16] DrFalcon13 commented on #1001
ı did

[2022-07-25 17:17] ionutdarius11 commented on #1343
I got 10 layers and 104 images. I created them in photoshop but after running the command some layers like eyes or nose appear to be bigger and covers other layers like the body

[2022-07-25 17:17] DrFalcon13 commented on #1001
thank you it was

[2022-07-25 17:49] bolshoytoster commented on #1343
@ionutdarius11 you can use the `options` properties `width`, `height`, `posX` and `posY` to position the images, or just do it in your image editor.

[2022-07-25 18:01] ionutdarius11 commented on #1343
I don't know how to access these options. Do u have any idea why it only creates 5 pictures instead of 2000 with the message "DNA exists!" shown repeatedly?

[2022-07-25 18:10] Sviche commented on #1346
Thank you very much!

[2022-07-25 18:10] #1346 closed, assigned to nobody

[2022-07-25 18:42] bolshoytoster commented on #1343
@ionutdarius11

https://github.com/bolshoytoster/hashlips_art_engine#options

No clue, you could try saving `src/config.js` though.

[2022-07-26 01:06] CayoGrecco commented on #1344
I would like to share an information that I believe is useful and can help.
I don't know if many have gone through this, but if someone is having trouble running the command "node index.js or npm run generate" this might help.

(Sorry about this text, but is the same error of the image. just to explain).
Error: ENOENT, No such file or directory 'C:\Users\Cayão\Desktop\hashlips_art_engine-main/laye

[2022-07-26 08:06] bolshoytoster commented on #1344
@CayoGrecco

It's because one of our dependencies, node-canvas uses `fopen` to open files, which (on windows) doesn't support unicode filenames. This means that it interprets the `ã` as multiple characters instead of one.

I opened an issue on their repo but it's been over 4 months now and I don't like c++.

[2022-07-26 08:16] yrj13 opened #1348 "Unable to generate the right images, please help!"
![Screenshot (8)](https://user-images.githubusercontent.com/110021318/180958368-6dc1884b-38f5-4640-8b03-43201591e920.png)

All my files have such layer disorder. I have written the layers according to their placement ( from background to the front). However, even if i remove the background layer, my layers do not show up in the correct order.. even after removing the background folder, it generate

[2022-07-26 19:07] Paiyah commented on #831
![Screenshot_20220727_030655](https://user-images.githubusercontent.com/109099078/181091253-8a9633c2-fb6d-4dfd-9a1a-976c7de20e38.jpg)

hi guys im having same problem. please i really need help

[2022-07-26 19:11] bolshoytoster commented on #831
@Paiyah you're in the wrong place, but you can try running `npm i chalk`/`npm i -g chalk`

[2022-07-26 19:24] Paiyah commented on #831
![Screenshot_20220727_032353](https://user-images.githubusercontent.com/109099078/181094605-381996f7-433a-4ce7-b24a-36c3d2990f91.jpg)
what's the next step?

[2022-07-26 19:25] bolshoytoster commented on #831
@Paiyah probably run whatever you were running before.

[2022-07-26 19:30] Paiyah commented on #831
![Screenshot_20220727_032919](https://user-images.githubusercontent.com/109099078/181095690-0fa22e1d-4199-4118-8f65-d8dffae29617.jpg)
and i experienced this

[2022-07-26 19:33] bolshoytoster commented on #831
@Paiyah can you please open an issue where you got the code from.

[2022-07-26 19:34] Paiyah commented on #831
Npm start

[2022-07-26 21:34] fjoser commented on #658
Hi! did you find a solution?

[2022-07-27 07:32] blahkheart commented on #676
Thanks!!! This worked for me

[2022-07-27 15:55] yash30401 commented on #1345
yes I did run this command
it gave me this

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
rebuilt dependencies successfully

but after that running the program, it gave me the same error

[2022-07-27 15:57] bolshoytoster commented on #1345
@yash30401 that's not an error, it's a warning. Can you please paste the **full** error please.

[2022-07-27 16:09] yash30401 commented on #1345
node:internal/modules/cjs/loader:1189
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The module '\\?\E:\Mohit\p\hashlips_art_engine-main (1)\hashlips_art_engine-main\node_modules\canvas\build\Release\canvas.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 102. This version of Node.js requires
NODE_MODULE_VERSION 93. Plea

[2022-07-27 16:10] bolshoytoster commented on #1345
@yash30401 delete the `node_modules/` folder then run `npm install` again.

[2022-07-27 16:12] yash30401 commented on #1345
ayeh worked, ty bro

[2022-07-29 08:21] 1NGODMOD opened #1349 "I've done `npm install` and after running `node index.js` I am getting this error"
![image](https://user-images.githubusercontent.com/92852568/181716639-e1ca28cc-09f8-4b2b-bc2e-7e9d3401bee2.png)

[2022-07-29 13:23] bolshoytoster commented on #1349
@1NGODMOD try moving the project to somewhere like `C:/Users/Public/`.

[2022-07-30 01:35] Joglezbee1 opened #1350 "npm install issue"
i have been racking my brain trying to figure out why npm install is throwing these errors at me.. if someone could please help i would greatly appreciate it!!!

 npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN o

[2022-07-30 01:42] Joglezbee1 commented on #1350
this is what i get when i rune node index.js

 Require stack:
- /home/jacoboglesbee1/hashlips_art_engine/src/main.js
- /home/jacoboglesbee1/hashlips_art_engine/index.js
    at Module._resolveFilename (node:internal/modules/cjs/loader:956:15)
    at Module._load (node:internal/modules/cjs/loader:804:27)
    at Module.require (node:internal/modules/cjs/loader:1022:19)
    at require (node:internal/m

[2022-07-30 01:44] Joglezbee1 commented on #1350
do i need to install npm globally instead??
-g?

[2022-07-30 01:58] Joglezbee1 commented on #1350
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!

[2022-07-30 08:45] simonlee9449 commented on #1350
I guess you are having same issue with me.
this command fixed issue for me. hope this works.
[code]

ref: https://flaviocopes.com/fix-node-canvas-error-pre-gyp-macos/

[2022-07-30 08:50] rainbowhat commented on #1350
Error: Cannot find module '../build/Release/canvas.node' - Still getting this

[2022-07-30 08:51] JohnDotOwl commented on #1350
rror: Cannot find module '../build/Release/canvas.node' - Still getting this

[2022-07-30 08:53] JohnDotOwl commented on #1350
Solution : delete the node_modules/ folder then run npm install again.

[2022-07-30 09:02] bolshoytoster commented on #1350
@Joglezbee1 this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-07-30 15:07] Sviche opened #1351 "Number of minted nft"
Hello, why did I change the parameter of the number of NFT that will be minted, but I still get 5 NFT as a result
![Сн89имо9789к](https://user-images.githubusercontent.com/83732455/181920387-83ce856c-175c-4383-8f65-f860a7e80c0d.JPG)

[2022-07-31 05:15] chmnda opened #1352 "Error while running node index.js"
Keep having error when i run node index.js. below is the error messages:

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- /Users/name/Desktop/Works/VIMB/NEW/hashlips_art_engine/node_modules/canvas/lib/bindings.js
- /Users/name/Desktop/Works/VIMB/NEW/hashlips_art_engine/node_modules/canvas/lib/canvas.js
- /Users/name/Desktop/Works/VIMB/NEW/hashlips_art_engine/node_modules/

[2022-07-31 07:46] jeffoodchain commented on #1349
@bolshoytoster Is it able to change the code to make the directory is to my D:\?

[2022-07-31 16:54] bolshoytoster commented on #1351
@Sviche save `src/config.js`.

[2022-07-31 16:55] bolshoytoster commented on #1352
@chmnda did `npm install` give an error?

[2022-07-31 16:56] bolshoytoster commented on #1349
@FoodChain1028 yes, as long as there are no non-ASCII characters in your path.

[2022-08-01 10:58] Sviche commented on #1351
Thank you, You are the best!!

[2022-08-01 10:58] #1351 closed, assigned to nobody

[2022-08-01 16:01] thursday15 commented on #355
Hi, how to solve this error

TypeError: Cannot read properties of undefined (reading 'replace')
    at removeQueryStrings (D:\Montana NFT\src\main.js:274:15)
    at cleanDna (D:\Montana NFT\src\main.js:60:26)
    at D:\Montana NFT\src\main.js:225:22
    at Array.find (<anonymous>)
    at D:\Montana NFT\src\main.js:224:42
    at Array.map (<anonymous>)
    at constructLayerToDna (D:\Montana NFT\src

[2022-08-01 16:05] bolshoytoster commented on #355
@thursday15 try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-08-01 16:20] ionutdarius11 opened #1353 "I've got an error while running node "utils/nftport/uploadFiles.js""
node utils/nftport/uploadFiles.js
C:\Users\adria\Desktop\hashlips_art_engine-1.1.2_patch_v6\utils\nftport\uploadFiles.js:2
const fetch = require('node-fetch');
              ^

Error [ERR_REQUIRE_ESM]: require() of ES Module C:\Users\adria\Desktop\hashlips_art_engine-1.1.2_patch_v6\node_modules\node-fetch\src\index.js from C:\Users\adria\Desktop\hashlips_art_engine-1.1.2_patch_v6\utils\nftport\upl

[2022-08-01 17:31] bolshoytoster commented on #1353
@ionutdarius11 https://github.com/codeSTACKr/create-10k-nft-collection/blob/main/README.md#es-module-error-err_require_esm

[2022-08-01 17:58] ionutdarius11 commented on #1353
@bolshoytoster ok so I ran the commands but now this appears:

C:\Users\adria\Desktop\hashlips_art_engine-1.1.2_patch_v6\utils\nftport\uploadFiles.js:6
fs.readdirSync(`${basePath}/build/images`).forEach(file => {
                  ^

ReferenceError: basePath is not defined
    at Object.<anonymous> (C:\Users\adria\Desktop\hashlips_art_engine-1.1.2_patch_v6\utils\nftport\uploadFiles.js:6:19)
    at

[2022-08-01 18:03] bolshoytoster commented on #1353
@ionutdarius11 add `const basePath = process.cwd();` to the start of `utils/nftport/uploadFiles.js`

[2022-08-01 18:12] ionutdarius11 commented on #1353
it worked but only some of the files are updated and the rest are errors:

 error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined

[2022-08-01 18:17] ionutdarius11 commented on #1353
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
1233.png uploaded & 1233.json updated!
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" a

[2022-08-01 18:21] bolshoytoster commented on #1353
@ionutdarius11 can you please open an issue [where you actually got the code](https://github.com/codeSTACKr/create-10k-nft-collection).

[2022-08-01 18:25] ionutdarius11 commented on #1353
what code? sorry,I can't really understand what you meant

[2022-08-01 18:31] bolshoytoster commented on #1353
@ionutdarius11 this repo is hashlips' original code, you got the code you're running from [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection), you should open an issue there instead.

[2022-08-01 18:32] ionutdarius11 commented on #1353
got it.

[2022-08-01 20:27] ionutdarius11 commented on #1353
well I tried opening the issue but I can only post a bug. Nobody would help me and Idk what to do. the errors are
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined

OR

error:FetchError: invalid json response body at https://api.nftport.xyz/v0/files reason: Unexpected token < in JSON at position 1

I really don't know what to do or what's the pr

[2022-08-01 20:37] bolshoytoster commented on #1353
@ionutdarius11 according to [this comment](https://github.com/codeSTACKr/create-10k-nft-collection/issues/72#issuecomment-1036163222) it might be fixed by using the latest version of the repo.

[2022-08-01 20:43] ionutdarius11 commented on #1353
well it looks like the comment is from february. So..should I download the version from that month?

[2022-08-01 20:45] bolshoytoster commented on #1353
@ionutdarius11 no, just get the most recent one.

[2022-08-01 20:48] ionutdarius11 commented on #1353
I think I already have the newest version installed. Isn't it v14.18.2?

[2022-08-01 20:51] bolshoytoster commented on #1353
@ionutdarius11 [here's a link to the current version](https://github.com/codeSTACKr/create-10k-nft-collection/archive/refs/heads/main.zip).

[2022-08-01 20:57] ionutdarius11 commented on #1353
@bolshoytoster I'm gonna check it out tomorrow. Thanks for all your help. I may be back:)))

[2022-08-02 00:15] Joglezbee1 commented on #1350
i tried what was mentioned above but still not working im using chrome os, and i have used this setup before but now it is not working...

[2022-08-02 00:16] Joglezbee1 commented on #1350
is there a moderator of this software that can help me please??

[2022-08-02 00:18] Joglezbee1 commented on #1350
install: target 'librsvg' is not a directory

[2022-08-02 00:21] bolshoytoster commented on #1350
@Joglezbee1 can you paste the full error here please.

[2022-08-02 02:52] sameernoorani1 commented on #1219
Related question: I generated 1200 images and want to manually select the "best" 1000 (and discarding 200). After that's done I want to regenerate the metadata file for the remaining 1000 images. Anyway to do that?

[2022-08-02 04:51] Joglezbee1 commented on #1350
i just finshed trying to reinstall everything compleltey and im still getting an error a diffreent one now, im using the update versions of node js and npm.. i hope this helps
jacoboglesbee1@penguin:~/hashlips_art_engine$ node index.js
/home/jacoboglesbee1/hashlips_art_engine/src/main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token

[2022-08-02 11:32] bolshoytoster commented on #1219
@sameernoorani1 delete `build/json/_metadata.json`, then delete the individual json files for the editions you don't want.

Then run [my `utils/update_info.js`](https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js) to remake `build/json/_metadata.json`.

[2022-08-02 11:33] bolshoytoster commented on #1350
@Joglezbee1 either update node.js or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-08-02 12:37] ionutdarius11 commented on #1353
@bolshoytoster so I checked on stackoverflow this issue https://stackoverflow.com/questions/60234640/typeerror-err-invalid-arg-type-the-path-argument-must-be-of-type-string-re
and I think the problem is that I ran the "npm audit fix" command. Can I undo it somehow?

[2022-08-02 12:40] bolshoytoster commented on #1353
@ionutdarius11 that error is unrelated since it's about react, but you could try deleting the `node_modules/` folder and running `npm install` again.

[2022-08-02 13:57] ionutdarius11 commented on #1353
@bolshoytoster deleting it and reinstalling did not make any change. Still lots of errors :///

[2022-08-02 13:59] bolshoytoster commented on #1353
@ionutdarius11 well there's nothing I can do to help if codeSTACKr's fork has been abandoned. You'll have to find another way to upload your images.

[2022-08-03 00:34] Joglezbee1 commented on #1350
node js says it is updated and use what in your fork the repository? im just at a loss why this is not working for me anymore does nobody know???

[2022-08-03 07:29] gforcexx commented on #713
did you fix this?

[2022-08-03 10:54] bolshoytoster commented on #1350
@Joglezbee1 you need to download a more recent version of node.

[2022-08-03 11:03] bolshoytoster commented on #713
@gforcexx assuming you're actually using hashlips, you can try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead.

[2022-08-03 23:30] Joglezbee1 commented on #1350
jacoboglesbee1@penguin:~/hashlips_art_engine$ node -v
v16.16.0
jacoboglesbee1@penguin:~/hashlips_art_engine$ npm -v
8.11.0
jacoboglesbee1@penguin:~/hashlips_art_engine$ node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/home/jacoboglesbee1/hashlips_art_engine/node_modules/sha1'
Require stack:
- /home/jacoboglesbee1/hashlips_art_engine/src/main.js
- /ho

[2022-08-03 23:30] Joglezbee1 commented on #1350
@bolshoytoster node and npm are update now as you see above and this is the error i recieve now..., module not found any ideas?

[2022-08-03 23:31] bolshoytoster commented on #1350
@Joglezbee1 you need to run `npm install`.

[2022-08-03 23:34] Joglezbee1 commented on #1350
awesome thank you so much for all the help @bolshoytoster truly!!!

[2022-08-04 00:31] #1350 closed, assigned to nobody

[2022-08-04 05:36] yassyyuki opened #1354 "Question! Should I change this address to my wallet address (e.g. MetaMask)?"
`src/config.js`
[code]

I don't know what this address(`7fXNuer5sbZtaTEPhtJ5g5gNtuyRoKkvxdjEjEnPN4mC`) means.
If I don't change this address, will I not receive first market sales or secondary market sales?

[2022-08-04 05:48] yassyyuki commented on #1354
I checked this question in discord, I had found an answer, so  my question have solved!
Thanks!!!

[code]

[2022-08-04 05:48] #1354 closed, assigned to nobody

[2022-08-04 06:59] jeffoodchain commented on #1349
@bolshoytoster you mean the path to all file? Well I'll try it.

[2022-08-04 09:00] 1NGODMOD commented on #1349
Thank you.That helped.

[2022-08-04 09:00] #1349 closed, assigned to nobody

[2022-08-04 15:09] yash30401 opened #1355 "how to make thousand from some"
hey i have 8 images and i want 3k of them, but as you know it shows DNA exists
is there any way I can generate 3k?(rarity doesn't matter could be same)

[2022-08-04 15:12] bolshoytoster commented on #1355
@yash30401 in `src/main.js` change ~line 363:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L362-L364

to
[code]

[2022-08-05 10:00] devgods0 commented on #932
It probably works for only Ethereum, the solana setting is mixing things up and not outputting proper metadata, No Symble, The name take from ethereum and no properties. Can you make it generate proper metadata for Solana

This is how it show flow
-------------------------------------

{
  "name": "Collection Name",
  "symbol": "SYMBL",
  "description": "Collection of 10 numbers on the blockchain.

[2022-08-05 21:54] devgods0 commented on #932
Hi @devidwalker Thanks for helping, Startfrom only works for network.eth metadata, once you specify .sol it starts from 1 it doesn't
 matter if you specify start from 50 or 100 or any number. Can you help please

[2022-08-06 01:13] ginofalcone commented on #251
I'm still confused in how to generate rarity for the new no code tool application.

I'm used to doing everything in decimals .15 98.85 like described earlier. These examples here don't look like it's meant for the no coe application where the weight is with the $

if no $ sign is added, then by default 1 by default, correct? So how would I apply rarity to this? exact same way?

[2022-08-06 05:42] bolshoytoster commented on #251
@ginofalcone could you provide a link to the 'new no code tool application' please; I can't find it.

[2022-08-06 15:21] 36y opened #1356 "Beginner Tip - Export rarity to .txt file easily"
`npm run rarity > log.txt`

[2022-08-06 16:04] Salmuun commented on #1356
Can you elaborate on this further?

[2022-08-06 16:14] 36y commented on #1356
### Printing rarity data (Experimental feature)

To see the percentages of each attribute across your collection, run:

`npm run rarity`

The output will look something like this:

[code]

Now if you run `npm run rarity > log.txt` it will export the data to a text file rather than the console.

[2022-08-07 05:40] bolshoytoster commented on #1356
This also applies to any powershell command, and you can also add `2> stderr` to pipe errors into a different file.

[2022-08-07 09:27] 48bits opened #1357 "How to create rarity for a layer group?"
How do I config the chance of a layer group being generated?

(eg. I only want 50% of the image to have a background)

[2022-08-07 10:55] bolshoytoster commented on #1357
@48bits you could have two `layerConfigurations`; one with and one without the background.

[2022-08-09 02:48] Olive-l commented on #400
I did everything step by step, but still I get the same error. come on, what I can do!!! The weird thing is, around 2months ago, everything works fine for me. btw, I'm using the M1 apple chip.

[2022-08-09 04:39] bolshoytoster commented on #400
@Olive-l can you paste your error please.

[2022-08-09 05:44] Olive-l commented on #400
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/Users/joe/hashlips_art_engine-main/node_modules/sha1'
Require stack:
- /Users/joe/hashlips_art_engine-main/src/main.js
- /Users/joe/hashlips_art_engine-main/index.js
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27

[2022-08-09 06:35] bolshoytoster commented on #400
@Olive-l you need to run `npm install`.

[2022-08-09 06:45] Olive-l commented on #400
I tried but no luck.

[2022-08-09 06:51] bolshoytoster commented on #400
@Olive-l can you paste your error again please.

[2022-08-09 09:48] Olive-l commented on #400
it seems the errors occur when 'npm install' command. okay, i am out, i used another intel core mbp, it works well.

` npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, pleas

[2022-08-09 09:51] bolshoytoster commented on #400
@Olive-l that's not the full error.

[2022-08-09 10:02] Olive-l commented on #372
i have the same doubt, did you find a way to resolve it?

[2022-08-09 10:21] bolshoytoster commented on #372
@Olive-l could you make a one collection and split it afterward?

[2022-08-09 10:36] Olive-l commented on #400
joe@page hashlips_art_engine-main % npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/joe/hash

[2022-08-09 11:05] bolshoytoster commented on #400
@Olive-l  this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-08-10 02:17] Olive-l commented on #400
Finally, I resolved it, this really takes me some times.

1) open the terminal by using the Rosetta, relaunch the terminal, make sure the arch is i386;
2) downgrade the node to 14.17.3 (I'm not sure this is necessary);
3) go to the root of Hashlips folder;
4) run "npm install";
5) run "npm run generate";

It works for me now.

[2022-08-10 02:25] Olive-l commented on #372
of course I can do that.
but  I need a quit lot of NFTs. actually, I will make the NFTs unlimited in my game, so I might need to generate the NFTs collection by collection.

[2022-08-10 02:55] atengberg commented on #1352
I got this same error, to fix the problem I switched from node version 18.4.0 (where it would not install due to an incompatibility with canvas I'm guessing) to v17.6.0  (happened to have installed, wanted to see if it would fix the problem and it did). You can n or nvm to do this: `nvm ls` which will show you current node version used, as well as what versions are locally available / `nvm use v17

[2022-08-10 09:12] bolshoytoster commented on #372
@Olive-l instead of making them in 'chunks', with numbers going from 1-whatever, 1-whatever etc., you could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) to just keep expanding the collection so the numbers would be more like 1-256, 257-512, etc.

If you keep `build/json/_metadata.json` between generations my fork won't generate duplicates from that, then you just have to cha

[2022-08-10 10:06] Olive-l commented on #372
Great!!! I will try it, thx

[2022-08-10 16:49] Bobata-constantlyafk commented on #1069
FIXED! AUG 2022. Go to the "codeSTACKr/create-10k-nft-collection" git repository. Then go to /utils/nftport/uploadFiles.js. After that next to the change branch option you can find change the tag. Change it to v1.2.0 - he updated the code and if you change to 1.2.0 you will find the version that worked for me. Godspeed.

[2022-08-10 16:49] Bobata-constantlyafk commented on #618
FIXED! AUG 2022. Go to the "codeSTACKr/create-10k-nft-collection" git repository. Then go to /utils/nftport/uploadFiles.js. After that next to the change branch option you can find change the tag. Change it to v1.2.0 - he updated the code and if you change to 1.2.0 you will find the version that worked for me. Godspeed.

[2022-08-10 21:47] 0xinit opened #1358 "variable `solanaMetadata`"
So, I have been playing around the generator for a while and i got a question about `solanaMetadata`. Do we need to change the variable to ethMetadata if we use eth chain? I dont necessarily see the difference, but still need in puts on it.

Thanks!

[2022-08-10 21:53] bolshoytoster commented on #1358
@0xinit that's just metadata that's only needed/included in solana collections. If you want to add extra metadata in an eth collection you can instead use `extraMetadata`.

[2022-08-10 21:55] 0xinit commented on #1358
No, my question is that can I define it like ethMetadata for my collection instead of `soloanaMetadata` or `extraMetadata`?

[2022-08-10 22:00] bolshoytoster commented on #1358
@0xinit no.

[2022-08-10 22:04] 0xinit commented on #1358
ohh okay! Thanks!

[2022-08-10 22:04] #1358 closed, assigned to nobody

[2022-08-10 22:15] 0xinit commented on #1357
@bolshoytoster what are more usecases of `layerConfigurations` variable? The video doesn't explain very well... but if a trait for example "red eyes" is considered in 2nd layerConfigurations array, then how would it affect the rarity of "red eyes" in the first layerConfiurations?

[2022-08-10 22:20] bolshoytoster commented on #1357
@0xinit I don't think it will affect therarity in the first one, but could you give an example `layerConfigurations`?

[2022-08-10 22:28] 0xinit commented on #251
so, let's say my background has 16 layers... 5 of them needs to appear for 12%, 5 of them appears to be 6% times, and other 6 layers have rarity anywhere from 0.5 to 5%. So how should I do it ? for layer with 5%, should it be # 5 and for  12% should it be # 12 ? or some other calculation?

[2022-08-10 22:32] bolshoytoster commented on #251
@0xinit if all of your rarities add up to 100, then it will act as a percentage, but they will still work relatively regardless, i.e. # 12 will occur double as much as # 6.

[2022-08-10 22:37] 0xinit commented on #251
so when we talk about "rarities" are we talking about just one trait like all the layers of "background" should add up to 100?

[2022-08-10 22:46] bolshoytoster commented on #251
@0xinit yes, it is, but they only really need to add to 100 for simplicity.

[2022-08-10 22:48] 0xinit commented on #251
@bolshoytoster ah that makes sense, because when people talk about rarities here, It thhought that all the layers which include background, base, eyes, ears etc.. all of them need to add to 100 as cumulative addition.

It makes sense tho that every folder will have their own 100 addition.

[2022-08-11 20:15] Alpaga2 commented on #676
Hello everyone

I can't fix this error, I'm at the end of my life x)

The generation of nft stops suddenly ...

PS E:\StickMania\Layers-sans-PSD\hashlips_art_engine> npm run generate

(node:7464) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show w

[2022-08-11 20:22] bolshoytoster commented on #676
@Alpaga2 the dependency we use for images (canvas.js) doesn't support loading files with non-ascii characters in the path - you should remove the `é`s from `layers/Rod/Bois épicéa.png`.

[2022-08-12 11:42] powderedbread commented on #615
I copied my the main folder to another location and then this got fixed for me.  I didn't have any size errors.  It had something to do with changing windows accounts for some reason.  Hopefully that helps someone if they run into this problem.

Whether or not that's -the- solution, the problem for seemed like it started immediately after I saved an image into one of the layers folders from anothe

[2022-08-12 11:44] bolshoytoster commented on #615
@breadcola you probably had a non-ascii character in the first account's name.

[2022-08-12 18:47] lucidreveur opened #1359 "M1 Mac Blend Mode Error"
Encountered an issue with the blend mode using the generator on an M1 Mac. Overlay does not have the same results  as it is in photoshop / CanvasRenderingContext2D.globalCompositeOperation. My code: { name: "layer", blend: 'overlay' }. I checked the layer files and rebuilt them in photoshop. The overlay looks very dark. I took the same exact files in the previous generator on my old NON-M1 machine

[2022-08-12 18:50] bolshoytoster commented on #1359
@lucidreveur this is probably an issue with canvas, could you instead open an issue [there](https://github.com/Automattic/node-canvas/issues).

[2022-08-12 20:27] PinkHendrix commented on #439
Very much appreciated, cheers!

[2022-08-12 21:28] powderedbread commented on #615
Maybe, one had an underscore in it.  Also, I didn't see that desktop.ini comment.  I didn't try that but I'm guessing that might be the real solution.

[2022-08-13 05:22] cryptofannatic commented on #329
@nikhebborn which version of node are you using?

[2022-08-13 13:44] RexVickz opened #1360 "npm generate command not working"
my rarities not working the # is added but doesn't make anything rare

[2022-08-13 17:42] bolshoytoster commented on #1360
@RexVickz you should run either `npm run generate` or `node index.js`.

[2022-08-13 19:45] cryptofannatic commented on #1115
@ipv6freely should we first delete the nod modules folder from the art engine folder?

[2022-08-13 19:51] bolshoytoster commented on #1115
@cryptofannatic do it then run `npm install` again.

[2022-08-13 21:45] Mat-Longinow commented on #424
Life saver! Hard stuck on an error similar when trying to `npm start` a fresh `create-react-app` application. My node version ended up being way behind (had to go from v6 to v14) and that was my issue.

Thank you! 🍻

[2022-08-13 21:53] cryptofannatic commented on #1115
@bolshoytoster i did that but it's still giving me the same error that i was getting earlier when i tried installing the modules using vscode
<img width="567" alt="Screenshot 2022-08-14 at 3 21 00 AM" src="https://user-images.githubusercontent.com/109002076/184511910-599e952d-1cf2-4d25-9626-3a581f9df700.png">
npm audit fix doesn't seem to fix the issues either.

[2022-08-13 21:54] bolshoytoster commented on #1115
@cryptofannatic that's not an error, it's just a warning.

[2022-08-13 22:01] cryptofannatic commented on #1115
@bolshoytoster earlier for some reason when i used to get this error, it wouldn't let me generate the art either and used to give err_dlopen_failed error.
But this time i installed node @ipv6freely's steps, i did get the some warning but it's generating the art now. Weird [-](https://github.com/nftchef/art-engine/issues/229) here's a link to my issue

I guess it was because i hadn't deleted the no

[2022-08-14 17:54] Marshlandd opened #1361 "npm run generate not working"
Hi, I am trying to use the npm run generate command but it shows this error :

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

node:internal/modules/cjs/loader:1189
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The specified module could not be found.
\\?\C:\Users\Anouar\Desktop\Masterclass\hashlips_art_e

[2022-08-14 17:57] bolshoytoster commented on #1361
@Marshlandd can you paste the output of running `npm install` please.

[2022-08-15 02:59] iMetaMoonT opened #1362 "Help! Can't get past npm install"
PS C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6> npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6/package.json
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\Owner\Downloads\hashlips_art_engin

[2022-08-15 08:06] bolshoytoster commented on #1362
@iMetaMoonT you're on the wrong folder, run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-08-15 08:16] wuhonchi opened #1363 "Is that project working fine on M2 ?"
i have just copied my previous project from old computer to M2 , its seems something wrong ....
then i tried to git clone a new project in case something wrong with my old project ..... but still can't pass through the npm install ....

thanks

[2022-08-15 09:03] bolshoytoster commented on #1363
@wuhonchi can you paste the error here please.

[2022-08-15 09:28] iMetaMoonT commented on #1362
when I put that in it gives me 2 locations?

[2022-08-15 09:30] bolshoytoster commented on #1362
@iMetaMoonT could you paste the output here please then. It should be something like `hashlips_art_engine-main`.

[2022-08-15 09:45] iMetaMoonT commented on #1362
PS C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6> Get-ChildItem -Directory

    Directory:
    C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----         8/15/2022   2:39 AM                hashlips_art_engine-

[2022-08-15 09:46] bolshoytoster commented on #1362
@iMetaMoonT run `cd hashlips_art_engine-
1.1.2_patch_v6`.

[2022-08-15 09:48] iMetaMoonT commented on #1362
PS C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6> cd hashlips_art_engine- 1.1.2_patch_v6
Set-Location : A positional parameter cannot be found that accepts argument '1.1.2_patch_v6'.
At line:1 char:1
+ cd hashlips_art_engine- 1.1.2_patch_v6
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Set-Location], ParameterBindingException
    + Fully

[2022-08-15 09:50] bolshoytoster commented on #1362
@iMetaMoonT no, sorry, it should be without the space (`cd hashlips_art_engine-1.1.2_patch_v6`)

[2022-08-15 09:52] iMetaMoonT commented on #1362
OMG Ty!

[2022-08-15 10:26] iMetaMoonT commented on #1362
PS C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> npm run generate
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

(node:22568) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trac

[2022-08-15 10:27] bolshoytoster commented on #1362
@iMetaMoonT save `src/config.js`.

[2022-08-15 10:33] iMetaMoonT commented on #1362
same error

[2022-08-15 10:34] bolshoytoster commented on #1362
@iMetaMoonT can you paste your `layersConfigurations` and the error here again please.

[2022-08-15 10:35] iMetaMoonT commented on #1362
// If you have selected Solana then the collection starts from 0 automatically
const layerConfigurations = [
  {
    growEditionSizeTo: 10000,
    layersOrder: [
      { name: "Background" },
      { name: "Ring" },
      { name: "BodyUnderlay" },
      { name: "Body" },
      { name: "BodyOverlay" },
      { name: "Eyes" },
      { name: "Blush" },
      { name: "Eyebrows "},
      { name: "Acces

[2022-08-15 10:36] bolshoytoster commented on #1362
@iMetaMoonT could you paste the error again please.

[2022-08-15 10:37] iMetaMoonT commented on #1362
PS C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> npm run generate
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

(node:26120) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trac

[2022-08-15 10:38] bolshoytoster commented on #1362
@iMetaMoonT you need to make sure `layers/BodyUnderlay/` is spelled correctly, including case.

[2022-08-15 10:48] iMetaMoonT commented on #1362
maybe cause there was a space?
though this is new PS C:\Users\Owner\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

6 packages are looking for funding
  run `npm fund` for details

3 high severity vulnerabilities

To address all issues, run:
  npm audit fix

R

[2022-08-15 10:50] iMetaMoonT commented on #1362
thank u for helping its like 4am for me smh stuck on this

[2022-08-15 10:51] bolshoytoster commented on #1362
@iMetaMoonT also remove the spaces from `layersConfigurations` in `"Eyebrows "` and `"Accessories "`

[2022-08-15 10:56] iMetaMoonT commented on #1362
same error

[2022-08-15 10:56] iMetaMoonT commented on #1362
after fix

[2022-08-15 11:18] iMetaMoonT commented on #1362
Ty! Finally worked

[2022-08-15 19:44] Marshlandd commented on #1361
hello @bolshoytoster, this is the output of running npm install.
npm WARN hashlips_art_engine@1.1.1 No repository field.

audited 65 packages in 1.264s

6 packages are looking for funding
  run `npm fund` for details

found 5 high severity vulnerabilities
  run `npm audit fix` to fix them, or `npm audit` for details

  thank you

[2022-08-15 19:46] bolshoytoster commented on #1361
@Marshlandd what if you run `npm run generate` again.

[2022-08-15 19:58] Marshlandd commented on #1361
it finally worked, thank you so much

[2022-08-16 12:54] RexVickz commented on #1360
thanks bro

[2022-08-16 12:56] RexVickz commented on #1360
my rarities not working the # is added but doesn't make anything rare

[2022-08-16 13:10] bolshoytoster commented on #1360
@RexVickz could you elaborate?

[2022-08-16 17:04] blahkheart commented on #676
@Alpaga2 Did u try this yet??

[2022-08-16 21:18] danderic6ister commented on #1337
i also have this issue @JudahPraise  how did you fix it ?

[2022-08-17 00:11] bolshoytoster commented on #1337
@danderic6ister try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-08-17 00:12] danderic6ister commented on #1337
Still ran into an out of memory error

[2022-08-17 06:17] bowmatty opened #1364 "Generating in sections"
Hello,

Is it possible for me to generate in sections, i want to create 1000 and then run again and create another 1000 and start from the continuing number. Example, generate 1-1000, and then a separate 1001-2000

Thank you  :)

[2022-08-17 09:12] bolshoytoster commented on #1364
@bowmatty you can use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) and just change `growEditionSizeTo` to whatever you want the full collection to be, i.e. add 1000 to it each time.

[2022-08-17 09:15] RexVickz commented on #1360
I set rarities following the instructions by adding #(and desired figure) at the end of the layer content I want but, doesn't make it rare in the collection

[2022-08-17 09:33] bolshoytoster commented on #1360
@RexVickz if you've generated close to the max number of combinations then rarity would start to not matter, could you paste the output of `node utils/rarity.js` here please.

[2022-08-17 10:59] bowmatty commented on #1364
And will that just continue on..i.e 1000 then next gen will be 1001-2000 etc?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: bolshoytoster ***@***.***>
Sent: Wednesday, August 17, 2022 7:12:33 PM
To: HashLips/hashlips_art_engine ***@***.***>
Cc: bowmatty ***@***.***>; Mention ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] Generating in sections (Issue

[2022-08-17 19:16] bolshoytoster commented on #1364
@bowmatty yes.

[2022-08-17 21:09] bowmatty commented on #1364
Thanks mate,
How do i use your fork? sorry noob here

[2022-08-17 21:15] bolshoytoster commented on #1364
@bowmatty the same way you use the main hashlips, you can get a zip [here](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip).

[2022-08-17 21:33] bowmatty commented on #1364
Thanks mate

If i add 1000 to it and then generate, will the next gen continue from 1001-2000? My current fork just deletes and recreate from 1 each time, not continuous if you know what i mean.

[2022-08-17 21:34] bolshoytoster commented on #1364
@bowmatty yes.

[2022-08-17 21:35] bowmatty commented on #1364
Do you have a screenshot of how the "growEditionSizeTo" should look when generating each 1000? so i can get an idea.

Thanks again

[2022-08-17 21:37] bolshoytoster commented on #1364
@bolshoytoster you just set it to whatever you want the collection size to be each time, i.e. 1000, then 2000, then 3000

[2022-08-17 21:52] bowmatty commented on #1364
Ok great, ill give that ago.
Thanks again

[2022-08-18 07:55] bowmatty commented on #1364
I got multiple errors when running this fork..

PS C:\Users\Matt\Downloads\hashlips_art_engine-main> npm run generate
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\Matt\Downloads\hashlips_art_engine-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or director

[2022-08-18 09:25] bolshoytoster commented on #1364
@bowmatty you're in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-08-18 20:13] Coraldose opened #1365 "Npm install problem gatekeeping my collections Send help pls !"
PS C:\Users\OSUKARA INC\Desktop\hashlips_art_engine-main> npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR

[2022-08-18 20:17] bolshoytoster commented on #1365
@Coraldose you'll have to either install cairo or downgrade node.

[2022-08-18 21:19] Coraldose commented on #1365
Tried not working. Same issue

[2022-08-18 21:20] Coraldose commented on #1365
I was thinking that the problem was the folder. So I did download latest one which is hashlips_art_engine-1.1.2_patch_v6> and got same results dunno what to do atm. Complete stuck here.

[2022-08-18 21:25] bolshoytoster commented on #1365
@Coraldose

Could you elaborate? What did you try?

if you've downgraded node could you paste the error again please.

[2022-08-18 21:31] Coraldose commented on #1365
PS C:\Users\OSUKARA INC\Desktop\hashlips_art_engine-1.1.2_patch_v6> npm i
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm

[2022-08-18 21:35] bolshoytoster commented on #1365
@Coraldose try uninstalling node then reinstalling a lower version.

[2022-08-18 21:35] Coraldose commented on #1365
ima doing that.

[2022-08-18 21:43] Coraldose commented on #1365
finally did it. Thank you a lot m8. U are my hero. Send me ur wallet so I can send some whitelist to you b4 relase !!!

[2022-08-18 21:43] #1365 closed, assigned to nobody

[2022-08-19 00:12] bowmatty commented on #1364
Yep i ran the Get-ChildItem -Directory, which name do i need?

[2022-08-19 00:14] bolshoytoster commented on #1364
@bowmatty the one you get from running `Get-ChildItem -Directory`.

[2022-08-19 12:28] wsmgfx opened #1366 "please can someone help me !"
when i type [ npm run generate] in terminal it gives me an error

PS C:\Users\wsm_gfx\Desktop\hashlips_art_engine-1.1.2_patch_v6> npm run generate

C:\Users\wsm_gfx\Desktop\hashlips_art_engine-1.1.2_patch_v6\src\main.js:311
  let metadata = metadataList.find((meta) => meta.custom_fields. == _editionCount);
                                                                 ^^

SyntaxError: Unexpected

[2022-08-19 12:30] bolshoytoster commented on #1366
@wsmgfx you accidentally added a `.` in `src/main.js` line 311 after `meta.custom_fields.`. Remove it.

[2022-08-19 12:33] wsmgfx commented on #1366
ok sir thank u sm

[2022-08-19 18:34] LaughingElephant commented on #1364
Love this fork. Any suggestions to be able to update the base URI without updating the name? Intent of use is to have different names within the same collection - but need to be able to update the base URI without it also changing the names.

[2022-08-19 20:33] bolshoytoster commented on #1364
@LaughingElephant just add a `//` to the start of line ~43 in `utils/update_info.js`:
https://github.com/bolshoytoster/hashlips_art_engine/blob/708bf21426b11f3592697bde959caadcf11a722a/utils/update_info.js#L43

[2022-08-19 20:42] LaughingElephant commented on #1364
@bolshoytoster Easy enough lol, that worked thanks man.

If you figure out how to set each 'growEditionSize' container to its own name in the metadata hit me up. Would be nice to shuffle the different names around.

[2022-08-20 00:04] Angelje47 commented on #812
what do i have to do

node:fs:1450
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir '/Users/elsygarcia/Downloads/create-10k-nft-collection-2.0.0/layers/Background/'
    at Object.readdirSync (node:fs:1450:3)
    at getElements (/Users/elsygarcia/Downloads/create-10k-nft-collection-2.0.0/src/main.js:73:6)
    at /Users/elsygarcia/Downloads/create-10k-nft-collect

[2022-08-20 00:07] bolshoytoster commented on #812
@Angelje47 you need to save `src/config.js`.

[2022-08-20 06:41] rahilt opened #1367 "npm run generate not working"
**This is what i get after i run the command "npm run generate"**
[code]

[2022-08-20 07:22] #1367 closed, assigned to nobody

[2022-08-20 07:32] gm3 opened #1368 "Avatars export fazing the wrong Z direction"
![image](https://user-images.githubusercontent.com/7612104/185734361-4f552dbe-f661-4774-a0ea-e8f2b3a90266.png)

[2022-08-20 16:17] annarannar opened #1369 "rarity"
Hi I have 5 files each file has layers The last file has 10000 layers for each NFT layer I want to create 10000 NFT for each layer image from the last file without repeating what code I use

[2022-08-20 16:21] bolshoytoster commented on #1369
@annarannar you could probably add [`bypassDNA`](https://github.com/HashLips/hashlips_art_engine/blob/main/README.md#usage-%E2%84%B9%EF%B8%8F) to all other layers.

[2022-08-20 18:29] annarannar commented on #1369
I added it but it doesn't work

[2022-08-20 20:46] bolshoytoster commented on #1369
@annarannar could you paste your `layersConfigurations` please and make sure you save `src/config.js`.

[2022-08-20 21:40] annarannar commented on #1369
![Untitled](https://user-images.githubusercontent.com/111651878/185766874-893a23cb-30df-441c-87ff-204fba276f6f.png)

[2022-08-20 21:41] RexVickz commented on #1360
please how do I do that?

[2022-08-20 22:03] bolshoytoster commented on #1369
@annarannar I meant add `bypassDNA` to all the other layers, not the one with 10000 images.

[2022-08-20 22:04] bolshoytoster commented on #1360
@RexVickz you run it in powershell and paste the output here.

[2022-08-20 22:38] annarannar commented on #1369
![Untitled](https://user-images.githubusercontent.com/111651878/185768331-c92a3c00-7241-4ec7-9a8c-6e4cd10000fd.png)

[2022-08-20 22:41] annarannar commented on #1369
![Untitled](https://user-images.githubusercontent.com/111651878/185768409-4c4bf43b-8475-43d6-ab1e-76a6ee25ad6e.png)

[2022-08-20 22:46] annarannar commented on #1369
![Untitled](https://user-images.githubusercontent.com/111651878/185768524-ee886620-dd2b-41bc-944f-5112cb3fb54c.png)

[2022-08-20 22:47] annarannar commented on #1369
I have Error

[2022-08-20 22:50] bolshoytoster commented on #1369
@annarannar remove the `{}`s surrounding `options: {...}`, remove the `;`s after the `bypassDNA: false`s and change the `false`s to `true`.

[2022-08-20 22:57] annarannar commented on #1369
I still have repetitions in the pictures

[2022-08-20 22:59] bolshoytoster commented on #1369
@annarannar could you paste your `layersConfigurations` again please.

[2022-08-20 23:05] annarannar commented on #1369
![Uploading Untitled.png…]()

[2022-08-20 23:06] annarannar commented on #1369
![Untitled](https://user-images.githubusercontent.com/111651878/185768923-0f77233b-2d0b-44d2-ba78-9502797a9ad4.png)

[2022-08-20 23:09] bolshoytoster commented on #1369
@annarannar `Option` should be `options` (with an `s` and lowercase `O`).

[2022-08-20 23:18] annarannar commented on #1369
Thank you so much from the bottom of my heart my friend

[2022-08-22 21:18] 4x13 commented on #251
seems like to make everything workout, we would need a blank transparent attribute in each layer folder, so if you wanted all of a certain attribute to be shown 10% of the time, lets say a Mask Attribute with 10 masks, we would assign a #1 to each mask and a #90 to the blank attribute to get to an easy 100 weight.

[2022-08-22 21:24] Davbit11 opened #1370 "Setting generation rules"
Hey,

I wanted to know how its possible to set generation rules, like:
"always pair this trait with that trait"
or
"never pair this trait, with that trait"

[2022-08-23 04:01] elpigeontest commented on #1364
Hi @bolshoytoster your fork could work for this scenario?

I'm making a collection that use two different base drawings. The traits are the "same", but I can't use the same drawing of the traits because the bases have different sizes.
Is there any way for me to generate the collection with some conditionals? Like, If base layer is X, then use these traits, or if base layer is Y then use these othe

[2022-08-23 04:05] elpigeontest opened #1371 "2 types of characters in the same collection"
I'm making a collection that use two different base drawings, like two different characters. The traits are the "same", but I can't use the same drawing of the traits because the bases have different sizes.
Can I use 2 groups of different layers? one group for each character?
Is there any way for me to generate the collection with some conditionals? Like, If base layer is X, then use these traits,

[2022-08-23 05:20] dyinq opened #1372 "npm run generate gives out syntaxerror"
Whenever I try to run "npm run generate" it throws up this message:

[code]

I haven't touched or done anything to the main.js and I just simply cloned the most recent version. Is there anything I am missing?

[2022-08-23 10:42] Josip230 opened #1373 "I'm trying to npm run generate , but it doesn't let me. Error is below Please Help!"
Error: ENOENT: no such file or directory, scandir 'D:\HashLips NFT\hashlips_art_engine-1.1.1_update/layers/Eyeball/'
    at Object.readdirSync (node:fs:1442:3)
    at getElements (D:\HashLips NFT\hashlips_art_engine-1.1.1_update\src\main.js:73:6)
    at D:\HashLips NFT\hashlips_art_engine-1.1.1_update\src\main.js:89:15
    at Array.map (<anonymous>)
    at layersSetup (D:\HashLips NFT\hashlips_art

[2022-08-23 11:04] bolshoytoster commented on #1364
@elpigeontest you could have two different `layersConfigurations`, one with traits x and one with y. My fork doesn't support having different image sizes though.

[2022-08-23 11:05] bolshoytoster commented on #1372
@lnterger you need to either update node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-08-23 11:05] bolshoytoster commented on #1373
@Josip230 you need to save `src/config.js`.

[2022-08-23 11:42] Elhanafi197 commented on #662
hi there guys I want to have some help please
I have yarn 1.22.19 and when I run yarn add all this happens[
![Capture d’écran 2022-08-23 144841](https://user-images.githubusercontent.com/111873638/186149248-194bc2c4-a2cf-402c-845d-6cda16c61e5b.png)
![Capture d’écran 2022-08-23 144901](https://user-images.githubusercontent.com/111873638/186149293-167fd071-5023-4e03-bfd9-8d4436747f93.png)
![Capture

[2022-08-23 11:44] Elhanafi197 commented on #662
I will be so grateful if could help bc this is so depressing.

[2022-08-23 11:58] bolshoytoster commented on #662
@Elhanafi197 the error says
[code]

[2022-08-23 12:51] Elhanafi197 commented on #662
@bolshoytoster I will do it and see , thank u

[2022-08-23 13:48] Elhanafi197 commented on #662
@bolshoytoster it didnt work 😪

[2022-08-23 13:52] bolshoytoster commented on #662
@Elhanafi197 can you paste the output of running `npm install` please.

[2022-08-23 13:54] Elhanafi197 commented on #662
this what comes
![Uploading Capture d’écran 2022-08-23 170120.png…]()

[2022-08-23 13:54] Elhanafi197 commented on #662
![Capture d’écran 2022-08-23 170120](https://user-images.githubusercontent.com/111873638/186176668-81e0c79a-53b3-4730-9264-421b1a25a35d.png)

[2022-08-23 13:59] elpigeontest commented on #1364
Thank you! The problem is in this way the bases are not shuffle. It made the first half one base and the other half other base.Ex: The first 100 is one base and from 101 to 200 is the other base. Is there a way to shuffle this?

[2022-08-23 14:01] bolshoytoster commented on #662
@Elhanafi197 what about `yarn install`.

[2022-08-23 14:02] bolshoytoster commented on #1364
@elpigeontest yes, in `src/config.js` you can set `shuffleLayerConfigurations` to `true`.

[2022-08-23 14:05] elpigeontest commented on #1364
Thanks! Works fine!

[2022-08-23 14:05] Elhanafi197 commented on #662
@bolshoytoster the same thing in the begenning

[2022-08-23 15:33] Elhanafi197 commented on #662
bro it worked some how
I wrote yarn install then it installed.
but if u wrote tarn add all it doesnt work.
thanks

[2022-08-23 17:31] Elhanafi197 commented on #662
but it works on some projects of hashlips the otherversions  no.
for example the version 1.0.9

[2022-08-23 17:37] Elhanafi197 commented on #662
this is so frustrating

[2022-08-23 17:39] bolshoytoster commented on #662
@Elhanafi197

what's wrong? Could you paste any errors?

[2022-08-23 17:39] emrebaran commented on #662
Did u safe it before yarn install ?

Gesendet von Yahoo Mail für iPhone

Am Dienstag, August 23, 2022, 7:37 PM schrieb Elhanafi197 ***@***.***>:

this is so frustrating

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-08-23 17:46] Elhanafi197 commented on #662
it was working then when I downloaded the other codes ,the same error came

[2022-08-23 17:47] Elhanafi197 commented on #662
I didnt understand

[2022-08-23 17:48] bolshoytoster commented on #662
@Elhanafi197

Is there any reason you can't just use the version(s) that work?

[2022-08-23 18:00] Elhanafi197 commented on #662
cuz the version that work are not complete

[2022-08-23 18:01] bolshoytoster commented on #662
@Elhanafi197 what error(s) do you get from the complete version?

[2022-08-23 20:27] Josip230 commented on #1373
@bolshoytoster I've fixed this problem but now i get this problem please help people!

(node:14132) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:internal/errors:477
    ErrorCaptureStackTrace(err);
    ^

T

[2022-08-23 20:51] Coraldose opened #1374 "Update_info does not updating the json files"
Hello ladz.Hope you all doing well.
After finishing my project we figure it out that we can not update the CID Url's to BaseUri
On metadata it says "Undefined".
Need help to complete this.
Send help pls.
note : shuffle is false

[2022-08-23 20:52] Coraldose commented on #1374
shuffle is false btw.

[2022-08-23 21:11] bolshoytoster commented on #1373
@Josip230 use the current version of hashlips.

[2022-08-23 21:26] Coraldose commented on #1374
Solved by godhaslips.

[2022-08-23 21:26] #1374 closed, assigned to nobody

[2022-08-23 23:27] dyinq commented on #1372
Thank you, Will try this out; If this works I'll close this issue out and mark it as resolved.

[2022-08-23 23:54] dyinq commented on #1372
I attempted to update Node JS but my CLI says that I am already up to date to Version 12.22.9.
I went ahead and attempted to use your fork but the same error message would still show up. Is there anything else I could check to retry the generation? @bolshoytoster

[2022-08-23 23:58] bolshoytoster commented on #1372
@lnterger

12.22.9 is nowhere near up to date, the current lts version is 16.17.0.

You can't get the same error with my fork. Could you paste the error here please.

[2022-08-24 01:38] dyinq commented on #1372
@bolshoytoster
Sorry, You are correct. I did a full uninstall of node and npm and reinstalled it. I can confirm I am now on version 16.17

When I do run the fork now I get prompted with this message:

[code]

[2022-08-24 06:58] Josip230 commented on #1373
So that wil fix it?

[2022-08-24 06:58] Josip230 commented on #1373
@bolshoytoster What tutorial to mint should i watch on youtube?

[2022-08-24 08:37] Josip230 commented on #1373
@bolshoytoster  I did everything as you said but , now i get this problem please help!
(node:18172) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:internal/errors:477
    ErrorCaptureStackTrace(err);
    ^

T

[2022-08-24 10:09] bolshoytoster commented on #1372
@lnterger delete the `node_modules/` folder and run `npm install`.

[2022-08-24 10:16] bolshoytoster commented on #1373
@Josip230 try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-08-24 13:34] Josip230 commented on #1373
How do you mean i'm new to github how to install your fork?

[2022-08-24 13:36] bolshoytoster commented on #1373
@Josip230 the same way you use hashlips.

[2022-08-24 14:46] WissemEd commented on #812
Hello everyone,

I am trying to run the command "npm I" on my VScode terminal on a M1 Mac. Unfortunately, I keep having several errors that I don't understand even after trying what suggested in this thread : I am unable to solve it :

<img width="747" alt="Capture d’écran 2022-08-24 à 16 45 34" src="https://user-images.githubusercontent.com/111924896/186449063-0fbf01de-81fd-4dd8-b4d1-0c3da5b2bd

[2022-08-24 14:49] bolshoytoster commented on #812
@WissemEd did you run `arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg`?

You're also not using node v14.17.3

[2022-08-24 14:53] WissemEd commented on #812
@bolshoytoster Do you think that I should use v14.17.3 only ? I am currently trying the most recent version

[2022-08-24 14:58] bolshoytoster commented on #812
@WissemEd the original message in this issue says so.

[2022-08-24 16:46] ipv6freely commented on #812
@bolshoytoster @WissemEd No, you do not want to use 14.17.3. This issue ticket was closed long ago because it's no longer valid. I posted the updated fix months ago: https://github.com/HashLips/hashlips_art_engine/issues/1115

[2022-08-24 18:58] dyinq commented on #1372
@bolshoytoster thank you!! issue is resolved, closing this ticket :D

[2022-08-24 18:58] #1372 closed, assigned to nobody

[2022-08-24 19:25] WissemEd commented on #1115
Hi everyone : I have tried to install the latest node version via homebrew and I have ran the command `arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg` Unfortunately, I keep having an error about the command "node" and "nvm" not found if I change my location. Like shown in the image :
<img width="567" alt="Capture d’écran 2022-08-24 à 21 24 47" src="https://user-images.github

[2022-08-24 19:33] bolshoytoster commented on #1115
@WissemEd could you paste the output of running `which node` and `echo $PATH` while in both `~` and `~/Documents` please.

[2022-08-24 19:34] ipv6freely commented on #1115
Looks like /usr/local/bin is not in your PATH.

[2022-08-24 19:40] WissemEd commented on #1115
@bolshoytoster Sure : here is what I obtain by doing so :
<img width="572" alt="Capture d’écran 2022-08-24 à 21 38 47" src="https://user-images.githubusercontent.com/111924896/186508224-c51eb16c-fb50-4261-a83a-485802afa3f7.png">

[2022-08-24 19:52] bolshoytoster commented on #1115
@WissemEd that's odd, as a workaround you could run `~/.nvm/versions/node/v18.8.0/bin/node` instead of just `node`

[2022-08-24 20:30] Josip230 commented on #1373
@bolshoytoster Yeah but how to install it

[2022-08-24 20:33] bolshoytoster commented on #1373
@Josip230 you can get a zip [here](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip).

[2022-08-25 06:58] Josip230 commented on #1373
So , i just download it set it up like normal , and then it should work yeah? @bolshoytoster

[2022-08-25 09:50] bolshoytoster commented on #1373
@Josip230 yes.

[2022-08-25 10:29] Josip230 commented on #1373
@bolshoytoster I have a big problem now , npm works now thanks for help! But whenenver i create and NFT , it looks ugly and some properties are bigger then they should be please help
![image](https://user-images.githubusercontent.com/111868694/186641811-698cffa6-8013-4462-8223-ea666a7a31a0.png)

[2022-08-25 10:46] bolshoytoster commented on #1373
@Josip230 the images aren't placed correctly in the source images. You can either place the images the way whatever tutorial says, or you can place them with 'code':
[code]

[2022-08-25 13:20] Josip230 commented on #1373
![image](https://user-images.githubusercontent.com/111868694/186675774-2d812454-04c5-4ee9-84f1-ea54763b9ad9.png)
I did something wrong here what is it?

[2022-08-25 13:20] Josip230 commented on #1373
@bolshoytoster

[2022-08-25 13:23] bolshoytoster commented on #1373
@Josip230 that was just an example, you'd have to do the positioning yourself.

e.g.
[code]

[2022-08-25 14:26] Josip230 commented on #1373
But , how will i know where to position the properties?

[2022-08-25 14:26] Josip230 commented on #1373
Is there a plugin or a program that does it easier @bolshoytoster

[2022-08-25 14:28] bolshoytoster commented on #1373
@Josip230

Yes, your image editor.

You need to scale down the visible part of the images to be in the correct positions. I'd reccomend you watch a tutorial on hashlips.

[2022-08-25 14:45] Josip230 commented on #1373
Can't find the video with my problem can you help me finding it?

[2022-08-25 14:57] bolshoytoster commented on #1373
@Josip230 I think [this playlist](https://youtu.be/vFY_E3IP6OU?list=PLvfQp12V0hS1PWDxlrfASk0Mq6AbC5n5f) might help.

[2022-08-25 15:38] stackcraft55 opened #1375 "How to set rarity of layers"
I am going to set the rarity of layers
I have several layers. but I want to some variations don't have specific layers

0	Background	100%
1	Skin Tone	100%
2	Eyes	100%
3	Hair Style	100%
4	Shoes	100%
5	T-Shirt	100%
6	Gloves	50%
7	Trousers	100%
8	Belt	80%
9	Top	70%
10	Weapon	80%
11	Briefcase	80%
12	Glasses	40%
13	Smoke	30%
14	Hat	60%

It is my plan
How should I make the config.js file?
Please help me

[2022-08-25 15:45] bolshoytoster commented on #1375
@cryptoguy55 you could have blank pictures in the layer folders with the rarity of not showing, e.g. 20% for belt.

[2022-08-25 16:23] stackcraft55 commented on #1375
Hi. @bolshoytoster
Thank you for answer
if I name the blank picture as "None#30", it will be displayed on metadata
How can I remove none attribute on metadata?

[2022-08-25 16:33] bolshoytoster commented on #1375
@cryptoguy55 change `src/main.js` ~line 174-180 from:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L174-L180

to
[code]

[2022-08-25 16:42] stackcraft55 commented on #1375
Thank you.
Could you let me know your telegram id?

[2022-08-25 16:43] bolshoytoster commented on #1375
@cryptoguy55 I don't use telegram.

[2022-08-25 16:43] stackcraft55 commented on #1375
discord or skype?

[2022-08-25 16:44] bolshoytoster commented on #1375
@cryptoguy55 bolshoy#0648 on discord

[2022-08-25 18:43] #1375 closed, assigned to nobody

[2022-08-27 04:33] TimBritcliffe commented on #655
Do you happen to know which version has it fixed?

[2022-08-27 12:01] VijayVyca opened #1376 "."

[2022-08-27 12:37] Elhanafi197 commented on #662
hello there
I know that this is not the right place to ask but in my contract when I change NFT to the name of the project this error pops up can help?

![Capture d’écran 2022-08-27 152857](https://user-images.githubusercontent.com/111873638/187030534-2b923fda-a2d7-41ef-a920-eac83474903b.png)

[2022-08-27 12:38] bolshoytoster commented on #662
@Elhanafi197 what is the error?

[2022-08-27 12:39] Elhanafi197 commented on #662
![Capture d’écran 2022-08-27 154642](https://user-images.githubusercontent.com/111873638/187030616-346c0c59-59d6-4053-a81f-53f8905e0831.png)

[2022-08-27 12:41] bolshoytoster commented on #662
@Elhanafi197 you're probably not allowed spaces in contract names.

[2022-08-27 12:42] Elhanafi197 commented on #662
oh yes thanks so much

[2022-08-27 12:52] Elhanafi197 commented on #662
what about this
there is nothing in front of deploy
usually there a empty place to fill constructor informations
![Capture d’écran 2022-08-27 155756](https://user-images.githubusercontent.com/111873638/187031009-c0cfa676-9a3a-42d9-aa95-b6a97b20171e.png)

[2022-08-28 12:13] MoriSushi opened #1378 "Please help! "npm run generate" not working..."
This is the error message I received.

npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

[2022-08-28 12:16] bolshoytoster commented on #1378
@MoriSushi you're in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-08-28 12:35] MoriSushi commented on #1378
Damn your right, how can this happen... (I had a long day, thats my excuse). But when I hit npm install I get an error

[2022-08-28 12:36] MoriSushi commented on #1378
Never mind I fixed it. Thanks!

[2022-08-28 13:06] MoriSushi commented on #1378
Actually I got another problem, when I run npm run generate it gives me the following error.
(node:19570) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory  (my image)

[2022-08-28 13:11] bolshoytoster commented on #1378
@MoriSushi you probably have a non-ascii character in the image's path, but I can't help much more than that without knowing what '(my image)' is.

[2022-08-28 21:31] puppetofsmut opened #1379 "Cant find module error i usually dont have problem but this is happeneing right now for some reason"
can someone please help me figure out whats going on here? im pretty confused cause this usually dousnt happen
(p.s. please explain to me like you would to a first grader im new to this and dont understand all this coding vocabulary thanks.)

dirty-brown-star@dirtybrownstar-System-Product-Name:~/Downloads/hashlips_art_engine-1.1.2_patch_v6$ npm run build

internal/modules/cjs/loader.js:1017
  thro

[2022-08-28 21:46] bolshoytoster commented on #1379
@puppetofsmut it looks like you're trying to use a nonexisting version of node or nvm is being weird.

Could you paste the output of running `nvm ls` please.

[2022-08-28 22:02] puppetofsmut commented on #1379
dirty-brown-star@dirtybrownstar-System-Product-Name:~/Downloads/hashlips_art_engine-1.1.2_patch_v6$ nvm -v
0.39.1
dirty-brown-star@dirtybrownstar-System-Product-Name:~/Downloads/hashlips_art_engine-1.1.2_patch_v6$

[2022-08-28 22:04] bolshoytoster commented on #1379
@puppetofsmut Could you paste the output of running nvm ls please - that wasn't `nvm ls`

[2022-08-29 03:14] MoriSushi opened #1380 "Got a question, how can I make gifs and backgrounds... The extras that he mentioned in the video."

[2022-08-29 10:41] bolshoytoster commented on #1380
@MoriSushi gifs can be made by setting `gif.export` to `true` in `src/main.js` then running `node index.js` or `npm run generate` - they end up in `build/gifs/`.

Could you elaborate about 'backgrounds' and 'the extras'.

[2022-08-29 17:03] spinoso73 opened #1381 "HELP! npm install code doesn't work"
it says:
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\franc\Dropbox\Il mio PC (LAPTOP-4ODUTT3E)\Downloads\hashlips_art_engine-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\franc\Dropbox\Il mio PC (LAPTOP-4ODUTT3E)\Downloads\hashlips_art_engine-main\package.json'
npm ERR! enoent This is related to npm not being able to

[2022-08-29 17:09] bolshoytoster commented on #1381
@spinoso73 you're in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-08-29 17:38] spinoso73 commented on #1381
@bolshoytoster where can i find it?

[2022-08-29 17:39] bolshoytoster commented on #1381
@spinoso73 can you paste the output of `Get-ChildItem -Directory` please.

[2022-08-30 08:27] spinoso73 commented on #1381
@bolshoytoster what is it?

[2022-08-30 09:56] bolshoytoster commented on #1381
@spinoso73 run `Get-ChildItem -Directory` in powershell and paste the output here.

[2022-08-30 10:29] spinoso73 commented on #1381
Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        27/06/2022     11:37                .android
d-----        13/03/2021     20:08                .cache
d-----        25/02/2021     17:53                .dbus-keyrings
d-----        28/03/2021     12:38                .dotnet
d-----        23/11/2021     21:17                .

[2022-08-30 10:37] bolshoytoster commented on #1381
@spinoso73 do it in visual studio.

[2022-08-30 10:42] spinoso73 commented on #1381
(LAPTOP-4ODUTT3E)\Downloads\hashlips_art_engine-main

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
da---          29/08/2022    19:00                hashlips_art_engin
                                                  e-main

[2022-08-30 10:43] bolshoytoster commented on #1381
@spinoso73 run `cd hashlips_art_engine-main` then.

[2022-08-30 10:45] spinoso73 commented on #1381
PS C:\Users\franc\Dropbox\Il mio PC (LAPTOP-4ODUTT3E)\Downloads\hashlips_art_engine-main\hashlips_art_engine-main>

[2022-08-30 10:47] bolshoytoster commented on #1381
@spinoso73 you can run `npm install` now.

[2022-08-30 10:48] spinoso73 commented on #1381
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\franc\Dropbox\Il mio PC (LAPTOP-4ODUTT3E)\Downloads\hashlips_art_engine-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\franc\Dropbox\Il mio PC (LAPTOP-4ODUTT3E)\Downloads\hashlips_art_engine-main\package.json'
npm ERR! enoent This is related to npm not being able to find a fi

[2022-08-30 10:53] bolshoytoster commented on #1381
@spinoso73 you need to run it in the same terminal you ran `cd` in.

[2022-08-30 10:56] spinoso73 commented on #1381
thank you very much

[2022-08-30 12:06] spinoso73 commented on #1381
thank you very much

[2022-08-31 00:22] Iamamandarenee commented on #1379
I'm having the same error and when looking further there isn't a Node-Module folder found within the contents of the main file that was unzipped.

[2022-08-31 10:44] bolshoytoster commented on #1379
@Iamamandarenee there isn't meant to be a `node_modules/` included in the repo, it's created when you (successfully) run `npm install`.

Can you paste the output of running `nvm ls` here please.

[2022-08-31 12:28] Iamamandarenee commented on #1379
zsh: command not found: nvm

[2022-08-31 12:38] Iamamandarenee commented on #1379
Settings adjusted to Run code in integrated terminal.
Extensions Jscode and code runner installed after node js.

When I do the `npm i` OR `npm install` in terminal I get this:

amandadoyle@Amandas-Air hashlips_art_engine-1.1.2_patch_v6 % nvm ls
zsh: command not found: nvm
amandadoyle@Amandas-Air hashlips_art_engine-1.1.2_patch_v6 % npm i
npm WARN old lockfile
npm WARN old lockfile The package-loc

[2022-08-31 12:41] bolshoytoster commented on #1379
@Iamamandarenee this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

It also looks like you might need to install python.

[2022-08-31 12:44] Iamamandarenee commented on #1379
I definitely have python installed, perhaps not the latest version. I will
look into the link provided for m1 solutions.

On Wed, Aug 31, 2022 at 8:41 AM bolshoytoster ***@***.***>
wrote:

--

Amanda Doyle, BSQP

Carolina Support Services <http://www.carolinasupportservices.com>

Day Treatment Program Director

910.859.7577 (office)

*252.412.8875 (cell)*

"Children do not care how much you know,

[2022-08-31 13:14] Iamamandarenee commented on #1379
Used this method

1.Install the dependencies via Homebrew using this command: arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg
2. run npm I
3. Run npm audit
4. Run npm audit fix

found 0 vulnerabilities

[2022-08-31 13:16] Iamamandarenee commented on #1379
I omitted the step of updating homebrew which also eliminated the python error (presumptively others have an updated version or install to bypass M1 issue)

[2022-08-31 13:16] bolshoytoster commented on #1379
@Iamamandarenee if there were any errors running `npm i` can you paste them here please, otherwise it's working.

[2022-08-31 13:19] Iamamandarenee commented on #1379
No errors. Below is the output:

amandadoyle@Amandas-Air hashlips_art_engine-1.1.2_patch_v6 % npm i

up to date, audited 66 packages in 498ms

6 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

[2022-08-31 13:20] bolshoytoster commented on #1379
@Iamamandarenee so it's working.

[2022-08-31 13:21] Iamamandarenee commented on #1379
Correct. Which is why I figured I'd share the steps done for others to see :)

[2022-08-31 15:46] pa1ar commented on #1311
thank you @bolshoytoster, i have had the npm installed actually, that's why i skipped this step (or it even wasn't mentioned in the manual).

anyways, `npm install` helped.

[2022-08-31 19:14] Wisky101 opened #1382 "npm run generate not working anymore"
node:internal/modules/cjs/loader:958
  throw err;
  ^

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- C:\Users\pjote\OneDrive\Desktop\Solana\hashlips_art_engine-main\hashlips_art_engine\node_modules\canvas\lib\bindings.js
- C:\Users\pjote\OneDrive\Desktop\Solana\hashlips_art_engine-main\hashlips_art_engine\node_modules\canvas\lib\canvas.js
- C:\Users\pjote\OneDrive\Deskt

[2022-08-31 19:15] bolshoytoster commented on #1382
@Wisky101 can you paste the output of `npm install` here please.

[2022-08-31 19:16] Wisky101 commented on #1382
up to date, audited 66 packages in 996ms

6 packages are looking for funding
  run `npm fund` for details

3 high severity vulnerabilities

To address all issues, run:
  npm audit fix

[2022-08-31 19:18] bolshoytoster commented on #1382
@Wisky101 what if you run `npm run generate` again?

[2022-08-31 19:19] Wisky101 commented on #1382
@bolshoytoster same again , even after npm audit fix

node:internal/modules/cjs/loader:958
  throw err;
  ^

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- C:\Users\pjote\OneDrive\Desktop\Solana\hashlips_art_engine-main\hashlips_art_engine\node_modules\canvas\lib\bindings.js
- C:\Users\pjote\OneDrive\Desktop\Solana\hashlips_art_engine-main\hashlips_art_engine\node_module

[2022-08-31 19:22] bolshoytoster commented on #1382
@Wisky101 [this stackoverflow post](https://stackoverflow.com/questions/14771781/nodejs-cannot-find-module-build-release-canvas) talks about the same error, the top solution suggests running `npm uninstall canvas` then `npm i canvas`

[2022-08-31 19:25] Wisky101 commented on #1382
@bolshoytoster
S C:\Users\pjote\OneDrive\Desktop\Solana\hashlips_art_engine-main\hashlips_art_engine> npm i canvas
npm ERR! code 1
npm ERR! path C:\Users\pjote\OneDrive\Desktop\Solana\hashlips_art_engine-main\hashlips_art_engine\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build --update-binary
npm ERR! Failed

[2022-08-31 19:28] bolshoytoster commented on #1382
@Wisky101 you'll have to either downgrade node or "install the latest version of Visual Studio install the latest version of Visual Studio"

[2022-08-31 19:35] Wisky101 commented on #1382
@bolshoytoster will try with downgrading node.js

[2022-08-31 19:37] Wisky101 commented on #1382
@bolshoytoster fixed
Thanks bud

[2022-08-31 21:59] Vegannx opened #1383 "Error: ENOENT: no such file or directory, scandir 'C:\Users\user\Desktop\hashlips_art_engine/layers/Eyeball/'"
i keep getting this error
can someone please help?
Error: ENOENT: no such file or directory, scandir 'C:\Users\user\Desktop\hashlips_art_engine/layers/Eyeball/'
    at Object.readdirSync (node:fs:1442:3)
    at getElements (C:\Users\user\Desktop\hashlips_art_engine\src\main.js:73:6)
    at C:\Users\user\Desktop\hashlips_art_engine\src\main.js:92:15
    at Array.map (<anonymous>)
    at layersSetup

[2022-08-31 22:00] bolshoytoster commented on #1383
@Vegannx save `src/config.js`.

[2022-09-01 01:16] Vegannx commented on #1383
Thanks.. worked perfectly :)

[2022-09-01 15:25] Vegannx opened #1384 "module not found"
Error: Cannot find module 'C:\Users\user\Desktop\hashlips_art_engine\utils\updateBaseUri.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:956:15)
    at Function.Module._load (node:internal/modules/cjs/loader:804:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
    at node:internal/main/run_main_module:17:47 {
  code: 'MODUL

[2022-09-01 15:34] Vegannx commented on #1384
i am having an eror while trying to update the .json file.
Error: Cannot find module 'C:\Users\user\Desktop\hashlips_art_engine\utils\updateBaseUri.js'
at Function.Module._resolveFilename (node:internal/modules/cjs/loader:956:15)
at Function.Module._load (node:internal/modules/cjs/loader:804:27)
at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
at node:internal/

[2022-09-01 17:18] bolshoytoster commented on #1384
@Vegannx run `node utils/update_info.js` or `npm run update_info` instead.

[2022-09-01 19:19] Vegannx commented on #1384
i am new to this, will appreciate any assistance
got this error

 hashlips_art_engine@1.1.1 update_info

node:internal/fs/utils:347
    throw err;
    ^

Error: ENOENT: no such file or directory, open 'C:\Users\user\Desktop\hashlips_art_engine/build/json/_metadata.json'
    at Object.openSync (node:fs:594:3)
    at Object.readFileSync (node:fs:462:35)
    at Object.<anonymous> (C:\Users\user\Deskt

[2022-09-01 21:02] gblotter commented on #1217
yeah - I'd be interested in the answer to this as well 👍🏽

[2022-09-01 23:01] Vegannx commented on #1383
worked thanks

[2022-09-02 10:42] bolshoytoster commented on #1384
@Vegannx `build/json/_metadata.json` doesn't exist. Did your generation quit unexpectedly?

You could replace your `utils/update_info.js` with [mine](https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js) to remove this error.

[2022-09-02 10:45] bolshoytoster commented on #1217
@gblotter an answer to what? There are multiple questions here.

[2022-09-02 14:37] Omnijoy opened #1385 "Multiple set of groups issue"
Hi!

My issue is that I have different LayerConfigurations but these LayerConfigurations not using the same set of traits. To be understandable here is an example:

-3 different Bases: Human, Cyborg, Robot,
-Human arms: normal, weak, strong
-Cyborg arms: normal, weak, strong, robotic
-Robot arms: robotic

So my issue is that in order to generate images I need to create multiple Arms folder for eac

[2022-09-02 22:32] bolshoytoster commented on #1385
@vighbarnabasdominik you could have all the arms in subfolders of a `layers/Arms/`

e.g.
[code]
Then in your `layersConfiguration` you can write `arms/normal` instead of `normal`.

[2022-09-03 00:10] vighbarnabasdominik commented on #1385
I have 9 different base characters and each of them has a set of traits like arms, legs, mouth, eyes etc.
Now what I want is when I upload my collection to Opensea the properties show: Arms, Legs, Mouth, Eyes etc. So I don't have to create a different folder names for each set of arms, legs, mouth, eyes etc. As far as I know these folder names will be shown as the properties on Opensea. I would li

[2022-09-03 00:11] Omnijoy commented on #1385
I have 9 different base characters and each of them has a set of traits like arms, legs, mouth, eyes etc.
Now what I want is when I upload my collection to Opensea the properties show: Arms, Legs, Mouth, Eyes etc. So I don't have to create a different folder names for each set of arms, legs, mouth, eyes etc. As far as I know these folder names will be shown as the properties on Opensea. I would li

[2022-09-04 04:14] pinguinosod opened #1387 "Generate images based on existing metadata"
I would like to generate only the images based on existing _metadata.json file.

I want to update the existing collection with better quality images. I don't want to modify the metadata because the collection is already deployed.

[2022-09-04 07:34] LaughingElephant commented on #1363
I believe I'm having the same issue. Running into these errors when trying $npm install on m2 chip, been trying a lot some different things to resolve but can't find the issue. Works fine in windows.

408 verbose cwd /Users/laughingelephant/Desktop/Coding/hashlips_art_engine-main
409 verbose Darwin 21.6.0
410 verbose node v18.8.0
411 verbose npm  v8.18.0
412 error code 1
413 error path /Users/laug

[2022-09-05 10:25] bolshoytoster commented on #1363
@LaughingElephant try looking for solutions for running it on M1, since they're the same architecture.

[2022-09-05 10:26] bolshoytoster commented on #1387
@pinguinosod you wouldn't be able to do that, since `_metadata.json` doesn't contain the full file names so there may be collisions.

[2022-09-07 20:43] ashdelta1023 commented on #676
This worked for me, thank you!

[2022-09-07 22:42] gblotter commented on #1217
I'm interested in accomplishing the same thing.

It looks like this issue was half-way-solved (i.e. you asked for a terminal output to help you troubleshoot and it got dropped there).  I guess at the heart of it, I've got a similar need - I want a to generate art for predetermined numbers of attributes in a layer that add up to X.

[2022-09-08 16:14] bolshoytoster commented on #1217
@LorenzoElenkov

Could you share your modifications if possible for @gblotter please.

[2022-09-09 05:58] Rheyner opened #1388 "npm run geneate not working and I already use node v14.18.2. How I fix this?"
This is the code when I put npm run generate after the npm install

(node:16896) UnhandledPromiseRejectionWarning: Error: out of memory
    at setSource (C:\Users\LENOVO\Documents\GitHub\hashlips_art_engine\node_modules\canvas\lib\image.js:94:13)
    at Image.set (C:\Users\LENOVO\Documents\GitHub\hashlips_art_engine\node_modules\canvas\lib\image.js:65:9)
    at C:\Users\LENOVO\Documents\GitHub\has

[2022-09-09 06:21] Rheyner opened #1389 "I put more than 90 traits in one folder and when I generate it this will be the result: "Error: out of memory""
PS C:\Users\LENOVO\Music\hashlips_art_engine-main> npm run generate

Error: out of memory: C:\Users\LENOVO\Music\hashlips_art_engine-main/layers/Background/Aquamarine.png
Error: out of memory: C:\Users\LENOVO\Music\hashlips_art_engine-main/layers/Background/Army Green.png
Error: out of memory: C:\Users\LENOVO\Music\hashlips_art_engine-main/layers/Background/Gray.png
Error: out of memory: C:\Users\

[2022-09-09 11:52] NikosCha opened #1390 "Support for conditions."
Hello,

I modified the code in order to support conditions.
It supports 3 types of conditions.

- **Colors**
You can exclude elements with specific colors according to a layers color. For example if the background color is red, then you can exclude blue and yellow elements of other layers.
It is as easy as this:
![Screenshot 2022-09-09 at 2 36 58 PM](https://user-images.githubusercontent.com/36039

[2022-09-09 14:43] bolshoytoster commented on #1388
@Rheyner the error is nothing to do with your node version, it says `Error: out of memory`.

Try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine), it uses less memory if you don't have enough.

[2022-09-09 14:47] bolshoytoster commented on #1390
@NikosCha hashlips hasn't been in this repo for ~half a year, so a PR probably won't get merged.

You could open a PR to [my fork](https://github.com/bolshoytoster/hashlips_art_engine) if you add some documentation to `README.md`, the content of this issue should do.

[2022-09-10 15:43] jia-ayo opened #1393 "1 in a collection of 10000"
I want to make a specific trait only show once all through the art generation process
so in the whole collection it only show s once

[2022-09-10 16:36] bolshoytoster commented on #1393
@jia-ayo you could have another `layersConfiguration` with that trait and `growEditionSizeTo: 1`, then set `shuffleLayerConfigurations` to `true`.

[2022-09-10 16:39] jia-ayo commented on #1393
How do i do that pls

[2022-09-11 02:55] jia-ayo commented on #1393
ccause i got undiefiend and it kept on reading that after i set the growth for both but it only read  the second layersconfig growth

[2022-09-11 08:38] bolshoytoster commented on #1393
@jia-ayo oh yeah, that's an issue with the main repo, I've fixed it in [my repo](https://github.com/bolshoytoster/hashlips_art_engine)

[2022-09-11 08:40] jia-ayo commented on #1393
But I have changed my repo to allow exception and combination  of  attributes

[2022-09-11 08:45] jia-ayo commented on #1393
Thanks I have checked the repo

[2022-09-13 07:26] Xerphyl opened #1394 "npm i canvas not working"
npm ERR! code 1
npm ERR! path C:\Users\steph\Downloads\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build --update-binary
npm ERR! Failed to execute 'C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js configure --fal

[2022-09-13 15:21] bolshoytoster commented on #1394
@Xerphyl downgrade node.

[2022-09-13 16:13] Amanade32 commented on #1388
hey buddy @bolshoytoster what does it mean??
what am i doing wrong?
zsh: command not found: nvm
amanade@Amans-MBP hashlips_art_engine-main % npm install
npm WARN hashlips_art_engine@1.1.1 No repository field.

audited 66 packages in 0.796s

6 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

amanade@Amans-MBP hashlips_art_engine-main % npm run generate

layers

[2022-09-13 16:54] bolshoytoster commented on #1388
@Amanade32 make sure you've copied over your `src/config.js` and that it's definetely saved.

[2022-09-13 17:05] Amanade32 commented on #1388
yeah i did it over there

[2022-09-13 17:15] Amanade32 commented on #1388
thanks alot mate @bolshoytoster i didn't saved that's why it was showing issues.

[2022-09-13 20:54] AwkwardEffect commented on #615
Figured out that the hidden .ini files that windows puts in was the problem. It kept trying to read it as a layer file. I removed those and have had no further issue.

[2022-09-14 01:46] 01espada commented on #1010
I had the same issue but I do this workaround:
Dont Import the folder where you have your 9999 files, instead, create a new folder in IPFS
 Inside that new folder import the firsts 250 files,
wait a sew seconds and then import other 250 files......

[2022-09-14 04:53] Xerphyl commented on #1394
what version can i use for this

[2022-09-14 06:40] TimeKeyRoll commented on #1104
Hey! I have this error. How do i fix this?

[code]

[2022-09-14 07:17] yash30401 opened #1395 "blurr"
how can i add blur effect on my nfts that are being generated?

[2022-09-14 13:43] MoriSushi opened #1396 "can you add more traits?"
Can you add more traits such as personalities or abilities?

[2022-09-14 13:45] MoriSushi commented on #1396
On Open sea it would be shown as "Level"

[2022-09-14 16:13] bolshoytoster commented on #1394
@Xerphyl I think version 17 might work, otherwise try older versions.

[2022-09-14 16:20] bolshoytoster commented on #1104
@MasterofBlockchain did you get any errors running `npm install`? You should probably open an issue in the repo you got the code from, presumably [this](https://github.com/PatrickAlphaC/hardhat-erc20-fcc).

[2022-09-14 16:21] bolshoytoster commented on #1395
@yash30401 you could apply a blur effect to the source images in your image editor.

[2022-09-14 16:23] bolshoytoster commented on #1396
@MoriSushi you could have an extra layer the same as the rest just with 'empty' images.

[2022-09-14 16:42] TimeKeyRoll commented on #1104
Thanks! I have figured. Newer hardhat version ain't compatible with it. So I have had to go back to th elder version which made it work.

[2022-09-15 10:41] MoriSushi commented on #1396
But then the "personalities" will be shown in the same section as their traits. Which will make things look unprofessional and confusing. Do you have any solutions to that by any chance?

[2022-09-15 16:41] bolshoytoster commented on #1396
@MoriSushi you could add it to your `extraMetadata` as a getter, something like this:
[code]

[2022-09-15 22:05] h4yha commented on #1363
yea `node-canvas` binaries are breaking on node 18.0.0+

try dumping the node version, im using `v14.18.2` and it works for me

[2022-09-16 09:09] yash30401 opened #1397 "rarities"
how can I see the rarity of an nft?
is it in the metadata? but I can't find it

[2022-09-16 10:34] KunanonJ opened #1398 "M2 problems can't use"

[2022-09-16 15:42] bolshoytoster commented on #1397
@yash30401 it is not stored anywhere. You could calculate it yourself though by multiplying the rarities (as fractions) of it's traits.

[2022-09-17 15:14] imjxlian commented on #1394
I had the same problem on MacOS, just run this command to install the dependencies for canvas : `brew install pkg-config cairo pango libpng jpeg giflib librsvg pixman`

[2022-09-20 06:07] Arulthas05 commented on #787
at Function.Module._resolveFilename (internal/modules/cjs/loader.js:902:15)
    at Function.Module._load (internal/modules/cjs/loader.js:746:27)
    at Module.require (internal/modules/cjs/loader.js:974:19)
    at require (internal/modules/cjs/helpers.js:101:18)

please help

[2022-09-20 14:44] bolshoytoster commented on #787
@Arulthas05 can you please paste the **FULL** error here please.

[2022-09-21 01:14] Vegannx opened #1399 "Reveal not working after I refresh metadata"
Please help

[2022-09-23 10:57] martaGonz opened #1400 "change token id"
is there a way to start the collection with token id #0 instead of 1 ?

[2022-09-23 16:54] bolshoytoster commented on #1400
@martaGonz you could set `network` in `stc/config.js` to `NETWORK.sol` or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) and set `startEditionFrom` to 0 the same way you set `growEditionSizeTo`.

[2022-09-23 22:47] jimsabo opened #1401 "If filename contains only numbers, all other files in layer are ignored"
I had a layer with three files in it:
2021.png
2022.png
Old School.png

When I run the generator, it never uses the file Old School.png. If I rename 2021.png to '21.png, then it only uses 2022.png

I've worked around this by renaming the two files '21.png and '22.png, but it would be good to resolve this.

[2022-09-23 23:13] bolshoytoster commented on #1401
@jimsabo I think it's interpreting the `2022` as a weight (the bit that goes after the `#`)

You could probably work around this by adding weights to every image, i.e. `2021#1.png`, `2022#1.png`, `Old School#1.png`.

[2022-09-24 00:16] jimsabo commented on #1401
That looks like what's happening-- I had a bunch of generic files in another layer, and it treated each as a weight instead of just a file. Here's the rarity data:

Trait type: Number
{
  trait: '11',
  weight: '11',
  occurrence: '34 in 876 editions (3.88 %)'
}
{
  trait: '12',
  weight: '12',
  occurrence: '50 in 876 editions (5.71 %)'
}
{
  trait: '13',
  weight: '13',
  occurrence: '36 in 876

[2022-09-24 00:32] jimsabo commented on #1401
Turned out to be relatively simple-- I rewrote getRarityWeight as follows:

`const getRarityWeight = (_str) => {
  let nameWithoutExtension = _str.slice(0, -4);

  // Don't assign a weight unless the filename has a # in it
  if (!nameWithoutExtension.includes('#')) {
    nameWithoutWeight = 1;
    return nameWithoutWeight;
  }

  var nameWithoutWeight = Number(
    nameWithoutExtension.split(rarit

[2022-09-25 15:18] Thebks opened #1402 "How to stop auto reset of the editionCount?"
I have 10 different designs and of each, I want to make 1000 NFTS but when I try to create another 1000 its just deletes the previous collection and makes a new one. I  change the code a little bit just so it doesn't delete the 'build' folder and add files to it but then the editionCount always starts from 1. I can't print all 10,000 at once I have to print 1000/design.

The editionCount should st

[2022-09-25 15:19] Thebks commented on #1402
I hope I'm being clear

[2022-09-25 17:10] bolshoytoster commented on #1402
@Thebks [my fork](https://github.com/bolshoytoster/hashlips_art_engine) does this, you set `growEditionSize` to the next size (i.e. `2000` for the second one).

Couldn't you have each design as a seperate `layersConfiguration`, then you could also shuffle the designs.

[2022-09-25 19:14] Thebks commented on #1402
@bolshoytoster  I could do that but that would still mix up the layers since they have the same folder names. I will check your fork out and will let you know if it works for me. Thank You

[2022-09-26 04:47] Megalithic1990 opened #1403 "Error: out of memory - but I have got 40 GB of ram"
When I tried this art generator 5 months ago, everything was smooth.

Rebooting this project today, I had to deal with a huge amount of errors. Understandable. I got to fix all of them but this error below is killing me.

When building VS code only uses about 500mb of ram and total computer memory usage is around 1.5 GB. I have around 40 GB of ram. I don't get what to do. I tried running it from w

[2022-09-26 06:54] bolshoytoster commented on #1403
@Megalithic1990 you could try running node with `--max-old-space-size=4096`, where 4096 is the memory limit to give node in MB (by default it's only ~2GB).

[2022-09-26 08:24] akash2621 opened #1404 "Please Help me this rarity calculation"
Traits Link
https://docs.google.com/spreadsheets/d/1IjPirzw_X-6Xk8CUQ4PiIIKY9Qn2Aex180_l_Thn6N8/edit?usp=sharing

[2022-09-26 14:15] Thebks commented on #1402
@bolshoytoster Wow You just solved my problem just like that and saved me some time. You Program clearly solves the `editionCount` problem that I had. I just have to have to move the 1st batch to a different folder to make another batch otherwise it says `Edition exists!`. That is not a problem I can do that.
Thank You so much.

[2022-09-26 14:15] #1402 closed, assigned to nobody

[2022-09-26 16:20] bolshoytoster commented on #1404
@akash2621 what do you need help with?

[2022-09-26 16:24] bolshoytoster commented on #1402
@Thebks the `Edition exists!` is just info, you could instead set `startEditionFrom` (the same way you set `growEditionSize`) to the starting number of the next batch to avoid the messages.

[2022-09-26 16:33] Megalithic1990 commented on #1403
Forgive me, I am an absolute noob when it comes to such advanced level programming. I tried to use the you gave like the following

**node --max-old-space-size=4096**

When I use that, I get the following
C:\Users\User\Desktop\hashlips_art_engine-1.1.2_patch_v6>node --max-old-space-size=4096
Welcome to Node.js v16.17.1.
Type ".help" for more information.

.break    Sometimes you get stuck, this ge

[2022-09-26 16:40] bolshoytoster commented on #1403
@Megalithic1990 try running `node --max-old-space-size=4096 index.js` to run hashlips (you can also try increasing the `4096`, it was just an example).

[2022-09-26 16:49] Thebks commented on #1402
Alright, I'll try that.

[2022-09-26 16:50] Megalithic1990 commented on #1403
@bolshoytoster  So I tried with

node --max-old-space-size=16384 index.js

and I was aiming to make 7500. It fails at 150 generations and says Error out of memory.

[2022-09-26 17:03] bolshoytoster commented on #1403
@Megalithic1990 odd, you could try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine), which uses a lot less memory.

[2022-09-27 04:36] akash2621 commented on #1404
I don't know how to calculate traits by weight. Can anyone help me with that?
I have arranged them by percentage. But it has as many traits as I want. It comes more than that.

I want to make a total of 1940 nft. And I have total of 6 layers. I have placed one layer of calculation in the excel sheet. If someone helps me in that weight calculation, I will calculate the second layer in my own way.

[2022-09-27 13:18] Megalithic1990 commented on #1403
@bolshoytoster Thank you for that suggestion. After trying it out I was able to find out the issue.

Apparently, there was a faulty image in one of my folders. It would be impossible to detect among so many other files. But using "my fork", it threw the same old "out of memory" error but only this time it was giving me a file name with its location. I removed the file and tried generating again in

[2022-09-27 14:42] bolshoytoster commented on #1404
@akash2621 you can just use the numbers you put in  `No. Of Each Traits`. Note that you won't get those exact amounts, but it should be close.

[2022-09-27 14:45] bolshoytoster commented on #1403
@Megalithic1990 you're welcome.

By "my fork", I meant it's the fork of hashlips that I own (basiically hashlips with my patches).

[2022-09-28 10:15] Bobacuk opened #1405 "Please help with random layer selection"
Hello, there is such a problem, for some reason the same background layer is selected, how to make it so that there is a random choice of layers in each group?

[2022-09-28 14:51] bolshoytoster commented on #1405
@Bobacuk do you mean that only one image is used? If so, make sure all of the other background images have weights (the bit after the `#` in the names). You should also try generating a bigger collection.

[2022-09-30 14:07] NewGuest5 opened #1406 "node index.js not working"
Error: Cannot find module 'C:\Users\21266\Downloads\NFTs Generative Art\hashlips_art_engine-1.1.2_patch_v6/constants/network.js'
Require stack:
- C:\Users\21266\Downloads\NFTs Generative Art\hashlips_art_engine-1.1.2_patch_v6\src\main.js
- C:\Users\21266\Downloads\NFTs Generative Art\hashlips_art_engine-1.1.2_patch_v6\index.js
    at Function.Module._resolveFilename (node:internal/modules/cjs/load

[2022-09-30 15:23] 0xraidenz commented on #1115
Thanks for sharing, it sucessfully helps me install all dependecies. However, when I tried to run `yarn generate`, is showed the error `symbol not found in flat namespace '_cairo_fill'`. So I searched the result and found the answer here `https://github.com/metaplex-foundation/metaplex/issues/1271` which indicated that `14.18.2` node version is the solution. So I used `nvm` to switch to `v14.18.2`

[2022-09-30 16:53] Megalithic1990 commented on #1403
@bolshoytoster Good thing you are around! haha. Cheers my friend.

[2022-09-30 17:03] ipv6freely commented on #1115
I don't know what "yarn" is, but no v14.18.2 is not the correct solution. Happy it worked for you, though.

[2022-09-30 17:23] bolshoytoster commented on #1406
@NewGuest5 there's supposed to be a `constants/` folder with the file [`network.js`](https://raw.githubusercontent.com/HashLips/hashlips_art_engine/main/constants/network.js) in it, you could either redownload hashlips or make them yourself.

[2022-09-30 17:24] bolshoytoster commented on #1115
@ipv6freely `yarn` is a popular alternative to `npm`.

[2022-10-01 23:58] DavidPFMedia opened #1407 "Coding for First Time (nps run generate Not Working)"
Hello, everyone. This is my first time coding anything; the most I have learned of this is via codeSTACKr.

I have an issue in trying to generate the NFT art I have created, and I came across this problem.

[code]

I did follow in every direction on that youtube channel, but I still am missing something. I am in need of assistance. Thanks a gain for any tips, help, or suggestions. Thank you.

[2022-10-02 02:04] DavidPFMedia commented on #1407
Nevermind. Turns out I just have a spelling error. One of the folder names in the Layers folder doesn't match the code.

[2022-10-02 05:20] Jashvants opened #1408 "cant found file"
solvedddd

[2022-10-02 05:23] #1408 closed, assigned to nobody

[2022-10-02 14:21] NewGuest5 commented on #1406
thank you

[2022-10-03 12:05] steveDL commented on #1108
Hey Does this not mean it would be able to create duplicates though?

[2022-10-04 06:04] lanyusan opened #1409 "Can I use your sample layers/traits in a project?"
Hello,

I am developing a proprietary potentially commercial product that mixes design layers to generate arts.  It is not limited to NFT. And the generation code is built by ourselves.

This product will provide a few sample projects. I am wondering if we could use your sample layers/traits in our project.

We will give credit to and link to this repo.

Thanks

[2022-10-04 14:54] bolshoytoster commented on #1108
@steveDL no, it won't create duplicates, but that means it would take quite a while to create a large collection.

[2022-10-04 14:56] bolshoytoster commented on #1409
@lanyusan
@HashLips hasn't been on this repo since february, it's probably best to find a different way to contact them.

[2022-10-05 13:37] lanyusan commented on #1409
Thanks.

[2022-10-06 03:03] bryanveIoso commented on #1409
Yeah looks like an abandoned repo. Oh noes.

[2022-10-06 18:06] bolshoytoster commented on #1409
@bryanveIoso I still maintain [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-10-07 07:12] Tusardutta opened #1410 "Metaplex version ??"
In this video 👇👇 which version of metaplex was used
`https://youtu.be/S7ZgRxeqRDY`

[2022-10-08 13:39] thVoidy commented on #874
Thanks for sharing this, was looking for exactly that subfolder / layer solution! Works like a charm!

[2022-10-10 15:11] omm-prakash opened #1412 "Getting Syntax Error Just after Cloning"
Getting the below error while running `node index.js`

[code]

### The code was run just after cloning and showed the above error. I am not able to debug the same.
Please guide me to resolve the same.

[2022-10-10 19:04] bolshoytoster commented on #1412
@omm-prakash either upgrade your node.js or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-10-11 07:47] Jumpman329 commented on #1188
It just creates 20. I should have enough elements to create 50,000 unique
images. layersConfigurations:

const layerConfigurations = [
{
growEditionSizeTo: 100,
layersOrder: [
{ name: "Backgrounds" },
{ name: "Outline" },
{ name: "Outfits" },
{ name: "Hairstyles" },
{ name: "Glasses" },
{ name: "Accessories" },
],

On Fri, May 20, 2022 at 2:01 PM bolshoytoster ***@***.***>
wrote:

[2022-10-11 07:49] Jumpman329 commented on #1188
What do I do if it says permission denied?

On Mon, May 30, 2022 at 10:47 AM bolshoytoster ***@***.***>
wrote:

[2022-10-11 08:32] Niviere commented on #251
And this for only for each map right?

On 30 May 2022, at 22:24, bolshoytoster ***@***.***> wrote:

﻿

@Niviere<https://github.com/Niviere> yes, but they don't need to add up to 100.

—
Reply to this email directly, view it on GitHub<https://github.com/HashLips/hashlips_art_engine/issues/251#issuecomment-1141458053>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AZMXLYNL67XAN6F4

[2022-10-11 08:32] dgf1 commented on #917
Many thanks for replying. I will try that today. Really excited about doing this, have a great day Daniel!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 09 March 2022 08:16
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] Newbe needs help. (Issue #917)

@dgf1<https://github.com/dgf1> it looks like yo

[2022-10-11 09:08] bolshoytoster commented on #1188
@Jumpman329

can you paste the full error here please.

And make sure you save `src/config.js`.

[2022-10-11 09:10] bolshoytoster commented on #251
@Niviere

Do you mean layer?

[2022-10-11 09:13] Jumpman329 commented on #1188
Wow, that solved it. Thank you so much! It now says I don't have
enough elements to generate 10k, which is surprising because I have 4
layers with 10 elements in each plus an additional layer with 5 elements in
it. Shouldn't that be enough or am I missing something?

On Fri, May 20, 2022 at 4:45 PM bolshoytoster ***@***.***>
wrote:

[2022-10-11 14:46] bolshoytoster commented on #1188
@Jumpman329 it probably just runs inyo too many duplicates. You could add a `//` to the start of line ~418 in `src/main.js`:

https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L417-L419

To make it never give up (you'll probably be generating for longer though.

[2022-10-11 16:26] yassinibn opened #1413 "help with npm install issue"
PS C:\Users\lenovo\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> npm install

added 66 packages, and audited 67 packages in 9m

6 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

[2022-10-11 16:32] bolshoytoster commented on #1413
@yassinibn that's just info, there's no issue.

[2022-10-12 20:10] niki538 opened #1414 "I get this error when i run "npm install""
npm ERR! code 1
npm ERR! path C:\Users\Niki\Desktop\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build --update-binary
npm ERR! Warning: Missing input files:
npm ERR! C:\GTK\bin\libglib-2.0-0.dll
npm ERR! C:\GTK\bin\libpangowin32-1.0-0.dll
npm ERR! C:\GTK\bin\libgthread-2.0-0.

[2022-10-12 21:55] MatthewTvv opened #1415 "I get this, donìt really know what to do"
C:\Users\matte\Desktop\hashlips_art_engine-main> npm i
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\matte\Desktop\hashlips_art_engine-main\package.json'
npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\matte\Desktop\hashlips_art_engine-main\package.json'
npm WARN hashlips_art_engine-main No description
npm WARN hashlips_art_engine-main No repository field.

[2022-10-12 21:57] MatthewTvv opened #1416 "Index.Js Error"
C:\Users\matte\Desktop\hashlips_art_engine-main>node idex.js
internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module 'C:\Users\matte\Desktop\hashlips_art_engine-main\idex.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:880:15)
    at Function.Module._load (internal/modules/cjs/loader.js:725:27)
    at Function.executeUserEntryPoint [as runMain] (i

[2022-10-13 04:00] DavidPFMedia opened #1417 "NFT Minting Catch Error"
If everyone has the same problem as I am (not exact, but similar), please let me know how to resolve this.  This is my first time coding this to try to mint my NFTs that I have created, and so far it's been rather difficult. Half the time I don't know what I'm doing without tutorials that were as far as March of this year when rinkby's was a thing. This is the error I came across trying to mint my

[2022-10-13 07:10] bolshoytoster commented on #1414
@niki538 you need to downgrade your node.js

[2022-10-13 07:13] bolshoytoster commented on #1415
@MatthewTvv you probably just need to change into the right folder. Run `dir` to get the name (probably `hashlips_art_engine-main`) then run `cd ` + the name.

[2022-10-13 07:14] bolshoytoster commented on #1416
@MatthewTvv see [my comment on your other issue](https://github.com/HashLips/hashlips_art_engine/issues/1415#issuecomment-1277135203) and you need to spell `index.js` correctly.

[2022-10-13 07:27] bolshoytoster commented on #1417
@DavidPFMedia http error 422 means 'Unprocessable Entity'. http error 429 means 'Too Many Requests'.

You should open an issue on [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection/issues) because that's where you got the code from.

[2022-10-13 10:06] xiaohuihui1113 commented on #841
Hello, have you solved this problem?

[2022-10-13 12:01] niki538 commented on #1414
@bolshoytoster what release of node.js do i need?

[2022-10-13 12:27] bolshoytoster commented on #1414
@niki538 v102 or less, which won't mean a lot to you, just try downgrading.

[2022-10-13 16:56] DavidPFMedia commented on #1417
Thanks a lot! I have opened the issue there just now. Hopefully, I could get some answers and helpful suggestions there!

[2022-10-13 19:42] DavidPFMedia commented on #1417
Thanks for the help, but I'll have to start over.

[2022-10-13 19:43] DavidPFMedia commented on #1417
Thanks for the help, but I'll have to start over.

[2022-10-13 19:43] #1417 closed, assigned to nobody

[2022-10-13 19:44] DavidPFMedia commented on #1407
Thanks for the help, but I'll have to start over.

[2022-10-13 19:44] #1407 closed, assigned to nobody

[2022-10-14 22:40] amritabithi commented on #1414
Try Node version 14.18.2 :

[code]

If you need to install nvm ( Node Version Manager ):

[code]

[2022-10-15 00:42] bolshoytoster commented on #1414
@amritabithi

@niki538 is on windows, so probably doesn't have access to bash, sudo or apt.

It's probably easiest to just uninstall and reinstall 14.18.2

[2022-10-15 02:33] amritabithi commented on #1414
@niki538  You may want to try this program for Windows to manage node versions, it is recommended by Microsoft, NPM and Google:

https://github.com/coreybutler/nvm-windows

[2022-10-15 21:49] Billyboom321 opened #1418 "Terms not being recognized"
Hi! At first, I did manage to get everything working properly, but after closing visual studio code and trying to use the program again, none of the terms are being recognized. After typing "node -v", which should tell me which version of node.js I have downloading, but instead I get this message:

node : The term 'node' is not recognized as the name of a cmdlet, function, script file, or operable

[2022-10-15 22:08] bolshoytoster commented on #1418
@Billyboom321 you need to install node.js to be able to run it.

[2022-10-15 22:55] Billyboom321 commented on #1418
@bolshoytoster I do have node.js installed. The version I am using is 14.18.2 for win 64.
I was able to get everything working before even with my own assests, but now for some reason when ever I try using it again, it's refusing to work

[2022-10-15 22:56] bolshoytoster commented on #1418
@Billyboom321 try uninstalling and reinstalling node.

[2022-10-15 23:06] Billyboom321 commented on #1418
@bolshoytoster Okay, I just installed the newest version, and the terms are working now. I'll see if I can mess around and get the older version working. Thanks!

[2022-10-16 03:01] advra commented on #1219
@bolshoytoster I deleted `_metadata.json` then ran `node ./utils/update_info.js` as you suggested but I get the error below. Are you certain we were supposed to delete the metadata?

[code]

[2022-10-16 08:20] bolshoytoster commented on #1219
@advra yes, you need to replace your `utils/update_info.js` with [mine](https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js)

[2022-10-16 10:31] advra commented on #1219
I apologize. I misread. I was looking for a script which re-generated the images using existing json metadata not regenerate metadata itself.

[2022-10-16 10:55] bolshoytoster commented on #1219
@advra there isn't a script to do that because the image filenames aren't stored in the metadata.

[2022-10-16 16:28] Tusardutta opened #1419 "Big problem help me please"
Error running command (re-run needed): Failed to deploy all config lines, 32 error(s) occurred:
=> Transaction error: error sending request for url (https://api.mainnet-beta.solana.com/): error trying to connect: tcp connect error: No connection could be made because the target machine actively refused it. (os error 10061)

Caused by:
    0: error sending request for url (https://api.mainnet-beta.

[2022-10-16 16:30] bolshoytoster commented on #1419
@Tusardutta try the solution given on [this blog](http://blogs.ajithbhat.com/2010/06/tcp-error-code-10061-no-connection.html).

[2022-10-16 19:17] faustoandreabellucci opened #1420 "Index.js Error and nmp install Error (I have already tried to solve the problem reported by other people but nothing :( ) :( 3 days"
hello sorry for the inconvenience. I have had this problem for 3 days. i have tried uninstalling and reinstalling everything many times. the error is always the same.

Index.js

throw err;
  ^

he don't find the module

Why ?
///
the directory is right. is the Hash Lips folder.
///
can you help me?

I leave you what comes out ->

| | | | | | | | | |

PS C:\Users\Zebra\OneDrive\Desktop\hashlips_art

[2022-10-16 20:09] faustoandreabellucci commented on #1420
I'm not good at these things.
////////////////
even when i run npm install it gives me problems.
///////////////

i show the ERROR ->
npm ERR! code 1
npm ERR! path C:\Users\Faust\OneDrive\Desktop\hashlips_art_engine-main\hashlips_art_engine-main\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! Failed

[2022-10-16 20:16] faustoandreabellucci commented on #1420
Please give me the commands to run :(

[2022-10-16 20:59] bolshoytoster commented on #1420
@faustoandreabellucci you need to either downgrade your node.js or install python.

[2022-10-16 22:56] advra commented on #1219
@bolshoytoster Strange. This makes back testing almost impossible. Truly the filenames could be stored in metadata for development purposes like regression testing when artist changes graphics, The additional data would then be removed using another script to to finalize the metadata.

[2022-10-17 15:19] faustoandreabellucci commented on #1420
@bolshoytoster thanks for your answer. I downgraded the Node js version to 17.0 and installed python as you said. npm install Done |V|.

 but when I do

node index.js gives me an error because it can't find the module

PS C:\Users\Faust\OneDrive\Desktop\hashlips_art_engine-main> node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\Faust\OneDrive\

[2022-10-17 15:21] bolshoytoster commented on #1420
@faustoandreabellucci you need to run `cd hashlips_art_engine-main` again first.

[2022-10-17 15:24] faustoandreabellucci commented on #1420
@bolshoytoster

thanks again for the answer. I don't understand he asks me again for npm install but now he doesn't accept it

PS C:\Users\Faust\OneDrive\Desktop\hashlips_art_engine-main> cd hashlips_art_engine-main
PS C:\Users\Faust\OneDrive\Desktop\hashlips_art_engine-main\hashlips_art_engine-main> node index.js
You need to run npm install
PS C:\Users\Faust\OneDrive\Desktop\hashlips_art_engine-m

[2022-10-17 15:26] bolshoytoster commented on #1420
@faustoandreabellucci try uninstalling node and reinstalling a lower version.

[2022-10-17 15:31] faustoandreabellucci commented on #1420
@bolshoytoster
Awww thank you so much bro :D DONE :D yeeee thank youuu

PS C:\Users\Faust\OneDrive\Desktop\hashlips_art_engine-main\hashlips_art_engine-main> node -v
v14.17.3
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!

[canvas] Success: "C:\Users\Faust\OneDrive\Desktop

[2022-10-18 15:09] bawtman commented on #1420
Is better to use node version manager to change node versions, It allows you to keep several versions as well as change between them on a per folder bases. This way we don't brake other node files within our development environment.
For example:
[code]
[code]
[code]
That last command ls-remote gives you a list of all versions you can download for use. This can be done on a per folder/project bases

[2022-10-18 15:11] bolshoytoster commented on #1420
@bawtman only really useful if you use multiple node programs that require different versions.

[2022-10-21 01:34] airmagg opened #1421 "Curious as to why the quality of the generated image drops significantly?"
I changed the code to fit the background width and heigh of the photoshop size:

const format = {
  width: 550,
  height: 500,
  smoothing: false,
};

But when I generate it, the quality goes from one to two.

<img width="657" alt="Screen Shot 2022-10-20 at 9 32 22 PM" src="https://user-images.githubusercontent.com/116323514/197090575-3e081ec3-e747-4d13-81ff-95ac78a55aa6.png">

<img width="515" al

[2022-10-21 06:39] bolshoytoster commented on #1421
@airmagg make sure that all of the source images are 550x500 (or a multiple of that), otherwise they won't be as accurate (lower quality).

[2022-10-22 12:31] ramirez3rg commented on #483
Anyone Successfully get the text to populate on images? I've been playing around with the code but haven't had any luck on this one.

[2022-10-22 13:53] ramirez3rg commented on #827
@sendilvip The code provides for Text insert of name on top. left similar to the generative-art-opensource-main build. That one does it by default. On this one I have not been able to get it to work.

[2022-10-23 10:07] umer007khan commented on #1416
@bolshoytoster your old comments are not helpful. Please, provide step by step guidance of above mentioned issue. Thanks.

[2022-10-23 10:18] bolshoytoster commented on #1416
@umer007khan
- Run `dir`
- The output should have a line like this:
[code]
in the command prompt or
[code]
in powershell

The name there will depend on how you downloaded hashlips and the version you did.

- Take that name and run `cd {the name}`
- You should be in the right place

You'll have to do that every time you open a new terminal, or:

This issue is usually caused when unzipping, people s

[2022-10-23 11:22] umer007khan commented on #1416
**@bolshoytoster**  ### Sir, Thanks for guidance. i have solved another issue  (https://github.com/HashLips/hashlips_art_engine/issues/651) by following your old guidance.

[2022-10-24 01:36] Bippetybop commented on #476
Hi, many thanks for the generator, i have done some test images on the new updated version 2.0.02 today and all my mages are doubling up on traits and overlapping each other but only on eyes, mouth and nose. I have 13 layers but the image overlap is only happennig on the same 3 layers.  Is there a way to fix this ? I didnt have this problem with version 2.0.0. Can anyone please advise me to fix it

[2022-10-24 01:37] Bippetybop commented on #476
If I go back to version 2.0.0 I have issues with puppeteer and can't use it anymore.

[2022-10-24 08:23] PotatoStewer opened #1422 "How to change my image resolution"
Hi, I have trouble on the resolution of my image that has been generated. I wanted my image to have higher resolution such the same as my layers (around 5-7 mb each), and when I ran the model it reduces my resolutions, so I wanted to ask where can I change my option on resolution? thank you!!!!!

[2022-10-24 09:27] bolshoytoster commented on #476
@Bippetybop have you got your `layersOrder`s in the right order? Make sure eyes, mouth and nose are right.

[2022-10-24 09:29] bolshoytoster commented on #1422
@PotatoStewer in `src/config.js`, you can set `format.width` and `format.height` to the resolution of your source images.
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L47

[2022-10-24 10:32] Bippetybop commented on #476
Hi, thanks for replying, it made me double check my files and i hadnt deleted the extra layers after copy snd pasting them for renaming so had duplicated these. Seems to be ok now Thank you !! 😊

[2022-10-25 02:47] PotatoStewer opened #1423 "How can I add more attributes"
So in the json file the attributes are adjusted to the names of different layers, I want to add a display type of "string", the value or the specific name of the layer as "value", and the percentage rarity of the layers. Am I able to do it via the engine?
Thank you!

[2022-10-25 09:50] bolshoytoster commented on #1423
@PotatoStewer you could have another layer but just have all of the images blank.

[2022-10-25 09:57] PotatoStewer commented on #1423
But would that just add a new trait type and value?
I wanted to add a "display_type" to it
How would I able to do that?

"display_type": "string",
      "trait_type": "Background",
      "value": "Army Green",
      "percentage": "5.56%"

Thank you!

[2022-10-25 11:01] bolshoytoster commented on #1423
@PotatoStewer oh, you'd probably have to add something like:
[code]
to line ~178 in `src/main.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L178-L179

That would only work if your weights on each layer added up to 100, otherwise the percentage will have to be calculated which takes effort (this):

---

You can calculate the percentag

[2022-10-25 11:25] PotatoStewer commented on #1423
Awesome, that answers my questions, thank you!!

[2022-10-25 11:25] #1423 closed, assigned to nobody

[2022-10-25 15:34] totalnoobzxc commented on #977
komp@MBP-Chigur hashlips_art_engine-1.1.2_patch_v6 % npm i -g npm-upgrade
npm ERR! code EACCES
npm ERR! syscall mkdir
npm ERR! path /usr/local/lib/node_modules/npm-upgrade
npm ERR! errno -13
npm ERR! Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/npm-upgrade'
npm ERR!  [Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/npm-upgrade'] {
npm ERR!   errno: -13,

[2022-10-25 16:35] Shifufu12 opened #1424 "I type npm install and its do to me error"
node-pre-gyp ERR! install response status 404 Not Found on https://github.com/Automattic/node-canvas/releases/download/v2.8.0/canvas-v2.8.0-node-v83-win32-unknown-ia32.tar.gz
node-pre-gyp WARN Pre-built binaries not installable for canvas@2.8.0 and node@14.18.2 (node-v83 ABI, unknown) (falling back to source compile with node-gyp)
node-pre-gyp WARN Hit error response status 404 Not Found on https:

[2022-10-25 16:37] Shifufu12 commented on #1424
I tried to find a way to fix it but I don't find it.
Can somebody here help me pls.

[2022-10-25 19:05] bolshoytoster commented on #977
@totalnoobzxc if you're trying to install something globally (`-g`), you need write permissions for `/usr/local/lib` (run `sudo npm i -g npm-upgrade` instead).

[2022-10-25 19:12] bolshoytoster commented on #1424
@Shifufu12 try making sure you've installed the 64 bit and not the 32 bit version of node.

Out of interest, could you paste the output of running `wmic os get osarchitecture` if that doen't work.

[2022-10-25 19:22] bawtman commented on #1424
Hi @Shifufu12 , It looks to me like it can't find python. Do you know if its installed. Can check with >>python --version maybe

[2022-10-25 19:23] bolshoytoster commented on #1424
@bawtman it only needs python if they want to build canvas themselves.

[2022-10-25 19:27] bawtman commented on #1424
@bolshoytoster ok well when I saw the node-pre-gyp it made me think it was required for that to not complain.

[2022-10-25 19:29] bolshoytoster commented on #1424
@bawtman they may have to compile anyway it if they have a 32-bit processor.

[2022-10-25 20:51] totalnoobzxc commented on #977
I did use command you said sudo npm i -g npm-upgrade

And then I tried to use npm install :
komp@MBP-Chigur hashlips_art_engine-1.1.2_patch_v6 % npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This i

[2022-10-25 20:53] totalnoobzxc commented on #977
npm run build command err:
komp@MBP-Chigur hashlips_art_engine-1.1.2_patch_v6 % npm run build

node:internal/modules/cjs/loader:998
  throw err;
  ^

Error: Cannot find module '/Users/komp/Documents/hashlips_art_engine-1.1.2_patch_v6/node_modules/sha1'
Require stack:
- /Users/komp/Documents/hashlips_art_engine-1.1.2_patch_v6/src/main.js
- /Users/komp/Documents/hashlips_art_engine-1.1.2_patch_v6/in

[2022-10-25 20:53] bolshoytoster commented on #977
@totalnoobzxc try downgrading your node.

[2022-10-25 20:54] totalnoobzxc commented on #977
how lul

[2022-10-25 20:54] totalnoobzxc commented on #977
большой тостер сос!!

[2022-10-25 20:54] bolshoytoster commented on #977
@totalnoobzxc uninstall it and redownload a lower version.

[2022-10-25 20:55] totalnoobzxc commented on #977
there's only one version o vscode

[2022-10-25 20:57] bolshoytoster commented on #977
@totalnoobzxc you can get older versions from https://nodejs.org.

[2022-10-25 21:44] totalnoobzxc commented on #977
Installed v16.10
Tried command npm install:

omp@MBP-Chigur hashlips_art_engine-1.1.2_patch_v6 % npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WA

[2022-10-25 22:50] cryptodeveloperbro commented on #615
load the image folders in something like WINDIRSTAT the file deletion program, its free.  Windows doesnt always show hidden files like "thumbs.db" so you can DELETE them using this program, it 100% fixes the issue

[2022-10-26 08:50] bolshoytoster commented on #977
@totalnoobzxc this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-10-26 13:03] MDMWINS opened #1425 "Art Engine stops at 3500 want to do a 10K NFT series"
This has happened 2 times now, have a fast PC - what is the issue. please help!

[2022-10-26 16:13] bolshoytoster commented on #1425
@MDMWINS can you paste the last few lines of the output here please, and make sure you save `src/config.js`.

[2022-10-26 18:26] lcrostarosa commented on #1394
See the pull request I wrote - I set up a docker environment + updated readme. This issue seems to be around M1 macs because they use ARM instead of AMD processing architecture

[2022-10-26 20:23] airmagg opened #1426 "Whenever generating starts after a random amount of images created it stops."
It started doing this a couple times before I used to be able to generate upto 500 images and their metadata no problem.
However now I come across this error whenever I try to generate anything.

(node:4296) UnhandledPromiseRejectionWarning: Error: error while reading from input stream
    at setSource (/Users/magnusguzman/Downloads/hashlips_art_engine-1.1.2_patch_v6/node_modules/canvas/lib/image.

[2022-10-26 21:11] bolshoytoster commented on #1426
@airmagg if you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine), it will tell you what file is causing the issue. It's probably just a non-image file in one of your layer folders.

[2022-10-27 01:48] airmagg commented on #1426
Thank you so much, I looked in layers and some of the files were just misput/mispelt.

[2022-10-27 01:49] airmagg opened #1427 "How to Scroll to top of Terminal?"
<img width="1440" alt="Screen Shot 2022-10-26 at 9 48 50 PM" src="https://user-images.githubusercontent.com/116323514/198172057-7ff4cfa6-9cef-4c7a-8185-35f2838fbb47.png">

I get to the top of the terminal and can't scroll any higher, but I need to see the rarity of all my traits.

Is there a command that will help me get to the top?

[2022-10-27 02:38] totalnoobzxc commented on #977
komp@MBP-Chigur hashlips_art_engine-1.1.2_patch_v6 % sudo npm i -g npm-upgrade
npm WARN deprecated @types/keyv@4.2.0: This is a stub types definition. keyv provides its own type definitions, so you do not need this installed.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated libnpmconfig@1.2.1: This module is not used anymore. npm config is parsed by

[2022-10-27 08:09] Shifufu12 commented on #1424
@bolshoytoster thank you its working

[2022-10-27 10:52] bolshoytoster commented on #1427
@airmagg terminals only allow so much scrollback (due to memory concerns). You could add ` >rarity.json` to the end of your command to write it to a file, then you could open it in any text editor.

[2022-10-27 12:57] MDMWINS commented on #1425
Hiya
PC Specs are these
pc Processor: Intel® Core™ i7-6700 CPU @ 3.40GHz 3.40 GHz Installeret RAM: 32,0 GB Systemtype: 64-bit operativsystem, x64-baseret processor Windows 10 Home
Cant seem to find the config.js file?
[Öppna fotot]

Från: bolshoytoster ***@***.***>
Skickat: den 26 oktober 2022 18:13
Till: HashLips/hashlips_art_engine ***@***.***>
Kopia: MDMWINS ***@***.***>; Mention ***@***.***>
Ä

[2022-10-27 13:00] bolshoytoster commented on #1425
@MDMWINS

It's the one with your `layersConfigurations` in.

Can you please paste the last few lines of output from generating here.

[2022-10-27 13:42] MDMWINS commented on #1425
ah see artist has used this one https://github.com/HashLips/hashlips_art_engine_ps_script/issues will raise issue there instead

[2022-10-27 13:44] #1425 closed, assigned to nobody

[2022-10-27 13:44] MDMWINS commented on #1425
moved to https://github.com/HashLips/hashlips_art_engine_ps_script/issues/5

[2022-10-27 15:30] Shifufu12 commented on #1311
@bolshoytoster I have a problem and when I install:
npm WARN hashlips_art_engine@1.1.1 No repository field.

audited 71 packages in 0.702s

6 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

[2022-10-27 15:57] Shifufu12 opened #1428 "I have a error when I type node index.js"
(node:41044) UnhandledPromiseRejectionWarning: Error: ENOENT, No such file or directory 'C:\Users\momo3\OneDrive\שולחן העבודה\Project\hashlips_art_engine-1.1.2_patch_v6/layers/Backgrounds/park.png'
    at setSource (C:\Users\momo3\OneDrive\שולחן העבודה\Project\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas\lib\image.js:94:13)
    at Image.set (C:\Users\momo3\OneDrive\שולחן העבודה\Project\h

[2022-10-27 17:46] bolshoytoster commented on #1428
@Shifufu12 your path contains non-ascii characters in it (שולחן העבודה), try moving your project to just `C:/Users/momo3/OneDrive/`

[2022-10-27 20:01] luncht3am opened #1429 "Bingo card generation"
Is there a way to generate a collection of bingo cards with 24 squares pulling from the same image folder. So that none of the traits replicate in any of the squares per card?

[2022-10-27 20:05] bolshoytoster commented on #1429
@luncht3am it would probably be easiest to write you own program for this.

[2022-10-28 06:19] Shifufu12 commented on #1428
@bolshoytoster I swear I love you its working

[2022-10-30 10:49] siriwiz opened #1430 "Can I specify that I don't want something in the layer mouth?"
![Screenshot 2022-10-30 174500](https://user-images.githubusercontent.com/101368969/198874637-15a7f168-e04a-4cd0-8b91-cc158b54b7f6.png)

[2022-10-30 14:27] Zundra1 opened #1431 "Can I exclude Background Layer when counting on rarity?"
Once I started generating I noticed that I have same picture but only different backgrounds..
Is there a way to Exclude background or make code ignore background layer so I could make unique images without repeating same elements on different backgrounds?

[2022-10-30 15:02] bolshoytoster commented on #1431
@Zundra1 you can use `options.bypassDNA` [as shown in the README](https://github.com/HashLips/hashlips_art_engine#usage-%E2%84%B9%EF%B8%8F).

[2022-10-30 15:27] Zundra1 commented on #1431
@bolshoytoster what should I change inside that, sorry if its stupid question but im new to this coding thing i dont know very well how to do it xD

 bypassDNA:
      layerObj.options?.["bypassDNA"] !== undefined
        ? layerObj.options?.["bypassDNA"]
        : true,

[2022-10-30 15:30] bolshoytoster commented on #1431
@Zundra1 have a look at the example:
[code]

[2022-10-30 17:40] Zundra1 commented on #1431
@bolshoytoster
![Screenshot (2)](https://user-images.githubusercontent.com/117024997/198892963-c81e96ba-db7c-4fff-8ce5-83d292d07af2.png)
I'm doing something wrong probably.. I don't know what I did wrong

[2022-10-30 17:43] bolshoytoster commented on #1431
@Zundra1 sorry, my fault, change the `false` to `true` and remove the `;`.

[2022-10-30 17:46] Zundra1 commented on #1431
@bolshoytoster I did i still have 8 problems, sorry for being boring about this

[2022-10-30 17:47] Zundra1 commented on #1431
@bolshoytoster Is it maybe because I'm using older version 1.1.1 ?

[2022-10-30 17:49] bolshoytoster commented on #1431
@Zundra1 it won't be to do with version, remove the `{` at the endo of line 29 and remove one of the `}`s on line 33.

[2022-10-30 17:52] Zundra1 commented on #1431
@bolshoytoster  It worked!! thank you so much bro <3

[2022-10-30 17:59] #1431 closed, assigned to nobody

[2022-10-31 01:29] Noman1079 opened #1432 "need advice on file format, measurements, and size"
Hi,

I am an artist working on an NFT project. I will use Master HashLips' art engine to generate 10000 images. Before starting the project I have seek advice from this wonderful community:

1. I would like to draw my art images in illustrator so that I will be able to draw high quality images with lower size. Is it OK to use illustrator.
2. Using Illustrator how can I save/export those assets/ima

[2022-10-31 08:40] bolshoytoster commented on #1432
@Noman1079
1. That is OK.

2&3. You can export the image as svg, jpeg, png, pdf and probably a few others.
If you want to use svg images though you might have to make sure you have librsvg installed (which is platform dependant).

4. You can export images as svg, but because of the way canvas works, they will be pixelated.
You can change the file dimensions in `src/config.js` under `const format =

[2022-10-31 22:13] oluwa-dev commented on #1371
I think the best way to fix this is to generate the base characters differently and mix them up later. For instance, if you're generating 10,000 arts. Generate 5,000 for each base and add them together after generating

[2022-11-02 01:28] Noman1079 commented on #1432
Thankyou, i will export files in svg format. can you share something about librsvg for windows. some installation or user manual?

[2022-11-02 13:00] mrjod opened #1433 "Metadata"
Is there a way to pause and later continue from where it stoped metadata ?

Or if I already have some of the metadata, would it be possible to grow my NFT size , based on those metadata? And not having to start again ?

for instance I want to generate a 5000 collection ,
And I already have 1000 of metadata
Can i start the continuation from 1001 and not having to start again

[2022-11-02 16:21] bolshoytoster commented on #1432
@Noman1079 you should be fine without installing it using hashlips.

[2022-11-02 16:22] bolshoytoster commented on #1433
@mrjod you can do this by default on [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-11-02 17:53] mrjod commented on #1433
Ohhh awesome how do I go about it please ?

[2022-11-02 17:53] mrjod commented on #1433
@bolshoytoster how do I go about it ?

[2022-11-02 18:15] bolshoytoster commented on #1433
@mrjod [download my fork](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip), extract it, copy your `src/config.js` and `layers/` over from the main hashlips then you can run it the same as with hashlips.

[2022-11-04 04:11] Noman1079 commented on #1432
thankyou 🥇

[2022-11-04 12:22] onurrrs opened #1434 "pm ERR! code 1 pls help"
I got that error I cant fix it. It was working before my old laptop and now I cant fix.
pm ERR! code 1
npm ERR! path C:\Users\PERSONAL\Desktop\hashlips_art_engine-main\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! Failed to execute 'C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_mod

[2022-11-04 15:54] Don-Chich opened #1435 "npm run generate issue"
Hi guys, Just having an issue whenever i run npm run generate. Was working fine last week. Any help would be much appreciated. Thanks

(node:25048) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'replace' of undefined
    at removeQueryStrings (D:\Generated assets\Generated assests\Furs Gen\hashlips_art_engine-1.1.2_patch_v6\src\main.js:274:15)
    at cleanDna (D:\Generated asse

[2022-11-04 15:58] bolshoytoster commented on #1434
@onurrrs try downgrading your node.js.

[2022-11-04 15:59] Don-Chich commented on #1435
Using node ver 14.18.2

[2022-11-04 16:01] bolshoytoster commented on #1435
@Don-Chich you could try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead.

[2022-11-04 16:17] Don-Chich commented on #1435
@bolshoytoster Tried your fork, no error message anymore but doesn't generate either

PS C:\Users\trov9\Downloads\hashlips_art_engine-main(1)\hashlips_art_engine-main> npm run generate

Just stays like that after entering command

[2022-11-04 16:26] bolshoytoster commented on #1435
@Don-Chich it might be loading images? You could try adding `console.log('Loading edition ' + i)`at the end of [`src/main.js` line ~454](https://github.com/bolshoytoster/hashlips_art_engine/blob/132f9861fe68ad2a229f9aa863dca0f41ed86e67/src/main.js#L453-L455).

[2022-11-04 16:39] Don-Chich commented on #1435
@bolshoytoster added console.log('Loading edition ' + i) to line 454. It shows it loading edition x, supply is set to 90 and images loading is at 400+. Just keeps loading.

[2022-11-04 16:41] bolshoytoster commented on #1435
@Don-Chich could you paste your `layersConfigurations` here please?

[2022-11-04 16:55] Don-Chich commented on #1435
![Screenshot (114)](https://user-images.githubusercontent.com/104963440/200032130-0dbdb5d6-900d-4d17-a3db-5f8595a6cd9e.png)

[2022-11-04 16:59] bolshoytoster commented on #1435
@Don-Chich could you paste the bit from `src/config.js` that you changed please.

The long time could be due to the number of layers you have.

[2022-11-04 17:01] Don-Chich commented on #1435
{
    growEditionSizeTo: 10,
    layersOrder: [
     { name: "Background" },
     { name: "Arms F" },
     { name: "Body F" },
     { name: "Neck F" },
     { name: "Neck Shadow" },
     { name: "Face F", },
     { name: "Eye F", },
     { name: "Nose F", },
     { name: "Mouth F", },
     { name: "Head F", },
    ],
   },
   {
    growEditionSizeTo: 20,
    layersOrder: [
     { name: "Background

[2022-11-04 17:04] Don-Chich commented on #1435
Will it have to load edition every time?

[2022-11-04 17:06] bolshoytoster commented on #1435
@Don-Chich you may have misunderstood `growEditionSizeTo`, it's meant to be the size of that edition (so if you wanted 90 images you'd need to set each of them to `10`). Your current configuration is trying to generate 450 images.

[2022-11-04 17:15] Don-Chich commented on #1435
@bolshoytoster ah i see, Thought layer growtheditionsize was staggered like v 1.1.2. It's generating now, Absolute legend. Any reason as to what the go was with original issue?

[2022-11-04 17:25] bolshoytoster commented on #1435
@Don-Chich I think the original issue was due to a layer's weigts all being 0, but I might be wrong, my fork fixes that.

[2022-11-04 17:36] Don-Chich commented on #1435
@bolshoytoster lol you were right. i forgot to add layers within the some of the folders. The original generator is working now as well. Time to get some sleep. Thanks again.

[2022-11-04 22:05] #1435 closed, assigned to nobody

[2022-11-06 13:58] puppetofsmut opened #1436 "I have been getting this error every time i try to run engine Very frustrating"
t

[therooster_any_cock_L_doo@fedora hashlips_art_engine-1.1.2_patch_v6]$ npm run generate

node:internal/modules/cjs/loader:998
  throw err;
  ^

Error: Cannot find module '/home/therooster_any_cock_L_doo/Downloads/hashlips_art_engine-1.1.2_patch_v6/node_modules/sha1'
Require stack:
- /home/therooster_any_cock_L_doo/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js
- /home/therooster_any_c

[2022-11-06 16:59] bolshoytoster commented on #1436
@puppetofsmut you need to run `npm install` first.

[2022-11-06 18:59] puppetofsmut commented on #1436
i have npm installed

[2022-11-06 19:00] puppetofsmut commented on #1436
oh before i do anything?

[2022-11-06 19:00] bolshoytoster commented on #1436
@puppetofsmut

yes, before you can generate.

[2022-11-06 19:03] puppetofsmut commented on #1436
Node.js v19.0.1
[therooster_any_cock_L_doo@fedora hashlips_art_engine]$ npm -v
8.5.0
[therooster_any_cock_L_doo@fedora hashlips_art_engine]$ npm run generate

node:internal/modules/cjs/loader:1243
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The module '/home/therooster_any_cock_L_doo/hashlips_art_engine/node_modules/canvas/build/Release/canvas.node'

[2022-11-06 19:05] puppetofsmut commented on #1436
i didnt have this trouble first time using this art engine i dont really no coding so im lost

[2022-11-06 19:05] bolshoytoster commented on #1436
@puppetofsmut did you change your node.js version between running `npm install` and now?

[2022-11-06 19:06] puppetofsmut commented on #1436
yes a bunch of times

[2022-11-06 19:07] bolshoytoster commented on #1436
@puppetofsmut you need to stay with one version. Delete the `node_modules/` folder and run `npm install` again.

[2022-11-06 19:07] puppetofsmut commented on #1436
i thoiught i had too cause of the error

[2022-11-06 19:07] puppetofsmut commented on #1436
oh ok thats it?

[2022-11-06 19:10] puppetofsmut commented on #1436
Node.js v19.0.1
[therooster_any_cock_L_doo@fedora hashlips_art_engine]$ npm -v
8.5.0
[therooster_any_cock_L_doo@fedora hashlips_art_engine]$ npm run generate

node:internal/modules/cjs/loader:1243
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The module '/home/therooster_any_cock_L_doo/hashlips_art_engine/node_modules/canvas/build/Release/canvas.node'

[2022-11-06 19:11] puppetofsmut commented on #1436
yah i deleted that folder and this came up
i have three different versions of art engine do ineed to delete folder from all of them ?

[2022-11-06 19:12] bolshoytoster commented on #1436
@puppetofsmut you could try deleting all of them.

[2022-11-06 19:14] puppetofsmut commented on #1436
im giving up on this  its boring and frustrating now thanks for trying to help though

[2022-11-06 19:15] #1436 closed, assigned to nobody

[2022-11-07 16:44] hafizvy6 opened #1437 "unsupported image type"
Error: Unsupported image type
    at setSource (C:\Users\Hafiz\hashlips_art_engine\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\Hafiz\hashlips_art_engine\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\Hafiz\hashlips_art_engine\node_modules\canvas\index.js:34:15
    at new Promise (<anonymous>)
    at loadImage (C:\Users\Hafiz\hashlips_art_engine\node_modules\canvas\in

[2022-11-07 16:45] hafizvy6 commented on #1428
I am getting this error, any solutions please
Error: Unsupported image type
    at setSource (C:\Users\Hafiz\hashlips_art_engine\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\Hafiz\hashlips_art_engine\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\Hafiz\hashlips_art_engine\node_modules\canvas\index.js:34:15
    at new Promise (<anonymous>)
    at loadImage (C:\Users\Ha

[2022-11-07 17:01] bolshoytoster commented on #1437
@hafizvy6 make sure there are no non-image files in your layer folders. [My fork](https://github.com/bolshoytoster/hashlips_art_engine) will tell you which files are causing this error.

[2022-11-07 17:24] hafizvy6 commented on #1437
how do I exactly use your fork

[2022-11-07 17:27] bolshoytoster commented on #1437
@hafizvy6 same way you use hashlips, you can download a zip [here](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip).

[2022-11-08 00:54] FuManchuBarber commented on #1436
You are using the wrong version of node v14.17.0 works

[2022-11-08 09:35] ryans7856 opened #1438 "getting err after npm install"
PS C:\Users\USER\Downloads\hashlips_art_engine-1.1.2_patch_v6> npm install
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\USER\Downloads\hashlips_art_engine-1.1.2_patch_v6\package.json'
npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\USER\Downloads\hashlips_art_engine-1.1.2_patc

[2022-11-08 12:40] UsmanKhan172014 commented on #1126
Hi I am also working on it and still unable to find a way to add nft as 1/1 unique. Does somebody found the solution of this?
how manually we can do it? and which attribute needs to be added?

[2022-11-08 16:51] hafizvy6 commented on #1437
@bolshoytoster
Why there is no error in hashlips layers only error with my layers?

[2022-11-08 17:26] hafizvy6 commented on #1437
Thank you bro, error got solved But couldn't create 10k only 2.5k , my project is having 4 traits and each layer how much images needed?

[2022-11-08 19:46] somoscosmos opened #1439 "I think one of the big differences I'm seeing is that the code in the video doesn't have this section in it, but when I copied it Hash Lips, it was already built in there."
I think one of the big differences I'm seeing is that the code in the video doesn't have this section in it, but when I copied it Hash Lips, it was already built in there.

![image](https://user-images.githubusercontent.com/93851742/141040826-edff1ebc-849e-400d-be7f-1cf4edb051ee.png)

Can I just delete this section out or will it not matter if it's in there so long as I post to polygon network?

_

[2022-11-08 20:53] bolshoytoster commented on #1438
@ryans7856 try running `cd hashlips_art_engine-1.1.2_patch_v6` first.

[2022-11-08 20:56] bolshoytoster commented on #1126
@UsmanKhan172014 you can add the image to `build/images/`, then add an extra 'object' to `build/json/_metadata.json` (you could copy/paste an existing object and change the relevant values). Then run `node utils/update_info.js` to generate it's individual metadata file.

[2022-11-08 21:39] bolshoytoster commented on #1437
@hafizvy6 you can multiply together the number of images in each layer to get the max collection size, i.e:
1 image per layer - 1 * 1 * 1 * 1 = 1 image
2 images ... - 2 * 2 * 2 * 2 = 16 images
4 images ... - 4 * 4 ... = 256 images
8 images ... - 8 * 8 ... = 4k images
16 images ... - 16 * 16 ... = 65k images

(If you want to use the same number of images per layer, you could use [this](https://late

[2022-11-08 21:41] bolshoytoster commented on #1439
@somoscosmos it isn't used unless you use solana. You can delete it if you want to.

[2022-11-08 21:42] UsmanKhan172014 commented on #1126
@bolshoytoster thanks bro but I think I wasn't able to convey my question successfully.
What I am trying to say is "which attribute will tell us that this is a special/legendary nft? Or is it general and we can define it latter that it is special edition or limited or 1-of-1 nft"

[2022-11-08 21:47] bolshoytoster commented on #1126
@UsmanKhan172014 oh sorry, in `build/json/_metadata.json` you could change `name` or even add your own attribute.

[2022-11-10 08:14] BILLFuYiWei opened #1440 "有人能帮忙看一下这是什么问题吗？"
MacBook-Pro hashlips_art_engine-main % yarn install
yarn install v1.22.17
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistencies caused by unsynchronized lock files. To clear this warning, remove package-lock.json.
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching pa

[2022-11-10 17:13] bolshoytoster commented on #1440
@BILLFuYiWei this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-11-11 14:45] PhrygianX opened #1441 "node index.js err"
Hello , when I run the cmd node index.js , that what happen

PS C:\Users\DELL\Desktop\Hashlibs\ART\hashlips_art_engine-1.1.2_patch_v6> node index.js
node:internal/modules/cjs/loader:998
  throw err;
  ^

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- C:\Users\DELL\Desktop\Hashlibs\ART\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas\lib\bindings.js
- C:\Users\DELL\

[2022-11-11 14:49] PhrygianX commented on #1406
@NewGuest5 did u fix it ?

[2022-11-11 15:45] streamlifehd opened #1442 "Help me"
@Cyanic76
Help me
Error: Cannot find module 'D:\discord-modmail-master\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
    at node:internal/main/run_main_module:17:47 {
  code: 'MODULE_NOT_FOUND'

[2022-11-11 15:47] bolshoytoster commented on #1441
@PhrygianX did you get any errors running `npm`/`yarn` ` install`? Could you run `npm install` again and paste the output here please.

[2022-11-11 15:49] bolshoytoster commented on #1442
@streamlifehd you're in the wrong folder, make sure your terminal or whetever you used to open it it opened on something like `hashlips_art_engine-main`.

[2022-11-11 15:53] streamlifehd commented on #1442
how

[2022-11-11 15:54] bolshoytoster commented on #1442
@streamlifehd how are you opening your terminal?

[2022-11-11 15:55] streamlifehd commented on #1442
with Visual Studio Code

[2022-11-11 15:58] bolshoytoster commented on #1442
@streamlifehd you could close visual studio and make sure you open the hashlips folder, which will look something like `hashlips_art_engine-main`.

[2022-11-11 16:03] streamlifehd commented on #1442
Error: Cannot find module 'D:\hashlips_art_engine-main\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
    at node:internal/main/run_main_module:17:47 {
  code: 'MODULE_NOT_FOUND',
  requireStack

[2022-11-11 16:04] bolshoytoster commented on #1442
@streamlifehd try running `cd hashlips_art_engine-main` first.

[2022-11-11 16:08] streamlifehd commented on #1442
Error: Cannot find module 'D:\hashlips_art_engine-main\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
    at node:internal/main/run_main_module:17:47 {
  code: 'MODULE_NOT_FOUND',
  requireStack

[2022-11-11 16:09] bolshoytoster commented on #1442
@streamlifehd did `cd` give an error? You need to be in the same terminal after running it.

[2022-11-11 16:11] streamlifehd commented on #1442
To see a list of supported npm commands, run:
  npm help
PS D:\hashlips_art_engine-main> npm run cd
npm ERR! Missing script: "cd"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\test\AppData\Local\npm-cache\_logs\2022-11-11T16_11_41_557Z-debug.log
PS D:\hashlips_art_engine-main>

[2022-11-11 16:12] bolshoytoster commented on #1442
@streamlifehd I meant `cd hashlips_art_engine-main`.

[2022-11-11 16:14] streamlifehd commented on #1442
PS D:\hashlips_art_engine-main> npm cd hashlips_art_engine-main
Unknown command: "cd"

To see a list of supported npm commands, run:
  npm help
PS D:\hashlips_art_engine-main>

[2022-11-11 16:14] bolshoytoster commented on #1442
@streamlifehd there's no npm, it's just `cd hashlips_art_engine-main`.

[2022-11-11 16:16] streamlifehd commented on #1442
a cmdlet, function, script file, or executable program.
Check the spelling of the name, or if the path is correct (if included),
and repeat the process.
In Line:1 Character:1
+ hashlips_art_engine-main
+ ~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo: ObjectNotFound: (hashlips_art_engine-main:String) [], CommandNo
   tFoundException
    + FullyQualifiedErrorId: CommandNotFoundException

[2022-11-11 16:17] bolshoytoster commented on #1442
@streamlifehd don't forget the `cd ` at the start.

[2022-11-11 16:19] streamlifehd commented on #1442
D:\hashlips_art_engine-main>cd hashlips_art_engine-main
The system can not find the path specified.

[2022-11-11 16:20] bolshoytoster commented on #1442
@streamlifehd ccould you paste the output of running `Get-ChildItem` please.

[2022-11-11 16:22] streamlifehd commented on #1442
D:\hashlips_art_engine-main>cd Get-ChildItem
The system can not find the path specified.

[2022-11-11 16:22] bolshoytoster commented on #1442
@streamlifehd without the `cd`.

[2022-11-11 16:23] streamlifehd commented on #1442
D:\hashlips_art_engine-main>Get-ChildItem
The Get-ChildItem command is either misspelled or
could not be found.

[2022-11-11 16:25] bolshoytoster commented on #1442
@streamlifehd oh, you're in the standard terminal. What about runnig `dir` instead.

[2022-11-11 16:27] streamlifehd commented on #1442
d----- 11.11.2022 16:25 .vscode
d----- 11.11.2022 16:10 mongo
-a---- 11/11/2022 16:13 460 config.json
-a---- 11/11/2022 16:10 1068 LICENSE
-a---- 11/11/2022 17:02 7637 main.js
-a---- 11/11/2022 16:26 549 package.json
-a---- 11/11/2022 16:10 20 Procfile
-a---- 2022-11-11 16:10 436 README.md
-a---- 11/11/2022 16:10 1002 strings.json

[2022-11-11 16:31] bolshoytoster commented on #1442
@streamlifehd are you sure you're using hashlips?

[2022-11-11 16:32] streamlifehd commented on #1442
where used

[2022-11-11 16:34] bolshoytoster commented on #1442
@streamlifehd what are you trying to do?

[2022-11-11 16:35] streamlifehd commented on #1442
to start it

[2022-11-11 16:35] bolshoytoster commented on #1442
@streamlifehd to start what?

[2022-11-11 16:36] streamlifehd commented on #1442
to fill the bot or what

[2022-11-11 16:37] bolshoytoster commented on #1442
@streamlifehd you're probably asking in the wrong place. Try reading the `README.md` file.

[2022-11-11 16:40] streamlifehd commented on #1442
Now or
Press ^C at any time to quit.
package name: (index)

[2022-11-11 16:43] streamlifehd commented on #1442
@bolshoytoster

[2022-11-11 16:44] bolshoytoster commented on #1442
@streamlifehd it looks like it's running. If you have any issues you should open them [on codeberg](https://codeberg.org/Cyanic76/discord-modmail/issues).

`^C` means `ctrl + c`.

[2022-11-11 17:00] streamlifehd commented on #1442
[main 2022-11-11T16:58:55.476Z] SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at u.doInit (D:\Microsoft VS Code\resources\app\out\vs\code\electron-main\main.js:45:15960)
    at async t.init (D:\Microsoft VS Code\resources\app\out\vs\code\electron-main\main.js:45:17063)
    at async Promise.all (index 1)
    at async Object.L [as settled] (D:\Microsoft VS Code\resour

[2022-11-11 17:02] streamlifehd commented on #1442
@bolshoytoster

[2022-11-11 17:04] bolshoytoster commented on #1442
@streamlifehd see the line
[code]
specifically:
[code]
Make sure your C drive has space available.

[2022-11-11 17:13] streamlifehd commented on #1442
what now

[2022-11-11 17:18] bolshoytoster commented on #1442
@streamlifehd I don't know, since I don't know what you're using.

It looks like it's running though.

[2022-11-12 02:44] babytata opened #1443 "npm ERR!"
Steps I took:
I downloaded
node-v14.18.2.pkg
mac instructed me to install Rosetta
Then after watching videos many times I thought that I need this file
I downloaded
node-v14.18.2.tar.xz
didn't install

babypyro@Willies-MacBook-Air hashlips_art_engine-1.1.2_patch_v6 % node -v
v14.18.2
babypyro@Willies-MacBook-Air hashlips_art_engine-1.1.2_patch_v6 % npm install

sh: node-pre-gyp: command not found

[2022-11-12 07:45] bolshoytoster commented on #1443
@babytata [this stackoverflow answer](https://stackoverflow.com/a/66875477) suggests running `npm install --unsafe-perm=true` instead.

[2022-11-12 11:46] PhrygianX commented on #1441
@bolshoytoster I already fix it thank you a lot , I just downgraded node vrs

[2022-11-12 12:58] NewGuest5 commented on #1406
@PhrygianX  yes i do

[2022-11-12 15:48] zainamroti commented on #1289
well, for me it was a nested folder in one of my main folders, that caused this issue, might help someone

[2022-11-12 16:44] streamlifehd commented on #1442
![Discord-Moderation-Bot-master – D__Discord-Moderation-Bot-master_venv_tokens txt 12 11 2022 17_44_36](https://user-images.githubusercontent.com/95542075/201484865-4c1647c7-1a1c-4754-8182-2ce68778dec9.png)
Help pls @bolshoytoster

[2022-11-12 17:03] Bippetybop commented on #611
Hi what is the rarity command ?
I've created a large batch and would like to try to see the percentages.
If anyone can reply it would be much appreciated thank you.

[2022-11-13 12:22] Cyanic76 commented on #1442
I'm not sure why I've been mentioned in this specific issue in this repository. According to the following path and [the mention I got](https://github.com/HashLips/hashlips_art_engine/issues/1442#issue-1445657211), it seems you're using my modmail.

I'm sorry you're having issues with it. However, if this is directly related to the modmail itself in any way, you should create an issue on the corre

[2022-11-13 12:28] onurrrs opened #1444 "My base sometime not showing"

[2022-11-13 12:30] bolshoytoster commented on #1442
@streamlifehd it looks like you're using [this](https://github.com/Column01/Discord-Moderation-Bot). [It looks like you have to have your token.txt at the root of the project, instead of under `venv/` like you have](https://github.com/Column01/Discord-Moderation-Bot/blob/be4cb21af069e5f9b7ce70a8fb3381c42ff0dc08/bot.py#L142-L146). You will probably also have to remove the `token:` as Cyanic76 said.

[2022-11-13 12:31] Cyanic76 commented on #1442
also why publish your token in clear here?

[2022-11-13 12:32] bolshoytoster commented on #611
@Bippetybop you can run either `node utils/rarity.js` or `npm run rarity`.

[2022-11-13 12:33] onurrrs commented on #1444
Hello there.
I did everything correctly but in some image base not showing most of them is correct but in some of them no base.
I did not understand why because everything is correct the names and others. You can see down there few images without base but I don't know how possible.
  {
    growEditionSizeTo: 100,
    layersOrder: [
      { name: "background" },
      { name: "weapon" },
      { na

[2022-11-13 12:36] bolshoytoster commented on #1444
@onurrrs you check the metadata files in `build/json/` corresponding to the ones with missing bases to see which base it's meant to be. It might just be an issue with one or a few source images.

[2022-11-13 12:44] onurrrs commented on #1444
I look at the JSON file but looks like everything is correct.I just have one base.That's my Json down. It was ok yesterday today its became this problem.
  "attributes": [
    {
      "trait_type": "background",
      "value": "orange"
    },
    {
      "trait_type": "weapon",
      "value": "righthooksword"
    },
    {
      "trait_type": "base",
      "value": "base"
    },
    {
      "trait_

[2022-11-13 12:50] bolshoytoster commented on #1444
@onurrrs weird, it looks like the background is missing from those ones as well.

What if you try generating with only the base?

[2022-11-13 12:53] onurrrs commented on #1444
I will try this now and yes its so weird.

[2022-11-13 12:58] onurrrs commented on #1444
nothing changes its same again.
Do I delete the art engine and do it in beginner do you thing it may change?

[2022-11-13 13:01] bolshoytoster commented on #1444
@onurrrs you could try doing that.

[2022-11-13 13:01] Cyanic76 commented on #1442
Also @streamlifehd it seems the token you published here is valid. You should create a new one within your bot application and [**keep it secret**](https://auth0.com/docs/secure/tokens/token-best-practices).

[2022-11-13 13:12] onurrrs commented on #1444
@bolshoytoster I delete and extract again the file but I getting the error
npm ERR! missing script: build

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\PERSONAL\AppData\Local\npm-cache\_logs\2022-11-13T13_11_05_316Z-debug.log
and when I tru npm install that happens
up to date, audited 1 package in 456ms

[2022-11-13 13:15] bolshoytoster commented on #1444
@onurrrs you're in the wrong folder. Run `cd hashlips_art_engine-main` to probably change to the right one.

[2022-11-13 13:29] onurrrs commented on #1444
@bolshoytoster It's the same No background no base still not showing in some. I don't no how to fix it's so weird now it's not even crating 20 it's stuck in 10 last image's name is undefined creating on underlined also.

[2022-11-13 13:30] bolshoytoster commented on #1444
@onurrrs you could try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead.

[2022-11-13 16:01] Jardiceeek opened #1445 "Error: Cannot find module"
Hello, iI created new terminal, installed npm and tried to generate 5 picture examples and it wrote me this error:
PS C:\Users\jara2\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> npm run generate

internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: Cannot find module 'C:\Users\jara2\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_pa

[2022-11-13 19:29] bolshoytoster commented on #1445
@Jardiceeek you need to run `npm install` first.

[2022-11-14 11:45] gregleibo-27 opened #1446 "Unsupported network ("truffle", chainId: 11155111)."
Seeing the below error when running yarn verify {{contractAddress}} --network truffle

Error in plugin @nomiclabs/hardhat-etherscan: Unsupported network ("truffle", chainId: 11155111).

[2022-11-14 16:10] bolshoytoster commented on #1446
@gregleibo-27 I believe this issue is related to [nft-erc721-collection](https://github.com/hashlips-lab/nft-erc721-collection), you should open an issue there instead.

[2022-11-14 21:14] Godfuzza opened #1447 "Generating NFTs via Visual Studio Code using existing JSON files"
Hey everyone,
is it possible to generate NFTs via Visual Studio Code using existing JSON files?

Normally I generate NFTs using "npm run generate". This command line generates NFTs according to the config file. Is it possible to reverse the process? I want to read out existing JSON files and generate NFTs according to the information in the JSON files.

The reason is that I just updated some of th

[2022-11-14 21:16] bolshoytoster commented on #1447
@Godfuzza no but you could try to implement it yourself. The main issue is that filenames aren't stored in the JSON files.

[2022-11-14 22:28] Godfuzza commented on #1447
Hey @bolshoytoster
thanx for your feedback. Logically it must be possible to revert the process. If I run a command that selects the layers by random, it should be possible to generate a command that reads out the JSON files and use the layer information to build the NFTs with the according layers.

[2022-11-14 22:31] bolshoytoster commented on #1447
@Godfuzza you'd have to either change the metadata format or just estimate with [globs](https://en.m.wikipedia.org/wiki/Glob_(programming))

[2022-11-14 22:42] Godfuzza commented on #1447
Hey @bolshoytoster,
I don't know if I was precise enough in my question. I am focussing on creating NFT images from the PNG image data (layers) via Visual Studio Code. This process runs randomly and differently each time. I would like to reverse the process and not create new random NFTs, but have a Command Line read the existing JSON files from the first run associated with the NFTs and regenerat

[2022-11-14 22:44] bolshoytoster commented on #1447
@Godfuzza yes, but the JSON files do not stire the full file names for the layers, so they would have to be estimated.

[2022-11-14 23:57] Godfuzza commented on #1443
Try running Visual Studio Code with activated Rosetta. That worked on my Mac M1

[2022-11-15 00:16] Godfuzza commented on #1447
@bolshoytoster now I got it. I checked it. You are right! The JSON just stores the filename w/o the hashtag rarity score and the syntax ending. Any workaround?

[2022-11-15 07:55] bolshoytoster commented on #1447
@Godfuzza in `src/main.js` ~line 178:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L177-L179

You could change the `selectedElement.name` to `selectedElement.filename`, then all of the collections you generate after that will have the full filename there instead.

Then you'd need another script to generate it, I could do this after schoo

[2022-11-15 10:01] Godfuzza commented on #1447
@bolshoytoster That's more coding than I expected. ;-) I am more the designer but I could try. If you would/could support me I could probably support you with something I am able to do – designwork – as an exchange so to say?

[2022-11-15 17:11] bolshoytoster commented on #1447
@Godfuzza

If you've changed the `value` as in my previous comment, you should be able to create a new file (something like `reverse.js`) (if you make the file in `src/` you'll have to add that when you run it) and add the following code:
[code]

Unfortunately it's not able to maintain layer opacity, blend or positioning (the ones defined in `src/config.js`) unless you added that to metadata as we

[2022-11-15 17:17] Godfuzza commented on #1447
Hey @bolshoytoster great stuff! Thanx, buddy. I will try this out later when I am back at home and see if it works. I guess I will have to copy the JSON folder with the json files into the build folder in Visual Studio Code and leave the IMAGES folder empty, right?

[2022-11-15 17:29] bolshoytoster commented on #1447
@Godfuzza

While you only need `build/json/_metadata.json`, you should probably copy the whole folder.

Yep, but make sure there is a `build/images`, since this script doesn't make it itself.

[2022-11-15 18:32] Godfuzza commented on #1447
hey @bolshoytoster
okay, I made a testrun. here is what happened:

I changed the value to "filenames" and created 10 Test-NFTs. That worked well. The changes are now in the metadata. Then I created the "reverse.js" with your code and ran it.

It only created 1 NFT in the images folder (the very last one of the collection). I think the routine simply overwrote the same file 10x and did not create 1

[2022-11-15 18:34] bolshoytoster commented on #1447
@Godfuzza what is the the image's name? Is it `undefined.png`?

16

[2022-11-15 18:35] Godfuzza commented on #1447
yes undefined.png

[2022-11-15 18:46] Godfuzza commented on #1447
@bolshoytoster
this was the terminal log:

Saved edition: undefined
Saved edition: undefined
Saved edition: undefined
Saved edition: undefined
Saved edition: undefined
Saved edition: undefined
Saved edition: undefined
Saved edition: undefined
Saved edition: undefined
Saved edition: undefined

[2022-11-15 18:51] bolshoytoster commented on #1447
@Godfuzza between the lines:
[code]
could you add `console.log(item);` and run it again?

[2022-11-15 18:56] Godfuzza commented on #1447
@bolshoytoster
This is how I added it:
![Bildschirmfoto 2022-11-15 um 19 55 09](https://user-images.githubusercontent.com/118221689/202002323-6f2c6e66-cc28-4bfe-b46e-a553d4a84f77.png)

I got this syntax error:
SyntaxError: missing ) after argument list
    at Object.compileFunction (node:vm:360:18)
    at wrapSafe (node:internal/modules/cjs/loader:1055:15)
    at Module._compile (node:internal/mod

[2022-11-15 18:57] bolshoytoster commented on #1447
@Godfuzza oh, add a `{` to the end of line 178 and a `}` to the start of line 181.

[2022-11-15 19:01] Godfuzza commented on #1447
@bolshoytoster
the terminal listed all the NFTs that it generated, but it ended up saving just the one (last) NFT.
![Bildschirmfoto 2022-11-15 um 20 01 11](https://user-images.githubusercontent.com/118221689/202003460-76df12ba-7708-43ba-8cc8-65d82c576200.png)

[2022-11-15 19:02] Godfuzza commented on #1447
… but it looks like you're getting closer, champion! ;-)

[2022-11-15 19:06] bolshoytoster commented on #1447
@Godfuzza could you paste a full object from the output?

[2022-11-15 19:11] Godfuzza commented on #1447
@bolshoytoster
do you mean the command lines from the terminal or the PNG file?

[2022-11-15 19:11] bolshoytoster commented on #1447
@Godfuzza the output in the terminal.

[2022-11-15 19:29] Godfuzza commented on #1447
@bolshoytoster
{
  name: 'tbd #1',
  description: tbds',
  file_url: 'ipfs://NewUriToReplace/1.png',
  custom_fields: {
    dna: '1df67b0f7113ae6bc2d21e2da1d16d1b8f8c14ee',
    edition: 1,
    date: 1668536516067,
    compiler: 'HashLips Art Engine'
  },
  attributes: [
    {
      trait_type: 'legendary',
      value: 'common#100.png',
      loadedImage: [Image]
    },
    {
      trait_type: 'ba

[2022-11-15 19:32] Godfuzza commented on #1447
@bolshoytoster

i probalbly see one problem here with the change to the filename for the display of the traits later in the metadata on opensea. The trait will then be named "black glasses#10.png" instead of "black glasses"

[2022-11-15 19:33] bolshoytoster commented on #1447
@Godfuzza try changing all occurances of `item.edition` with `item.custom_fields.edition`

[2022-11-15 19:39] Godfuzza commented on #1447
@bolshoytoster

*********YOU ARE THE MASTER********

You made it work!

[2022-11-15 19:40] Godfuzza commented on #1447
@bolshoytoster

Now I have to figure out, how I can change the values before I upload the metadata on opensea. Cause otherwise a trait will then be named "black glasses#10.png" instead of "black glasses"

[2022-11-15 19:47] bolshoytoster commented on #1447
@Godfuzza You could remove the line:
[code]
, change the line
[code]
to
[code]
, change the line
[code]
to just
[code]

That will remove unneccessary data.

---

Then add the lines
[code]
between the lines at the end:
[code]

And finally add
[code]
at the end.

That should update the metadata files and remove the `#.png`s.

[2022-11-15 19:59] Godfuzza commented on #1447
@bolshoytoster
can I add these new lines before I run the "reverse.js" or do I have to add these after I made the reversed NFT before uploading the metadata on opensea?

[2022-11-15 20:01] bolshoytoster commented on #1447
@Godfuzza it won't matter what order you do it, but it'll end up regenerating the same images again, which might take a while for a big collection.

[2022-11-15 20:10] Godfuzza commented on #1447
@bolshoytoster
time is not the problem. there is no rush atm. but two runs are mandatory right?
1. run > to reproduce the NFTs with the reverse.js file
2. run > to change the values back from "filename" to "name" in the JSON files in order not to end up with funny trait names like "black glasses#100"
Did I get that right? Or can I make the changes you sent in your last chat even before I run the r

[2022-11-15 20:13] bolshoytoster commented on #1447
@Godfuzza you only need to run it once, but multiple times won't break anything.

Yes.

[2022-11-15 20:14] Godfuzza commented on #1447
@bolshoytoster
okay got that. really appreciate you. are you an NFT collector?

[2022-11-15 20:15] bolshoytoster commented on #1447
@Godfuzza thank you

no

[2022-11-15 20:16] Godfuzza commented on #1447
@bolshoytoster
so how do you know all this stuff?

[2022-11-15 20:17] bolshoytoster commented on #1447
@Godfuzza it's just general programming.

[2022-11-15 20:22] Godfuzza commented on #1447
@bolshoytoster
you have solved one of my two personal challenges that I faced. You are very talented, bro! Especially for a 16-ys old programmer! Respect!

[2022-11-15 20:25] Godfuzza commented on #1447
@bolshoytoster
one more question concerning the metadata/json files:

When I run the config.js file I get metadata with the ending #100.png etc. The reverse file does not change the _metadata.json right? What did you mean that the new command lines will remove the endings then?

[2022-11-15 20:39] Godfuzza commented on #1447
@bolshoytoster
Hey I fixed it myself. I made two files: one for the reverse run and another one for the metadata cleaning. The only file that did not get "cleaned" is the _metadata.json file. Have to figure out, if that needs to be uploaded on opensea or just the json files of the NFTs.

[2022-11-16 04:46] jolt06 opened #1448 "running in to this err"
anyone have an idea of what i can do to fix this?

PS E:\nft project 5> npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR!

[2022-11-16 07:07] Godfuzza commented on #1447
@bolshoytoster

Hey bro, please let me know if and how I can repay you for your great work. I'm a graphic designer and I'm happy to assist if you need help or support with anything. I can also offer you a freemint spot in the collection if you'd be interested - you wrote that you're not actually an NFT collector.

May I call on your skills again on one last thing if necessary? Are you familiar wit

[2022-11-16 07:26] bolshoytoster commented on #1448
@jolt06 try downgrading your node.js.

[2022-11-16 07:41] bolshoytoster commented on #1447
@Godfuzza

It's ok.

I know you could run either `node utils/rarity.js` or `npm run rarity` in hashlips which will output the rarity of each trait, but I think [openrarity](https://www.openrarity.dev/) is probably the best choice since I'm not sure how metadata is used when they're uploaded, despite the fact that I can't see any useful documentation.

UK.

[2022-11-16 07:46] Godfuzza commented on #1447
@bolshoytoster
It's strange … if I run the commands all the rarities are shown with "0" occurrence …

 trait: 'can weed purple blue tongue',
  weight: '1',
  occurrence: '0 in 300 editions (0.00 %)'
}
{
  trait: 'can weed purple pink tongue',
  weight: '1',
  occurrence: '0 in 300 editions (0.00 %)'
}
{
  trait: 'can weed purple',
  weight: '1',
  occurrence: '0 in 300 editions (0.00 %)'
}
{
  tra