[2022-01-30 08:49] RequiemDreams commented on #592
I'm getting the same issue have you guys been able to fix it? would be great if you could shed some light I've tried everything from re-exporting images with different dimensions and using different versions and looking through config.js and main.js I've been trying to get past this for the last 4 days straight spending countless hours.

[2022-01-30 09:13] ismailmuller commented on #612
Same for me on a macbook pro m1

[2022-01-30 09:28] CineEncoder opened #631 "The generated JSON metadata files do not contain the creator of the collection"
Hello!
Tell me please why the generated JSON metadata files do not contain the creator of the collection?
despite the fact that in config.js the creator is specified in the solanaMetadata field.

[2022-01-30 10:33] RequiemDreams commented on #600
having the same issue could someone please shed some light been trying to fix for last 4 days

[2022-01-30 10:33] bolshoytoster commented on #625
Could you give a full log please?

[2022-01-30 10:35] RequiemDreams commented on #594
having same issue any fixes you would be a good send been tryna work this out for last 4 days it's as if each image has same proportion size and are covering one another

[2022-01-30 10:39] RequiemDreams commented on #601
having the same issue and have been unable to resolve if you have any information would be greatly appreciated

![Screenshot (24)](https://user-images.githubusercontent.com/98503217/151696221-b8564e8b-f56c-40c6-a13a-6cf5647cb4f8.png)
![Screenshot (24)](https://user-images.githubusercontent.com/98503217/151696222-d24c283a-ad9e-4eb4-8b99-6a84261356e8.png)

[2022-01-30 11:02] bolshoytoster commented on #620
It looks like the error can be caused by this function:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/src/main.js#L282-L304
If all weights are 0. Make sure you [set your weights](https://github.com/HashLips/hashlips_art_engine#usage-%E2%84%B9%EF%B8%8F) and they aren’t all 0.

[2022-01-30 11:09] TaiseerRakiinAhad commented on #592
Hey! Yes I've been able to solve it now finally. There's no problem with the code. The problem is that you're supposed to save every layer individually (with only that particular layer visible) by going to File>export as>PNG. There you can save the whole canvas as 1000 by 1000 pixel (or any pixel size you want). Just be sure to keep the same pixel size for all layers. Shortcut to save layers is (C

[2022-01-30 11:17] RequiemDreams commented on #592
Ohhh that makes so much sense now thank you so much reexporting all my images now your the best appreciate it boss yes helped me a lot I’ve like reexported 20 times by only clicking images I wasn’t gonna crack till I fixed it but I totally was thinking it was a code error at this point thanks again:)

[2022-01-30 11:21] TaiseerRakiinAhad commented on #592
I feel you mate. I was at it for 3 days for countless hours, trynna look for older versions of the code where i can set the perimeters individually, trynna code it myself etc. I was getting exhausted. Then thankfully i came across a YouTube video and understood the problem! 😂 Cheers mate! Happy NFTing.

[2022-01-30 11:38] cagri27 opened #632 "NOK: Minting limit exceed on polygon Retrying"
I did everyting right but when i go to terminal and run: node utils/nftport/mint.js
at first it is going well and minting NFTs. but after minting 140 NFTs it says; NOK: Minting limit exceed on polygon Retrying

How can i solve this issue?

[2022-01-30 11:40] kritzien commented on #625
Hey. Thank you for your reply. I believe it is not the software issue, but
rather server-end response. Because today I have been able to upload the
desired amount ( a couple of thousands) jsons without any problems or
errors. Probably the server load on Saturday was immense and it failed to
read the incoming packages time to time. I will test it for several days
and if the issue repeats, I will gi

[2022-01-30 12:40] luangjokaj commented on #375
Had the same issue but managed to fix it in macOS ✅

I just installed these packages: `brew install pkg-config cairo pango libpng jpeg giflib librsvg` and everything worked as expected. I think node canvas requires them in order to work properly.

I'm running on Apple Silicon.

[2022-01-30 12:44] RequiemDreams commented on #592
Unfortunately I return with both good and bad news my images are no longer a cluttered mess however now they only show 1 layer now and not multiple here are examples:

![image](https://user-images.githubusercontent.com/98503217/151699934-2776904b-7fbb-4aa0-99d6-116d1c2eea05.jpg)

![image](https://user-images.githubusercontent.com/98503217/151699961-80acea47-85d9-4cf4-adf0-ca1cba152107.jpg)

Apolog

[2022-01-30 12:51] adzman commented on #509
I also have that same question, need to be able to exclude a particular png with certain layering orders. Anyone  have an answer to this?

[2022-01-30 12:52] RequiemDreams commented on #630
Found out the issue hopefully this may help someone down the line

DON’T EXPORT LAYERS BY DIRECTLY CLICKING ON THEM you must instead,

export the frames with the selected image visible preview to make sure no other layers can be seen then export the frame with image visible then rinse and repeat for every layer and variations of layer

[2022-01-30 12:52] bolshoytoster commented on #625
@kritzien also, [http status code 429](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429) is for 'too many requests' so the server was probably limiting you.

[2022-01-30 12:56] TaiseerRakiinAhad commented on #592
Did you save your layers as PNG while exporting? And also the background of your layers in photoshop should be transparent and not White/black/or any colour. Otherwise it will just overlap over your previous layer.

[2022-01-30 13:07] RequiemDreams commented on #592
Yea their PNG, do you know how to make the frame transparent? I used framing tool which made background white instead of gray then started exporting. I’m gonna use lunapic to make all of them transparent and see if it works I can’t find a transparent tool on figma.

On Sun, Jan 30, 2022 at 7:57 AM, TaiseerRakiinAhad ***@***.***> wrote:

[2022-01-30 13:28] luangjokaj commented on #282
https://github.com/HashLips/hashlips_art_engine/issues/375#issuecomment-1025135259

[2022-01-30 13:32] annisagw commented on #612
same for me

[2022-01-30 13:52] RequiemDreams commented on #592
IT WORKED EUREKA thanks for the help bro appreciate it good luck 2 & prayers out to you

On Sun, Jan 30, 2022 at 7:57 AM, TaiseerRakiinAhad ***@***.***> wrote:

[2022-01-30 14:25] noobyogi0010 commented on #612
Hi, @IMADXXARIS
Can you please share your `package.json` file?

[2022-01-30 14:28] noobyogi0010 commented on #615
Hi, @h2022m
Can you please provide more details about how this error occurred?
It will be great if you could share the steps to reproduce this issue.

[2022-01-30 14:46] IMADXXARIS commented on #612
Hello, thank you for your reply. I fixed the problem simply by changing the
code editor from vscode to Atom. In order to work from atom correctly you
need to install atom then enter to the ide and search for packages to
install then install platformio build and platformio terminal and it should
work perfectly.

On Sun, Jan 30, 2022, 15:25 noobyogi0010 ***@***.***> wrote:

[2022-01-30 15:14] #630 closed

[2022-01-30 17:32] khalid-moon commented on #612
Hi, can you help me with this error but using VS?
I am not a developer so please guide me with respect to VS studio.

[2022-01-30 18:55] haticecs commented on #375
@luangjokaj Hi, Which node version are you using?

[2022-01-30 18:56] luangjokaj commented on #375
v16.13.1 running on MacOS, Apple M1 Max.

[2022-01-30 18:58] haticecs commented on #375
Thanks, I tried with node 17 on macbook air but it gave error. I dowgraded node to the 10, it still gives error. I am gonna try that command.

[2022-01-30 20:30] Niahig opened #635 "NPM INSTALL NOT RUNNING"
Hoping someone can help me. I'm an artist not a coder so please bear with me. I have followed all the steps to generate NTF's. when i type in NPM install and enter i get error messages as below

![image](https://user-images.githubusercontent.com/98712557/151716571-3e9113fb-63d2-41ee-8303-88ae83597c25.png)

I've tried everything from all the information available and cant seem to fix?

[2022-01-30 20:31] Niahig commented on #635
i've tried the fix and force but nothing seems to fix it. i have checked my files and they look ok

[2022-01-30 20:32] symrana opened #636 "ERROR ERROR ERROR"
I wanted to create Nft´s so followed the intructions on YouTube, i downloaded VSC and Node, when i wantet to npm install this error comes what do i have to do?

PS C:\Users\MYNAME\Desktop\generative-art-opensource-3> npm install
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\MYNAME\Desktop\generative-art-opensource-3/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no s

[2022-01-30 20:33] bolshoytoster commented on #632
As said [here](https://www.reddit.com/r/NFT/comments/sdq2p9/help_with_nft_minting_polygon/huel5ng/), NFT collections are typically minted in one transaction, so wherever you got this script (presumably [this](https://github.com/codeSTACKr/create-10k-nft-collection)), it's ineffective. If you want to still use this you will probably have to use the paid plan on either nftport or polygon, I'm not su

[2022-01-30 20:37] bolshoytoster commented on #636
As [this](https://stackoverflow.com/a/70878040) stackoverflow answer suggests, could you run `npm install --global windows-build-tools` then `npm install -g truffle` in an admin command prompt.

[2022-01-30 20:42] bolshoytoster commented on #636
@symrana it also looks like you need to [install python](https://www.python.org/ftp/python/3.10.2/python-3.10.2-amd64.exe).

[2022-01-30 21:12] bolshoytoster commented on #635
@Niahig you can safely ignore this, to make some of them go away you can run `npm audit fix`.

[2022-01-30 21:17] Kazanoorg opened #637 "startEditionFrom"
Hi Guys

Is there a way to start the count from 1000 or any other number and not 1?

[2022-01-30 21:18] symrana commented on #636
@bolshoytoster why do i need Phyton? i thought i need node.js and visual studio code?

in the video they didnt say anything about phyton

[2022-01-30 21:18] Niahig commented on #635
hi i ran npm audit fix and it doesn't seem to work

[2022-01-30 21:22] bolshoytoster commented on #615
Canvas (the library HashLips uses to load images) only supports PNG, GIF, JPEG, SVG and BMP formats. If you weren't using any of them you should convert your images.

[2022-01-30 21:23] bolshoytoster commented on #635
@Niahig what specifically doesn't work? Does it just show the warning or does HashLips not run?

[2022-01-30 21:26] bolshoytoster commented on #636
@symrana the logs show it looks for python but can't find it. If you run `npm install --global windows-build-tools` and `npm install -g truffle` as admin and it still doesn't work you might have to install python.

The video probably assumes you already have python if it's required.

[2022-01-30 21:33] bolshoytoster commented on #614
@h2022m canvas (the library HashLips uses to load images) only supports PNG, GIF, JPEG, SVG and BMP formats. If you weren't using any of them you should convert your images.

[2022-01-30 22:09] Niahig commented on #635
![image](https://user-images.githubusercontent.com/98712557/151719930-427340b2-7c1b-4352-9627-a72579ce759b.png)

[2022-01-30 22:16] bolshoytoster commented on #635
@Niahig From the output, it looks like everything's installed. Try running `npm run build` to test it.

[2022-01-30 22:36] bolshoytoster commented on #637
@Kazanoorg at line 343 in `src/main.js`:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/src/main.js#L343
You could replace the line with:
[code]
Where 69420 is the number you want to start from.

[2022-01-30 22:46] viirse commented on #267
having the exact same problem how can i fix this?????

[2022-01-30 22:56] viirse commented on #620
what should i set them to?

[2022-01-30 22:59] bolshoytoster commented on #620
@viirse if you want everything to have an equal chance, you can set them all to the same number. i.e. 1. If you want some to be more/less common you can set them to be different values.

[2022-01-30 23:13] viirse commented on #620
didnt work. this is the error im getting.

  return _dna.replace(query, "");
              ^

TypeError: Cannot read properties of undefined (reading 'replace')

[2022-01-30 23:15] viirse commented on #620
@bolshoytoster thanks but it didnt work. this is the error im getting.

return _dna.replace(query, "");
                  ^

TypeError: Cannot read properties of undefined (reading 'replace')

[2022-01-30 23:16] viirse commented on #620
the arrow point under the 'r' for replace

[2022-01-30 23:18] bolshoytoster commented on #620
@viirse I've just added a commit to [my fork](https://github.com/bolshoytoster/hashlips_art_engine) that should fix this. Could you temporarily use that instead?

[2022-01-30 23:27] viirse commented on #620
@bolshoytoster now it wont let me npm run generate or npm install. sorry for the bother

[2022-01-30 23:29] bolshoytoster commented on #620
@viirse what error(s) is it giving you?

[2022-01-30 23:31] viirse commented on #620
@bolshoytoster
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\Desktop\hashlips_art_engine-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\Desktop\hashlips_art_engine-main\package.json'npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

[2022-01-30 23:34] bolshoytoster commented on #620
@viirse it says there's no `package.json`, can you delete the folder and redownload it?

[2022-01-31 04:39] thepeanutgalleryandco commented on #620
@viirse make sure that you opened the folder that contains all of the sub folders in your terminal. Usully users who experience this is not inside the correct folder.

[2022-01-31 05:49] williamszeto commented on #615
Hi, I have the same issue with .png layers (with alpha). And for some reason, my images look like this:
![1](https://user-images.githubusercontent.com/2984984/151745144-f79806ef-9d55-4fa5-939d-48e50d7b9eba.png)

[2022-01-31 07:08] RequiemDreams commented on #636
node.js automatically installs python so I'd suggest reopening the installer and choose repair instead of install, this will make sure no files are corrupted and everything is in place. alternatively, make sure you download a later version of node.js as i was having issues with the new versions until I installed node-v14.18.3 I'm also using hash engine 1.1.2v5

[2022-01-31 07:50] Kazanoorg commented on #637
Thank you for the reply but I have 2 problems with this solution:
1. I need to update the "growEditionSizeTo" to the number I put in the "let i" plus the amount of versions I want.
2. The run keep running forever and create undefined json and images

[2022-01-31 08:13] bolshoytoster commented on #637
@Kazanoorg I've added a commit to [my repo](https://github.com/bolshoytoster/hashlips_art_engine) that should do this. If you use that repo instead you can use the `startEditionFrom` configuration to chose where is starts from.

[2022-01-31 08:28] Kazanoorg commented on #637
That's great!!
Thank you so much!!

[2022-01-31 09:10] thepeanutgalleryandco commented on #631
@CineEncoder the solanaMetadata is only used when generating Solana Metadata files. If you are generating Ethereum / polygon metadata, then you need to scroll down in the config.js file to the "extraMetadata" object where you can add your creator, external_url, etc.

const extraMetadata = {
  //creator: "NFT_CREATOR_HERE", // Add the creator of the NFT collection here. Ex. The Peanut Gallery And C

[2022-01-31 09:39] mmaklary opened #639 "NPM install not working"
I am getting this message, what could be the issue?:

npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/ma

[2022-01-31 11:09] ivanluhur opened #640 "canva.node"

[2022-01-31 11:10] #640 closed

[2022-01-31 11:12] ivanluhur opened #641 "canva.node node_modules/canva/lib/bindings.js:3:18 how to fix it"

[2022-01-31 11:21] RequiemDreams opened #642 "npm run generate works perfect but some nft's are skipped/not rendering"
I made sure all of my layers are formated properly and exported using the transparent frame for some reason when I npm run generate some of the NFT's in the build images file are skipped or not fully rendered see below

any suggestions are very much appreciated I've been at this for multiple days now.

![Screenshot (25)](https://user-images.githubusercontent.com/98503217/151784883-8a92227f-eb81-4d

[2022-01-31 11:42] bolshoytoster commented on #639
@mmaklary as [this](https://github.com/Automattic/node-canvas/issues/1274#issuecomment-428390433) comment says, canvas doesn’t support arm node.js. You can try running `npm install --target_arch=x64` instead, if that doesn’t work, you might have to install x64 node.js.

It also looks like you need `pkg-config`, which can be installed with `brew install pkg-config`.

[2022-01-31 12:00] bolshoytoster commented on #642
@RequiemDreams have you checked your `layers/` directory for any blank images, that could be it. If none of your background images are blank could you share your `src/config.js` file.

[2022-01-31 12:11] bolshoytoster commented on #641
@ivanluhur can you share the whole error?

[2022-01-31 12:13] RequiemDreams commented on #642
@bolshoytoster it won't let me send config on here may I get your telegram Reddit or email address? thank you for taking the time to help :)

[2022-01-31 12:14] bolshoytoster commented on #642
@RequiemDreams you can just copy/paste the contents.

[2022-01-31 12:19] RequiemDreams commented on #642
@bolshoytoster
below you can see I have 10,200 under grow addition size that was to account for unrendered images I was planning on deleting corrupted ones and changing all the numbers and json files to list 10k in sequence order this would take an eternity however so again I can't thank you enough for trying to help me.

const basePath = process.cwd();
const { MODE } = require(`${basePath}/consta

[2022-01-31 12:45] bolshoytoster commented on #642
@RequiemDreams sorry for the late reply, I’m in school. If you look in the folder with the background images, is there a background that doesn’t appear in the results. If so that image is probably corrupted.

You could also try running it with only one image in the backgrounds folder and see if it still happens.

[2022-01-31 13:01] RequiemDreams commented on #642
@bolshoytoster No apologies needed schools important,

I have confirmed that every image I have in my layers are showing up when I generate in a few different images.

The problem seems to be occurring not from the exports themselves but during the generating process otherwise there’d be an image that didn’t show up in any of them.

I tried running npm run generate after leaving just one backgroun

[2022-01-31 13:02] RequiemDreams commented on #642
12/200 are like this

[2022-01-31 13:12] hamzailyas434 opened #643 "Npm not Install macbook air m1"
<img width="1440" alt="Screenshot 2022-01-31 at 6 10 56 PM" src="https://user-images.githubusercontent.com/63106388/151799521-0a4c4466-3b44-43db-8437-40a60ac5c73e.png">

[2022-01-31 13:13] hamzailyas434 commented on #643
Node Version: v16.13.0
NPM Version: 8.1.0

[2022-01-31 13:19] bolshoytoster commented on #642
@RequiemDreams could you make a new GitHub repository and upload your project to it and I'll debug it after school (~2.5 hours.

[2022-01-31 14:18] Tanmay0008 opened #644 "NPM install not working not even the yarn command"
![Screenshot (33)](https://user-images.githubusercontent.com/98755085/151809621-7647411c-7dbe-473f-8b57-57f704d4fb4f.png)

this is appearing dk what to do please help
regards

[2022-01-31 14:22] mmaklary commented on #639
**Thx now it works but i get this:**

6 packages are looking for funding
  run `npm fund` for details

6 vulnerabilities (3 moderate, 3 high)

To address issues that do not require attention, run:
  npm audit fix

To address all issues (including breaking changes), run:
  npm audit fix --force

Run `npm audit` for details.
maklarym.@Maklarys-MacBook-Pro hashlips_art_engine-1.1.1_update %

**After

[2022-01-31 14:42] bolshoytoster commented on #639
@mmaklary [this](https://github.com/HashLips/hashlips_art_engine/issues/329#issuecomment-983758731) comment suggests reinstalling canvas, if it still doesn’t work you could do what [this](https://github.com/HashLips/hashlips_art_engine/issues/455#issuecomment-1006056844) comment suggests and run `npm install --build-from-source`.

[2022-01-31 14:44] bolshoytoster commented on #644
@Tanmay0008 try `cd hashlips_art_engine-1.1.2_patch_v5`.

[2022-01-31 14:54] Tanmay0008 commented on #644
thank you so much dude it worked <3

[2022-01-31 15:16] MaciekBaron commented on #643
The message explains what's wrong: you need Python 3 (>=3.6.0 to be precise). Your installed version is 2.7.

[2022-01-31 15:37] mmaklary commented on #639
6 vulnerabilities (3 moderate, 3 high)

To address issues that do not require attention, run:
  npm audit fix

To address all issues (including breaking changes), run:
  npm audit fix --force

Run `npm audit` for details.
maklarym.@Maklarys-MacBook-Pro hashlips_art_engine-1.1-3.2_patch_v5 % node index.js
node:internal/modules/cjs/loader:1183
  return process.dlopen(module, path.toNamespacedPath(fi

[2022-01-31 16:04] bolshoytoster commented on #639
@mmaklary

Yeah, this seems to have been an issue with canvas since 2017.

I think you could maybe get around it with rosetta but I've never used it personally (only ever used macOS in a VM).

[2022-01-31 18:03] ivanluhur commented on #641
Error: The specified module could not be found
\\?\c:\Users\....\Downloads\hashlips_art_engine_1.1.2_patch_v1\node_modules\canvas\build\Release\canva.node
at Object.Module._extensions. .node (internal/modules/cjs/loader.js:1144:8)
at Module.load (internal/modules/cjs/loader.js:950:32)
at Fuction.Module._load (internal/modules/cjs/loader.js:790:12)
at Module.require (internal/modules/cjs/loader.js:

[2022-01-31 18:04] ivanluhur commented on #641
i tried to open debug still confused about what are they meaning and i cannot find any wrong on it pls give me the answer

[2022-01-31 18:06] ivanluhur commented on #641
this is the error when i npm run generate of corse if i npm install, it still 1 high from 66 pakage from the script terminal

[2022-01-31 18:45] bolshoytoster commented on #641
@ivanluhur could you delete the `node_modules` folder and run `npm install` again

[2022-01-31 18:54] williamszeto commented on #615
Hi, I have the same error message. I've made sure all my layers are .png, and for testing purposes I've made them all 2000x2000 px. It goes as far as creating a single image then errors out with
"(process:20408): GLib-GIO-WARNING **: 10:52:33.366: Unexpectedly, UWP app `Evernote.Evernote_10.29.7.0_x86__q4d96b2w5wcc2' (AUMId `Evernote.Evernote_q4d96b2w5wcc2!Evernote') supports 1 extensions but has

[2022-01-31 19:11] bolshoytoster commented on #615
@williamszeto

I don't think this error is related to hashlips, it comes from evernote.

If you shared your config/layers directory I could try to track the bug down.
You could make a new github repository and put your project directory in it.

[2022-01-31 19:21] Longshoreking opened #645 "npm warn old lockfile"
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/stevenanthony/Downloads/hashlips_art_engine-main/node_mo

[2022-01-31 19:41] symrana commented on #636
So i need to install the latest Version of Node. Js or just download python?

[2022-01-31 19:51] bolshoytoster commented on #636
@symrana you just need to install python.

[2022-01-31 19:58] symrana commented on #636
Okey i will try that on friday thank u

[2022-01-31 20:04] itsforren commented on #639
Was there a fix to this? because I am running into the same issue and I also have a m1 Mac. Would love the help, as I am a noob when it comes to coding

[2022-01-31 20:05] bolshoytoster commented on #645
@Longshoreking if you're using an arm device (M1 chip) you can't use one of our dependencies (canvas). You may be able to get around this with rosetta and an x64 node.js but I've never used rosetta so I probably can't help much there.

[2022-01-31 20:08] Milajone opened #646 "The term 'npm' is not recognized as the name of a cmdlet, function, script file.."
![image](https://user-images.githubusercontent.com/98776945/151864976-21e8a0fd-4ff3-427a-8d39-b5a345df384a.png)

I have that issue with npm installing :/

[2022-01-31 20:09] bolshoytoster commented on #639
@mmaklary @itsforren I'm going to see if I can get this working in a mac vm, I'll update here if I get it working.

[2022-01-31 20:11] Longshoreking commented on #645
Thank you for the response. I'll try that method and see how it works.

[2022-01-31 20:13] bolshoytoster commented on #646
@Milajone you'll need to run the [node.js installer (again)](https://nodejs.org/dist/v16.13.2/node-v16.13.2-x86.msi).

[2022-01-31 20:21] itsforren commented on #639
@bolshoytoster thanks, I look forward to your results

[2022-01-31 20:27] Milajone commented on #646
Now I tried one more time, its run but i have that kind of issues:

![image](https://user-images.githubusercontent.com/98776945/151867738-037a7366-eea2-4604-9299-a05cd94254ed.png)

[2022-01-31 20:49] bolshoytoster commented on #646
@Milajone you also need to [install python](https://www.python.org/ftp/python/3.10.2/python-3.10.2-amd64.exe).

[2022-01-31 20:50] williamszeto commented on #615
its weird, that it mention Evernote. I'm about to uninstall it to see if it helps. Thanks. Here's the layers:
![image](https://user-images.githubusercontent.com/2984984/151870843-36f80983-3584-48ae-80ae-434ef32e6d1e.png)
[config.zip](https://github.com/HashLips/hashlips_art_engine/files/7974164/config.zip) .

[2022-01-31 20:59] Milajone commented on #646
Ok thank you i have instal node one more time, python and now get this error:

![image](https://user-images.githubusercontent.com/98776945/151871948-37442552-f8bd-4b66-bf00-4c685a682902.png)

It its something whit canvas node its not proper apllication for system Win32

[2022-01-31 21:05] bolshoytoster commented on #615
@h2022m @servusas @williamszeto what did you use to make the images, it could be related to that.

[2022-01-31 21:15] Milajone commented on #646
ok so basically I have this error when I run node index.js :/

![image](https://user-images.githubusercontent.com/98776945/151874189-d0d72cca-7f54-493f-869a-aba3e35a4dbc.png)

[2022-01-31 21:18] bolshoytoster commented on #646
@Milajone could you try deleting the `node_modules` folder and running `npm install` again.

[2022-01-31 21:19] Milajone commented on #646
sure I did and I get this:

![image](https://user-images.githubusercontent.com/98776945/151874796-b7e5d836-0292-49cc-859d-8c8b77f6b4f3.png)

[2022-01-31 21:27] williamszeto commented on #615
Photoshop 2022

[2022-01-31 21:37] bolshoytoster commented on #646
@Milajone

including the "Desktop development with c++" workload.
For more information consult the documentation at:
https://github.com/nodejs/node-gyp#on-windows

You need [visual studio](https://aka.ms/vs/17/release/vs_community.exe) (VS2015+), not visual studio code.

[2022-01-31 22:10] bolshoytoster commented on #639
Since my emulator can't emulate M1 (without modifications) I'm not able to test this, but it looks like if you just have it installed it might work.

You can install it with `/usr/sbin/softwareupdate --install-rosetta` if you haven't already.

[Somebody else](https://github.com/HashLips/hashlips_art_engine/issues/645#issuecomment-1026165028) is trying this as well so you could wait for their resul

[2022-01-31 22:33] bolshoytoster commented on #643
@hamzailyas434 just so you know, one of the dependencies (canvas) can't run on M1 without rosetta.

[2022-01-31 22:37] arwatkin opened #647 "Build Number"
When running - 'node index.js', the build output is always missing one number. For example, when generating 10 NFT's, the build will look as follows:

0.png
1.png
3.png
4.png
5.png
6.png
7.png
8.png
9.png

In this example 2.png is missing, so only 9 NFT's where actually generated.

[2022-01-31 23:21] bolshoytoster commented on #612
@khalid-moon you could try deleting the `node_modules` folder then running `npm install` again.

[2022-02-01 00:01] Longshoreking commented on #645
I was able to run generate the engine using version 14 for Node!

[2022-02-01 00:04] IMADXXARIS commented on #612
I tried that but it didn't work, i really advice using atom if you are
fcing issues with vscode, best part is you don't have to install yarn or
enter yarn install all just npm install will install the modules and i
works cool as i said before you need to install atom then install packages,
basically 2 packages if the terminal didn't work for you, forat one is
platformio build 2nd is platformio ide

[2022-02-01 00:14] bolshoytoster commented on #645
@Longshoreking nice.

[2022-02-01 02:24] ivanluhur commented on #641
i must use the file source.ziptar

[2022-02-01 02:24] #641 closed

[2022-02-01 04:33] Longshoreking opened #648 "run generate"
after installing npm and imputing all of the layers into thee config.js I run generate and this prompts in the terminal...

stevenanthony@Stevens-Air hashlips_art_engine-1.1.2_patch_v5 % npm run generate

(node:14057) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, scandir '/Users/stevenanthony/Downloads/hashlips_art_engine-1.1.2_patch_v5/layers/Background/'
    at Obje

[2022-02-01 04:57] #644 closed

[2022-02-01 07:33] hamzailyas434 commented on #643
<img width="1440" alt="Screenshot 2022-02-01 at 12 33 02 PM" src="https://user-images.githubusercontent.com/63106388/151929115-1d5d2de8-1f9e-492b-ac23-eba8db842af7.png">

[2022-02-01 07:34] hamzailyas434 commented on #643
Installed: softwareupdate --install-rosetta
But Still facing the same issue.

[2022-02-01 07:36] hamzailyas434 commented on #643
<img width="1440" alt="Scree
<img width="1440" alt="Screenshot 2022-02-01 at 12 36 35 PM" src="https://user-images.githubusercontent.com/63106388/151929460-164460d8-ce12-46f8-b402-57d2763bebdd.png">
nshot 2022-02-01 at 12 35 50 PM" src="https://user-images.githubusercontent.com/63106388/151929385-a0873595-8bfe-499e-9399-8d9edc0fa741.png">
This is my path

[2022-02-01 07:52] bolshoytoster commented on #329
@mmaklary

Delete the `node_modules` folder and run `npm install` again.

[2022-02-01 07:54] bolshoytoster commented on #643
@hamzailyas434 it gives you '404 not found', because it's still trying to download the amd versions (that don't exist). You can target x64 by running `npm install --target_arch=x64`.

[2022-02-01 07:56] bolshoytoster commented on #648
@Longshoreking it can't find the `layers/Background` folder, make sure the folder names match your jayer names in `src/config.js` (match case as well).

[2022-02-01 07:58] hamzailyas434 commented on #643
Thank you so much it finally installed the node modules but now it's not running.
<img width="1440" alt="Screenshot 2022-02-01 at 12 57 36 PM" src="https://user-images.githubusercontent.com/63106388/151931833-6ea178a6-8da8-425e-9f98-d4acce24c9d5.png">

[2022-02-01 08:13] bolshoytoster commented on #643
@hamzailyas434 you might have to install the x64 mode.js as well if you can figure out how.

[2022-02-01 08:13] su007-eth opened #649 "Add blank image None.png to the layer, skip None when writing metadata."
Sometimes we don't need a certain layer, we can add a None.png blank image in the layer folder, but I want to not show "None" in the metadata.

[2022-02-01 08:20] mmaklary commented on #645
Do you have a link for that node version? (mac)

[2022-02-01 08:21] mmaklary commented on #639
Thanks, node 14 works :)

[2022-02-01 08:32] thepeanutgalleryandco commented on #649
@su007-eth you can take a look at my repo, I have added functionality to allow you to skip blanks from the metadata.

[2022-02-01 10:39] BreachBoy commented on #526
@benhalverson excuse me, where i can find  node_modules and a package.json?

[2022-02-01 11:07] BreachBoy opened #651 "ERROR WHILE USE NODE INDEX.JS CODE"
Hello, i'm newbie in coding, specially in visual studio code
yesterday i had an error like this

PS D:\2022\NFT\ALAT & SOFTWARE\hashlips_art_engine-main> node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'D:\2022\NFT\ALAT & SOFTWARE\hashlips_art_engine-main/node_modules/sha1'
Require stack:
- D:\2022\NFT\ALAT & SOFTWARE\hashlips_art_engine-main\src\main

[2022-02-01 11:15] bolshoytoster commented on #651
@BreachBoy

This says that it can’t find the `sha1` module. Try running `npm install`/`yarn install` again.

[2022-02-01 11:32] BreachBoy commented on #651
@bolshoytoster Thaks for your respons!

i've try your suggestion, and this is the result :

PS D:\2022\NFT\ALAT & SOFTWARE\hashlips_art_engine-main> yarn install
yarn : The term 'yarn' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify
that the path is correct and try again.
At line:1 char:1
+ yar

[2022-02-01 11:39] bolshoytoster commented on #651
@BreachBoy

that the path is correct and try again.

You need to install yarn.

[2022-02-01 11:50] hamzailyas434 commented on #643
Can you please send me the link?

[2022-02-01 11:50] hamzailyas434 commented on #643
of this

[2022-02-01 12:08] BreachBoy commented on #651
@bolshoytoster

okay i have finished, what sholud i do? 😅

PS D:\2022\NFT\ALAT & SOFTWARE\hashlips_art_engine-main> npm install -g yarn

added 1 package, and audited 2 packages in 3s

found 0 vulnerabilities

[2022-02-01 12:10] CryptoBurnClub commented on #174
In Visual Studio Go- File>Save. than run node index.js again. this worked for me.

[2022-02-01 12:22] hamzailyas434 commented on #643
Can you please text me: hamzailyas434@gmail.com or whatsapp/telegram: +923026282822. Please help me to resolve this issue.

[2022-02-01 12:53] bolshoytoster commented on #651
@BreachBoy run `yarn install` then you should be good to go.

[2022-02-01 12:54] BreachBoy commented on #651
@bolshoytoster

PS D:\2022\NFT\ALAT & SOFTWARE\hashlips_art_engine-main> yarn install
yarn : File C:\Users\LENOVO\AppData\Roaming\npm\yarn.ps1 cannot be loaded because running scripts is disabled on this system. For more information, see about_Execution_Policies
at https:/go.microsoft.com/fwlink/?LinkID=135170.
At line:1 char:1
+ yarn install
+ ~~~~
    + CategoryInfo          : SecurityError: (:)

[2022-02-01 13:06] bolshoytoster commented on #651
@BreachBoy you could run `Set-ExecutionPolicy Unrestricted` in an admin powershell.

[2022-02-01 13:52] BreachBoy commented on #651
fortunately that problem is done :}
but my last problem, why the layer exported is only the top one?

[2022-02-01 13:55] dreamhall commented on #509
We have also that same question :)

[2022-02-01 14:07] bolshoytoster commented on #651
@BreachBoy is the top image transparent or does it cover the rest?

[2022-02-01 14:12] BreachBoy commented on #651
@bolshoytoster transparent, all my layers is transparent except background layers

[2022-02-01 14:29] Rohitsahu19 opened #652 "Question : What If I Generate 5000 NFTs First Day And Another 5000 NFTs Next Day? Will It Clone The NFTs That Are Already Generated First Day?"
At the moment, if you generate images and then decide to run index.js again later, all the previously created images are deleted and the new ones are created.

For example, how could the code be changed so when running index.js for the second/third, n-th time, the program would check if images already exist in build folder? If it sees that there are 100 images already there. it should NOT delete t

[2022-02-01 14:39] bolshoytoster commented on #652
@Rohitsahu19 you could try commenting out the lines that delete the directory:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/src/main.js#L36-L40

Comment lines 37-39 and it won’t delete the directory each time.

[2022-02-01 14:52] martinericksonn opened #653 "Failed at the hashlips_art_engine@1.1.1 rarity script."
"_You need more layers or elements to grow your edition to 350 artworks!_"
after running the commands `npm run rarity` and `npm run preview` got this error message:
[code]
When running a preview of more than what it can generate, I guess it will not generate the preview?

[2022-02-01 14:59] bolshoytoster commented on #653
@martinericksonn I’ve found the mistake, I’ll fix it in [my fork](https://github.com/bolshoytoster/hashlips_art_engine) when I get home (~1 hour)

[2022-02-01 15:09] Wnnessl opened #654 "Cannot find module / canvas install issue"
Hello everyone, I seem to be having the common problem of the "cannot find module" error. I have tried everything I've come across and even what works for others is not working for me.

When trying to run the code, I receive this error:
MacBook-Air:hashlips_art_engine_main USER$ node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/Users/USER/Downloads/ha

[2022-02-01 15:51] bolshoytoster commented on #654
@Wnnessl it returns a ‘404 not found’ because it looks for the arm version of canvas (which doesn’t exist). You can get a version that does exist with `npm install --target_arch=x64`. You will also have to run `/usr/sbin/softwareupdate --install-rosetta` if you don’t have rosetta installed and you’ll probably also have to install the x64 version of node.js.

[2022-02-01 16:04] Wnnessl commented on #654
Thank you for your response! I tried installing those and both of them worked, however, I am still receiving both errors when trying to run the program or install canvas (minus the 404 error). Any thoughts?

[2022-02-01 16:04] MrrGnu commented on #498
@listennman could you explain what the solution was pls?
i got the same problem but i dont get what you did

[2022-02-01 16:59] johnadegbuji commented on #464
I found a fix. This usually has something to do with how you named your layers. Be sure all of them dont have any dashes, and also be sure you add a rarity weight using your delimiter of choice

[2022-02-01 17:03] MrrGnu opened #655 "layer name can not contain dashes, please fix:"
hello, pls help me! i just cant get the generator to run, everytime i try running it tells me:

Error: layer name can not contain dashes, please fix: Untitled_Artwork-10.png
    at /Users/timroes/Downloads/hashlips_art_engine-1.1.2_patch_v5/src/main.js:77:15
    at Array.map (<anonymous>)
    at getElements (/Users/timroes/Downloads/hashlips_art_engine-1.1.2_patch_v5/src/main.js:75:6)
    at /User

[2022-02-01 18:34] benhalverson commented on #526
I already explained it. Read the docs here. nodejs.dev

[2022-02-01 18:35] bolshoytoster commented on #655
@MrrGnu you can't have '-' in your file names, remove/replace them.

[2022-02-01 19:36] symrana commented on #636
@bolshoytoster i downloaded pyhton from https://www.python.org/ started VSC and the same errors come again

[2022-02-01 19:48] bolshoytoster commented on #636
@symrana

Can you send these errors?

[2022-02-01 19:49] symrana commented on #636
@bolshoytoster the same like the first ones

[2022-02-01 19:52] symrana commented on #636
PS C:\Users\asdfghjk\Downloads\generative-art-node-main> npm install
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\asdfghjk\Downloads\generative-art-node-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\asdfghjk\Downloads\generative-art-node-main\package.json'
npm ERR! enoent This is related to npm not being able to find a

[2022-02-01 19:56] symrana commented on #636
î just wanted to create some Nft's.. :(

[2022-02-01 20:04] symrana commented on #636
@bolshoytoster do you mean this?
![Unbenannt](https://user-images.githubusercontent.com/98712364/152042674-a9ebbf1b-5147-42d5-bf32-0731a5e948d4.PNG)
[

[2022-02-01 20:07] bolshoytoster commented on #636
@symrana that'll do, you need to run `cd generative-art-node-main` then `npm install`.

[2022-02-01 20:12] symrana commented on #636
![asdasd](https://user-images.githubusercontent.com/98712364/152043816-00515dc3-0aac-40db-bf23-290c77644434.PNG)
 is this so right??

[2022-02-01 20:14] bolshoytoster commented on #636
@symrana you can ignore that.

[2022-02-01 20:15] symrana commented on #636
@bolshoytoster i think it worked thank u sooo much

[2022-02-01 20:21] symrana commented on #636
@bolshoytoster when i take another one like generative-art-opensource-3 do have to do new terminal --> cd generative-art-opensource-3 and then npm install?

[2022-02-01 20:24] bolshoytoster commented on #636
@symrana you probably will.

[2022-02-01 20:26] symrana commented on #636
@bolshoytoster i thank u so much if i`m done i will send u one NFT. thank u so much!!!!!!!

[2022-02-01 20:31] symrana commented on #636
@bolshoytoster i did npm install truffle -p and this come out

PS C:\Users\asdfghjk\Downloads\generative-art-opensource-3 (1)\generative-art-opensource-3> npm install truffle -p
npm WARN deprecated node-pre-gyp@0.11.0: Please upgrade to @mapbox/node-pre-gyp: the non-scoped node-pre-gyp package is deprecated and only the @mapbox scoped package will recieve updates in the future
npm WARN deprecated

[2022-02-01 20:33] bolshoytoster commented on #636
@symrana it looks like it can't find visual studio, make sure you have visual studio installed (not visual studio code).

[2022-02-01 21:02] symrana commented on #636
@bolshoytoster i dont know what u mean excatly ..

[2022-02-01 21:06] bolshoytoster commented on #636
@symrana you need to [install visual studio](https://c2rsetup.officeapps.live.com/c2r/downloadVS.aspx?sku=community&channel=Release&version=VS2022) and select the "Desktop development with c++" workload.

[2022-02-01 21:27] symrana commented on #636
@bolshoytoster okey

what does that mean?

SyntaxError: Unexpected token ']'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1031:15)
    at Module._compile (node:internal/modules/cjs/loader:1065:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1153:10)
    at Module.load (node:internal/modules/cjs/loader:981:32)
    at Fun

[2022-02-01 21:29] bolshoytoster commented on #636
@symrana I think you have a syntax error in your `src/config.js`, could you paste the contents of it here?

[2022-02-01 21:30] symrana commented on #636
const fs = require("fs");
const width = 1000;
const height = 1000;
const dir = __dirname;
const description = "CrytpOwl.United";
const baseImageUri = "https://hashlips/nft";
const startEditionFrom = 1;
const endEditionAt = 100;
const editionSize = 10;
const raceWeights = [
  {
    value: "skull",
    from: 1,
    to: editionSize,
  },
];

const races = {
  skull: {
    name: "Skull",
    layers: [

[2022-02-01 21:34] symrana commented on #636
i had some writing prolems i fixed it
 but it doesnt work anyways

[2022-02-01 21:56] thepeanutgalleryandco commented on #652
For something like this to work, you would need to offload the DNA into a file so that the file can manage the DNA uniqueness between different build runs. At the moment, the DNA is kept in memory and then loaded into the metadata.json file.

So one could maybe first loop through the metadata.json file to get all the generated file's metadata and then try to continue with the next number in the li

[2022-02-02 03:01] gtheri8 commented on #579
Having the same problem

[2022-02-02 03:03] Longshoreking commented on #648
Just read in an issue above that the layer names cant have a "-" in them! going to remove the dash and see if that fixes the problem thank you!

[2022-02-02 09:44] j4far commented on #635
I have the same issue and have tried the fixes mention above also but i still have the issue

Please see below extract from the programme copied and pasted:

"Windows PowerShell

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\***\Desktop\hashlips_art_engine-main> npm install

up to date, audited 219 packages in 3s

11 packages are looking for funding
  run `npm fund` for

[2022-02-02 09:56] bolshoytoster commented on #635
@j4far try running `node index.js` instead of `npm run builld`, if that doesn’t work can you send the output of `ls`.

[2022-02-02 10:00] j4far commented on #635
Windows PowerShell

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\****\Desktop\hashlips_art_engine-main> npm install

up to date, audited 219 packages in 3s

  run `npm fund` for details

3 moderate severity vulnerabilities

To address all issues, run:
  npm audit fix

Run `npm audit` for details.
PS C:\Users\****\Desktop\hashlips_art_engine-main> npm run build
npm ERR!

[2022-02-02 10:00] j4far commented on #635
Thank you for your speedy response and helping me

where do i change the output "is"

[2022-02-02 10:41] thepeanutgalleryandco commented on #654
@Wnnessl are you using a Mac by any chance with a M1 chip? If yes, try uninstalling your latest Node version and install the latest version 14 of Node and try again.

[2022-02-02 11:09] bolshoytoster commented on #635
@j4far

Run `ls` in the terminal and copy/paste the output here.

[2022-02-02 11:11] #643 closed

[2022-02-02 13:07] JAYxTHExAK opened #656 "transparency hex code"
I am using the gif engine. Is their a way to bypass putting in s transparency color hex code?

[2022-02-02 15:18] Wnnessl commented on #654
@thepeanutgalleryandco I couldn't get that version of Node to work at all :(

[2022-02-02 18:46] symrana commented on #636
it doesnt work again.. i dont understand that

[2022-02-02 18:52] thepeanutgalleryandco commented on #654
Are you using a mac M1 chip machine?

[2022-02-02 18:54] Wnnessl commented on #654
@thepeanutgalleryandco Yes I am, sorry

[2022-02-02 18:58] thepeanutgalleryandco commented on #654
I worked with another user who had this exact same issue, then uninstalled and deleted node.js and then downloaded node js 14.19.0 from https://nodejs.org/dist/v14.19.0/ and then the npm install commands worked.

[2022-02-02 18:58] symrana commented on #636
i´m giving up i dont know what to do ...

[2022-02-02 19:02] Wnnessl commented on #654
@thepeanutgalleryandco Okay, I will try again. I have followed a lot of other advice that other people have received across the internet, so my VS Code is a little hectic atm. I will try and start over from scratch.

[2022-02-02 20:29] symrana commented on #636
i solved it :))

[2022-02-02 21:01] cfpmonty commented on #651
Having the same troubles and applied all of the fixes above and have it down to these errors.
also ran the npm install npm-g
Also a newbie at this, Thanks Monty

PS C:\Users\monty\Desktop\hashlips_art_engine-1.1.2_patch_v5 (1)
node:internal/modules/cjs/loader:936
  throw err;
  ^
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMai

[2022-02-02 21:03] bolshoytoster commented on #651
@cfpmonty can you delete the `node_modules` folder then run `yarn install` and `npm install` again.

[2022-02-02 21:15] cfpmonty commented on #651
is that command  npm uninstall node_modules
to delete before running yarn and npm install again

[2022-02-02 21:34] bolshoytoster commented on #651
@cfpmonty

No, just delete it, i.e. `rm node_modules -r`.

[2022-02-02 22:00] omowanai opened #658 "incompatibles?"
is there a way to exclude some layers from being used with other layers ? like exclude green hat from green skin ?

[2022-02-02 22:01] cfpmonty commented on #651
Removed node modules and ran yarn install and npm install and got this on running the node index.js command

PS C:\Users\monty\Desktop\hashlips_art_engine-1.1.2_patch_v5 (1)
node:internal/modules/cjs/loader:936
  throw err;
  ^
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
    at node

[2022-02-02 22:10] #542 closed

[2022-02-02 22:55] bolshoytoster commented on #651
@cfpmonty does `npm run build` return the same error?

[2022-02-02 23:11] cfpmonty commented on #651
here is the new error , tried running npm run generate and came back with same err missing script "generate"

PS C:\Users\monty\Desktop\hashlips_art_engine-1.1.2_patch_v5 (1)> npm run build
npm ERR! Missing script: "build"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\monty\AppData\Local\npm-cache\_lo

[2022-02-02 23:14] bolshoytoster commented on #651
@cfpmonty I think it's because there's a space in your path. Change the folder's name from `hashlips_art_engine-1.1.2_patch_v5 (1)` to `hashlips_art_engine-1.1.2_patch_v5-(1)` or whatever as long as it doesn't have a space in it. Then run `node index.js`.

[2022-02-02 23:41] xTWKL commented on #618
Running into this same issue and I'm running on the newest version as well as version 1.1.1. I have no idea what to do to fix this issue

[2022-02-02 23:46] cfpmonty commented on #651
re-named folder and re-opened to run and still got the same kick back.
PS C:\Users\monty\Desktop\hashlips_art_engine-1.1.2_patch_v5 (1)> node index.js
node:internal/modules/cjs/loader:936
  throw err;

[2022-02-03 00:26] cfpmonty commented on #651
The space was the problem after re- opening I had to reload the -g yarn and npm install and was able to get a build file.
Thank you so much for the help!!

[2022-02-03 02:58] Brad-CurrencyHub opened #659 "Successfully generated 10000 png files but there id no json file"
I successfully generated 10000 png files but there are with no json file.
There is no images or json directory under the build directory.
All the images were written to the build folder.
Did I miss a confg file somewhere?

Thank you in advance for your help.

[2022-02-03 05:54] rahulsai821 opened #660 "error please help"
hlo.. iam new to visual studio
while running npm run generate i got an issue please help me

error: ENOENT: no such file or directory, scandir 'C:\Users\acer\Desktop\nft\hashlips_art_engine-main/layers/Background/'
    at Object.readdirSync (node:fs:1390:3)
    at getElements (C:\Users\acer\Desktop\nft\hashlips_art_engine-main\src\main.js:73:6)
    at C:\Users\acer\Desktop\nft\hashlips_art_engine-

[2022-02-03 07:08] Band1itondrgz opened #661 "Layers not showing"
Hi
The images the program is creating are not stacking the layers on top of each other. Even tho my files are in PNG and the layer order is correctly keyed in. Additionally the Json file indicates that the attributes of the NFTs, but the final PNG image is still only the last layer.
could you help me out, maybe I am doing something wrong?

[2022-02-03 08:08] bolshoytoster commented on #660
@rahulsai821 it can't find the `layers/Background` folder, make sure your folder names match the names in your `src/config.js` (it's case sensitive).

[2022-02-03 08:14] bolshoytoster commented on #659
@Brad-CurrencyHub can you run `git diff` in the terminal and copy/paste the output here please?

[2022-02-03 08:16] bolshoytoster commented on #658
@omowanai there currently isn't this, but I can work on it if you want.

How would you like it to be implemented? It would probably have to be an extra part on the image names in `layers/*`.

[2022-02-03 08:48] emrebaran opened #662 "Error yarn add all or npm install yarn"
![Screenshot 2022-02-03 094035](https://user-images.githubusercontent.com/98944150/152309361-fedd932e-4b63-40bf-889b-becf68d47a12.png)
Hello Guys, I am not a Coder. I need a litte help. I installed python node.js und VSC. When i type in' python --version ' or ' pip --version' it shows me the correct version. But when i type in ' npm install yarn' than its not working. Or when i type in at the vsc

[2022-02-03 08:53] Sphinxspirit opened #663 "DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead (Use `node --trace-deprecation ...` to show where the warning was created)"
How do i rectify this warning?

[2022-02-03 10:37] bolshoytoster commented on #663
@Sphinxspirit you can ignore it, I’ll see if I can remove it.

[2022-02-03 10:38] Sphinxspirit commented on #663
Hi thanks for the reply. Yup the warning does not affect the file generation process.

[2022-02-03 10:38] bolshoytoster commented on #662
@emrebaran run `npm install -g yarn` to install yarn globally, then run `yarn install`.

[2022-02-03 11:47] sudip-blip commented on #626
is your problem solved?

[2022-02-03 13:31] emrebaran commented on #662
<img width="1440" alt="Bildschirmfoto 2022-02-03 um 14 29 02" src="https://user-images.githubusercontent.com/98944150/152352082-d937cc7f-ef2d-4fd3-b3c0-921dfa5c1a97.png">
Hey Thank you for your message .. but its still not running... What I am doing wrong? I installed python, nodes & VSC. It shows me the version of python & pip... but can't continue with yarn.
Do you have any idea? @bolshoytoster

[2022-02-03 13:36] bolshoytoster commented on #662
@emrebaran you might need to run `sudo yarn install -g yarn` (you’ll have to input your password).

[2022-02-03 15:09] j4far commented on #635
Hi Bolshoytoster, Sorry i had to find out how to run command

PS C:\Users\****\Desktop\hashlips_art_engine-main> ls

    Directory: C:\Users\****\Desktop\hashlips_art_engine-main

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        02/02/2022     09:40                hashlips_art_engine-main

PS C:\Users\****\Desktop\hashlips_

[2022-02-03 16:00] AwaisAhmad07 opened #664 "ReferenceError: baseUri is not defined"
I don't know why this is popping up again and again but when ever I erase this baseuri from module.export then it just export last folder of layers
I'll be thankfull to you for your kind help

[2022-02-03 16:17] sinascorpion opened #665 "Terra network"
Does this source ability to create metadata on Terra network?

[2022-02-03 16:22] bebrutas commented on #498
I had the same issue and the problem was the hyphens. Thank you guys, your comments helped! @nichochar @listennman

[2022-02-03 16:34] bolshoytoster commented on #662
@emrebaran it doesn't show your password when you type it, just type it and press enter.

[2022-02-03 16:45] bolshoytoster commented on #635
@j4far Run `cd hashlips_art_engine-main` then `npm run build`.

[2022-02-03 17:35] bolshoytoster commented on #664
@AwaisAhmad07 you shouldn't remove things from the `module.exports`.

[2022-02-03 18:20] AwaisAhmad07 commented on #664
@bolshoytoster but without that running the same code as it is it shows "ReferenceError: baseUri is not defined "
it will be helpful if you can solve my issue

[2022-02-03 18:25] bolshoytoster commented on #664
@AwaisAhmad07 just add `const baseUri = "ipfs://NewUriToReplace";` somewhere in `src/config.js`.

[2022-02-03 18:31] HUANGWentan opened #666 "Error shows after yarn install"
Hi everybody, I clone the project and used the yarn install  and this happened..

wentanhuang@Wentans-Air hashlips_art_engine-main % yarn install
yarn install v1.22.15
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistencies caused by unsynchronized lock files. To cle

[2022-02-03 18:45] HUANGWentan commented on #666
I am currently using a m1 chip macbook then I uninstall my latest Nodejs verion 16 and install the v14, problem fixed!
here is the link of the v14 nodejs
https://nodejs.org/download/release/v14.19.0/

[2022-02-03 18:45] #666 closed

[2022-02-03 18:57] Brad-CurrencyHub commented on #659
C:\Users\Brad\Downloads\proj\generative-art-node-main>git diff
'git' is not recognized as an internal or external command,
operable program or batch file.

[2022-02-03 19:04] bolshoytoster commented on #659
@Brad-CurrencyHub did it return any errors when you generated the images? It's a know issue that when it returns `You need more layers or elements to grow your edition to ...` it doesn't write metadata. I've fixed it in [my repo](https://github.com/bolshoytoster/hashlips_art_engine) so if you download that instead it should work.

[2022-02-03 19:14] Brad-CurrencyHub commented on #659
It had no errors the images all look fine, no errors.
I can run your to check it.

I just installed git and reran the git diff it says the following...

generative-art-node-main) 1 % git diff
warning: Not a git repository. Use --no-index to compare two paths outside a working tree
usage: git diff --no-index [<options>] <path> <path>

[2022-02-03 19:38] AwaisAhmad07 commented on #664
@bolshoytoster  thanks for your help but I'm still facing the same issue have a look at my layers
"       layersOrder: [
      { name: "Background" },
      { name: "Eyes" },
      { name: "Face" },
      { name: "watermark" },
    ],   "
 and when ever I write node index.js it only picks up the images from last layer ("watermark") and doesn't overlaps/use images from other layers/folders and when

[2022-02-03 19:41] bolshoytoster commented on #664
@AwaisAhmad07 have you made sure your images are transparent and don't overlap each other?

[2022-02-03 19:46] AwaisAhmad07 commented on #664
@bolshoytoster  yes I've tried it multiple times but it only shows the some watermark image in built folder with a white background and a little bit more shiny than original and doesn't shows other layers

[2022-02-03 20:21] bolshoytoster commented on #652
@thepeanutgalleryandco I can't get the dna hashlips uses internally from the json files, I'd either have to add the `element.id`s to the genearated metadata or change how we use DNA internally. Either way, it will create incompatibiity with older versions.

[2022-02-03 20:55] thepeanutgalleryandco commented on #652
@bolshoytoster the DNA is stored for each object either in the base object or within the custom_fields object. Maybe do a check if it is in either of these fields and if found, then skip the DNA, otherwise, accept the newly created DNA.

[2022-02-03 20:57] bolshoytoster commented on #652
@thepeanutgalleryandco it stores a sha1 hash of the dna, it's not really useful for this purpose.

[2022-02-03 21:13] emrebaran commented on #662
@bolshoytoster
![image](https://user-images.githubusercontent.com/98944150/152429614-cad67753-9492-403f-b2cf-1aecd5581791.png)
Hey i just tried it on my mac and windows. And all i receive is a error.... Can you help me with teamviewer?
I pay you in BTC..

[2022-02-03 21:15] realDivineApe opened #667 "Unable to successfully run update_info.js"
I follow the video step by step, but I cannot seem to figure out why it will not properly update metadata info once I have the images uploaded to Pinata. Instead of adding the correct baseUri to each individual json file, it creates a new one, 'undefined.json' with the correct information and also correctly updates the _metadata.json files as well. Anyone have any ideas why?

[2022-02-03 21:16] emrebaran commented on #662
@bolshoytoster

![image](https://user-images.githubusercontent.com/98944150/152430019-2344eefb-f33c-4c0b-8550-2970390ba08f.png)

[2022-02-03 21:19] bolshoytoster commented on #662
@emrebaran `sudo` is the command to run something with admin privileges.

Windows/powershell doesn't have this so you'll have to instead `windows key + s`, search `powershell`, right-click on `Windows PowerShell` and click `Run as administrator`.

Then you can run `npm install -g yarn` in that.

That should be the only time you have to do that, then you can then go into the visual studio powershel

[2022-02-03 21:25] emrebaran commented on #662
@bolshoytoster
![image](https://user-images.githubusercontent.com/98944150/152431228-769522ae-2d17-4f7d-bb5a-bbf9f2447391.png)
just did that .. but still not working... its so frustrating...

[2022-02-03 21:25] realDivineApe commented on #579
I am also having the same problem. Would love some help!

[2022-02-03 21:28] bolshoytoster commented on #662
@emrebaran sorry, I didn't understand the error at first, windows is blocking `yarn` from running, so you need to run `set-executionpolicy remotesigned` in the admin powershell to enable it.

[2022-02-03 21:32] bolshoytoster commented on #667
@realDivineApe it should be in the `image` proberty of the metadata.

[2022-02-03 21:33] emrebaran commented on #662
@bolshoytoster Hey man now it worked. Cant describe how thankful I am. I watched a lot of videos none of them helped me. Pls sende me your BTC wallet!
![image](https://user-images.githubusercontent.com/98944150/152432560-c2f4afb0-bfbc-45ac-8172-e29b5f7d91a1.png)

[2022-02-03 21:42] bolshoytoster commented on #662
@emrebaran
No problem, also note that HashLips might not work on your mac if it has an M1 chip.

BTC: 3PcvzFiZVgDSaEjVhBufc9qTbSgpNhWQAA

[2022-02-03 21:46] gtheri8 commented on #579
So the way I fixed it was reinstalling virtual studio code and node.Js, downloaded another copy of the repo, and making sure to install everything correctly. Worked right away

[2022-02-03 21:49] WaterlessPiano2 commented on #584
This has worked after setting my node modules to be the same as yours on my Ubuntu machine! Thanks!

[2022-02-03 22:56] emrebaran commented on #662
@bolshoytoster now i got a new problem. I typed in the terminal node index.js and than this happened. What do i need to change?
![image](https://user-images.githubusercontent.com/98944150/152443159-318710b4-9a92-43a3-b698-486f197abefa.png)

[2022-02-03 22:59] bolshoytoster commented on #662
@emrebaran you probably have to save `config.js` (`ctrl + s`).

[2022-02-03 23:11] bolshoytoster commented on #652
I've mostly implemented this (not in the nicest way, I think we probably need to rework how HashLips deals with dna internally), should we overwrite existing metadata with any changes or should we leave it as it is. i.e. if the user changes the description, should it change the description on all of the existing metadata?

[2022-02-03 23:23] brown2020 commented on #455
I ran into the same problem and thought it was a node version issue, so I used NVM and tried different things. Turns out this is an issue with M1. I did exactly the same thing on an older Macbook Pro before the M1 and everything works fine.

[2022-02-04 00:11] brown2020 commented on #654
I had this same issue on a new M1 Mac. Everything worked fine on the old machine but broke on the M1.
After trying lots of Node versions, trying to switch the architecture, recompiling canvas and a lot of other things, none of which worked, here's what finally did the trick:

install brew by doing this:

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)

[2022-02-04 00:56] omowanai commented on #658
that would be awsome, im not very experienced in writing code so im not sure how hard it would be but, if i could decide how it worked, i would simply want it to prevent particular layer from being used with another, heres an example i tried my best lmao prbably all wrong, thanks again

{
 incompatible {
 layer : "background",
 trait: "purple",
incompatible with
  layer : "skin" ,
 trait : "purple

[2022-02-04 04:19] #651 closed

[2022-02-04 09:11] qudo-code opened #668 "Rarity Confusing: But This Helped"
Rarity is really confusing. I really appreciated how it was explained in this thread. Be nice if you could quote this or something similar.
https://giters.com/HashLips/hashlips_art_engine/issues/251

[2022-02-04 09:27] thepeanutgalleryandco commented on #652
@bolshoytoster let's take a step back quick on the topic of hashing. Hashing is a one-way mechanism, which means we can't decode it to get the value that was hashed, but we can hash a new value and then compare the hash values to see if the original item that got hashed, matches the new item that we hashed. This usually gets used with data anonymization.

Let's take the example of your password to

[2022-02-04 09:28] thepeanutgalleryandco commented on #652
The description and name is not taken into account for the DNA, it is the attributes if I remember correctly. We have separate scripts to update the name, description, image URLs and metadata URIs if necessary.

[2022-02-04 09:41] bolshoytoster commented on #652
@thepeanutgalleryandco I'm aware that hashing is one-way, I've added a loop to the start that goes through `_metadata.json` and adds the DNA hashes to a new `Set`, then it checks if the hash is in it.

I think there was a misunderstanding, I meant for the rest of the JSON attributes to be updated. Currently it leaves the existing data as it is, which is probably the best way to do it.

[2022-02-04 10:16] thepeanutgalleryandco commented on #652
@bolshoytoster apologies for the long-winded post about hashing ;)

[2022-02-04 12:59] azhevanov commented on #219
hi

did you manage to solve the problem? I faced the same issue.

[2022-02-04 16:55] bolshoytoster commented on #652
@Rohitsahu19 @thepeanutgalleryandco I've added a commit to [my fork](https://github.com/HashLips/hashlips_art_engine/pull/638) that adds this. I've also reworked `startCreating` to make it more readable/efficient.

[2022-02-04 16:57] bolshoytoster commented on #668
@qudo-code thank you for the link, I'll add this to my PR.

[2022-02-04 20:22] Lowkeydro commented on #498
Where do I find the file name to delete hyphens

[2022-02-04 20:24] Lowkeydro commented on #498
Where do I go to find the files so I can delete the hyphens?

[2022-02-05 00:32] ezrana94 commented on #668
Thank you for the link info! So basically, we're unable to produce the amount of certain image to a specific amount based on percentage right? Since weight is calculated by "chances". Is there any way / extra tools to have specific amount of image based on percentage? (Or any link that relates)

[2022-02-05 00:34] ezrana94 commented on #608
Add more trait layers to avoid duplication

[2022-02-05 00:38] bolshoytoster commented on #668
@ezrana94 because of the way HashLips generates images, it can't be done that way, you could have a look at [other generators](https://github.com/search?q=nft+generator) to see if they can do that.

[2022-02-05 00:40] ezrana94 commented on #668
@bolshoytoster I see. Alright, will look into the other generators. Thanks!

[2022-02-05 05:17] Merc616 commented on #520
All you have to do is go to terminal and type npm i node-fetch@2.6.1

[2022-02-05 09:49] dpd1223 opened #670 "Error: EINVAL"
C:\Users\HP\Downloads\Compressed\create-10k-nft-collection-1.1.0\create-10k-nft-collection-1.1.0>npm run generate

(node:18748) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
C:\Users\HP\Downloads\Compressed\creat

[2022-02-05 12:35] bolshoytoster commented on #670
@dpd1223 it looks like `layers/Background/0007s0001White.png` has a newline in it. god knows how, I'll have look at any issues, make sure your filenames don't have newlines in them.

[2022-02-05 12:43] DiskJockey56 commented on #642
I'm having the same issue only much worse. Most of mine aren't rendering fully and its completely random. when i check the json the traits are in there and sometimes they render most times they dont
Did you figure out the issue?

[2022-02-05 12:50] DiskJockey56 commented on #642
I'm also receiving this message after I run generate
Not sure if this is normal

(node:20506) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)

[2022-02-05 12:58] randomsolidityguy commented on #628
Hey did you get any more info on this! If not, I'll make sure to let you know once I find an answer!

[2022-02-05 13:01] samgreenwashere commented on #2
The solution for this is to install js-sha1 so just do npm install js-sha1.

[2022-02-05 13:02] samgreenwashere commented on #2
node_module/sha1 was missing.

[2022-02-05 15:26] bolshoytoster commented on #642
@DiskJockey56 you can ignore that warning. Could you send your project (.zip) so I can see if I can recreate this.

[2022-02-05 16:06] bolshoytoster commented on #670
@dpd1223 the file's name has a charachter that shouldn't be in it, rename the files and it should go away.

[2022-02-05 16:23] dpd1223 commented on #670
I renamed the file and removed all symbols...but still it is showing the same error

This is the code:

PS C:\Users\HP\OneDrive\Desktop\create10nftcollection110> npm run generate

(node:10588) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show wher

[2022-02-05 17:23] aymanawwad opened #671 "missing files"
hi
I was watching your tutorial about nft but when i upload the last version of art code its not the same, src and utlis folders not in it .
I'm lost now wat to do ,
thank you
sorry for my English

[2022-02-05 17:36] G0804019u opened #672 "errno: -4058"
Error: ENOENT: no such file or directory, scandir 'C:\Users\justy\nft_collection\hashlips_art_engine/layers/Eyeball/'
    at Object.readdirSync (node:fs:1390:3)
    at getElements (C:\Users\justy\nft_collection\hashlips_art_engine\src\main.js:73:6)
    at C:\Users\justy\nft_collection\hashlips_art_engine\src\main.js:92:15
    at Array.map (<anonymous>)
    at layersSetup (C:\Users\justy\nft_collec

[2022-02-05 17:44] bolshoytoster commented on #670
@dpd1223 you need to do it for all of the images with newlines in them. It's complaining about `layers/Background/White.png` now.

[2022-02-05 17:51] bolshoytoster commented on #671
@aymanawwad if I understand correctly, you are missing `src/` and `utils/`. I think this might be because you're in the wrong folder.

Try running `cd */` in the powershell, then run `npm run build` to test.

[2022-02-05 17:55] bolshoytoster commented on #672
@G0804019u the error is because it looks for an `Eyeball/` folder but it doesn't exist. Make sure the folders in `layers/` match the names in `src/config.js`. (It's case sensitive as well).

[2022-02-05 18:20] aymanawwad commented on #671
PS C:\Users\ayman\Downloads\hashlips_art_engine-main\hashlips_art_engine-main> cd */
cd : Cannot set the location because path '*/' resolved to multiple containers. You can only the set
location to a single container at a time.
At line:1 char:1
+ cd */
+ ~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Set-Location], PSArgumentException
    + FullyQualifiedErrorId : Argument,Microsoft.Pow

[2022-02-05 18:28] bolshoytoster commented on #671
@aymanawwad sorry, I thought powershell could do that. It looks like you're already in the right place. Could you send the output of `ls` please?

[2022-02-05 18:31] aymanawwad commented on #671
i removed the file and installed , the missing folder showed up , i have them now ,
i also tried npm install many errors
is this wat u mean 1s output
1s : The term '1s' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the spelling of the name, or if a path was included, verify that the path is correct
and try again.
At line:1 char:1
+ 1s
+ ~~
    + Categ

[2022-02-05 18:33] bolshoytoster commented on #671
@aymanawwad it's an L instead on a 1. Could you send the errors from `npm install` instead please.

[2022-02-05 18:34] aymanawwad commented on #671
npm install
PS C:\Users\ayman\Downloads\hashlips_art_engine-main\hashlips_art_engine-main> npm install truffle -p
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated har-validator@5

[2022-02-05 18:35] aymanawwad commented on #671
ls
PS C:\Users\ayman\Downloads\hashlips_art_engine-main\hashlips_art_engine-main> ls

    Directory: C:\Users\ayman\Downloads\hashlips_art_engine-main\hashlips_art_engine-main

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          2/5/2022  10:15 PM                .github
d-----          2/5/2022  10:15 PM                const

[2022-02-05 18:39] bolshoytoster commented on #671
@aymanawwad you need to install [visual studio](https://c2rsetup.officeapps.live.com/c2r/downloadVS.aspx?sku=community&channel=Release&version=VS2022) with the c++ development workload. Not visual studio code.

[2022-02-05 20:32] Mistermatthews commented on #626
I am having the same issue, did you find a fix?

[2022-02-05 20:34] bolshoytoster commented on #626
@Mistermatthews can you paste the full error please?

[2022-02-05 20:45] Mistermatthews commented on #626
PS C:\Users\Player One\Desktop\hashlips_art_engine-1.1.2_patch_v5> node utils/nftport/uploadfiles.js
internal/fs/utils.js:332
    throw err;
    ^

Error: ENOENT: no such file or directory, scandir '${basePath}/build/images'
    at Object.readdirSync (fs.js:1047:3)
    at Object.<anonymous> (C:\Users\Player One\Desktop\hashlips_art_engine-1.1.2_patch_v5\utils\nftport\uploadfiles.js:7:4)
    at Mod

[2022-02-05 21:01] bolshoytoster commented on #626
@Mistermatthews I don't think that error is related to this repo, `utils/nftport/uploadfiles.js` doesn't even exist. Do you know where the file came from? It could be one of [these](https://github.com/search?p=2&q=path%3Autils%2Fnftport%2F&type=Code) repos.

[2022-02-05 21:05] Mistermatthews commented on #626
@bolshoytoster yea its CodeStakrs repo from his generate and minting video, im not sure if that repo is out of date or not. Its only about a month old

[2022-02-05 21:09] bolshoytoster commented on #626
@Mistermatthews you should probably open an issue over there then.

[2022-02-05 21:11] Mistermatthews commented on #626
@bolshoytoster unfortunately I have tried and nobody likes to answer

[2022-02-05 22:34] adcommodore opened #673 "Unexpected Token"
Not sure why I keep getting unexpected token. tried to change it to a couple of other tokens to see if anything changes but it gets upset...I'm using version 10 of node...

initGifEncoder = () => {
                 ^

SyntaxError: Unexpected token =
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Mod

[2022-02-05 22:49] Shampila421 commented on #419
i have issue regarding this. can anyone help me to guide through this.
![fsdfdfdsfdf](https://user-images.githubusercontent.com/98848441/152661545-790e52c4-cb02-4583-8840-3df9e42a3519.JPG)

[2022-02-05 22:55] realDivineApe commented on #667
I actually went to the HashLips discord and asked around and figured it out. For anyone who might also be having this trouble: if, by any chance, you messed around with some of the code from following the CodeStackr video (like I did) this is going to be your issue, specifically the code in the 'main.js' file around line 128-130, and made it look something similar to below...

The custom fields po

[2022-02-05 22:55] realDivineApe commented on #579
I actually went to the HashLips discord and asked around and figured it out. For anyone who might also be having this trouble: if, by any chance, you messed around with some of the code from following the CodeStackr video (like I did) this is going to be your issue, specifically the code in the 'main.js' file around line 128-130, and made it look something similar to below...

The custom fields po

[2022-02-05 23:23] bolshoytoster commented on #673
@adcommodore you could try changing the line to `initGifEncoder() {`. You'll probably also have to change the other similar lines accordingly.

[2022-02-05 23:29] bolshoytoster commented on #419
@Shampila421 that error comes because `_layer.selectedElement` is undefined. I'll investigate this.

[2022-02-05 23:41] Shampila421 commented on #419
well thanks for your reply....my issue is already resolved. it is because i have Signs like (!@$%^- )() etc in the file name or file folder name we use only # when we define rarity except # we should not include Any sign unless we want an error.

for example 👍
your folder name is
Background Front
and you write it like 👎
Background-Front or Background*Front or (Background-Front) etc.
you can only l

[2022-02-05 23:57] bolshoytoster commented on #419
@Shampila421 thank you, that can help me track this down.

It looks like it's undefined when `layer.elements.find()` in `constructLayerToDna` fails to match the dna:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/src/main.js#L224-L231

I think this is caused if you have `DNA_DELIMITER` (`-` by default) in your filename.

[2022-02-06 00:02] Apoloniyr opened #674 "TypeError: Cannot read properties of undefined (reading 'split')"
Guys, how can I solve this error?

**TypeError: Cannot read properties of undefined (reading 'split')
    at cleanDna (C:\Users\hp\Desktop\hashlips_art_engine-1.0.2_update\hashlips_art_engine-1.0.2_update\src\main.js:44:25)
    at C:\Users\hp\Desktop\hashlips_art_engine-1.0.2_update\hashlips_art_engine-1.0.2_update\src\main.js:135:22
    at Array.find (<anonymous>)
    at C:\Users\hp\Desktop\hashl

[2022-02-06 00:13] xbergrunner opened #675 "Canot change Layers"
When i add my layers i got a lot of errors, have to change thé taxonomies back to the default from hashlips to run

tim@Tims-MBP hashlips_art_engine-1.1.2_patch_v5 % npm run generate

(node:1302) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show w

[2022-02-06 00:18] bolshoytoster commented on #674
@Apoloniyr it looks like you're using an old release, could you try again on a newer version please?

[2022-02-06 00:23] bolshoytoster commented on #675
@xbergrunner the layer folder names have to match exactly (case-sensitive) with the layer names in `src/config.js`.

[2022-02-06 03:51] volkovecom commented on #667
Hi

Can you please show me where it needs to be removed?

Thank you

[2022-02-06 04:41] aymanawwad commented on #671
hi
plz share me the link to the software visual studio with the c++ development workload. i downloaded it ,but there is no new terminal option , the one i see in your video is visual studio code.
thank you

[2022-02-06 05:25] TheRudist commented on #675
I'm having the same issue. I elimnated spaces. All folder names match with the config. idk whats wrong

[2022-02-06 06:20] TheRudist commented on #675
you have to save before running ::facepalm::

[2022-02-06 09:18] Bakhshi007 opened #676 "Error: Unsupported image type"
D:\CV\generate-nfts-main\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91
PS D:\CV\generate-nfts-main\hashlips_art_engine-main> node index.js
D:\CV\generate-nfts-main\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91
SetSource.call(img, src);
^

Error: Unsupported image type
at setSource (D:\CV\generate-nfts-main\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91:1

[2022-02-06 10:02] ElDla commented on #445
Is there any way to fix this without deleting the build folder?

[2022-02-06 10:27] ElDla commented on #652
@bolshoytoster It works for me, but the issue now is that if it sees DNA already exists while creating the image, that number will be skipped. For example, if image number 4 is being created and the image with the same DNA is already there, there wont be any image named 4 in the build folder. it will go 1,2,3,5,6....

[2022-02-06 10:28] bolshoytoster commented on #652
@ElDla is there not? I'll test it again.

[2022-02-06 10:31] bolshoytoster commented on #652
@ElDla It might be because you deleted the images but not the `_metadata.json`. If so this is intended behaviour.

[2022-02-06 10:36] bolshoytoster commented on #667
@volkovecom if you ctrl+f (search) for `.custom_fields` you can just remove all occurances.

[2022-02-06 10:38] bolshoytoster commented on #671
@aymanawwad [does this help you?](https://docs.microsoft.com/en-us/cpp/build/vscpp-step-0-installation)

[2022-02-06 10:51] bolshoytoster commented on #676
@Bakhshi007 this only supports PNG, GIF, JPEG, SVG and BMP images. make sure all of your images are one of those.

[2022-02-06 10:52] bolshoytoster commented on #445
@ElDla I've fixed this on [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-02-06 10:58] aymanawwad commented on #671
hi
idk wat happened ,but now everything is matching your tutorial .now I'm in pinata ,and code is generating my collection .thanks man your amazing

[2022-02-06 11:02] bolshoytoster commented on #671
@aymanawwad no problem

[2022-02-06 11:12] Flamo007 opened #677 "When i type node utils/nftport/uploadFiles.js plz help"
when I look at How To Create An ENTIRE NFT Collection (10,000+) & MINT In Under 1 Hour Without Coding Knowledge youtube video i started 2 days ago and need help

31 min in to the video i have the problem and
When i type  node utils/nftport/uploadFiles.js it just say

error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_

[2022-02-06 11:20] Bakhshi007 commented on #676
@bolshoytoster
Thanks for the comment , I have checked all of my layers are PNG but I get the same error

[2022-02-06 11:21] xbergrunner commented on #675
Trank you Guys, sometimes ist is Test easy

[2022-02-06 11:22] ElDla commented on #652
@bolshoytoster

 funny thing, it did say `DNA exists! ` for me already before.

Tested it a few times more: I started with an **empty** build folder (no metadata or images). I set grow edition size to 15, start with 1. When running it said DNA exists for image number 12, also png and json files for 12 were not created. It continued creating 13, 14, 15, all good, except **there was no 12 in the end

[2022-02-06 11:24] bolshoytoster commented on #652
@ElDla It's meant to skip when the DNA already exists, it happens in the main repo as well. If I changed it, what would you want it to do.

[2022-02-06 11:30] bolshoytoster commented on #677
@Flamo007 the issue is not related to this repo, rather [this one](https://github.com/codeSTACKr/create-10k-nft-collection). But I'll try to help you here because it might take a while to get help there.

Could you paste the full error please? That can help me find what causes it.

[2022-02-06 11:33] Bakhshi007 commented on #676
node:13100) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
Created edition: 1, with DNA: fbe4f4053b9add70509951e9428a19a09de3209e
Created edition: 2, with DNA: 4a2f6ad98145cae3ebca43829473cc25dd24b693
Created edit

[2022-02-06 11:36] aymanawwad commented on #671
hi
im sorry but this error happened update baseuri
PS C:\Users\ayman\Downloads\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5> node utils/updatebaseuri.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\ayman\Downloads\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5\utils\updatebaseuri.js'
    at Function.Modul

[2022-02-06 11:37] ElDla commented on #652
@bolshoytoster Ah, well, the way I see it, most of those who would find use for this functionality including myself would probably prefer for the script to try to create the image if it finds that the same DNA exists, until the image with unique DNA is created, and _only then_ move on to create the next image in order. The original hashlips_art_engine works like this (does not skip).

[2022-02-06 11:40] bolshoytoster commented on #671
@aymanawwad that file doesn't exist, what are you trying to do?

[2022-02-06 11:40] aymanawwad commented on #671
updae ipfs

[2022-02-06 11:42] Flamo007 commented on #677
Oh sorry @bolshoytoster did not know i started with this 2 days ago

it just says

PS C:\Users\MYNAME\Documents\hashlips_art_engine-1.1.1_update> node utils/nftport/uploadFiles.js

error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeErr

[2022-02-06 11:42] bolshoytoster commented on #671
@aymanawwad I think you can do it by runnung `npm run update_info`.

[2022-02-06 11:44] aymanawwad commented on #671
ya its worked , thanks man your support services is better than google .thanks

[2022-02-06 12:40] Sem-mem commented on #370
hi! have you solved this problem ? I get the same thing (( If you understand how to fix it, please write

[2022-02-06 12:43] bolshoytoster commented on #370
@Sem-mem the names of your folders have to match the layer names in `src/config.js` (case sensitive as well).

[2022-02-06 12:45] Sem-mem commented on #370
Of course, everything matches and the pictures are exactly png, but still. Now I'll check again, but it seems that's not the point

[2022-02-06 12:53] Sait691 opened #678 "HasgLips_Art_Engine issue"
I did the file commands as you did but npm finds 5 vulnerabilities when installing. When I do the npm audit fix, it pretends to work, but node index.js doesn't upload pictures in the commune. It gives the error;
 SetSource.call(img, src);
            ^

Error: ENOENT, No such file or directory 'C:\Users\ismai\OneDrive\Masaüstü\Bored/layers/Background/Black#1.png'
    at setSource (C:\Users\ismai\O

[2022-02-06 13:11] Sait691 commented on #678
node index.js
node:fs:1390
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\ismai\OneDrive\Masaüstü\hashlips_art_engine-5363ccc8f9e0991d3bc269d6b8b81a39d5bee082/layers/Eyeball/'
    at Object.readdirSync (node:fs:1390:3)
    at getElements (C:\Users\ismai\OneDrive\Masaüstü\hashlips_art_engine-5363ccc8f9e0991d3bc269d6b8b81a39d5bee082\src\main.js:73:6)

[2022-02-06 13:13] bolshoytoster commented on #678
@Sait691 that second error is because the names of your folder names need to match exactly with the layer names in `src/config.js`.

[2022-02-06 13:14] Sait691 commented on #678
Thank you but other issue what is the problem ı didn't understand

[2022-02-06 13:16] Sait691 commented on #678
I went back to windows 10 to see if it was because of it I was using Windows 11 but it hasn't changed. He's always finding 5 vulnerabilities.

[2022-02-06 13:16] bolshoytoster commented on #678
@Sait691 you can ignore the vulnerabilities

[2022-02-06 13:18] Sait691 commented on #678
But even if I ignore it, he doesn't upload all kinds of photos and json files.

[2022-02-06 13:20] bolshoytoster commented on #678
@Sait691 this probably isn't the issue, but it might be that your path contains `ü` characters or because it's in the OneDrive folder. You could try moving the project folder somewhere else.

[2022-02-06 13:22] Sait691 commented on #678
yes one drive can be in the toilet bowl auto throwing thank you very much

[2022-02-06 13:23] Bakhshi007 opened #679 "Error: Unsupported image type 2"
D:\CV\generate-nfts-main\generate-nfts-main>node index.js
Created edition: 1, with DNA: 0dff911acb06e547cae26cb7fa30c0170f2f2555
Created edition: 2, with DNA: 03eab343ab2f0653a7c62790a98232ce158fe7e4
Created edition: 3, with DNA: 6d2781a7e2a6731ac3a1a8a6a04967c896c10076
Created edition: 4, with DNA: 1ad160fea0ec4922ab295dd2dedd5fba4831b5b4
Created edition: 5, with DNA: 224a6ed7a6f69ac2fda9770acae2

[2022-02-06 13:30] bolshoytoster commented on #679
@Bakhshi007 if you made some images with different software (i.e. gimp/photoshop) one of the editors might have corrupted some images.

[2022-02-06 15:30] bolshoytoster commented on #652
@ElDla I've just implemented this.

[2022-02-06 15:33] aymanawwad commented on #671
hi
i know i asked too much , but if i dont have hidden image how to fill the spaces in remix becuz i cant copy the code and paste it in vs code

[2022-02-06 16:31] Zupleee opened #681 "ReferenceError: primordials is not defined"
![Screenshot (15)](https://user-images.githubusercontent.com/99135695/152690914-fca77947-774e-4515-8472-264140c3e718.png)
Help Me :(

[2022-02-06 16:43] bolshoytoster commented on #681
@Zupleee you might be able to fix this by updating node.

[2022-02-06 16:50] Docsly opened #682 "Change Edition number during build process"
I started a 20k build, but now I only want 10k. My question is, Can I change the edition size in the middle of a run and have a complete JSON file, I tried it on a smaller batch and when I regenerated the JSON file it doesn't work correctly?? thanks

[2022-02-06 17:02] bolshoytoster commented on #682
@Docsly you can't change configurations while it's running.

[2022-02-06 17:16] Docsly commented on #682
10-4 Thanks for the reply

10-4 thanks for the reply

[2022-02-06 17:18] bolshoytoster commented on #682
@Docsly You can avoid generating them all over again by using my fork.

[2022-02-06 17:18] Solardus opened #683 "Clone error"
fatal: could not create work tree dir 'hashlips_art_engine': Permission denied

[2022-02-06 17:19] Solardus commented on #683
git clone https://github.com/HashLips/hashlips_art_engine.git
fatal: could not create work tree dir 'hashlips_art_engine': Permission denied

[2022-02-06 17:20] bolshoytoster commented on #683
@Solardus you don't have write permissions in your current directory. What os are you using?

[2022-02-06 17:20] Solardus commented on #683
windows 11

[2022-02-06 17:21] bolshoytoster commented on #683
@Solardus you can either do it in a directory you have permissions to or run the command prompt as admin.

[2022-02-06 17:21] Solardus commented on #683
i am trying to clone it through vis studio code

[2022-02-06 17:24] bolshoytoster commented on #683
@Solardus you can use the `cd` command to change your directory, run `cd ~` to go to your home, you should have permissions there.

[2022-02-06 18:06] emrebaran commented on #662
Hey @bolshoytoster this not working -MODULE NOT FOUND-
![image](https://user-images.githubusercontent.com/98944150/152694804-59b90181-c678-4adc-89ad-2e7ba5babbfb.png)

[2022-02-06 18:08] bolshoytoster commented on #662
@emrebaran You might have to run `cd hashlips_art_engine-1.0.0_update` and then you can `npm run build`.

[2022-02-06 18:11] emrebaran commented on #662
@bolshoytoster ahh that worked. Thank you so much :)

[2022-02-06 19:11] marcpre opened #684 "Error - node:internal/modules/cjs/loader:1183 return process.dlopen(module, path.toNamespacedPath(filename));"
Hi.

I am running the following versions of `npm` and `node` on `Ubuntu 20.04.3 LTS`.

[code]

[code]

I installed all the packages provided from the standart `package.json` file:

[code]

I also rebuild and reinstalled everything:

[code]

I want to test hashlips_art_engine with the provided example.

[code]

When trying to generate sample images using `npm run generate`, I get the above error.

[2022-02-06 19:14] bolshoytoster commented on #684
@marcpre have you tried running `rm -r node_modules` then `yarn install`/`npm install` again?

[2022-02-06 19:17] bolshoytoster commented on #684
@marcpre according to the comments [this](https://stackoverflow.com/a/46384631) stackoverflow answer, you might have to run `npm cache clear` as well.

[2022-02-06 19:22] marcpre commented on #684
Thx for your superfast answer!

Removing and reinstalling worked for me.

[2022-02-06 19:22] #684 closed

[2022-02-06 20:02] emrebaran commented on #662
@bolshoytoster now i got a new problem.
![image](https://user-images.githubusercontent.com/98944150/152699179-ba08f555-13f7-42be-9e1a-aa0a123c0bb7.png)

[2022-02-06 20:05] bolshoytoster commented on #662
@emrebaran Try running `cd bulk-upload-to-opensea-main` then `pip install -r requirements.txt` again.

[2022-02-06 20:07] emrebaran commented on #662
@bolshoytoster thank you again, that worked. :)

[2022-02-06 20:15] bolshoytoster commented on #635
@HashLips if you get the chance could you change the releases to have everything on the root of the zip, rather than within an extra directory.

[2022-02-06 20:25] Xanph commented on #615
Hi All,

Been trying to figure this one out for the past several hours as I too am getting this error

[code]

I'm using the latest version of Adobe Illustrator and VS code, as well as the latest version of Art Engine. I have seven layers, but also have a second layer configuration which I commented out for the most part. Been using both `npm run generate` and `npm run index.js` - same thing but w

[2022-02-06 20:32] bolshoytoster commented on #615
@Xanph thank you for testing this, you could try changing line 27 in `package.json` fron `"canvas": "^2.8.0",` to `"canvas": "^2.9.0",`. Then delete the `node_modules` folder and run `yarn install`/`npm install` again.

[2022-02-06 20:54] Xanph commented on #615
@bolshoytoster I just made the change to 2.9.0 nothing different there.

Will take a look at your fork, thanks for implementing that.

[2022-02-06 20:55] bolshoytoster commented on #615
@Xanph if you find which files cause the problem could you send one so I can try to track the bug down.

[2022-02-06 22:25] Erlhyenaplays opened #685 "TypeError: data.forEach is not a function"
help

[2022-02-06 22:26] bolshoytoster commented on #685
@Erlhyenaplays can you copy/paste the full error please?

[2022-02-06 22:31] Erlhyenaplays commented on #685
TypeError: data.forEach is not a function
    at Object.<anonymous> (/Users/erlhyenaplays/Downloads/hashlips_art_engine-main/utils/update_info.js:17:6)
    at Module._compile (node:internal/modules/cjs/loader:1101:14)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1153:10)
    at Module.load (node:internal/modules/cjs/loader:981:32)
    at Function.Module._load (node:intern

[2022-02-06 22:32] Erlhyenaplays commented on #685
this is the code:
data.forEach((item) => {
  if (network == NETWORK.sol) {
    item.name = `${namePrefix} #${item.edition}`;
    item.description = description;
    item.creators = solanaMetadata.creators;
  } else {
    item.name = `${namePrefix} #${item.edition}`;
    item.description = description;
    item.image = `${baseUri}/${item.edition}.png`;
  }
  fs.writeFileSync(
    `${basePath}/build

[2022-02-06 22:42] Erlhyenaplays commented on #685
@bolshoytoster

[2022-02-06 22:43] bolshoytoster commented on #685
@Erlhyenaplays it looks like something is wrong with the `/build/json/_metadata.json` file. Could you paste the contents of that here?

[2022-02-06 22:46] Erlhyenaplays commented on #685
@bolshoytoster
{
  "name": "InvestiGators",
  "description": "",
  "collection": [
    {
      "name": "#1",
      "description": "",
      "external_url": "",
      "image": "1.webp",
      "attributes": [
        {
          "trait_type": "Background",
          "value": "LightGreen"
        },
        {
          "trait_type": "croc",
          "value": "Croc"
        },
        {
          "tr

[2022-02-06 22:50] bolshoytoster commented on #685
@Erlhyenaplays I have no idea how it happened, but you could fix it by changing line 17 of `utils/update_info.js` from `data.forEach((item) => {` to `data.collection.forEach((item) => {`.

[2022-02-06 22:58] Erlhyenaplays commented on #685
tysm

[2022-02-06 23:39] Justiniscoding commented on #570
Turns out I forgot to change the image size, and once fixing it this error no longer happened

[2022-02-06 23:39] #570 closed

[2022-02-07 07:33] ElDla commented on #652
@bolshoytoster Great! It works like a charm. Can't tell you how much time I spent trying to find a solution for this whole problem, and you did it. I really appreciate it!

[2022-02-07 07:39] MohamedAmmarrrr opened #686 "NPM run generate"
Hello I was runnng the npm run generate command when it creates 5 or 6 images then says an error

[2022-02-07 07:53] bolshoytoster commented on #686
@MohamedAmmarrrr could you copy/paste the full error here please

[2022-02-07 13:08] Xanph commented on #615
@bolshoytoster the plot thickens...

`growEditionSizeTo: 50` is set

I checked out your fork and turned on debug mode as mentioned. Using your trait types in the terminal, I went through each layer one by one, deleting the images where the value was shown. I did this until there was one image left in each layer. That way I'm no longer including images that are supposedly working in the test.

So n

[2022-02-07 13:14] Xanph commented on #676
Would be good if this could be merged into #615

[2022-02-07 13:23] bolshoytoster commented on #615
@Xanph something else, you’ll have to manually delete the `build/` directory since my fork will continue on from the previous build. I could probably add a config for this.

[2022-02-07 13:43] Xanph commented on #615
Haha yes I noticed. But factored that in

[2022-02-07 15:19] willisk commented on #397
simply installing
[code]
worked for me

[2022-02-07 15:29] Bakhshi007 commented on #679
@bolshoytoster
Thanks you so much.
issue is now solved.

[2022-02-07 15:29] #679 closed

[2022-02-07 15:32] bolshoytoster commented on #679
@Bakhshi007 could you make a comment on #615 saying how you fixed this please.

[2022-02-07 15:48] sleezehh opened #687 "Rarity for layers"
Is it possible to set a rarity also on the output of a group of layers?

[2022-02-07 18:15] mustafa-boorenie commented on #645
Can you please elaborate on what you did to get it running? Please and thank you!!!

[2022-02-07 19:10] Bakhshi007 commented on #615
@h2022m
Check all of your images make sure they are all the same type Like :PNG JPG,
if all of your images shows PNG type then download Image converter and upload all of your images those if there is problem with the images it will give you an error of cant upload the image then you will know which of your images have problem and make or export them again for me I have done the mentioned method an

[2022-02-07 19:25] heavyherbe opened #688 "🔥Generated_art"
Thankssss so much for this awesome generated art code!!

[2022-02-07 19:27] larryj52 commented on #673
I am getting a similar errorcode.  Can someone advise

SyntaxError: Unexpected token '{'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1026:15)
    at Module._compile (node:internal/modules/cjs/loader:1061:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1149:10)
    at Module.load (node:internal/modules/cjs/loader:975:32

[2022-02-07 19:30] bolshoytoster commented on #673
@larryj52 your `src/config.js` has a syntax error, could you paste it here?

[2022-02-07 19:31] bolshoytoster commented on #673
@larryj52 can you paste the `src/config.js` file please?

[2022-02-07 19:31] larryj52 commented on #673
The whole thing?

[2022-02-07 19:32] bolshoytoster commented on #673
@larryj52 just the bits you've changed

[2022-02-07 19:34] larryj52 commented on #673
// If you have selected Solana then the collection starts from 0 automatically
const layerConfigurations = [
  {
    growEditionSizeTo: 10000,
    layersOrder: [
      { name: "Backgrounds" },
      { name: "Afro" },
      { name: "Face" },
      { name: "Dickie" },
      { name: "Dashikis" },
      { name: "Eye Brows" },
      { name: "Eyes" },
      { name: "Nose" },
      { name: "Mouths" },

[2022-02-07 19:36] larryj52 commented on #673
These are the problems that are being highlighted:

[{
	"resource": "/Users/raad_1/Downloads/hashlips_art_engine-1.1.1_update/src/config.js",
	"owner": "typescript",
	"code": "1005",
	"severity": 8,
	"message": "',' expected.",
	"source": "ts",
	"startLineNumber": 42,
	"startColumn": 2,
	"endLineNumber": 42,
	"endColumn": 3
},{
	"resource": "/Users/raad_1/Downloads/hashlips_art_engine-1.1.1_update

[2022-02-07 19:38] bolshoytoster commented on #673
@larryj52 I think you're missing a `}]` around
[code]
Changing it to
[code]
Should fix it.

[2022-02-07 19:51] larryj52 commented on #673
I'll try it.

[2022-02-07 19:52] larryj52 commented on #673
It didn't work

[2022-02-07 19:53] bolshoytoster commented on #673
@larryj52 What error is it giving you now?

[2022-02-07 19:56] larryj52 commented on #673
Same error

SyntaxError: Unexpected token '{'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1026:15)
    at Module._compile (node:internal/modules/cjs/loader:1061:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1149:10)
    at Module.load (node:internal/modules/cjs/loader:975:32)
    at Function.Module._load (node:intern

[2022-02-07 19:56] bolshoytoster commented on #673
@larryj52 what part is the error coming from?

[2022-02-07 19:58] larryj52 commented on #673
/Users/raad_1/Downloads/hashlips_art_engine-1.1.1_update/src/config.js:38
      { name: "Pupils" },

i think

[2022-02-07 19:58] larryj52 commented on #673
This is what the code looks like now with yyour suggestion.

// If you have selected Solana then the collection starts from 0 automatically
const layerConfigurations = [
  {
    growEditionSizeTo: 10000,
    layersOrder: [
      { name: "Backgrounds" },
      { name: "Afro" },
      { name: "Face" },
      { name: "Dickie" },
      { name: "Dashikis" },
      { name: "Eye Brows" },
      { name: "

[2022-02-07 19:58] bolshoytoster commented on #673
@larryj52 there might be a missing comma on the line before, if not, can you send the line above this.

[2022-02-07 20:05] adcommodore commented on #673
This totally worked. Thank you!

[2022-02-07 20:05] larryj52 commented on #673
Sent

[2022-02-07 20:09] larryj52 commented on #673
@adcommodore where did you put this line – initGifEncoder() { ?

[2022-02-07 20:10] bolshoytoster commented on #673
@larryj52 that's about the original issue.

Can you send me the full error and the full `src/config.js` file please.

[2022-02-07 20:13] larryj52 commented on #673
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "SoulBroNo1";
const description = "A mecca cool brother reflecting the times gone by";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {

[2022-02-07 20:16] Niahig commented on #672
having the same issue, its looking for a background folder, the folder exists. so not sure what is going on with it
did you figure it out?

[2022-02-07 20:17] bolshoytoster commented on #673
@larryj52 I haven't run into any problems with that, I assume you have a `}` on the last line.

[2022-02-07 20:19] bolshoytoster commented on #672
@Niahig make sure the folder names match the names in `src/config.js` exactly (case sensitive as well).

[2022-02-07 20:19] larryj52 commented on #673
I'll try

[2022-02-07 20:28] Claibom opened #689 "Display P3 Color Supported?"
Hi! I'm currently having uses with faded colors in the generated art. I believe this is because my layers are being converted from a "Display P3" color profile to an "RGB" color profile during the layering process. Do you know if there is a way that I can keep the "Display P3" color profile?

[2022-02-07 20:45] Xanph commented on #615
@Bakhshi007 just gave this a go with AVS Image Converter, no luck on that.

I'm going to start looking again into Canvas's specific colour requirements.

@h2022m @servusas @williamszeto - have you found anything?

[2022-02-07 21:14] Niahig commented on #672
Hi, they match exactly, it worked fine . i was able to test run, when i changed the grow edition size, it no longer works

[2022-02-07 21:24] bolshoytoster commented on #672
@Niahig are you using this repo or my fork?

[2022-02-08 01:37] larryj52 commented on #673
Problem not resolved.  I re installed node.js and updated visual basic.  getting new error messages. WHat does this mean:

(node:43978) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
/Users/raad_1/Downloads/hashli

[2022-02-08 02:23] larryj52 opened #690 "TypeError"
I am getting this message and I don't know what it means.
Cannot read properties of undefined (reading 'path')
I re-installed node.js and updated visual basic

[2022-02-08 06:14] Stabrus77777 commented on #662
Hi there,

I have a m1 Mac, and I tryed everything that I could find in the internet to rub that npm install, but it still doesnt work.

What to do?

[2022-02-08 06:38] Stabrus77777 commented on #528
Hi,

I tryed everything as you wrote.
It was ok till that place:
"`brew yarn install`" There I`ve got that massage: "Error: Unknown command: yarn"

Next I tryed "npm i"
<img width="715" alt="Bildschirmfoto 2022-02-08 um 14 32 54" src="https://user-images.githubusercontent.com/98816863/152931768-43187834-3bc4-4e5b-9878-938163c5614e.png">
That kind of worked out, but with some Errors

Next stepp: I`

[2022-02-08 06:46] thepeanutgalleryandco commented on #662
Dis you uninstall node and install an older version? Version 14?

[2022-02-08 07:10] ken-vat opened #691 "Hitting Duplicate DNA images multiple times - no error generated"
Found this with nftchef fork but could be an issue here
All info here - https://github.com/nftchef/art-engine/issues/26

[2022-02-08 07:37] Stabrus77777 commented on #662
I thougt so.
But now I checked and it still shoews me:
Node v16.13.0
Npm 8.1.0

Could you tell me how to do that "clean".

[2022-02-08 07:59] thepeanutgalleryandco commented on #662
https://stackabuse.com/how-to-uninstall-node-js-from-mac-osx/
https://www.positronx.io/how-to-uninstall-node-js-and-npm-from-macos/

I haven't done it myself, but try and follow these tutorials I guess.

Then download the latest version 14 from here - https://nodejs.org/dist/v14.19.0/

[2022-02-08 08:02] bolshoytoster commented on #673
@larryj52 I think this can happen if you have DNA_DELIMITER (`-` by default) in the name of one of your images/layers.

[2022-02-08 08:13] ankesh27 opened #692 "Randomize complete collectioin"
Hello There,

It's a great repo and I enjoy playing with it.
I was wondering if there is an option to randomize the complete collection of art + metadata?

The reason for me looking into this is I have a collection of Girls + Boys.
Boys and Girls have different traits, Once I generate 5000 boys and 5000 girls, I want to randomize them. so that the collection does not have the first 5000 as boys an

[2022-02-08 08:15] bolshoytoster commented on #528
@Stabrus77777
First, run `sudo npm install -g yarn` to install yarn. (Then type your password and `[enter]`.

You should run `npm run generate` instead of `npm generate run`.

[2022-02-08 08:20] bolshoytoster commented on #691
@ken-vat do you know if the issue occurs with this repo?

[2022-02-08 08:22] bolshoytoster commented on #692
@ankesh27 do you just want the numbers to be randomised?

[2022-02-08 08:33] ankesh27 commented on #692
The complete collection (Art number and corresponding Metadata as well).

[2022-02-08 08:53] Stabrus77777 commented on #662
Thank you.

How do I install the files from that site?

[2022-02-08 09:03] ElDla commented on #652
@bolshoytoster Another thing I noticed testing it is that if you want to specify multiply layer configurations and set the `const shuffleLayerConfigurations = true;` , images won't be shuffled.

[2022-02-08 10:07] bolshoytoster commented on #692
@ankesh27 I'm not sure how easy it would be to do on an already created set, I could add this during generation though (using the `shuffleLayerConfigurations` config).

[2022-02-08 10:10] bolshoytoster commented on #652
@ElDla I noticed that as well, I'm working on a fix.

[2022-02-08 10:47] bolshoytoster commented on #652
@ElDla I've madea hacky fix that might work using the github.com editor. It might work.

[2022-02-08 11:26] emrebaran commented on #662
Hey @bolshoytoster , can u please help me with this.
![image](https://user-images.githubusercontent.com/98944150/152977797-c37424da-77e4-45de-a6d3-7a218241797e.png)
![image](https://user-images.githubusercontent.com/98944150/152977919-276e02d6-5a9e-443d-bb90-d0c87e706f28.png)

[2022-02-08 11:57] emrebaran commented on #662
@bolshoytoster Hey Sir I fixed it. I just deleted chromedriver.exe on vsc. And replaced it with the new chromedriver I downloaded. 😊

[2022-02-08 11:58] mixord opened #693 "additional artworks dont wor5k"
i user additional artworks and shuffleLayerConfigurations  is true but it create first art work but didn't create the second

`const layerConfigurations = [
  {
    // Creates up to 50 artworks
    growEditionSizeTo: 10,
    layersOrder: [
            { name: "Backgrounds" },
            { name: "05sayeh_mirbalash" },
            { name: "04body_mirbalash" },
            { name: "03head_mirbalash"

[2022-02-08 12:05] bolshoytoster commented on #693
@mixord can you paste the output when you run it please?

[2022-02-08 12:14] mixord commented on #693
PS C:\Users\Milad Mohammadi\Desktop\hashlips_art_engine> node .\index.js
(node:7196) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
Created edition: 1, with DNA: 044038ef7422353e0b5554322248c92e3d2a5dba
Created edition: 2, with DNA: 6ac755ef4908cee8a39ca6b8405bf429dc7ab7c5
Created editio

[2022-02-08 12:41] bolshoytoster commented on #693
@mixord I fixed this in my fork; then I broke everything. If you have git installed you could (in the powershell):
[code]
You should be editing a file, swap the `pick` at the start of the line wih `drop`, save and exit the file and you should have a working repo. Copy your `src/config.js` and `layers/` directory over from the official repo.

[2022-02-08 12:58] mixord commented on #693
have error

C:\Users\Milad Mohammadi\Desktop\bolshoys_hashlips_art_engine>node index.js

<--- Last few GCs --->
= [11188:0000018A6ECE3E20]     9922 ms: Mark-sweep (reduce) 1932.5 (1962.7) -> 1932.5 (1962.7) MB, 2145.6 / 0.0 ms  (+ 0.2 ms in 3 steps since start of marking, biggest step 0.1 ms, walltime since start of marking 2150 ms) (average mu = 0.133, current mu = [11188:0000018A6ECE3E20]    123

[2022-02-08 13:02] mixord commented on #693
@bolshoytoster have error while node index.js

[2022-02-08 13:08] mixord commented on #693
editing witch file for swap the pick at the start of the line wih drop?

[2022-02-08 13:15] mixord commented on #693
@bolshoytoster  please help me sir

[2022-02-08 13:32] PencilLegend opened #694 "ERR! Missing script"
npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

i just hope this isnt a really stupid mistake by me

[2022-02-08 13:54] kenneth-ntc opened #695 "I asked in discord but nobody responded. I wish to have this functionality explained to me."
Hi, I wish to ask a few questions.
1. For example, a NFT has multiple layers and to provide a 3D look, some single layers is split into 2 different layers to be rendered. Take this opensea as an example: https://opensea.io/assets/0xed5af388653567af2f388e6224dc7c4b3241c544/9991
The glasses is split into 2 different layers, the front one is in front of the mask, and the back one is in behind the mas

[2022-02-08 14:33] ken-vat commented on #691
I havent tried the same config. I need the things that nftchef provides such as rarity weights in multiple layers, bypass dna, most importantly forcecombinations. Reason for posting here, is that this dna and dna check is a core function so I wouldnt be surprised if i hit the issue here.

[2022-02-08 16:18] bolshoytoster commented on #693
@mixord I've just fixed it so you can `git clone https://github.com/bolshoytoster/hashlips_art_engine bolshoys_hashlips_art_engine`  again and it should work.

[2022-02-08 16:21] bolshoytoster commented on #694
@PencilLegend you might be in the wrong directory, you can run `Get-ChildItem -directory` then run `cd ` + whatever it the previous command said. Then run `npm run generate` again.

[2022-02-08 16:31] bolshoytoster commented on #695
@kenneth-ntc
1. That would be quite complex.
2. On line 116 of `src/main.js` you might be able to just change the `image/png` to `image/svg+xml` but it'll probably be more complicated than that.

[2022-02-08 16:50] bolshoytoster commented on #691
@ken-vat looking at nftchef's code, it looks like they've changed the `isDnaUnique` function and probably a few other related ones. it might be just related to that repo.

[2022-02-08 19:27] Niahig commented on #672
Hi using your Fork, today the issue is showing eyeball, there is no eyeball in my layers

[2022-02-08 19:28] bolshoytoster commented on #672
@Niahig have you saved it?

[2022-02-08 19:42] Niahig commented on #672
Hi, yes multiple times and have uninstalled node, visual studio code, just cant seem to fix the error.

[2022-02-08 19:57] Niahig commented on #672
debugging has fixed it

[2022-02-08 20:58] heracross1412 opened #696 "Not all nft generate"
i have 3 layers
1. Background with 23 items
2. Body with 12 items
3. Clothes with 24 items
With this combination, i think i can generate 6624 NFT.

But after i do npm run generate, it stop at 6052 NFT.
Did i misscalculate ?
thanks for help

[2022-02-08 21:03] bolshoytoster commented on #696
@heracross1412 did it give any output other than `Created edition: ..., with DNA: ...`?

[2022-02-08 21:07] Darkzolo opened #697 "Unique one of one layer."
Hi is there a way to make a layer have a unique drop, as in it's added in once and never again. I have a collection I'm making and one layer is unique to each individual nft. Even with the rarity set to 1, I've had it duplicate and I understand why because there's a 1 percent chance it will happen. Is there a way to change it from 1 percent to a one time use?

Thanks in advance!

[2022-02-08 21:12] bolshoytoster commented on #697
@Darkzolo unfortunately, hashlips doesn't support this due to the way it generates nfts. You could look [some others](https://github.com/search?q=nft+generator) that might support this.

[2022-02-08 21:16] heracross1412 commented on #696
I done the running, but it say i dont have any layer and when i check the build folder, it only generate 6052 nft

[2022-02-08 21:26] #673 closed

[2022-02-08 21:27] bolshoytoster commented on #696
@heracross1412 does it create 6052 if you run it again?

[2022-02-08 21:29] heracross1412 commented on #696
it doesnt, it decrease to 6031. did i miss something for running it ?

[2022-02-08 21:31] bolshoytoster commented on #696
@heracross1412 did it say '`You need more layers or elements to grow your edition to ... artworks`'?

[2022-02-08 21:33] heracross1412 commented on #696
yess you are right. it say that !
do i need to add more layer ? but from my calculation, i can generate 6624 nft
i also do this in order

    growEditionSizeTo: 6624,
    layersOrder: [
      { name: "Background" },
      { name: "Skin" },
      { name: "Body" },

      i have 23 background, 12 body and 24 clothes

[2022-02-08 21:35] bolshoytoster commented on #696
@heracross1412 it's because it made too many duplicates, it's to stop it from going into an infinite loop. You can disable it by removing line 414 of `src/main.js`:  `editionCount++;`.

[2022-02-08 21:37] heracross1412 commented on #696
allright im gonna try that, hope it gonna work. thanks for ur help

[2022-02-08 21:43] thepeanutgalleryandco commented on #697
@Darkzolo you can maybe look into using the max repeatability functionality on my repo - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection

[2022-02-08 21:48] heracross1412 commented on #696
after i running it again, it stop at 6074
i also remove already not include the line 414

![image](https://user-images.githubusercontent.com/22199218/153081217-754df58b-a533-46a2-a320-fd674851bf25.png)

[2022-02-08 21:49] bolshoytoster commented on #696
@heracross1412 sorry it's line 418 in that version.

[2022-02-08 21:55] Darkzolo commented on #697
Hmm the way my collection works is that out of the 1000 each has a layer that is unique (but right now they sometimes get repeated) and then has additional random elements added.

The max repeatability is a cool option but I don't think I can apply it to my problem :(

[2022-02-08 22:01] heracross1412 commented on #696
work like charms. thanks dude, u save my day sooo much !

[2022-02-08 22:09] saviour07 commented on #584
I had this exact same issue, the winning combination for me on Windows 10 (20H2 19042.1415) was `npm 8.4.1` and `node 16.9.1`

[2022-02-08 22:17] Xanph commented on #615
I'm proud to have found a temporary solution to this problem that is being caused by the canvas library being picky and also not correctly checking/handling accepted file types.

### Here is your to-do list to get your NFTs generated:

1. Check all images are of the supported types e.g. PNG, JPG.
2. Within Windows File Explorer (or your explorer) of each of your layer folders, right-click the row

[2022-02-08 22:30] #696 closed

[2022-02-08 22:39] bolshoytoster commented on #615
@Xanph
1. I've added a slightly better error.
2. I can either make it only open files with a certain extension (png, jpeg, bmp, pdf, svg, xml). But this can cause problems if the user changes the extension.
I could try to load the image, and if it succeeds, include it. I could speed the generator up this way, only loading each image once instead of each time it's used, but it would end up using mo

[2022-02-08 22:45] #690 closed

[2022-02-08 22:46] larryj52 opened #698 "SyntaxError: missing ) after argument list"
What does this mean?

SyntaxError: missing ) after argument list
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1026:15)
    at Module._compile (node:internal/modules/cjs/loader:1061:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1149:10)
    at Module.load (node:internal/modules/cjs/loader:975:32)
    at Function.Module

[2022-02-08 22:47] Xanph commented on #615
1. If you're error could have the extra specificity of the exact image that caused the error to throw, that would be perfect - particularly on the logging side.
2. As this is for the images, I'd restrict it to the image types that canvas supports. Would be interesting to trial out memory usage on large use cases. As that would be useful to have. But maybe it's more of a nice have?
3. Hmmm interest

[2022-02-08 22:48] thepeanutgalleryandco commented on #697
@Darkzolo if you can wait a little bit, then I can take a look at bringing it in on a layer item level instead of on a layer level only. It is under my issues list as a feature.

[2022-02-08 22:48] bolshoytoster commented on #698
@larryj52 there is a syntax error in `src/main.js`, what have you changed?

[2022-02-08 22:50] larryj52 commented on #698
I just followed the instructions given on https://www.youtube.com/watch?v=AaCgydeMu64&t=1760s

[2022-02-08 22:51] bolshoytoster commented on #615
@Xanph
1. It does (it's `Error loading image: + whatever error canvas gave + path to the image that failed`)

[2022-02-08 22:53] bolshoytoster commented on #698
@larryj52 could you paste the bit(s) you changed. (if you have git installed you can run `git diff`).

[2022-02-08 22:53] larryj52 commented on #698
const addMetadata = (_dna, _edition) => {
  let dateTime = Date.now();
  let tempMetadata = {
    name: `${namePrefix} #${_edition}`,
    description: description,
    file_url: `${baseUri}/${_edition}.png`,
    custom_fields:{
      dna: sha1(_dna),
      edition: _edition,
      date: dateTime,
      compiler: "HashLips Art Engine",
    },

[2022-02-08 22:54] larryj52 commented on #698
const saveMetaDataSingleFile = (_editionCount) => {
  let metadata = metadataList.find((meta) => meta.custom_fields.edition == _editionCount);
  debugLogs

[2022-02-08 22:57] bolshoytoster commented on #698
@larryj52 the error should say what line the syntax error is on, it's just before the bit you pasted. Could you send the full error please.

[2022-02-08 23:00] larryj52 commented on #698
Terminal Message:

/Users/raad_1/Downloads/hashlips_art_engine-1.1.1_update/src/main.js:184
    const image = await loadImage(`${_layer.selectedElement.fs.rm(path,{ recursive: true }},`);
                                                                                         ^

SyntaxError: missing ) after argument list
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal

[2022-02-08 23:01] bolshoytoster commented on #698
@larryj52 can you send the lines around line 184 please.

[2022-02-08 23:01] larryj52 commented on #698
Problems tab Message:
',' expected. ts(1005) [184, 91]

[2022-02-08 23:01] larryj52 commented on #698
182 - 187

const loadLayerImg = async (_layer) => {
  return new Promise(async (resolve) => {
    const image = await loadImage(`${_layer.selectedElement.fs.rm(path,{ recursive: true }}`);
    resolve({ layer: _layer, loadedImage: image });
  });
};

[2022-02-08 23:04] bolshoytoster commented on #698
@larryj52 you're missing a `)` near the end of the line. Change ```...true }}`);``` to ```...true })}`);```.

[2022-02-08 23:05] larryj52 commented on #698
Problem code went away.  Going to try to run again.  Stand by.

[2022-02-08 23:05] bolshoytoster commented on #615
@Xanph probably using an older version.

[2022-02-08 23:08] larryj52 commented on #698
New TypeError:
TypeError: Cannot read properties of undefined (reading 'rm')
    at /Users/raad_1/Downloads/hashlips_art_engine-1.1.1_update/src/main.js:184:64
    at new Promise (<anonymous>)
    at loadLayerImg (/Users/raad_1/Downloads/hashlips_art_engine-1.1.1_update/src/main.js:183:10)
    at /Users/raad_1/Downloads/hashlips_art_engine-1.1.1_update/src/main.js:364:31
    at Array.forEach (<ano

[2022-02-08 23:12] bolshoytoster commented on #698
@larryj52 `_layer.selectedElement.fs` is undefined. Where did you add something like `fs: `?

[2022-02-08 23:14] larryj52 commented on #698
I don't recall adding anything like that.

[2022-02-08 23:15] bolshoytoster commented on #698
@larryj52 you were probably meant to then.

[2022-02-08 23:16] larryj52 commented on #698
Where should that go?  What line?

[2022-02-08 23:16] bolshoytoster commented on #698
@larryj52 it should say in the video.

[2022-02-08 23:18] larryj52 commented on #698
I see "selectedElement. fs.rm(path,{...." on line 184

[2022-02-08 23:18] bolshoytoster commented on #698
@larryj52 it'll be somewhere near line 100.

[2022-02-08 23:19] bolshoytoster commented on #698
@larryj52

That's where the error is coming from.

[2022-02-08 23:19] larryj52 commented on #698
This is in the main.js  The video changes the main in the places I pasted earlier and then if changes the config.js

[2022-02-08 23:20] larryj52 commented on #698
Does fs. mean folder structure?

[2022-02-08 23:21] bolshoytoster commented on #698
@larryj52 I have no idea. I'd recommend just using the base repo without making modifications, because it actually gets maintained.

[2022-02-08 23:25] larryj52 commented on #698
I am not experienced enough to modify beyond the instructions.

[2022-02-08 23:26] bolshoytoster commented on #698
@larryj52 just delete what you've done and start over without changing what the video said to change.

[2022-02-08 23:27] larryj52 commented on #698
I agree. That makes sense

[2022-02-08 23:29] BPWCNRZ opened #699 "NPM install not working"
Kings and Queens you're all so great helping eveyone but i need some help too; when i ran npm install i keep getting this message,
any suggestions? thanks

npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\Conroy\Desktop\Solana\hashlips_art_engine-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\Conroy\Desktop\Solana\hashlips_

[2022-02-08 23:32] bolshoytoster commented on #699
@BPWCNRZ you're likely in the wrong folder in the powershell prompt. You can run `Get-ChildItem -directory` to see the name of the folder you need to change to (i.e. `hashlips_art_engine_1.1.0` or something similar). Then run `cd ` + the name the previous command gave. Then you can run `npm i`.

[2022-02-08 23:41] Darkzolo commented on #697
@thepeanutgalleryandco
That would be great, I have plenty of other things to work on with the project and having a hard time finding a solution so that's perfect! Big thanks!

[2022-02-08 23:53] BPWCNRZ commented on #699
thanks so much for the help ive got it to work now.
any ideas about thie when i run npm run generate

pm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Conroy\AppData\Local\npm-cache\_logs\2022-02-08T23_51_09_030Z-debug.log
PS C:\Users\Conroy\Desktop\hashlips_art_engine-

[2022-02-09 05:33] xman86 opened #700 "Is there a way to do less than 1%?"
I am making a set of 10,000 total. I want there to be a very rare item of 5 different colors. I want there to be 20 of each, so I write "Nameofthing#.2" (with .png after the 2). Is this the right way to do this? The only image of the rare ones I get when running the node index.js after saving the percentages is the image of the rare item that is listed highest in its layer folder. All other images

[2022-02-09 05:36] Buttersix commented on #64
I am having this same issue. Can anyone help?

[2022-02-09 05:37] Buttersix opened #701 "Layers Resized incorrectly"
My layers all get resized improperly and cause my image to look like a blurred mess. Does anyone know how to fix this?

[2022-02-09 05:58] mixord commented on #693
thanks
but
shuffleLayerConfigurations works but it didn't randomize first character and second additional character together.

fist it create randomly first character then it create the second one

like this
chcarcter 1
1.jpg
2.jpg
3.jpg
4.jpg
5.jpg
6.jpg
7.jpg
8.jpg

character 2
9.jpg
10.jpg
11.jpg
12.jpg
13.jpg
14.jpg
15.jpg
16.jpg

but i want this

chcarcter 1
1.jpg
3.jpg
5.jpg
7.jpg
9.jpg
11.j

[2022-02-09 06:04] mixord commented on #692
my shuffleLayerConfigurations is true but didn't work correctly

[2022-02-09 06:09] Sin417 opened #702 "growEditionSizeTo"
I am able to generate the nfts, but only 5 editions are created.  My growEditionSizeTo is set at 5000, and my tolerance is set at 10000.  Any help would be appreciated!

[2022-02-09 06:14] #702 closed

[2022-02-09 06:15] Sin417 commented on #702
Found the answer in some one off reddit. The file has to be saved to generate more than 5.  Hope this helps someone out down the road!

[2022-02-09 06:16] mixord commented on #693
![image](https://user-images.githubusercontent.com/99258113/153132834-32fb9266-14cc-413c-8662-d8b8863d96bc.png)

![image](https://user-images.githubusercontent.com/99258113/153132967-c4a63a1f-8e23-4644-a1e4-2054d4ef8101.png)

[2022-02-09 06:29] TharushaT commented on #443
This error occurs when you have corrupted image in layers just double check

[2022-02-09 06:43] ankesh27 commented on #692
what I believe is that`shuffleLayerConfigurations ` only shuffles the layer and not the collection.
I am updating the code and will share a PR once done, this shouldn't be tough.

[2022-02-09 07:28] mixord commented on #692
@ankesh27 When will it be ready?

[2022-02-09 07:35] ankesh27 commented on #692
@mixord, I am occupied with other stuff.
I have merged some of the PRs as well, most probably by Sunday or Monday I will finish all.

[2022-02-09 07:47] bolshoytoster commented on #699
@BPWCNRZ you need to cd there again.

[2022-02-09 08:06] colorstheforce commented on #406
I also am having this issue when running this, Its like in this Version of gen art opensource there isnt an algorithm line to implement the if (exists dna) Dont attempt "transform" or something like dont Repeat process, Skip.
 If anyone has any Guidance as to how other hashlips generative art modules operate through this more health fully for the system and time>--> ?

[2022-02-09 08:09] bolshoytoster commented on #700
@xman86 you could change the total of the chances to 10,000. I'm going to add support for decimal chances soon though.

[2022-02-09 08:21] bolshoytoster commented on #692
@mixord I'll sort it after school.

[2022-02-09 10:20] jimmy070593 opened #703 "How to generate metadata for pixelate format nft"

[2022-02-09 10:36] mixord commented on #692
@bolshoytoster thanks

[2022-02-09 12:59] bolshoytoster commented on #406
This is because it generated an mgt that was identical to one it already made. It doesn't skip the nft, it tries to generate it again.

[2022-02-09 13:08] majkel035 opened #704 "NFT contract details"
Hi,
Do I need to pay from my wallet for deploying a contract on opensea with polygon blockchain?

[2022-02-09 13:53] mundey commented on #695
This is definitely a sought after feature, where two layers during random choose pick up same id of the layers so that green from one layer matches green from other layer. if these have same name and we set them in a locked state.

[2022-02-09 14:24] jimmy070593 opened #705 "Module not found"
i am just trying to update metadata baseuri using this command
node utils/update_Baseuri.js   and also use this one    node utils/updateBaseUri.js

Can anyone help me out to fix this issue

[2022-02-09 14:25] #705 closed

[2022-02-09 14:48] jimmy070593 opened #706 "Module_not_found"
Just trying to Update Baseuri By Using Commandt node utils/update_BaseUri.js    and used this commad node utils/updateBaseUri.js

[2022-02-09 15:08] Inquisitive-Learner opened #707 "Syntax error: unexpected token"
...path/src/main.js:94
      layerObj.options?.["displayName"] != undefined
                                 ^

SyntaxError: Unexpected token '.'
    at wrapSafe (internal/modules/cjs/loader.js:931:16)
    at Module._compile (internal/modules/cjs/loader.js:979:27)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1035:10)
    at Module.load (internal/modules/cjs/loader.js:879:32

[2022-02-09 15:33] bolshoytoster commented on #704
@majkel035 Normally, no. But I think you have to get some premium if your collection is big.

[2022-02-09 15:48] bolshoytoster commented on #693
@mixord I've updated my repo, it might work now.

[2022-02-09 16:17] majkel035 commented on #704
NFT is obviously from contracted collection. When I'm selling single uncontracted NFT it's selling correctly.

[2022-02-09 16:34] bolshoytoster commented on #706
@jimmy070593 can you paste the full error please.

[2022-02-09 16:40] bolshoytoster commented on #704
@majkel035 I'm not too sure, but that sounds like it's intended.

[2022-02-09 17:33] #706 closed

[2022-02-09 17:41] sujeewakabeysinghe opened #708 "(node:11004) UnhandledPromiseRejectionWarning: Error: out of memory"
When I tried to generate more than 10K images + Gifs together, I get the heap out or out of memory issue,
But I tried compile this with this command by increasing the allocated memory like this,
`export NODE_OPTIONS=--max_old_space_size=204800`
Still it crash in the middle of the generation.
Any solution?
![error](https://user-images.githubusercontent.com/36567954/153258380-eaaf5b6a-ff6f-4333-ba99

[2022-02-09 17:41] #691 closed

[2022-02-09 17:45] bolshoytoster commented on #708
@sujeewakabeysinghe could you post a screenshot of task manager (`ctrl` + `shift` + `esc`)  when you run into these errors please.

[2022-02-09 17:51] sujeewakabeysinghe commented on #708
Thank you for responding.
Sure, I will.
Do you know the minimum PC requirement for running this app?
Because It holds the Gif preview until the generation process finishes or crashes.
While it generates I couldn't check them, I mean cannot preview it.

[2022-02-09 18:00] bolshoytoster commented on #708
@sujeewakabeysinghe I believe that's meant to happen. Although there is room for optimisation.

[2022-02-09 18:24] bolshoytoster commented on #708
@sujeewakabeysinghe after some investigation it looks like there might be a memory leak somewhere. I'll keep looking.

[2022-02-09 20:07] bolshoytoster commented on #708
It looks like the issue is caused by the `loadedElements` variable not being GCd after each loop. We could empty it ourselves instead.

[2022-02-09 20:52] heracross1412 opened #711 "start from certain number"
hello, is there any way to start the second generate but it start the count from the last generate ?

lets say i start first generate for 1000 collection, after that i want to start from 1001-2000

thanks for help

[2022-02-09 20:58] NotDuffyy opened #712 "Git not recognized"
Can someone help me out this is what it is saying once I hit enter

git : The term 'git' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again.
At line:1 char:1
+ git clone https://github.com/HashLips/hashlips_art_engine.git
+ ~~~
    + CategoryInfo          : O

[2022-02-09 21:02] bolshoytoster commented on #711
@heracross1412 [my repo](https://github.com/bolshoy/hashlips_art_engine) has this functionality, it will just continue from the previous run.

[2022-02-09 21:03] bolshoytoster commented on #712
@NotDuffyy you haven't installed git. You could just use [this zip](https://github.com/HashLips/hashlips_art_engine/archive/refs/heads/main.zip) instead.

[2022-02-09 21:08] heracross1412 commented on #711
cant open the repo sir, can u send it again..
also what configuration did i need to change. thanks sir

[2022-02-09 21:10] bolshoytoster commented on #711
@heracross1412 bugger, it's https://github.com/bolshoytoster/hashlips_art_engine.

[2022-02-09 21:10] bolshoytoster commented on #711
@heracross1412 you don't need to touch your configurations.

[2022-02-09 21:11] NotDuffyy commented on #712
@bolshoytoster it still didn't work

[2022-02-09 21:12] bolshoytoster commented on #712
@NotDuffyy what didn't work?

[2022-02-09 21:13] NotDuffyy commented on #712
@bolshoytoster the same message popped up

[2022-02-09 21:14] bolshoytoster commented on #712
@NotDuffyy just unzip the zip and use that. you don't need to git clone.

[2022-02-09 21:51] heracross1412 commented on #711
ah i get it !
if i run second time but with same collection, does it gonna change DNA from the start, or just from newest run ?

[2022-02-09 21:52] frasil1 opened #713 "TypeError: Cannot read properties of undefined (reading 'program')"
**Hello, there is an error while verifying the collection. I can't figure out what the problem is. Please help me solve this problem or has anyone else had this problem?**
C:\Users\bugae\Stone\metaplex\js\packages\cli\src\candy-machine-v2-cli.ts:386
      new PublicKey(cacheContent.program.candyMachine),
                                 ^
TypeError: Cannot read properties of undefined (reading 'pr

[2022-02-09 21:53] bolshoytoster commented on #711
@heracross1412 no, it loads the already created DNA to make sure there are no duplicates.

[2022-02-09 21:55] bolshoytoster commented on #713
@frasil1 I think you've posted the issue in the wrong place, it should be [here](https://github.com/metaplex-foundation/metaplex/issues).

[2022-02-09 21:56] frasil1 commented on #690
Bro, how u fix it.

[2022-02-09 21:57] bolshoytoster commented on #690
@larryj52 can you post your full error here please.

[2022-02-09 21:57] heracross1412 commented on #711
thanks alot frens, i already make it. really thanks for ur help

[2022-02-09 21:57] #711 closed

[2022-02-09 22:00] frasil1 commented on #713
ok

[2022-02-09 22:05] larryj52 commented on #690
I started all over from the beginning after updating all of the software. Dump everything and reload from the start, Visual Basic hey the latest. Node.is and Hashlips 1.1.5

I am in a Mac so I had the change the “bash” path as well.

Larry Johnson
Reach Advertising and Design
***@***.***
(310) 654-0128

[2022-02-09 23:09] roy3892 commented on #498
My God. I was stuck in this issue for over 2 weeks now and it was just a hyphen in the name of one of my images. Hallelujah.

[2022-02-10 01:55] olischloesser commented on #654
@mustafa-boorenie I have a MacBook Pro with M1 chip and downgrading to node 14.19.0 did the trick.

[2022-02-10 03:07] Louzius opened #714 "node utils/update_info.js DON'T WORK! (error -4058)"
### **Hey there, i tried many hours and can't still find a solution! Plz help me**

`}
Waiting for the debugger to disconnect...
PS C:\Users\Louzius\Desktop\hashlips_art_engine> node utils/update_info.js
Debugger attached.
Waiting for the debugger to disconnect...
node:internal/fs/utils:344
    throw err;
    ^

Error: ENOENT: no such file or directory, open 'C:\Users\Louzius\Desktop\hashlips_art_

[2022-02-10 04:14] xman86 commented on #700
Thank You!

[2022-02-10 04:14] #700 closed

[2022-02-10 04:50] Cryptiss1 opened #715 "NPM Run generate failing to work"
whenever i choose to run npm run generate it comes up with the following:
PS D:\HARD DRIVE\hashlips_art_engine-1.1.2_patch_v5> npm run generate
npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run
npm ERR! A complete log of this run can be found in:

However when i choose to see the list of scripts by entering npm run, the same ERR message pops up

[2022-02-10 05:44] glgirl commented on #701
Me too. My layers resized and blew up so big and it also looks blurry.

[2022-02-10 06:16] ankesh27 commented on #692
@mixord  https://github.com/HashLips/hashlips_art_engine/pull/716

[2022-02-10 06:35] Hectorious84 commented on #701
same here, how do I correct that?

[2022-02-10 06:36] Hectorious84 commented on #448
Where exact do I adjust the source object, can you assist please

[2022-02-10 06:39] mixord commented on #693
thanks @bolshoytoster

what is error?
![image](https://user-images.githubusercontent.com/99258113/153351620-00230c20-db8c-4441-8dd9-67838ae9365a.png)

[2022-02-10 07:37] waihsuen commented on #422
try this

[code]

[2022-02-10 07:37] waihsuen commented on #339
try this

[code]

[2022-02-10 08:12] bolshoytoster commented on #714
@Louzius the `build/json/_metadata.json` file doesn't exist. It's meant to be made after a successful build. You can use my repo if you want it to generate if it fails.

[2022-02-10 08:14] bolshoytoster commented on #715
@Cryptiss1 you're in the wrong folder. Run `ls -Directory` to show the one you're meant to be in. Then run `cd ` + whatever the previous command said.

[2022-02-10 08:16] bolshoytoster commented on #692
@ankesh27 I don't think anything will get merged, the owner of this hasn't been active for ~2 weeks.

[2022-02-10 08:17] bolshoytoster commented on #448
@Hectorious84 they are the files in the `layers/` folders.

[2022-02-10 08:19] bolshoytoster commented on #693
@mixord no clue, and it's not related to this repo.

[2022-02-10 08:22] bolshoytoster commented on #339
@waihsuen I don't think that will work for this case, they want to disable a specific element, not a random one.

[2022-02-10 08:23] bolshoytoster commented on #422
@waihsuen that also means they won't show up in the image.

[2022-02-10 08:28] ankesh27 commented on #692
Clone from here then : https://github.com/ankesh27/hashlips_art_engine

[2022-02-10 09:13] glgirl commented on #701
I finally figured it out. When you are exporting your layers you need to uncheck trim layers. That worked for me.

[2022-02-10 15:37] khangtrn96 commented on #628
Can you add this feature like this  [https://github.com/Goldo02/gif_art_engine_for_nft](url). Thanks !!!

[2022-02-10 16:30] Louzius commented on #714
The Metadata exits, that is the problem

[2022-02-10 17:39] Longshoreking commented on #645
https://nodejs.org/dist/v14.17.3/node-v14.17.3.pkg.

download Version 14 nodejs

[2022-02-10 18:25] phelamm opened #718 "issue on node index.js"
C:\Users\xxx\code\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5\src\main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Module.load (internal/modules/cjs/loade

[2022-02-10 20:42] phelamm commented on #718
thank you so much! its working after reading a couple of issues here

[2022-02-10 21:12] thomascristello opened #720 "Preview collage"
Hi, sorry if this has been answered. I searched but couldn't find a fix. I am trying to make a preview collage of my generated files. I have 5,000 images. When I run the command, I get an error that there are too many images. (I am not in front of my computer now, so I don't know the specific error message). Thanks for any assistance. If more info is needed, I can report back at another time.

[2022-02-11 00:36] nft2077 opened #721 "only comes out 5 generated images"
why after I run it *node index.js* the result only comes out 5 generated images
even though I have changed the value of *growEditionSizeTo*

[2022-02-11 01:03] nft2077 commented on #721
please help me boss 🤣🤣

[2022-02-11 05:50] vishwapb opened #722 "npm run generate not working."
Hi,
I am trying to create a collection. And getting the following text when trying to run _npm run generate_ I have no coding knowledge so i dont understand what am i supposed to do.
Thank you in advance.

(node:1908) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-depr

[2022-02-11 06:09] DonGonzo305 opened #723 "SyntaxError: Unexpected token '.'"
Hello, I am crossing my fingers that someone here can and is kind enough to help me with this issue. I am getting this problem when I run node index.js on the terminal. How do I fix this?

SyntaxError: Unexpected token '.'
    at Module._compile (internal/modules/cjs/loader.js:892:18)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:973:10)
    at Module.load (internal/modules/

[2022-02-11 06:16] DonGonzo305 commented on #636
How did you solve the Syntax Error? I am getting the same issue

SyntaxError: Unexpected token '.'
    at Module._compile (internal/modules/cjs/loader.js:892:18)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:973:10)
    at Module.load (internal/modules/cjs/loader.js:812:32)
    at Function.Module._load (internal/modules/cjs/loader.js:724:14)
    at Module.require (internal/m

[2022-02-11 06:18] DonGonzo305 commented on #636
How did you solve the Syntax Error? I am getting the same issue

SyntaxError: Unexpected token '.'
at Module._compile (internal/modules/cjs/loader.js:892:18)
at Object.Module._extensions..js (internal/modules/cjs/loader.js:973:10)
at Module.load (internal/modules/cjs/loader.js:812:32)
at Function.Module._load (internal/modules/cjs/loader.js:724:14)
at Module.require (internal/modules/cjs/loader.js

[2022-02-11 06:29] Mirandalynn7 opened #724 "Layer not showing up"
Everything is correct and running, but two layers are not showing up in generated photos . its just skipping the layer and moved to the next one,  any idea how to fix this ?

[2022-02-11 06:33] its-me-aech commented on #685
its still not working  for me. its just showing this

TypeError: Cannot read properties of undefined (reading 'forEach')
    at Object.<anonymous> (C:\Users\HIMANSHU\Generative_art\hashlips_art_engine-main\utils\update_info.js:17:17)
    at Module._compile (node:internal/modules/cjs/loader:1103:14)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1155:10)
    at Module.load (

[2022-02-11 07:11] nicocamino opened #725 "node versions"
Hi! I am very new to this.
On my old MacBook Pro, I have VS 1.60.2, node 14.18.3 and npm 6.14.15 and hash lips_art_engine-1.1.2_patch_v1.
Everything works perfectly. I am able to generate artworks fine.
I have installed VS 1.64.2 and trying different versions of node on my new MacBook M1 chip.
if I take the node 14.8.3 version I have rosetta error.
If I take the latest node version 16.13.2 I am ha

[2022-02-11 08:12] bolshoytoster commented on #722
@vishwapb it can't find the `layers/Background/` folder. Make sure your layer folder names match with the layer names in `src/config.js` (case sensitive as well).

[2022-02-11 08:14] bolshoytoster commented on #723
@DonGonzo305 The syntax error is in the `src/main.js` file.

[2022-02-11 08:22] vishwapb commented on #722
Thanks mate. The name was different. An extra S. Phew.

[2022-02-11 08:22] #722 closed

[2022-02-11 10:58] nicocamino commented on #658
would be very happy to see this function too !

[2022-02-11 12:45] N-Z-R commented on #718
Hi @bolshoytoster ! Yesterday I faced the same error (_SyntaxError: Unexpected token ._) after I downgraded Node to v10.18.0. Please advice.
@phelamm could you please share your solution?

[2022-02-11 14:58] aaewalsh commented on #721
Change the growEditionSizeTo: 1000, in the config.js file to the required number

[2022-02-11 16:03] bolshoytoster commented on #718
@N-Z-R It's because node 10 doesn't support this.

[2022-02-11 16:26] Stabrus77777 opened #726 "Error "utils/update_BaseUri.js""
Hi,

when I`m updating my date and typing in node "node utils/update_BaseUri.js", I get the following Error:

"Error: Cannot find module '/Users/stabrus/Desktop/NFT/hashlips_art_engine-main/utils/update_BaseUri.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntry

[2022-02-11 17:37] phelamm commented on #718
He's right, I was using node 10.18 too as the description said, then I upgraded to the most recent version, and I got the problem as I mentioned in the 3rd comment. So I tried a number of methods.

1. I tried to uninstall and install node 16 again
2. I installed "visual studio setup" as it was mentioned in another issue, chose the "C++" option
3. I saved the file with the amendment I made in src -

[2022-02-11 17:47] Longshoreking opened #727 "Question:"
in the terminal im generating 1000 images. For a selected few, it says "DNA Exists!". Does that mean that its creayed duplicates? If so, would I need to create more layers in order to generate 1000 unique images?

[2022-02-11 17:49] Longshoreking commented on #721
once you change the growth size you must save the progress or it will still generate 5.

[2022-02-11 17:52] Longshoreking commented on #725
im using the M1 chip and using node version 14.17.3 and it works fine for me. Not sure if that would make a difference but heres the link:

https://nodejs.org/dist/v14.17.3/node-v14.17.3.pkg

[2022-02-11 18:37] thepeanutgalleryandco commented on #658
Check my repo - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection

[2022-02-11 19:16] ForCrypto1101 opened #728 "npm install error"
i was trying to make my collection and i got stucked when i tried to run npm install. I have no coding knowledge so i would want to know what should i do.

npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is

[2022-02-11 19:33] phelamm opened #729 "node utils/rarityData.js Issue"
hi, after generating, I tried to input "node utils/rarityData.js" to check the rarity distribution and it shows:

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\xxx\hashlips_art_engine-1.1.2_patch_v5 (1)\hashlips_art_engine-1.1.2_patch_v5\utils\rarityData.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Functio

[2022-02-11 19:40] phelamm commented on #729
somehow solved!

[2022-02-12 00:35] #726 closed

[2022-02-12 00:36] Stabrus77777 commented on #726
Just found the solution

[2022-02-12 06:11] DonGonzo305 commented on #723
I haven't changed anything actually. I downloaded this straight from Hashlips Github's repository.

Here's the main.js

const basePath = process.cwd();
const { NETWORK } = require(`${basePath}/constants/network.js`);
const fs = require("fs");
const sha1 = require(`${basePath}/node_modules/sha1`);
const { createCanvas, loadImage } = require(`${basePath}/node_modules/canvas`);
const buildDir = `${ba

[2022-02-12 08:01] nolimitf8t commented on #724
having the same issue or my layers are misplaced

[2022-02-12 08:04] nolimitf8t commented on #701
also the problem could be that you didn't change all the canvas sizes the same, and also make sure you changed and saved the canvas size in the code to the same dimensions of the canvas image of the pictures/layers.

[2022-02-12 08:06] nolimitf8t opened #730 "Layers"
My layers keep generating misplaced. the canvas size is the same on all layers and I have adjusted the canvas dimensions in the code but nothing is working?? Help!!

[2022-02-12 09:00] nolimitf8t commented on #730
Someone help don't know why this is happening it's perfectly aligned on photo shop, and I am pretty sure I am exporting my layers correctly.

[2022-02-12 09:14] nft2077 commented on #721
hey thanks
very helpful
have a nice day admin 😘

[2022-02-12 09:33] d49976110 commented on #723
This was because you using the formatter, it will cause some error,
the original code should be like this:
`const layersSetup = (layersOrder) => {
  const layers = layersOrder.map((layerObj, index) => ({
    id: index,
    elements: getElements(`${layersDir}/${layerObj.name}/`),
    name:
      layerObj.options?.["displayName"] != undefined
        ? layerObj.options?.["displayName"]
        : lay

[2022-02-12 09:36] d49976110 commented on #707
you could see here:

[2022-02-12 13:28] HPeter170 opened #731 "Update error -4058"
Error: ENOENT: no such file or directory, open 'C:\Users\user\Desktop\학교 자료(학습지)\hashlips_art_engine-1.1.2_patch_v5/build/json/_metadata.json'
    at Object.openSync (node:fs:585:3)
    at Object.readFileSync (node:fs:453:35)
    at Object.<anonymous> (C:\Users\user\Desktop\학교 자료(학습지)\hashlips_art_engine-1.1.2_patch_v5\utils\update_info.js:14:18)
    at Module._compile (node:internal/modules/cjs/l

[2022-02-12 15:32] Carmelo89 opened #732 "Change color and size!"
I state, I apologize if this topic has been dealt with in the past but I am Italian and I have difficulties in the English language and I would like to be guided to understand if I can do it and how it works!

Then I would like to randomize only 1 element, for example a triangle for study purpose so as to understand the technique and replicate them with more objects!

Question number 1
Can I for e

[2022-02-12 16:06] CusdelNFT opened #733 "ERR_DLOPEN_FAILED"
Hello, I have very little knowledge about coding, can you help me? I did my npm install wanted to test run it, when I ran npm run generate it shows this error.

PS C:\Users\weiho\Desktop\hashlips_art_engine-main> npm run generate

node:internal/modules/cjs/loader:1185
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The module '\\?\C:\Users\weiho\Desktop

[2022-02-12 18:22] nftholding commented on #626
hi i have the same error, i have tried anything and couldnt fix it. i hope sombady help us.

[2022-02-12 19:00] DonGonzo305 commented on #723
This is what my script looks like with the formatters on. I don't see a difference between what mine looks like and what you said it should look like.

![Mainjs](https://user-images.githubusercontent.com/99464829/153724597-a6ca825c-0f79-4d12-9d10-56d141575824.png)

[2022-02-12 19:30] bolshoytoster commented on #723
@DonGonzo305 try updating your node.

[2022-02-12 21:20] ErenACR opened #734 "EROR"
node : The term 'node' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is cor
rect and try again.
what should ı do
![resim_2022-02-13_002036](https://user-images.githubusercontent.com/88158555/153728821-aff9b8aa-8226-4767-9b05-a3defc9dfe25.png)

[2022-02-12 21:20] #734 closed

[2022-02-12 21:34] ArtistanVillage opened #736 "Not able to update IPFS cid into Metadata"
Hello, I am using hashlips_art_engine-1.1.2_patch_v5, I have sucessfully generated the art and Metadata as well, Uploaded Images on the IPFS through Pinata. Got CID. As per this version I am giving command as node utils/update_info.js, The command  result throws no error, It get successful but CID is not reflecting in Json file.
When I investigated deeper into the issue then I found that in main.j

[2022-02-12 22:02] RodmannNftArt commented on #500
The mentioned wallet I have found it in Solana Explorer :( I assume also that the address must be changed before run.

[2022-02-12 22:35] Gavethereum commented on #191
![config js - hashlips_art_engine-main png](https://user-images.githubusercontent.com/99564114/153730785-6073ccad-9188-433c-b3f2-b20fa768fbf1.png)

[2022-02-12 22:38] Gavethereum commented on #672
![config js - hashlips_art_engine-main png](https://user-images.githubusercontent.com/99564114/153730873-cc80f3ca-db7c-43dd-896e-5a222fdf520c.png)
I am attempting to render these files, but I am unable to do so, can anyone help me?

[2022-02-12 22:39] Gavethereum opened #737 "errno: -4058"
![config js - hashlips_art_engine-main png](https://user-images.githubusercontent.com/99564114/153730953-298f53b5-9fa0-4b99-9b83-b0e86f9f415c.png)
I am really confused on what is wrong here. I have tried to follow some others but it has not worked. Can I have some help?

[2022-02-12 22:41] Gavethereum commented on #737
![Get Started - hashlips_art_engine-main png](https://user-images.githubusercontent.com/99564114/153731006-c9f2b1a4-6c9b-4278-a1d6-da8264e60875.png
Both folders at the bottom are missing, very confused

[2022-02-12 22:43] Gavethereum commented on #737
Both folders at the bottom are missing, very confused
![Visual Studio Code 2_12_2022 5_40_22 PM](https://user-images.githubusercontent.com/99564114/153731086-5f45d093-c63c-4e86-9820-c5cb1597263a.png)

[2022-02-13 01:51] nicocamino commented on #725
After installing node v 14.17.3 I get this on the terminal when I want to check which version I have:

rosetta error: /var/db/oah/279281325309952_279281325309952/c22b1f1efb17a0ae1e7180d6cbb227ed58d60e02c4ecfd8e1cd7ab37e3c9440c/node.aot: attachment of code signature supplement failed: 1
zsh: trace trap  node --version

[2022-02-13 03:45] Mxcool opened #738 "npm run generate and node index.js not working"
if i run node.index.js I am facing this error

internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- C:\Users\R E E Z A A H A\Downloads\Compressed\hashlips_art_engine-main\node_modules\canvas\lib\bindings.js
- C:\Users\R E E Z A A H A\Downloads\Compressed\hashlips_art_engine-main\node_modules\canvas\lib\canvas.js
- C:\Users\R

[2022-02-13 03:57] ryanckulp commented on #191
you wrote layer names like “background” but made your layer folder names “1-background” — these must match exactly!

there are options (see readme) to use a folder like “1-some-words” but have the layer itself be called “some-otger-words.” alternatively just make them an exact match.

[2022-02-13 05:59] Artic5 opened #739 "errno: -4058"
Says the errno: -4058 every time I try to generate.

![Get Started - hashlips_art_engine - Visual Studio Code 2_12_2022 9_54_09 PM](https://user-images.githubusercontent.com/99578234/153740869-79cf7a41-ab6e-4724-b419-07893d22d707.png)

[2022-02-13 10:23] bolshoytoster commented on #672
@Gavethereum it can't find `layers/Background`. Make sure the folder names match the layer names exactly (case sensitive as well).

[2022-02-13 10:55] sujeewakabeysinghe commented on #708
Thank you,
BTW I could generate 20K images with no issues,
Yes, there's something with GIFs generation.

[2022-02-13 12:05] hossamdarwish commented on #448
@Hectorious84 and to whomever facing this issue, you just need to pass the config parameters in main.js line 116 like this.

`canvas.toBuffer("image/png", {resolution: 300})`

You may pass other parameters as described [here](https://github.com/Automattic/node-canvas#canvastobuffer)

HTH

[2022-02-13 12:31] danielHype commented on #728
Try npm install -g node-pre-gyp

[2022-02-13 14:55] trisznft opened #740 "no such file or directory..."
Hi my files exist and put everything well in config so i don't know what happened...
Heres The whole error:

Error: ENOENT, No such file or directory 'C:\Users\trisztan\OneDrive - Kormányzati Informatikai Fejlesztési Ügynökség\Asztal\generative-art-node-main/layers/background/dawn#100.png'
    at setSource (C:\Users\trisztan\OneDrive - Kormányzati Informatikai Fejlesztési Ügynökség\Asztal\generati

[2022-02-13 19:29] meanthadar-p commented on #728
Same here, but I found old issue that already solved ref: https://github.com/HashLips/hashlips_art_engine/issues/621

it's work for me. hope it work to you too :))
@ForCrypto1101 @cRhettiarachchi

[2022-02-13 21:41] Glitchbes commented on #411
I have wasted so much time with this certain part!!!! I am on a depression now thanks to it! t months of work down the drain! because I can get past this!

uninstall node-fetch and install node-fetch@2

does nothing!

- C:\hashlips_art_engine-1.1.1_update\utils\nftport\uploadFiles.js
?[90m    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)?[39m
?[90m    at Function.Mo

[2022-02-13 23:17] MadManwithaBlueBox commented on #411
FYI, since this nftport script file is created by someone else it would be best to inform the creator if you are having issues getting it to work.

It is not a part of the HashLips Art Engine so nothing with the art engine needs to be fixed if you are having issues with nftport.

I would suggest sending comments and bug fixes to the creators webiste/github.

[2022-02-14 06:15] williamoliver107 opened #742 "Metadata does not load in openea even after revealed"
After doing the whole process, such as: performing Mint, reloading the metadata by the icon in the upper right corner of opensea, the metadata does not load in opensea.

I can't tell if this is an error on opensea's side or on our side.

I reviewed the video several times and replayed the process about 4 times.

On the server side pinata, it is working perfectly. I've done some tests and the metad

[2022-02-14 09:12] tonka536 opened #743 "Cannot find module './TemplateTag' ??"
Error: Cannot find module './TemplateTag'
Require stack:
- C:\Users\bobi1\Desktop\NFT)\hashlips\hashlips_nft_minting_dapp-1.0.1\node_modules\common-tags\lib\index.js
- C:\Users\bobi1\Desktop\NFT)\hashlips\hashlips_nft_minting_dapp-1.0.1\node_modules\workbox-build\build\lib\errors.js
- C:\Users\bobi1\Desktop\NFT)\hashlips\hashlips_nft_minting_dapp-1.0.1\node_modules\workbox-build\build\lib\populate

[2022-02-14 09:47] bolshoytoster commented on #727
@Longshoreking it just tries to generate a new image, once it has generated a certain number of duplicates it will exit.

[2022-02-14 10:57] NINJAind opened #744 "not working"
C:\Users\Public\Downloads\hashlips_art_engine-main>node index.js
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'C:\Users\Public\Downloads\hashlips_art_engine-main\index.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Function.Module.runMain (internal/

[2022-02-14 10:59] NINJAind opened #745 "layerObj.options?.["displayName"] != undefined"
C:\Users\Public\Downloads\hashlips_art_engine-main\hashlips_art_engine-main>node index.js
C:\Users\Public\Downloads\hashlips_art_engine-main\hashlips_art_engine-main\src\main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (interna

[2022-02-14 13:47] bolshoytoster commented on #745
@NINJAind update node

[2022-02-14 13:57] bolshoytoster commented on #740
@trisznft this can be because you're doing it in the `OneDrive` folder.

[2022-02-14 13:58] bolshoytoster commented on #739
@Artic5 your folder names have to match the layer names in `src/config.js` exactly (case sensitive).

[2022-02-14 14:58] trisznft commented on #740
@bolshoytoster thanks, may i ask you for help again if it still does not work?

[2022-02-14 15:09] trisznft commented on #740
@bolshoytoster it worked thank you very much bro

[2022-02-14 18:32] KS1388 commented on #626
I am having the same issue. Is there any solution found? Thanks

[2022-02-14 19:29] DonGonzo305 commented on #723
Ok so I just updated the node to v.16.14.0 and tried running node index.js and got the syntaxError again but then I saw this as I scrolled up the terminal messages.

[2022-02-14 19:32] Davidezangrando opened #746 "errore errore"
when I try to run the code it gives me this error. How can I do?

  throw err;
  ^

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- /Users/davidezangrando/NFT/hashlips_art_engine-main/node_modules/canvas/lib/bindings.js
- /Users/davidezangrando/NFT/hashlips_art_engine-main/node_modules/canvas/lib/canvas.js
- /Users/davidezangrando/NFT/hashlips_art_engine-main/node_modules

[2022-02-14 22:25] bolshoytoster commented on #723
@DonGonzo305 delete the `node_modules` folder and `yarn`/`npm` install` again.

[2022-02-15 04:14] Warman8264 opened #747 "npm term not recognized"
npm : The term 'npm' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ npm i
+ ~~~
    + CategoryInfo          : ObjectNotFound: (npm:String) [], CommandNotFoundException
    + FullyQualifiedErrorId : CommandNotFoundException

[2022-02-15 04:25] MaWads opened #748 "Setting price and blockchain in metadata?"
Hey Daniel/All,

I have run the Art Generator and it worked like a charm.

However, in the metadata, the price is automatically set to 0.005 and the blockchain is Polygon.

Is there any way to edit this prior to running the Art Generator? Say I wanted the price to be 0.1 and Blockchain to be ETH? I've looked high and low, watched the videos and am not sure.

If there's no way to change this before

[2022-02-15 06:00] #748 closed

[2022-02-15 06:00] MaWads commented on #748
Disregard!

[2022-02-15 08:12] kbb0000 opened #750 "My generated NFTs looks glitched/broken"
![6](https://user-images.githubusercontent.com/99718441/154019973-f3d22241-fc5e-4d60-a9c0-49ec426a546a.png)
What the hell is this? It was a normal dog with glasses. Can you help me?

[2022-02-15 08:47] kbb0000 commented on #750
It got fixed when I converted to 8 bit instead of 16 bits. But can't I just use 16-bits version of my layers?

[2022-02-15 19:45] vishwapb opened #751 "Syntax error"
Hi all,
I am facing this error while running 'npm run generate'. I have no knowledge of coding so please excuse me if it is something stupid i am doing. ;-)

SyntaxError: Unexpected token '}'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1031:15)
    at Module._compile (node:internal/modules/cjs/loader:1065:27)
    at Object.Module._extensions..js

[2022-02-15 20:28] nelso0 commented on #751
same

[2022-02-15 20:29] vishwapb commented on #751
Fixed it. Just downloaded the latest version hashlips art engine. Try that.

[2022-02-15 21:14] bolshoytoster commented on #751
@nelso0 @vishwapb
The actual reason was because you just need to run `yarn`/`npm` `install`.

[2022-02-15 21:16] bolshoytoster commented on #747
@Warman8264 you don't have npm installed. You can install it by running the [node installer](https://nodejs.org/en/download/).

[2022-02-15 21:29] reubennn commented on #271
Can confirm this is to do with bad files in your layers folder. For some reason some of my images had gotten corrupted (not sure how) and this was causing this error. Replaced the corrupted files and the generator works perfectly again!

[2022-02-15 21:30] reubennn commented on #443
Can confirm this is to do with bad files in your layers folder. For some reason some of my images had gotten corrupted (not sure how) and this was causing this error. Replaced the corrupted files and the generator works perfectly again!

[2022-02-15 21:36] nolimitf8t commented on #730
What size are you creating your canvas? also how are you exporting your layers from ps to the files ?

[2022-02-16 02:31] ekafrawy commented on #198
Did you ever figure out this issue? I am running into a similar problem.

[2022-02-16 04:30] moofilms commented on #226
node utils/updatebaseuri.js

[2022-02-16 08:27] bolshoytoster commented on #198
@ekafrawy does it give an error or does it just not convert?

[2022-02-16 12:10] ekafrawy commented on #198
Thanks for the reply. It gave an error stating that /Cardano/JSON directory could not be found, so I tried to just create it manually, and that fixed it! I can now convert the original hashlips ETH json files into the Cardano format!

[2022-02-16 14:53] Jis-4 commented on #751
hi how you have fixed the error

[2022-02-16 14:54] Jis-4 opened #753 "node index.js is not working"

[2022-02-16 14:57] sasha567-vng commented on #730
lmfao i am having the same issue

[2022-02-16 14:58] sasha567-vng commented on #730
did you got any solution????

[2022-02-16 15:39] vishwapb commented on #751
I had V1.1.1. I just removed everything from this version, downloaded 1.1.2 and voilà, everything works fine.

[2022-02-16 15:40] vishwapb commented on #751
👍🏼👍🏼

[2022-02-16 15:47] bolshoytoster commented on #198
@ekafrawy you should open an issue on [nftchef's repo](https://github.com/nftchef/hashlips_art_engine/issues) to see if they'll fix it.

[2022-02-16 15:48] bolshoytoster commented on #753
@Jis-4 how is it not working?
If it gives an error can you paste it here please.

[2022-02-16 16:02] pratham-abc commented on #751
@vishwapb how do I do this

[2022-02-16 16:16] bolshoytoster commented on #751
@pratham-abc If you have the same error, you should be able to fix it by just running `yarn`/`npm` `install`.

[2022-02-16 16:18] pratham-abc commented on #751
I tried but it still doesn't work

[2022-02-16 16:18] bolshoytoster commented on #751
@pratham-abc What error do you get?

[2022-02-16 16:19] pratham-abc commented on #751
no such file or directory: yarn

[2022-02-16 16:20] bolshoytoster commented on #751
@pratham-abc you don't have yarn installed, you can just run `npm install` and you don't need to install it.

[2022-02-16 16:23] pratham-abc commented on #751
ode:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/Users/prathamvats/Dope-MetaTorts/hashlips_art_engine/node_modules/sha1'
Require stack:
- /Users/prathamvats/Dope-MetaTorts/hashlips_art_engine/src/main.js
- /Users/prathamvats/Dope-MetaTorts/hashlips_art_engine/index.js
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.

[2022-02-16 16:28] mrpkay01 commented on #739
same problem if u get any solution plz answer bro...

[2022-02-16 16:43] williamoliver107 commented on #742
Well, coming back here to update..

After a lot of testing, I realized that what was causing the error metadata is not loading in Opensea, it was the file itself (_metadata.json).

Note that before the word "metadata" there is an underscore "_".

And it was only by removing this underline that the error of data not loading in Opensea disappeared.

This worked fine for me, but unfortunately, Opense

[2022-02-16 16:47] bolshoytoster commented on #751
@pratham-abc not with `-g`.

[2022-02-16 16:50] pratham-abc commented on #751
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/prathamvats/DopeMetaTorts/hashlips_art_engine/node_modul

[2022-02-16 17:07] bolshoytoster commented on #751
@pratham-abc this is a known issue with M1 macs, as [this comment](https://github.com/HashLips/hashlips_art_engine/issues/654#issuecomment-1034406728) suggests you should downgrade node to 14.19.0.

[2022-02-16 17:08] bolshoytoster commented on #739
@mrpkay01 [this comment](https://github.com/HashLips/hashlips_art_engine/issues/739#issuecomment-1039118152) I found might be helpful.

[2022-02-16 22:57] pickles4812 opened #754 "modual not found error"
PS C:\Users\matt\OneDrive\Desktop\hashlips_art_engine-1.1.2_patch_v5> node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\matt\OneDrive\Desktop\hashlips_art_engine-1.1.2_patch_v5\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    a

[2022-02-17 00:12] matteotrogu commented on #739
@bolshoytoster me too from this problem I have already changed the names to perfection but it does not go anyway

[2022-02-17 03:27] khyyle commented on #708
@bolshoytoster i have the same issue.
i am quite new to coding and have no idea what you mean by "GCing loadedElements"
i have installed the latest version of visual studio code, i have v1.1.2 hashlips art engine, v16.14.15 node package manager, and node v14.18.1
i have been able to successfully generate 4 nfts before i get the UnhandledPromiseRejectionWarning error.
how can i solve this specifica

[2022-02-17 03:52] JBCardano commented on #198
thanks :D

[2022-02-17 04:59] mrpkay01 commented on #739
bro again and again same problem...plz can u tell me how to solve this problem...can u plz tell me on whatsapp +918384958350

[2022-02-17 05:27] mrpkay01 commented on #370
save your file and all will work good..i wasted my 3 days for this error

[2022-02-17 06:11] GiraffeValley commented on #753
(node:14916) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\minai\OneDrive\Pictures\nft\hashlips_art_eng

[2022-02-17 06:30] GiraffeValley opened #755 "Node index.js is not working, gives an error message"
(node:14916) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use node --trace-deprecation ... to show where the warning was created)
node:fs:1392
handleErrorFromBinding(ctx);
^

Error: ENOENT: no such file or directory, scandir 'C:\Users\minai\OneDrive\Pictures\nft\hashlips_art_engine-ma

[2022-02-17 07:08] matteotrogu commented on #739
@mrpkay01 I've been stuck on this for 1 week and still couldn't find an answer

[2022-02-17 07:18] thepeanutgalleryandco commented on #739
You can give my repo and steps a go as well - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection

[2022-02-17 08:11] bolshoytoster commented on #754
@pickles4812 You're in the wrong folder. Run `ls -Directory` to get the name and run `cd ` + tha name of the folder.

[2022-02-17 08:17] bolshoytoster commented on #708
@khyyle
The GC is the 'Garbage Collector', it's meant to free memory when it's not needed. `loadedElements` is the variable that isn't being freed after each generation (it's meant to be).

The best solution would probably be to cache every image so they aren't loaded separately each time they're used.

But if it occurs after 4 nfts, it's probably a different error (or you have very little memory)

[2022-02-17 08:18] bolshoytoster commented on #753
@GiraffeValley your layer names need to match the folder names exactly (case sensitive).

[2022-02-17 08:20] bolshoytoster commented on #739
@matteotrogu https://github.com/HashLips/hashlips_art_engine/issues/370#issuecomment-1042589011

[2022-02-17 10:50] matteotrogu commented on #739
@bolshoytoster thanks bro Now it works

[2022-02-17 11:20] dermerlo opened #756 "DNA exists!"
I've already generated a collection with 3000 artwork with no problem with hundreds of attributes.

Now I'm trying to build a new little collection of 80. When i put the npm build command results always in multiply "DNA exists!" .
I have three folders layer with respectively 10, 1 and 10 attributes. 10x1x10 will results in 100 different artwork maximum supply, why if i generate only 80 artworks th

[2022-02-17 11:22] ijaz13100 commented on #729
I have the same issue...

[2022-02-17 11:37] ijaz13100 commented on #754
Hi, Thanks for helping with this, I have the same issue.  I am using mac and the directory is on an external (not sure if that matters).  I run ls -Directory and get this:

ls: illegal option -- -
usage: ls [-@ABCFGHLOPRSTUWabcdefghiklmnopqrstuwx1%] [file ...]

Can you please expand on your answer?  Much appreciated.

[2022-02-17 12:45] Yudikubota commented on #723
I can confirm the build script is not working on node 10.18.0 and node 12.22.10

I had to update node to the latest version and reinstall node_modules to make it work.

The new optional chaining feature is not implemented in older versions. I suggest updating the recommended version in readme.md

[2022-02-17 12:56] williamoliver107 opened #757 "Gas estimation failed"
Hi how are you?

In the video author Daniel mints just a few nfts at a time.

But I would like to mint 10k nfts in one go or maybe at least 2k.

But when I try above 299, I get the following error:

Gas estimation errored with the following message (see below). The transaction execution will likely fail. Do you want to force sending?
Internal JSON-RPC error. { "code": -32000, "message": "gas requi

[2022-02-17 13:15] bolshoytoster commented on #756
@dermerlo It should still generate 80 artworks.

[2022-02-17 13:18] ddcc3388 opened #758 "Mac M1 issues?"
Anyone with an M1 Mac managed to get past the npm install and npm run generate? I have installed node 14.19.0 but when I run npm install, it shows up with:

Error: EPERM: operation not permitted, uv_cwd
    at process.wrappedCwd (internal/bootstrap/switches/does_own_process_state.js:130:28)
    at process.cwd (/usr/local/lib/node_modules/npm/node_modules/graceful-fs/polyfills.js:10:19)
    at Conf

[2022-02-17 13:29] thepeanutgalleryandco commented on #758
I have seen other users getting it to work on 14.19.0.

You are welcome to try my repo as well - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection

[2022-02-17 13:57] dermerlo commented on #756
Yeah i figured it out. The process still work, it says dna exist when it try to match all the layers and find some identical, then pass to the next one untill reach the 80 artwork

[2022-02-17 14:00] wjcvanniekerk opened #759 "Cannot Generate Preview - Hashlips Art Engine Version 1.1.2."
First of all, thank you for this amazing project.

I am having trouble generating a preview using Hashlips Art Engine version 1.1.2. I have looked through 'Issues', but cannot see my problem listed - apologies if I have simply missed it. When I try to generate a preview (I have used both the commands 'npm run preview' and 'node utils/preview.js') I get the following error message:

 errno: 2,
  co

[2022-02-17 15:13] pickles4812 commented on #754
@bolshoytoster Thank you for the help its working now

[2022-02-17 15:13] #754 closed

[2022-02-17 16:00] sasha567-vng opened #761 "layers misplaced"
even though i have place my layers  in correct order it is generating opposite of it.!! i have tried re arranging the layers again but still it keeps generating the images with wrong layers. please help

[2022-02-17 17:05] nolimitf8t commented on #730
No not yet, what about you ?

[2022-02-17 17:12] sasha567-vng commented on #730
lol this is going to take me forever.! it’s still not working….

[2022-02-17 17:54] ipofashion commented on #419
I had the same issue as well but your command worked thanks for posting you saved us a lot of time and headache much appreciated

[2022-02-17 18:13] bolshoytoster commented on #759
@wjcvanniekerk can you paste the full error please?

[2022-02-17 18:18] bolshoytoster commented on #761
@sasha567-vng can you paste the `layerConfigurations` bit from your `src/config.js` please. You might just have to change the order of the layers in that.

[2022-02-17 19:18] nolimitf8t commented on #730
have you tried any of the other generative codes on github yet?

[2022-02-17 19:41] sasha567-vng commented on #730
why would i.? this is the only one with what is required

[2022-02-17 21:21] wjcvanniekerk commented on #759
Thank you bolshoytoster. Here everything:

wjcvanniekerk@Williams-MacBook-Pro hashlips_art_engine-1.1.2_patch_v5 % npm run preview

Preparing a 250x250 project preview with 22 thumbnails.
/Users/wjcvanniekerk/Dropbox/My Mac (William’s MacBook Pro)/Desktop/hashlips_art_engine-1.1.2_patch_v5/node_modules/canvas/lib/image.js:91
  SetSource.call(img, src);
            ^

Error: ENOENT, No such file or

[2022-02-17 21:34] nolimitf8t commented on #730
did you find this on youtube, there are other codes to generate that's why I'm asking.

[2022-02-17 22:55] hashisyumy opened #762 "I can't create more than 25 image (Created edition: undefined, with DNA error.)"
Hey there I am trying to generate more than 1000 images and I set up all config.js same as in the video but when I run npm run generate it just creates 25 images.Does anyone can help me with that issue.that's conif.js

const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NE

[2022-02-17 23:07] ddcc3388 commented on #758
Hey, thanks! Your repo does work on my m1 mac. Is your repo equivalent to Hashlip's latest file?

[2022-02-17 23:08] bolshoytoster commented on #759
@wjcvanniekerk could you paste the first few (~20) lines of `build/json/_metadata.json` please.

It looks like there might be something wrong with it (some NFTs don't have the `edition` property).

[2022-02-17 23:10] bolshoytoster commented on #761
@nolimitf8t that should be correct, it should put `Background`at the back and `Mouth` at the front.

[2022-02-17 23:16] bolshoytoster commented on #762
@hashisyumy I think this is because of the (stupid/lazy) way hashlips gets the number to generate to (it just takes the number from the last layer config). I think [my repo](https://github.com/bolshoytoster/hashlips_art_engine) might fix this (I can't remember), if not you could try [@nftchef's repo](https://github.com/nftchef/art-engine) but I'm also not sure if it's fixed on that either.

[2022-02-17 23:24] hashisyumy commented on #762
I just change growEditionSizeTo: numbers low than upper but now its just create 325 images but I set it for 1000 more images
    growEditionSizeTo: 70,
    layersOrder: [
      {name: "Background" },
      {name: "weapons" },
      {name: "base" },
      {name: "faces" },
      {name: "hairs" },
      {name: "dress"  },
    ],
  },
    {
      growEditionSizeTo: 80,
      layersOrder: [
        {n

[2022-02-17 23:44] bolshoytoster commented on #762
@hashisyumy Does the generation give an error?

[2022-02-17 23:55] khyyle commented on #708
@bolshoytoster appreciate the response! (sorry about my late response)
heres what happened when i did `npm run generate`

`> hashlips_art_engine@1.1.1 generate Z:\Users\kyleberkson\Downloads\hashlips_art_engine-main

Created edition: 1, with DNA: 20549220df7f53bc8c1bdf10e1c0aa29a6ded3e2
Created edition: 2, with DNA: f988efcfd1fca1727f5f4f9aa52864cfb8da24c9
Created edition: 3, with DNA: 0df34eb8259

[2022-02-18 00:03] khyyle commented on #708
@bolshoytoster huh all of my images are .png files

[2022-02-18 00:05] bolshoytoster commented on #708
@khyyle yeah, there's something weird about the library we use to load images. The issue I linked might help you to fix it.

[2022-02-18 00:08] khyyle commented on #708
@bolshoytoster k thx appreciate it

[2022-02-18 00:10] bolshoytoster commented on #708
@khyyle Id you're on Mac there might be `.DS_STORE` files messing it up. In which case you could run `find . -name ".DS_Store" -delete` to delete them.

[2022-02-18 00:20] khyyle commented on #708
@bolshoytoster im on a mac and using windows parallels. i did notice a .DS_STORE a few days ago but i deleted it immediately.  I ran the command and it appears there are no .DS_Store files

[2022-02-18 00:47] khyyle commented on #615
@bolshoytoster, ive tried running my .png images through a .png converter and reinserting them back into my layers correctly yet i am still getting the same error code. They were all exported as 1600x1600 images as .pngs.
any course of action you'd recommend?

[2022-02-18 02:01] khyyle commented on #615
@bolshoytoster i made all of my images using a website called pixilart.io and then exported all of my images as .png. I run them all through a png converter and image resizer to be safe, yet it has not worked at all.
could my issue be related to the fact that i used pixilart.io and not adobe ps?

[2022-02-18 03:05] DonGonzo305 commented on #723
Can I hire anyone of you guys to teach me how to get this running??? It would be incredibly appreciated.

[2022-02-18 03:40] sasha567-vng commented on #761
the problem is something.! even though my layers are placed in correct order by the time of generating it is not following the orders that i have made inside the code.! help please

[2022-02-18 06:13] SalehNaderzadehGithub opened #763 "🚨 What about illegal combination? 🙏"
Actually i want to create 10k nft collection, however there are lists of illegal combination possibilities. I want to remove these possibilities from being created.
Please help me to control these illegal combinations.

[2022-02-18 06:17] nolimitf8t commented on #761
exactly, They are placed in the right order but still keep generating misplaced.

[2022-02-18 06:31] heracross1412 opened #764 "update external _url to new link"
hello, is there any way to change my external_url for all my json file after i generate ?
thank you

[2022-02-18 06:55] Hectorious84 commented on #448
Thank you for the assistance.

How do I clean up the lines, my Jpes, aer clean and very high resolution,
but can not get the end result to be just as clean
[image: 3.png]

On Sun, Feb 13, 2022 at 4:05 AM Hossam ***@***.***> wrote:

--
*Hector Amezquita Jr.*
Confidentiality Notice: This electronic transmission and any attached
documents or other writings are confidential and are for the sole use of

[2022-02-18 07:19] bolshoytoster commented on #723
@DonGonzo305 you might have success deleting the `node_modules` folder and running `yarn`/`npm` `install` again.

[2022-02-18 07:25] bolshoytoster commented on #763
@SalehNaderzadehGithub I think [@nftchef's repo](https://github.com/nftchef/art-engine#flagging-incompatible-layers) has what you want. You may have to adjust your project though.

[2022-02-18 07:27] bolshoytoster commented on #761
@nolimitf8t Could you send one please?

[2022-02-18 07:34] bolshoytoster commented on #764
@heracross1412 not currently, but you could add the line:
[code]
Here in `utils/update_info.js`:

https://github.com/HashLips/hashlips_art_engine/blob/f04b036dc8839dcbe6093b8243d1c7aa20538e8b/utils/update_info.js#L18-L24

Just insert the line somewhere there.

[2022-02-18 09:33] bolshoytoster commented on #764
@heracross1412 I think the last creators field is for the whole collection and the rest are for individual ones. I think you can get rid of the individual ones by replacing
[code]
With
[code]
In the bit I linked earlier.

[2022-02-18 10:12] sasha567-vng commented on #761
bro the thing is i want to generate my own custom image not the original hashlips one, before i generate my art i  tried haslips build in art and ran it.! it had no problem all the images are generated correctly. ok but when i added my own custom layers and even though i have putted my layers orders in correct way it keeps generating in wrong way.! the generated art is not following my layers

[2022-02-18 15:32] sanghoshin-boop opened #765 "intercepting the nft during minting"
Hello Hashlips. Subscribers watching your videos. I just watched your guide and minted NFTs. In the process, others stole the nft being minted. There are currently about 30 victims. Using REMIX they intercept nfts during deployment. We need to fix the error urgently!!!

The perpetrator OPENSEA ID is 0x0flow.

This is a method of intercepting the nft during minting even though you are not the owner

[2022-02-18 16:30] Aimad19 commented on #714
hi bro, for me that's the issue which i am lately facing, I truly need your help if it's possible .

[2022-02-18 17:30] aaa123123aaa opened #768 "After generate the colours are different"
After I generate 1000 nfts i saw that the colours are completely different and that the edges are glitchy

Any ideas what the issue can be ?
Everything is running fine only problem is the nfts after generating

[2022-02-18 19:50] shreekalidass07 opened #769 "Is there a way to view rarity based on the output files, instead on by traits?"
I would want to know the rarity score of my output images based, instead of the traits, so I could calculate the rarity score before uploading the entire collection to a third party website?

[2022-02-18 20:33] bolshoytoster commented on #714
@Aimad19 can you paste the full error please.

[2022-02-18 22:17] Tanjilh commented on #740
hello, i have the same issue. how do i get out of the onedrive folder?

[2022-02-18 22:19] Tanjilh commented on #740
thank you so much ! i will try that

[2022-02-18 23:15] bolshoytoster commented on #740
@trisznft @Tanjilh you don't hve to uninstall onedrive, you can just move the hashlips folder out of the onedrive folder.

[2022-02-19 00:29] kalifornications commented on #545
hey did you get any answer to your question?

[2022-02-19 01:41] #724 closed

[2022-02-19 01:41] Mirandalynn7 commented on #724
figured it out. one of the layers were solid and blocking. the other one

[2022-02-19 07:07] BreachBoy commented on #724
hello, i've same problem, but my layers are not misplaced....

[2022-02-19 07:59] thepeanutgalleryandco commented on #769
@shreekalidass07 give this a go - https://github.com/fukuball/rarity-analyser

[2022-02-19 08:01] thepeanutgalleryandco commented on #768
@aaa123123aaa double check that all of your layers have transparent backgrounds (apart from background specific layers) and that all your images have the same width and height and that your width and height is set to the same values in your config.js file.

[2022-02-19 08:02] thepeanutgalleryandco commented on #765
@sanghoshin-boop can you give more information on this?

[2022-02-19 08:04] thepeanutgalleryandco commented on #763
@SalehNaderzadehGithub you can check out my repo as well - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection

[2022-02-19 08:37] ymc182 commented on #708
I also found that if you use terminal inside code editor eg. vs code, this problem occur, but no problem in window terminal

[2022-02-19 08:37] ymc182 commented on #399
I also found that if you use terminal inside code editor eg. vs code, this problem occur, but no problem in window terminal

[2022-02-19 08:38] aaa123123aaa commented on #768
All the layers have transparent backgrounds I checked that already
Im gonna check the width and heights again
Thanks for the fast reply

[2022-02-19 09:27] bolshoytoster commented on #724
@BreachBoy make sure the layers have transparency.

[2022-02-19 13:34] williamoliver107 commented on #742
Coming back to update:

I found the solution of the error with the hidden.json file in the post below

https://github.com/HashLips/hashlips_nft_contract/issues/22

I'm glad I found the solution, thanks.

[2022-02-19 13:34] #742 closed

[2022-02-19 14:22] aaa123123aaa commented on #768
@thepeanutgalleryandco i checked everything and changed the config.js but the nfts are still the same any other ideas what the issue can be?

[2022-02-19 17:11] coldflame388 opened #771 "How to fix file not found error?"
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path /Users/aidentroncales/package.json
npm ERR! errno -2
npm ERR! enoent ENOENT: no such file or directory, open '/Users/aidentroncales/package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/aidentroncales/.npm/_logs/2022-02-19T

[2022-02-19 17:43] bolshoytoster commented on #771
@coldflame388 you're not in the hashlips folder, you can use `ls -d */` to list the folders in your current folder then `cd ` + name to go into it.

[2022-02-19 20:31] Archit130 opened #772 "module_not_found"
Node.js v17.4.0
PS E:\hashlips_art_engine-1.1.2_patch_v5> node utils/updatebaseUri.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'E:\hashlips_art_engine-1.1.2_patch_v5\utils\updatebaseUri.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.e

[2022-02-19 20:36] bolshoytoster commented on #772
@Archit130 https://github.com/HashLips/hashlips_art_engine/issues/338

[2022-02-19 22:15] Archit130 commented on #338
this worked for me, thank u

[2022-02-19 22:29] larryursini opened #773 "npm i not working"
When I try and install the dependencies I get this error, what am I doing wrong? I thought I installed node and npm right....

MacBookPro-01:hashlips_art_engine-main dbox$ npm i
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WAR

[2022-02-19 22:35] bolshoytoster commented on #773
@larryursini you don't seem to have `pkg-config`. If you have `brew` you can install it with `brew install pkg-config`.

[2022-02-19 23:00] larryursini commented on #773
I tried to install it and it did, but still same error :(

dbox@MacBookPro-01 ~ % cd /Users/dbox/Downloads/hashlips_art_engine-main
dbox@MacBookPro-01 hashlips_art_engine-main % brew install pkg-config
Warning: pkg-config 0.29.2_3 is already installed and up-to-date.
To reinstall 0.29.2_3, run:
  brew reinstall pkg-config
dbox@MacBookPro-01 hashlips_art_engine-main % npm i
npm WARN old lockfile
np

[2022-02-19 23:07] larryursini commented on #773
I am on a new M1 macbook pro, looks like some other users are having the same issue, has it been resolved? Is there a better way to do this?

[2022-02-19 23:35] hashisyumy opened #774 "How can I generate different layer in folder."
Hi
I have 2 base gender female and male.But they have different hairs and dress.I am trying to generate with same folder male and female but I don't want to change names to fameladress or male hair need to be in the same folder and same JSON data.
Does anyone can help me with that.

[2022-02-19 23:55] Lust7373 commented on #745
Hello! I am encountering the same issue. Updating the node did not work for me :(
Any ideas?

[2022-02-20 01:02] Kresoart commented on #3
Did you find out how to do it

[2022-02-20 01:19] Kresoart opened #775 "Rarity on layers"
can i make a layer only be used like 20% of the time

[2022-02-20 03:19] bolshoytoster commented on #745
@Lust7373 the most recent nore version is 17. You can't have updated it much.

[2022-02-20 03:22] bolshoytoster commented on #3
@Kresoart https://github.com/HashLips/hashlips_art_engine#usage-%E2%84%B9%EF%B8%8F

[2022-02-20 09:08] jonnahhex commented on #586
@natedog1011 I've tried using your method, unfortunately a different type pf error which arose,

node:internal/fs/utils:344
    throw err;
    ^

Error: EISDIR: illegal operation on a directory, read
    at Object.readSync (node:fs:723:3)
    at tryReadSync (node:fs:433:20)
    at Object.readFileSync (node:fs:479:19)
    at Object.<anonymous> (/Users/jonnahex/Desktop/hashlips_art_engine-1.1.1_upda

[2022-02-20 09:44] Kresoart commented on #3
@bolshoytoster
Sorry but i cant seem to find how i can make Like the actual layer, not a specific asset, glasses only be used 20% of time do you know how to do that or is it maybe written in the link u sent me

[2022-02-20 09:54] Abagusd opened #776 "Error: Cannot find module. node indek.js doestn work"
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\BAGUS\Documents\zz NFT\Software\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5> npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile

[2022-02-20 10:24] dommj00 commented on #775
Use # then the percent. For ex #20 in your case at the end of the item name.

prrvaps you’re have pizza show up 20# of the time, your image name should be “pizza#20”.

[2022-02-20 10:36] dommj00 commented on #687
https://github.com/fukuball/rarity-analyser

[2022-02-20 13:03] Ob1iviou5 opened #777 "Cannot install dependancies needed to run code"
Hi all,

I've been recently trying to run the art engine on my PC but am running into many errors when trying to install both NPM and Yarn. Both come up with many different errors and don't allow to use the node index.js function to call for the buildkit.

I've tried using
npm I-d
npm install
npm update
npm update --force

Yarn add all

All the above don't seem to work properly and has stopped me

[2022-02-20 13:06] Ob1iviou5 commented on #777
Forgot to mention...

Have tried
npm audit fix
npm audit fix --force

Same issues as above

[2022-02-20 13:40] bolshoytoster commented on #586
@jonnahhex that error comes from codeSTACKr's repo, not this one. You can open an issue [there](https://github.com/codeSTACKr/create-10k-nft-collection/issues) instead.

[2022-02-20 13:47] bolshoytoster commented on #3
@Kresoart you could try having a blank image with an 80% chance of I think [nftchef's repo](https://github.com/nftchef/art-engine) might help you.

[2022-02-20 13:50] bolshoytoster commented on #776
@Abagusd you culd try deleting the `node_modules` folder then running `npm install` again (you don't need to `npm audit fix`).

[2022-02-20 13:55] bolshoytoster commented on #777
@Ob1iviou5 could you paste the contents of the log file, it said at the end of the `npm install` output it was someting like `C:\Users\Crip_\AppData\Local\npm-cache\_logs\2022-02-19T19_00_33_677Z-debug-0...`.

[2022-02-20 14:26] Ob1iviou5 commented on #777
Attached
[npm install fail.txt](https://github.com/HashLips/hashlips_art_engine/files/8104165/npm.install.fail.txt)
d

[2022-02-20 14:39] Lust7373 commented on #745
Thanks man. I have managed to solve the issue in the end and generated images with the script by taking a few looks in other issues posted by people. All good now :)

PS: managed to make it work with the setup I mentioned above ( node 10.18.0 )

[2022-02-20 14:44] lunoob commented on #571
Today, I tried to use multithreading to improve performance, but I found that node canvas does not work properly in worker thread. But I didn't try what happens to multiple processes.

[2022-02-20 15:06] Sharlatanka opened #778 "During NFT collection creation only specific layers populating."
Hello,
I have this strange issue. When I create the collection, somehow the script only populates layers from one specific folder. For example, it takes layers from folder "eyes" and creates only eyes. How do I fix it?

[2022-02-20 15:07] laurentiucotet opened #779 "Generate in order and based on how many traits I have"
So, I have a collection, to be generated, I want to generate the nfts in order " trait no.1" to be "nft no.1" and also I want to have the same amount of nfts as I have traits ( I have around 300 different traits on a single attribute folder + a single base img) so I'm looking for 300 unique nfts at the end of the process.
Thanks for your help

[2022-02-20 15:25] bolshoytoster commented on #777
@Ob1iviou5 looking into it, it looks like a bug with npm itself. You might have luck downgrading node/npm.

[2022-02-20 15:37] bolshoytoster commented on #778
@Sharlatanka does it show the other layers in your `build/json/_metadate.json` file?

[2022-02-20 15:51] Sharlatanka commented on #778
Yes, it does.

[2022-02-20 15:53] bolshoytoster commented on #778
@Sharlatanka make sure your layers have transparency and dont block the rest.

[2022-02-20 16:00] Sharlatanka commented on #778
I checked and all the layers are transparent.

[2022-02-20 20:23] giorgioand commented on #632
Hi, have you found anything on this error? i got the same error after 121 nfts. Thanks.

[2022-02-20 21:58] SorinIScintei commented on #355
@GabrielCHP , did you resolve the issue?

[2022-02-20 22:01] SorinIScintei commented on #266
@Lendaryuri  did you resolve it?

[2022-02-20 22:04] bolshoytoster commented on #355
@SorinIScintei make sure there are no `-` characters and you have a `#` for rarity in all of your element names.

[2022-02-21 01:35] Ob1iviou5 commented on #777
Sorry for the late reply!

Will give it a try tomorrow as I need to deploy a smart contract for my collection and a dApp....

Will keep you posted!
Thankyou for the help

[2022-02-21 01:35] Ob1iviou5 commented on #777
Sorry for the late reply!

Will give it a try tomorrow as I need to deploy a smart contract for my collection and a dApp....

Will keep you posted!
Thankyou for the help

[2022-02-21 10:24] AlexandreFrart opened #781 "Erreur commande npm install truffle -g"
Bonjour ! J'ai beau essayé de nombreuses commandes pour résoudre le bug, j'arrive toujours au même résultat. Est-ce que vous sauriez ce qu'il ne fonctionne pas s'il vous plait ?

PS E:\NFT\generative-art-node-main> npm install truffle -g
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN

[2022-02-21 10:39] bolshoytoster commented on #781
@AlexandreFrart https://docs.microsoft.com/fr-fr/cpp/build/vscpp-step-0-installation?view=msvc-170