[2022-04-04 22:27] bolshoytoster commented on #1040
@Catzskull
Can you send a screenshot of your `src/config.js` file please.

@Ademie
That's usually caused by a non-image file being in one of your layer folders. You can use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) which makes this just a warning (and tells you which file it is).

[2022-04-04 22:31] Ademie commented on #1040
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-04-04 22:36] Catzskull commented on #1040
<img width="1212" alt="Screen Shot 2022-04-04 at 6 35 02 PM" src="https://user-images.githubusercontent.com/102982983/161643022-5c69a49a-
<img width="573" alt="Screen Shot 2022-04-04 at 6 35 25 PM" src="https://user-images.githubusercontent.com/102982983/161643024-74689226-b149-405e-93f9-1e29f543fc79.png">
f74d-40e6-a096-5aa6384a34d4.png">

[2022-04-04 22:39] bolshoytoster commented on #1040
@Catzskull you need to save the file (`ctrl` + `s`).

[2022-04-04 23:20] Catzskull commented on #1040
It worked! Thks thks!

[2022-04-05 03:05] Rialecla opened #1044 "dont update the IPFS"
When i ru: npm run update_info,
-update the base URI
- update description
- update name prefix
but dont update the file URL :IPFS for the json files

[2022-04-05 06:02] 1109piyush opened #1045 "error after node index.js"
node index.js

node:internal/modules/cjs/loader:1183
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The module '\\?\D:\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas\build\Release\canvas.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 93. This version of Node.js requires
NODE_MODULE_VERSION 102. Please try re-co

[2022-04-05 06:35] 1109piyush commented on #1045
i already  do npm install when i try to do npm run generate  or node utils program it show
the above eror

[2022-04-05 06:48] bolshoytoster commented on #1045
@1109piyush do as the error says, either delete the `node_modules` folder and run `npm install` again or run `npm rebuild`.

[2022-04-05 07:03] 1109piyush commented on #1045
![Screenshot 2022-04-05 123245](https://user-images.githubusercontent.com/103021442/161697423-f90dcf6a-4307-4af8-9c7d-923a3836ac28.png)
after npm rebuild

[2022-04-05 07:05] 1109piyush commented on #1045
how to delete npm folders

[2022-04-05 07:14] bolshoytoster commented on #1045
@1109piyush the same way you delete any other file/folder - `rm -r -fo node_modules`.

[2022-04-05 07:18] 1109piyush commented on #1045
i run that and
npm install
npm run generate
after node index.js same eror

[2022-04-05 07:27] bolshoytoster commented on #1045
@1109piyush what about deleting `node_modules` and running `nom install --build-from-source`.

[2022-04-05 07:28] 1109piyush commented on #1045
rm -r -fo node_modules. i run this program and after npm install can you send me proper program install step by step

[2022-04-05 07:32] 1109piyush commented on #1045
![Screenshot 2022-04-05 130226](https://user-images.githubusercontent.com/103021442/161702190-15a5281b-41a5-45c8-9704-c13ca9cbad0b.png)

[2022-04-05 07:33] bolshoytoster commented on #1045
@1109piyush run `npm install --build-from-source`, not `npm install`.

[2022-04-05 07:36] 1109piyush commented on #1045
ok

[2022-04-05 07:37] 1109piyush commented on #1045
![Screenshot 2022-04-05 130635](https://user-images.githubusercontent.com/103021442/161702904-4062b952-eef5-43bb-8566-233f3aacaad8.png)
the last command

[2022-04-05 07:39] bolshoytoster commented on #1045
@1109piyush it's `node utils/update_info.js`.

[2022-04-05 07:40] 1109piyush commented on #1045
![Screenshot 2022-04-05 130635](https://user-images.githubusercontent.com/103021442/161703387-12bc815d-6a07-41df-aa97-4bb61e9562f3.png)
after deleting modules and install again

[2022-04-05 07:41] 1109piyush commented on #1045
PS D:\hashlips_art_engine-1.1.2_patch_v6> npm install --build-from-source
npm ERR! code 1
npm ERR! path D:\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! Failed to execute 'C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_modules\npm\node_modules\node

[2022-04-05 07:41] 1109piyush commented on #1045
after npm install --build-from-source

[2022-04-05 08:07] 1109piyush commented on #1045
Can you help i already try to unistall and install node

[2022-04-05 08:28] JacobeMNA commented on #978
No

On Tue, Mar 29, 2022, 9:35 AM Z&Sinc ***@***.***> wrote:

[2022-04-05 08:30] JacobeMNA commented on #978
But i think you can try this mayby work for you; check the node version and
search in google to how you can install it properly.
I am sure its work

On Tue, Apr 5, 2022, 12:57 PM Jacobe human transcendence <
***@***.***> wrote:

[2022-04-05 10:31] bolshoytoster commented on #1045
@1109piyush you'll need to install Visual Studio "including the Desktop development with C++ workload."

[2022-04-05 11:32] BKdesign016 commented on #1040
I have the next issue: After running npm run generate I'm getting this:
![npm run generate error](https://user-images.githubusercontent.com/102361888/161744794-099d59bd-bfc2-4a0e-9d4a-2cb4dcba7543.png)
[A complete log of this run.txt](https://github.com/HashLips/hashlips_art_engine/files/8417683/A.complete.log.of.this.run.txt)
Please help!

[2022-04-05 11:39] MaciekBaron commented on #1040
Make sure you are running this in the correct folder. You should have a `package.json` file in that folder. You originally run it in a folder called `minter-dapp/backend`.

[2022-04-05 11:40] 1109piyush commented on #1045
From where i can download can you send me the link

[2022-04-05 12:18] BKdesign016 commented on #1040
I think I have. Or I am wrong?
![new issue](https://user-images.githubusercontent.com/102361888/161751989-aedf359f-e60d-4fb5-8e55-e74b7b852eab.jpg)

[2022-04-05 12:22] MaciekBaron commented on #1040
You now have two package.json files, one in the root and one in backend. Just go to backend (`cd backend`).

[2022-04-05 12:25] BKdesign016 commented on #1040
Nightmare!
![Nightmare!](https://user-images.githubusercontent.com/102361888/161753034-ef670b6b-0e08-4ba1-a421-d33131fcb893.jpg)

[2022-04-05 12:27] MaciekBaron commented on #1040
Please pay attention to the commands, you did a typo (`backhend` instead of `backend`).

[2022-04-05 12:30] BKdesign016 commented on #1040
Oh, what a typo. But I still have a problem.
![4](https://user-images.githubusercontent.com/102361888/161753839-87d24fbf-4001-4fba-9ff9-48e997e896f1.jpg)

[2022-04-05 12:31] MaciekBaron commented on #1040
Have you installed dependencies using `npm install`?

[2022-04-05 12:36] BKdesign016 commented on #1040
Finally. I can not believe it. I did it. That is, we succeeded together. Thank you very much. Without you, I would never have made this. I'm a graphic designer and I make NFT, I'm not a developer
![5](https://user-images.githubusercontent.com/102361888/161754872-96340e81-74d6-4669-aff4-eeb36f8ed348.jpg)
. Thanks again. You're unbelievable.

[2022-04-05 12:37] MaciekBaron commented on #1040
Happy you got there in the end!

[2022-04-05 12:49] bolshoytoster commented on #1045
@1109piyush https://docs.microsoft.com/en-us/cpp/build/vscpp-step-0-installation

[2022-04-05 13:35] #1045 closed, assigned to nobody

[2022-04-05 15:16] cryptocraig-nft commented on #986
Hi, I might be getting a bit confused with what you mean? but as an example if you have one trait name as 'shirt' which relates 'to image A' and you to add another layer with 'image B' but still want to call this trait 'shirt', you could name 'image B' as 'shirt B' then generate the art. Once you have your .json files make a copy to be safe and open in VS. type (cmd shift H), you can then search f

[2022-04-05 15:38] BKdesign016 commented on #1040
MaciekBaron you are a genius, maybe you can help me with this obstacle I came across. Unable to upload files via NFT port. Do you have any idea why? In addition, the VSC is frozen and I can't type any commands. How do I defrost it?
![NFT port issue](https://user-images.githubusercontent.com/102361888/161791887-91983e26-846f-4aa0-a4a9-1a17d1b264c6.jpg)

[2022-04-05 17:08] BKdesign016 commented on #1040
I need to upload files to IPFS via NFT port. Regarding error 403, I found this explanation: The 403 (Forbidden) status code indicates that the server understood the request but refuses to authorize it... If authentication credentials were provided in the request, the server considers them insufficient to grant access.

[2022-04-05 17:10] BKdesign016 commented on #1040
I checked the API key I got from NFT Port and it is correct. I don't know how to overcome this issue?

[2022-04-05 18:02] Brackko commented on #812
It seems good for me, thanks @deemount

[2022-04-05 18:29] sadun619 opened #1047 "Can Get rarity from existing metadeta file"
Can get rarity from already generated, existing _metadeta file.

[2022-04-05 18:31] bolshoytoster commented on #1047
@sadun619 `node utils/rarity.js`?

[2022-04-05 18:38] sadun619 commented on #1047
is it work for if i get metadata file from another device?

[2022-04-05 18:38] sadun619 commented on #1047
is it work for if i get metadata file from another device?

[2022-04-05 18:42] bolshoytoster commented on #1047
@sadun619 yes, just put it in the `build/json` folder.

[2022-04-05 18:51] sadun619 commented on #1047
ok thank you

It's not working

Node.js v17.4.0
PS E:\ori\hashlips_art_engine-main> node utils/rarity.js
E:\ori\hashlips_art_engine-main\utils\rarity.js:53
    rarityDataTraits.forEach((rarityDataTrait) => {
                     ^

TypeError: Cannot read properties of undefined (reading 'forEach')
    at E:\ori\hashlips_art_engine-main\utils\rarity.js:53:22
    at Array.forEach (<anonymous>)
    a

[2022-04-05 18:54] bolshoytoster commented on #1047
@sadun619 you'll need to copy the `src/config.js` file over as well sorry.

[2022-04-05 18:59] sadun619 commented on #1047
thank you dear.
it's working. copied config and layer.
Thank you so much

[2022-04-05 19:25] #1047 closed, assigned to nobody

[2022-04-05 20:54] 0xAddict commented on #1024
Change the second Growedition size to 100.

[2022-04-05 21:51] chicky25 opened #1048 "Exporting files as SVG instead of PNG kinda works but not realy. any help?"
so i saw that canvas supports svg output. i added the following:

const canvas = createCanvas(format.width, format.height, '**svg**');
const ctx = canvas.getContext("2d");
var metadataList = [];
var attributesList = [];
var dnaList = [];

const buildSetup = () => {
  if (fs.existsSync(buildDir)) {
    fs.rmdirSync(buildDir, { recursive: true });
  }
  fs.mkdirSync(buildDir);
  fs.mkdirSync(path.jo

[2022-04-05 21:54] bolshoytoster commented on #1048
@chicky25

what do you mean by this? Are they all the same?

[2022-04-05 21:55] chicky25 commented on #1048
yes they look all the same

[2022-04-05 21:58] bolshoytoster commented on #1048
@chicky25 does it work with the same images in png format?

[2022-04-05 21:59] chicky25 commented on #1048
yes when i use the standard configuration it works flawlessly and generates all different pictures

[2022-04-05 22:02] bolshoytoster commented on #1048
@chicky25 I think you're basically on your own then.

If you could make a github repo of your project and link it here then I could try debugging it.

[2022-04-05 22:06] chicky25 commented on #1048
ok thank you i will consider it

[2022-04-06 00:23] Ademie commented on #1040
![3 png - TortNFT - Visual Studio Code 06-04-2022 01_09_43 AM](https://user-images.githubusercontent.com/73498011/161871794-89b10408-a055-4c2b-81ee-1fb873881a00.png)
Please does anyone know why my art work is looking distorted? I tried generating it even though I arranges them orderly in the config.js file but this was the output

[2022-04-06 04:11] HueWaves commented on #995
@bolshoytoster Hey, I still learning and I was having another issue and I'm hoping you could help me out. I'm using "hashlips_art_engine-1.1.2_patch_v6" So basically I generated 9000 images and uploaded the image folder on IPFS, when I click on inspect in IPFS it says that I have **256 links** but when I click on one of these links there are about 30 different links within each one of those 256 li

[2022-04-06 04:22] HueLuna opened #1049 "Pinata is unable to locate my CID…status stuck on “searching”"
@bolshoytoster Hey, I still learning and I was having another issue and I'm hoping you could help me out. I'm using "hashlips_art_engine-1.1.2_patch_v6" So basically I generated 9000 images and uploaded the image folder on IPFS, when I click on inspect in IPFS it says that I have 256 links but when I click on one of these links there are about 30 different links within each one of those 256 links.

[2022-04-06 07:03] bolshoytoster commented on #1049
@HueWaves sorry, I don't know much about this, there might be someone else that could help you though.

[2022-04-06 09:19] rickylee12 opened #1050 "I am constantly trying to improve the quality of photographs So help me out"
Okay, I'm continuously looking for a code in the community that improves the quality of photos like ppi and putting it into practice, but I can't solve the problem
Can you help me show you the code?

--------------------------------------------------------------

const saveImage = (_editionCount) => {
  fs.writeFileSync(
    `${buildDir}/images/${_editionCount}.png`,
    canvas.toBuffer("image/png

[2022-04-06 10:32] bolshoytoster commented on #1050
@rickylee12 [my fork](https://github.com/bolshoytoster/hashlips_art_engine) lets you set `resolution` (ppi) in the `format` object in `src/main.js`.

[2022-04-06 14:09] 1109piyush opened #1051 "not able to paste link in nft contract of pinata"
![Screenshot 2022-04-05 130635](https://user-images.githubusercontent.com/103021442/161995958-32a105bf-beda-48f8-9901-694d839f3ceb.png)

[2022-04-06 16:05] 1109piyush commented on #1051
Plz can anyone help

[2022-04-06 22:18] jimsabo commented on #1025
It would be great if the original individual JSON file could be updated after the run to include the rarity data, or dump the rarity info to a JSON file at the end of the run. My end goal is to show how rare or not rare an individual file wound up being; anything that gets me there faster is great.

[2022-04-06 23:44] itachi686 opened #1052 "Layers are staying centred and not how I created it in photo shop"
Hello my layers are not going to the places on the canvas that they should be. When I generate image

 Could anyone help ?

[2022-04-07 00:21] #1052 closed, assigned to nobody

[2022-04-07 07:19] bolshoytoster commented on #1025
@jimsabo `node utils/rarity.js` already gives rarity, here:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/rarity.js#L75-L82

You could format it as a json object and write it to a file.

[2022-04-07 10:43] chicky25 opened #1055 "trying to change output Filename"
hi im trying to change the filename of the output file.
so normaly the file is named after the editioncount

const saveImage = (_editionCount) => {
  fs.writeFileSync(
    `${buildDir}/images/${_editionCount}.png`,
    canvas.toBuffer(`image/png`)

can i somehow change it so that the filename will be the name of the selected layers
for example if background is called yellow.png the output file wil

[2022-04-07 11:10] joaogfmoreira commented on #1025
Thanks. It indeed prints it to the console, but in the case of VS Code, it won't let us see the full output. I managed to see in the terminal. How could I format it as a json and write it to a file?

[2022-04-07 12:28] bolshoytoster commented on #1055
@chicky25 at ~line 404 in `src/main.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L403-L405

You could change
[code]
To something like
[code]

[2022-04-07 12:28] bolshoytoster commented on #1025
@joaogfmoreira when I get home, I'll have a go.

[2022-04-07 14:04] yogjin commented on #812
It worked! Thank you very much.

[2022-04-07 14:10] jamestailor91 commented on #387
Thank you very much!

[2022-04-07 14:54] samubiga3 opened #1056 "Issue during generation"
Please can you help me with this issue?
<img width="1440" alt="Schermata 2022-04-07 alle 16 52 15" src="https://user-images.githubusercontent.com/103202205/162228435-f324d039-933f-4421-88b4-9724a9a840a7.png">

[2022-04-07 15:05] chicky25 commented on #1055
Thank you Dude. You are legendary.
worked like a charm!

[2022-04-07 15:08] chicky25 commented on #1055
Thank you Dude. You are legendary.
worked like a charm!

[2022-04-07 15:08] #1055 closed, assigned to nobody

[2022-04-07 16:11] fsociety-101 commented on #812
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! hashlips_art_engine@1.1.1 generate: `node index.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the hashlips_art_engine@1.1.1 generate script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found

have this problem help please..

[2022-04-07 16:17] ipv6freely commented on #812
This doesn't appear to be related to Apple M1 Chips, based on the error. If you have a separate issue, please open a new Issue ticket.

[2022-04-07 16:18] ipv6freely commented on #812
@deemount have you confirmed that upgrading nodejs is successful for you? Ideally we don't want to be telling people to downgrade, for obvious reasons :)

[2022-04-07 16:26] bolshoytoster commented on #1025
@joaogfmoreira you can just add
[code]
To the end of `utils/rarity.js`.

[2022-04-07 16:41] samubiga3 commented on #1056
Okay i solved it using the Rosetta terminal on vs

[2022-04-07 16:42] samubiga3 commented on #1056
I think in that way you should have no problem with the m1 Mac

[2022-04-07 17:00] notsellingeth opened #1057 "Rarity delimiter units?"
When using the rarity delimiter, is `#50 = 50%?`

Would 5% need to be `#05 or #5`?

Does having some traits with the delimiter make the generation ignore those without?  I can't seem to  make a trait appear only 2% of the time and that is my goal.

[2022-04-07 17:41] ghost commented on #1035
Hi milizzz i have exactly the same issue, did u fix it ?

[2022-04-07 17:47] bolshoytoster commented on #812
@nfthorsy can you paste the **full** error please.

[2022-04-07 17:50] ghost opened #1058 "TypeError: Cannot read properties of undefined (reading 'path')"
hi, after generating some, i have this issue, can someone help me ? thank you

 npm run generate

(node:4296) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
Created edition: 1, with DNA: a944d16cadad76eb6aa6eb5b73

[2022-04-07 17:53] bolshoytoster commented on #1057
@notsellingeth

Not necessarily, if all of the rarities in a layer add up to 100 then it acts as a percentage, but usally it's just out of whatever they add up to.

It doesn't matter.

Yes

You could make the rarities of the layer add to 100 and make that trait `#2`, or you could make them add up to 50 and make the trait `#1`.

[2022-04-07 17:53] bolshoytoster commented on #1035
@ADRIhein2 it's likely fixed on [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-07 17:54] bolshoytoster commented on #1058
@ADRIhein2 try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-07 18:02] GauPerrin opened #1059 "Plz_step_dev_I__m_stuck"
hello, I am having hard time figuring out what is the issue with the dna I haven't touch to it.
If someone has any idea where this could come from I'd be grateful :) !

C:\Users\Utilisateur\OneDrive\Bureau\Inpute\hashlips_art_engine\src\main.js:274
  return _dna.replace(query, "");
              ^
    at Array.find (<anonymous>)
    at C:\Users\Utilisateur\OneDrive\Bureau\Inpute\hashlips_art_engin

[2022-04-07 18:07] bolshoytoster commented on #1059
@Arcangel505 can you paste the **full** error please, I think [my fork](https://github.com/bolshoytoster/hashlips_art_engine) fixes this.

[2022-04-07 18:14] ghost commented on #1058
Thank u, any idea where the issue could come from ?

[2022-04-07 18:16] bolshoytoster commented on #1058
@ADRIhein2 there are multiple causes, all of which I have forgotten.

[2022-04-07 18:22] deemount commented on #812
Had not the time, but would do it tomorrow and give you the information then

[2022-04-07 18:32] ghost commented on #1058
i have tried everything but still have this problem, sometimes it appears after 5 generate, other times after 10 generate

[2022-04-07 18:33] bolshoytoster commented on #1058
@ADRIhein2 are you using my fork?

[2022-04-07 18:34] ghost commented on #1058
nop whats different compared to hashlips?

[2022-04-07 18:36] bolshoytoster commented on #1058
@ADRIhein2 it's basically the same, but it fixes this error.

[2022-04-07 18:37] ghost commented on #1058
ok ill try
keep you in touch

[2022-04-07 20:40] ghost commented on #1058
I finally managed to do it, i have a question but I don't know if it's the right place and if you're the right person but I'll test anyway

In my layer configuration I would like some layers not to be generated with some file layers, an example: THIS background cannot be generated with the entire eyes category but ONLY this background, i know how to not link files layers between each others but no

[2022-04-07 20:50] bolshoytoster commented on #1058
@ADRIhein2 you could try having a seperate `layersConfiguration` with that background, you could make another folder inside your background folder - `special` - and have your `layersConfigurations` something like this:
[code]

[2022-04-07 21:06] ghost commented on #1058
![Capture138](https://user-images.githubusercontent.com/103067553/162307666-88ebb8fc-e24e-4a6e-9b1b-7ef30ec3d0ee.PNG)

thank u
something like this ?
i imagine these are not right :

{ name: "Background/Normal" },
{ name: "Background/Special" },

[2022-04-07 21:12] bolshoytoster commented on #1058
@ADRIhein2 that should work.

[2022-04-07 21:14] ghost commented on #1058
![34](https://user-images.githubusercontent.com/103067553/162312919-5c7418bf-3a77-4341-96d2-672c68baebf0.PNG)

unfortunately no

[2022-04-07 21:19] bolshoytoster commented on #1058
@ADRIhein2 it says permission denied, could you try running visual studio as admin?

[2022-04-07 21:28] ghost commented on #1058
thank u very much
im a beginner dont even see that :o
indeed it works

speaking on metadata, for example if i sell my nfts on opensea concerning properties/rarity, it will be indicated only "background" or "background normal"/ "background special"

[2022-04-07 21:38] bolshoytoster commented on #1058
@ADRIhein2 it will say `Background/Normal` in the metadata.

If you want it to just be `Background` you can, ~line 177 in `src/main.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L176-L178

Change
[code]
to
[code]
Note that this will break some `utils/` scripts.

[2022-04-07 21:45] ghost commented on #1058
dude u can't imagine how useful u are, I spent so many hours looking on how to do all of it
how can i like ur profile

[2022-04-08 00:48] sadun619 opened #1060 "Preview Image Size"
Can we generate preview image different size and using different quantity.

[2022-04-08 01:01] LovelyGuy118 commented on #859
me too
any one help me.

[2022-04-08 04:02] LovelyGuy118 commented on #801
Hi @jalagar, can I use gif instead of pngs  in layer?
Please tell me.
Thanks.

[2022-04-08 06:58] bolshoytoster commented on #1060
@sadun619 in `src/config.js` you can:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L87-L92

[2022-04-08 06:59] bolshoytoster commented on #859
@LovelyGuy118 does [this](https://github.com/HashLips/hashlips_art_engine/issues/212#issuecomment-1086637401) help?

[2022-04-08 06:59] bolshoytoster commented on #801
@LovelyGuy118 yes.

[2022-04-08 08:53] LovelyGuy118 commented on #859
@bolshoytoster
That use pngs as layers.
I mean every frame in gif.
But I wanna only gif as layer.

[2022-04-08 09:09] bolshoytoster commented on #859
@LovelyGuy118 you'lk have to split them into individual frames I assume, it could cause issues using gifs with different lengths.

[2022-04-08 09:27] LovelyGuy118 commented on #859
@bolshoytoster
Thanks for your reply
How can I split into individual frames?
Please help me

[2022-04-08 10:05] bolshoytoster commented on #859
@LovelyGuy118 [you could try searching.](https://duckduckgo.com/?q=split+gif+into+frames)

[2022-04-08 12:29] nilolalolal opened #1061 "How to check how many designs is posibble to create with traits I have?"
How to check how many designs is posibble to create with traits I have?
Does layer order have any affect?

[2022-04-08 14:03] jalagar commented on #801
@bolshoytoster @LovelyGuy118 at the moment no you will need to use https://ezgif.com/gif-to-apng to convert the gif to png. This is tasked https://github.com/jalagar/Generative_Gif_Engine/issues/4 and I see you created an issue https://github.com/jalagar/Generative_Gif_Engine/issues/15 here which is great thank you! I will close my original issue and use yours for future communication

[2022-04-08 14:04] bolshoytoster commented on #1061
@nilolalolal you can multiply the number of traits for each layer together, e.g. for this repo:
- 1 Background
- 3 Bottom lid
- 6 Eye colour
- 2 Eyeball
- 1 Goo
- 3 Iris
- 1 Shine
- 3 Top lid

1 * 3 * 6 * 2 * 1 * 3 * 1 * 3 = 324 combinations.

[2022-04-08 14:18] nilolalolal commented on #1061
Thank you.
I generated 500 collection with more than enough traits to create 500 NFTs
On the end some of NFTs were repeating.
During generation it showed DNA exist, only few times.
why is that?

[2022-04-08 14:59] bolshoytoster commented on #1061
@nilolalolal it means the dna generated was a duplicate so it generated another one.

[2022-04-08 15:01] nilolalolal commented on #1061
So why on the end I had some repeating?
it finished all 500, but I found some exactly the same

[2022-04-08 15:04] bolshoytoster commented on #1061
@nilolalolal they shouldn't be repeating.

[2022-04-08 21:30] TravelingTechGuy commented on #676
Suffering from "unsupported image type" as well.

[code]

I've upgraded my canvas module to latest (version `2.9.1`)
I've added a `console.log(src);` to `node_modules/canvas/lib/image.js` to find the errant file names.

All images are 3000x3000 32 bit PNGs. Whenever I remove an image that appears, another one blows up (I have removed 5 so far - still exploding). Nothing special that I can see abou

[2022-04-08 21:34] bolshoytoster commented on #676
@TravelingTechGuy can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-04-08 21:37] TravelingTechGuy commented on #676
@bolshoytoster Thanks for replying! From what I've seen, your fork prints out the name of the "unsupported" file (which i already handled). Does it actually solve the issue? Could you tell me what have you changed?

[2022-04-08 21:39] bolshoytoster commented on #676
@TravelingTechGuy it usually solves the issue (the issue is usually just a hidden file), it now ignores files it can't load and gives a warning.

[2022-04-08 21:42] TravelingTechGuy commented on #676
One of the first things I did was look for hidden files in the layers folders (since my artist works on a Mac) - there were none (she shared on Dropbox, which removes all hidden files).

If your fork just ignores files it can't use, then I'll end up with the wrong rarities, no?

Do you have any idea why certain files are "unsupported"?

[2022-04-08 21:44] bolshoytoster commented on #676
@TravelingTechGuy just use it and read the warning to see which files it can't load, I need to sleep.

[2022-04-08 21:46] TravelingTechGuy commented on #676
👍

[2022-04-09 02:30] arjayosma commented on #812
Reply from @ipv6freely:

I can confirm this one on my M1 machine. I had v16 previously and installed the v17 package to test it out.

steps:
1. installed v17
2. ran this command with homebrew `arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg`
3. reopened terminal and vscode

notes:
1. you may use nvm to install v17
2. you may need to install homebrew if not yet in system

[2022-04-09 09:25] vitandan commented on #1003
Hello. This solution is not working for me. I generated output of 500. Deleted image number 5 and json file number 5. When i run the reorder function, it deletes approximately 94 files

[2022-04-09 09:30] bolshoytoster commented on #1003
@vitandan it shouldn't delete anything, try changing the lines:
[code]
to:
[code]

[2022-04-09 12:17] vitandan commented on #1003
Hey @bolshoytoster thanks for the reply. It it still behaving the same. This time for a fresh set of 500 images, i deleted file number 36, and after running **node reorder.js**, the sequence became 1,36,100, 101.....

[2022-04-09 12:30] vitandan commented on #1003
I Did some more testing, This time on a fresh 500 sample, deleted file number 200, 254. First time when i ran reorder.js, folder structure became 1, 10 , 100, 101, 102.......(Total 401 files remaining out of 500). I again deleted one random image from 401 remaining ones, this time, the output was as expected, 1, 2, 3, ....400

[2022-04-09 14:17] pythons-exe opened #1062 "Can't add "*" on Windows"
When I try to add a weight for the rarity. I can't add "*" to the file. Any solutions?

[2022-04-09 14:34] bolshoytoster commented on #1062
@pythons-exe could you elaborate? Are you getting an error?

[2022-04-09 15:57] pythons-exe commented on #1062
When I try to add "*" to add the weights. It says it is not a valid file/folder name.

[2022-04-09 16:25] bolshoytoster commented on #1062
@pythons-exe is the error from windows or hashlips?

[2022-04-09 18:32] ghost opened #1063 "TypeError: Cannot read properties of undefined (reading 'replace')"
Hi, i have this type error when i generate, any idea ?
Thanks
![bd](https://user-images.githubusercontent.com/103067553/162587211-73a29d9d-af6f-4537-8e5e-25f47a808ba2.PNG)

[2022-04-09 18:46] bolshoytoster commented on #1063
@ADRIhein2 could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-04-09 18:50] ghost commented on #1063
I have all my changes in this one I'm afraid of losing everything

[2022-04-09 19:12] bolshoytoster commented on #1063
@ADRIhein2 you can copy everything over.

[2022-04-09 19:22] ghost commented on #1063
is yours exactly the same ?

[2022-04-09 19:27] bolshoytoster commented on #1063
@ADRIhein2 basically.

[2022-04-09 19:49] ghost commented on #1063
i found something, it only does this when I use another folders in my layers folder
![fez](https://user-images.githubusercontent.com/103067553/162589500-f6d9a0dc-4db8-4414-86ba-53ef9fe753f8.PNG)

[2022-04-09 19:53] bolshoytoster commented on #1063
@ADRIhein2 yes, it tries to load every file in the folder as an image,  even if it's not an image. My fork adds handling for this.

[2022-04-09 20:04] ghost commented on #1063
![yj](https://user-images.githubusercontent.com/103067553/162589936-f40795d1-53d2-44d8-b9bd-1bb333b0ed31.PNG)

[2022-04-09 20:10] bolshoytoster commented on #1063
@ADRIhein2 it looks like folders have incorrect permissions, try running visual studio as admin.

[2022-04-09 20:11] ghost commented on #1063
nop same

[2022-04-09 20:14] bolshoytoster commented on #1063
@ADRIhein2 you'll have to delete the `build/` folder yourself as well.

[2022-04-09 20:17] ghost commented on #1063
![tgy](https://user-images.githubusercontent.com/103067553/162590285-5a018505-fd6e-4d0a-b2f6-c5107edc269a.PNG)

[2022-04-09 20:18] ghost commented on #1063
always the same

[2022-04-09 20:25] bolshoytoster commented on #1063
@ADRIhein2 that's not my fork anyway.

Could you
1. Make a copy of your `src/config.js` and `layers/`.
2. Delete the `hashlips_art_engine-main/` folder.
3. [Download my fork](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip).
4. Unzip it.
5. Run visual studio as admin.
6. Open the folder you extracted.
7. Copy over your saved `src/config.js` and `layers/`.

[2022-04-09 20:31] ghost commented on #1063
![Uploading rh.PNG…]()

[2022-04-09 20:32] ghost commented on #1063
![rh](https://user-images.githubusercontent.com/103067553/162590708-8a149a57-010a-4dac-a0c4-8502e199903a.PNG)

[2022-04-09 20:35] bolshoytoster commented on #1063
@ADRIhein2 you're in the wrong folder then, run `Get-ChildItem -Directory` to get the name, and run `cd ` + name to change into it.

[2022-04-09 20:37] ghost commented on #1063
![ujio](https://user-images.githubusercontent.com/103067553/162590855-1da3921f-983d-463c-842a-d3a4f9f82c79.PNG)
  isnt the same ?

[2022-04-09 20:39] bolshoytoster commented on #1063
@ADRIhein2 run `cd hashlips_art_engine-main`.

[2022-04-09 20:41] ghost commented on #1063
![jtn](https://user-images.githubusercontent.com/103067553/162590964-b0f87bc7-193b-4f87-8951-cb142fb8cf3b.PNG)

[2022-04-09 20:50] bolshoytoster commented on #1063
@ADRIhein2 it might be because your `layersOrder`s have `Eyes` instead of `Eyes/Four`.

[2022-04-09 20:55] ghost commented on #1063
it's on purpose
i want my first tree to have all Eyes ("Three" and "Four" folder) then my second to have only "Four" folder
![rge](https://user-images.githubusercontent.com/103067553/162591355-60dd9263-4715-4839-9125-7c95e56706f9.PNG)

[2022-04-09 21:00] bolshoytoster commented on #1063
@ADRIhein2 I'll add support for this now.

[2022-04-09 21:02] ghost commented on #1063
thank u !

[2022-04-09 21:17] bolshoytoster commented on #1063
@ADRIhein2 you can either download my repo again or add:
[code]
between these two lines:
[code]
In `src/main.js` ~line 107.

[2022-04-09 21:22] ghost commented on #1063
I don't know if I did right
![hte](https://user-images.githubusercontent.com/103067553/162592055-bdd69f97-313a-422f-bca2-11554ac7946e.PNG)

[2022-04-09 21:24] bolshoytoster commented on #1063
@ADRIhein2 that's right, you'll still have to delete `build/` yourself.

[2022-04-09 21:26] ghost commented on #1063
i did it then :
![rfhsd](https://user-images.githubusercontent.com/103067553/162592136-f3da29c9-0267-4a21-8d99-a7606e084ffc.PNG)

[2022-04-09 21:29] Han1018 commented on #887
@chek4lovv Did you find any solution in the end? I also get this issue now.

[2022-04-09 21:30] bolshoytoster commented on #1063
@ADRIhein2 could you try adding `console.log(layerConfigs, element)` to `src/main.js` line 293.

[2022-04-09 21:30] bolshoytoster commented on #887
@Han1018 can you paste your error please.

[2022-04-09 21:35] ghost commented on #1063
![zfsg](https://user-images.githubusercontent.com/103067553/162592308-3a08539a-b04a-4bee-afde-071e2425df34.PNG)

[2022-04-09 21:39] bolshoytoster commented on #1063
@ADRIhein2 delete `build/` again.

[2022-04-09 21:42] ghost commented on #1063
i did it but it reappears every time I generate

[2022-04-09 21:43] bolshoytoster commented on #1063
@ADRIhein2 try running `Remove-Item -Recurse build`.

[2022-04-09 21:47] ghost commented on #1063
Cannot find path 'C:\Users\PC Adrien\Desktop\hashlips_art_engine-main\build' because it does not exist.
![Uploading dgn.PNG…]()

[2022-04-09 21:47] ghost commented on #1063
![dgn](https://user-images.githubusercontent.com/103067553/162592571-c32e9afa-6f53-4bbd-9bb3-538cc563ebef.PNG)

[2022-04-09 21:48] bolshoytoster commented on #1063
@ADRIhein2 run `cd hashlips_art_engine-main` again.

[2022-04-09 21:51] ghost commented on #1063
![drhd](https://user-images.githubusercontent.com/103067553/162592640-f3276c17-b383-462a-a841-ea52517bf973.PNG)

[2022-04-09 21:51] ghost commented on #1063
a lot of theses lines now

[2022-04-09 21:52] ghost commented on #1063
![ryhe](https://user-images.githubusercontent.com/103067553/162592659-7fa4a4fa-e9d8-4144-b0f3-e4d13c49adc9.PNG)

[2022-04-09 21:58] bolshoytoster commented on #1063
@ADRIhein2 you can remove the `console.log` line now, could you change the line before:
[code]
to
[code]

[2022-04-09 22:02] ghost commented on #1063
where can i find this ?

[2022-04-09 22:02] bolshoytoster commented on #1063
@ADRIhein2 line 294 in `src/main.js`.

[2022-04-09 22:04] ghost commented on #1063
![ertyh](https://user-images.githubusercontent.com/103067553/162593017-29a04d71-44ab-4e43-b7c3-a1a305892564.PNG)

[2022-04-09 22:05] bolshoytoster commented on #1063
@ADRIhein2 try running `Remove-Item -Recurse build`.

[2022-04-09 22:11] ghost commented on #1063
ok so
images are generated but
Only the second tree with "Eyes/Four" generate images with eyes
The first tree with "Eyes" generate none eyes at all

[2022-04-09 22:11] ghost commented on #1063
![tgj](https://user-images.githubusercontent.com/103067553/162593154-5b70fb4f-e230-4d67-b83d-8e9fe4926b2e.PNG)

[2022-04-09 22:21] Han1018 commented on #887
Thx for quickly assistant and I found the solution for this issue. It happen because the Canvas package not suit for silicon Macbook. Here is the method works for me to download the canvas.
https://github.com/Automattic/node-canvas/issues/1733#issuecomment-808916786

[2022-04-09 22:26] bolshoytoster commented on #1063
@ADRIhein2 could you try changing back the
[code]
to
[code]
at ~line 294

Then change
[code]
to
[code]
at ~line 109.

[2022-04-09 22:31] ghost commented on #1063
i did it
![èuftgy](https://user-images.githubusercontent.com/103067553/162593632-fe651439-f3b4-4168-9990-2db3cf358ae8.PNG)

[2022-04-09 22:34] bolshoytoster commented on #1063
@ADRIhein2 what if you try changing
[code]
back to
[code]

[2022-04-09 22:37] ghost commented on #1063
exactly the same

[2022-04-09 22:48] bolshoytoster commented on #1063
@ADRIhein2 looks like a big issue with the way hashlips generates DNA, you're probably best just having two different folders for each one while I try to fix this.

[2022-04-09 22:53] ghost commented on #1063
maybe i should try to just ad some folder instead of sub folder bc yes its obviously the problem
but thanks anyway
alright !

[2022-04-09 23:21] drn999 commented on #812
@deemount I'm trying to get my M1 Max running the art engine and no dice. Can you create a video that shows us how to follow the steps at the beginning of the thread? Think of it as nobody knows anything about this process since I'm a complete neophyte. Thanks! -D

[2022-04-09 23:34] ipv6freely commented on #812
You don’t want to follow the steps at the beginning of the thread. You want to follow what I did and what @arjayosma confirmed works.

Install nodejs latest (v17) and then run the brew install command assuming you have homebrew installed. If you don’t have homebrew installed then download and install that (google it).

[2022-04-10 05:59] sergecao opened #1064 "Change names and ordinal after collection generation"
Good afternoon. I have a question - please help me. I have 8 layers in my project. I have 40 different elements for each layer. My goal is to make collections of only two items in each of the eight layers, but I end up wanting to use all 40 different items.

I tried in turn to generate 256 nft from two elements in eight layers. But I ran into a problem. How do I change the names in the image and m

[2022-04-10 08:49] bolshoytoster commented on #1064
@sergecao my fork lets you start a collection from any number by setting `startEditionFrom` like you do `growEditionSizeTo`. You'll have to regenerate the collections, but my fork is ~4x faster than the main repo.

[2022-04-10 09:52] cf-devil-cry commented on #642
Did you finally solve this problem? I also had the same problem？

[2022-04-10 10:03] cf-devil-cry commented on #642
Is there some news  in the problem?

[2022-04-10 10:05] bolshoytoster commented on #642
@cf-devil-cry no, but could you send your project (either as a github repositiry or as a `.zip`) so I can see what causes this.

[2022-04-10 10:27] pozhars commented on #832
I found comment to update node-fetch, I'm not expert why so, but it worked for me.

First run:
npm uninstall node-fetch

Then:
npm install node-fetch@2

[2022-04-10 10:29] pozhars commented on #832
I found comment to update node-fetch, I'm not expert why so, but it worked for me.
First run:
npm uninstall node-fetch
Then:
npm install node-fetch@2

[2022-04-10 15:19] drn999 commented on #812
DUDE! Worked! Thanks a million-I was banging my head on my desk getting error after error. Thank you!

[2022-04-10 15:36] ipv6freely commented on #812
No problem!

[2022-04-10 19:15] DiskJockey56 commented on #642
The problem for me was that I thought I was exporting transparent frames
but I was actually exporting white png frames through photoshop.
I had to use illustrator to create the blank frames cause photoshop wasn't
working everytime I went to export.

On Sun., Apr. 10, 2022, 5:52 a.m. cf-devil-cry, ***@***.***>
wrote:

[2022-04-11 08:12] bettyboomy opened #1066 "'layerItemsMaxRepeatedTraits' doubt"
Hello guys!

Thanks a lot for your amazing code!

Im trying to use 'layerItemsMaxRepeatedTraits' because I want each item from "hat" layer to repeat only once.

This is my code:

![doubt](https://user-images.githubusercontent.com/101867301/162693070-97391cd6-c8a7-424f-b004-624811814059.png)

It doesn't work for me, the "hat" layer items keep repeating more than once.

Does anyone know why?

Thanks

[2022-04-11 08:15] bolshoytoster commented on #1066
@bettyboomy that's because it's not supported in this repo, I think you meant to use [thePeanutGalleryAndCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection).

[2022-04-11 08:29] bettyboomy commented on #1066
Oh yes sorry! This is for [thePeanutGalleryAndCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection). Thanks!

[2022-04-11 08:29] #1066 closed, assigned to nobody

[2022-04-11 08:39] #954 closed, assigned to nobody

[2022-04-11 16:02] fransyozef opened #1067 "running generate_metadata will generate attributes that are not mine"
So I've build the collection using

`npm run build`

I can see the build folder is created with the images and json.

When I do

`npm run generate_metadata`

the jsons are overwritten and the attributes are not mine

[code]

[2022-04-11 16:07] fransyozef commented on #1067
lol ...

found the hardcoded code

https://github.com/HashLips/hashlips_art_engine/blob/main/utils/generate_metadata.js#L103

[2022-04-11 16:12] bolshoytoster commented on #1067
@fransyozef I assume you're mean t to do it yourself then, there's no documentation on it.

What are you trying to do?

[2022-04-11 17:03] fransyozef commented on #1067
@bolshoytoster actually , this was a question coming from the Discord channel.

https://discord.com/channels/889036571385409556/889627143204655135/963103762031988886

"Say I have 10 images 10 json files, now I deleted 1 can I get the new metadata with the 9files"

I mean, the

`npm run generate_metadata`

did generate new metadata and did not added the deleted one. But it also override the attribu

[2022-04-11 17:09] bolshoytoster commented on #1067
@fransyozef you can take the [`utils/update_info.js` from my fork](https://github.com/bolshoytoster/hashlips_art_engine/blob/main/utils/update_info.js), delete the `build/json/_metadata.json` and the individual metadata files of the ones you want to delete then run `node utils/update_info.js`.

[2022-04-12 00:34] kingchenc opened #1068 "Create multiple collections"
Is there a way to generate a new collection on top of an existing collection and avoid duplicates?

E.g. You generate collection 1, then generate collection 2 without having duplicates from 1.

[2022-04-12 00:59] WCACnft commented on #812
I have an M1 Mac...trying to download homebrew and I keep getting a message about checking for sudo access...what am I doing wrong?

[2022-04-12 01:00] ipv6freely commented on #812
You need to use sudo.

[2022-04-12 01:01] WCACnft commented on #812
@ipv6freely - I am about as new as it gets....is that something I need to download?

[2022-04-12 01:02] ipv6freely commented on #812
No, you just need admin privileges to install software. Do “sudo <command>” and put in your password to elevate privileges.

This is nothing to do with the software or homebrew, it’s a basic system command.

[2022-04-12 01:05] WCACnft commented on #812
@ipv6freely - You're a saint. Thank you

[2022-04-12 01:19] WCACnft commented on #812
@ipv6freely  so I went through the process the tried to check the version with brew -v.... got a message zsh:command not found

[2022-04-12 01:22] ipv6freely commented on #812
Then homebrew is not installed correctly. You may need to seek out help with them… this is very off topic for this Issue ticket at this point and this isn’t really meant to be a place for discussion.

[2022-04-12 01:28] WCACnft commented on #812
Thanks for the help

[2022-04-12 02:02] AwkwardEffect commented on #615
Wish i would've found this an hour ago. I only just figured out that was my issue when I looked at the file tree in my text editor, instead of looking in file explorer.

[2022-04-12 04:01] WCACnft commented on #1040
@MaciekBaron - if you're willing I'd appreciate your help. I started this for the first time. I have an M1 Mac. Downloaded homebrew, latest version Node JS, VS Code, and the latest Hash Lips art engine version. I confirmed in VS Code that I had a successful version of Node installed. When using "npm install" I get a huge response as seen in the attachment.
<img width="1187" alt="Screen Shot 2022-0

[2022-04-12 05:00] joswindsa23 commented on #1067
Lol @fransyozef yes that was me. Still haven't found a resolution. @bolshoytoster I used ur fork, I do get the _metadata.json BUT there's a problem.
Say i have 500 images generated & their respective .json, But suppose i delete image number 2 and its respective .json n then run `node utils/update_info.js` the _metadata.josn is generated with the data missing from 1-10 then directly starts from 100

[2022-04-12 05:29] joswindsa23 commented on #1067
@bolshoytoster so after deleting file number 6.json & the respective image, i also deleted the _metadata.json, then ran the `node utils/update_info.js`

Following was the output

[

  {
    "name": "Your Collection #1",
    "description": "Remember to replace this description",
    "image": "ipfs://NewUriToReplace/1.png",
    "dna": "8ebb01913df279fb8e807312290f63b6ec4a78ea",
    "edition": 1,

[2022-04-12 06:01] vipdiv commented on #924
I'm having the same issue. The layers are appearing, but they are taking up the width and height of the entire box and their respective sizes and locations on the main images are ignored. For example if its a head with face with eyes, ears and mouth, the eyes, ears and mouth are the same size as the face and stretched out to fill the entire artboard and pixelated.

It seems like a tedious task to

[2022-04-12 08:39] vipdiv commented on #924
I think I figured it out. I was using Adobe Illustrator's Asset Export and it was only exporting the PNGs as trimmed, couldn't figure out how to get them to export in Asset Export untrimmed so I saved the file as a .psd and openned up in Illustrator and flatted and rasterized to indvidual layers then in Photoshop I did File--Export--Layers to Files.

In the Layers to Files box:

1. Make sure it's

[2022-04-12 09:57] bolshoytoster commented on #1040
@WCACnft in future could you **copy and paste** the (full) error(s), since it's a pain in the arse to cooy text from a screenshot while also not knowing what the rest of the error is.

Also, when pasting long errors it's best to do it within triple-backticks:
\`\`\`
error
\`\`\`

[2022-04-12 10:03] bolshoytoster commented on #1067
@joswindsa23 they're not missing, the metadata looks to be sorted for some reason (probably shouldn't happen). the rest of the metadata is likely still there (you could use `ctrl` + `f` to find it).

[2022-04-12 10:07] bolshoytoster commented on #924
@vipdiv the white edges are either in the source images or as a result of the second issue.

You can probably get rid of/reduce the pixelation by increasing the width/height in `src/config.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L48

[2022-04-12 16:48] ghost opened #1069 "error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
hi when i upload images i have this issue, any idea ?

![fty](https://user-images.githubusercontent.com/103067553/163013436-6f021ef9-a5e5-4652-abe7-5e1cd236173b.PNG)

[2022-04-12 19:54] bolshoytoster commented on #1069
@ADRIhein2 you should open the issue on [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection) instead.

[2022-04-12 20:01] ghost commented on #1069
i did it but it won't change anything on this

[2022-04-12 22:19] Aizander opened #1070 "Probleme"
Bonjour,
Quand je veux générer mes nft en faisant la commande : node index.js ça me met ce code d'erreur :
at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12)
    at node:internal/main/run_main_module:17:47 {
  co

[2022-04-12 22:23] bolshoytoster commented on #1070
@Aizander vous êtes probablement dans le mauvais dossier. exécutez `Get-ChildItem -Directory` pour obtenir le nom, puis exécutez `cd ` + nom pour le changer.

[2022-04-12 23:01] Aizander commented on #1009
I have this error code every time I do: node index.js :

Error: Cannot find module 'C:\Users\animh\OneDrive\Bureau\projet nft\hashlips_art_engine\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12)

[2022-04-13 01:18] Zaffon commented on #1009
Did you make sure you changed all the names of folders retaining to layers , be sure to remove unused folders from root layer folder

[2022-04-13 01:27] bolshoytoster commented on #1009
@Zaffon

I don't mean to sound like a dick, but did you read the error? It says that it can't find `index.js`.

It doesn't matter.

---

@Aizander
As I already told you [an hour before you created this comment](https://github.com/HashLips/hashlips_art_engine/issues/1070#issuecomment-1097288427), you're likely in the wrong folder.

You can run `Get-ChildItem -Directory` to get the name, then run `c

[2022-04-13 04:14] VitorAugustoCunha opened #1071 "Function with Combinations"
I wanted to know if there is any way to erase what came before the layer passed, for example:
![image](https://user-images.githubusercontent.com/103552917/163098521-5d5e91ee-d69d-4bb0-8e61-22e5d75fd9a3.png)
![image](https://user-images.githubusercontent.com/103552917/163098569-9b65bb68-82d3-4f47-b730-c7c1029b9c25.png)
![image](https://user-images.githubusercontent.com/103552917/163098757-3f386ebd-

[2022-04-13 08:47] boehmatron commented on #812
Installed homebrew and after I execute
`arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg`
I get following error:
arch: Can't find brew in PATH

What am I doing wrong?

[2022-04-13 09:12] vipdiv commented on #565
same issue. hidden.img is not showing up on pinta to test. getting an IPS resolve error.
![hidden image error](https://user-images.githubusercontent.com/19258328/163142525-934e3290-be09-43a7-a7da-4111f7c628d8.png)

[2022-04-13 09:19] bolshoytoster commented on #1071
@VitorAugustoCunha it's probably easiest to have the hair and the hat on the same layer.

[2022-04-13 09:23] bolshoytoster commented on #812
@boehmatron you don't have homebrew installed or it's not installed properly.

This is probably the only time you can trust a command with both `curl` and `/bin/bash -c`. Run this to install homebrew:
[code]

[2022-04-13 09:28] vipdiv commented on #924
Thank you for your help, the white edges were in the original files. And inceasing the height and width, along with smoothing fixed the images.

[2022-04-13 11:30] boehmatron commented on #812
@bolshoytoster doesnt still work. do i need to execute
arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg
in a specific directory or do i need to prepare something beforehand?

[2022-04-13 11:36] bolshoytoster commented on #812
@boehmatron try running `arch -arm64 /opt/homebrew/bin/brew install pkg-config cairo pango jpeg giflib librsvg`, if that works you can run `echo 'eval $(/opt/homebrew/bin/brew shellenv)' >> /Users/$USER/.zprofile` so you can just run `brew` instead of `/opt/homebrew/bin/brew` in the future (after restarting your terminal).

[2022-04-13 12:10] mosfetti opened #1072 "adding specific metadata to specific edition"
Do you guys know if there's an easy way to implement custom metadata for specific edition?

Let's suppose i have a total of 15 items and the editions are created with
    `growEditionSizeTo: 5,`
then
    `growEditionSizeTo: 10,`
then
    `growEditionSizeTo: 15,`

 I would need a way to tell the code to add an extra metadata for the first 5 items, then another extra metadata for items from 6 to 10,

[2022-04-13 12:38] bolshoytoster commented on #1072
@mosfetti in `src/main.js` ~line 405:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L404-L406

You could change `addMetadata(newDna, abstractedIndexes[0]);` to `addMetadata(newDna, abstractedIndexes[0], layerConfigurations[layerConfigIndex].extraMetadata);`

Then ~line 131
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d

[2022-04-13 12:41] mosfetti commented on #1072
thank you very much! I'll try to tinker a little bit now! I'll close the issue if this is working, otherwhise I might ask further help!

[2022-04-13 12:43] bolshoytoster commented on #1072
@mosfetti if it works for you I'll add it to [my fork](https://github.com/bolshoytoster/hashlips_art_engine/).

[2022-04-13 13:00] cymqqqq opened #1073 "npm install error"
hi, how to fit the below problem?
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/jackchoi/hashlips_art_

[2022-04-13 13:02] bolshoytoster commented on #1073
@cymqqqq one of our dependencies doesn't suport M1 macs, try looking at some [other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for a solution.

[2022-04-13 13:07] mosfetti commented on #1072
Yes, it's working! Thanks a lot!

[2022-04-13 13:07] #1072 closed, assigned to nobody

[2022-04-13 13:16] cymqqqq commented on #1073
THX

[2022-04-13 13:31] kingchenc commented on #1068
No one? Maybe you @bolshoytoster ?

[2022-04-13 15:55] TheRascalDude opened #1074 "Node Error"
My first time using hashlips, i entered each layer and think i've filled things out correctly, but when i enter in command 'node index.js' it doesn't work, what am i missing?
![image](https://user-images.githubusercontent.com/103591201/163221085-674183cb-1e8c-4a82-8fc3-5cf5bd4b86b0.png)

[2022-04-13 16:56] Chriss191 opened #1075 "Help cant start nothing"
when I type % npm install Im keep getting this error
Windows PowerShell
Copyright (C) 2009 Microsoft Corporation. All rights reserved.

PS C:\Users\ehome\Desktop\solana\hashlips_art_engine-main> % npm install
ForEach-Object : Cannot bind parameter 'Process'. Cannot convert the "npm" value of type "System.String" to type "System.Management.Automation.Sc
riptBlock".
At line:1 char:2
+ % <<<<  npm in

[2022-04-13 17:31] bolshoytoster commented on #1074
@TheRascalDude it looks like you don't have node.js installed.

[2022-04-13 17:32] bolshoytoster commented on #1075
@Chriss191 you don't need to include the `%`, that's probably just there to indicate a command line.

[2022-04-13 19:19] edward2slick opened #1076 "none of the codes to start generating are working please help"
whenever i run node index.js it gives me this error, I don't know how to fix it can someone please help? thank you! I don't know if I did something wrong or I'm running the wrong code I would really appreciate the help!

node:56888) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `no

[2022-04-13 19:36] devbiok opened #1077 "Apply Clipping Mask(Help)"
How do i apply clipping mask on layers?

[2022-04-13 19:36] bolshoytoster commented on #1076
@edward2slick save your `src/config.js` file.

[2022-04-13 19:44] Catzskull commented on #1040
Hi I'm trying to Create 1of1 edition + the standard ones using the layers. that doesn't work. how can I do?
<img width="1200" alt="Screen Shot 2022-04-13 at 3 39 27 PM" src="https://user-images.githubusercontent.com/102982983/163257961-f0cc405f-654f-44a3-9798-f4fbb49d2986.png">

[2022-04-13 19:54] Catzskull commented on #1057
Trying to set 1of one but seems like it dosent work that way, please hel
<img width="1200" alt="Screen Shot 2022-04-13 at 3 39 27 PM" src="https://user-images.githubusercontent.com/102982983/163259602-db8653ed-d06a-4c08-9b0c-8416c0953b74.png">
p

[2022-04-13 19:58] bolshoytoster commented on #1040
@Catzskull you've probably misunderstood `shuffleLayerConfigurations`, it's meant to be `true`/`false`.

Could you explain what you want to do please.

[2022-04-13 20:02] Catzskull commented on #1040
Just trying to do 1 of 1 in the collection

[2022-04-13 20:17] edward2slick commented on #1076
@bolshoytoster okay thank you, do you know how to do that? i found that file but im not sure how to save it, thansk for your help

[2022-04-13 21:06] bolshoytoster commented on #1076
@edward2slick `ctrl` + `s`.

[2022-04-13 21:07] bolshoytoster commented on #1040
@Catzskull I think you want to add that bit to `layersConfigurations` instead.

[2022-04-13 21:18] edward2slick commented on #1076
@bolshoytoster ok i did that, i saved the file but now when i put index .js it gives me this error

(node:41056) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);
  ^

Erro

[2022-04-13 21:19] bolshoytoster commented on #1076
@edward2slick could you paste your `layersConfigurations` please.

[2022-04-13 21:21] Catzskull commented on #1040
I did it seems to work, metadata read ok. Thks
<img width="1285" alt="Screen Shot 2022-04-13 at 5 19 24 PM" src="https://user-images.githubusercontent.com/102982983/163272505-569a4140-527c-4d8f-bfa9-bb6a36a2c657.png">

[2022-04-13 21:23] edward2slick commented on #1076
@bolshoytoster okay, here is the whole config.js file

 basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Wacky Women";
const description = "Wacky Women NFT Collection";
const baseUri = "ipfs://NewUriToReplace"

[2022-04-13 21:26] bolshoytoster commented on #1076
@edward2slick remove the `Top lid` bit from your `layersOrder` if you don't have a `Top lid` layer (judging by your previous error it doesn't look like you do).

[2022-04-13 21:29] edward2slick commented on #1076
@bolshoytoster okay thank you, I did that, is that the only mistake I have? Also is node index.js the correct code to generate? Thank you for all your help

[2022-04-13 21:30] bolshoytoster commented on #1076
@edward2slick I think that's fine and `node index.js` is correct.

[2022-04-13 21:33] edward2slick commented on #1076
@bolshoytoster okay, im really sorry to bother you but I tried to put node index.js isnt working it gives me this

PS C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main> node index.js
(node:23112) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --tr

[2022-04-13 21:34] bolshoytoster commented on #1076
@edward2slick you'll need to save `src/config.js` again.

[2022-04-13 21:41] edward2slick commented on #1076
@bolshoytoster okay, so i save src/config.js to my files, it says its already saved and if i want to replace it, i clicked yes and changed the the name to config.js2, did i do something wrong? Both the normal one and the one i changed the name of show up on src. Im not sure hwo to fix this, ive never coded or anything before so im sorry if ive done something other then what you said. I really appr

[2022-04-13 21:47] bolshoytoster commented on #1076
@edward2slick check if the one without the 2 has the `Top lid` bit, if so, replace it with the one with the 2 (you could do it in file explorer).

[2022-04-13 21:53] edward2slick commented on #1076
@bolshoytoster       Now it gives me this

 C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\src\config.js:36
    ],nos
      ^

ReferenceError: nos is not defined
    at Object.<anonymous> (C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\src\config.js:36:7)
    at Module._compile (node:internal/modules/cjs/loader:1103:14)
    at Objec

[2022-04-13 21:55] bolshoytoster commented on #1076
@edward2slick could you paste the lines from ~30-40 of `src/config.js` please.

[2022-04-13 21:57] edward2slick commented on #1076
@bolshoytoster here you go,

 { name: "Outfit" },
      { name: "Eyes" },
      { name: "Mouth" },
      { name: "Hair" },
      { name: "Accesories" },

    ],ns
  },
];

const shuffleLayerConfigurations = false;

[2022-04-13 21:58] bolshoytoster commented on #1076
@edward2slick could you get rid of the `ns`/`nos` on line 36 please.

[2022-04-13 22:01] edward2slick commented on #1076
@bolshoytoster okay, do i keep the ], and the  }, ]; underneath?

[2022-04-13 22:01] bolshoytoster commented on #1076
@edward2slick yes.

[2022-04-13 22:03] edward2slick commented on #1076
@bolshoytoster okay, I tried node index.js again but it still gives me the same error, these are lines 37-119 if that might help

const shuffleLayerConfigurations = false;

const debugLogs = false;

const format = {
  width: 1000,
  height: 1000,
  smoothing: false,
};

const gif = {
  export: false,
  repeat: 0,
  quality: 100,
  delay: 500,
};

const text = {
  only: false,
  color: "#ffffff",

[2022-04-13 22:04] bolshoytoster commented on #1076
@edward2slick you probably need to save the file again.

[2022-04-13 22:06] edward2slick commented on #1076
@bolshoytoster alright, if it's not much trouble, could you walk me through how to do that? I dont want to do anything wrong and mess the whole thing up.

[2022-04-13 22:08] bolshoytoster commented on #1076
@edward2slick if you're using visual studio you can just use `ctrl` + `s`. There should be a white circle next to the file's name at the top of the screen that will go away when the file is saved.

[2022-04-13 22:12] edward2slick commented on #1076
@bolshoytoster
ctrl + s isnt doing anything, I am using visual studio though. Im using an hp laptop maybe that makes a difference?

[2022-04-13 22:14] bolshoytoster commented on #1076
@edward2slick I think at the top left of the window there should be `File`, if you click on that it should say something like `Save` under it.

[2022-04-13 22:20] RadZ3000 commented on #812
I'm having the same issue. Were you able to find a fix?

[2022-04-13 22:22] RadZ3000 commented on #812
@saxonheller I'm having the same issue. Is anyone able to find a fix for this?

[2022-04-13 22:23] edward2slick commented on #1076
@bolshoytoster okay, so i did that, but the white dot you ere talking about earlier doesn't go away, also the config.js file is red instead of white like the others, does that mean anything?

[2022-04-13 22:24] unorthodoxxxx commented on #831
hi guys im having same problem. please i really need help
<img width="769" alt="Screen Shot 2022-04-13 at 11 22 43 PM" src="https://user-images.githubusercontent.com/103520967/163279964-d703d2c2-00ac-4433-ae08-9642a450f56e.png">

[2022-04-13 22:24] bolshoytoster commented on #812
@RadZ3000 could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-13 22:27] bolshoytoster commented on #1076
@edward2slick I'm not sure then. You could try editing the file in a different editor like notepad.

The red is to do with git so it doesn't matter.

[2022-04-13 22:28] edward2slick commented on #1076
@bolshoytoster Alright thank you, also it says the config.js file has 28 problems does that actually mean anything?

[2022-04-13 22:32] bolshoytoster commented on #831
@unorthodoxxxx run `npm install`.

[2022-04-13 22:32] bolshoytoster commented on #1076
@edward2slick you can probably ignore them.

[2022-04-13 22:36] RadZ3000 commented on #812
Thanks @bolshoytoster I just tried it and it does work, however the repo I'm working with is [this one](https://github.com/codeSTACKr/minter-dapp).

Can you tell me if I can replace the backend folder with your fork? I'm new to coding so not 100% sure.

[2022-04-13 22:41] edward2slick commented on #1076
@bolshoytoster alright, so now i figured out how to save it ( i just needed to refresh) when i put npm index.js it gives me this

S C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main> npm index.js
Unknown command: "index.js"

To see a list of supported npm commands, run:
  npm help
PS C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main> npm

[2022-04-13 22:44] bolshoytoster commented on #812
@RadZ3000 you might be able to replace the `backend/src/main.js` with my `src/main.js` but I'm not too sure.

ps: in future you should probably ask questions in the place you got the code from.

[2022-04-13 22:45] bolshoytoster commented on #1076
@edward2slick it's either `node index.js` or `npm build`/`npm generate`.

[2022-04-13 22:49] edward2slick commented on #1076
@bolshoytoster okay, i tried all of them but it keeps giving me this SyntaxError: Unexpected token 'const'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1032:15)
    at Module._compile (node:internal/modules/cjs/loader:1067:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1157:10)
    at Module.load (node:internal/modules

[2022-04-13 22:51] RadZ3000 commented on #812
It worked! Thanks man, been struggling with this for a while.

And yeah you're right. I'm here because I was directed to this fix by the code author, so I assumed it was the same issue.

[2022-04-13 22:51] bolshoytoster commented on #1076
@edward2slick there's a syntax error, could you paste the full error please.

[2022-04-13 22:53] edward2slick commented on #1076
@bolshoytoster here it is,

npm@8.5.0 C:\Program Files\nodejs\node_modules\npm
PS C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main> node index.js
C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\src\config.js:37
const shuffleLayerConfigurations = false;
^^^^^

SyntaxError: Unexpected token 'const'
    at Object.compileFunction (node:vm:

[2022-04-13 22:54] bolshoytoster commented on #1076
@edward2slick could you paste the ~5 lines before 37 please.

[2022-04-13 22:55] edward2slick commented on #1076
@ bolshoytoster these are lines 30-40

 var dnaList = new Set();
const DNA_DELIMITER = "-";
const HashlipsGiffer = require(`${basePath}/modules/HashlipsGiffer.js`);

let hashlipsGiffer = null;

const buildSetup = () => {
  if (fs.existsSync(buildDir)) {
    fs.rmdirSync(buildDir, { recursive: true });
  }
  fs.mkdirSync(buildDir);

[2022-04-13 22:57] bolshoytoster commented on #1076
@edward2slick sorry, I meant from `src/config.js`.

[2022-04-13 22:59] edward2slick commented on #1076
@bolshoytoster oh I'm sorry about that, here are 30-40 from config.js

 { name: "Outfit" },
      { name: "Eyes" },
      { name: "Mouth" },
      { name: "Hair" },
      { name: "Accesories" },

const shuffleLayerConfigurations = false;

const debugLogs = false;

[2022-04-13 23:01] bolshoytoster commented on #1076
@edward2slick it looks like you're missing the
[code]
That's meant to come just after
[code]

[2022-04-13 23:02] edward2slick commented on #1076
@bolshoytoster
it still gives me the same error, these are are all the lines from config.js im not sure whats wrong

 basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Wacky Women";
const description = "Wacky W

[2022-04-13 23:04] bolshoytoster commented on #1076
@edward2slick it should.

[2022-04-13 23:06] edward2slick commented on #1076
@bolshoytoster
it still gives me the same error, these are are all the lines from config.js im not sure whats wrong

basePath = process.cwd();
const { MODE } = require(${basePath}/constants/blend_mode.js);
const { NETWORK } = require(${basePath}/constants/network.js);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Wacky Women";
const description = "Wacky Women

[2022-04-13 23:07] bolshoytoster commented on #1076
@edward2slick sorry, instead of just
[code]
it should've been
[code]
Also make sure you save the file.

[2022-04-13 23:07] edward2slick commented on #1076
@ bolshoytoster okay so i tried that but it still gives me the same code im not sure whats wrong, i pasted the config.js lines in case that might help.

 basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Wacky

[2022-04-13 23:29] edward2slick commented on #1076
@bolshoytoster okay so it says there is a problem with line 104 which is   format, im not sure whats wrong with it though

[2022-04-13 23:36] bolshoytoster commented on #1076
@edward2slick if you've already read [this](https://github.com/HashLips/hashlips_art_engine/issues/1076#issuecomment-1098561351) comment, could you paste the error please.

[2022-04-13 23:40] edward2slick commented on #1076
@bolshoytoster    yes i already fixed that, so it doesnt come up as a error but it comes up as a problem on the dashboard next to output, debug console, and terminal. it doesnt let me copy/paste it but it says',' expected ts(1005) [Ln 104, Col 3]

[2022-04-13 23:42] bolshoytoster commented on #1076
@edward2slick if it's not an error you can probably ignore it.

[2022-04-13 23:45] edward2slick commented on #1076
@bolshoytoster alright, but even now when everything should be fixed, it still gives me the same syntax error

SyntaxError: Unexpected identifier
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1032:15)
    at Module._compile (node:internal/modules/cjs/loader:1067:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1157:10)

[2022-04-13 23:45] bolshoytoster commented on #1076
@edward2slick can you paste the **full** error please.

[2022-04-13 23:47] edward2slick commented on #1076
@bolshoytoster  this is the whole thing

C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\src\config.js:37
const shuffleLayerConfigurations = false;
^^^^^

SyntaxError: Unexpected token 'const'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1032:15)
    at Module._compile (node:internal/modules/cjs/loader:1067:27)

[2022-04-13 23:48] bolshoytoster commented on #1076
@edward2slick make sure you've saved the file.

[2022-04-14 00:17] ipv6freely commented on #812
@deemount it may make sense to close this Issue at this point. Most of the comments are completely off topic and have pretty much made the actual solution (https://github.com/HashLips/hashlips_art_engine/issues/812#issuecomment-1082088113)  impossible to locate. The original post of the Issue isn’t even correct anymore anyway and it’s likely to confuse people.

[2022-04-14 00:25] bolshoytoster commented on #1068
@kingchenc short answer: no

But you could create one big collection and manually split it.

Or you could
1. use [my fork](https://github.com/bolshoytoster/hashlips_art_engine)
2. copy the `build/json/_metadata.json` file over from the first collection
3. generate
4. manually delete the editions from the new `_metadata.json`

That way you won't be able to have editions with the same number in two

[2022-04-14 06:58] immrstock commented on #498
I just set the same name of the file at the png images and solve the problem. Good luck.

[2022-04-14 11:44] unorthodoxxxx commented on #831
thank yu, i tried that, and this was the response. im not sure what im doing wrong,
<img width="1016" alt="Screen Shot 2022-04-14 at 12 35 19 PM" src="https://user-images.githubusercontent.com/103520967/163383917-777f679f-9396-4699-ac87-25e675fece86.png">

[2022-04-14 11:47] unorthodoxxxx commented on #831
and here is more. after a second try
<img width="1003" alt="Screen Shot 2022-04-14 at 12 46 05 PM" src="https://user-images.githubusercontent.com/103520967/163384547-5c080543-ebd5-4f4d-9e81-d2865f668cd3.png">
<img width="1017" alt="Screen Shot 2022-04-14 at 12 46 20 PM" src="https://user-images.githubusercontent.com/103520967/163384552-9739180f-8eab-4bc4-9f07-e7a53c5ac5f3.png">
<img width="1017" a

[2022-04-14 11:50] unorthodoxxxx commented on #831
thank you for even responding. i appreciate it.

[2022-04-14 13:57] Pwnkmrdroch commented on #1047
How can I get Rarity of complete collection incase I created multiple cases (10+).
Right now I am using node utils/rarity.js but it is showing a rarity of first case only.
Can anyone help asap?

Thank you

[2022-04-14 13:58] Pwnkmrdroch commented on #1025
How can I get Rarity of complete collection incase I created multiple cases (10+).
Right now I am using node utils/rarity.js but it is showing a rarity of first case only.
Can anyone help asap?

Thank you

[2022-04-14 14:05] G00D-0MEN opened #1078 "'npm run upload_files' does not upload"
Hi there,

I've hit a bit of brick wall. I've generated my images and have got my API key from NFT port, but when I run the command 'npm run upload_images', vscode tells me its uploading them and then I get no further information.. I'm expecting the program to run through the images uploading?

I'm almost certain everything I've done up to this point has been correct.

Sorry I'm completely new to

[2022-04-14 15:18] bolshoytoster commented on #831
@unorthodoxxxx one of our dependencies doesn't support M1 macs, look at some [other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-04-14 15:19] bolshoytoster commented on #1047
@Pwnkmrdroch what do you mean by 'cases'?

[2022-04-14 15:22] bolshoytoster commented on #1078
@G00D-0MEN could you open an issue where you got the code from please (probably [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection))

[2022-04-14 18:47] Chriss191 commented on #1075
Hi even we have changed network to the sol it still generates eth images 1 to 5 can you help

[2022-04-14 19:11] Chriss191 commented on #1075
and we are getting this after starting npm install
npm WARN hashlips_art_engine@1.1.1 No repository field.

[2022-04-14 19:12] Chriss191 commented on #1075
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Install the latest PowerShell for new features and improvements! https://aka.ms/PSWindows

PS C:\Users\teodo\Desktop\test\hashlips_art_engine-main (1)\hashlips_art_engine-main> npm install

[canvas] Success: "C:\Users\teodo\Desktop\test\hashlips_art_engine-main (1)\hashlips_art_engine-main\node_modules\canvas\build\Relea

[2022-04-14 19:40] nft2077 opened #1079 "the gifs appear one by one not be 1 part"
![1](https://user-images.githubusercontent.com/99452519/163463828-b110753c-1247-45a1-9296-52b5ae389baf.gif)

can you help me pleasee

the context is gif

when i run node index.js
why appear one by one
why not be a part
because I have arranged the layers and I have animated the gif

[2022-04-14 20:39] bolshoytoster commented on #1075
@Chriss191

You probably just need to save your `src/config.js` file.

[2022-04-14 20:41] bolshoytoster commented on #1079
@nft2077 does [this](https://github.com/HashLips/hashlips_art_engine/issues/1008#issuecomment-1086636163) help?

[2022-04-15 00:24] PeterGRutherford opened #1080 "How are attributes put into the metadata?"
Hello!

My goal is to edit the metadata and put in an attribute after generation. I think I can make the code real easily, but I have no clue as to how attributes are added from the layers then into the metadata. Can anyone show me the part of the code that makes the attributes?

[2022-04-15 00:43] bolshoytoster commented on #1080
If you want to add/change attributes after generating you could modify `utils/update_info.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L17-L26

This loop iterates through each edition and modifies the `item.name` etc. attributes.

You could add something like `item.attribute = 'foo'` before/after the `if {} else {}` block t

[2022-04-15 13:07] Chriss191 commented on #1075
Yup you were right, stupid me :D

[2022-04-15 13:08] Chriss191 commented on #1075
I have a question, we have one collection but different themes in that collection, sol goes from 0 to next is it possible when we generate one part of a collection that let say ends on 1499 that next part continues from that number

[2022-04-15 13:11] Chriss191 commented on #1075
what I mean is it possible to change at what number collections starts

[2022-04-15 13:26] bolshoytoster commented on #1075
@Chriss191 if all of the themes should generate the same number of images you should just be able to have multiple items in `layerConfigurations`, one for each theme.

If you want to have different numbers of images you could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) and set `startEditionFrom` the same way you set `growEditionSizeTo`.

[2022-04-15 13:42] unorthodoxxxx commented on #831
thanks a lot. i'll go straight there.

[2022-04-15 18:04] iamendy opened #1081 "Any option to make renders strat from 0 instead of 1?"
I want my collection to have Ids from 0 to maxNumber

Want to know if there's such an option to change the default in hashlips. Thanks

[2022-04-15 18:40] bolshoytoster commented on #1081
@iamendy the quickest way would be to change line ~5 of `src/config.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L5

to `const network = NETWORK.sol;`.

Or you could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) and set `startEditionFrom` the same way you set `growEditionSizeTo` to start from any number (my f

[2022-04-15 20:33] Catzskull opened #1082 "Why all layers and sizes are mixed up??"
Need help thks i have place everything in order, image same size as set up 2000x2000
what can be the caus
<img width="1461" alt="Screen Shot 2022-04-15 at 4 31 11 PM" src="https://user-images.githubusercontent.com/102982983/163629439-639abfc1-d161-4e7a-9aed-93f1a3a15306.png">
e

[2022-04-15 20:33] Catzskull commented on #1082
Let me know if i can send something more helpfull

[2022-04-15 20:55] slowbeef7 opened #1083 "node index.js not working"
Hi,
I am having an issue when I try running node index.js and the following error message comes up:
I am quite new to this so it may be a simple fix but if anyone can help it would be appreciated :)

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'sha1'
Require stack:
- C:\Users\Dell\Downloads\hashlips_art_engine-b4308bb586b17af4a1d9079bd6f99918d7264f4e\src\main.j

[2022-04-15 21:13] bolshoytoster commented on #1082
@Catzskull do you mean the layers are misplaced?

If so you need to export your images from your editor as the full image.

You could also use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) and have something like
[code]

[2022-04-15 21:13] bolshoytoster commented on #1083
@slowbeef7 run `npm install`.

[2022-04-15 22:00] lmkirkiii commented on #697
@Darkzolo Hey was this issue ever resolved I have the same problem trying to use algorithm to generate 1000 images each one with a unique background layer lmk bc I love the engine and want to keep using!

[2022-04-16 00:28] edward2slick commented on #1076
@bolshoytoster thank you so much I really appreciate all your help. The file still isn't saving for some reason but I will try to figure it out, thank you again!

[2022-04-16 00:38] edward2slick opened #1084 "srs/config.js file wont save"
srs/config.js file won't save no matter what I try to do. I've tried ctrl + s and I've tried saving it with the file button on the top left corner. I use visual studio code and I need it to save or else I can't generate my work, thank you!

[2022-04-16 04:11] JJake1 opened #1085 "Low Resolution Images"
After I generate my images the lines are blurry and low quality. I saw another post mentioning to change line 116 on main.js to canvas.toBuffer("image/png", { resolution: 300 })  but this had no effect on the quality for me.

[2022-04-16 06:23] #1085 closed, assigned to nobody

[2022-04-16 06:27] JJake1 commented on #993
I'm currently trying to figure out how to do the same thing, have you had any luck figuring it out?

[2022-04-16 08:19] bolshoytoster commented on #697
@lmkirkiii does [this](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection/issues/20) help?

[2022-04-16 08:20] bolshoytoster commented on #1084
@edward2slick if you can't do it with visual studio then use something you can save with.

[2022-04-16 12:05] pokerpug opened #1086 "Link Attributes Together"
Hi,

Just looking to see if there is a way to link attributes together. For example:
I have the layers “T-Shirt” and “Hat”.
And within the layers I have different colors:
Green T-Shirt, Red T-Shirt, Blue T-shirt
Green Hat, Red Hat, Blue Hat.
Can I set a rule to link the same-colored T-Shirts & Hats together? E.g., Blue T-Shirt & Blue Hat.

Thanks

[2022-04-16 15:55] slowbeef7 commented on #1083
@bolshoytoster Thank you very much :)

[2022-04-16 19:06] bolshoytoster commented on #1086
@pokerpug the quickest and easiest way would be to just have T-shirts and Hats on the same layer.

If that doesn't suffice I think either [thePeanutGalleryAndCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine) might have what you want.

[2022-04-16 19:45] magc5d opened #1087 "npm install"
i need help with this please, it doesnt recognize so i cant install the dependencies
npm : The term 'npm' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again.
At line:1 char:1
+ npm install
+ ~~~
    + CategoryInfo          : ObjectNotFound: (npm:String) [], C

[2022-04-16 20:04] bolshoytoster commented on #1087
@magc5d you need to install node.js.

[2022-04-16 20:13] CpTaylor99 opened #1088 "Grab 1 item out of 55"
Hi i am trying to make the program grab from a layer 1 time per. png and vary the other parts of the layers.
Is there a simple way of doing this?
Basically just getting 55 different png. but not duplicating one of the variables, so it will generate 55 different images with 55 that will be the max ill need without duplicating that particular layer.

[2022-04-16 20:26] bolshoytoster commented on #1088
@CpTaylor99 [you could use thePeanutGalleryAndCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection/issues/20).

[2022-04-16 20:44] CpTaylor99 commented on #1088
Thanks ill give it a look

[2022-04-17 00:22] YOLOjnrf opened #1089 "Please Help"
![image](https://user-images.githubusercontent.com/103864654/163695195-34236e7b-5393-4319-a46e-3c6eac5b87d7.jpg)
![Uploading image.jpg…]()
I generated my nft’s successfully but
I got this instead
Any help?.!

[2022-04-17 03:24] Zoomicious opened #1090 "npm run generate error"
The test generate ran well but after uploading my layers , it gave me this error and I am stuck here, how do I resolve please:?

(node:69932) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1405
  handleErr

[2022-04-17 06:24] bolshoytoster commented on #1089
@YOLOjnrf the layer is probably in the wrong order and it's probably a bit too small.

[2022-04-17 06:24] bolshoytoster commented on #1090
@Zoomicious save your `src/config.js` file.

[2022-04-17 08:31] XQ99 commented on #812
This worked for me:

1. installed home brew
2. ran `arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg` in homebrew - took a while to dl all
3. installed node via homebrew
4. loaded vs, ran npm install within terminal

[2022-04-17 08:33] omerso901 commented on #993
Tried but got no where. I end up using the second repo suggested above and configured it exactly to what I need.

[2022-04-17 15:57] YOLOjnrf commented on #1089
Okay Will Work On that

[2022-04-17 17:56] LazySlothArt commented on #812
Who might be able to tell me if the is the same problem.

I have this error:
[code]

After some Googling found this tread and this is what I have done:
1. Install homebrew running this command
`/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)`
2. After install HomeBrew aske to run 2 additional commands
` echo 'eval "$(/opt/homebrew/bin/brew shellenv)"'

[2022-04-17 18:19] ipv6freely commented on #812
To be clear, there is no “M1 Problem”. Anyway, I’m not seeing where you upgraded nodejs to 17.x.

[2022-04-17 18:26] LazySlothArt commented on #812
Check: there is no “M1 Problem”. Poorly expressed myself. I did not upgrade was already running that version got the latest version from their website.

[2022-04-17 18:38] ipv6freely commented on #812
Right on, there ya go. Need to get “latest” 17.x, not “stable”.

[2022-04-17 18:39] bolshoytoster commented on #812
@LazySlothArt the error is because you're in the wrong directory. I trust you can use `ls`/`cd` to get into the main dir, the `ls` output shold look something like this in the right spot:
[code]

[2022-04-17 18:59] LazySlothArt commented on #812
Solved that was it thanks

[2022-04-18 01:25] VitorAugustoCunha opened #1091 "Is there a way to make a part add 2 objects in the metadata?"
I have a part of a hair and a hat but the hair passes the hat, I would like to know if there is a way I can make a specific design for that hat with the hair, it would just be an image containing 2 parts of the metadata example:

Hair1 + Hat1 = HAIR1andHAT1

[2022-04-18 01:38] andyq1995 commented on #325
you saved me thanks! i was trying for like 4 hours to figure out the problem, it worked out after saving

[2022-04-18 01:43] edward2slick commented on #1084
@bolshoytoster will i have to redo all the changes i made?

[2022-04-18 02:36] leonelcaroc commented on #977
Upgrade your NPM using this code in your Terminal:
`npm i -g npm-upgrade`

Everything must be fine after it.

[2022-04-18 08:50] bolshoytoster commented on #1091
@VitorAugustoCunha no, the easiest way to do this would be to have the hair and hats be on the same layer.

[2022-04-18 08:51] bolshoytoster commented on #1084
@edward2slick you can copy/paste them over.

[2022-04-18 08:54] bolshoytoster commented on #977
@leonelcaroc
a. a month has passed since this issue has been active
b. the error has nothing to do with npm

[2022-04-18 12:19] okarlidag opened #1092 "Dont run "node utils/nftport/uploadFiles.js""
Hello,
I want to mint my entire collection to Opensea. I have done all instructions but vs dont run "node utils/nftport/uploadFiles.js" command. Please help me to fix this problem.
Best Regards.

<img width="1680" alt="Ekran Resmi 2022-04-18 15 14 50" src="https://user-images.githubusercontent.com/103938144/163806985-7d6a2a30-486e-4fe1-bfdf-cc0aab0e894d.png">

[2022-04-18 12:25] bolshoytoster commented on #1092
@okarlidag firstly, this issue is in the wrong place, it should be in the place you got the code from (likely [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection)).

Secondly, can you paste the **full** error please.

[2022-04-18 12:51] okarlidag commented on #1092
Thank you for responding.
I could not have fixed this problems for days. Please help me to fix this problem.
My version is: v14.19.1
Full error is that:

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
macbook-pro:hashlips_art_engine-1.1.2_patch_v6 okankarlidag$ node ut

[2022-04-18 12:53] tomkjose opened #1093 "Update metadata JSON file error"
I was trying to update my baseUri in all JSON files. But keep getting some errors.

![image](https://user-images.githubusercontent.com/44130152/163811197-998d85af-2c4a-4b23-9118-c077b82485d5.png)

[2022-04-18 12:59] bolshoytoster commented on #1092
@okarlidag does [this](https://github.com/codeSTACKr/create-10k-nft-collection#es-module-error-err_require_esm) help?

[2022-04-18 13:11] slowbeef7 opened #1094 "Problem with node utils/updateBaseUri.js"
Hi, I have come across an issue with using node utils/updateBaseUri.js which may be a really obvious fix but I am new to pretty much everything to do with this and any helpis appreciated :)
 node utils/updateBaseUri.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'D:\Bence\hashlips_art_engine-main\utils\updateBaseUri.js'
    at Function.Module._resolveFilename (

[2022-04-18 13:15] bolshoytoster commented on #1093
@IceAge95 this issue does not occur on this repo, could you open this issue on [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection) and/or use the [main `utils/update_info.js`](https://github.com/HashLips/hashlips_art_engine/blob/main/utils/update_info.js).

[2022-04-18 13:24] bolshoytoster commented on #1094
@slowbeef7 that's because it doesn't exist. You probably meant `node utils/update_info.js`.

[2022-04-18 14:13] okarlidag commented on #1092
Yes thanks a lot.
In this time, i'v got such an error;

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
macbook-pro:hashlips_art_engine-1.1.2_patch_v6 okankarlidag$ node utils/nftport/uploadFiles.js
internal/fs/utils.js:332
    throw err;
    ^

Error: ENOENT: no such f

[2022-04-18 14:18] bolshoytoster commented on #1092
@okarlidag can you please use the [latest version](https://github.com/codeSTACKr/create-10k-nft-collection/archive/refs/tags/v2.0.0.zip) of that code.

[2022-04-18 14:28] tomkjose commented on #1093
I used the [main utils/update_info.js](https://github.com/HashLips/hashlips_art_engine/blob/main/utils/update_info.js) , but it create a copy of the first and last JSON file as undefined.json with  data updated on it, left unchanged remaining files.
![image](https://user-images.githubusercontent.com/44130152/163822597-28ec5454-d0dd-4b83-aeea-09c47ce95310.png)

[2022-04-18 14:32] bolshoytoster commented on #1093
@IceAge95 does [mine](https://github.com/bolshoytoster/hashlips_art_engine/blob/main/utils/update_info.js) work?

[2022-04-18 14:38] tomkjose commented on #1093
Worked, but it create a copy of the first and last JSON file as undefined.json with data updated on it, leaving unchanged the remaining files.

[2022-04-18 15:06] okarlidag commented on #1092
I just used the latest version that you suggest but I got completely same error above. What can i do apart from this? By the way, thank you for helping. It means a lot.

[2022-04-18 16:46] bolshoytoster commented on #1093
@IceAge95 I just had a look at your metadata, and it's missing the `edition` attribute so it looks like you'll either have to open an issue on [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection) (about the original error), or regenerate your collection using either this repo or mine.

[2022-04-18 16:47] bolshoytoster commented on #1092
@okarlidag you shouldn't get the same error, could you paste the error please.

[2022-04-18 16:58] errahali42 commented on #325
Hello friends, I want to develop a project on Solana network by Magic Elaine.I have a team of five people and we have no problem with any field of marketing, but we have a problem with Smart Contract.Can anyone help us in setting up our smart contract on Solana network, especially Magic Eden?

[2022-04-18 18:34] metamacias opened #1095 "I Need Help Combining collection"
I had to run the program 3 separate layer orders. the program wouldn't run the // Alternative Layers &  //mask layer order so i ran them separate. I now have 3 different folders with metadata. I also had to go through every single file and removed any images along with their metadata that had impurities or printed wrong. how would I put them together and update the metadata as one?

  {
    // Ori

[2022-04-18 18:37] bolshoytoster commented on #1095
@M3taMacias you won't be able to because the edition numbers will probeably have collisions. You could instead generate with [my repo](https://github.com/bolshoytoster/hashlips_art_engine) because I think I've fixed this.

[2022-04-18 19:09] metamacias commented on #1095
how would I update the meta data. of instance if I had to remove file 3, 10, and 15, and its metadata because they came out bad could I run an update where it renames the files for me. file 4 would become 3 and 11 become 10 and ect, ect...

[2022-04-18 19:12] bolshoytoster commented on #1095
@M3taMacias you can't, it would be quite hard.

[2022-04-18 19:16] metamacias commented on #1095
ok what if I renamed all of them myself would that cause issues?

[2022-04-18 19:20] bolshoytoster commented on #1095
@M3taMacias it shouldn't, but it'll probably take a while and humans tend to make mistakes.

If you're going to do it, it's probably easiest to just edit `_metadata.json` since you'd just need to delete the bits you don't want then change the `edition` properties. You can then run `node utils/update_info.js` to update the individual files.

[2022-04-18 19:38] metamacias commented on #1095
can i use the same method if i wanted to update the names of each individual one?

[2022-04-18 19:39] bolshoytoster commented on #1095
@M3taMacias yes.

[2022-04-18 19:59] metamacias commented on #1095
will this automatically update image file as well?

[2022-04-18 20:06] bolshoytoster commented on #1095
@M3taMacias oh, no - you'll have to delete/rename them yourself as well.

[2022-04-18 21:58] peazley opened #1096 "Sequential image generation"
Is there a way to generate NFT's in order?  0001, 0002, 0003 etc.

I thought make "const shuffleLayerConfigurations = false;" would keep things in order, but it seems to be generating at random still.

This is how I've got my layer folders setup

FIRST DIGIT
0.png
1.png
2.png
3.png
4.png
5.png
6.png
7.png
8.png
9.png

SECOND DIGIT
0.png
1.png
2.png
3.png
4.png
5.png
6.png
7.png
8.png
9.png

THIRD

[2022-04-18 22:24] bolshoytoster commented on #1096
@peazley not currently, since not many people want this, but you could probably implement this yourself.

---

Replace `src/main.js` ~line 362:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L362

with
[code]

[2022-04-18 22:32] pat-q1000 opened #1097 "Selecting a specific image in the layer folder."
My NFT has four different types of characters. I want them all under 1 layer (folder) so I don't have to change the individual metadata of each (i.e., the type of character). I have split them into four different sections in the config file and what I want to do is for each character type to go into the character layer (folder) and select the specific image that relates to it. Like the photo attac

[2022-04-19 00:04] peazley commented on #1096
Sort of working, but seems to be going through the first layers images (0-9), but then only uses the first image of the other layer (0)

I appreciate your feedback. I'll poke around an see if I can make it function properly. Thanks for pointing me in the right direction.

[2022-04-19 00:05] peazley commented on #378
Did you ever figure this out?

[2022-04-19 00:24] bolshoytoster commented on #1096
@peazley what if you change the lines
[code]
to
[code]

[2022-04-19 02:42] tomkjose commented on #1093
thank You

[2022-04-19 02:42] #1093 closed, assigned to nobody

[2022-04-19 06:30] internetsurfer666 opened #1098 "npm install"
please help, I did it on my Mac 2018. I've installed node-v16.14.1.pkg

admin@192 hashlips_art_engine-1.0.8_update % npm install

up to date, audited 69 packages in 727ms

5 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities
admin@192 hashlips_art_engine-1.0.8_update copy %

[2022-04-19 06:32] internetsurfer666 commented on #1098
admin@192 hashlips_art_engine-1.0.8_update copy % npm install

up to date, audited 69 packages in 727ms

5 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities
admin@192 hashlips_art_engine-1.0.8_update copy % npm fund
hashlips_art_engine@1.0.5
├── https://github.com/sponsors/sindresorhus
│   └── make-dir@3.1.0, mimic-response@2.1.0
├── https://github.com/sponsors

[2022-04-19 07:38] internetsurfer666 commented on #1098
admin@192 hashlips_art_engine-1.0.8_update copy % npm install

up to date, audited 69 packages in 814ms

5 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities
admin@192 hashlips_art_engine-1.0.8_update copy % node index.js
(node:71049) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path,

[2022-04-19 09:26] bolshoytoster commented on #1098
@internetsurfer666 in your `src/config.js`, you define the layer `backgound fire`. Could you make sure the folder under `layers/` is called the exact same (it's case sensitive).

[2022-04-19 12:26] YuzarIM opened #1099 "Error just first try default"
Error , im not change anything , this first time i want try but like this,
Im typing “npm install”
Save
Im typing again “node index.js”
Then error
![540B71C7-27BF-494B-9B66-0AB28BE81BF1](https://user-images.githubusercontent.com/104006522/164003035-0a8f2ab8-039d-4da2-842f-cae01cd39eee.jpeg)

[2022-04-19 12:39] bolshoytoster commented on #1099
@YuzarIM there's a syntax error, probably in your `src/config.js`. If you don't know how to fix it could you please paste the full error and your `src/config.js` file.

[2022-04-19 14:07] eyjun opened #1100 "node index.js not working"
**I didn't change any default, but I can't build anything.**

C:\Users\영준\Desktop\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6>node index.js
(node:30376) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning

[2022-04-19 14:14] bolshoytoster commented on #1100
@eyjun Your username is non-ascii, so you'll have to move the project folder into somewhere like `C:/Users/Public/`.

[2022-04-19 17:14] #1000 closed, assigned to nobody

[2022-04-19 22:14] DonGonzo305 commented on #723
No luck guys! Can I pay anyone to teach me how to solve this?

[2022-04-19 22:23] bolshoytoster commented on #723
@DonGonzo305 have you tried running `npm rebuild`?

[2022-04-19 23:19] PeterGRutherford commented on #1080
That is kind of what I mean. To be more specific, is there anyway to create another attribute/trait with a trait_type and value, then add it to the attributes array in the metadata.

[2022-04-19 23:24] bolshoytoster commented on #1080
@PeterGRutherford you can add something like
[code]

[2022-04-20 01:02] zabeast opened #1101 "504 gateway timeout nginx/1.14.0 (Ubuntu)"
I uploaded my metadata to piñata and it was successful, however when I go to view the metadata it takes ages to load and then it comes to page where it says '504 gateway timeout nginx/1.14.0 (Ubuntu)
<img width="1615" alt="Screen Shot 2022-04-20 at 11 01 24 am" src="https://user-images.githubusercontent.com/104042774/164126105-95b8d35d-705b-49c9-9fe3-8ac1e28619a2.png">
'

[2022-04-20 05:30] magc5d opened #1102 "i deleted the folder that maked the eyes and replaced them with mine it generates 5 images of eyes"
i changed the grow size to 10000 and when i use npm run generate it generates only 5 images and the 5 five images are from those eyes that come as default but i deleted the folders that maked those and replaced with mines.
pleas HELPPP

const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

[2022-04-20 05:30] magc5d commented on #1102
Help please

[2022-04-20 09:23] bolshoytoster commented on #1101
@zabeast does [this](https://knowledge.pinata.cloud/en/articles/5537996-why-am-i-getting-a-504-error-when-trying-to-view-a-folder) help?

[2022-04-20 09:25] bolshoytoster commented on #1102
@magc5d I think you just need to save the `src/config.js` file.

[2022-04-20 09:51] FortunaHighAnimation commented on #451
Wondering this as well  , please help if u have the problem solved. thank u

[2022-04-20 10:10] romarika commented on #397
(C) Корпорация Майкрософт (Microsoft Corporation). Все права защищены.
npm WARN using --force Recommended protections disabled.
PS C:\hashlips_art_engine-main> yarn -g install

yarn install v1.22.18
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistencies caused by un

[2022-04-20 12:28] magc5d commented on #1102
Hello i saved i restarted my pc but it still give me that problem

[2022-04-20 18:19] xrayexx opened #1104 "code: 'ERR_DLOPEN_FAILED'"
Hi guys, hope you can help me. I was trying to deploy initially a few NFT using the original code - I have not change anything from the code but receiving below error after installing dependencies and running "node index.js". Below is the terminal logs

PS C:\Users\Cecille\Desktop\HASHLIPS\hashlips_art_engine-1.1.2_patch_v6> npm install

up to date, audited 66 packages in 2s

6 packages are lookin

[2022-04-20 18:38] bolshoytoster commented on #1104
@xrayexx I think you've installed the wrong achitechture of node (x86/x64) make sure you install the one that matches your system.

[2022-04-21 00:31] edward2slick commented on #1084
@bolshoytoster okay thank you for your help, do you have any recommendations for apps I can use similar to studio code? I've tried notepad but I don't really like it, thank you!

[2022-04-21 00:32] bolshoytoster commented on #1084
@edward2slick you could try notepad++

[2022-04-21 06:55] zabeast commented on #1101
Yeah it does. so just confirming its the browser that is causing this issue, not anything I've done in regards to coding and etc.

[2022-04-21 09:14] vipdiv opened #1105 "IPFS Resolve error in finding hidden.png in Pinata"
I am following along with the Youtube tutorial around 50:00 time mark and he's explaining how to create the metadate for the hidden file. I created that file and uploaded it to pinata. Both the metadate file and image file It shows up fine when I click on it,. His tutorial wanted us to add in hidden.json to the end. However I didn't need to do that, it just showed up as the following:

https://gat

[2022-04-21 09:23] bolshoytoster commented on #1101
@zabeast It's not the browser, any http status codes starting with 5 are server errors. But it's also not your fault.

[2022-04-21 09:27] bolshoytoster commented on #1105
@vipdiv you'll be more likely to find a solution if you opened an issue [where you actually got the code](https://github.com/codeSTACKr/create-10k-nft-collection).

[2022-04-21 09:40] vipdiv commented on #1105
I got the code from the Hashlips Masterclass on Youtube, https://youtube.com/clip/UgkxjmKUkhXZ2fXDxYctYFnLXh2EhuoUZxAX

[2022-04-21 09:59] bolshoytoster commented on #1105
@vipdiv oh sorry, I didn't know about that video.

[2022-04-21 10:14] 4ipinkoss opened #1106 "Error: Cannot find module '../build/Release/canvas.node'"
After npm install there was no major issues,
in process of running (npm run build) getting the following Error in command line:

Please advise on the following actions, and how to solve the problem, thanks.

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- /Users/igorliubinetchii/Desktop/hashlips/node_modules/canvas/lib/bindings.js
- /Users/igorliubinetchii/Desktop/hashlip

[2022-04-21 10:24] bolshoytoster commented on #1106
@4ipinkoss [this](https://stackoverflow.com/a/63175855) stackoverflow answer suggests running `npm uninstall canvas` then `npm i canvas`.

[2022-04-21 10:28] 4ipinkoss commented on #1106
That not really resolves and leads to:

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/Users/igorliubinetchii/WebstormProjects/hashlips_art_engine/node_modules/canvas'
Require stack:
- /Users/igorliubinetchii/WebstormProjects/hashlips_art_engine/src/main.js
- /Users/igorliubinetchii/WebstormProjects/hashlips_art_engine/index.js
    at Function.Module._resolveFil

[2022-04-21 10:31] bolshoytoster commented on #1106
@4ipinkoss what about just `npm i canvas`.

[2022-04-21 10:35] 4ipinkoss commented on #1106
The one from above is what I got after running both.

[2022-04-21 10:37] bolshoytoster commented on #1106
@4ipinkoss no, that error shows  that canvas isn't installed, you need to install it with `npm install canvas`.

[2022-04-21 10:59] 4ipinkoss commented on #1106
Same effect

[2022-04-21 11:01] 4ipinkoss commented on #1106
igorliubinetchii@MacBook-Pro-Igor hashlips % **npm install canvas**
npm ERR! code 1
npm ERR! path /Users/igorliubinetchii/Desktop/hashlips/node_modules/canvas
npm ERR! command failed
npm ERR! command sh -c node-pre-gyp install --fallback-to-build
npm ERR! Failed to execute '/usr/local/bin/node /usr/local/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js configure --fallback-to-build --mod

[2022-04-21 11:12] vipdiv commented on #1105
I could have sworn you were listed as a contributor to the hashlips_art_engine. In any event, would you know why one might get that IPFS error?

[2022-04-21 11:12] bolshoytoster commented on #1106
@4ipinkoss that's because canvas doesn't support M1 macs, you could look at [some other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-04-21 11:15] bolshoytoster commented on #1105
@vipdiv I am a contributor, but I have no clue about ipfs.

[2022-04-21 12:37] orphicart commented on #996
hi did you find the solution ? I came here for the same issue

[2022-04-21 14:16] samdupnamgyal opened #1107 "how to update json file?"
Hello i ran the generator for 9984 and half way during the process i forgot i had to change the metadata of name description. So is there a way to update it without generating the images and json files again. thank you would be very appreciated

[2022-04-21 14:17] bolshoytoster commented on #1107
@samdupnamgyal try running `node utils/update_info.js`.

[2022-04-21 14:19] samdupnamgyal commented on #1107
can i run it while the generator is still in process? i hit about 3000 rn?

[2022-04-21 14:20] bolshoytoster commented on #1107
@samdupnamgyal no.

[2022-04-21 15:40] samdupnamgyal opened #1108 "You need more layers or elements to grow your edition to 9984 artworks!"
i have 5 layers of
4x back ground colours
4x faces
4x series
1x border
156 numbers
4x4x4x1x156 = 9984
so why am i not able to grow it enough?

[2022-04-21 16:38] bolshoytoster commented on #1108
@samdupnamgyal it's because of how hashlips generated dna. You can disable this by removing the `failedCount++;` ~line 418 `sr/main.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L417-L419

[2022-04-21 17:29] sebdufourcq commented on #400
Run this command line in the project folder `npm update`

[2022-04-21 18:36] samdupnamgyal commented on #1108
thank you so much it worked just hit my target of 9984!

[2022-04-21 23:10] zabeast commented on #1101
alright, is this something I need to resolve in order for everything to work properly or can I move ahead without worrying about it?

[2022-04-22 07:45] vipdiv commented on #1105
Figured it out thanks to the Art Engine Discord. It's the folder. Both the Image and Metadata folders must be uploaded to Pinata as folders, not individual files. This was a huge monkey on my back and I can finally move on with the rest of the tutorial phew!

[2022-04-22 07:45] #1105 closed, assigned to nobody

[2022-04-22 08:53] vipdiv commented on #781
Same issue here. What is WSL? How does one switch from Visual Studio Code to WSL on windows?

[2022-04-22 09:03] Sasaofficial opened #1110 "npm run generate does not work"
hi, I have the problem that when I give the command npm run generate it does nothing.
I have already uninstalled and reinstalled node js and visual studio code several times, but the problem persists.
Now I'm trying with the original file without any changes, but it doesn't work.

PS C:\Users\Sasà\Desktop\hashlips_art_engine-1.1.2_patch_v6> node -v
v14.18.2

audited 65 packages in 0.641s

6 packag

[2022-04-22 09:15] bolshoytoster commented on #1101
@zabeast you don't need to worry about it.

[2022-04-22 09:21] bolshoytoster commented on #781
@vipdiv

could you paste the error please.

It's Windows Subsystem for Linux, it lets you simulate a linux environment under windows (despite a number of things not working).

By default, it's a terminal environment so I'd probably recommend it as a last resort for the average person.

[2022-04-22 09:43] bolshoytoster commented on #1110
@Sasaofficial could you paste your `src/config.js` file please, and make sure you've save it,

[2022-04-22 10:34] Sasaofficial commented on #1110
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-04-22 10:36] Sasaofficial commented on #1110
I have not touched anything

[2022-04-22 10:45] bolshoytoster commented on #1110
@Sasaofficial I have no clue then, you could try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-22 10:57] Sasaofficial commented on #1110
it does the same thing to me

[2022-04-22 11:06] bolshoytoster commented on #1110
@Sasaofficial does it create the `build/` folder? If so, could you paste the output of `Get-ChildItem -Recurse build`.

[2022-04-22 11:16] Sasaofficial commented on #1110
PS C:\Users\Sasà\Desktop\hashlips_art_engine-main> Get-ChildItem -Recurse build

    Directory: C:\Users\Sasà\Desktop\hashlips_art_engine-main\build

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        20/04/2022     14:33                images
d-----        20/04/2022     14:33                json

PS C:\Users\Sasà\Desktop\ha

[2022-04-22 11:18] Sasaofficial commented on #1110
this is using your fork, but nothing

[2022-04-22 14:43] bolshoytoster commented on #1110
@Sasaofficial what if you just run `node index.js`?

[2022-04-22 16:54] Sasaofficial commented on #1110
PS C:\Users\Sasà\Desktop\hashlips_art_engine-main> node index.js
internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: Cannot find module 'C:\Users\Sasà\Desktop\hashlips_art_engine-main/node_modules/canvas/build/Release/canvas.node'
Require stack:
- C:\Users\Sasà\Desktop\hashlips_art_engine-main\src\main.js
- C:\Users\Sasà\Desktop\hashlips_art_engine-main\index.js
    at Function.Module._res

[2022-04-22 16:57] bolshoytoster commented on #1110
@Sasaofficial could you try deleting the `node_modules/` folder and run `npm install` again.

[2022-04-22 17:01] Sasaofficial commented on #1110
i have delete node modules and run npm install, but nothing

PS C:\Users\Sasà\Desktop\hashlips_art_engine-main>

 Session contents restored from 22/4/2022 at 18:57:21

Copyright (C) Microsoft Corporation. Tutti i diritti riservati.

Prova la nuova PowerShell multipiattaforma https://aka.ms/pscore6

npm WARN hashlips_art_engine@1.1.1 No repository field.

added 66 packages from 35 contributors and

[2022-04-22 17:06] bolshoytoster commented on #1110
@Sasaofficial can you just run `node index.js` instead of `npm run generate`.

[2022-04-22 17:33] Sasaofficial commented on #1110
PS C:\Users\Sasà\Desktop\hashlips_art_engine-main> node index.js
internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: Cannot find module 'C:\Users\Sasà\Desktop\hashlips_art_engine-main/node_modules/canvas/build/Release/canvas.node'
Require stack:
- C:\Users\Sasà\Desktop\hashlips_art_engine-main\src\main.js
- C:\Users\Sasà\Desktop\hashlips_art_engine-main\index.js
    at Function.Module._res

[2022-04-22 22:32] Carlitos353 opened #1111 "Removing edition from metadata"

[2022-04-22 22:33] Carlitos353 commented on #1111
If i remove "edition: _edition " from main.js it gives me an error

[2022-04-22 22:36] TriLogic commented on #828
I put in a PR for my changes as well. Maybe they will bring my "custom" options over to their "options".

[2022-04-22 22:47] bolshoytoster commented on #1111
@Carlitos353 what is the error?

[2022-04-22 23:25] Carlitos353 commented on #1111
TypeError [ERR_INVALID_ARG_TYPE]: The "data" argument must be of type string or an instance of Buffer, TypedArray, or DataView. Received undefined
    at Object.writeFileSync (node:fs:2148:5)
    at saveMetaDataSingleFile (C:\Users\root\Desktop\hashlips_art_engine-main\src\main.js:313:6)
    at C:\Users\root\Desktop\hashlips_art_engine-main\src\main.js:402:11
    at processTicksAndRejections (node

[2022-04-22 23:55] Dorihths commented on #812
i am getting this error when running "npm run generate"

(node:30542) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1413
  handleErrorFromBinding(ctx);

[2022-04-22 23:58] ipv6freely commented on #812
Nothing to do with the M1. I’d suggest asking for help in the discord.

[2022-04-22 23:59] Dorihths commented on #812
ok Thanks

[2022-04-23 03:16] salbo5 opened #1112 "how do I create an if statement that make sure some layers are applied only when specific layer is chosen"
so I have a human body design, the hair has the drawing and has lines as well separated into 2 layers. I want to make sure hairstyle A is matched with hairstyle A_lines.png layer and blend apply to it.

i tried to mess around with getElments in main.js but im not really sure.

[2022-04-23 05:58] yasno-man opened #1113 "BaseUri Update"
Hello, when I got to updating all the baseUri data from json and enter the node utils/updateBaseUri command in the terminal.js then there is such a problem:

<img width="695" alt="2022-04-23_10 19 37" src="https://user-images.githubusercontent.com/102714479/164881511-2427c6b4-528c-42cd-8808-3bd857a58e17.png">

[2022-04-23 06:04] #1113 closed, assigned to nobody

[2022-04-23 06:29] Neohz02 commented on #400
thank you bro it works for me

[2022-04-23 09:54] bolshoytoster commented on #1111
@edenheijer you'd have to just remove `edition` from the resulting metadata:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L137-L139

https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L154-L156

[2022-04-23 09:58] bolshoytoster commented on #1112
@salbo5 is there any reason you can't have `A_lines.png` in the same image as the hair.

[2022-04-23 10:12] 1109piyush opened #1114 "npm install"
npm install
![Screenshot 2022-04-23 153005](https://user-images.githubusercontent.com/103021442/164890203-0f4d7b27-19fc-451f-894f-7337f4146f56.png)

[2022-04-23 10:15] bolshoytoster commented on #1114
@1109piyush you're in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-04-23 10:41] 1109piyush commented on #1114
Ok how can i create gif from this

[2022-04-23 10:44] bolshoytoster commented on #1114
@1109piyush https://github.com/HashLips/hashlips_art_engine/issues/1008#issuecomment-1086636163

[2022-04-23 10:49] 1109piyush commented on #1114
I tried this the above screenshot is of that repositery

[2022-04-23 10:51] bolshoytoster commented on #1114
@1109piyush then RTFM or open an issue on that repotitory.

[2022-04-23 11:09] rainegoh commented on #812
Thanks for this man!

I just want to add on, for people like me who had latest nodejs installed, I run the following commands:
npm install -g n
n 14.17.3

Then reopen terminal to check that the version indeed downgraded (node -v)

I had issue with the canvas code too, so I uninstalled and uninstalled.
npm uninstall canvas
npm i canvas

The rest just follow what this guy mentioned and it works perf

[2022-04-23 11:44] Draqee4 commented on #1114
am also getting same issue

[2022-04-23 11:54] bolshoytoster commented on #1114
@Draqee4 what issue?

[2022-04-23 13:04] ipv6freely commented on #812
Downgrading is actually not the correct way to do it. This post is out of date.

[2022-04-23 14:36] #804 closed

[2022-04-23 15:01] ipv6freely opened #1115 "UPDATED: Fix for Apple M1 Chips"
This updates #812 which is no longer the recommended method. Downgrading software is never a good idea, especially to a version so old as v14. There may be bugs, or potentially very unsafe code and security vulnerabilities.

The correct method is as follows:

1. Download and install Node.js "Current" version, as opposed to the "LTS" (Long Term Support) version. This is now v18.0.0 as of the time o

[2022-04-23 15:03] ipv6freely commented on #812
The UPDATED method for ensuring your Node.js is the correct version for Apple M1 chips can be found here: #1115

@HashLips @deemount please go ahead and close this issue so people aren't confused.

[2022-04-23 15:42] Draqee4 commented on #1114
whenever I tried to run the command npm install I can't install it properly 

[2022-04-23 15:43] bolshoytoster commented on #1114
@Draqee4 can you paste the error here please.

[2022-04-23 15:43] Draqee4 commented on #1114
npm WARN hashlips_art_engine-1.1.2_patch_v6 No repository field.
npm WARN hashlips_art_engine-1.1.2_patch_v6 No README data
npm WARN hashlips_art_engine-1.1.2_patch_v6 No license field.

up to date in 0.686s
found 0 vulnerabilities
PS C:\Users\draqe\Desktop\hashlips_art_engine-1.1.2_patch_v6>

[2022-04-23 15:44] Draqee4 commented on #1114
after typing node index.js
getting this error
PS C:\Users\draqe\Desktop\hashlips_art_engine-1.1.2_patch_v6> node index.js
internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: Cannot find module 'C:\Users\draqe\Desktop\hashlips_art_engine-1.1.2_patch_v6\index.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:902:15)
    at Function.Module._load (internal/modules/cjs

[2022-04-23 15:44] bolshoytoster commented on #1114
@Draqee4 those are warnings and can be ignored.

[2022-04-23 15:45] Draqee4 commented on #1114
alright but an other thing eating my brain can you pls chk out

[2022-04-23 15:47] bolshoytoster commented on #1114
@Draqee4

You're in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-04-23 15:49] Draqee4 commented on #1114
alright i will try it thanks

[2022-04-23 15:51] Draqee4 commented on #1114
d-----          3/3/2022   4:47 PM                hashlips_art_engine-1.1.2_patch_v6 its showing this

[2022-04-23 15:53] bolshoytoster commented on #1114
@Draqee4 then run `cd hashlips_art_engine-1.1.2_patch_v6`.

[2022-04-23 15:54] Draqee4 commented on #1114
done

[2022-04-23 15:55] bolshoytoster commented on #1114
@Draqee4 you can run `npm install` and `node index.js` now.

[2022-04-23 15:55] Draqee4 commented on #1114
ok
let me try again

[2022-04-23 15:57] Draqee4 commented on #1114
love u bro you save me it takes me 8 to12 hours thanks.................

[2022-04-23 16:38] salbo5 commented on #1112
i need to blend A_lines to the entire image. I can blend it with A_filling but it doesnt look as good.

I would like to some how create an exception in the code when Layer A is chosen also pick layerA_lines.

[2022-04-23 19:20] drn999 commented on #812
Hi All - great thread and it's gotten me to where the art engine will run but fail after about 2/3 of any generate build. I happens with all of the builds over 500 but I've gotten complete builds around 300.  I'm not a real coder so I apologize if this an easy fix.

This last build got to around 6786 of 9999 and gave me this error.
__________________________________________________________________

[2022-04-23 19:33] bolshoytoster commented on #812
@drn999 the first error says `error while reading from input stream` which is probably not to do with arm.

If you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) you can see what file/directory caused that error.

[2022-04-23 20:28] lewixlabs commented on #1115
"Urca!!" said in Italian :)
thanks @ipv6freely , works (and I think it's the best workaround for M1 architecture, instead of downgrading everything).
I would suggest to @HashLips to add this note on project readme, for M1 developers.

[2022-04-23 20:56] peazley commented on #1096
@bolshoytoster sorry for my slow response. That still doesn't seem to make it work, I'm getting multiples of the same image it seems. Might be a bit over my head. Maybe just try to manually create them instead.

[2022-04-23 23:57] drn999 commented on #812
Hey - thanks for the reply. I'm not a savvy coder. What are the steps to fix this? I don't know what to change within the HashLips folder. Let me know if you can share the steps. -D

[2022-04-24 00:13] bolshoytoster commented on #812
@drn999 just download the code from my repo, copy your `src/config.js` and `layers/` over, `npm install` again then run it like you do the main repo.

[2022-04-24 03:42] dev-michael-m commented on #750
@kbb0000 OMG I have spent so many hours trying to figure this out. Thank you!

[2022-04-24 07:41] 1109piyush commented on #1114
![Screenshot 2022-04-24 124159](https://user-images.githubusercontent.com/103021442/164965774-db7d7611-b637-45a6-8f34-1c0cecf36e59.png)

[2022-04-24 08:47] afaquekhan17 opened #1116 "Configure equal rarity"
![Screenshot (12)](https://user-images.githubusercontent.com/91663130/164968258-ce416470-5a09-41d6-9704-30180e30adc4.png)

Hey, I want to assign equal rarity % to my each trait. But I don't have any coding language, please help.

[2022-04-24 08:49] afaquekhan17 commented on #1116
@bolshoytoster Any help would be appreciated.

[2022-04-24 09:48] bolshoytoster commented on #1114
@1109piyush run `node utils/update_info.js` instead.

[2022-04-24 09:50] bolshoytoster commented on #1116
@afaquekhan17 they have the same rarity, you'll see it more clearly if you generate a bigger collection.

[2022-04-24 09:58] afaquekhan17 commented on #1116
No, I have generated even 1000 with this and it takes only some traits and skip the others

[2022-04-24 09:59] afaquekhan17 commented on #1116
I have 14 background images, all I want is that it takes every image in equal %

[2022-04-24 10:22] #1116 closed, assigned to nobody

[2022-04-24 10:30] #965 closed, assigned to nobody

[2022-04-24 10:36] samubiga3 commented on #1115
Hello :) You can fix this issue installing Rosetta terminal to your Visual Studio Code.
1) Open Visual studio code and press cmd+shift+p
2) Search and open this file terminal.integrated.profiles.osx
3)Add this propriety:    `"terminal.integrated.profiles.osx": {
 ....,
  "rosetta": {
    "path": "arch",
    "args": ["-x86_64", "zsh", "-l"],
    "overrideName": true
  }
}`

[2022-04-24 12:26] kingchenc opened #1117 "How to set correct Rarity % Chance?"
Hey, how to set Rarity % Chance correct in the haslips generator?

Lets say i have this layers and i want the % rarity

Legendary: 5%
Epic: 10%
Rare: 25%
Common: 60%

how to do this? maybe you know @bolshoytoster ?

[2022-04-24 12:28] bolshoytoster commented on #1117
@kingchenc you could set the weights (the bit after the `#` in the filename) to the rarity percentage you want, i.e. 5, 10, 25, 60

[2022-04-24 14:02] ChemicalEmotions commented on #1114
i cannot get past the initial npm install  and cannot get my nfts to show up in preview at all. i keep receiving errors whether i try yarn, node, or truffle. i need help

[2022-04-24 14:03] ChemicalEmotions commented on #1114
i'm not sure if i'm using wrong node because all the videos i watch tell me to type commands and none of them work

[2022-04-24 14:03] ipv6freely commented on #1115
But you wouldn’t want to do that, so not really a fix.

[2022-04-24 14:24] bolshoytoster commented on #1114
@ChemicalEmotions can you **please** paste the error here.

[2022-04-24 14:27] bolshoytoster commented on #1115
@ipv6freely I think it's a bit rich to just say your solution is the best, I think this is a perfectly reasonable fix and doesn't require installing homebrew, which takes space and might not work for some people.

[2022-04-24 14:32] ipv6freely commented on #1115
It’s a workaround, but not a fix. Intentionally bypassing your architecture isn’t a great way to do things.

[2022-04-24 14:42] kingchenc commented on #1117
@bolshoytoster do you have an small example for this? :X

[2022-04-24 14:48] bolshoytoster commented on #1117
@kingchenc something like this?
[code]

[2022-04-24 14:52] #1096 closed, assigned to nobody

[2022-04-24 14:58] kingchenc commented on #1117
@bolshoytoster
Hmm got it, but how can i add this to the layer config? im newbie 🍡 and thanks for help

[code]

or must i need to add this to another section?

[2022-04-24 15:02] bolshoytoster commented on #1117
@kingchenc you don't beed to do anything to `src/config.js` for this.

[2022-04-24 15:13] kingchenc commented on #1117
@bolshoytoster
Ah now i think i understand now :D I must renam the layers with the correct % Chance right? :D

[2022-04-24 15:13] bolshoytoster commented on #1117
@kingchenc yes.

[2022-04-24 15:24] kingchenc commented on #1117
@bolshoytoster Nice thank you :)

[2022-04-24 15:24] #1117 closed, assigned to nobody

[2022-04-24 15:25] samubiga3 commented on #1115
I think installing additional software like HomeBrew is not something that many people want either

[2022-04-24 17:10] ipv6freely commented on #1115
You likely won’t need to do that for long. Will depend on how quickly those packages are updated. Either way Rosetta is not a better alternative.

[2022-04-24 17:20] samubiga3 commented on #1115
Can I ask you why Rosetta can't be a better alternative?

[2022-04-24 17:30] ipv6freely commented on #1115
Sure. It’s much better to build for the actual architecture then to translate an instruction set from x86 to arm64. Especially since a newer version of nodejs supports it natively. Rosetta is a workaround (literally - that’s what it exists for) for applications that have not yet migrated to native arm64.

Like I said, using Rosetta is a fine workaround but it’s definitely less than ideal and not s

[2022-04-24 18:10] deemount commented on #1115
Thanks for correction. I was too busy 👍🏻

[2022-04-25 04:17] #1101 closed, assigned to nobody

[2022-04-25 07:46] edenheijer commented on #1111
was i mentioned by accident?

[2022-04-25 09:02] bolshoytoster commented on #1111
@edenheijer yes, sorry. It was meant for @Carlitos353

[2022-04-25 09:12] Zico-key opened #1118 "npm install error"
node-pre-gyp ERR! install response status 404 Not Found on https://github.com/Automattic/node-canvas/releases/download/v2.9.1/canvas-v2.9.1-node-v83-win32-unknown-ia32.tar.gz
node-pre-gyp WARN Pre-built binaries not installable for canvas@2.9.1 and node@14.18.2 (node-v83
ABI, unknown) (falling back to source compile with node-gyp)
node-pre-gyp WARN Hit error response status 404 Not Found on https:

[2022-04-25 09:14] Zico-key commented on #1118
Is it something wrong with my python env? How can I solve it bro?

[2022-04-25 09:18] Zico-key commented on #1118
please help

[2022-04-25 11:18] luckyadirake commented on #1112
I am also facing this issue, where I have clothes design for human, and i have shadow layer for different clothes, and the shadow needs blending mode applied to it..

For example

I have a model

Base ( with different skin colors)

Eyes
-  Eye A
----Eye A
----Eye A Shadow * blending mode to be applied here *

-  Eye B
----Eye B
----Eye B Shadow * blending mode to be applied here *

Clothes
- Cloth

[2022-04-25 11:23] salbo5 commented on #1112
@luckyadirake i ended up using folder nesting in chefnft fork. It solved my issue but its not a perfect code. I had to modify the metadata manually afterwards for some bugs.

[2022-04-25 11:25] luckyadirake commented on #1112
@salbo5  Can you show me folder structure and json on how to apply blending to specific layer? When i tried blending  forexample eye shadow, its blending with eyes rather than skin color which is base layer

[2022-04-25 12:59] eloopy opened #1119 "Image compression"
Hi everyone
Is there a way to apply compression to the layers?

[2022-04-25 13:16] 0xAltar commented on #1057
what about 0.5% or something?

[2022-04-25 13:36] salbo5 commented on #1112
@luckyadirake basically you need put shadow and object layers in same subfolder. ex,

- EYE Layer folder
---Eye A subfolder:
-----Eye A layer
-----Eye A Shadow * blending mode to be applied here *

then in config you need to add sublayerOptions: { "shadow layer name here": { blend: "multiply" }} to apply blending

make sure in subfolder the name of each file in alphabetical order,, shadow layer fi

[2022-04-25 14:17] luckyadirake commented on #1112
@salbo5

Really thanks man it seems to be working, i thought it did not support layer name at first

Do u know if the shadow can be included or excluded from metadata?

[2022-04-25 14:26] salbo5 commented on #1112
@luckyadirake if you do this, nested folders then it will use folder name as trait value not layer name. so shadow will not show up in metadata

[2022-04-25 14:31] luckyadirake commented on #1112
@salbo5  Awesome thanks :)

[2022-04-25 15:01] ipv6freely commented on #1115
I just did a test with a clean build of macOS 12.3.1. 18.0.0 definitely still fixes the issues, however because `node-canvas` "prebuilds aren't available for ARM CPUs", you have to either go with Homebrew or you can certainly build from source easily enough if you don't want the Homebrew overhead. I use Homebrew for a lot of other things so it wasn't really an issue for me.

Here's information abo

[2022-04-25 16:07] bolshoytoster commented on #1118
@Zico-key if you have python installed you can either run the installer again and make sure to add it to PATH, or do as the error suggests and run `npm config set python "C:\Path\To\python.exe"`.

[2022-04-25 16:09] bolshoytoster commented on #1119
@eloopy do you mean lowering the resolution or making a layer smaller?

[2022-04-25 16:10] bolshoytoster commented on #1057
@aratarusu that should work.

[2022-04-26 00:35] ghost opened #1120 "find skipped file ?"
Hello
 It skipped a file while generating...(For ex. 333-335 .) How can I find the skipped number (json)?

[2022-04-26 01:00] Z1PPZ0PP opened #1121 "split single image layer into multiple pieces of metadata?"
Is there a way to have a single image layer split into multiple different pieces of metadata?  possibly based on the layer's naming convention?

I'm doing 3d work and my character's facial expression is combined with specific skin texture and color.  Imagine if i were making a collection of reptile species, i might have a 'smiling green crocodile' and an 'angry blue alligator' .  I would need that

[2022-04-26 01:29] #1120 closed, assigned to nobody

[2022-04-26 12:44] eloopy commented on #1119
Yes. I've found a compression option on the canvas.toBuffer() command  inside saveimage() function.
But I was wondering if it's possible to apply this to every layer and also antialising?
Any help will be appriciated

[2022-04-26 14:49] bolshoytoster commented on #1119
@eloopy

that will be applied to the final image, so it will affect every layer.

If you want to apply it to each layer individually it's probably easiest to just compress your source images.

[2022-04-26 20:17] drn999 commented on #1115
Hey @deemount - Thanks for the help getting my M1 chip up and running! Got a new issue. I have been getting this error in the HashLips engine. There is no pattern I can see in why it stops, layer issues or anything like that. I'm not a savvy coder and can't decode this. Can you help?

Thanks,

-D

Created edition: 601, with DNA: 413ac113a9a1a7e9b12393517bccafbe66420084
(node:11497) UnhandledPromis

[2022-04-26 20:28] bolshoytoster commented on #1115
@deemount you've probably misspelled `BGGRAPHICS` in your `layersOrder`. If you can't fix it yourself could you paste your `layersConfigurations` and the output of `Get-ChildItem layers`.

[2022-04-26 21:33] ipv6freely commented on #1115
I think you meant me?

This isn't an M1 issue so it's not really meant for this thread. Please either ask in Discord, or open a new Issue ticket.

[2022-04-27 05:39] williamdex60 commented on #1114
Hi! I pasted that but it didn't work either, what other solution do you have?

[2022-04-27 06:55] bolshoytoster commented on #1114
@williamdex60 does it give an error? If so can you please paste it here.

[2022-04-27 07:20] williamdex60 commented on #1114
The same error of the picture, when I run, npm run generate

[2022-04-27 07:20] #1114 closed, assigned to nobody

[2022-04-27 07:26] bolshoytoster commented on #1114
@williamdex60 there are several pictures here, can you please paste the error here.

[2022-04-27 07:33] williamdex60 commented on #1114
Error: The module '/home/runner/zghsx9ruruf/node_modules/scrypt/build/Release/scrypt.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 51. This version of Node.js requires
NODE_MODULE_VERSION 57. Please try re-compiling or re-installing
the module (for instance, using `npm rebuild` or `npm install`).

[2022-04-27 08:21] rojcyk opened #1122 "Need a bit of clarity on how the rarity influences the build image"
There is not much about it in the documentation itself but I need to achieve the following.

- I have a layer which I need to be present all the time. (A jacket in our instance)
- I need this layer to be picked from various variants (Coat, riders jacket, armor etc)
- I got the assumption from reading some of the issues that I need to make sure the sum of all the rarities needs to equal to 100. Lik

[2022-04-27 12:17] bolshoytoster commented on #1114
@williamdex60 run `npm rebuild`

[2022-04-27 12:24] bolshoytoster commented on #1122
@rojcyk could you paste your `layersConfigurations` here please.

[2022-04-27 15:48] 0xFannie commented on #1110
I met the same error with Sasao...

Error: Cannot find module 'C:\Users\Sasà\Desktop\hashlips_art_engine-main/node_modules/canvas/build/Release/canvas.node'
Require stack:

[2022-04-27 15:59] kingchenc opened #1123 "Dont mix specific layer traits with other layer traits"
Hi,

is there a way, how i can configure that some layer traits not get mixxed with other layer traits?

Short Example:

I dont want Blue Eyes mixxed with Black Glasses, but i want mix the other two colours with Black.

Is that possible in the config?

@bolshoytoster you know that?

[2022-04-27 16:02] bolshoytoster commented on #1123
@kingchenc you could do it if you had multiple `layersCnfigurations`, but it would be comlicated.

You could have a `layersConfiguration` with just blue eyes and another with the other eye ecolours  in.

[2022-04-27 16:31] kingchenc commented on #1123
@bolshoytoster any example for this sir? Thanks

[2022-04-27 16:34] bolshoytoster commented on #1123
@kingchenc
[code]

[2022-04-27 17:07] xdrushxd opened #1124 "rarity script HELP"
so my collection is gonna be 100 pictures with multiple layers.

The question is how do i tell in a script that he could only use a certain background 4 times and other ones 10 times and the last background 86 times.

something like that...

[2022-04-27 17:30] bolshoytoster commented on #1124
@xdrushxd have I think [nftchef's fork](https://github.com/nftchef/art-engine) has this

[2022-04-27 18:31] kingchenc commented on #1123
Love Ya, nice :)

[2022-04-27 18:31] #1123 closed, assigned to nobody

[2022-04-27 18:59] endaye commented on #1106
I had the same error on my M1. I tried this below and fixed it. The installation would take a long long time...
`brew install pkg-config cairo pango libpng jpeg giflib librsvg`

[2022-04-27 19:50] qamtrading commented on #852
No funciona !!!

[2022-04-27 19:53] JayGalvan90 commented on #852
Have you found a solution yet ??

[2022-04-27 19:57] qamtrading commented on #406
So... What is the solution ?

[2022-04-27 19:57] bolshoytoster commented on #852
@qamtrading could you elaborate please

@JayGalvan90 a solution to what?

[2022-04-27 20:01] bolshoytoster commented on #406
@qamtrading there isn't a solution because it isn't a problem.

[2022-04-27 20:01] JayGalvan90 commented on #1122
Hey your hash tag on the .png pics are high, if I'm correct the " weight " for rarity should be around #2 in your pic a lot of the png have a weight #10 or #16. So try maybe lowering it to 2 or 3 maybe. I hope that helps, I'm tinkering with my project and did same thing to different food items.

[2022-04-27 20:02] qamtrading commented on #406
What do you recommend me for my collection ?

[2022-04-27 20:03] JayGalvan90 commented on #852
Sorry my bad I tagged wrong person lol

[2022-04-27 20:04] bolshoytoster commented on #1122
@JayGalvan90 that doesn't matter.

[2022-04-27 20:05] bolshoytoster commented on #406
@qamtrading if you're talking about `DNA exists!`, you can ignore it.

[2022-04-27 20:08] qamtrading commented on #406
How do you do that ?

[2022-04-27 20:08] qamtrading commented on #406
![image](https://user-images.githubusercontent.com/79540666/165622425-90d84545-2ffa-4630-b751-2997719f0fc8.png)

[2022-04-27 20:09] bolshoytoster commented on #406
@qamtrading that should stop `You need more layers or elements to grow your edition to ... artworks!`

[2022-04-27 20:14] JayGalvan90 commented on #1122
Really ? Because it works for me, my bad though I hope you find your answer. 🤙🏼

[2022-04-27 20:16] Sirgamble1 commented on #1078
@G00D-0MEN Did you get a solution to this, I have the same issue?

[2022-04-27 20:59] williamdex60 opened #1125 "Npm run upload_files does not work"
Guys, could you help me to fix this error? when I try to upload the files and the metadata I get this message.

Starting upload of images...
CATCH ERROR: ERROR STATUS: 403
Retrying

[2022-04-27 21:02] bolshoytoster commented on #1125
@williamdex60 could you open an issue where you got the code from please (probably [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection))

[2022-04-27 21:04] qamtrading commented on #406
OK, I`m trying. Thanks.

[2022-04-27 23:04] qamtrading commented on #852
Ok, I´m working in this problem, When I have one solution, I gonna posted here.

[2022-04-28 01:09] ronauSeattle commented on #1112
I have a similar question, but mine can't be grouped. For example, I have body and tails in different postures. Now if it's an alien green skin, then I need a green tail too. But there are other layers in between them, like the wings. I don't want the tail to cover the wings. Next, I also have a layer where there are wing accessories--so if bat wings are true, I can't have insect wing accessories

[2022-04-28 01:20] buhduhzah commented on #1025
`npm run rarity > rarity.log 2>&1` has worked for me. it creates a txt file

[2022-04-28 01:39] armondcodes opened #1126 "Does anyone know how to add unique 1/1s to a collection"
Hello, so I want to generate a collection of 1000, and I have 5 unique 1/1 gifs that I want to add into it but im not sure how to do that. Because the metadata and everything is automatically generated, and the other ones in the collection arent gifs. Lmk thanks!

[2022-04-28 07:10] bolshoytoster commented on #852
@qamtrading a solution to what?

[2022-04-28 07:13] bolshoytoster commented on #1126
@ArmondNFT does [this](https://github.com/HashLips/hashlips_art_engine/issues/1008#issuecomment-1086636163) help?

[2022-04-28 12:24] BedoSensei commented on #1112
This problem is solved by a team that has evolved the Hashlips script: https://github.com/nftchef/art-engine

You can force some combinations or define incompatible layers.

[2022-04-28 12:27] ronauSeattle opened #1127 "Conditional layers"
Hello, I have some layers that I want to include only if certain other layers are selected.

For example, if a creature's head is a fish, the tail has to be a fish tail and not a lizard tail. Also, there are 4 different colors of fish heads, fish tails, lizard heads, lizard tail. And if the creature has wings, it can have wing accessories; if it has tails, it can have tail accessories. This is jus

[2022-04-28 15:32] armondcodes commented on #1126
No it does not, so say I generated a collection of 1000, is their a way I can just go back into the metadata and change the image and the attributes that way?

[2022-04-28 15:56] bolshoytoster commented on #1126
@ArmondNFT no, you'll have to do it manually.

[2022-04-28 17:40] fransyozef opened #1128 "Possible bug Solana not updating baseUri"
I see in the code, there is no update for the baseUri at Solana network

https://github.com/HashLips/hashlips_art_engine/blob/main/utils/update_info.js

[code]

Is this correct?

[2022-04-28 17:43] bolshoytoster commented on #1128
@fransyozef I'm not familiar with solana, but I assume it's intentional since solana metadata doesn't create with a uri:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L144-L169

[2022-04-28 17:57] fransyozef commented on #1128
@bolshoytoster hmm true .. I thought Solana also uses `baseUri` . But, where does Solana get the image from then? Like which domain ?

`image` only contains the edition.

[2022-04-28 17:59] bolshoytoster commented on #1128
@fransyozef again, I've never touched solana, but I imagine the uri would be the same for any solana collection.

[2022-04-28 19:26] diegogerig opened #1129 "Error: ENOENT: no such file or directory, scandir"
Could someone help me, I don't understand why it can't find the Eyes folder, when I remove it from the layers folder and run the command npm run generate everything works, but if I put the Eyes folder in layers it doesn't work anymore and gives that error

diegogerigherrera@MBP-de-Diego hashlips_art_engine % npm run generate

(node:20305) [DEP0147] DeprecationWarning: In future versions of Node.js

[2022-04-28 19:35] #1129 closed, assigned to nobody

[2022-04-28 19:36] diegogerig commented on #1129
I managed to solve it, it was a typography error

[2022-04-28 20:37] vvwvvvvvwvvvvvvw opened #1130 "npm install not working"

[2022-04-28 20:38] waxanator commented on #1130
im using macbook pro m1

[2022-04-28 20:39] bolshoytoster commented on #1130
@waxanator this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-04-28 20:59] waxanator commented on #1130
brat ya smotrel, nichego ne nashel

[2022-04-28 22:27] dvogureckiy99 commented on #424
how I need use `npm install` and `npm run build` ?

[2022-04-28 22:44] #1130 closed, assigned to nobody

[2022-04-29 02:14] BurdBurdGod commented on #500
What if I am doing an ethereum collection? Will having that part affect my colllection?

[2022-04-29 07:18] bolshoytoster commented on #424
@dvogureckiy99 you run them in a terminal, although they won't fix this error. You need to either upgrade your node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-29 07:20] bolshoytoster commented on #500
@BurdBurdGod no.

[2022-04-29 07:34] dmt999 commented on #1097
I have the same issue. Can we select a specific layer from a folder to generate an NFT or is it always random? If someone can help, it would be really appreciated.

[2022-04-29 07:41] dmt999 opened #1131 "Is there a way to generate the same collection again with the exact order of the first one?"
I am doing a project where the client needs a second collection exactly as same as the first one with that exact order but to add one extra asset on top of each NFT. All the other traits should be similar to the first collection. Is there a way to do it? Your help is highly appreciated

[2022-04-29 12:29] twofacednine380 opened #1132 "npm install error"
npm ERR! code 1
npm ERR! path /Users/user/Documents/GitHub/hashlips_art_engine/node_modules/canvas
npm ERR! command failed
npm ERR! command sh -c node-pre-gyp install --fallback-to-build
npm ERR! Failed to execute '/opt/homebrew/Cellar/node/17.8.0/bin/node /opt/homebrew/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js configure --fallback-to-build --module=/Users/user/Documents/GitHub/ha

[2022-04-29 12:33] #1132 closed, assigned to nobody

[2022-04-29 19:10] ZahraShiraz commented on #1078
Hi, I am facing the same issue. Can someone help, please?
![image](https://user-images.githubusercontent.com/45315816/166014028-fcaa1e2d-a336-4412-b602-f93766f427a1.png)

[2022-04-29 19:15] bolshoytoster commented on #1078
@ZahraShiraz can you please for the love of god open an issue of [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection).

[2022-04-29 19:28] ZahraShiraz commented on #1078
Hi, I have submitted a new issue on codeSTACKr's repo

[2022-04-30 23:08] edward2slick opened #1134 "MODULE NOT FOUND code in vs code when i try to run node index.js"
ive done evrything and when I tried to start generating, this code pops up

Error: Cannot find module 'C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main/src/config.js'
Require stack:
- C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\src\main.js
- C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\index.js

[2022-04-30 23:11] bolshoytoster commented on #1134
@edward2slick have you moved the `config.js` file? Could you paste the output of the commands `Get-ChildItem` and `Get-ChildItem src` here please.

[2022-04-30 23:27] edward2slick commented on #1134
@bolshoytoster okay here is the first one

    Directory: C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----         3/30/2022  12:36 PM                .github
d-----         4/13/2022   2:48 PM                build
d-----         3/30/2022  12:36 PM

[2022-04-30 23:29] bolshoytoster commented on #1134
@edward2slick you've renamed `src/config.js` to `src/config.jss`, change the name back.

[2022-04-30 23:33] edward2slick commented on #1134
@bolshoytoster okay, is that all i have to fix? Because now my config.js and index.js are the exact same thing which i pasted in my other reply

[2022-04-30 23:35] 100DollarDoodle opened #1135 "Start from NFT N# 281"
Your videos are excellent, I'm learning a lot... I want to ask you a question... I want to generate 9720 NFTs, but I don't want to start the numbering from the number 1 but I want to start the numbering from the number 281, how do I have to do it in the code ? I already put together 280 Nfts that I gave away, now I want to put together the rest to reach 10,000. Thanks for your answers....

[2022-04-30 23:36] bolshoytoster commented on #1134
@edward2slick if running `node index.js`/`npm run build`/`npm run build` (whatever you use for generating) gives no output then you'll have to copy [the file from the repo](https://github.com/HashLips/hashlips_art_engine/blob/main/index.js).

[2022-04-30 23:39] bolshoytoster commented on #1135
@100DollarDoodle if you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) you can set `startEditionFrom` the same way you set `growEditionSizeTo`.

[2022-04-30 23:40] edward2slick commented on #1134
@bolshoytoster ohh so i basically delete everything in the index.js file and copy and paste
const basePath = process.cwd();
const { startCreating, buildSetup } = require(`${basePath}/src/main.js`);

(() => {
  buildSetup();
  startCreating();
})();
instead??

[2022-04-30 23:40] bolshoytoster commented on #1134
@edward2slick yes.

[2022-04-30 23:40] edward2slick commented on #1134
@bolshoytoster okay ill try that now, thanks so much!

[2022-04-30 23:42] edward2slick commented on #1134
@bolshoytoster also, do you know what I can do if vs isnt saving the file? ive tried ctrl s and ive tried so save it manually from the file button but its not working. Ive also tried to turn on auto save but it still isnt working.

[2022-04-30 23:44] bolshoytoster commented on #1134
@edward2slick if you can't figure out vs try using an editor you can use.

[2022-05-01 07:25] TheInvadersClub opened #1136 "Have Deployed Erc1155 Contract - But The Metadata wont show on opensea despite uploading it to pinata"
Have Deployed Erc1155 Contract - But The Metadata wont show on opensea despite uploading it to pinata any ideads what i have done wrong? When i try to mint from the contract on polygon, then set the uri it says completed but nothing shows on opensea

[2022-05-01 07:44] Rayanboy973 commented on #636
I too have the same error

[2022-05-01 07:44] Rayanboy973 commented on #636
Help me 😭😭

[2022-05-01 07:44] Rayanboy973 commented on #636
Please

[2022-05-01 09:18] bolshoytoster commented on #636
@Rayanboy973 can you paste the error here please.

[2022-05-01 09:32] rojcyk commented on #1122
@bolshoytoster thank you for the direction 🙇‍♂️ I found an error in the layersConfiguration => not a problem with the engine, but my config mistake.

[2022-05-01 09:32] #1122 closed, assigned to nobody

[2022-05-01 15:22] sadun619 opened #1138 "add no to image like as jersey numbers"
can add 1 to 10000 no for each images without number png?

[2022-05-01 17:22] Vatroslaw opened #1139 "[SOLVED] update_info doesn't change baseUri in individual jsons"
Hey, guys!
I'm a non-coder, please use all the baby steps :)

I've generated the images and jsons, sent them off to be uploaded to ipfs then got the CID back to update jsons.
I've placed it into config.js, ran the update_info, but it doesn't change baseUri in individual jsons,
it only in inputs them to _metadata.

Plus, another problem arises there, as it replaces the file names (1.png, 2.png etc)

[2022-05-01 23:59] johnathan8608 opened #1140 "hi I need help"
I upload my metadata and images on pinata after that I did every thing and my collection went live on opensea unfortunately I saw that I made a mistake on one of my layers name can I change it now?

[2022-05-02 04:30] edward2slick commented on #1134
@bolshoytoster okay thanks, do you know how to fix this error?

SyntaxError: Unexpected identifier
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1032:15)
    at Module._compile (node:internal/modules/cjs/loader:1067:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1157:10)
    at Module.load (node:internal/modules/cjs/loa

[2022-05-02 09:30] bolshoytoster commented on #1134
@edward2slick well I don't think that's the full error, but it says there's a syntax error, presumably in `src/config.js`.

Could you paste the full error please.

[2022-05-02 15:23] DarkFlameTM commented on #1009
i have a this problem:
PS C:\Users\keklo> node .
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\keklo'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12)
    at nod

[2022-05-02 16:40] edward2slick commented on #1134
@bolshoytoster okay this is the whole thing,

PS C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main> node index.js
C:\Users\Maya A\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\src\config.js:104
  format,
  ^^^^^^

SyntaxError: Unexpected identifier
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1032:1

[2022-05-02 19:02] SHuchengx opened #1141 "Truffle ERRROR!!!!!!"
Hi Guys,
Very begging that someone can help me with the following
when i generated npm i -g truffle, it show me this Error Code:
caoshucheng@CaodeMacBook-Air nft-erc721-collection-2.0.0 % node -v
v14.18.2
caoshucheng@CaodeMacBook-Air nft-erc721-collection-2.0.0 % npm i -g truffle
npm WARN deprecated uuid@2.0.1: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certai

[2022-05-02 19:27] bolshoytoster commented on #1134
@edward2slick `src/config.js` line 103:
[code]
remove the `}`.

[2022-05-02 19:33] bolshoytoster commented on #1141
@SHuchengx run npm as superuser, i.e. `sudo npm i -g truffle` and type your password + `[enter]`.

[2022-05-02 22:36] Roskaiu opened #1143 "Problem when applying blend mode"
When I apply the merge mode it compiles correctly but two things happen.

1 it does not apply the layer blend
2 it does not respect the output %

        { name: "LaserEye", options: { blend: MODE.screen }

We will be very grateful

[2022-05-03 02:24] stackcraft55 opened #1144 "Ca I do less than 1%?"
I am making a set of 10,000 total. I want there to be a very rare items.
I wrote as nature#0.2. But it wasn't worked.
I didn't find the variations with that trait.
Help and advice would be greatly appreciated.

[2022-05-03 02:51] edward2slick commented on #1134
@bolshoytoster it still gives me the same error

[2022-05-03 07:12] bolshoytoster commented on #1144
@cryptoguy55a due to the way hashlips generates dna, the rarity won't be exact, e.g. you won't have exactly the amount you want.

What are the rarities for the other traits in that layer?

[2022-05-03 07:13] bolshoytoster commented on #1134
@edward2slick make sure you've saved the file and can you paste the error again please.

[2022-05-03 07:18] stackcraft55 commented on #1144
Thank you for reply.
For examaple. I have 40 clothes traits and rarities is among of 1 ~ 5 %.
Only few traits is less than one. 0.2 or 0,1, 0,5

[2022-05-03 07:24] bolshoytoster commented on #1144
@cryptoguy55a you could try either lowering the rarity of the common ones or increasing the rarity of the ones you want.

[2022-05-03 07:26] stackcraft55 commented on #1144
So  cannot I do less than 1%?

[2022-05-03 07:27] bolshoytoster commented on #1144
@cryptoguy55a you can, but decreasing the rarity obviously decreases how much you see of it.

[2022-05-03 07:29] stackcraft55 commented on #1144
I used convention like clothe#0.2, suit#0.3
But I didn't find any variations with those traits after generated entire variations

[2022-05-03 08:36] stackcraft55 commented on #1144
Hi. @bolshoytoster  Please help me to fix this issue.
Thank you

[2022-05-03 08:49] AdamTDewhirst opened #1145 "adding collection name and collection family to json files"
Hello, id like to add collection name and colleciton family attributes to my json file

how can i do this?

should look like this:

    },
    "collection": {
        "name": "collection name",
        "family": "collection family"
    }
}

do i alter the config file?

i had tried adding this code to the config.js:

const collectionName = "collection name"; //This is used if mutiple collection is

[2022-05-03 10:33] bolshoytoster commented on #1145
@AdamTDewhirst find in `src/config.js`
[code]
change it to
[code]

[2022-05-03 10:53] SHuchengx commented on #1141
Thank you so much!!!!

[2022-05-03 11:01] AdamTDewhirst commented on #1145
@bolshoytoster you apsolute legend!! that did the trick, thanks

[2022-05-03 11:35] sadun619 commented on #920
how can bypass selected one or two layer DNA uniqueness

[2022-05-03 11:35] sadun619 commented on #920
how can bypass selected one or two layer DNA uniqueness

[2022-05-03 14:55] bolshoytoster commented on #920
@sadun619 do you mean you don't want a layer included in the uniqueness check? If so, check out `bypassDNA`.

From `README.md`:

[2022-05-03 17:19] Nanerito commented on #245
to be more visual here are the image os the issue, please help us!
![WhatsApp Image 2022-05-03 at 13 09 08](https://user-images.githubusercontent.com/91572819/166505427-9c4d0fef-46d9-4d3e-9efb-d26ed3895c00.jpeg)

[2022-05-03 17:27] Nanerito opened #1146 "Annoying background ERR, when generate"
Someonde could help me?

![WhatsApp Image 2022-05-03 at 13 09 08](https://user-images.githubusercontent.com/91572819/166506552-92b0dc2e-2e02-4a0d-80a9-49ee55b12d04.jpeg)

[2022-05-03 19:36] Nanerito commented on #1146
people this part was solved by a follower, but i get stroke in another, ready for the solution?

You should use the node version v10.18.0
1: install the **NVM** to manage and swap between versions.
2: after instal open the **windowns PowerShell** as admin.
3: use the command [nvm install 10.18.0].
4: use the command [nvm use 10.18.0].
5: delete the node_modules.
6: now use the npm i or npm install

[2022-05-03 19:46] Nanerito opened #1147 "Failed at the hashlips_art_engine@1.1.1 generate script."
Hello my friends i get stroke in another error. argh hahaha lets find the solution togheter?
![WhatsApp Image 2022-05-03 at 16 43 09](https://user-images.githubusercontent.com/91572819/166554042-cbc4468e-472b-4102-b09c-bc43984762c0.jpeg)

[2022-05-03 20:43] bolshoytoster commented on #245
@Nanerito try moving the project folder to somewhere like `C:/Users/Public`.

[2022-05-03 21:37] SHuchengx opened #1149 "maxMintAmountPerTx!!!!!!"
Hi guys, i am a newbie， So, I had some doubts about this part when making the contract：
whitelistSale: {
    price: 0.05,
    maxMintAmountPerTx: 1,
  },
  preSale: {
    price: 0.07,
    maxMintAmountPerTx: 2,
  },
  publicSale: {
    price: 0.09,
    maxMintAmountPerTx: 5,

Can anyone help me explain “maxMintAmountPerTx.”

 Thank you very much

[2022-05-03 21:57] haruxe commented on #1149
It just means that when the user goes to mint the token, they can only mint a certain amount at a time. The contract will only allow the user to mint a certain amount in a single transaction.

[2022-05-03 22:02] arnoldy200 commented on #215
let sizeCount = layerConfigurations[layerConfigurations.length - 1].growEditionSizeTo;
  if (network == NETWORK.sol) {
    sizeCount = sizeCount - 1;
  }
  for (
    let i = network == NETWORK.sol ? 0 : 1;
     i <= sizeCount;
    i++
  ) {
    abstractedIndexes.push(i);
  }
  if (shuffleLayerConfigurations) {
    abstractedIndexes = shuffle(abstractedIndexes);

[2022-05-03 22:37] SHuchengx commented on #1149
thank you so much!!

[2022-05-03 23:23] ahmedsafadii commented on #1149
@SHuchengx can you share the part code for generate the smart contract, like putting deference price for each sales

[2022-05-03 23:36] SHuchengx commented on #1149
you can go this website:https://github.com/HashLips-lab
and download the nft-erc721-collection  2.3.0. Because  I am also following the video to learn, I haven't set my own price yet.
Hope it helps you.

[2022-05-03 23:45] ahmedsafadii commented on #1149
@SHuchengx can you please provide the youtube vide link

[2022-05-03 23:53] SHuchengx commented on #1149
https://youtu.be/Zhmj4PiJ-GA

[2022-05-04 00:07] ahmedsafadii commented on #1149
@SHuchengx thank you <3

[2022-05-04 00:24] Nanerito commented on #245
ill try

[2022-05-04 02:29] Nanerito commented on #1104
how to install that?

[2022-05-04 07:23] bolshoytoster commented on #1104
@Nanerito given [your comment](https://github.com/HashLips/hashlips_art_engine/issues/245#issuecomment-1116350769) from a few hours ago, I assume you don't get this error. If you do, could you please paste it here.

[2022-05-04 13:10] gersiaan opened #1150 "Mutiple NFTs combination in one colletion"
Hello, is there a possibility to have mutiple NFT combination in one collection? Because if I want to render it out not it returns "DNA exists" and the combination is only produced one time. But I want to create mutiple of the same NFT on purpose.

[2022-05-04 13:11] gersiaan opened #1151 "Mutiple NFT Art Pieces in one NFT collection"
I have several art pieces, which differs in the art itself and has different layers to them. Is it possible to create several different artworks and create them in one collection?

[2022-05-04 14:04] gersiaan commented on #1150
I tried to bypass the issue by creating one "secret" layer with the index number 1 to 10. How can I specify in the code, that all those numbers are being rendered?

[2022-05-04 14:34] Taraxia-UW commented on #1146
much easier to run this in Visual Studio, + its free. On line 127, main.js file, to get rid of background remove set :
onst background = {
  generate: false,        <------> set generate to false
  brightness: "80%",
  static: false,
  default: "#000000",
};

[2022-05-04 16:08] sadun619 opened #1152 "when generate shuffleLayerConfigurations = false; images not pic in numerical order"
i need to combine 4  layers in numerical order.

mena

image no 1
1st trait from 1st layer 1st image.
2nd trait from 2nd layer 1st image
3nd trait from 3nd layer 1st image
4nd trait from 4nd layer 1st image

Image no 2
1st trait from 1st layer 2st image.
2nd trait from 2nd layer 1st image
3nd trait from 3nd layer 1st image
4nd trait from 4nd layer 2st image

Image no 2
1st trait from 1st layer 3st

[2022-05-04 16:46] 1byari opened #1153 "Is there some way to generate random color background automatically?"
Perhaps I need to specify some settings in const background so that each image has a random background?
![image](https://user-images.githubusercontent.com/74068520/166731723-af2a7c4e-513d-4010-81ce-35e5641dfd95.png)

[2022-05-04 17:00] arnoldy200 opened #1154 "If shuffleLayerConfigurations = true and network = NETWORK.sol the generated image files start with 0, but still end at the same number"
If shuffleLayerConfigurations = true and network = NETWORK.sol the generated image files start with 0, but still end at the same number. We need to reduce it by 1.

https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L337

[2022-05-04 17:44] arnoldy200 commented on #1154
I am new on GITHUB , still trying to commit my changes

    i <= (layerConfigurations[layerConfigurations.length - 1].growEditionSizeTo - (network == NETWORK.eth ? 0 : 1));

This fixed the problem

[2022-05-04 17:54] arnoldy200 commented on #215
for (
    let i = network == NETWORK.sol ? 0 : 1;
    i <= (layerConfigurations[layerConfigurations.length - 1].growEditionSizeTo - (network == NETWORK.eth ? 0 : 1));
    i++
  ) {
    abstractedIndexes.push(i);
  }

[2022-05-04 18:32] arnoldy200 commented on #1154
#1155

[2022-05-04 20:51] paulsblackfriday opened #1157 "UpdateBaseUri.js not existing from Youtube tutorial"
Upload 10,000 NFTs to IPFS youtube tutorial explains at the 19:04 minute mark to run the CLi:

node utils/updateBaseU.js  but it gives an error that it does not exist.

Requesting an Update today or if possible soon. It wont work when im trying to use IPFS CID.

[2022-05-04 21:56] bolshoytoster commented on #1151
@gersiaan yes, you can have multiple configs in your `layerConfigurations`, e.g.
[code]

[2022-05-04 21:59] bolshoytoster commented on #1150
@gersiaan change `src/main.js` ~line 363:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L363

to
[code]

[2022-05-04 22:28] bolshoytoster commented on #1152
@sadun619 could it be that you have different sized layer configurations?

Hashlips is stupid for this, [my fork](https://github.com/bolshoytoster/hashlips_art_engine) fixes this.

[2022-05-04 22:30] bolshoytoster commented on #1153
@1byari set `static` to `false`.

[2022-05-04 22:33] bolshoytoster commented on #1157
@paulsblackfriday it's `utils/update_metadata.js` now.

[2022-05-04 22:42] paulsblackfriday commented on #1157
hmm i dont see a update_metadata.js file in the repo utils yet...(?)

[2022-05-04 22:50] paulsblackfriday commented on #1157
Hi Thank you I didn’t see that js update_metadata.js file in there that you’re mentioning

Sent from my iPhone

[2022-05-05 01:47] sadun619 commented on #1152
@bolshoytoster no same size. and i need combine just 2 layer. no need metadata.
have 2 layer cloth & number. i need merge cloth 1.png with no 1,png. have 2000 total traits (cloth 1000 + No 1000 )

i tried your fork. it's also not generate numerical order.

[2022-05-05 03:51] LifeOfPunk commented on #812
yes it works. thank you mate!

[2022-05-05 03:52] LifeOfPunk commented on #812
yes, it works! thanks mate~

[2022-05-05 06:51] bolshoytoster commented on #1152
@sadun619 you can't do that without modifications.

[2022-05-05 08:11] sadun619 commented on #1152
@bolshoytoster can you help me please

[2022-05-05 10:01] bolshoytoster commented on #1152
@sadun619 no, sorry. I tried this before and it ended terribly.

[2022-05-05 10:46] sadun619 commented on #1152
@bolshoytoster have any method for merge png in same number. it shouldn't be hashlips, no need metadata, just merge are enough.?

[2022-05-05 12:14] SHuchengx opened #1158 "yarn error!!!!!"
Hello Guys, today when i try to run yarn. it show me error:

caoshucheng@CaodeMacBook-Air nft-erc721-collection-2.3.0 % node -v
v14.18.2
caoshucheng@CaodeMacBook-Air nft-erc721-collection-2.3.0 % npm i -g corepack
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/corepack
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules
npm ERR! code EACCES

[2022-05-05 21:17] bolshoytoster commented on #1158
@SHuchengx run npm as superuser, i.e. `sudo npm i -g corepack` then enter your password + `[enter]`.

[2022-05-05 21:21] SHuchengx commented on #1158
thank u, i tried it, but it shows me:
caoshucheng@CaodeMacBook-Air nft-erc721-collection-2.3.0 % sudo npm i -g corepack
Password:
npm ERR! code EEXIST
npm ERR! path /usr/local/bin/corepack
npm ERR! Refusing to delete /usr/local/bin/corepack: ../lib/node_modules/corepack/dist/corepack.js symlink target is not controlled by npm /usr/local/lib/node_modules/corepack
npm ERR! File exists: /usr/local/bi

[2022-05-05 23:53] Abrar-talpur opened #1159 "'MODULE_NOT_FOUND'"
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\DeLL\OneDrive\Desktop\hashlips_art_engine> npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.

[2022-05-05 23:57] Abrar-talpur commented on #1159
I downloaded the folder and tried to generate the nfts which are already in the layers but still getting module not found error.

[2022-05-06 01:58] sherryhk opened #1160 "npm run update_info change metadata format SOL"
anyone know why SOL metadata format changes when using **npm run update_info** in _metadata_json

**original**

[
  {
    "name": "Your Collection #0",
    "symbol": "YC",
    "description": "Remember to replace this description",
    "seller_fee_basis_points": 1000,
    "image": "0.png",
    "external_url": "https://www.youtube.com/c/hashlipsnft",
    "edition": 0,
    "attributes": [
      {

[2022-05-06 03:05] CobraKaiX commented on #812
/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6

(node:15269) UnhandledPromiseRejectionWarning: TypeError: Cannot read
property 'edition' of undefined
    at
/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:313:65
    at Array.find (<anonymous>)
    at saveMetaDataSingleFile
(/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:313:31)

[2022-05-06 03:44] arnoldy200 opened #1161 "Creator added twice in file JSON file"
[code]
In main.js , creators is only defined once in the **tempMetadata**
However, it is populated twice in the final JSON file. I cannot find any code did it.
![Sample JSON](https://user-images.githubusercontent.com/75040229/167063454-f4d99672-534d-44b3-ba5d-cd86f0ebf49c.jpg)

[2022-05-06 06:14] therza opened #1162 "Single Image NFT Collection, trying to set metadata"
So I created an NFT collection using the Unlock Protocol. My NFT collection has a total of 3500 NFTs, but I can't set the metadata using the unlock protocol dashboard. I'm able to set the image (gif) of my collection using their dashboard, as my entire NFT collection uses the same single gif image. However, I'm having issues using hashlips to set the metadata as the unlock protocol automatically n

[2022-05-06 14:16] ismaelTHEcyclop commented on #124
God bless you! Thanks man!!

[2022-05-06 16:20] 7gbice opened #1163 "Hashlips"

[2022-05-06 20:29] CobraKaiX commented on #812
/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6

(node:15269) UnhandledPromiseRejectionWarning: TypeError: Cannot read
property 'edition' of undefined
    at
/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:313:65
    at Array.find (<anonymous>)
    at saveMetaDataSingleFile
(/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:313:31)

[2022-05-06 20:32] AdamTDewhirst opened #1164 "working out rarity"
more of a general question for the group

when working out rarity, my policy is assign each one a percentage out of 100 - having them all add up exactly to 100 percent. they wont all be equal, but it seems logical to me

is this what other people do ? or do you just assign a percentage base on how frequently it could appear? (i.e the chance it could appear, as opposed to the direct percentage valu

[2022-05-06 20:33] LegendLancer commented on #813
@Kugesz
How did you fix the issue?

[2022-05-06 20:36] ipv6freely commented on #812
Trying to figure how how this is different from what you posted yesterday. Did you mean to post an update?

[2022-05-06 21:28] CobraKaiX commented on #812
Oh, no sorry, I see how that would be confusing. Both are the same.

On Fri, 6 May 2022 at 13:36, Chris Jones ***@***.***> wrote:

[2022-05-06 22:31] Goldleader7 commented on #498
The solution for me was that one of my files/folders was empty.

[2022-05-07 00:10] bolshoytoster commented on #1158
@SHuchengx run npm with `--force` as well then, i.e. `sudo npm i -g --force corepack`.

[2022-05-07 00:10] bolshoytoster commented on #1159
@Abrar-talpur run `npm install` to install the dependencies.

[2022-05-07 00:16] bolshoytoster commented on #1164
@AdamTDewhirst

Yes, but they don't need to add up to 100.

[2022-05-07 00:18] bolshoytoster commented on #812
@CobraKaiX try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-07 00:30] bolshoytoster commented on #1160
@sherryhk you can change `utils/update_info.js` ~line 21:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L21

to
[code]

[2022-05-07 00:36] bolshoytoster commented on #1161
@arnoldy200 that is because `utils/update_metadata.js` is wrong. You can either use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) or do as I suggested [here](https://github.com/HashLips/hashlips_art_engine/issues/1160#issuecomment-1120090431).

[2022-05-07 01:02] arnoldy200 commented on #1161
@bolshoytoster  I figured out it too. The first build is good. The defect is in update_info.js
`    item.properties.creators = solanaMetadata.creators;`

[2022-05-07 08:39] mya1266 opened #1165 "node index.js doesn't work"
(node:8348) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1405
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\Asus\OneDrive\Masaüstü\hashlips_art_engine-1.

[2022-05-07 10:49] SHuchengx commented on #1158
thank you very much!!!

[2022-05-07 10:52] mya1266 commented on #370
could you solve the problem because i have exacly same error and been tryna fix but nothing works out((

[2022-05-07 10:53] SHuchengx opened #1166 "NFT-ERC721-Collection-2.3.0 Minting Dapp Error!!!!!!"
hello guys,
When i dowanload Minting dapp, it show me successfully.
But when i try to start it.
it show me:

caoshucheng@CaodeMacBook-Air minting-dapp % yarn dev-server
yarn run v1.22.15
$ encore dev-server
Running webpack-dev-server ...

/Users/caoshucheng/Desktop/nft-erc721-collection-2.3.0/minting-dapp/node_modules/webpack-dev-server/lib/Server.js:2432
        throw error;
        ^

Error: lis

[2022-05-07 11:01] bolshoytoster commented on #1165
@mya1266 you've probably misspelled `body line art` either in your `layers/` folder or your `layersOrder`.

[2022-05-07 11:22] bolshoytoster commented on #370
@mya1266 can you paste your error here please.

[2022-05-07 11:23] mya1266 commented on #1165
I fixed it but not it gives me this error

node index.js
(node:16884) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
C:\Users\Asus\OneDrive\Masaüstü\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91
  S

[2022-05-07 11:26] bolshoytoster commented on #1166
@SHuchengx your port `8080` is currently in use by something else, that port is usually used for https so it's probably something browser-related.

The quickest solution is probably to just reboot.

[2022-05-07 11:27] bolshoytoster commented on #1165
@mya1266 that's because you have non-ascii characters in your path. Try moving the project to somewhere like just `C:/Users/Asus`.

[2022-05-07 11:41] mya1266 commented on #1165
thank you sooo much I have been tryna fix it for days

[2022-05-07 12:02] mya1266 commented on #1165
its give me this after generating 4 image  how can I fix it?
 Error: Unsupported image type
    at setSource (C:\Users\Asus\Nft collection\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\Asus\Nft collection\hashlips_art_engine-main\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\Asus\Nft collection\hashlips_art_engine-main\node_modules\canvas\inde

[2022-05-07 12:04] bolshoytoster commented on #1165
@mya1266 try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-07 12:20] thVoidy commented on #984
@JacobeMNA head over to https://github.com/puppeteer/puppeteer and update the puppeteer version to the up-to-date version 13.7.0. In order to do so just run npm i puppeteer in your terminal.

regards,
the_voidy

[2022-05-07 14:22] tylerblack26 commented on #1165
One of your images is probably saved as a different file type. make sure all of your images are saved as the png file type

[2022-05-07 14:40] ipv6freely commented on #812
This method is no longer the recommended way. Check #1115

[2022-05-07 16:22] tylerblack26 commented on #1157
did you ever find the solution?

[2022-05-07 16:33] bolshoytoster commented on #1157
@tylerblack26 it's `utils/update_metadata.js` now.

[2022-05-07 17:32] tylerblack26 commented on #1157
I do not have that folder, do I need to download it from somewhere?

[2022-05-07 17:43] bolshoytoster commented on #1157
@tylerblack26 you probably do. Can you paste the output of the commands `Get-ChildItem` and `Get-ChildItem utils`.

[2022-05-07 17:50] tylerblack26 commented on #1157
![Screen Shot 2022-05-07 at 12 47 36 PM](https://user-images.githubusercontent.com/104935738/167265921-60a2c05d-1235-444c-bbe7-200e6a1268bf.png)

[2022-05-07 17:53] bolshoytoster commented on #1157
@tylerblack26 use `ls . utils` then.

[2022-05-07 17:58] StirlingETH commented on #1157
![Screen Shot 2022-05-07 at 12 56 34 PM](https://user-images.githubusercontent.com/85801170/167266187-c77a65ef-c366-4d15-a48b-e3e07486f0b6.png)
what code do i need to add in "update_info.js" to have it update the ipfs link into the metadata?

[2022-05-07 18:37] bolshoytoster commented on #1157
@StirlingETH it aleady does, doesn't it?

What JSON property do you want to be changed?

[2022-05-07 19:55] PeterGRutherford commented on #1164
This is how I did it. Lets say there are 3 rarities. common, uncommon and rare. you want 7777 to be common, 1423 uncommon, and 800 rare in a 10000 nft collection. Although the rarity is based off of 100% value, the layers in a folder don't have to add up to 100. You simpIy have to divide how many you want in a 10000 collection by 100. lets say I have 7 folders with 7 layers. each of the folders ha

[2022-05-07 22:43] CobraKaiX commented on #812
Is there still a way to do it on this version? My images got corrupted and
now they're only on this code file.

On Sat, May 7, 2022, 7:41 AM Chris Jones ***@***.***> wrote:

[2022-05-07 22:47] ipv6freely commented on #812
Honestly not sure what you’re asking. On what version?

[2022-05-07 22:50] bolshoytoster commented on #812
@CobraKaiX I can't remember what the fix was, as several things can cause that error. I just know my fork fixed them.

My fork is compatible with this version so you can just copy over your `layers/` folder and `src/config.js`.

[2022-05-07 22:53] CobraKaiX commented on #812
Thank you, how do I do that?

On Sat, May 7, 2022, 3:51 PM bolshoytoster ***@***.***> wrote:

[2022-05-07 22:54] ipv6freely commented on #812
Have you submitted a PR to have your changed merged? That seems like a much easier way to handle it versus pointing people towards a 3rd party fork.

[2022-05-07 22:56] bolshoytoster commented on #812
@CobraKaiX you can [get the zip](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip), extract it, then copy over your `layers/` folder and `src/config.js`.

@ipv6freely I've had a PR open for months, Hashlips is too busy to properly review it.

[2022-05-07 23:02] ipv6freely commented on #812
Shocking…. Not.

He hasn’t even closed this GitHub Issue yet even though it’s long outdated and is filled with so much off topic junk discussion.

I’d love to see your changes merged. It’s way too easy to fork a repo and add malicious code, especially in the NFT space where most people have absolutely zero idea how to audit code. Having legit code merged is the best way to prevent that!

I’m sure

[2022-05-07 23:22] CobraKaiX commented on #812
I wouldn't be too sure, I'm not exactly an expert on this type of stuff.

On Sat, May 7, 2022, 4:02 PM Chris Jones ***@***.***> wrote:

[2022-05-07 23:31] ipv6freely commented on #812
I meant @bolshoytoster

[2022-05-07 23:32] CobraKaiX commented on #812
Oh sorry

On Sat, May 7, 2022, 4:31 PM Chris Jones ***@***.***> wrote:

[2022-05-08 06:52] SHuchengx commented on #1166
Really helpful.  Thank you

[2022-05-08 14:12] ghost opened #1167 "Name of creator"
Hi everyone i have a question (could be a silly question), when i look at my collection on Opensea, i can see that i am not the creator of the collection (while i am). It shows that i am only the owner ("you"). Do you know why ?
![ehb](https://user-images.githubusercontent.com/103067553/167300252-33d05a0b-3c43-4a9d-a5cb-e59e695d0eac.PNG)
![th](https://user-images.githubusercontent.com/103067553/16

[2022-05-08 15:37] s-d-sd opened #1168 "Is it possible to set fixed values to sequential images?(or hardcoding values?)"
Lte's say I have a 5000 images collection and 5 differen types( as value = type) in it.

What I'd like to achieve is adding those types to images sequentially
something like below.

[1-1000] = Plain type
[1001-2000] = Robot type
[2001-3000] = Ghoast type
[3001-4000] = Zombie type
[4001-5000] = God type

Is there any solutions for this situation?

[code]

[2022-05-08 15:44] bolshoytoster commented on #1168
@SDM-Shroom you can have subfolders in `Type` for the different types, i.e.
[code]
Then use e.g. `Type/Plain` instead of `Type` in your `layersOrder`s.

[2022-05-08 15:53] s-d-sd commented on #1168
Sweet!!

I really appreciate it.

[2022-05-09 04:41] jokofler commented on #1115
Hello and thank you for your help. Sadly the solution suggested above doesnt work for me.

After doing this command from Step 3: % arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg

I get the following error:

Warning: No available formula with the name "pkg-config".
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching for a previo

[2022-05-09 05:23] ipv6freely commented on #1115
Try taking that one out?

[2022-05-09 06:55] bananakiu commented on #1115
Thank you. This resolved my issue. I was using an 2020 M1 Macbook Air

[2022-05-09 07:41] jokofler commented on #1115
What do you mean by that precisely, sir? I went ahead with the next step but it doesn´t work.

[2022-05-09 14:20] ipv6freely commented on #1115
I mean to remove `pkg-config` from the list of packages you're installing in Homebrew. However, I would try updating Homebrew first: `brew update`. This grabs the latest package list from Homebrew. Once that's done, try again. If it doesn't work still, then remove `pkg-config` from the list.

[2022-05-10 05:22] s-d-sd commented on #1123
Is it possible to mix those different traits?
Intead of having one trait first, and the other second.

like

 not [1 | AA.....AA | 10 | BB....BB | 20]
 ↓
 but [1 | ABAAB........ABBBAA | 20]

[code]

[2022-05-10 06:54] bolshoytoster commented on #1123
@SDM-Shroom you can set `shuffleLayerConfigurations = true`, although due to bugs with that in this repo you should probably use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-10 08:30] khaki12 opened #1169 "help me Why is he doing this?"
C:\Users\user\Desktop\hashlips_art_engine-1.1.2_patch_v6>node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\user\Desktop\hashlips_art_engine-1.1.2_patch_v6\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUser

[2022-05-10 09:09] bolshoytoster commented on #1169
@khaki12 you're in the wrong folder, run `Get-ChildItem -Directory` to get the name rhen run `cd ` + the name to change into it.

[2022-05-10 14:07] Pwnkmrdroch commented on #1025
Thank you @buhduhzah
Can you let me know what are these 2>&1 values as I have 10 cases for "growEditionSizeTo" so for me it is not exporting all, just for initial case.

[2022-05-10 14:08] Pwnkmrdroch commented on #1025
![Screenshot 2022-05-10 193821](https://user-images.githubusercontent.com/102255858/167648502-7859a598-5059-40d2-a194-6df884ff807e.png)
here is a screenshot attacted.

[2022-05-10 15:16] bolshoytoster commented on #1025
@Pwnkmrdroch

`2>&1` means to send `stderr` to `stdout`.
It's irrelevant here and I don't think powershell supports this and you can ignore it.

Do you mean you only have the first configuration in your collection or only the first one shows up on rarity?

The issue may be that you use `displayName`, which means the rarity script can't know what layer it actual is.

[2022-05-10 15:35] Pwnkmrdroch commented on #1025
Yes, only the first one shows up on rarity.

[2022-05-10 15:55] bolshoytoster commented on #1025
@Pwnkmrdroch have you tried not using `displayName`? It means that the rarity script can't know what layer it actual is.

[2022-05-10 16:33] Pwnkmrdroch commented on #1025
No, actually i generate and delivered this project already so they are asking for this stuff now.

[2022-05-10 17:57] bolshoytoster commented on #1025
@Pwnkmrdroch sorry, the rarity script doesn't currently support this. I can work on a version that doesn't need `layersConfiguration` though.

[2022-05-10 18:19] bolshoytoster commented on #1025
@Pwnkmrdroch here it is:
[code]

[2022-05-10 22:12] thepeanutgalleryandco commented on #1164
@PeterGRutherford how did you use #14.23 or did you simply use #14 (rounding down)?

I have a use-case where one of the users would like to explicitly state layer item X should have 15 in the 10k collection  and layer item Y should have 30. Instead of having a maximum, this is the exact value that he wants, so not sure how to implement this with Rarities as the rarity calculations are completely r

[2022-05-10 22:14] thepeanutgalleryandco commented on #1127
I have implemented filters on my repo - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection

[2022-05-10 22:16] Alansos opened #1170 "NPM install errors.. PLEASE HELP!!"
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\lopez\Downloads\hashlips_art_engine-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\lopez\Downloads\hashlips_art_engine-main\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in

[2022-05-10 23:49] lfjigu commented on #1170
I have same issue, looks like the script can not locate the package.json file.

"C:\Users\lopez\Downloads\hashlips_art_engine-main/package.json"

should be backslash before package.json.

Please anyone can help?

[2022-05-11 02:43] PeterGRutherford commented on #1164
@thepeanutgalleryandco I'm using #14.23. I am aware it is random, but I like the idea that it could get as close as it can to 14.23. I am actually using your repository of the art engine @thepeanutgalleryandco. I used rarity_md, then replaced "/_metadata.json" with "/_metadata_with_rarity.json" in update_nft_info.js(line 14), then made my own rarity attribute based on rank inside of update_nft_inf

[2022-05-11 02:51] crypt0h1ppy commented on #812
![9EA6B4FF-6EC5-4ACD-B6ED-5D6725FF7EC9](https://user-images.githubusercontent.com/105117242/167759073-dbb328d5-20b0-4d93-8f2167ddf0a9162e.jpeg) I kept getting this error on both of my macs. Any help?

[2022-05-11 02:52] crypt0h1ppy commented on #812
I keep getting this error on both of my macs.
![Uploading 8200D1FA-AF21-4C0F-A7A1-F6B7D0B2CB6B.jpeg…]()

[2022-05-11 02:52] crypt0h1ppy commented on #812
![DD5C7FD8-0F10-407B-AEE3-77BBDCB7A4C7](https://user-images.githubusercontent.com/105117242/167759355-936fb0b2-a627-4190-a9a7-340ae8eb299e.jpeg)

[2022-05-11 02:53] crypt0h1ppy commented on #812
Any help please?

[2022-05-11 03:49] ipv6freely commented on #812
This Issue thread is to address how to make nodejs work correctly on M1 based Macs. For unrelated questions I would suggest asking on Discord

[2022-05-11 03:52] crypt0h1ppy commented on #812
I’m on a Mac. I have asked discord. I was hoping someone could help me. I know it’s something dumb. So you can’t help?

[2022-05-11 04:50] ipv6freely commented on #812
Again, this thread is nodejs install issues on an M1 Mac. Your question is not in any way related.

[2022-05-11 04:51] crypt0h1ppy commented on #812
Sorry thread nazi

[2022-05-11 04:56] crypt0h1ppy commented on #812
An actual human helped me already

[2022-05-11 04:57] ipv6freely commented on #812
Great. Now we can stop cluttering this thread with unrelated nonsense.

[2022-05-11 06:51] bolshoytoster commented on #1170
@AlanSPK @lfjigu
It's because you're in the wrong folder. You can run `Get-ChildItem -Directory` to get the name then run `cd ` + the name to change into it.

[2022-05-11 09:35] Pwnkmrdroch commented on #1025
wohooo, Thank you so much.... looks like working...
Is there any way club it with current metadata or I need to deliver it as sperate to developer?

[2022-05-11 11:02] yoel3imari opened #1171 "Module was compiles against diffrent node version"
Hi
I am having this error when I try to compile index.js
it says:
Error: The module '\\?\D:\PROJECTS\NFT-Hashlips\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas\build\Release\canvas.node'
was compiled against a different Node.js version using
I am using Node 16.15.0
and npm 8.5.5
please help me with this

[2022-05-11 12:22] bolshoytoster commented on #1025
@Pwnkmrdroch

What fo you mean by 'club'?

[2022-05-11 12:22] bolshoytoster commented on #1171
@yoel3imari you could do as the error suggests and run `npm rebuild`.

[2022-05-12 00:29] NinaCritptoArt opened #1173 "Attribute issues"
Dear friends... I am writing to you with a question, I am working on a project of 10000 nfts to publish in Opensea... My roadmap is developed in stages: the first 2000 are put up for sale for 0.0001 eth, the next 2000, within one time for 0.0002 eth, the third 2000 at 0.0004 eth and so on...

The problem that arises is that the first 2000 that I am going to mint will have certain percentages of at

[2022-05-12 00:42] NinaCritptoArt opened #1174 "@bolshoytoster reply to @100DollarDoodle"
dear @bolshoytoster, I have seen that you have commented to @100DollarDoodle the following "if you use my fork you can set startEditionFrom the same way you set growEditionSizeTo."

I'm having the same problem. I want the string to start at a number greater than 1. I'm starting to use the HashLips code... I'm new to this and I don't understand how to use the startEditionFrom function. Can you expl

[2022-05-12 01:30] GGOMND opened #1175 "Error..Error.."
Error: EBUSY: resource busy or locked, open 'C:\hashlips_art_engine-1.1.2_patch_v6/build/images/undefined.png'
    at Object.openSync (node:fs:585:3)
    at Object.writeFileSync (node:fs:2170:35)
    at saveImage (C:\hashlips_art_engine-1.1.2_patch_v6\src\main.js:114:6)
    at C:\hashlips_art_engine-1.1.2_patch_v6\src\main.js:404:11
    at async startCreating (C:\hashlips_art_engine-1.1.2_patch_v6

[2022-05-12 01:54] Dimkeee777 commented on #1175
Нажмите на файл package.json и нажмите отладка. после чего установите npm install, вуаля npm run build и должно все получиться, по крайней мере у меня получилось

[2022-05-12 01:56] Dimkeee777 commented on #1170
Нажмите на файл package.json и нажмите отладка. после чего установите npm install, вуаля npm run build и должно все получиться, по крайней мере у меня получилось

[2022-05-12 02:51] GGOMND commented on #1175
Click Debug, npm install, voila npmrun build not found.

[2022-05-12 03:02] GGOMND opened #1176 "Created edition: undefined"
I'm going to make 6,000 works.
In 1862, the phrase "Created edition: undefined" appears. What should I do?

[2022-05-12 03:37] GGOMND commented on #1175
Thank you for your help. But I failed again.

[2022-05-12 06:46] bolshoytoster commented on #1174
@NinaCritptoArt you have to use my fork because it's not implemented in HashLips' repo.

[2022-05-12 06:49] bolshoytoster commented on #1176
@GGOMND could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-12 07:14] bolshoytoster commented on #1175
@GGOMND try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine), I've fixed the `undefined.png`.

[2022-05-12 10:10] samimikawi opened #1177 "attribute condition"
First of all thank you hashlips for the great work really helpful.

just i was wondering if possible to add a specific condition on attribute ( sorry i m not a programer if i m maybe i would discover it )

example i have : layer - ( background - Left Arm - Right Arm - Body - Head ) ballon folder not include because it is only needed in a condition
the above are folder in layer

in the left arm fol

[2022-05-12 13:57] samimikawi commented on #1151
hello i checked it but it keep on generate the first one and nothing and not continue

[2022-05-12 13:58] samimikawi commented on #1151
const layerConfigurations = [
  {
    // First artwork
    growEditionSizeTo: 5,
    layersOrder: [
      { name: "Background" },
      { name: "Body" },
      { name: "Left Arm Ballon" },
      { name: "Right Arm" },
      { name: "Neck" },
      { name: "Head" },
      { name: "Cut" },
      { name: "Facial" },
      { name: "Hair" },
      { name: "Ballons Left" },
    ],
  },
  {
    // Second

[2022-05-12 14:21] bolshoytoster commented on #1151
@samimikawi make sure you save the file after you make changes.

[2022-05-12 14:28] samimikawi commented on #1151
yes i did and i close the entire VB and open it again and try again only run the first one the dosen't continue

[2022-05-12 16:03] gersiaan opened #1178 "Update "_metadata.json""
Hey guys,
I have made some changes in the metadata "1.json", "2.json", ...
But now I also need to update the _metadata.json file, how can I update this?

[2022-05-12 16:08] gersiaan commented on #1178
Okay fixed just needed to add this line
`fs.writeFileSync(`${basePath}/build/json/_metadata.json`,JSON.stringify(data, null, 2));`

[2022-05-12 16:32] bolshoytoster commented on #1151
@samimikawi could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-05-12 16:40] gersiaan commented on #1178
okay haven't fixed this yet - can somebody help me or do we need the _metadata.json file?

[2022-05-12 16:49] CobraKaiX commented on #812
/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6

(node:10865) UnhandledPromiseRejectionWarning: TypeError: Cannot read
property 'edition' of undefined
    at
/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:313:65
    at Array.find (<anonymous>)
    at saveMetaDataSingleFile
(/Users/cobrakaix/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:313:31)

[2022-05-12 16:53] gersiaan commented on #1178
Okay I fixed it with this version from 1.0.6
You need the file "regenerateMetadata.js" and the metadata will be updated!

[2022-05-12 17:29] bolshoytoster commented on #812
@CobraKaiX can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

also, ipv6freely is quite defensive of this thread, you should keep it to M1 issues only.

[2022-05-12 17:37] atamproject opened #1179 "Issue while trying to update metadata using "node utils/update_info.js""
Really struggling with the update of my metadata while trying to update my CID into the config.js file. When I type : **node utils/update_info.js**
Command prompt goes :
**throw err;
    ^

Error: ENOENT: no such file or directory, open 'C:\Users\XXX\Downloads\hashlips_art_engine-main/build/json/_metadata.json'
    at Object.openSync (node:fs:585:3)
    at Object.readFileSync (node:fs:453:35)

[2022-05-12 17:46] bolshoytoster commented on #1179
@atamproject you're missing the `build/json/_metadata.json` file. Have you deleted it or did a collection not finish generating?

[2022-05-12 18:48] atamproject commented on #1179
I didn't get any kind of file with this name while generating but when the generating session was done it said everything was done. Idk how to solve my problem. :(

[2022-05-12 18:52] bolshoytoster commented on #1179
@atamproject when it was generating did it say `You need more layers or elements to grow your edition to ... artworks!`?

Either way, try regenerating and if that doesn't work try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-12 19:02] samimikawi commented on #1151
Works Thanks

[2022-05-12 19:53] atamproject commented on #1179
Yes it did. Is that the reason why this issue occurs ? Cauz I calculated befaure like it was 11^4 so my collection would've been 14641 pieces but it stopped at about 11000 or so. Don't know why tho, I'm probably missing something. Anyway thanks ! I'll regenerate everything tomorrow :)

[2022-05-12 20:02] bolshoytoster commented on #1179
@atamproject that is why.

HashLips generates by creating a random DNA and checking if it's unique. If it generates too many duplicates it will quit.

The main repo doesn't generate `_metadata.json` if it generates too many duplicates, but my fork generates it regardless.

You could generate `_metadata.json` without completely regenerating by running [my `utils/update_metadata.js`](https://raw.git

[2022-05-12 20:10] NinaCritptoArt commented on #1174
ok thanks i will try. your fork is to generate multiple NFTs with various layers?

[2022-05-12 20:13] bolshoytoster commented on #1174
@NinaCritptoArt it's just a more up to date version of the main repo, so yes.

[2022-05-13 03:06] ipv6freely commented on #812
I honestly don’t care anymore. Seems hashlips couldn’t care less about it and all I get is crap for trying to stay on topic, so why bother helping anymore? I’m unfollowing this thread and locking the updated version one I made. I give up.

[2022-05-13 07:26] bolshoytoster commented on #812
@ipv6freely next time I talk to HashLips I'll ask for permissions to close/lock issues.

[2022-05-13 10:22] Pwnkmrdroch commented on #1025
![PNG](https://user-images.githubusercontent.com/102255858/168264067-4b3f918c-12da-4bdb-bd83-e72ba8511c7e.png)
Sorry @buhduhzah , but this is still not exporting right details, missing some of traits like i have 2 folder of 16 clothes and it is exporting only 10 in rarity export. Same issue is with some other folders as well.

Do I have to changes in setting from code you shared above?

[2022-05-13 10:32] bolshoytoster commented on #1025
@Pwnkmrdroch Make sure you've definetely using the `rarity.js` I posted. Could you paste the output of running it here please.

[2022-05-13 12:02] xdrushxd commented on #1124
Could you help me set it up... i tryed everything but i don't seem to get it. the thing i want is not so difficult i just can't seem to get it work...

[2022-05-13 12:27] Pwnkmrdroch commented on #1025
@buhduhzah thank you for quick response. Yes, it was my bad, I did create a new copy but name was rarity_new.js which was why it not calculate right, but as I delete previous rarity file and added your new, it works perfect.

Thank you so much for your help.
Please, send me your wallet, I will send token of thanks.