[2022-03-09 02:11] dgf1 opened #917 "Newbe needs help."
Can anyone please tell me what I need to do. Thanks.
![image](https://user-images.githubusercontent.com/90323044/157358652-5ffb1f7c-c7e8-4409-aaa8-36b3147980af.png)
![image](https://user-images.githubusercontent.com/90323044/157358785-e10d6352-f0f3-4d89-aa86-a0ffa6971263.png)
![image](https://user-images.githubusercontent.com/90323044/157358855-94b4eb08-f0de-4086-bf4b-b8743031becb.png)
![image](ht

[2022-03-09 04:22] wondermarq commented on #443
Yup. Deleting those hidden files did the trick. The file was named "icon" for me. Been banging my head on my keyboard last 3 days trying to figure this out. Thanks for your help!

[2022-03-09 07:13] KimberleyRose commented on #839
I shall give it another go and pay close attention to this, ended up rerunning the collection 😅 so nearly back to this point!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: mingying ***@***.***>
Sent: Wednesday, March 9, 2022 2:11:42 AM
To: HashLips/hashlips_art_engine ***@***.***>
Cc: KimberleyRose ***@***.***>; Author ***@***.***>
Subject: Re: [HashLips/h

[2022-03-09 07:42] omer2307 commented on #897
yes, before the changes the result of the build was the eyes images.
Did you tried it? maybe if it works for you, you can share here the whole changes of the code.
I didn't get it why to add this part if we don't inset the size in any part of the code (like in config we insert each pos the each layer).

[code]

[2022-03-09 08:12] bolshoytoster commented on #916
@AlanSPK run `cd hashlips_art_engine-main` then you can run `npm run generate`.

[2022-03-09 08:16] bolshoytoster commented on #917
@dgf1 it looks like you need to install the [windows SDK](https://download.microsoft.com/download/2/1/2/2122BA8F-7EA6-4784-9195-A8CFB7E7388E/StandaloneSDK/sdksetup.exe).

[2022-03-09 08:21] bolshoytoster commented on #897
@omer2307

No, I will do when I get home (~6 hours).

That part is to allow compatability for it, it defaults to the whole page if you don't specify it.

[2022-03-09 08:42] omer2307 commented on #897
Great, thanks.

[2022-03-09 09:47] marcneagu opened #918 "Adding an ["occurenceLimiter"] object to layersSetup"
Hey, guys! Is there possible to add a new object in the const layersSetup? I need to add something that limits to 1 (or 2,3, etc.) the occurrences of items in a SPECIFIC folder. For example, if I have a folder with 1000 images and I want all of them to appear in my final NFT.
Example:

main.js
const layersSetup = (layersOrder) => {
  const layers = layersOrder.map((layerObj, index) => ({
    id: i

[2022-03-09 10:00] bolshoytoster commented on #918
@marcneagu I think either [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine) have this.

[2022-03-09 10:06] marcneagu commented on #918
They have something else...not a function that limits the occurrences of files in a folder

[2022-03-09 11:56] bolshoytoster commented on #918
@marcneagu on thePeanutGalleryandCo’s repo, there is a [`maxRepeatedTrait`](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection/issues/20#issuecomment-1053636162) attribute, you should set this to 1.

[2022-03-09 12:31] enescaakir commented on #917
I dont know is this a solution but worth to try:

1. Delete _package-lock_ and _node modules_ folder
2. Install yarn package installer: `npm install yarn`
3. Run: `yarn add all`

[2022-03-09 12:33] enescaakir commented on #916
@AlanSPK Can you paste here your package.json file path?

[2022-03-09 12:35] Alansos commented on #916
what is a package.json file, i know what a json is but not package

Sent from my iPhone

On Mar 9, 2022, at 6:34 AM, Enes Çakır ***@***.***> wrote:

﻿

@AlanSPK<https://github.com/AlanSPK> Can you paste here your package.json file path?

—
Reply to this email directly, view it on GitHub<https://github.com/HashLips/hashlips_art_engine/issues/916#issuecomment-1062876502>, or unsubscribe<https://gith

[2022-03-09 12:52] enescaakir commented on #916
It's includes your npm package depencies and more. File under of the _logo.png_ in project folder.

![image](https://user-images.githubusercontent.com/49621993/157444941-63c7de9f-da3c-4d60-8892-8fcdbfc0a2ae.png)

[2022-03-09 13:39] tryshka opened #919 "Newbie needs help."
![157136972-571f6fed-0930-4d60-b770-2559d5aeb154](https://user-images.githubusercontent.com/101057184/157452791-aef2a6cf-14e2-49aa-a0db-0b1ac89d3b63.png)
What do I need to do? help please.

[2022-03-09 15:43] Achillesnft commented on #899
i tried man but it still is not changing

[2022-03-09 15:43] marcneagu commented on #918
Thank you @bolshoytoster !
Yes, this works at a global level, the traits in all layers will not repeat after "3". This is not the result I am expecting.
    growEditionSizeTo: 20,
    maxRepeatedTraits: 3,
    layersOrder: [
      { name: "Background" },
     . . . . . . .

And if i set it under a certain layer, it works just fine, but I have to specify each layer in the "Main body" folder. When y

[2022-03-09 15:43] Achillesnft commented on #899
Could there be any other solutions?

[2022-03-09 15:56] bolshoytoster commented on #897
@omer2307 I've figured out the issue; you also need to add:
[code]
at the end of this code, ~line 231:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L227-L231

[2022-03-09 15:58] bolshoytoster commented on #916
@AlanSPK did you do what I said [here](https://github.com/HashLips/hashlips_art_engine/issues/916#issuecomment-1062659243)?

[2022-03-09 16:02] bolshoytoster commented on #919
@tryshka I'm not completely sure about this error, but whenever I see it it's because there's russian in the path.

You could try moving the hashlips folder to somewhere that doesn't have russian in the name (e.g. `C:/Users/Public/`).

[2022-03-09 16:06] bolshoytoster commented on #918
@marcneagu

did you try generating with that config?

[2022-03-09 16:07] bolshoytoster commented on #899
@Achillesnft have you made sure to reopen the metadata file after updating it, you have to to see the changes.

[2022-03-09 16:15] Achillesnft commented on #899
This is the code , have i done something wrong
![Screenshot (77)_LI](https://user-images.githubusercontent.com/101126644/157482781-5000d5a1-8675-487c-894a-0b73cf6530e2.jpg)
![Screenshot (78)_LI](https://user-images.githubusercontent.com/101126644/157482791-4da81ff0-01b0-4695-86b4-5ff7890251c1.jpg)
![Screenshot (79)](https://user-images.githubusercontent.com/101126644/157482818-1949c76e-aa9a-416d-8

[2022-03-09 16:16] Achillesnft commented on #899
This is the code, have i done something wrong
![Screenshot (77)_LI](https://user-images.githubusercontent.com/101126644/157483305-aecfbae6-07eb-428b-be29-63609613494d.jpg)
![Screenshot (78)_LI](https://user-images.githubusercontent.com/101126644/157483311-b0afbd68-4ff9-4564-8bd1-20ec10b962ba.jpg)
![Screenshot (81)](https://user-images.githubusercontent.com/101126644/157483620-da6e1516-ba70-4a76-a3

[2022-03-09 16:20] marcneagu commented on #918
Yes I did. And it returns duplicates

[2022-03-09 16:22] bolshoytoster commented on #899
@Achillesnft I have no clue. If you delete all of the metadata files except `_metadata.json`, then run `node utils/update_info.js` again it should regenerate the individual files.

[2022-03-09 16:29] Achillesnft commented on #899
Mate I risk it all on you, I really hope this works, thanks a lot in advanced! By the way i will give you one of my NFTs as promised, if I successfully upload them.

[2022-03-09 16:33] omer2307 commented on #897
Great!! That works perfectly!
Are you the author or contributer of this repo?
If negative, how do you understand that code package so good?
A lot of appreciation, keep it up.

[2022-03-09 16:36] bolshoytoster commented on #897
@omer2307 I have a [fork](https://github.com/bolshoytoster/hashlips_art_engine) of this repo, it's more up to date because @HashLips has basically been inactive since janurary.

[2022-03-09 16:41] Achillesnft commented on #899
Oh no, it only generated undefined.json

[2022-03-09 16:44] bolshoytoster commented on #899
@Achillesnft that'll be the problem.

In `utils/update_info.js` ~line 28:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L27-L30

change `item.edition` to `item.custom_fields.edition` then run it again.

[2022-03-09 16:45] bolshoytoster commented on #899
@Achillesnft should probably replace `item.edition` on the lines before as well.

[2022-03-09 16:50] #897 closed, assigned to nobody

[2022-03-09 16:52] omer2307 commented on #897
I see...
what's the main difference between the original and your fork?
Maybe I'll end up using yours edition.

[2022-03-09 16:55] bolshoytoster commented on #897
@omer2307 they're mostly the same, just some performance/usability improvements.

If you want to be able to move/resize layers though I'm not sure if my fork will support it easily.

[2022-03-09 17:10] ccmchad opened #920 "Removing unique DNA requirement"
Trying to remove function that requires unique DNA.  Building a 2100 collection, but unique is not a requirement.  Am having issues finding correct function to remove/edit.  Any suggestions?

[2022-03-09 17:27] bolshoytoster commented on #920
@ccmchad in `src/main.js`, ~line 363:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L362-L364

change `if (isDnaUnique(dnaList, newDna))` to `if (true)`.

[2022-03-09 18:32] dgf1 commented on #917
Thanks, I managed to move to the next stage...only to see this.
![image](https://user-images.githubusercontent.com/90323044/157507570-90bd6bd0-e406-4f4d-983c-5afbf03cda28.png)
![image](https://user-images.githubusercontent.com/90323044/157507716-31f62b8b-b5ff-4f15-bc11-35d067bda4fc.png)
![image](https://user-images.githubusercontent.com/90323044/157507810-6f4b005a-ab2e-414f-a7f4-956d448ae3d1.png)

[2022-03-09 18:35] dgf1 commented on #917
I also updated the canvas to 2.9.0. I am by no stretch a coder, and just want to say thanks for the help.

[2022-03-09 18:36] bolshoytoster commented on #917
@dgf1 can you run `Get-ChildItem`and paste the output please.

[2022-03-09 18:38] dgf1 commented on #917
![image](https://user-images.githubusercontent.com/90323044/157508903-7113f62b-6041-4aac-a428-37a5f38a890f.png)

[2022-03-09 18:41] bolshoytoster commented on #917
@dgf1 what about `Get-ChildItem modules`?

[2022-03-09 18:54] dgf1 commented on #917
Not sure what happened, but my laptop crashed and reset. Other than that nothing seems to of happened
![image](https://user-images.githubusercontent.com/90323044/157511507-1d3c33a7-b5dd-440c-b2b2-a62e6d7c2090.png)

[2022-03-09 18:57] bolshoytoster commented on #917
@dgf1 it looks like you're missing the [`modules/HashlipsGiffer.js`](https://raw.githubusercontent.com/HashLips/hashlips_art_engine/main/modules/HashlipsGiffer.js) file. You can either add it, or if you don't need gif support you can just remove the line
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L32

from your `src/main.js` (~line 32)

[2022-03-09 19:03] dgf1 commented on #917
OK thanks. I have just deleted line 32. How do I save the change? Thanks, sorry to be a askhole.

[2022-03-09 19:05] dgf1 commented on #917
![image](https://user-images.githubusercontent.com/90323044/157513344-8a3e3060-9911-4f4d-9e77-3cf5c731970b.png)

[2022-03-09 19:05] bolshoytoster commented on #917
@dgf1 you can use `ctrl` + `s` then you can run `node index.js` again.

[2022-03-09 19:12] dgf1 commented on #917
Thanks, it has worked. No doubt I will be back on here asking more questions. I really do appreciate your help. I have been loosing my mind, and this has just made me smile.  Hope you are have a good day too.

[2022-03-09 19:35] fbba75 opened #921 "error Failed at the hashlips_art_engine@1.1.1 generate script"
Hi hope you are all well.
I've tried to generate and I have this issue.
Thank you in advance for your help

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/11.10.0/bin/node',
1 verbose cli   '/usr/local/opt/node/bin/npm',
1 verbose cli   'run',
1 verbose cli   'generate' ]
2 info using npm@6.14.5
3 info using node@v11.10.0
4 verbose run-script [ 'pregenerate', 'generate

[2022-03-09 19:51] bolshoytoster commented on #921
@fbba75 can you run it with `node index.js` instead?

[2022-03-09 19:57] fbba75 commented on #921
Yes I already try it and same issue
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at new Script (vm.js:85:7)
    at createScript (vm.js:266:10)
    at Object.runInThisContext (vm.js:314:10)
    at Module._compile (internal/modules/cjs/loader.js:698:28)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:749:10)

[2022-03-09 19:58] bolshoytoster commented on #921
@fbba75 you need to either update your node or you could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-03-09 20:20] mkenyon1984 opened #922 "npm install error"
Hi
I have just downloaded 1.0.8 to create some solana nfts but now I get this error. I have uninstalled and reinstalled everything. Can anyone help?

PS F:\hashlips_art_engine-1.0.8_update> npm install
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path F:\hashlips_art_engine-1.0.8_update/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'F:\hashlips_ar

[2022-03-09 20:22] bolshoytoster commented on #922
@mkenyon1984 I think you're in the wrong folder, run `Get-ChildItem -Directory` to get the name, then run `cd ` + name to go into it.

[2022-03-09 20:33] tryshka commented on #919
Thank you very much

[2022-03-09 20:40] Achillesnft commented on #899
@bolshoytoster mate you're a genius, it worked, let's goooo,  tomorrow ill finish uploading my NFT collection tell me if you're interested in a free one.

[2022-03-09 20:47] mkenyon1984 commented on #922
Thank you.

[2022-03-09 20:47] mkenyon1984 commented on #922
I have another error lol.
 10k-collection-video@1.2.0 generate

(node:4076) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
F:\create-10k-nft-collection-1.2.0\create-10k-nft-collection-1.2.0\src\main.js:306
  let m

[2022-03-09 20:51] bolshoytoster commented on #922
@mkenyon1984 could you add the line
[code]
just before line 306 in `src/main.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L310-L311

(between those lines)
Then paste the output please.

[2022-03-09 21:01] mkenyon1984 commented on #922
(node:15912) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
[
  {
    name: 'Versus Mode #0',
    symbol: 'VM',
    description: '5000 NFTs from the Versus Node Prelude Collection',
    seller_fee_basis_points: 15

[2022-03-09 21:03] bolshoytoster commented on #922
@mkenyon1984 ah, change the `meta.custom_fields.edition` at line 307 to just `meta.edition`.

[2022-03-09 21:06] redoxahmii commented on #921
I have tried as well and i am having the same issue as well commenting in case if there is any solutions.

[2022-03-09 21:07] bolshoytoster commented on #921
@Redoxahmii does [this](https://github.com/HashLips/hashlips_art_engine/issues/921#issuecomment-1063311584) comment help?

[2022-03-09 21:07] mkenyon1984 commented on #922
Dude thank you so much!

[2022-03-09 21:08] redoxahmii commented on #921
What i have gathered from this is that the Node version is causing issues i am currently installing the latest build of Node to see if it works with that or not.

[2022-03-09 21:08] mkenyon1984 commented on #922
![image](https://user-images.githubusercontent.com/101291297/157536426-fef5a37c-d41b-4754-b7cd-75c21bb6f489.png)

[2022-03-09 21:14] fbba75 commented on #921
I already have the latest version of node 17.7.0 but it doesn't work

[2022-03-09 21:15] bolshoytoster commented on #921
@fbba75 can you paste the output of `node -v` please.

[2022-03-09 21:15] vishal-raj15 commented on #919
you don't have that ....pink#0.png image , maybe

[2022-03-09 21:17] bolshoytoster commented on #919
@vishal-raj15 I think they do, otherwise it wouldn't try to open it.

[2022-03-09 21:17] fbba75 commented on #921
@bolshoytoster here it is : v11.10.0

[2022-03-09 21:17] redoxahmii commented on #921
node -v
v14.18.2

 node -v
v16.14.0

I have tried both of these atm and have the same error.

[2022-03-09 21:20] bolshoytoster commented on #921
@fbba75 try uninstalling and reinstalling the latest node version.

@Redoxahmii you can try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-03-09 21:24] redoxahmii commented on #921
It is working on your fork what changes did u make from the main repo?

[2022-03-09 21:25] fbba75 commented on #921
how can I uninstall it totally on MAC ?

[2022-03-09 21:27] bolshoytoster commented on #921
@Redoxahmii [quite a bit actually](https://github.com/HashLips/hashlips_art_engine/pull/638/files). But for this issue, I [changed the syntax](https://github.com/HashLips/hashlips_art_engine/pull/638/files#diff-27653c212e1cfe533e4eb2f7d0d3f89604c9de48a09583b4cbbbcbd08a07da79L94-R114) to the old (pre node v14) style.

[2022-03-09 21:30] bolshoytoster commented on #921
@fbba75 how did you install it? If it was from the website you'll have to (sort of) manually do it, [this tutorial](https://reactgo.com/uninstall-node-npm-from-macos/) goes through it.

[2022-03-09 21:32] redoxahmii commented on #921
So the code was using syntax for the latest node version so you changed it to the old syntax of v14 which made it work again. Thank you nonetheless.

if the syntax is for the latest then it should have worked with the latest node ver but i guess the syntax issue is a bit more in depth than i understand.

[2022-03-09 21:34] mkenyon1984 commented on #922
Oh no. Sorry any ideas? There all .PNG with different rarities.

Created edition: 303, with DNA: 00a622c367a42bf2539cabc54f75f970144efeba
F:\create-10k-nft-collection-1.2.0\create-10k-nft-collection-1.2.0\node_modules\canvas\lib\image.js:91
  SetSource.call(img, src);
            ^

Error: Unsupported image type
    at Image.<anonymous> (<anonymous>)
    at setSource (F:\create-10k-nft-collection-

[2022-03-09 21:41] fbba75 commented on #921
@bolshoytoster I uninstall and install it and it doesn't work

[2022-03-09 21:43] bolshoytoster commented on #922
@mkenyon1984 this is quite a notorious issue. You should make sure you only have image files in your layer folders (sometimes there can be files with names starting with '`.`' which makes them hidden.) if the error persists, ~line 182 of `src/main.js`, the original developer made a mistake with the `loadLayerImg` function:
[code]
change it to:
[code]
It won't fix the issue, but it'll tell you whic

[2022-03-09 21:43] bolshoytoster commented on #921
@fbba75 can you send the output of `node -v` please.

[2022-03-09 21:46] fbba75 commented on #921
macbook-pro-de-fouad:hashlips_art_engine-1.1.2_patch_v6 fouad$ node v
internal/modules/cjs/loader.js:615
    throw err;
    ^

Error: Cannot find module '/Users/fouad/Documents/NFT/hashlips_art_engine-1.1.2_patch_v6/v'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:613:15)
    at Function.Module._load (internal/modules/cjs/loader.js:539:25)
    at Function.Module.runMain (

[2022-03-09 21:47] bolshoytoster commented on #921
@fbba75 you forgot th '`-`'.

[2022-03-09 21:47] fbba75 commented on #921
sorry noob mistake :)

v11.10.0

[2022-03-09 21:48] bolshoytoster commented on #921
@fbba75 it's probably easier to just use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-03-09 22:28] fbba75 commented on #921
I think the issue is I can not uninstall node
Someone can help me to unistall it because I dont have any node file in local or user or bin but I still can see node version with node -v command

[2022-03-09 22:29] bolshoytoster commented on #921
@fbba75 if you use my fork you won't need to upgrade.

[2022-03-09 22:39] redoxahmii commented on #921
i used NVM to switch versions which made to very easy to uninstall and use multiple versions at the same time and switch quickly.
Honestly one of the best tools i ever found for Node.

[2022-03-09 22:43] mammawrites opened #923 "Process exited with code 134"
Getting a FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory. Newbie here. Is it something to do with node.js? Should I delete it and reinstall it or is the problem something entirely different?

Do you have any suggestions?  Many thanks, Heidi

FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory
 1: 00007FF6CF5D401F v8::internal::CodeOb

[2022-03-09 22:45] bolshoytoster commented on #923
@mammawrites it means it ran out of memory; you could try rebooting to free more.

[2022-03-09 22:51] redoxahmii commented on #921
One issue with your repo is that the update_info script does not work as it now has different syntax.

[2022-03-09 22:52] bolshoytoster commented on #921
@Redoxahmii how does it not work? Does it throw an error?

[2022-03-09 22:55] redoxahmii commented on #921
Sorry it was an issue on my end i deleted the _metadata.json that is created after npm run generate
With that file deleted when i ran it it did not work but now with the file there it works.

[2022-03-09 22:57] mammawrites commented on #923
okay will do thank you

[2022-03-09 23:21] dreamgineers opened #924 "Photoshop layers are returning weird images"
When I run the hashlips code with Photoshop layers the code runs fine but the images are wrong.  Its as if hashlips is upsizing all the layers to the size of the background layer in photoshop, so that small images on layers are giant sized.  I can't figure out what is causing this issue. all the layers are correct in Photoshop and look fine.  Any body had this issue before?

[2022-03-09 23:55] bolshoytoster commented on #924
@dreamgineers you have to make the layer images include the full image area.

Or you could go through [this](https://github.com/HashLips/hashlips_art_engine/issues/897).

[2022-03-10 00:45] Alansos commented on #916
It says the same thing.

[2022-03-10 00:45] Alansos commented on #916
{
  "name": "hashlips_art_engine",
  "version": "1.1.1",
  "description": "HashLips Art Engine is a tool used to create multiple different instances of artworks based on provided layers.",
  "main": "index.js",
  "bin": "index.js",
  "pkg": {
    "assets": [
      "layers/**/*",
      "node_modules/**/*",
      "src/**/*"
    ]
  },
  "scripts": {
    "build": "node index.js",
    "generate": "nod

[2022-03-10 00:49] Asas3442 opened #925 "hashlips"

[2022-03-10 01:31] ecom-newb commented on #896
@bolshoytoster Resolution of layers are 300x300... I set it to that in config.js and it looks like this :(

<img width="239" alt="Screen Shot 2022-03-09 at 5 29 24 PM" src="https://user-images.githubusercontent.com/100897617/157569330-c90d716f-a17d-46ec-b1d3-4757a1f32d65.png">

<img width="248" alt="Screen Shot 2022-03-09 at 5 28 23 PM" src="https://user-images.githubusercontent.com/100897617/1575

[2022-03-10 01:35] mammawrites commented on #923
Hello. So the restart did not solve my problem. Per Task Manager I have 25.0 gigs of memory available. I did find with a Google Search ...According to https://nodejs.org/api/process.html : ">128 Signal Exits: If Node.js receives a fatal signal such as SIGKILL or SIGHUP, then its exit code will be 128 plus the value of the signal code. [...] For example, signal SIGABRT has value 6, so the expected

[2022-03-10 03:54] th4433 opened #926 "How to Force Specific Layers to Match"
We have a stack up of a "back of chair", "person", then "front of chair".  This stack up is required due to the way our images are drawn.  How could we use/adjust this code to force "If back of chair A is used, then use front of chair A" but with still randomizing the person between these layers?

Appreciate any help!

[2022-03-10 05:30] KannabizMonkeez commented on #779
I have the same question

[2022-03-10 05:34] KannabizMonkeez opened #927 "Is it possible to rebuild a collection using the json files?"
If I create 10,420 images with a first group of backgrounds, is it possible to create the same collection with a different set of backgrounds with a second run? Any help is super appreciated!

[2022-03-10 07:41] vishal-raj15 commented on #919
you are using windows , windows have a little different path formatting : " c:\ project \ hashlips \ background \ pink#0. png " , not with  " / " format

[2022-03-10 08:13] bolshoytoster commented on #916
@AlanSPK can you paste the error + the output of `Get-ChildItem` please.

[2022-03-10 08:16] bolshoytoster commented on #896
@ecom-newb [my repo](https://github.com/bolshoytoster/hashlips_art_engine) has support for this, but if you're lazy (like me) you can just follow [this](https://github.com/HashLips/hashlips_art_engine/issues/901#issuecomment-1061764884).

[2022-03-10 08:19] bolshoytoster commented on #923
@mammawrites there must be a memory leak with 'giffing'. I haven't been able to test gifs with hashlips, I'll see if I can find the error when I get home (~6 hours).

[2022-03-10 08:20] bolshoytoster commented on #926
@th4433 I think either [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine) have this.

[2022-03-10 08:23] bolshoytoster commented on #779
@KannabizMonkeez you could try following [this issue](https://github.com/HashLips/hashlips_art_engine/issues/918). There hasn't been a solution yet, but hopefully thePeanutGalleryandCo will respond.

[2022-03-10 08:27] enescaakir commented on #916
I told you "paste here this files folder path" man. I think you're trying to run code in wrong path. Just check it.

[2022-03-10 08:30] bolshoytoster commented on #927
@KannabizMonkeez I don't think there's an easy way to do this, because the metadata doesn't store the full filenames.

[2022-03-10 08:32] bolshoytoster commented on #919
@vishal-raj15 the forward slash is compatible with every modern OS (including windows). The backslash can actually cause more problems because [it's used as a marker character](https://softwareengineering.stackexchange.com/a/112733) basically telling an interpreter to skip the next character.

[2022-03-10 09:01] SyahmiRafsan commented on #927
What about the DNA, can it rebuild it from there?

[2022-03-10 10:18] fbba75 commented on #921
thanks a lot guys
with the help of @bolshoytoster that identified it was a node version issue now it worked !
FYI I also used which to find where node was installed and I had 3 files lost in opt
So I delete them and reinstalled the last version and now it's ok

[2022-03-10 11:14] musobek253 commented on #913
not the mistake I saw

[2022-03-10 11:36] bolshoytoster commented on #927
@syrafs that'd be even harder.

[2022-03-10 12:10] tawseefnabi commented on #733
@CusdelNFT try to use `node v14.8.2` it will work without any issue

[2022-03-10 16:35] KannabizMonkeez commented on #927
Thank you guys for the responses. I really appreciate it.

As an alternative, is possible to create a build that preserves one layer in the same order as it occurs in the layer folder?

For example
image1.png = baseLayer1 + other random combination of layers,
image2.png = baseLayer2 + other random combination of layers, etc?

[2022-03-10 17:57] #919 closed, assigned to nobody

[2022-03-10 21:46] bolshoytoster commented on #923
@mammawrites It looks like the memory leak is due to calling `ctx.getImageData` for each frame, since it allocates an array of size `canvas.width * canvas.height * 3`. Unfortunately, I don't think there's any way to avoid this.

You could try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine), it splits the workload between multiple threads so it might avoid this error, and I've

[2022-03-10 22:18] bolshoytoster commented on #927
@KannabizMonkeez if you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) it'll be easier.

In `src/main.js` ~line 341:
[code]
Change `cleanName(names[1])` to just `names[1]`. This will add full filenames to the metadata.

Then ~line  291:
[code]
Change it to:
[code]
Then it will attempt to recreate the images if they don't exist anymore.

[2022-03-10 22:21] bolshoytoster commented on #919
@tryshka did you fix this?

If so, how?

[relevant](https://xkcd.com/979/)

[2022-03-10 23:08] mammawrites commented on #923
Okay, thank you for looking in to this! I will give that a try.

[2022-03-10 23:46] FunkySea commented on #313
I tried that many times and I still got npm error

Sent from Yahoo Mail for iPhone

On Saturday, January 8, 2022, 6:02 AM, dasdot91 ***@***.***> wrote:

found the problem bro.
you have to select the folders inside the folder.

join hashlips discord, theres a guy that knows how to fix it, he told me and he was right.

whe u select open folder, click and select the folder inside

What you mean by se

[2022-03-11 00:35] redoxahmii opened #929 "Images not generating with one layer"
i have 3 folders that i am using named Face , Expression , Background
The files included in the Expression or not being included in the layers.

If i move those files to another folder lets say Face and move Face files to Expression then they work fine.

i have also tried changing the file names inside also but still causing this issue

[2022-03-11 02:36] DevMarc16 commented on #708
Ive generated many other collections before and now im getting this error and cant finish a collection, ive also tried to run from the windows terminal.  please help lol
Error: out of memory
    at Image.<anonymous> (<anonymous>)
    at setSource (C:\Users\lagom\hash art engine\hashlips_art_engine\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\lagom\hash art engine\hashlips_art

[2022-03-11 02:54] KannabizMonkeez commented on #927
Thanks bro Ill try that!

[2022-03-11 07:35] SyahmiRafsan commented on #927
Thanks for this man. Really appreciate it.

So the code will recreate images if the png file so no longer there?

Or does it insert a new layer on top of the generated image (prev set of layers)?

[2022-03-11 07:37] levianlp opened #930 "Manually change 1 json and 1 picture doesn't show up on npm run rarity"
So i manually change 1 json only attributes and the picture of it for extra legendary after i generated the artwork,  but after i do that im running npm run rarity but it doesn't show up on it, do any of you guys understand how npm run rarity works

Thanks!

[2022-03-11 07:54] bolshoytoster commented on #313
@FunkySea can you please paste the output of `Get-ChildItem`.

[2022-03-11 07:55] bolshoytoster commented on #929
@Redoxahmii can you paste your `layerConfigurations` please.

[2022-03-11 07:57] bolshoytoster commented on #708
@DDev16 you could try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine), it splits the work between a few processes so it might avoid this error.

[2022-03-11 07:58] bolshoytoster commented on #927
@syrafs the code will recreate images if the png file so no longer there.

[2022-03-11 07:59] bolshoytoster commented on #930
@levianlp the [rarity](https://github.com/HashLips/hashlips_art_engine/blob/main/utils/rarity.js) script [counts the occurances](https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/rarity.js#L45-L60) of each attribute and [divides it by the full edition size](https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a

[2022-03-11 08:09] levianlp commented on #930
@bolshoytoster hi it is you again, so it is not counting from the json value then? so is it still possible to manually change the json attributes for uploading it although the npm run rariry doesn't identified the manual one ?  Thanks @bolshoytoster for answering

[2022-03-11 08:15] bolshoytoster commented on #930
@levianlp it does get it from the metadata.

Also, just changing one picture wouldn't affect the actual rarity of a trait, since it doesn't affect the other images, nor any other json files.

[2022-03-11 08:45] levianlp commented on #930
@bolshoytoster this is what im aready doing

- Changing the attribute _metadata.json only image number 171 with trait_type Extra and value Gold Chain( this Gold Chain doesn't have traits before it is new)
- Changing the single171.json with the attribute just likes on the _metadata.json
- Changing the picture of image number 171
- npm run rarity

And i cannot see any Gold Chain on the npm run rarit

[2022-03-11 10:39] musobek253 opened #931 "path: 'C:\\Users\\muso_\\Downloads\\YJIYKO_NFT_GENERATOR\\layers/body/'"
Error: ENOENT: no such file or directory, scandir 'C:\Users\muso_\Downloads\YJIYKO_NFT_GENERATOR\layers/body/'
    at Object.readdirSync (node:fs:1392:3)
    at getElements (C:\Users\muso_\Downloads\YJIYKO_NFT_GENERATOR\src\main.js:67:6)
    at C:\Users\muso_\Downloads\YJIYKO_NFT_GENERATOR\src\main.js:84:15
    at Array.map (<anonymous>)
    at layersSetup (C:\Users\muso_\Downloads\YJIYKO_NFT_GENE

[2022-03-11 10:41] musobek253 commented on #931
https://prnt.sc/hebjNZZkTZ4O

[2022-03-11 10:44] musobek253 commented on #931
https://prnt.sc/BKcY4I4SgP5W

[2022-03-11 10:58] shelly001 commented on #931
for window, you shoud change / to \.
main.js: line 6, 7, 92

![image](https://user-images.githubusercontent.com/47731407/157854533-ba9eb62a-783a-4ae5-a6f3-e4bcf711f773.png)

![image](https://user-images.githubusercontent.com/47731407/157854452-2ccc3dd4-73b3-4aca-952d-0595eb6dc4e7.png)

[2022-03-11 11:00] shelly001 commented on #916
For windows, you should change / to \.
main.py : line 6,7,92

![image](https://user-images.githubusercontent.com/47731407/157854709-c9aa0b98-9340-499b-8ea5-471dcc699d9e.png)

[2022-03-11 11:01] shelly001 commented on #791
For windows, you should change / to \.

![image](https://user-images.githubusercontent.com/47731407/157854770-e952087f-eeec-4ea4-863a-2ae0a056f994.png)

[2022-03-11 11:01] shelly001 commented on #731
For windows, you should change / to \.
main.py : line 6,7,92

![image](https://user-images.githubusercontent.com/47731407/157854820-1ecbe0d1-acc9-47ff-bb33-987b621a8d07.png)

[2022-03-11 11:19] bolshoytoster commented on #930
@levianlp the rarity script only looks at layers in your `layersConfiguration`. You could add the `extra` layer there then run rarity.

[2022-03-11 11:23] bolshoytoster commented on #931
@shelly001 that doesn’t matter; `/` is basically universal.

@musobek253 you need to save the `src/config.js` file.

[2022-03-11 11:59] levianlp commented on #930
ahh okei lemme try it, thanks mate @bolshoytoster

[2022-03-11 13:40] bolshoytoster commented on #916
@shelly001 once again, it doesn’t matter.

[2022-03-11 13:40] bolshoytoster commented on #791
@shelly001 it doesn’t matter.

[2022-03-11 13:41] bolshoytoster commented on #731
@shelly001 it doesn’t matter.

[2022-03-11 14:11] DesGenArt commented on #898
@HackyLeon how did you solve it? I'm experiencing the same error now.

[2022-03-11 15:38] bolshoytoster commented on #898
@DesGenArt can you paste the error here please.

[2022-03-11 16:03] Patrizi5 commented on #836
what did you do to get it to work, because i click (ctrl + s) and irt still didn't work for me

[2022-03-11 16:06] bolshoytoster commented on #836
@Patrizi5 can you paste the error please.

[2022-03-11 16:10] Patrizi5 commented on #836
(node:18104) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\Patrick\Desktop\Masterclass\hashlips_art_eng

[2022-03-11 16:11] Patrizi5 commented on #836
after i npm run generate

[2022-03-11 16:11] bolshoytoster commented on #836
@Patrizi5 can you paste your `layerConfigurations` please and make sure you save the `src/config.js` file.

[2022-03-11 16:13] Patrizi5 commented on #836
![Screenshot (4)](https://user-images.githubusercontent.com/97971328/157905295-dee553f9-bebe-4123-91a7-bd758bdc77a3.png)

[2022-03-11 16:14] bolshoytoster commented on #836
@Patrizi5 you spelled the folder name wrong.

`Backbround` should be `Background`.

[2022-03-11 16:18] Patrizi5 commented on #836
🤣😂 im stupid. thank you for helping

[2022-03-11 16:20] Patrizi5 commented on #836
why does it look weird?

[2022-03-11 16:24] bolshoytoster commented on #836
@Patrizi5 could you post an example?

[2022-03-11 16:42] musobek253 commented on #931
Can you give me a ready-made code that won't work anyway?
https://prnt.sc/UCzyx-lmyPbu

[2022-03-11 16:43] musobek253 commented on #931
Can you give me a ready-made code that won't work anyway?
https://prnt.sc/UCzyx-lmyPbu

[2022-03-11 16:44] bolshoytoster commented on #931
@musobek253 you need to save the src/config.js file.

[2022-03-11 18:06] mammawrites commented on #923
so close.. it runs, vsc thinks it has created the build but only the json folder has anything in it... maybe I put the folder in the wrong place to begin with and it is confused?

PS C:\Users\Heidi\Documents\GitHub\Bolshoytoster\hashlips_art_engine> npm list
hashlips_art_engine@1.1.1 C:\Users\Heidi\Documents\GitHub\Bolshoytoster\hashlips_art_engine
├── canvas@2.9.0
├── gif-encoder-2@1.0.5
├── sha1

[2022-03-11 18:20] bolshoytoster commented on #923
@mammawrites can you insert `console.log(newDna);` the line before `childProcess._handle.spawn({` in `src/main.js` ~line 330.

Then run it, and use the output (something like `Background/Black#1.png-Eyeball/White#50.png-Eye color/Yellow#10.png-Iris/Small#60.png-Shine/Shapes#100.png-Bottom lid/High#20.png-Top lid/Middle#50.png`) to manually create an image:
[code]

[2022-03-11 19:14] devidwalker opened #932 "How to change image and metadeta save number (start 200 to 300)"
![1](https://user-images.githubusercontent.com/101425710/157935021-0980cbeb-60fa-40a0-bc5d-ea1e0417bb1a.png)
![2](https://user-images.githubusercontent.com/101425710/157935397-f1281c14-d4bb-47a6-a3f0-b3a510dedce2.png)

****how** to change start number. like this screenshot**

[2022-03-11 19:26] DarkRafas commented on #569
Thank you, this help me out with the issue :)

[2022-03-11 19:33] yajay4512 opened #933 "Images layers getting blurred and distorted"
![1](https://user-images.githubusercontent.com/101427231/157939954-b2368b45-9fbb-49f0-b76a-f6c6d9359410.png)
![1](https://user-images.githubusercontent.com/101427231/157940323-b017ea36-ecda-48e6-a637-5f7fcf160d8f.png)

When I am trying to apply my other layers on top of my background all other layers are distorting and going blurred

[2022-03-11 19:44] bolshoytoster commented on #932
@devidwalker [my fork](https://github.com/bolshoytoster/hashlips_art_engine) has support for this, you set `startEditionFrom` like you do `growEditionSizeTo`.

[2022-03-11 22:18] alicedepa commented on #500
HI! I have a question about that too. I get a percentage when someone resell one NFT previously bought from me? Is that what secondary market means? Thanks!

[2022-03-11 23:27] johnathan8608 opened #934 "metdata error"
plz some one help me how I can fix this

PS F:\hashlips_art_engine-1.1.0_update> node utils/updatebaseuri.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'F:\hashlips_art_engine-1.1.0_update\utils\updatebaseuri.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:

[2022-03-11 23:29] bolshoytoster commented on #934
@johnathan8608 `utils/updatebaseuri.js` doesn't exist.

Try running `node utils/update_info.js`.

[2022-03-11 23:36] johnathan8608 commented on #934
thanks its solved

[2022-03-12 01:44] Alansos commented on #916
what do you mean by "paste here this files folder path"? What is a file folder path

[2022-03-12 01:44] Alansos commented on #916
what doesn't?

[2022-03-12 01:44] Alansos commented on #916
change it to the backwards slashes?

[2022-03-12 04:45] devidwalker commented on #932
can you send code line  please... i dnt have good coding knowledge

[2022-03-12 05:00] devidwalker commented on #932
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-03-12 05:00] devidwalker commented on #932
const basePath = process.cwd();
const { NETWORK } = require(`${basePath}/constants/network.js`);
const fs = require("fs");
const sha1 = require(`${basePath}/node_modules/sha1`);
const { createCanvas, loadImage } = require(`${basePath}/node_modules/canvas`);
const buildDir = `${basePath}/build`;
const layersDir = `${basePath}/layers`;
const {
  format,
  baseUri,
  description,
  background,
  uniq

[2022-03-12 05:50] devidwalker commented on #932
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-03-12 05:51] devidwalker commented on #932
const basePath = process.cwd();
const { NETWORK } = require(`${basePath}/constants/network.js`);
const fs = require("fs");
const sha1 = require(`${basePath}/node_modules/sha1`);
const { createCanvas, loadImage } = require(`${basePath}/node_modules/canvas`);
const buildDir = `${basePath}/build`;
const layersDir = `${basePath}/layers`;
const {
  format,
  baseUri,
  description,
  background,
  uniq

[2022-03-12 05:52] devidwalker commented on #932
please change this code and mention what i do

[2022-03-12 05:53] devidwalker commented on #932
explain how to change start number........ please this is big help to me

[2022-03-12 06:40] TinoJHB commented on #449
Go Into Your Layers And Tripple Check File Opening Them One By One. They Should Be corrupted files, especially in the Background Folder. In My Case, I use the size to see Files With No data Eg (Filename#2.png = 0kb)

[2022-03-12 06:44] TinoJHB commented on #443
Go Into Your Layers And Tripple Check File By Opening Them One By One If you Have To. They Should Be corrupted files, especially in the Background Folder. In My Case, I use the size to see Files With No data Eg (Filename#2.png = 0kb)...It took me two days just to find These posts up lol Thanks, Guys.

[2022-03-12 07:09] ghost commented on #881
@bolshoytoster Hi there, thank you for making your adjustments and publishing it.

I was wondering if you could help me out what this error means: Assertion failed: !process->exit_cb_pending, file c:\ws\deps\uv\src\win\process.c, line 857

When i run your code and ask the edition to grow to 35 i get this error. I've been trying for the past couple of days but it seems i can not get this faster nft

[2022-03-12 08:01] bolshoytoster commented on #916
@AlanSPK the backslashes don't matter. Can you please send the output of `Get-ChildItem`.

[2022-03-12 08:04] bolshoytoster commented on #932
@devidwalker Sorry for the late reply; I was asleep.

In `src/config.js`:
[code]

[2022-03-12 08:09] bolshoytoster commented on #881
@kiven243 You might have to use a different version of node.

[2022-03-12 08:47] devidwalker commented on #932
![3](https://user-images.githubusercontent.com/101425710/158010934-abd5e040-2af5-401d-952b-20d5f989a1d0.png)

sir its not working.. image save start 1 to 10

sorry for the disturbing you.. please help me

[2022-03-12 09:05] devidwalker commented on #932
i save it but not working

[2022-03-12 09:06] devidwalker commented on #932
good morning

[2022-03-12 09:16] Blecord commented on #933
I have the same problem with some of my projects :(
Please tell me what could be wrong
![01](https://user-images.githubusercontent.com/101451432/158012011-7e9e999f-6532-44cf-b2ef-5bfefcb92d34.png)

[2022-03-12 09:56] bolshoytoster commented on #932
@devidwalker Sorry about that, I've fixed it now, could you redownload my fork and try again please.

[2022-03-12 10:01] nonstopweb3 opened #935 "I need some changes in row of layers if head name is 'somename.png'"
Good afternoon, I want to make a collection of nft .
I have 1 special head that already has a nose and eyes more than others, and I want that if such a head falls out, the layers with the name (eyes / mouth) are not added to the picture or go to the bottom layer behind the background

[2022-03-12 10:15] bolshoytoster commented on #935
@R5whos I think [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine) might have this.

[2022-03-12 10:28] nonstopweb3 commented on #935
THX BRO

[2022-03-13 07:32] Las499 commented on #685
Having this same issue.

[2022-03-13 07:41] musobek253 commented on #931
show how to do it

[2022-03-13 10:04] bolshoytoster commented on #685
@Las499 can you paste one of your metadata files please.

[2022-03-13 10:04] bolshoytoster commented on #931
@musobek253 use `ctrl` + `s`.

[2022-03-13 13:13] Las499 commented on #685
{
  "name": "GrimCat #1",
  "description": "A cute, grumpy GrimCat! Unique and ready for a new home!",
  "file_url": "ipfs://NewUriToReplace/1.png",
  "custom_fields": {
    "dna": "dcee29c44db1ff3b85ba83ab5d104220738cae62",
    "edition": 1,
    "date": 1646532832718,
    "compiler": "HashLips Art Engine"
  },
  "external_url": "https://lefluffy.com/nfts",
  "attributes": [
    {
      "trait_typ

[2022-03-13 13:16] bolshoytoster commented on #685
@Las499 could you paste the first 10-20 lines of the `_metadata.json` file please.

[2022-03-13 13:38] Las499 commented on #685
[
  {
    "name": "GrimCat #1",
    "description": "A cute, grumpy GrimCat! Unique and ready for a new home!",
    "file_url": "ipfs://NewUriToReplace/1.png",
    "custom_fields": {
      "dna": "dcee29c44db1ff3b85ba83ab5d104220738cae62",
      "edition": 1,
      "date": 1646532832718,
      "compiler": "HashLips Art Engine"
    },

[2022-03-13 13:43] Las499 commented on #685
This works, but it goes to the wrong place (appends to the end of the items attributes)
Object.keys(data).forEach((item) => {
  if (network == NETWORK.sol) {
    item.name = `${namePrefix} #${item.edition}`;
    item.description = description;
    item.creators = solanaMetadata.creators;
  } else {
    item.name = `${namePrefix} #${item.edition}`;
    item.description = description;
    item.image

[2022-03-13 13:48] chuanxd commented on #897
This issue page is very helpful to me.

[2022-03-13 14:06] oaoaoaoaoammm opened #937 "What is ERR_DLOPEN_FAILED?"
The module '/Users/mac/Downloads/GENERATOR/node_modules/canvas/build/Release/canvas.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 83. This version of Node.js requires
NODE_MODULE_VERSION 93. Please try re-compiling or re-installing
the module (for instance, using `npm rebuild` or `npm install`).
    at Object.Module._extensions..node (node:internal/modules/cjs/lo

[2022-03-13 15:56] bolshoytoster commented on #685
@Las499 can you paste the error when it's `data.forEach`.

[2022-03-13 15:58] bolshoytoster commented on #937
@ddoo5 this is a notorious issue with M1 macs.

You could try looking at [other related issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for potential solutions.

[2022-03-13 16:00] oaoaoaoaoammm commented on #937
so i have mac os, but on intel.

[2022-03-13 16:03] bolshoytoster commented on #937
@ddoo5 sorry, I saw mac and assumed that was the issue.

The error suggests running `npm rebuild`, you should try that.

[2022-03-13 16:04] oaoaoaoaoammm commented on #937
i've already tried, same result

[2022-03-13 16:17] oaoaoaoaoammm commented on #937
"npm run build" i tried too, same error

[2022-03-13 16:34] bolshoytoster commented on #937
@ddoo5 not `npm run build`, run `npm rebuild`.

[2022-03-13 16:35] oaoaoaoaoammm commented on #937
did, nothing changed

[2022-03-13 17:08] bolshoytoster commented on #937
@ddoo5 try deleting the `node_modules` folder then running `npm install` again.

[2022-03-13 17:29] oaoaoaoaoammm commented on #937
thx, best library i've ever used ^_^

[2022-03-13 17:29] #937 closed, assigned to nobody

[2022-03-13 19:23] freemasonrysquared opened #938 "in >src > config.js - support for extraMetadata"
In the source code > Config.js after line 103 I wanted to continue modifying but extraMetadata, rarityDelimiter, etc. are not written like in many help videos. Do I have to write these all out myself or have i missed a step?

[2022-03-13 19:26] bolshoytoster commented on #938
@freemasonrysquared If they're not in the `src/config.js` it's likely the version of hashlips you'e using doesn't support it. You can make sure they're not there by searching for them with `ctrl` + `f`.

[2022-03-13 23:59] hece0305 opened #939 "how can i change name use value?? help me!!"
![스크린샷(1)](https://user-images.githubusercontent.com/101531921/158084561-56b776e3-bffe-469b-814d-3b1cd0774260.png)
![스크린샷(2)](https://user-images.githubusercontent.com/101531921/158084563-c5724714-f4f9-45dc-9b28-00f559125827.png)

i wnat change the name  use value

   ex>

   "name": "Your Collection #1 0:Black#1.png-1:White#50.png-5:Yellow#10.png-2:Small#60.png-0:Shapes#100.png-0:High#20.png~~~

[2022-03-14 00:33] Lucobos1970 commented on #366
@bolshoytoster Hello, thanks in advance for any help I can get. I am not a developer, but I learned how to make an NFT collection, but I wanted to learn how to start a collection from any number I choose... I got you repo, but I don't know what to do next... I have to set  startEditionFrom  but, where do I do that? in the config.js file ?   I have seen in main.js  code lines containing  startEditi

[2022-03-14 04:10] cRhettiarachchi commented on #728
Yeah, the problem arises from an npm dependency not supported on the M1 chip.

[2022-03-14 04:49] calebrcannon commented on #282
I tried everything, using every nvm version, etc, and eventually what worked is just:
`nvm use`
It must have been that my node version was correct but not my npm version? This was after reinstalling all of my packages.

[2022-03-14 08:12] bolshoytoster commented on #939
@hece0305 if you want to change it a constant value (use the same for every image) you may as well embed it into the string:
[code]

[2022-03-14 08:15] bolshoytoster commented on #366
@Lucobos1970
[code]

[2022-03-14 08:16] bolshoytoster commented on #728
@cRhettiarachchi [you might be able to find some workarounds though.](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1)

[2022-03-14 09:36] HashLips commented on #881
@bolshoytoster Hi, I just wanted to say thank you. I see you all the time helping people out. If you would like to reach out please feel free to do so. I would like to sit with you and implement an update from all your learnings working with the community.

here is my email: hashlipsnft@gmail.com

[2022-03-14 14:42] Lucobos1970 commented on #366
Hello Bolshoytoster, thanks so much for the fast reply...
I changed the config.js file:

const layerConfigurations = [
  {
    startEditionFrom: 21,
    growEditionSizeTo: 30,
    layersOrder: [
      { name: "Background" },
      { name: "Eyeball" },
      { name: "Eye color" },
      { name: "Iris" },
      { name: "Shine" },
      { name: "Bottom lid" },
      { name: "Top lid" },
    ],
  },
]

[2022-03-14 15:47] bolshoytoster commented on #366
@Lucobos1970 you need to run `npm install` again.

[2022-03-14 15:49] DavidYenATUM opened #940 "Cant deploy build folder"
1.1.2_patch_v6\src\main.js:4:14)
    at Module.load (node:internal/modules/cjs/loader:981:32)
    at Function.Module._load (node:internal/modules/cjs/loader:822:12)
    at Module.require (node:internal/modules/cjs/loader:1005:19) {
  code: 'MODULE_NOT_FOUND',
  requireStack: [
    'C:\\Users\\atumw\\Downloads\\hashlips_art_engine-1.1.2_patch_v6\\hashlips_art_engine-1.1.2_patch_v6\\src\\main.js',

[2022-03-14 15:50] bolshoytoster commented on #940
@DavidYenATUM can you paste the full error please.

[2022-03-14 15:51] DavidYenATUM commented on #940
Error: Cannot find module 'C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6/node_modules/sha1'
Require stack:
- C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6\src\main.js
- C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6\index.js
    at Function.Module._resol

[2022-03-14 15:52] bolshoytoster commented on #940
@DavidYenATUM you need to run `npm install` first to install the dependencies.

[2022-03-14 15:55] DavidYenATUM commented on #940
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> npm install

up to date, audited 64 packages in 942ms

6 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6>

[2022-03-14 15:56] bolshoytoster commented on #940
@DavidYenATUM  you can generate now.

[2022-03-14 15:57] DavidYenATUM commented on #940
with the npm index.js ???

[2022-03-14 15:57] bolshoytoster commented on #940
@DavidYenATUM yes.

[2022-03-14 16:00] DavidYenATUM commented on #940
no still no build file

PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> npm index.js

Unknown command: "index.js"

To see a list of supported npm commands, run:
  npm help
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6>

[2022-03-14 16:04] bolshoytoster commented on #940
@DavidYenATUM you need to run either `node index.js` or `npm run build`.

[2022-03-14 16:05] DavidYenATUM commented on #940
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> npm run build
npm ERR! Missing script: "build"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\atumw\AppData\Local\npm-cache\_logs\2022-03-14T16_04_58_300Z-debug.log
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6>

[2022-03-14 16:06] bolshoytoster commented on #940
@DavidYenATUM sorry, it's `npm run generate`. I was confused with a different project.

[2022-03-14 16:08] DavidYenATUM commented on #940
im so confused

S C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> npm run generate
npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\atumw\AppData\Local\npm-cache\_logs\2022-03-14T16_07_32_442Z-debug.log
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2

[2022-03-14 16:09] bolshoytoster commented on #940
@DavidYenATUM you're in the wrong folder then. Run `Get-ChildItem -Directory` to get the name, the run `cd ` + name to go into it.

[2022-03-14 16:12] DavidYenATUM commented on #940
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> cd
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> ls

    Directory: C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----         3/10/2022     17:47                .vscode
d-----         3/14/2

[2022-03-14 16:12] bolshoytoster commented on #940
@DavidYenATUM run `cd hashlips_art_engine-1.1.2_patch_v6`.

[2022-03-14 16:14] DavidYenATUM commented on #940
Nothing happened should i move the file or redownload it again

PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> cd hashlips_art_engine-1.1.2_patch_v6
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> run cd hashlips_art_engine-1.1.2_patch_v6
run : The term 'run' is not recognized as the name of a cmdlet, function, script file, or ope

[2022-03-14 16:17] bolshoytoster commented on #940
@DavidYenATUM without the 'run'.

[2022-03-14 16:19] DavidYenATUM commented on #940
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> cd hashlips_art_engine-1.1.2_patch_v6
cd : Cannot find path 'C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6' because it does not
exist.
At line:1 char:1
+ cd hashlips_art_engine-1.1.2_patch_v6
+ ~~~~~~~~~~~~~~~~~~~~~~~

[2022-03-14 16:20] bolshoytoster commented on #940
@DavidYenATUM can you send the output of `Get-ChildItem` please.

[2022-03-14 16:21] DavidYenATUM commented on #940
Directory: C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          3/7/2022     11:33                .github
d-----         3/14/2022     11:20                .yarn
d-----          3/7/2022     11:33                constants
d-----

[2022-03-14 16:24] bolshoytoster commented on #940
@DavidYenATUM you can run `npm run build` now.

[2022-03-14 16:25] DavidYenATUM commented on #940
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> npm run build

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6/node_modules/sha1'
Require stack:
- C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_

[2022-03-14 16:27] bolshoytoster commented on #940
@DavidYenATUM `npm install`.

[2022-03-14 16:28] DavidYenATUM commented on #940
}
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6> npm install

added 67 packages, and audited 68 packages in 4s

6 packages are looking for funding
  run `npm fund` for details

5 vulnerabilities (3 moderate, 2 high)

To address all issues, run:
  npm audit fix

Run `npm audit` for details.
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_pat

[2022-03-14 16:29] bolshoytoster commented on #940
@DavidYenATUM `npm run build`.

[2022-03-14 16:34] DavidYenATUM commented on #940
thanks that worked
 can you kind of explain what the issue was so if i have this problem again i know how to fix it

[2022-03-14 16:40] bolshoytoster commented on #940
@DavidYenATUM the main one was that you were in the wrong folder. If you are, it'll give an error like:
[code]
If so, run you can probably run `cd hashlips_art_engine-1.1.2_patch_v6` to go there.

If that gives an error like:
[code]
Then you can run `Get-ChildItem -Directory` to get a list of sub-folders, run `cd ` + the name of the one most similar to `hashlips_art_engine-1.1.2_patch_v6`.

[2022-03-14 16:53] DavidYenATUM commented on #940
ok thanks just 2 more questions what do i do about blurry images

and  what do i do when all my layers are not showing up

[2022-03-14 16:54] DavidYenATUM commented on #940
i made sure all my files had # and it was no dashes or anything but only my back ground is showing up

[2022-03-14 16:55] DavidYenATUM commented on #940
C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6\src\main.js:77
        throw new Error(`layer name can not contain dashes, please fix: ${i}`);
              ^

Error: layer name can not contain dashes, please fix: FADORA 3 FOR-BEARS#10.psd.png
    at C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6\src\mai

[2022-03-14 17:54] bolshoytoster commented on #940
@DavidYenATUM

In `src/main.js` ~line 113:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L113-L118

I think you can change `canvas.toBuffer("image/png")` to `canvas.toBuffer("image/png", { resolution: 300 })` and increase the 300 (ppi).

---

You also need to make sure none of your image names have dashes in them.

[2022-03-14 17:54] yantsarakhov opened #941 "npm run build doesnt work"
Error: ENOENT, No such file or directory 'C:\Users\ДОМ\Desktop\hashlips_art_engine-main/layers/Background/Black#1.png'
    at setSource (C:\Users\ДОМ\Desktop\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\ДОМ\Desktop\hashlips_art_engine-main\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\ДОМ\Desktop\hashlips_art_engine-main\node_modules\canvas\i

[2022-03-14 18:07] bolshoytoster commented on #941
@yantsarakhov this is quite a notorious issue and I'm not sure how to fix it.

However, whenever I see it, the path has russian in it. Could you try moving the `hashlips_art_engine-main` folder somewhere that isn't in your user's folder (`C:/Users/Public/` is probably a good place).

[2022-03-14 18:11] yantsarakhov commented on #941
@bolshoytoster it worked, thank you!

[2022-03-14 18:23] #941 closed, assigned to nobody

[2022-03-14 18:53] Lucobos1970 commented on #366
Thanks my friend...  sorry to be a pain, but I tried running npm install ...
In the Build folder, inside the json folder I have all .json files ... but the images folder is empty.

In the config.js file I tried this code:
// If you have selected Solana then the collection starts from 0 automatically
const layerConfigurations = [
  {
    startEditionFrom: 10,
    growEditionSizeTo: 20,
    layersOr

[2022-03-14 19:02] DavidYenATUM commented on #940
ok thanks
  what about the other layer not showing up in the build

[2022-03-14 19:17] bolshoytoster commented on #366
@Lucobos1970 I'm fixing this problem now actually.

[2022-03-14 19:37] bolshoytoster commented on #940
@DavidYenATUM could you paste your `layersConfiguration` please, and which layers aren't showing up.

[2022-03-14 21:10] emirhansirkeci opened #942 "Dont use specific layer item"
![image](https://user-images.githubusercontent.com/46795644/158261688-56c2dfe4-bc7e-4a13-8e64-8a3061494549.png)

I dont want to use these layer items how can i do that without deleting them? I want to use them just a few times.

[2022-03-14 21:12] bolshoytoster commented on #942
@justChargin you could move them out of the folder.

[2022-03-14 21:16] emirhansirkeci commented on #942
@bolshoytoster but i want to use them after. check this out:

![image](https://user-images.githubusercontent.com/46795644/158262699-b61fe611-c472-4fdf-b6ab-9e6a2795cf06.png)

[2022-03-14 21:24] DoubleL2 opened #943 "InvalidTokenUrlResponseException: Invalid JSON response for URL:"
So, been following along pretty close in the Masterclass. I've been Painfully successful so far. The contract works as far as turning on whitelist etc. But here is my issue and I'm not sure if it's in the art_engine or smart_contract. When I mint an NFT, it seems to work and shows up in testnets.opensea.io under my account (all good) but there is no image and I'm noticing there is no updated name

[2022-03-14 21:27] bolshoytoster commented on #942
@justChargin then it's probably easiest to have to seperate folders, one containing those elements and one without.

[2022-03-14 21:29] emirhansirkeci commented on #942
But i cant name layers same then... Windows dont let me do that. ):

![image](https://user-images.githubusercontent.com/46795644/158265824-365259c4-6881-485b-b1a9-650128cbd636.png)

[2022-03-14 21:50] bolshoytoster commented on #942
@justChargin you could make a folder `special`, then make a `Bottom Flavour` in there.

Then in your `layersOrder` you can write `special/Bottom Flavour`.

[2022-03-14 21:53] emirhansirkeci commented on #942
You... are amazing. This is so usefull trick i will try tomorrow. Thanks :)

[2022-03-14 22:11] Lucobos1970 commented on #366
Hello bolshoytoster... Thanks really... very very helpful...

[2022-03-15 03:00] hece0305 commented on #939
@bolshoytoster need change 10000times if i make 10000 json?

[2022-03-15 05:52] DavidYenATUM commented on #940
PS C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6> layersConfiguration
layersConfiguration : The term 'layersConfiguration' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or
if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ layersConfiguration
+ ~~~~~~~~~~~~~~~~~~~
    + Cat

[2022-03-15 06:24] bolshoytoster commented on #939
@hece0305 could you hove an example of what you want it to look like?

[2022-03-15 06:25] bolshoytoster commented on #940
@DavidYenATUM it's in your `src/config.js` file.

[2022-03-15 07:42] hece0305 commented on #939
@bolshoytoster
![스크린샷(2)](https://user-images.githubusercontent.com/101531921/158329505-145c9d2c-1119-4467-8f1c-aef7a16c257b.png)
![화면 캡처 2022-03-15 163935](https://user-images.githubusercontent.com/101531921/158329519-37c38d6b-424f-4ea2-9b2d-0763691393e0.png)

like this
thx

[2022-03-15 07:45] hece0305 commented on #939
@bolshoytoster

![스크린샷(2)](https://user-images.githubusercontent.com/101531921/158330012-20142821-c133-49a0-85c1-fd067c6c476d.png)
![화면 캡처 2022-03-15 163935](https://user-images.githubusercontent.com/101531921/158330020-6171c23b-d12a-46c5-b308-b726a1d46b04.png)

like this

[2022-03-15 07:50] hece0305 commented on #939
1.json =" your colection  #1 "
=>
1.json= "your colection #1 black white yellow small"
--------------------------------------------------------------------
2.json="your colection #2"
=>
2.json="your colection #2 black red purple small"
----------------------------------------------------------------'
.
.
.
10000.json

[2022-03-15 09:49] emirhansirkeci commented on #942
Unfortunately it didn't work properly.

![image](https://user-images.githubusercontent.com/46795644/158351523-d50cd924-bf46-49ee-95f2-f0bf39744f27.png)
![image](https://user-images.githubusercontent.com/46795644/158351560-6183728d-4d4e-42e1-91b3-f518443d576c.png)

[2022-03-15 10:16] justChargin commented on #942
![image](https://user-images.githubusercontent.com/46795644/158356275-ca46dd41-49c6-41e5-ba75-4b133d5b8078.png)

Is there a regex to remove /any_file_name from our layer name?

[2022-03-15 13:52] granthughes1999 opened #944 "Want to Add 5 NFTs to the metadata."
Hello,

I want to add 5 custom NFTs and their associated metadata to the start of the collection. My plan is to run node index.js and then add the images and their metadata to the correct folders.

Is there a way to have node index.js start the first NFT and its associated metadata with the number 6? that way I can easily place the first 5 into the collection.

Thanks!

[2022-03-15 13:59] granthughes1999 commented on #944
SOLUTION

I am simply going to have the const shuffleLayerConfigurations = true; at which point I will render the full collection. and replace the first 5 images and metadata.

[2022-03-15 14:16] DoubleL2 commented on #943
JSON looks like it's properly formatted, but still nothing updated on the NFTs, yet they seem to be pulling the correct files.

[2022-03-15 15:18] thepeanutgalleryandco commented on #944
@granthughes1999 you can always have 6 layerconfiguration items. Then specify your unique items as growth size of 1 and then your last configuration as your less random editions.

You can also check out my repo where I have added filtration options - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection

[2022-03-15 15:21] thepeanutgalleryandco commented on #942
@justChargin I have added filtration rules into my code repo - https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection . You are more than welcome to check out max reparability, incompatible and dependent rules, which i think is what you might need.

[2022-03-15 15:22] emirhansirkeci commented on #944
@thepeanutgalleryandco can you check this out too? https://github.com/HashLips/hashlips_art_engine/issues/942 is your repo able to do that?

[2022-03-15 15:39] thepeanutgalleryandco commented on #944
@justChargin Yes, you can do both in my repo. I have answered your question with exclusions in the other ticket.

The below setup would make unique items for NFT for @granthughes1999  editions 1, 2, 3, 4 and 5, while 6 -20 (the next 15) will be randomised / generated between the different layers. You will see that for items 2, 3, 4, 5, 6 - 20, I removed certain layers that can be found in edition

[2022-03-15 15:50] thepeanutgalleryandco commented on #942
@justChargin

The below setup would make unique items for editions 1, 2, 3, 4 and 5.

Editions 6 -20 would be generated from there, but have a maximum of 2 repeated Eye color layers, so be careful, as this can really limit you. It might be better to set the limit at a layer item level instead of a global or layer level. In my test, my layers stopped generating after edition 5 as my layers already

[2022-03-15 16:01] thepeanutgalleryandco commented on #935
@R5whos more than welcome to check out my repo. I have added filtration rules for dependent traits, incompatible traits and maximum repeatability of traits ;)

[2022-03-15 16:12] DoubleL2 commented on #943
OK, so the issue is in hashlips engine. THings have changed apprently. The appended comma at the end of the last of the json file needs to be removed and file_url no longer works. image should be used instead. With that said, if you copy one of your json files for hidden, be sure to remove the extra comma. Also, be sure to change the code to use "image" instead of "file_url".

[2022-03-15 16:30] #943 closed, assigned to nobody

[2022-03-15 16:42] bolshoytoster commented on #939
@hece0305 you could use:
[code]

[2022-03-15 16:46] nonstopweb3 commented on #935
bro, You are a fucking genius, thank you

[2022-03-15 18:17] hece0305 commented on #939
@bolshoytoster
you are a superman!! I use 10hours and didnt fine a way .....  thx bro
then can i ask onemore time?? its last time.  please

[2022-03-15 18:18] bolshoytoster commented on #939
@hece0305

alright.

[2022-03-15 18:20] hece0305 commented on #939
![화면 캡처 2022-03-15 163935](https://user-images.githubusercontent.com/101531921/158445085-2b60eb2d-fba3-4ffd-b33e-570d9680d19f.png)

how to use value to name if i want use  only   background and eyecolor       thanks bro

[2022-03-15 18:44] bolshoytoster commented on #939
@hece0305 something like this:
[code]

[2022-03-15 18:58] hece0305 commented on #939
@bolshoytoster

really thanks full
thx bro you r a ironman  :)

[2022-03-16 03:04] VeriumETH commented on #238
I am also interested if this can be done after the metadata has been compiled. Can the removeTrait script be modified to remove lines such as DNA, Editions, Date, etc?

[2022-03-16 07:27] Golem97 commented on #914
I actually have the same problem , but i can't find solutions ...@mattray7 did you find somthing to fix your error ?

[2022-03-16 08:19] bolshoytoster commented on #238
@VeriumNFT I don't know where the 'removeTrait script' is, but you can go into `utils/update_metadata.js`, then between ~lines 26-27:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L26-L27

insert `delete item.dna`/`delete item.edition`/`delete item.date`/ whatever else you want to delete.

[2022-03-16 09:10] mattray7 commented on #914
@Golem97 do you have a new MAC? I needed to download JS Node version 14.17.3 and that fixed the issue

[2022-03-16 09:13] Golem97 commented on #914
@mattray7  Yes i Have a new MAC but i already try this issue :  (version 14.17.3)

[2022-03-16 09:15] mattray7 commented on #914
@Golem97 try version 14.18, other than trying different node JS versions I’m not sure.

[2022-03-16 09:57] cristianpaulille opened #945 "image dataset for machine learning"
How can i export an image dataset for machine learning after generating the images?

[2022-03-16 09:58] pokerpug opened #946 "Layers with .PNG & GIF"
Hi,

I believe this has been asked before in a variety of different way, but just looking to see if anyone has found a solution.

In short I have multiple layers some of which are .GIF files others .PNG. and looking to combine these together.
E.g. Layer 1 Background - .PNG
Layer 2 - Face - .GIF
Layer 3 - Body .PNG
Layer 4 - Arms .GIF
*Final output being also a .GIF file.

Any alternative art gener

[2022-03-16 10:22] Lypheal opened #947 "How to pixelate gifs?"
I am not able to pixelate gif files using _node utils/pixelate.js_

[2022-03-16 12:01] bolshoytoster commented on #945
@cristianpaulille what are you exporting them to?

[2022-03-16 12:04] cristianpaulille commented on #945
@bolshoytoster I was trying to experiment with Runwayml

[2022-03-16 12:07] bolshoytoster commented on #946
@pokerpug no, the library we use for creating gifs - `gif-encoder-2` - does not support loading them.

[2022-03-16 13:04] bolshoytoster commented on #947
@Lypheal it wouldn't be possible because the library we use to make the gifs doesn't support loading them.

[2022-03-16 13:07] Lypheal commented on #947
Is it possible if they were generated by something else?

[2022-03-16 14:40] bolshoytoster commented on #945
@cristianpaulille can you not just upload the images?

[2022-03-16 14:43] bolshoytoster commented on #947
@Lypheal probably, but it doesn’t look like anyone else wants this, so you’d have to implement it yourself.

[2022-03-16 15:14] DavidYenATUM commented on #940
good day
 growEditionSizeTo: 10,
    layersOrder: [

      { name: "Background" },
      { name: "Alien head gear" },
      { name: "Alien face accessories" },
      { name: "Alien eyes" },
      { name: "Alien head" },
      { name: "Hand accessories" },
      { name: "Clothes" },
      { name: "Tan pants" },
      { name: "Shoes" }
    ],
   }, {
    growEditionSizeTo: 20,
    layersOrder: [

[2022-03-16 15:14] DavidYenATUM commented on #940
only the background is showing no matter how i run it

[2022-03-16 17:09] DavidYenATUM opened #948 "Only background images is showing"
Good day im having a issue with the layers and they are also blurry

[2022-03-16 17:52] thepeanutgalleryandco commented on #947
@Lypheal what process wil lbe creating your gifs?

[2022-03-16 18:32] bolshoytoster commented on #940
@DavidYenATUM your `layersOrder`s are in the wrong order - background should be first.
i.e.
[code]
instead of
[code]

[2022-03-16 18:40] bolshoytoster commented on #948
@DavidYenATUM you can increase the number of pixels in the output images in  `src/config.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L47

You can increase the resolution in `src/main.js` ~line 116:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L115-L117

You can chan

[2022-03-16 18:48] DavidYenATUM commented on #940
Created edition: 39, with DNA: e259a4afb5307c3493a2b7284150662bbea627e9
Created edition: 40, with DNA: 8063a245e6beb3ff1b176cbcea2a40011f040fbf
node:fs:1390
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6/layers/baby accessories/'
    at Object.readdirSync (node:fs:

[2022-03-16 18:50] bolshoytoster commented on #940
@DavidYenATUM make sure the `layers/baby accessories` folder exists, you may have misspelled it.

[2022-03-16 18:55] DavidYenATUM commented on #940
its baby face accessories but its not showing as that
and i removed the rest just to text the fox layers but i tried to pull the baby face accessories

[2022-03-16 19:00] metadimensions opened #949 "Creating padded hex format for the images & json file names"
Hello,

I need to deploy the ERC-1155 contract but I am facing issues with it because ERC-1155 will only accept files with 64- padded hex format which hosted on IPFS.

`0000000000000000000000000000000000000000000000000000000000000000.png
0000000000000000000000000000000000000000000000000000000000000001.png
0000000000000000000000000000000000000000000000000000000000000000.json
00000000000000000000000

[2022-03-16 19:03] bolshoytoster commented on #940
@DavidYenATUM can you change `baby accessories` in your `layersConfiguration` to `baby face accessories` then?

[2022-03-16 19:06] DavidYenATUM commented on #940
![Screenshot_90](https://user-images.githubusercontent.com/98710144/158667764-b106c893-868f-48e6-89d4-2fcd33e72de1.png)

[2022-03-16 19:32] bolshoytoster commented on #949
@metadimensions I've just  pushed a commit to [my fork](https://github.com/bolshoytoster/hashlips_art_engine) that lets you do this. You can set `padEdition` to 64 and `hexEdition` to true in `format` in `src/config.js`.

[2022-03-16 19:33] bolshoytoster commented on #940
@DavidYenATUM can you paste your `layersConfigurations` again please.

[2022-03-16 19:36] DavidYenATUM commented on #940
{
    growEditionSizeTo: 10,
    layersOrder: [

  { name: "Background" },
  { name: "Shoes" },
  { name: "Tan pants" },
  { name: "Clothes" },
  { name: "Hand accessories" },
  { name: "Fox head" },
  { name: "Fox eyes" },
  { name: "Fox face accessories" },
  { name: "Fox head gear" },
    ],
   }, {
    growEditionSizeTo: 20,
    layersOrder: [

      { name: "Fox head gear" },
      { name: "F

[2022-03-16 19:50] bolshoytoster commented on #940
@DavidYenATUM in the last one, change `baby accessories` to `Baby face accessories`.

[2022-03-16 19:59] metadimensions commented on #949
@bolshoytoster Oh I was trying to change the _editioncount on main.js but this one is simple.

Will check this. Thanks bro.

[2022-03-16 20:07] DavidYenATUM commented on #940
i changed it

Created edition: 40, with DNA: 989402de6350f69c212cd509847db562b9e28a12
node:fs:1390
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\atumw\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6/layers/baby accessories/'
    at Object.readdirSync (node:fs:1390:3)
    at getElements (C:\Users\atumw\Downloads\hashl

[2022-03-16 20:09] bolshoytoster commented on #940
@DavidYenATUM make sure you save the file when you change it.

[2022-03-16 20:10] VeriumETH commented on #238
Apologies @bolshoytoster, I was using NFT Chef's version of this art engine. They are very similar in utilities, but I was able to remove the information post compile. I appreciate this info, and hope it helps others using this art engine!

[2022-03-16 20:16] DavidYenATUM commented on #940
its running all the files now but only background is showing

[2022-03-16 20:28] bolshoytoster commented on #940
@DavidYenATUM you need to reverse the `layersOrder`s.

[2022-03-16 20:29] DavidYenATUM commented on #940
ok i will try that

[2022-03-17 05:40] Pinper6 commented on #861
@bolshoytoster hi, sir..  i face the same issue. All layers files are .gif with animation, after running as you said, it creates three folders called: gifs, images, json..
1. gifs folder:   animation, yes.. but it combined with statics images source from following images folder.
2. images folder:   it's the PNG statics images of the .gif layers. combination is right
3. json is alright.
Engine can'

[2022-03-17 07:57] bolshoytoster commented on #861
@Pinper6 sorry, the library we use for gifs doesn't support loading them.

[2022-03-17 10:57] nilolalolal opened #950 "How to set correct pixel quality values in the javascript code?"
After generating quality of designs goes down.
When checking 'true' in 'smoothing' is better but still low quality.
but if it's 'false' in 'smoothing' it's really low

[2022-03-17 11:21] metadimensions commented on #949
@bolshoytoster Hey! I tried your method, the files are saving in hex format but alphabetic characters are coming in the sequence.

It is saving like this:-

[code]

Is there a way we can save this in numerical sequence?

[2022-03-17 13:11] bolshoytoster commented on #950
@nilolalolal In src/main.js ~line 116:

https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L113-L118

You can change `canvas.toBuffer("image/png")` to `canvas.toBuffer("image/png", { resolution: 300 })` where 300 is the resolution in ppi.

[2022-03-17 13:12] bolshoytoster commented on #949
@metadimensions it doesn't matter, saving is async so it won't be in the right order.

[2022-03-17 13:27] metadimensions commented on #949
@bolshoytoster we need to generate 7000+ NFTs and store them on IPFS to deploy it.

On the smart contract, it will cause an error right if we loop it? this how our script looks like

`constructor()
        ERC1155(
            "https://gateway.pinata.cloud/ipfs/{id}.json"
        )
    {
        // account, token_id, number
        for (uint i = 0; i < 100; i++) {
            _mint(msg.sender, i,

[2022-03-17 14:20] nilolalolal commented on #950
Thank you.
I tried that, but it's still the same.
When generate in on other PC quality is good. same engine.

[2022-03-17 16:56] bolshoytoster commented on #949
@metadimensions that code isn't very helpful.

Could you:
1. Tell me what language it's in.
2. Provide the code where `id` is defined.
3. paste it within **triple** backticks
I.e.
\`\`\`
code
\`\`\`

[2022-03-17 16:58] bolshoytoster commented on #950
@nilolalolal if you generate with the one PC and transfer the images to the other does the quality change?

[2022-03-17 17:02] metadimensions commented on #949
@bolshoytoster  that's the ERC-1155 solidity contract

[code]

The URI can include the string {id} which clients must replace with the actual token ID, in lowercase hexadecimal (with no 0x prefix) and leading zero-padded to 64 hex characters.

Reference:- https://docs.openzeppelin.com/contracts/3.x/erc1155

[2022-03-17 17:22] bolshoytoster commented on #949
@metadimensions I don't know solidity, and I'm not sure if I've understod your question correctly, but I think this might
[code]

[2022-03-17 17:53] magoit07 opened #952 "How to increase max. weight?"
I have lots of traits so total weight of 100 is too low. What do i have to change to increase weight to 1000 ?

[2022-03-17 18:06] bolshoytoster commented on #952
@magoit07 there isn't a max (technically it's 1.79 X 10^308).

[2022-03-17 18:13] magoit07 commented on #952
what i mean is that by default the elements of each trait must add up to 100. I want to increase that number to 1000, how can i do that?

[2022-03-17 18:15] bolshoytoster commented on #952
@magoit07 they don't have to add up to 100.

[2022-03-17 18:17] magoit07 commented on #952
ok thank you i will try.

[2022-03-17 18:24] virgamadalina opened #953 "json problem"
i generated 70 png and i have also json for them but i have some extra json
exeple: 1.png.     1.json
             2 png.    2.json
                            2 2.json
             3 png.      3 json
             4 png     4 2 json

what i have to do?

[2022-03-17 18:26] bolshoytoster commented on #953
@virgamadalina I don't know how they were made (what commands have you run & what version of hashlips are you using) but you can probably just delete them.

[2022-03-17 18:28] virgamadalina commented on #953
yes. i can do that but i want to have 5555 and it is hard to check it all

 1.1.2 version

[2022-03-17 18:29] bolshoytoster commented on #953
@virgamadalina you can delete all of the files apart from `_metadata.json` then run `node utils/update_metadata.js` to regenerate them.

Also, what commands have you run?

[2022-03-17 18:34] metadimensions commented on #949
Thanks for this.

Even I am not good at Solidity, but tried to upload the Paddedhex named files to IPFS and deployed the contract it works.

But is there way to avoid the alphanumeric characters on the filenames while generating?

The sequence is not a problem just need ensure that it shouldn't come like this: 2b or 2f (filenames)

[code]

[2022-03-17 18:34] virgamadalina commented on #953
im very noob
i follow the steps. 1.download zip code
2. nmp install
3. i configued all the layers,i saved it and after
4. node index.js
5. nest step should be to node utils update info after i have a cid
6.

[2022-03-17 18:49] virgamadalina commented on #953
i run it again and this time everthing was ok. now im trying to list the test collection on devnet tosee how it looks
  thanks for your time

[2022-03-17 19:14] bolshoytoster commented on #949
@metadimensions so you don't want them to be hex?

[2022-03-17 23:10] Fr4nc3sc0O commented on #854
Have you solved your problem? I am also interested in a solution to this.

[2022-03-17 23:47] bolshoytoster commented on #854
@Fr4nc3sc0O I think [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine) might have this.

[2022-03-18 00:05] thepeanutgalleryandco commented on #854
@SamFordGH @Fr4nc3sc0O yes, you can check out my repo for filtration options on your layerconfigurations.

[2022-03-18 01:05] Fr4nc3sc0O commented on #914
node version 14.18 worked for me. thanks a lot for the hint

[2022-03-18 09:41] cristianpaulille commented on #945
it asked me for a .pkl file as well, but i managed, a set of .png works just fine , thanks anyway @bolshoytoster

[2022-03-18 10:10] bettyboomy opened #954 "One layer create more than one attribute to fix an attribute hierarchy problem"
Hello everybody,

Thanks in advance for your help and amazing work!

I need to know if it is possible: That one layer create different attributes in json file.

For example:

A layer call "face" can generate two attributes in json file: "black" and "smile".

I'm asking this because I have this problem (maybe someone else comes up with another solution):  I would like my NFT collection to be well s

[2022-03-18 10:21] thepeanutgalleryandco commented on #954
Hi @bettyboomy

Feel free to check out my repo's filtration options that allows for dependant traits ( which I think you are in need of ), maximum repeatability and incompatable traits.

Cheers,
Rohan

[2022-03-18 10:36] bettyboomy commented on #954
Hello @thepeanutgalleryandco,

Thanks Rohan for your answer, I think you're right :) (although since I'm not an expert at all and English is not my mother tongue, I'll see if I'm able to understand everything).

BR
Betty

[2022-03-18 10:41] Makar170821 opened #955 "Node index.js проблема запуска, как решить?"
C:\Users\User\Desktop\hashlips_art_engine-main>node index.js
(node:7208) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
C:\Users\User\Desktop\hashlips_art_engine-main\src\main.js:274
  return _dna.replace(query, "

[2022-03-18 10:43] mkenyon1984 opened #956 "Yarn install"
Hi
When I run yarn install I get this error:

yarn install v1.22.17
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
error Couldn't find the binary git
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

Can anyone help?

[2022-03-18 12:06] metadimensions commented on #949
@bolshoytoster No bro it should be like this:-

[code]

The last ending should be a number rather than alphanumeric characters. Hope you understand now.

[2022-03-18 12:42] msc07ihk opened #957 "auction"
Does anyone know how to set an auction on Ethereum instead of fix price in the smart contract? Thanks!!!

[2022-03-18 15:52] bolshoytoster commented on #955
@Makar170821 Не могли бы вы попробовать использовать [мою вилку](https://github.com/bolshoytoster/hashlips_art_engine)?

[2022-03-18 15:54] bolshoytoster commented on #956
@mkenyon1984 can you delete the `node_modules` folder and try again.

[2022-03-18 15:58] bolshoytoster commented on #949
@metadimensions you can set `hexEdition` to false in `src/config.js`.

[2022-03-18 16:50] KS1388 commented on #500
The creator goes to somebody else after creating NFTs.  Do I have to change this to my wallet address?

[2022-03-18 17:07] Makar170821 commented on #955
**********************************************************************
** Visual Studio 2022 Developer Command Prompt v17.1.0
** Copyright (c) 2021 Microsoft Corporation
**********************************************************************

C:\Users\User\Downloads\hashlips_art_engine-main>npm install

added 66 packages, and audited 67 packages in 26s

6 packages are looking for funding
  run `npm

[2022-03-18 17:14] devangmukherjee opened #958 "npm install issue"
Hi, when I run `npm install` I get this error

devang@Devangs-MacBook-Air hashlips_art_engine % npm i
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old

[2022-03-18 17:14] ZawadiMan commented on #932
Problem #1
If you have multiple  layerConfigurations but don't use the startEditionFrom: the created files numbers are not in sequence.
Problem #2
One more file than growEditionSizeTo is set to is created.

Also, growEditionSizeTo has changed functionality from original, seems to function as a growEditionSizeWith now (which is actually more logical).

Using this code:

const layerConfigurations =

[2022-03-18 17:22] bolshoytoster commented on #955
@Makar170821 Извините, я исправил это, не могли бы вы попробовать перезагрузить мой форк, пожалуйста.

[2022-03-18 17:23] bolshoytoster commented on #958
@devangmukherjee this is a notorious issue with M1 macs.

You could try looking at [other related issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for potential solutions.

[2022-03-18 17:32] bolshoytoster commented on #932
@ZawadiMan

Yep, I didn't want to change the name though, to keep compatibility with the main repo.

Could you give an example? I thought I fixed it.

Saved edition: 10 <<--why not 11 ?

It's out of order because saving is done async. It doesn't make any difference to the collection.

For me, this works fine, and the `layersConfiguration` you provided only creates 6 images.

It's javascript, not p

[2022-03-18 17:58] Makar170821 commented on #955
При вводе команды node index.js она запущена, следующая строка пустая и пол часа ничего не происходит.
Я не профессионал и далек от программирования. Идея состоит  в том, что бы задний фон генерировался из 400 квадратов (1 квадрат 25х25 pixel) общей площадью в 1000х1000 pixel. Возможно я неправильно прописал это?

[2022-03-18 19:05] ZawadiMan commented on #932
Ok, thanks for the explanation.

My code:
const layerConfigurations = [
   {
     growEditionSizeTo: 2,
     layersOrder: [
       { name: "BackgroundRare" },
       { name: "BodyRare" },
       { name: "EarsRare" },
       { name: "MessagesRare" },
     ],
   },
   {
    growEditionSizeTo: 2,
    layersOrder: [
      { name: "BackgroundRare" },
      { name: "BodyRare" },
      { name: "EarsRare"

[2022-03-18 21:14] bolshoytoster commented on #955
@Makar170821 Вы должны запустить `node index.js`

[2022-03-19 04:38] patrickmack89 commented on #436
I'm trying to use your code for the big metadata file as mine is messed up also but I'm getting an error.

PS C:\Users\patri\OneDrive\Desktop\hashlips_art_engine-main> node utils/bigMetaMakeFile.js
C:\Users\patri\OneDrive\Desktop\hashlips_art_engine-main\utils\bigMetaMakeFile.js:1
const fs = require("fs"); const path = require("path"); const { createCanvas, loadImage } = require("canvas"); const b

[2022-03-19 09:12] bolshoytoster commented on #436
@patrickmack89 you need an extra backtick.
change
[code]
to
[code]

[2022-03-19 16:48] metadimensions commented on #949
@bolshoytoster Thanks a lot bro, it worked!

[2022-03-19 17:33] largeweb commented on #436
Yes it looks like you forgot a backtick, using JSX syntax you need to always use backticks.

[2022-03-19 18:06] Twinklosophy opened #960 "Is it Possible to generate exact number of certain layer?"
Hello~

Just wondering if anyone knows how to generate a layer with an exact number of occurrencess instead of percentage-based?
For example, I want specific.png only occurs in 5 pieces of images instead of 5% out 500 randomly generated images.

[2022-03-19 18:09] bolshoytoster commented on #960
@Twinklosophy I think [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine) might have this.

[2022-03-19 19:46] mammawrites commented on #923
thank you for responding. I decided to move forward with pngs rather than the gifs. Will try this in the next project.
Wondering if you could help with an error after successfully deploying the ERC721 contract. I followed hashlips steps exactly. Was even able to mint all 3600 nfts. But, polygonscan is showing a warning. I found it when I went in to reveal the collection. It says ...Solidity Compil

[2022-03-19 20:08] bolshoytoster commented on #923
@mammawrites I think you can ignore the warning.

[2022-03-19 20:12] mammawrites commented on #923
Okay, thank you so much for always responding. It is appreciated.

[2022-03-20 01:46] AbdullahAlbahri commented on #911
same

[2022-03-20 02:45] 0kt4y opened #961 "Shuffle Generation Problem"
when shuffle is true in case you have more than one layer configuration it's not working
this is the err
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! hashlips_art_engine@1.1.1 generate: `node index.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the hashlips_art_engine@1.1.1 generate script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output ab

[2022-03-20 02:51] #961 closed, assigned to nobody

[2022-03-20 08:48] waitforitx commented on #955
You most probably get this error because you got an empty layer folder.

[2022-03-20 08:58] bolshoytoster commented on #911
@AbdullahAlbahri You can try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-03-20 09:52] bolshoytoster commented on #955
@waitforitx cheers, I've fixed this in my fork.

@Makar170821 Попробуйте переободрить мою вилку.

[2022-03-20 11:13] deanodog94 opened #962 "npm run generater issue"
pm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\User\Desktop\hashlips_art_engine-1.1.2_patch_v6\package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\User\Desktop\hashlips_art_engine-1.1.2_patch_v6\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run ca

[2022-03-20 11:16] bolshoytoster commented on #962
@deanodog94 you're in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + name do change into it.

[2022-03-20 11:21] deanodog94 commented on #962
i just noticed i opened one folder too early. installed now. one more issue now..

PS C:\Users\User\Desktop\generative-art-opensource-3\generative-art-opensource-3> npm run generate
npm ERR! missing script: generate

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\User\AppData\Roaming\npm-cache\_logs\2022-03-20T11_20_45_840Z-debug.log
PS C:\Users\User\Desktop\generative-

[2022-03-20 11:29] deanodog94 commented on #962
thank you all fixed

[2022-03-20 11:45] M1lfsh4k3 commented on #466
Same problem as above, for some reason when i count with calculator im supposed to be able to generate 10752 images, but it aborterd at 8-9k due to unsufficient layers. Dont know why or how and for that no _metadata.json generated and now im stuck.

Also trying the npm run generate_metadata but nothing happend except it emptied the entire json folder and studio code froze...

[2022-03-20 11:54] bolshoytoster commented on #466
@M1lfsh4k3 Because of the way hashlips generates dna, it will run into too many duplicates. You could remove the check by removing the line `uniqueDnaTorrance++` at ~line 411 in `src/main.js`. (It will take a while to create a collection though)

[My fork](https://github.com/bolshoytoster/hashlips_art_engine) creates the `_metadata.json` file even if it runs into too many duplicates, you could use

[2022-03-20 12:25] M1lfsh4k3 commented on #466
@bolshoytoster thanks mate ill try that.

[2022-03-20 13:18] C0retek opened #963 "Preview.js Bug"
preview.js line 35 reads like:
`    await loadImage(`${buildDir}/images/${nft.custom_fields.edition}.png`).then((image) => {`

but actually I think it should be:

`    await loadImage(`${buildDir}/images/${nft.edition}.png`).then((image) => {`

[2022-03-20 13:59] bolshoytoster commented on #963
@C0retek I think it should probably be
[code]

[2022-03-20 16:50] Terbinm opened #964 "I can't run node index.js"
![image](https://user-images.githubusercontent.com/80260085/159173248-4efd85c6-fe30-4cc3-a353-c1f979f649b9.png)

As described in the picture, it seems that thepackage cannot be installed

[2022-03-20 17:05] bolshoytoster commented on #964
@Terbinm it's because you're not in the right folder.

You can run `dir /AD` to get a list of subfolders and `cd ` + name to change into it. Use this to navigate into your project folder.

[2022-03-20 17:17] devidwalker commented on #932
its already not fixed

[2022-03-20 17:18] devidwalker commented on #932
not working

not working same type save start 1 to 300

[2022-03-20 17:21] devidwalker commented on #932
![uu](https://user-images.githubusercontent.com/101425710/159174531-5a2a6c31-06bd-4be6-ba0d-dbb55c51984c.png)

[2022-03-20 18:01] bolshoytoster commented on #932
@devidwalker I know for a fact that isn't my fork.

Download my fork [here](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip).

[2022-03-20 20:55] ArmaBloody opened #965 "build run problem"
User@ArmaBloody MINGW64 ~/OneDrive/Рабочий стол/nft/hashlips_art_engine (main)
$ npm run build

(node:13192) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
C:\Users\User\OneDrive\Рабочий стол\nft\hashlips_art_engi

[2022-03-20 22:39] bolshoytoster commented on #965
@ArmaBloody can you move the project folder away from any path with russian characters please (e.g. `C:/Users/Public`).

[2022-03-20 22:53] rowyant opened #966 "Node index.js not working (I am not adept in code)"
This is the error. All help is appreciated

PS C:\Users\Robert Wyant\Desktop\hashlips_art_engine> node index.js
(node:16600) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx

[2022-03-20 22:58] bolshoytoster commented on #966
@rowyant I think you just need to save the `src/config.js` file.

[2022-03-20 23:07] rowyant commented on #966
@bolshoytoster Well way to make me feel dumb lol. That did it. Thanks for the help haha

[2022-03-20 23:07] #966 closed, assigned to nobody

[2022-03-20 23:08] bolshoytoster commented on #966
@rowyant don't worry, at least you realised your mistake.

[2022-03-21 01:02] fanta1012 opened #967 "TypeError: cannot read properties of undefined reading path"
![Screenshot 2022-03-21 at 00 57 43](https://user-images.githubusercontent.com/101999344/159193943-bafb71a0-1cc0-4354-944d-9d81ed2e3b63.png)
very new to this im sure its somthing very simple can anyone help

[2022-03-21 04:16] ArmaBloody commented on #965
Russia characters it's my desktop
can i change my windows language ??

[2022-03-21 07:15] bolshoytoster commented on #967
@fanta1012 this can be caused by a few things. Could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine), it fixes most of the causes.

[2022-03-21 07:17] bolshoytoster commented on #965
@ArmaBloody you don't need to change the language, you can just move the project folder to somewhere like `C:/Users/Public`.

[2022-03-21 08:03] ArmaBloody commented on #965
ok thanks :)

[2022-03-21 08:25] C0retek commented on #963
True ! 😉

[2022-03-21 08:25] #963 closed, assigned to nobody

[2022-03-21 09:06] devidwalker commented on #932
![Untitled](https://user-images.githubusercontent.com/101425710/159231387-d1203f3b-a084-498a-a0e0-b4a46ca3d9cf.png)
not working  .....

 can you  fix it and send the config.js and main.js here please

[2022-03-21 09:16] devidwalker commented on #932
start 200
end 300

 i want save image name and metad file like this
 200.png / 200.js

not this  start 1/2/3

can you please help to and mention i you change code line . its help me change again change start number

[2022-03-21 11:09] metamacias opened #968 "Layer change"
Is there anyway I could have it set to where if a specific trait is selected, it could change the layer to another layer order. Only for that specific trait.

Example:

I have a face trait that looks like it's going through the head trait. All other face traits generate and look great layered under the head traits. This one specific trait only looks good if it's layered on top of the head trait.

[2022-03-21 11:50] fanta1012 commented on #967
Thank you, I've just read your fork makes good sense hopefully will work thank you

[2022-03-21 11:55] k-turtle opened #969 "i don't know what is the problem"
C:\Users\창원남산고등학교\Downloads\hashlips_art_engine-1.1.2_patch_v6>npm run build
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\창원남산고등학교\Downloads\hashlips_art_engine-1.1.2_patch_v6/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\창원남산고등학교\Downloads\hashlips_art_engine-1.1.2_patch_v6\package.json'
npm ERR! enoent This is related to

[2022-03-21 12:29] bolshoytoster commented on #932
@devidwalker your `src/config.js` is good, could you:
1. make a copy of your `config.js`
2. delete your project folder (`hashlips_art_engine-1.1.2_patch_v6`)
3. download my fork: https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip
4. unzip it
5. open it in visual studio
6. replace the `config.js` file with your copy

[2022-03-21 12:30] bolshoytoster commented on #968
@M3taMacias you could have a separate `layersConfiguration` just for that trait.

[2022-03-21 12:35] bolshoytoster commented on #969
@k-turtle your terminal is in the wrong folder. You can run `Get-ChildItem -Directory` to get the name and run `cd ` + name to change into it.

You’ll probably also run into an issue with having non-ascii characters in your path, you should probably move your project folder into somewhere like `C:/Users/Public` to avoid that.

[2022-03-21 13:09] metamacias commented on #968
How would I write that? And where would I write it?

[2022-03-21 13:14] bolshoytoster commented on #968
@M3taMacias something like
[code]
Note, this will only work in [my fork](https://github.com/bolshoytoster/hashlips_art_engine) at the moment.

[2022-03-21 17:37] Nachi4265 opened #971 "Npm run generate Issue"
When I run the : Npm run generate issue I get the following error

(node:20816) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, {
recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or direct

[2022-03-21 17:40] bolshoytoster commented on #971
@Nachi4265 I think you just need to save the `src/config.js` file.

[2022-03-21 18:07] Nachi4265 commented on #971
I've tried it, but it doesn't seem to work I get the same error

[2022-03-21 18:09] bolshoytoster commented on #971
@Nachi4265 can you paste your `layersConfigurations` here please.

[2022-03-21 18:21] Nachi4265 commented on #971
do you mean these

  { name: "Background" },
      { name: "Skin color" },
      { name: "Hair" },
      { name: "Head piece" },
      { name: "Eyes" },
      { name: "Mouth" },

[2022-03-21 18:22] thrillex123 opened #973 "Is _metadata.json important?"
Is it important to have this in the json directory?
I'm replacing a few files within my collection and i don't want to manually edit _metadata.json to reflect the new metadata.
Can i simply remove it?
Is there another way to generate it given all the .json files?

[2022-03-21 18:24] bolshoytoster commented on #971
@Nachi4265 yes, can you paste the error again please.

[2022-03-21 18:26] bolshoytoster commented on #973
@thrillex123 if you're manually editing the json, it's best to edit `_metadata.json` then run `node utils/update_metadata.js` to update the rest.

If you want, my fork's `utils/update_metadata.js` has support for getting the data from the individual files to generate the `_metadata.json` **if it's deleted first**.

[2022-03-21 18:32] thrillex123 commented on #973
@bolshoytoster
Would I be able to use your form for this workflow:
1. delete _metadata.json
2. drop new .json into the folder to replace a few #
3. Run your update script from your fork.

[2022-03-21 18:33] Nachi4265 commented on #971
yea sure!

(node:18672) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, {
recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\hignacio\Desktop\NFT HELP\hashlip

[2022-03-21 18:33] bolshoytoster commented on #973
@thrillex123 you should be able to.

[2022-03-21 18:34] bolshoytoster commented on #971
@Nachi4265 could you send a screenshot please.

[2022-03-21 18:35] hamhocks opened #974 "use ipfs as url"
I was wondering if for whatever reason my website is down , is it possible to use the ipfs address in the config file instead of my domain and recompile the build.

[2022-03-21 18:45] Nachi4265 commented on #971
![image_2022-03-21_114456](https://user-images.githubusercontent.com/99918049/159342517-47f0f56d-8571-425f-a8a1-016a7edcfb47.png)

[2022-03-21 18:47] bolshoytoster commented on #971
@Nachi4265 press `ctrl` + `s` to save the file then try again.

[2022-03-21 18:50] Nachi4265 commented on #971
![image_2022-03-21_115041](https://user-images.githubusercontent.com/99918049/159343435-7a300a15-8fe9-4183-8a91-36f105af9b9d.png)

[2022-03-21 18:51] Nachi4265 commented on #971
this is the error I got after I saved it

[2022-03-21 18:53] bolshoytoster commented on #971
@Nachi4265 your image names can't have dashes in them.

If you need them, you could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine), and change `DNA_DELIMITER` ~line 45 in `src/main.js`.

[2022-03-21 18:56] Nachi4265 commented on #971
yep i just figured it out thank you so much!!

[2022-03-21 19:00] Nachi4265 commented on #971
whenever i do generate the images they show up as black , is this an issue with some of them not have a background?

[2022-03-21 19:02] thrillex123 commented on #973
@bolshoytoster thanks!

just trying to understand your script. Does it go through the config and image files to do so?
Why is this necessary if all the data is in the hundreds of .json files in the json directory?

[2022-03-21 19:03] bolshoytoster commented on #971
@Nachi4265 I noticed you're using jpeg, which doesn't support transparency. Try using png and make sure to add transparency to your images.

[2022-03-21 19:05] bolshoytoster commented on #973
@thrillex123 it goes through the json files, but the script is mainly for updating certain values (collection name etc.) so it loads them from `src.config.js`.

[2022-03-21 19:37] HelloWorld44 opened #975 "npm install, does not generate an image"
PS C:\Users\Ivanm\Desktop\hashlips_art_engine-main> npm install
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\Ivanm\Desktop\hashlips_art_engine-main\package.json'
npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\Ivanm\Desktop\hashlips_art_engine-main\package.json'
npm WARN hashlips_art_engine-main No description
npm WARN hashlips_art_engine-main No repositor

[2022-03-21 19:40] bolshoytoster commented on #975
@HelloWorld44 you're in the wrong folder, run `Get-ChildItem -Directory` to get the name, then run `cd ` + name to change into it.

[2022-03-21 20:35] kasiabishop opened #976 "White ground on png?"
Hello,

I have followed all the steps but my layers are showing with the white ground?

Please can you help?

Thanks you
Kasia

[2022-03-21 23:05] hossamdarwish commented on #950
@nilolalolal  [here](https://github.com/HashLips/hashlips_art_engine/issues/448#issuecomment-1038059552) you go!

[2022-03-22 05:45] ArmaBloody commented on #965
Thank you it worked:))

[2022-03-22 06:18] devidwalker commented on #932
thnk uu its workkkk

[2022-03-22 06:41] JacobeMNA opened #977 "{ code: 'MODULE_NOT_FOUND', requireStack: [] }"
hello I stuck in a problem with the end of the working by hashlips_art_engine update1.1.1.                  I almost done on build my NFTs and fallow all the steps with no problem to when the (upload to IPFS) came up...

I check my code twice and didnt find any problem.But when I opened my terminal and  ran
      "node utils/nftport/uploadiles.js"       an error happened.

This is the error:

node

[2022-03-22 06:45] JacobeMNA commented on #977
My node version:
node -v
v16.14.2

My npm version:
npm -v
8.5.5

[2022-03-22 06:47] JacobeMNA opened #978 "{ code: 'MODULE_NOT_FOUND', requireStack: [] }"
hello I stuck in a problem with the end of the working by hashlips_art_engine update1.1.1.                  I almost done on build my NFTs and fallow all the steps with no problem to when the (upload to IPFS) came up...

I check my code twice and didnt find any problem.But when I opened my terminal and  ran
      "node utils/nftport/uploadiles.js"       an error happened.

This is the error:

node

[2022-03-22 08:14] bolshoytoster commented on #977
@JacobeMNA you spelled the file name wrong. I think it should be `node utils/nftport/uploadFiles.js`.

[2022-03-22 10:45] SleeepyGom opened #979 "Error: EILSEQ, Illegal byte sequence"
Struggling with some error when running 'node index.js'................. :'(

Just right before, I had gotten "MODULE_NOT_FOUND" error :  but this disappears after changing the cavas version from "2.8.0" to "2.9.0" and reinstall npm.

Then I confront the error msg "Error: EILSEQ, Illegal byte sequence"-the full messages are below -
What should I do to fix up the following error msg? The 'build' fo

[2022-03-22 10:50] JacobeMNA commented on #977
I copy and paste your command but that error repeated

[2022-03-22 10:59] JacobeMNA commented on #977
'MODULE_NOT_FOUND' had a green color not red

[2022-03-22 11:26] JacobeMNA commented on #976
Maybe you  made wrong in your order of the layers.
The first layer (Mostly background) should be the first layer ==> from up to down

[2022-03-22 11:30] bolshoytoster commented on #979
@SleeepyGom I think it's because you have non-ascii characters in your path. Try making a new folder like `E:/hashlips` and move the project into there.

[2022-03-22 11:31] JacobeMNA commented on #976
@kasiabishop,If it doesn't work for you you can find some expert ways from the server by search a bit in the issues.
hope you find your answer  faster...

[2022-03-22 11:31] bolshoytoster commented on #977
@JacobeMNA can you paste the output of `Get-ChildItem utils/nftport` please.

[2022-03-22 11:34] JacobeMNA commented on #977
I am new I don't know how to do that could you describe more

[2022-03-22 11:35] JacobeMNA commented on #977
I paste it in my terminal window and this error happen:

et-hildtem : The term 'et-hildtem' is not
recognized as the name of a cmdlet, function,
script file, or operable program. Check the
spelling of the name, or if a path was included,
verify that the path is correct and try again.
At line:1 char:1
+ et-hildtem utils/nftport
+ ~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (et
   -hild

[2022-03-22 11:39] JacobeMNA commented on #977
I paste it in my terminal window and this answer came:

    Directory: C:\Users\Mahdi\Downloads\hashlips_a
    rt_engine-1.1.1_update\utils\nftport

Mode                LastWriteTime         Length N
                                                 a
                                                 m
                                                 e
----                -------------         -----

[2022-03-22 11:46] JacobeMNA commented on #977
![Uploading IMG_20220322_152231[1].jpg…]()

[2022-03-22 12:57] bolshoytoster commented on #977
@JacobeMNA try running `node utils/nftport/uploadFiles.js`.

If that doesn't work, try running `node 'u
p
l
o
a
d
F
i
l
e
s
.
j
s'`

(you need the newlines so copy/pase it)

[2022-03-22 13:12] JacobeMNA commented on #977
ERRORS are different:

For second( node 'u p l o a d F i l e s . j s') I have:

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\Mahdi\Downloads\hashlips_art_engine-1.1.1_update\u p l o a d F i l e s . j s'
    at Function.Module._resolveFilename (node:
internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/mo
dules/cjs/loader:778:

[2022-03-22 13:33] SleeepyGom commented on #979
!!!!!! I couldn't imagine that would be a problem. It works now! Thanks!!

[2022-03-22 14:50] chiaminghong opened #980 "Wrong Post"
wrong post

[2022-03-22 14:53] chiaminghong commented on #980
realise its under the wrong post

[2022-03-22 14:53] #980 closed, assigned to nobody

[2022-03-22 14:54] JacobeMNA commented on #977
the second error is different and changed when i copy/paste your command in the compare of first time

[2022-03-22 15:48] JacobeMNA commented on #977
Do you have any idea...?

What should I do now?

[2022-03-22 15:57] bolshoytoster commented on #977
@JacobeMNA the first one worked then. Try changing the `require('node-fetch');` on line 2 to `import('node-fetch');`.

[2022-03-22 16:08] JacobeMNA commented on #977
Done

[2022-03-22 16:10] JacobeMNA commented on #977
What next?

[2022-03-22 16:17] JacobeMNA commented on #977
This is the new error after running (node utils/nftport/uploadFiles.js)

C:\Users\Mahdi\Downloads\hashlips_art_engine-1.1.1_update\utils\nftport\uploadFiles.js:24
    fetch(url, options)
    ^

TypeError: fetch is not a function
    at C:\Users\Mahdi\Downloads\hashlips_art_engine-1.1.1_update\utils\nftport\uploadFiles.js:24:5
    at Array.forEach (<anonymous>)
    at Object.<anonymous> (C:\Users\M

[2022-03-22 16:19] bolshoytoster commented on #977
@JacobeMNA can you paste lines 1-3 of `utils/nftport/uploadFiles.js` please.

[2022-03-22 16:21] JacobeMNA commented on #977
sure!

const FormData = require('form-data');
const fetch = import('node-fetch');
const path = require("path")

[2022-03-22 16:22] JacobeMNA commented on #977
This is all of it if it need to check:

const FormData = require('form-data');
const fetch = import('node-fetch');
const path = require("path")
const basePath = process.cwd();
const fs = require("fs");

fs.readdirSync(`${basePath}/build/images`) .
forEach(file => {
    const formData = new FormData();
    const fileStream = fs.createReadStream(`${basePath}/build/images/${file}`);
    formData.appe

[2022-03-22 16:24] JacobeMNA commented on #977
This is all of it if it need checking:

const FormData = require('form-data');
const fetch = import('node-fetch');
const path = require("path")
const basePath = process.cwd();
const fs = require("fs");

fs.readdirSync(`${basePath}/build/images`) .
forEach(file => {
    const formData = new FormData();
    const fileStream = fs.createReadStream(`${basePath}/build/images/${file}`);
    formData.appe

[2022-03-22 16:25] bolshoytoster commented on #977
@JacobeMNA change line 2 to `const fetch = (await import('node-fetch')).default;`.

[2022-03-22 16:31] JacobeMNA commented on #977
This is the error after running (node utils/nftport/uploadFiles.js)

C:\Users\Mahdi\Downloads\hashlips_art_engine-1.1.1_update\utils\nftport\uploadFiles.js:2
const fetch = (await import("node-fetch")).default
                     ^^^^^^

SyntaxError: Unexpected token 'import'
    at Object.compileFunction (node:vm:352:
18)
    at wrapSafe (node:internal/modules/cjs/
loader:1032:15)
    at Module._

[2022-03-22 16:34] JacobeMNA commented on #977
Can I ask what is my next step please?

[2022-03-22 16:35] bolshoytoster commented on #977
@JacobeMNA could you pastelines 1-3 please.

[2022-03-22 16:37] JacobeMNA commented on #977
const FormData = require('form-data');
const fetch = (await import("node-fetch")).default
const path = require("path")

[2022-03-22 16:46] JacobeMNA commented on #977
should I use ( ; ) after default and ("path") ?

[2022-03-22 16:47] bolshoytoster commented on #977
@JacobeMNA try asking in the repo you actually got the code from, presumably one of [these](https://github.com/search?p=1&q=path%3A%2Futils%2Fnftport&type=Code).

[2022-03-22 16:56] JacobeMNA commented on #977
How I am noob

[2022-03-22 16:59] JacobeMNA commented on #977
where is repo?
where I can ask?

[2022-03-22 16:59] bolshoytoster commented on #977
@JacobeMNA https://github.com/codeSTACKr/create-10k-nft-collection/issues/new/choose

[2022-03-22 17:02] JacobeMNA commented on #977
I write this code on the codestakr first video about making 10000 uniqe images that daownload hashlips_art_engine v1.1.1

[2022-03-22 17:03] JacobeMNA commented on #977
Now what I shoud ask about?

[2022-03-22 17:04] bolshoytoster commented on #977
@JacobeMNA the error.

[2022-03-22 17:19] JacobeMNA commented on #977
Is my code latest version of repository?

[2022-03-22 17:21] bolshoytoster commented on #977
@JacobeMNA I don't know..

[2022-03-22 17:31] JacobeMNA commented on #977
I changed my utiles/nftport/uploadFikes.js with the code you send for me now.

I mean this link:
https://github.com/search?p=1&q=path%3A%2Futils%2Fnftport&type=Code

And steal have error...
But I asking about : is that the latest version ?

Because that is a box need checking for sending my Bug report

[2022-03-22 17:51] JacobeMNA commented on #977
thank you anyway man...
your are in my heart and thanks for your time and trying.
that is so valuable for me.
hope you success and figure new things out in every moment of your life

[2022-03-22 20:00] shelby1965 opened #981 "Deprecation warning of node js"
I have trouble with my node js.its showing deorecation warning.what should i do?

[2022-03-22 20:01] bolshoytoster commented on #981
@shelby1965 you can ignore it.

[2022-03-22 20:02] shelby1965 commented on #981
The process does not proceede further

[2022-03-22 20:03] shelby1965 commented on #981
![20220322_000602](https://user-images.githubusercontent.com/102185828/159566239-b11b3d5b-c733-4464-a460-99f6951202eb.jpg)

[2022-03-22 20:06] bolshoytoster commented on #981
@shelby1965 that's not the error. Can you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead, I think I've fixed it.

[2022-03-22 20:11] CobraKaiX commented on #812
I am only able to generate 2 images even though it's set to generate 10

[2022-03-22 20:40] bolshoytoster commented on #812
@CobraKaiX does it give an error?

[2022-03-22 20:56] monarkdapp opened #982 "I want to use layer name as the build image name"
Hey everyone

I'm trying to either:
A) make Hashlips generate images ordered by layer name without shuffle (say images in "layer1" folder goes like 1.png, 2.png and Hashlips starts from 1.png) therefore build filenames will be in the correct order (don't worry about the grow edition size, it'll be equal to to the amount of files in layer)

B) Simply use one specific layer's object name as the _edi

[2022-03-22 21:04] bolshoytoster commented on #982
@xkrunk you could try looking at  [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine).

[2022-03-22 21:14] shelby1965 commented on #981
Thanks it worked but there is one more problem. I have set the name of layers according to to layer names in src>config.js but the error shows...no such layer is placed same as src>config.js

[2022-03-22 21:17] bolshoytoster commented on #981
@shelby1965 can you paste the error and the output of the command `Get-ChildItem layers`.

[2022-03-22 21:30] monarkdapp commented on #982
@bolshoytoster thanks. I could find this [nft_details.js](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection/blob/main/constants/nft_details.js) under [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) but I'm not sure if I'm looking at the correct thing. It only helps with setting static names but doesn't seem to give optio

[2022-03-22 23:54] dataguy2 commented on #439
Lifesaver, thanks!

[2022-03-23 00:28] gadespc opened #983 "How can I create all single metadata files from the _metadata.json file?"
Thank you very much for the great work behind it! Can you help me with this? How can I create all single metadata files from the _metadata.json file?

[2022-03-23 05:16] shelby1965 commented on #981
![16480125248225757731298960292228](https://user-images.githubusercontent.com/102185828/159628833-50618f2d-8714-4c95-be0d-9058b31044e0.jpg)

[2022-03-23 05:20] shelby1965 commented on #981
I have not any layer of "Background" but it shows that that "layers/Background/does not exist, make sure your layer/folder matches your src/config.js"....Background layer was already present in that code so I delete all of that layers and paste my own layers and also change layer names in the code but again this shows.

[2022-03-23 05:26] shelby1965 commented on #981
![Uploading 20220323_102427.jpg…]()

[2022-03-23 05:26] shelby1965 commented on #981
![20220323_102427](https://user-images.githubusercontent.com/102185828/159629940-689df47a-91d1-4f9b-bf75-25c3cb51b07a.jpg)

[2022-03-23 05:27] shelby1965 commented on #981
I have not create any Eyeball layer then why it shows yhis message

[2022-03-23 06:11] JacobeMNA opened #984 "npm installation problem"
Hello hope you have a nice day.
I am traying to build my 10000 NFT collection.
I start downloading the repo version.
( That is creat-10k-nft-collection zip file ( near 12 day ago published ) )

I already extract the file and upload it in my vs code and start working on it but suddenly, this error came when I tried running  npm install :

npm WARN deprecated puppeteer@10.4.0: Version no longer supp

[2022-03-23 06:13] JacobeMNA commented on #984
my node and npm version:
node -v :
v16.14.2
npm -v
8.5.5

[2022-03-23 07:27] ghost commented on #615
I solved it by activating the option to show hidden system files and deleting the file called desktop.ini that was inside in one of the layer folders.

[2022-03-23 07:59] bolshoytoster commented on #983
@gadespc run `node utils/update_metadata.js`.

[2022-03-23 07:59] bolshoytoster commented on #981
@shelby1965 you need to save the `src/config.js` file.

[2022-03-23 08:03] bolshoytoster commented on #984
@JacobeMNA

You probably meant to open the issue on [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection).

[2022-03-23 08:06] JacobeMNA commented on #984
yeah exactly.
 I start again to build my nft collection and doing the last codeSTACKr video about making that.

[2022-03-23 08:06] JacobeMNA commented on #984
in the npm installation, this error came

how I can move forward and reach the next step?

[2022-03-23 08:08] JacobeMNA commented on #984
Link of the video:
https://www.youtube.com/watch?v=quGdJweadFM

[2022-03-23 08:15] bolshoytoster commented on #984
@JacobeMNA yeah, but your issue is in the wrong place, the error doesn't occur on hashlips_art_engine.

The error might be because you're behind a proxy.

[2022-03-23 08:19] JacobeMNA commented on #984
what do you mean?
Could you describe more please? cause I already open it by opload (new file window) on vs code?

[2022-03-23 08:30] JacobeMNA commented on #984
yeah your right but after turn it off I have this error:

npm WARN deprecated puppeteer@10.4.0: Version no longer supported. Upgrade to @latest
npm ERR! code 1
npm ERR! path C:\Users\Mahdi\Downloads\create-10k-nft-collection-2.0.0\node_modules\puppeteer-extra-plugin-adblocker\node_modules\puppeteer
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d
/s /c node install.js
npm ER

[2022-03-23 08:36] JacobeMNA commented on #984
COULD you tell me what does  is saying?

[2022-03-23 09:05] JacobeMNA commented on #984
I also tried to open a new terminal an try npm installation again without proxy,  but I have this error:

npm WARN deprecated puppeteer@10.4.0: Version no longer supported. Upgrade to @latest
npm ERR! code 1
npm ERR! path C:\Users\Mahdi\Downloads\create-10k-nft-collection-2.0.0\node_modules\puppeteer-extra-plugin-adblocker\node_modules\puppeteer
npm ERR! command failed
npm ERR! command C:\Windows\

[2022-03-23 10:09] bolshoytoster commented on #984
@JacobeMNA open a new issue in codeSTCKr's repo, I can't help you.

[2022-03-23 10:13] JacobeMNA commented on #984
How much I should wait till there respond

[2022-03-23 10:59] shelby1965 commented on #981
How?

[2022-03-23 11:01] bolshoytoster commented on #981
@shelby1965 `ctrl` + `s`.

[2022-03-23 11:14] shelby1965 commented on #981
Sorry, I found thanks

[2022-03-23 11:16] shelby1965 commented on #981
Sir, I created all the layers and all the process went well but the images created were irregular in shape.There is no symmetry of layers in image and some layer images are bigger in size than other.

[2022-03-23 11:28] bolshoytoster commented on #981
@shelby1965 make sure you place the layer images in the right spot within their images.

[2022-03-23 12:49] db-133 commented on #787
Hello, im using Mac m1, downloaded 14.19.0 , npm 6.14.16. However, it still writes me " Error: Cannot find modules"
thank you

[2022-03-23 13:13] bolshoytoster commented on #787
@db-133 please paste the full error.

[2022-03-23 14:41] db-133 commented on #787
umal@MacBook-Pro-Umalt hashlips_art_engine-1.1.2_patch_v6 % npm run build

internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: Cannot find module '/Users/umal/Desktop/hashlips_art_engine-1.1.2_patch_v6/node_modules/sha1'
Require stack:
- /Users/umal/Desktop/hashlips_art_engine-1.1.2_patch_v6/src/main.js
- /Users/umal/Desktop/hashlips_art_engine-1.1.2_patch_v6/index.js
    at Function.Modul

[2022-03-23 15:14] JacobeMNA commented on #984
This guy didn't answer anybody.
Do you know anybody else?

[2022-03-23 15:43] bolshoytoster commented on #787
@db-133 run `npm install`.

[2022-03-23 15:52] db-133 commented on #787
After I did this command, it says this v@mbp-umalt hashlips_art_engine-1.1.2_patch_v6 % npm install
npm WARN hashlips_art_engine@1.1.1 No repository field.

audited 66 packages in 0.998s

6 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities"

[2022-03-23 15:54] bolshoytoster commented on #787
@db-133 I think it worked.

[2022-03-23 15:56] db-133 commented on #787
after I do node index.js
(node:14987) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, scandir '/Users/umal/Desktop/hashlips_art_engine-1.1.2_patch_v6/layers/Eyeball/'
    at Object.readdirSync (fs.js:1047:3)
    at getElements (/Users/umal/Desktop/hashlips_art_engine-1.1.2_patch_v6/src/main.js:73:6)
    at /Users/umal/Desktop/hashlips_art_engine-1.1.2_patch_v6/src/main.

[2022-03-23 16:00] bolshoytoster commented on #787
@db-133 save your `src/config.js` file.

[2022-03-23 16:03] db-133 commented on #787
Bro, thank you so much. it worked!

[2022-03-23 16:16] aidantibbitt opened #985 "Problem with rarity delimiter after running index.js"
After I run index.js I am met with this prompt. I have tried messing with the rarityDelimiter value but nothings changing. Please help!

/Users/atibbitt/nft-collection/hashlips_art_engine/src/config.js:83
const rarityDelimiter = "#";
^^^^^

SyntaxError: Unexpected token 'const'
    at wrapSafe (internal/modules/cjs/loader.js:1001:16)
    at Module._compile (internal/modules/cjs/loader.js:1049:27)

[2022-03-23 16:18] bolshoytoster commented on #985
@aidantibbitt there's a syntax error in your `src/config.js`, can you paste lines 75-85 please.

[2022-03-23 16:20] aidantibbitt commented on #985
const background = {
  generate: true,
  brightness: "80%",
  static: false,
  default: "#000000",
};

const extraMetadata = {},

const rarityDelimiter = "#";

const uniqueDnaTorrance = 10000;

[2022-03-23 16:20] aidantibbitt commented on #985
this is lines 74-85

[2022-03-23 16:21] bolshoytoster commented on #985
@aidantibbitt change the line `const extraMetadata = {},` to `const extraMetadata = {};` (change the comma to a semicolon)

[2022-03-23 16:23] aidantibbitt commented on #985
IT WORKED TYSM!!

[2022-03-23 16:23] #985 closed, assigned to nobody

[2022-03-23 19:31] Pwnkmrdroch opened #986 "Need to recall few layers twice in metedata but with different trait name."
Is there any way to recall a same layer twice, but with different trait name under single layer configuration? Ie if i have 3 type of shirt and and helmet merged layer in one folder but in metadata i want to call them different as helet and short but both items names to be same when metadata generated?  Kindly help?

[2022-03-23 19:49] Sam5furr opened #987 "Import Gifs"
Is their a way to import individual gifs as layers and them perform functionally within this engine?

[2022-03-23 19:50] bolshoytoster commented on #987
@Sam5furr no

[2022-03-23 19:53] Sam5furr commented on #987
I know how to import it and it functions correctly when viewing the layers by themselves but when generating the collection they seems to just take a picture of its starting position and copy that over. any information on how to correct this would be awesome.

[2022-03-23 19:56] bolshoytoster commented on #987
@Sam5furr the libraries we use don't support loading gifs and this would be quite complicated to implement (e.g. what if there are two gifs of different lengths?).

You're welcome to try implementing it yourself though.

[2022-03-23 20:09] Sam5furr commented on #987
any advise on where to try tweaking? The way i structured my gifs they should all run together regardless of lengths being different. If i can just figure out how to get art generator to not copy over just a screenshot of the image and instead the entire gif files.

[2022-03-23 20:19] Sam5furr commented on #987
Yea I’ll never figure it out on my own ha. I’m not a programmer I’m an artist. Thanks anyways.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: bolshoytoster ***@***.***>
Sent: Wednesday, March 23, 2022 3:56:16 PM
To: HashLips/hashlips_art_engine ***@***.***>
Cc: Sam5furr ***@***.***>; Mention ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] Import Gifs (I

[2022-03-23 23:23] CandyClanNFT commented on #913
I am also having issues with this.

Error: ENOENT: no such file or directory, scandir '/Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_patch_v6 3/layers/Background/'
    at Object.readdirSync (node:fs:1392:3)
    at getElements (/Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_patch_v6 3/src/main.js:73:6)
    at /Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1

[2022-03-23 23:45] CandyClanNFT commented on #913
new error

TypeError: Cannot read properties of undefined (reading 'edition')
    at /Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_patch_v6 3/src/main.js:314:65
    at Array.find (<anonymous>)
    at saveMetaDataSingleFile (/Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_patch_v6 3/src/main.js:314:31)
    at /Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.

[2022-03-23 23:46] CandyClanNFT opened #988 "at processTicksAndRejections (node:internal/process/task_queues:96:5)"
Please help!

[2022-03-23 23:59] CandyClanNFT commented on #988
This happens when i'm trying to run generate my images.

[2022-03-24 02:54] cantonyuu opened #989 "The problem of filtering pictures after generation"
Hello, when you need to filter some wrong pictures or unwanted pictures after generation, do you want to modify the json after deleting the pictures? For example, I deleted the 5th picture, do I have to manually delete the json? Can it be reordered once after deleting the filter?

[2022-03-24 04:44] JacobeMNA commented on #984
Hello man hope you have special day and I was embarrassed to be bothered again its cause I almost  done and really need help.

I find a way for my last error: ==> Low npm-fetch version make that error.

But now when I try running (node utils/nftport/uploadFiles.js)  after that error, this one came in:

C:\Users\Mahdi\Downloads\hashlips_art_engine-1.1.1_update\utils\nftport\uploadFiles.js:7
fs.read

[2022-03-24 04:48] JacobeMNA commented on #984
I watch the video that write it several times and even find so many mistakes; but after fixing them this error came again and I can't find more mistake.
I need your help bro

[2022-03-24 05:54] JacobeMNA opened #990 "TypeError: fs.readdirSync(...).foreach is not a function"
Hello man hope you have special day and I was embarrassed to be bothered again its cause I almost done and really need help.

I find a way for my last error: ==> Low npm-fetch version make that error.

But now when I try running (node utils/nftport/uploadFiles.js) after that error, this one came in:

C:\Users\Mahdi\Downloads\hashlips_art_engine-1.1.1_update\utils\nftport\uploadFiles.js:7
fs.readdi

[2022-03-24 05:54] JacobeMNA commented on #990
I watch the video that write it several times and even find so many mistakes; but after fixing them this error came again and I can't find more mistake.
I need your help bro

[2022-03-24 07:15] JacobeMNA commented on #990
What code it need to make the readdieSync function for each of my json file.
its going to make me 9999 unique ipfs_url for each json

[2022-03-24 07:42] bolshoytoster commented on #913
@CandyClanNFT try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-03-24 07:42] bolshoytoster commented on #988
@CandyClanNFT can you paste the **full** error please.

[2022-03-24 07:45] bolshoytoster commented on #989
@cantonyuu you'd have to remove `5.json` and the corresponding json object in `_metadata.json`. You could just remove it from `_metadata.json` and run `node utils/update_metadata.js` though.

[2022-03-24 07:49] bolshoytoster commented on #984
@JacobeMNA this error comes from codeSTACKr's repo, you should open an issue [there](https://github.com/codeSTACKr/create-10k-nft-collection/issues) instead.

[2022-03-24 08:33] cryptoembrace opened #991 "npm run update_info cant find _metadata.json"
The generator is not creating a _metadata.json in build/json like utils/update_info.js requests,
there for I cannot update my metadata.
Any work around or a solution?

[2022-03-24 08:45] #991 closed, assigned to nobody

[2022-03-24 08:53] YOGAPAARTIBAN commented on #983
On running node utils/update_metadata.js
I'm getting the following error

Error: Cannot find module 'C:\Users\Dell\Desktop\Project1\hashlips_art_engine-1.1.2_patch_v6\utils\update_metadata.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (no

[2022-03-24 11:35] bolshoytoster commented on #983
@YOGAPAARTIBAN can you paste the output of `Get-ChildItem utils` please.

[2022-03-24 13:32] cantonyuu commented on #989
@bolshoytoster hihi
I modified the json file, then node utils/update_metadata.js doesn't seem to find the file, what should I do?

hashlips_art_engine-main\hashlips_art_engine-main> node utils/update_metadata.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'D:\cantonyu\hashlips_art_engine-main\hashlips_art_engine-main\utils\update_metadata.js'
    at Function.Mo

[2022-03-24 14:55] funkymonkey5150 commented on #812
It worked Like a few times and now its not working again , it worked when I was testing it and now it doesnt work what did you end up doing

[2022-03-24 14:57] funkymonkey5150 commented on #812
check on the OUTput next to terminal it sometimes gives you some feedback there

[2022-03-24 16:49] CandyClanNFT commented on #988
Bryces-MacBook-Air:hashlips_art_engine-1.1.2_patch_v6 3 Nicholson_approved$ npm run build

(node:56478) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
/Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_

[2022-03-24 16:52] bolshoytoster commented on #989
@cantonyuu I think it's `node utils/update_info.js` and you'll have to delete the individual file as well.

[2022-03-24 16:52] bolshoytoster commented on #812
@funkymonkey5150 can you paste the error you get please.

[2022-03-24 16:55] bolshoytoster commented on #988
@CandyClanNFT can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-03-24 16:57] CandyClanNFT commented on #988
@bolshoytoster I would really love it if I didn't have to start this process from scratch. Can you help me otherwise?

[2022-03-24 17:00] bolshoytoster commented on #988
@CandyClanNFT you can copy your config/images over.

[2022-03-24 17:03] CandyClanNFT commented on #988
How do I fix my issue?

[2022-03-24 17:07] CandyClanNFT opened #992 "Issue generating my images"
Bryces-MacBook-Air:hashlips_art_engine-1.1.2_patch_v6 3 Nicholson_approved$ npm run build

(node:56478) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
/Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_

[2022-03-24 17:07] bolshoytoster commented on #988
@CandyClanNFT my repo fixes  the bug.

[2022-03-24 17:20] omer2307 opened #993 "Sync to layers with like mapping elements render"
I want to add a function that if one element that's render in previous layers is chosen, I will have to render in latest layers to come predefined element.  I want to sync two elements one to the other. It's connected in the way that the img looks at the end.
Even if you're not sure comment your opinion please! thanks.
In the meanwhile I'm doing some research on my own.

[2022-03-24 17:22] bolshoytoster commented on #993
@omer2307 you could try looking at  [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine).

[2022-03-24 17:30] omer2307 commented on #993
Thanks for the fast response, I appreciate it!
Do you know for sure that both repos address this issue? Or you points me there as there is a possibility that they address my issue?

[2022-03-24 17:40] CandyClanNFT commented on #988
Why? what's the bug?

[2022-03-24 17:41] sigmagirl opened #994 "npm install leading to page full of error messages- please help"
on writing npm install it leads to this error message repeating over and over.
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm WARN tar T

[2022-03-24 17:50] sigmagirl commented on #994
using windows 10
Node js version 14.19.0
npm 8.5.5
VS code 1.62.2
I have been struggling for 72 hours . Please help me with this. I get the same error message whether it is the latest nodejs or older one. When I use older node like 10.8.2 it does not recognise npm and tells me to upgrade  nodejs.

[2022-03-24 17:53] bolshoytoster commented on #993
@omer2307 I'm quite sure at least one of those has it.

[2022-03-24 17:56] bolshoytoster commented on #988
@CandyClanNFT

let metadata = metadataList.find((meta) => meta.custom_fields.edition == _editionCount);
^

at /Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_patch_v6 3/src/main.js:314:65
at Array.find ()
at saveMetaDataSingleFile (/Users/Nicholson_approved/Downloads/hashlips_art_engine-1.1.2_patch_v6 3/src/main.js:314:31)
at /Users/Nicholson_approved/Downloads/hashlips_art_engine-1.

[2022-03-24 17:59] bolshoytoster commented on #994
@sigmagirl try deleting the `node_modules` folder.

[2022-03-24 18:02] sigmagirl commented on #994
node_modules folder appears in between and then when all the error messages end it disappears on its own.

[2022-03-24 18:06] bolshoytoster commented on #994
@sigmagirl can you paste the output of the command `pwd` please.

[2022-03-24 18:07] CandyClanNFT commented on #992
![Screen Shot 2022-03-24 at 1 06 48 PM](https://user-images.githubusercontent.com/101203716/159981873-9207c0e9-72eb-4a7e-8ff6-279bb2605c30.png)

[2022-03-24 18:09] #988 closed, assigned to nobody

[2022-03-24 18:17] sigmagirl commented on #994
Path
----
D:\nft\Squiddy Squirrels nft\hashlips_art_engine-1.1.2_patch_v6

PS D:\nft\Squiddy Squirrels nft\hashlips_art_engine-1.1.2_patch_v6>
PS D:\nft\Squiddy Squirrels nft\hashlips_art_engine-1.1.2_patch_v6>

[2022-03-24 18:24] bolshoytoster commented on #994
@sigmagirl it looks like nobody else has had this problem, could you open an issue on [npm's github repo](https://github.com/npm/cli/issues/new?assignees=&labels=Bug%2CNeeds+Triage%2CRelease+8.x&template=bug_8.yml&title=%5BBUG%5D+%3Ctitle%3E).

[2022-03-24 18:33] sigmagirl commented on #994
I submitted the bug. what do i do next?

[2022-03-24 18:44] bolshoytoster commented on #994
@sigmagirl you could try looking at some [other nft generators](https://github.com/search?q=nft+generator) that don't use javascript.

[2022-03-24 18:53] shelby1965 commented on #981
I prepared the layers in adobe photoshop but when I used these layers in github code they did'nt work accuratly

[2022-03-24 18:55] bolshoytoster commented on #981
@shelby1965 could you send one of the layer images please (preferably one of the misplaced ones)

[2022-03-24 18:55] shelby1965 commented on #981
The images created were in random order. What size is required for every layer

[2022-03-24 18:55] shelby1965 commented on #981
Oky I'll send

[2022-03-24 19:04] sigmagirl commented on #994
I have already created a collection last month using this script but was not able to create the minting dapp. so this time for my new project i tried using a different nodejs version as suggested in one of the forums. But i was not able to get back my previous setup I was using for generating collection even when I tried several node versions. I want to use this setup only because I am familiar wi

[2022-03-24 19:07] shelby1965 commented on #981
![20220325_000708](https://user-images.githubusercontent.com/102185828/159992011-0a0904c9-4520-436a-8a45-313cb90ae683.jpg)

[2022-03-24 19:09] bolshoytoster commented on #981
@shelby1965 you should move the image within it's own image (if that makes sense). I haven't used photoshop so I don't think I could help

[2022-03-24 19:11] shelby1965 commented on #981
Oky

[2022-03-24 22:28] CandyClanNFT commented on #992
please help

[2022-03-24 22:30] bolshoytoster commented on #992
@CandyClanNFT can you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-03-25 03:03] HueLuna opened #995 "TypeError: Cannot read properties of undefined (reading 'replace')"
Hey, can someone help me with my issue please. I make sure there were no - characters in my names. I also used # for rarity value and ensured it equalled to 100 for each element names in each of my layers.However I still get this Error.

Microking-MBP:hashlips_art_engine-main microking$ node index.js
(node:19784) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursi

[2022-03-25 03:50] cantonyuu commented on #989
@bolshoytoster thank you very much

[2022-03-25 04:17] Smartsdontgotit opened #996 "Help with someone changing price to contract please and ty"
Hello all , I am hoping to find some help. I have set up a mint for my community and someone has changed the price to the contract for themselves and seems to be minting the NFT's for either a very low cost or FREE. Please help asap ty .

[2022-03-25 07:22] sigmagirl commented on #745
i am having the same issue. Can you please share what you did to make it work?

[2022-03-25 07:25] sigmagirl opened #997 "Getting syntax error - Please help"
PS D:\hashlips_art_engine-main> node index.js
D:\hashlips_art_engine-main\src\main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Module.load (internal/modules/cjs/loader.js:653:32)

[2022-03-25 07:34] bolshoytoster commented on #995
@HueWaves can you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-03-25 07:36] bolshoytoster commented on #745
@sigmagirl you can either upgrade node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-03-25 10:32] Dylanv1324 commented on #179
type cd and the get the root from  repos/project file open the file and copy the adress then paste it in after like this : cd C:\Users\Dylan\source\Repos\hashlips_art_engine

[2022-03-25 13:39] C0retek opened #998 "[Question] Add new trait to existing collection to evolve and expand collection"
I have a challenge and I hope that someone has an idea how to do this:

100 Images were generated in a first run.

In a second run I want to add 1 trait to the collection:
--> Each image of the 100 will be available with 1 new trait that has 10 different expressions
--> Generate / expand collection to  10 x 100 = 1000  (update images and meta)

Requirement: I can not reuse the old layers from the

[2022-03-25 13:45] adnan12wetysw opened #999 "Error: Unsupported image type"
Your environment has been set up for using Node.js 16.14.0 (x64) and npm.

C:\Users\sUPER>cd C:\Users\sUPER\Desktop\hashlips_art_engine-main

C:\Users\sUPER\Desktop\hashlips_art_engine-main>npm install

up to date, audited 66 packages in 3s

6 packages are looking for funding
  run `npm fund` for details

3 moderate severity vulnerabilities

To address all issues, run:
  npm audit fix

Run `npm au

[2022-03-25 13:46] bolshoytoster commented on #998
@C0retek you could put the first collection as a background layer and put the new trait in a new layer:
[code]

[2022-03-25 14:10] C0retek commented on #998
Thank you for your reply @bolshoytoster

For generating the image that definitely works - my challenge is to update / expand the metadata. I want to keep all the previous metadata and traits information from the first run, but add a trait meaning expand also the metadata. All based only on the build folder from previous run.

Recreate / expand based on existing json files.

[2022-03-25 17:33] kfrains opened #1000 "Getting this error message with "eyeball" but I deleted it from the code and don't have any folders named eyeball?"
HELP! Anyone else getting this message and know how to fix it?

errno: -4058,
  syscall: 'scandir',
  code: 'ENOENT',
  path: 'C:\\Users\\kathe\\create-10k-nft-collection-2.0.0/layers/Eyeball/'

[2022-03-25 17:38] bolshoytoster commented on #1000
@kfrains save your `src/config.js` file.

[2022-03-25 18:52] kfrains commented on #1000
That worked, thank you!!

[2022-03-25 20:21] DrFalcon13 opened #1001 "Error: Unsupported image type"
at setSource (C:\Users\hayal\Desktop\generate-nfts-main\generate-nfts-main\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\hayal\Desktop\generate-nfts-main\generate-nfts-main\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\hayal\Desktop\generate-nfts-main\generate-nfts-main\node_modules\canvas\index.js:34:15
    at new Promise (<anonymous>)
    at loadImage (C:\Users\haya

[2022-03-25 20:22] bolshoytoster commented on #1001
@DrFalcon13 can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-03-25 20:26] DrFalcon13 commented on #1001
@bolshoytoster I didn't try

[2022-03-25 20:26] bolshoytoster commented on #1001
@DrFalcon13 what?

[2022-03-25 20:27] DrFalcon13 commented on #1001
didn't happen again

[2022-03-25 20:27] DrFalcon13 commented on #1001
i am getting the same error again

[2022-03-25 20:30] bolshoytoster commented on #1001
@DrFalcon13 can you paste the **full** output from your terminal please.

[2022-03-25 20:32] bolshoytoster commented on #998
@C0retek you'll have to implement this yourself since it doesn't look like anyone else particularly wants this feature. You could probably use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) to make it easier, since it already loads the metadata anyway.

[2022-03-25 20:36] DrFalcon13 commented on #1001
@bolshoytoster When I use hashlips it started giving this error now

Error: Cannot find module 'C:\Users\hayal\Desktop\hashlips_art_engine-main/constants/network.js'
Require stack:
- C:\Users\hayal\Desktop\hashlips_art_engine-main\src\main.js
- C:\Users\hayal\Desktop\hashlips_art_engine-main\index.js
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.

[2022-03-25 20:37] bolshoytoster commented on #999
@adnan12wetysw can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-03-25 20:39] bolshoytoster commented on #1001
@DrFalcon13 can you paste the output of `Get-ChildItem constants`.

[2022-03-25 20:41] DrFalcon13 commented on #1001
Get-ChildItem : Cannot find path 'C:\Users\hayal\Desktop\hashlips_art_engine-main\constants.' because it does not exist.
At line:1 char:1
+ Get-ChildItem constants.
+ ~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (C:\Users\hayal\...main\constants.:String) [Get-ChildItem], ItemNotFoundException
    + FullyQualifiedErrorId : PathNotFound,Microsoft.PowerShell.Commands.GetChil

[2022-03-25 20:41] bolshoytoster commented on #1001
@DrFalcon13 what about just `Get-ChildItem`?

[2022-03-25 20:42] DrFalcon13 commented on #1001
Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        26.01.2022     09:05                .github
d-----        25.03.2022     22:07                build
d-----        25.03.2022     22:25                layers
d-----        07.02.2022     22:48                modules
d-----        20.03.2022     20:32                node_module

[2022-03-25 20:43] DrFalcon13 commented on #1001
this happened

[2022-03-25 20:46] bolshoytoster commented on #1001
@DrFalcon13 it doesn't look like you properly unzipped the file.

Extract `hashlips_art_engine-main.zip` to somewhere then open visual studio to there.

[2022-03-25 20:52] DrFalcon13 commented on #1001
@bolshoytoster bug fixed but now i am getting this error

ReferenceError: png is not defined
    at setSource (C:\Users\hayal\Desktop\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91:18)
    at Image.set (C:\Users\hayal\Desktop\hashlips_art_engine-main\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\hayal\Desktop\hashlips_art_engine-main\node_modules\canvas\index.js:34:15
    at

[2022-03-25 21:00] bolshoytoster commented on #1001
@DrFalcon13 I have no clue how you caused such an error, but I know you're not using my fork.

Please
1. Make a copy of your `src/config.js` and your `layers/` folder.
2. Delete your `hashlips_art_engine-main` folder and any `hashlips_art_engine-main.zip` files
3. Download [this](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/main.zip) zip
4. Unzip said zip
5. Open visual

[2022-03-25 21:20] DrFalcon13 commented on #1001
Error: Unsupported image type: Dress Color/Thumbs.db
Created edition: 1, with DNA: 3c975aca3a1f83ca0799e4b1439ab8db04200e71
Created edition: 2, with DNA: fb6d2df946f966e15ceecadc0bd7c77ed6d34090
Created edition: 3, with DNA: d0f4f3689a2f622c9686ff7501c0f00710619d6c
Created edition: 4, with DNA: 0bf19037e26114451dbba0723a2984ca0c482e4e
Created edition: 5, with DNA: bb13e6f4f13de4fcf8cbdb18cec994604

[2022-03-25 21:21] DrFalcon13 commented on #1001
@bolshoytoster  I did everything you said

[2022-03-25 21:21] bolshoytoster commented on #1001
@DrFalcon13 it worked.

[2022-03-25 21:21] DrFalcon13 commented on #1001
I don't have a dress color for thumbs

[2022-03-25 21:22] bolshoytoster commented on #1001
@DrFalcon13 it's a warning because you have a non-image file in one of your layer folders.

[2022-03-25 21:22] DrFalcon13 commented on #1001
If I produce 10 thousand now, it will not fail, right?

[2022-03-25 21:23] bolshoytoster commented on #1001
@DrFalcon13 it shouldn't.

[2022-03-25 21:24] DrFalcon13 commented on #1001
thank you very much

[2022-03-25 21:24] DrFalcon13 commented on #1001
we can do the numbers by # bringing this tag, right?

[2022-03-25 21:25] bolshoytoster commented on #1001
@DrFalcon13 I think so?

[2022-03-25 21:27] DrFalcon13 commented on #1001
okey bb

[2022-03-26 08:00] DrFalcon13 commented on #1001
@bolshoytoster (Edition exists!) i started getting this error how can i fix it

[2022-03-26 08:28] DrFalcon13 opened #1002 "Edition exists!"
`npm run build` when i enter your code  `Edition exists!` I get an error

[2022-03-26 08:40] bolshoytoster commented on #1001
@DrFalcon13 it's not an error. My fork lets you continue a previous collection. You'll have to delete the `build/` folder yourself.

[2022-03-26 08:46] DrFalcon13 commented on #1001
@bolshoytoster how can i delete

[2022-03-26 08:50] bolshoytoster commented on #1001
@DrFalcon13 you can either run `Remove-Item -Recurse build` or just right-click -> delete.

[2022-03-26 08:53] DrFalcon13 commented on #1001
it's ok thank you very much again

[2022-03-26 09:22] dancingmonkey commented on #997
Make sure you use node `v14.18.2`. I had this error when I accidentally installed `v12.18.2`. After that just delete the node_modules folder with `rm -rf node_modules` and do a `npm install` again. should work because I tried today

[2022-03-26 12:55] futuetrading commented on #379
Thanks a lot, it works for me well. When I set growEditionSizeTo to big number more than what should have been produced, the _metadata.js file it wont create.

[2022-03-26 12:57] bolshoytoster commented on #379
@futuetrading [my fork](https://github.com/bolshoytoster/hashlips_art_engine) creates it regardless.

[2022-03-26 19:24] sigmagirl commented on #997
internal/modules/cjs/loader.js:1144
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: \\?\D:\hashlips_art_engine-main\node_modules\canvas\build\Release\canvas.node is not a valid Win32 application.
\\?\D:\hashlips_art_engine-main\node_modules\canvas\build\Release\canvas.node
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:1144:18)

[2022-03-26 19:41] bolshoytoster commented on #997
@sigmagirl try deleting the `node_modules` folder and running `npm install` again.

If that doesn’t work then you’ve installed the wrong arch (32 bit / 64 bit) of node, make sure it matches your OS.

[2022-03-26 20:15] sigmagirl commented on #997
node_modules folder has to be deleted though VSCode or from cdrive?

[2022-03-26 20:16] sigmagirl commented on #997
i have installed the 64 bit and it matches my system

[2022-03-26 23:40] cantonyuu opened #1003 "How to reorder images and json after filtering"
Hi, I'm really sorry I have a new problem, when I uploaded to ipfs, I deleted the fifth picture without reordering, the serial number was broken, that is, #1, 2, 3, 4, 6. When I filter more pictures, this kind of serial number disconnection occurs more often. I want to ask, is there any way to reorder my pictures and json after filtering?

-------------original question-------------

Hello, when y

[2022-03-27 10:36] bolshoytoster commented on #997
@sigmagirl try deleting `node_modules` (in your project) then run `npm install --build-from-source`.

[2022-03-27 11:17] bolshoytoster commented on #1003
@cantonyuu try putting this in a file at your project’s root:
[code]
Save it, then run it with `node whateverYouCalledTheFile`.

[2022-03-27 11:44] cantonyuu commented on #1003
@bolshoytoster thanks

[2022-03-27 23:27] Smartsdontgotit commented on #996
Can someone please help me ;)

[2022-03-27 23:53] ZyryZ06 opened #1004 "Error: ENOENT: no such file or directory"
(node:10332) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\ZyryZ\Desktop\Mad Rabbit Nft\hashlips_art_en

[2022-03-27 23:56] bolshoytoster commented on #1004
@ZyryZ06 save your `src/config.js`.

[2022-03-28 02:18] jin8864 opened #1005 "_metadata.json isn't generated"
I ran into an error after generating the images and json files. I'm using VisualStudio and opened the right folder. There is no _metadata.json file in json folder. I input the 20,000 for the image generation, but it only generated aroun 16,000, and I think it caused the issue.
Should I generate one or is there any solution? If I should manually generate _metadata.json, how do I generate it?
Here i

[2022-03-28 03:12] jin8864 commented on #379
Hi, could you tell me the details how to create it, please?

[2022-03-28 03:13] ZyryZ06 commented on #1004
I have done that

[2022-03-28 07:03] bolshoytoster commented on #1005
@jin8864 you could replace your `utils/update_info.js` with [mine](https://github.com/bolshoytoster/hashlips_art_engine/blob/main/utils/update_info.js) then run `node utils/update_info.js`.

[2022-03-28 07:04] bolshoytoster commented on #1004
@ZyryZ06 can you paste your `layersConfiguration` please.

[2022-03-28 10:48] C0retek commented on #998
In case someone has the same challenge, here is how I did it:

Add the images from the first run as layer into the layers folder. For example  { name: "Original" }. Add a function to main.js to read the meta data from previous "generate" (replace BUILD_OLD with where you saved the build directory with the Json files from the initial run):

`const getattributes = (filenumber) => {
  let rawdata = f

[2022-03-28 10:48] #998 closed, assigned to nobody

[2022-03-28 10:50] jin8864 commented on #1005
Thanks for the quick response. Could you tell me how to manually generate _metadata.json, please?

[2022-03-28 10:52] Th3R3al0 opened #1006 "why not?"
Please start to take and receive donations Polygon please :)

[2022-03-28 12:34] bolshoytoster commented on #1005
@jin8864 refer to [this](https://github.com/HashLips/hashlips_art_engine/issues/1005#issuecomment-1080273925) comment please.

[2022-03-28 14:09] jin8864 commented on #1005
The link shows this thread. Something must be wrong.

[2022-03-28 14:21] bolshoytoster commented on #1005
@jin8864 no, it's right.

[2022-03-28 14:34] jin8864 commented on #1005
Somehow, it doesn't work for me. Could you give me the address instead of the link, please?

[2022-03-28 14:45] bolshoytoster commented on #1005
@jin8864 if you've replaced your `utils/update_info.js` with mine you should be able to run `node utils/update_info.js` to generate the `_metadata.json` file.

[2022-03-28 19:03] johnathan8608 opened #1007 "hi plz answer"
I wan to ask do i need to buy adomain name when I upload minting dapp to a host server if not then what is my address to use

[2022-03-28 20:33] ZyryZ06 commented on #1004
Im not positive what you mean. are you referring to my folders?

[2022-03-28 20:35] bolshoytoster commented on #1004
@ZyryZ06 the bit in your `src/config.js` you should've changed.

[2022-03-28 20:40] ZyryZ06 commented on #1004
lol, I may have found my problem. im going to fix this and see what happens next

[2022-03-28 20:46] ZyryZ06 commented on #1004
const layerConfigurations = [
  {
    growEditionSizeTo: 5,
    layersOrder: [
      { name: "1-Background" },
      { name: "2-Skin" },
      { name: "3-Clothes" },
      { name: "4-Eyes" },
      { name: "5-Hats" },
      { name: "6-Mouth" },
      { name: "7-Eye Accessories" },
      { name: "8-Earings" },
      { name: "9-Necklace" },

[2022-03-28 20:48] bolshoytoster commented on #1004
@ZyryZ06 can you paste the error you're getting please.

[2022-03-28 20:52] ZyryZ06 commented on #1004
I do believe I found the problem, I had a couple typos.
Thanks for directing me in the right direction, Ive tried everything

[2022-03-28 21:07] marcpre opened #1008 "Generate gifs with hashlib art engine"
Hello,

I love hashlib, really awesome library.

I was wondering if I can also use hashlib to generate animated gifs. F.ex. exporting from photoshop the animated layers and ordering them together with hashlibs.

Is something like that possible? I would love to watch/read a tutorial.

Appreciate your replies!

[2022-03-28 21:08] bolshoytoster commented on #1008
@marcpre no sorry, but you're welcome to open a PR implementing it.

[2022-03-28 22:00] SeemoneB commented on #997
@sigmagirl I had the same problem. Resolved with `nvm use 14.18.2`, then delete `node_modules` and run `npm install`

[2022-03-29 04:58] saxonheller commented on #812
same issue on my end only able to generate max 5 images and sometimes less

receive this error
TypeError: Cannot read properties of undefined (reading 'path')
    at /Users/saxonheller/Desktop/minter-dapp-main/backend/src/main.js:181:61
    at new Promise (<anonymous>)
    at loadLayerImg (/Users/saxonheller/Desktop/minter-dapp-main/backend/src/main.js:180:10)
    at /Users/saxonheller/Desktop/min

[2022-03-29 05:05] Zaffon commented on #978
did you get a response im haveing the same problem

[2022-03-29 05:34] Zaffon opened #1009 "Error: Cannot find module 'C:\Users\nzaff\Documents\hashlips_art_engine-1.1.2_patch_v6\utils\updateBaseuri.js' at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15) at Function.Module._load (node:internal/modules/cjs/loader:778:27) at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12) at node:internal/main/run_main_module:17:47 { code: 'MODULE_NOT_FOUND', requireStack: []"
Error: Cannot find module 'C:\Users\nzaff\Documents\hashlips_art_engine-1.1.2_patch_v6\utils\updateBaseuri.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12)
    at node:internal/main/run_main_module:17:4

[2022-03-29 05:35] Zaffon commented on #1009
I have tried deleting modules folder and reins staling it

[2022-03-29 06:38] Zaffon commented on #1009
Update info.js solved this problem

[2022-03-29 06:45] bolshoytoster commented on #812
@saxonheller try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-03-29 06:46] bolshoytoster commented on #978
@Zaffon they spelled the name wrong. Can you paste your error please.

[2022-03-29 08:27] princenedjoh commented on #978
same error here

[2022-03-29 09:34] #1004 closed, assigned to nobody

[2022-03-29 11:09] jin8864 commented on #1005
I just re-generated the images and json files with the right numbers this time, and everything is fine now!
Thanks for the great code and support!

[2022-03-29 12:42] bolshoytoster commented on #978
@princenedjoh can you paste your error here please.

[2022-03-29 16:16] Idonfts opened #1010 "256 links out of 9999 uploaded on ipfs"
As i wrote in the title, i was uploading the images folder to ipfs and in Daniel's video he uploads 20 images and gets 20 links, when i did that i only got 256 links out of 9999 images. He said in the video that the number of links should be the same as the items in the collection. The folder is 17 Gb and all the images has been successfully uploaded (i can open the folder on ipfs and look at each

[2022-03-29 16:20] ipv6freely commented on #812
I found that installing the "Latest Features" version of node.js (17.8.0 as of the time of this post) and then installing the dependencies via Homebrew as indicated above worked perfectly.
`arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg`

[2022-03-29 17:06] deemount commented on #812
Sounds good, I will test it, too. Thank you

[2022-03-29 21:03] rusotsig opened #1012 "I only want to generate these images in my Computer"
Hey Guys, I just want to make tests on my NFT layers. I don't want to put them in Blockchain. What should I do? There's Links about Wallet, Collection Name and Description. How Can I generate these Arts only in my Computer without damaging scripts?

[2022-03-29 21:05] bolshoytoster commented on #1012
@rusotsig you can just run `node index.js` or `npm run build` to generate.

[2022-03-29 21:06] rusotsig commented on #1012
This appears :/
![image](https://user-images.githubusercontent.com/45238295/160707173-c8fe2dcb-187b-4b9c-8cde-b59500676056.png)

[2022-03-29 21:11] bolshoytoster commented on #1012
@rusotsig you're in the wrong folder.

You can run `Get-ChildItem` to get the name, then run `cd ` + the name to change into it.

[2022-03-30 01:06] Zaffon commented on #978
Error  code below , Problem solved , The new repo command line updated which I was not aware of.  Discord Chanel provided resolution within 30 min of post.

 Error: Cannot find module 'C:\Users\nzaff\Documents\hashlips_art_engine-1.1.2_patch_v6\utils\updateBaseuri.js'     at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)     at Function.Module._load (node:internal/modul

[2022-03-30 01:29] ecom-newb commented on #896
@bolshoytoster thank you so much! I edited the canvas code and changed the smoothing from false to true and this seemed to do the trick!

[2022-03-30 01:50] shenan42 opened #1013 "Does anyone know how to continue your collection where you left"
I have a power issue in my country. when I'm trying to create 5000 NFTs it only generates 4000 NFTs and my home's power goes down. can someone help me how to start again without deleting generated files and continue from 4000 - 5000

[2022-03-30 01:59] #896 closed, assigned to nobody

[2022-03-30 06:49] bolshoytoster commented on #1013
@shenan42 [my fork](https://github.com/bolshoytoster/hashlips_art_engine) does this automatically.

[2022-03-30 08:56] #947 closed, assigned to nobody

[2022-03-30 12:13] elda1981 opened #1014 "Error message that won't allow me to continue :("
I am running 'npm run build' and this is what it comes up with:

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/Users/dimi/Desktop/hashlips_art_engine-main/node_modules/sha1'
Require stack:
- /Users/dimi/Desktop/hashlips_art_engine-main/src/main.js
- /Users/dimi/Desktop/hashlips_art_engine-main/index.js
    at Function.Module._resolveFilename (node:internal/modu

[2022-03-30 12:16] SolSecSociety opened #1015 "generate_metadata doesn't generate anything"
running the command:
npm run generate_metadata

I get this result:

the only file generated is the _metadata.json empty

Images are correctly named and saved into images folder
Any idea ?

[2022-03-30 12:23] bolshoytoster commented on #1014
@elda1981 run `npm install`

[2022-03-30 21:22] elda1981 commented on #1014
Hi  @bolshoytoster I have run it already.
pm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/dim

[2022-03-30 21:24] bolshoytoster commented on #1014
@elda1981 one of our dependenies doesn't support M1 macs.

You can look at [other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for potential solutions.

[2022-03-30 22:56] Bodiebuilds opened #1016 "How to add Paragraph Breaks in metadata (const description)"
Coding Novice here.
Is there a specific command to insert paragraph breaks for metadata description text?

[2022-03-30 23:13] bolshoytoster commented on #1016
@Bodiebuilds if you use backticks (`) for quotes you can have multiline strings.

[2022-03-31 00:13] Bodiebuilds commented on #1016
@bolshoytoster Thanks for answering. And what exactly would be the correct format for connecting all of the paragraphs?
Like I said before, really new to using code. Pardon my ignorance

Something like:
'Sentence 1. Sentence 2.' ; 'Sentence 3' ;

-or-

'Sentence 1. Sentence 2.' ;
'Sentence 3' ;

[2022-03-31 06:52] bolshoytoster commented on #1016
@Bodiebuilds something like
[code]

[2022-03-31 09:08] gitBlameMyself opened #1017 "How to add NFT after collection creation?"
How can I add an NFT (png and metadata file) to a generated collection so that the metadata_json file will also take into consideration the newly added file?

[2022-03-31 10:13] bolshoytoster commented on #1017
@cptlchad [my repo](https://github.com/bolshoytoster/hashlips_art_engine) supports this.

If you want to manually add it, add the image and metadata file, then delete the `_metadata.json` file, then run `node utils/update_info.js`.

[2022-03-31 11:22] HelloWorld44 opened #1019 "I can't deploy the site"
1:42:48 PM: Build ready to start
1:42:53 PM: build-image version: 2d975aac035b49faec3566497e1a23664999ac04 (focal)
1:42:53 PM: build-image tag: v4.7.0
1:42:53 PM: buildbot version: 51f079eb2b8422b2dd4a536784559216feb9524d
1:42:53 PM: Fetching cached dependencies
1:42:53 PM: Failed to fetch cache, continuing with build
1:42:53 PM: Starting to prepare the repo for build
1:42:53 PM: No cached depende

[2022-03-31 12:40] bolshoytoster commented on #1019
@HelloWorld44 you’re running `npm run build` from the wrong directory. Run it in the one with `package.json`.

[2022-03-31 13:02] #1019 closed, assigned to nobody

[2022-03-31 13:07] gitBlameMyself commented on #1017
Nice. So I could just copy your update_info function right?

[2022-03-31 16:22] bolshoytoster commented on #1017
@cptlchad yes

\*file

[2022-03-31 18:34] vishwapb opened #1020 "TypeError: Cannot read properties of undefined (reading 'shift')"
Hi,
Can someone please help with this.
Thank you.

TypeError: Cannot read properties of undefined (reading 'shift')
    at cleanDna (E:\Crypto\Hashlips\hashlips_art_engine-1.1.2_patch_v5\src\main.js:61:35)
    at E:\Crypto\Hashlips\hashlips_art_engine-1.1.2_patch_v5\src\main.js:225:22
    at Array.find (<anonymous>)
    at E:\Crypto\Hashlips\hashlips_art_engine-1.1.2_patch_v5\src\main.js:224:42

[2022-03-31 18:41] bolshoytoster commented on #1020
@vishwapb can you try using the [latest version](https://github.com/HashLips/hashlips_art_engine/archive/refs/heads/main.zip) please.

[2022-03-31 22:33] TriLogic commented on #828
I have created a fork which can be found here:
[ClickHere](https://github.com/TriLogic/hashlips_art_engine)

[2022-03-31 22:50] bolshoytoster commented on #828
@TriLogic good news, I had a talk with hashlips about merging my PR, so if you open one it might get merged.

[2022-04-01 00:08] elda1981 commented on #1014
Thank you @bolshoytoster . I was able to create them before in this laptop but for an unknown reason it doesn't work now :(

[2022-04-01 00:56] ReliableNFT commented on #733
I had the same issue and managed to get around it by deleting the folder NODE MODULES, and then using npm i to install the repo again. After that, npm run generate worked again. Using Node.js v17.8.0

[2022-04-01 03:13] HueLuna commented on #995
I figured it out. So basically I deleted the # in config.js and reentered it then saved config.js. sounds weird but that's what I did and it worked.

[2022-04-01 03:14] #995 closed, assigned to nobody

[2022-04-01 07:51] RajatShinde3 commented on #498
i have same problem please help me..........

[2022-04-01 08:02] bolshoytoster commented on #498
@RajatShinde3 can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-04-01 13:38] Tamashhi opened #1022 "Create a seperate collection without duplicates of the first collection?"
Is it possible to create another collection without duplicates or would you have to generate the second collection at the same time as the first and split them into two?

[2022-04-01 14:43] bolshoytoster commented on #1022
@Tamashhi [my fork](https://github.com/bolshoytoster/hashlips_art_engine) lets you continue a collection, but you'd stol hafe to manually split it in two.

[2022-04-01 22:09] metamacias opened #1024 "Layer configuration Is not pushing my 2nd set of layers"
const layerConfigurations = [
  {
    // Original Layers
    growEditionSizeTo: 50,
    layersOrder: [
      { name: "Background" },
      { name: "Backpack" },
      { name: "Skin" },
      { name: "Shell" },
      { name: "Eyes" },
      { name: "Lips" },
      { name: "Arms" },
      { name: "Accessories" },
      { name: "Hairstyles" },

    ],
  },
  {
    // Alternative Layers
    growEditio

[2022-04-01 22:12] M3taMacias commented on #1024
`const layerConfigurations = [
  {
    // Original Layers
    growEditionSizeTo: 50,
    layersOrder: [
      { name: "Background" },
      { name: "Backpack" },
      { name: "Skin" },
      { name: "Shell" },
      { name: "Eyes" },
      { name: "Lips" },
      { name: "Arms" },
      { name: "Accessories" },
      { name: "Hairstyles" },

    ],
  },
  {
    // Alternative Layers
    growEditi

[2022-04-01 22:12] bolshoytoster commented on #1024
@M3taMacias make sure you save the `src/config.js` file.

[2022-04-01 22:21] metamacias commented on #1024
thank you ill get back to you shortly

[2022-04-01 22:26] metamacias commented on #1024
No luck. I tried it twice

[2022-04-01 22:33] bolshoytoster commented on #1024
@M3taMacias could you send a screenshot?

[2022-04-01 22:53] metamacias commented on #1024
A screen shot of what part?

[2022-04-01 22:59] metamacias commented on #1024
![AltLayerConfig](https://user-images.githubusercontent.com/101298610/161352379-7498d4d4-b3e2-4309-a879-d5f7b76833c5.PNG)

[2022-04-01 23:21] joaogfmoreira opened #1025 "Export "npm run rarity""
Hello

I generated a 10k collection and am trying to export the "run rarity" from the terminal (VS code). but it won't display all the traits in the terminal. how can i see the full output?

[2022-04-02 00:59] joaogfmoreira commented on #1025
managed to get the full output by running it directly on the Macbook Terminal app. would be nice to know how to get it on VS Code though

[2022-04-02 04:10] PencilsDown opened #1026 "Only including top layer in generate"
hello - i made what i thought was a quite simple set of layers for my first time but somehow when i run generate it is only grabbing the top layer (furthest down the page) and disregarding the others....i tried swapping different layers as the top one but still only pulls the top...stumped! appreciate the help!

for example png shown below, i am trying to build an egg picture to background, effect

[2022-04-02 06:52] JB6killer commented on #831
hey guys, I have a similar issue, can't find how to fix it. Thanks guys !
<img width="779" alt="Screen Shot 2022-04-02 at 5 47 47 pm" src="https://user-images.githubusercontent.com/102849191/161370945-2a6dbb31-36ad-4dae-9532-50ad0c8f0795.png">

[2022-04-02 08:19] bolshoytoster commented on #1024
@M3taMacias could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-02 08:21] bolshoytoster commented on #1026
@PencilsDown make sure your images are transparent.

[2022-04-02 08:22] bolshoytoster commented on #831
@JB6killer can you paste the **full** error please.

[2022-04-02 08:40] elda1981 opened #1027 "I am stuck here please help!!!"
Dimi-MBP:hashlips_art_engine-1.1.2_patch_v6 dimi$ npm run build

(node:5347) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'replace' of undefined
    at removeQueryStrings (/Users/dimi/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:274:15)
    at cleanDna (/Users/dimi/Downloads/hashlips_art_engine-1.1.2_patch_v6/src/main.js:60:26)
    at /Users/dimi/Downloads/hashlips

[2022-04-02 09:04] thepeanutgalleryandco commented on #1024
@M3taMacias put your first grow edition size at 50 and your second grow edition size at 100. It is cumalative.

[2022-04-02 09:23] bolshoytoster commented on #1027
@elda1981 can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-04-02 10:48] elda1981 commented on #1027
@bolshoytoster you are a gem!!! Not sure what it was but it worked!!!!I've been pulling my hair for hours now..
I've tried increasing the number from 5 to 100 but it won't work. Are there any dependencies that won't allow me to do it?

[2022-04-02 10:49] bolshoytoster commented on #1027
@elda1981 make sure you save the `src/config.js` file.

[2022-04-02 11:08] elda1981 commented on #1027
Fantastic!! @bolshoytoster it worked!! Apparently, I just need to increase my layers in order to increase the number of the output. Thank you once again for your prompt response!! Have a great day :)

[2022-04-02 11:08] #1027 closed, assigned to nobody

[2022-04-02 13:04] jalagar commented on #1008
Hi @marcpre @bolshoytoster I was able to build a tool to do exactly this! it takes png layers and turns them into generative gifs.

Here's a medium article: https://jalagar-eth.medium.com/how-to-create-generative-animated-nft-art-in-under-an-hour-e7dab1785c56
And here's the repo: https://github.com/jalagar/Generative_Gif_Engine

You can see all 1k of them on https://opensea.io/collection/genesis-b

[2022-04-02 13:04] jalagar commented on #946
Hi @pokerpug I was able to build a tool to do exactly this! it takes png layers and turns them into generative gifs. Its forked from an earlier version of hashlips but I plan to update it to a more recent version soon.

Here's a medium article: https://jalagar-eth.medium.com/how-to-create-generative-animated-nft-art-in-under-an-hour-e7dab1785c56
And here's the repo: https://github.com/jalagar/Gene

[2022-04-02 13:05] jalagar commented on #861
Hi @Pinper6 @sleiman88 I was able to build a tool to do exactly this! it takes png layers and turns them into generative gifs. Its forked from an earlier version of hashlips but I plan to update it to a more recent version soon.

Here's a medium article: https://jalagar-eth.medium.com/how-to-create-generative-animated-nft-art-in-under-an-hour-e7dab1785c56
And here's the repo: https://github.com/ja

[2022-04-02 13:06] jalagar commented on #801
Hi @AdityaNikhil I was able to build a tool to do exactly this! it takes png layers and turns them into generative gifs. Its forked from an earlier version of hashlips but I plan to update it to a more recent version soon.

Here's a medium article: https://jalagar-eth.medium.com/how-to-create-generative-animated-nft-art-in-under-an-hour-e7dab1785c56
And here's the repo: https://github.com/jalagar/

[2022-04-02 13:08] jalagar commented on #212
Hi @dotnrx I was able to build a tool to do exactly this! it takes png layers and turns them into generative gifs.

Here's a medium article: https://jalagar-eth.medium.com/how-to-create-generative-animated-nft-art-in-under-an-hour-e7dab1785c56
And here's the repo: https://github.com/jalagar/Generative_Gif_Engine

You can see all 1k of them on https://opensea.io/collection/genesis-bouncing-ball. Le

[2022-04-02 13:09] jalagar commented on #830
Hi @genius665 I was able to build a tool to do exactly this! it takes png layers and turns them into generative gifs.

Here's a medium article: https://jalagar-eth.medium.com/how-to-create-generative-animated-nft-art-in-under-an-hour-e7dab1785c56
And here's the repo: https://github.com/jalagar/Generative_Gif_Engine
Feel free to follow me on Twitter or DM me on Twitter with questions: https://twitt

[2022-04-02 13:11] #830 closed

[2022-04-02 13:16] rojcyk opened #1028 "Is it possible to have multiple source folders for a single trait?"
I'm trying to generate images with different `skin` color. But the accompanying images like `hair` or `facial_hair` need to be different in order to construct the final image.

So what I would want to achieve is to have two different `layer configurations` which would map to the same metadata but would source different folders like this:

[code]

**Result:**

The trait_type in the generated metada

[2022-04-02 13:22] AdityaNikhil commented on #801
Just read your blog, very informative. Appreciate the hard work you put into writing the code.🚀👍

So, it initially takes all png layers and creates spritesheet layers. Later generating a bunch of GIFs right.
Cool, I've spent weeks directly working with GIF layers trying to generate bunch of GIFs. Didn't go well!

Anyway,
- I'll try your code and update you here how it goes.
- I'll appreciate if yo

[2022-04-02 13:23] bolshoytoster commented on #1028
@rojcyk in `src/main.js` ~line 178:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L177-L179
You should be able to change `value: selectedElement.name,` to `value: selectedElement.name.split('/')[0],`

[2022-04-02 13:34] jalagar commented on #362
Hi all, I was able to build a tool to do exactly this! it takes png layers and turns them into generative gifs. Its forked from an earlier version of hashlips but I plan to update it to a more recent version soon.

Here's a medium article: https://jalagar-eth.medium.com/how-to-create-generative-animated-nft-art-in-under-an-hour-e7dab1785c56 on how it works.
And here's the repo: https://github.com/

[2022-04-02 13:37] jalagar commented on #801
You're welcome @AdityaNikhil! You're exactly right, MichaPipo did most of the spritesheet layer work but I wrote the Python tools to massage the png files, and also made it much simpler to use. Please provide me any feedback on the tool and feel free to create issues/discussion! I joined your discord as well but have my DMs disabled (as expected).

[2022-04-02 15:05] PencilsDown commented on #1026
Yes that was the mistake, thank u!

[2022-04-02 15:06] PencilsDown commented on #1026
@bolshoytoster 👍🏼

[2022-04-02 19:34] plasmaHD opened #1030 "Removing custom_fields and external_url from metadata?"
Is it possible to update either the generation script itself or the update_info script to completely remove custom_fields and external_url from metadata? I only want the name, image, and trait information. Thanks in advance

[2022-04-02 19:43] bolshoytoster commented on #1030
@plasmaHD in `utils/update_info.js` ~line 26:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L26-L27

You can insert something like:
[code]

[2022-04-02 19:47] plasmaHD commented on #1030
@bolshoytoster works like a charm. Thanks for quick response.

[2022-04-02 19:48] #1030 closed, assigned to nobody

[2022-04-02 20:34] Erosa01 opened #1031 "When I run node index.js I keep an Error"
PS C:\Users\Carlos\Desktop\Evan\nftproject\NFT Deployment\hashlips_art_engine-1.1.2_patch_v6> node index.js
(node:4496) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);

[2022-04-02 20:40] bolshoytoster commented on #1031
@Erosa01 save your `src/config.js`.

[2022-04-02 22:29] metamacias opened #1032 "Error: Unsupported image type"
![Capture](https://user-images.githubusercontent.com/101298610/161403327-236af7be-ed12-455c-b4c3-5d9dca4b4da4.PNG)

Everything was running fine than this started happening

Created edition: 151, with DNA: b492bc4469aa09295724a6bc13fa5a08e59c9817
Created edition: 152, with DNA: 9eadbb526e54debfc7a790f2da29098396d66299
Created edition: 153, with DNA: e2072891f4472e9dd15be9166002578e0012c88a
Created

[2022-04-02 22:35] bolshoytoster commented on #1032
@M3taMacias make sure there are **only** images in your `layers/*/` folders, or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-02 23:14] rojcyk commented on #1028
@bolshoytoster thank you, works like a charm!

[2022-04-02 23:14] #1028 closed, assigned to nobody

[2022-04-03 01:21] Pinper6 commented on #861
@jalagar  great thanks for your help. it really helpful.

[2022-04-03 01:26] jalagar commented on #861
You're welcome! Please add issues or discussion in the repo if you run into issues :)

[2022-04-03 02:20] Pinper6 opened #1033 "how do i set this "_edition" if i wanna begin with NO.1001 for example?"
Hi Sir

i wanna start not from NO.1 but NO.1001 for example. And i am not familiar with JS, the varible i check seems like _edition, but i didn't find the varible definitions. could anyone help to modify? thanks a lot.

const addMetadata = (_dna, _edition) => {  // how to modify _edition to let the metadata start from 1001?
  let dateTime = Date.now();
  let tempMetadata = {
    name: `${namePrefi

[2022-04-03 03:22] Pinper6 commented on #1033
i found as below. please help.
![image](https://user-images.githubusercontent.com/97216488/161409904-7569a4db-17ff-4c14-950b-c55d7894c3bb.png)

[2022-04-03 06:51] milizzz opened #1034 "SyntaxError"
help me plz
C:\Users\TechZone-PC>cd C:\Users\TechZone-PC\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6

C:\Users\TechZone-PC\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6>node index.js
C:\Users\TechZone-PC\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6\src\main.js:94
      layerObj.options?.["displ

[2022-04-03 09:52] bolshoytoster commented on #1033
@Pinper6 you can use [my repo](https://github.com/bolshoytoster/hashlips_art_engine) and set `startEditionFrom` the same way you set `growEditionSizeTo`.

[2022-04-03 09:53] bolshoytoster commented on #1034
@milizzz either update your node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-03 12:02] milizzz opened #1035 "Cannot read property 'path' of undefined"
after generated afew its stop
C:\Users\Public\hashlips_art_engine-1.0.7_update>node index.js
Created edition: 1, with DNA: 51ca50bd50581cd231918de330e4c6272aaec077
Created edition: 2, with DNA: 7e3b97c0f6eda16397d0b2fa21bbaea91cc81844
Created edition: 3, with DNA: fcd1357989e615e69af838b951b56b53581f0784
Created edition: 4, with DNA: 9d304d15e94dd386702e3c76509c993d6c7a3287
Created edition: 5, wit

[2022-04-03 12:05] bolshoytoster commented on #1035
@milizzz try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-04-03 14:58] Erosa01 commented on #1031
oh thank you

[2022-04-03 18:55] sadun619 opened #1036 "Generate New Collection - Without Duplicates from Collection 1"
i need generate 10k collection with 4 drops (2500x4)

how can i shuffle nft's just in one drop without mixing each drops.

[2022-04-03 20:08] rickylee12 opened #1037 "I've been looking for answers for 6 hours, but I'm not making any progress xxck!"
My problem is

 Error: Cannot find module 'C:\Users\lus1d\Downloads\hashlips_art_engine-1.1.2_patch_v6 (3)\hashlips_art_engine-1.1.2_patch_v6\layers\index.js'    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12)

[2022-04-03 20:12] bolshoytoster commented on #1037
@rickylee12 I think you're either running the wrong command or your `layersConfigurations` is wrong.

Try running `node index.js`, if that gives you the same error, can you paste your `layersConfigurations` here please.

[2022-04-03 20:21] rickylee12 commented on #1037
@bolshoytoster

### yeap your right it was wrong location of terminer so I just found new problem that code whit yellow

Error: ENOENT: no such file or directory, scandir 'C:\Users\lus1d\Downloads\hashlips_art_engine-1.1.2_patch_v6 (3)\hashlips_art_engine-1.1.2_patch_v6/layers/mouthr/'
    at Object.readdirSync (node:fs:1392:3)
    at getElements (C:\Users\lus1d\Downloads\hashlips_art_engine-1.1.2

[2022-04-03 20:24] bolshoytoster commented on #1037
@rickylee12 it looks like you misspelled one of your layer names in your `layersConfigurations`. I think you need to change `mouthr` to just `mouth`.

[2022-04-03 20:36] rickylee12 commented on #1037
@bolshoytoster
Wow, it was seem like I'm a beginner haha!!. You're right. I fixed it right away. I'm so refreshed that I want to buy you ice cream.
thx man~

[2022-04-03 22:26] #1036 closed, assigned to nobody

[2022-04-03 22:36] sadun619 opened #1038 "Collection Shuffle problam"
I need separate collection to 4 parts when generating. and should shuffle nft's inside each part, without shuffling each 4 parts.

[2022-04-04 09:48] ZurichiSOL opened #1039 "Generate a collection with one picture"
Is it possible to generate a whole collection just by using one picture with this program?

[2022-04-04 10:11] BKdesign016 opened #1040 "npm run generate Issue"
After running npm run generate I'm getting this:
![npm run generate issue](https://user-images.githubusercontent.com/102361888/161522723-72d655a0-e09e-4618-ae05-bfda54bf1927.png)
Where am I wrong? Please help.

[2022-04-04 10:27] dotnrx commented on #212
Wow man!

[2022-04-04 11:58] kara1021 commented on #1009
@Zaffon where is the info.js? cannot find it on folder..

[2022-04-04 15:26] MaciekBaron commented on #1040
Your paths are using the wrong slashes - on Windows paths use backslashes `\` but the path to your image in your settings is using forward slashes `/`

[2022-04-04 15:27] MaciekBaron commented on #1039
Do you mean use one picture as a source?

How would this work if you can't create any combinations?

[2022-04-04 15:42] bolshoytoster commented on #1009
@kara1021 `utils/update_info.js`.

[2022-04-04 15:45] bolshoytoster commented on #1040
@BKdesign016 @MaciekBaron

no.

It's because you have non-ascii characters in your path - `C:/Graphic Design/Robot b k `.

[2022-04-04 15:56] BKdesign016 commented on #1040
![Robot b²k² non-ascii characters](https://user-images.githubusercontent.com/102361888/161583723-1ca13eb1-97c0-491d-afb1-6d2c4e7393c5.png)
Are these non-ascii characters?

[2022-04-04 15:58] BKdesign016 commented on #1040
![Are these non-ascii characters](https://user-images.githubusercontent.com/102361888/161584156-ece827cb-8743-47ab-babf-a8e84183c7fd.png)
Are these non-ascii characters?

[2022-04-04 15:59] bolshoytoster commented on #1040
@BKdesign016 yes.

[2022-04-04 16:02] BKdesign016 commented on #1040
Thank you very much.

[2022-04-04 16:56] MrYogi54 opened #1041 "My layers are generating, but they are all overlapping"
I finally got the the haslip_art_engine -1.1.2_patch_v6 to work.
only now when I go to generate I get overlapping nft.
How to I fix this is there a solution
?

[2022-04-04 16:58] kara1021 commented on #1009
@bolshoytoster  Sorry, i am new to this. Would you share more details on how to modify on Update_info.js? Thanks.

[2022-04-04 16:59] bolshoytoster commented on #1041
@MrYogi54 What is specifically overlapping? It's probably just your `layersOrder` in the wrong order.

[2022-04-04 16:59] bolshoytoster commented on #1009
@kara1021 what do you want to do?

[2022-04-04 17:10] MrYogi54 commented on #1041
bolshoytosterevrthing  the layer order is correct.
for example in the pic the suga skull mask is over athe red catsuit the catsuit is over the purple dress and i have hair hanging behind the head towel

[2022-04-04 17:13] bolshoytoster commented on #1041
@MrYogi54 if you don't want hair with the towel you could have the towel as an image in your hair layer.

[2022-04-04 17:16] MrYogi54 commented on #1041
bolshoytoster i'll try that thx. but what about the other overlapping layers like the dress showing behind the catsuit?

[2022-04-04 17:18] bolshoytoster commented on #1041
@MrYogi54 you should probably have the dress and catsuit on the same layer as well.

[2022-04-04 17:22] MrYogi54 commented on #1041
bolshoytoster ok thx again ill try it and get back .You werevery helpfull because im very new to this nft stuff just started this week.lol

[2022-04-04 17:43] kara1021 commented on #1009
frist time  it is sucessful to genrate visual.
But i got these errors for second time when run" node index.js ",
Cannot understand above comment on update info js. Please advise. Thanks.

Error: Cannot find module 'C:\Users\Kara\Desktop\20220404\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader

[2022-04-04 17:45] bolshoytoster commented on #1009
@kara1021 you're in the wrong folder then. Can you paste the output of the command `Get-ChildItem` here please.

[2022-04-04 17:46] MrYogi54 commented on #1041
bolshoytoster THX again that worked. now I see were I need to make adjustments to each layer . Thx.

[2022-04-04 17:52] kara1021 commented on #1009
@bolshoytoster

PS C:\Users\Kara\Desktop\20220405> Get-ChildItem

    Directory: C:\Users\Kara\Desktop\20220405

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          4/5/2022   1:48 AM                hashlips_art_engine
d-----          4/5/2022   1:49 AM                node_modules
-a----          4/5/2022   1:49 AM

[2022-04-04 17:53] kara1021 commented on #1009
@bolshoytoster
`PS C:\Users\Kara Wong\Desktop\20220405> Get-ChildItem
Directory: C:\Users\Kara Wong\Desktop\20220405

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          4/5/2022   1:48 AM                hashlips_art_engine
d-----          4/5/2022   1:49 AM                node_modules
-a----          4/5/2022   1:49 AM

[2022-04-04 17:54] bolshoytoster commented on #1009
@kara1021 run `cd hashlips_art_engine` then you should be able to run `node index.js`.

[2022-04-04 18:00] kara1021 commented on #1009
@bolshoytoster  more error comes , any idea ? i have redo from step 1 "Git clone" still failed.

PS C:\Users\Kara\Desktop\20220405\hashlips_art_engine> node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\Kara\Desktop\20220405\hashlips_art_engine/node_modules/sha1'
Require stack:
- C:\Users\Kara\Desktop\20220405\hashlips_art_engine\src\main.js
-

[2022-04-04 18:01] bolshoytoster commented on #1009
@kara1021 run `npm install`.

[2022-04-04 18:38] kara1021 commented on #1009
@bolshoytoster  thanks it works!! :)

[2022-04-04 19:15] rickylee12 opened #1042 "I don't know why my photos keep shrinking and being produced."
The pixel of my picture is 1500 x 1800
Also, I tried to modify the width and height in the config, but I couldn't find the size I wanted. How can I modify the max height index?

[2022-04-04 19:22] bolshoytoster commented on #1042
@rickylee12 if setting format.{width,height} **and saving** doesn't work then it's probably just metadata.

My fork lets you set `format.resolution` to set the resolution in ppi for the resulting images.

[2022-04-04 19:36] rickylee12 commented on #1042
@bolshoytoster yea yea! That's what I've been looking for. You're always helping me. May God bless you

[2022-04-04 20:38] Catzskull commented on #1040
<img width="755" alt="Screen Shot 2022-04-04 at 4 38 00 PM" src="https://user-images.githubusercontent.com/102982983/161628054-793e8fc1-fa4d-4b7b-9bc9-8540286d40ef.png">

[2022-04-04 20:44] bolshoytoster commented on #1040
@Catzskull I assume you just need to run `npm install`, but I can't really help much other than that without the full error.

[2022-04-04 21:26] Catzskull commented on #1040
Sorry first time here, I don't get it, thk
<img width="1211" alt="Screen Shot 2022-04-04 at 5 25 51 PM" src="https://user-images.githubusercontent.com/102982983/161634968-be2d0859-3201-4383-b0bd-cf6e312240f4.png">
s

[2022-04-04 21:29] bolshoytoster commented on #1040
@Catzskull I think you'l just need to save your `src/config.js` file.

[2022-04-04 21:50] donaldnft opened #1043 "some pictures are only different in their bacground. Its not good"
Some pictures are exactly the same and only their background color is different. More layers don't solve this problem. They only reduce the probability. Is there a way to solve this problem or at least find these pictures and delete them? I want my pictures to be different in at least 2 layers.

[2022-04-04 21:55] Ademie commented on #1040
I am getting the same error I dont think any of this solutions are helpful.. can someone help out I need to set up this project it's an hired contract 😥

[2022-04-04 21:55] bolshoytoster commented on #1043
@donaldnft in your `layersOrder`s you can specify `bypassDNA`, you can put this on your background layer, i.e:
[code]

[2022-04-04 21:56] bolshoytoster commented on #1040
@Ademie can you paste the error please.

[2022-04-04 22:03] Ademie commented on #1040
Please give me a moment, I'll be right back

[2022-04-04 22:06] Ademie commented on #1040
C:\Users\isijo\Desktop\TortNFT\hashlips>npm run generate

node:internal/modules/cjs/loader:1187
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The module '\\?\C:\Users\isijo\Desktop\TortNFT\hashlips\node_modules\canvas\build\Release\canvas.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 83. This version of Node.js requi

[2022-04-04 22:18] Catzskull commented on #1040
<img width="1176" alt="Screen Shot 2022-04-04 at 6 18 37 PM" src="https://user-images.githubusercontent.com/102982983/161641262-03629a0b-1802-4469-a034-9e1e1aa5f81b.png">

[2022-04-04 22:18] Ademie commented on #1040
C:\Users\isijo\Desktop\TortNFT\hashlips>npm run generate

C:\Users\isijo\Desktop\TortNFT\hashlips\node_modules\canvas\lib\image.js:91
  SetSource.call(img, src);
            ^

Error: error while reading from input stream
    at setSource (C:\Users\isijo\Desktop\TortNFT\hashlips\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\isijo\Desktop\TortNFT\hashlips\node_modules\canvas\li