[2022-05-13 14:44] bolshoytoster commented on #1124
@xdrushxd I've personally never used it, so I won't be much help.

You could try opening an issue on that repo asking for help.

[2022-05-13 14:51] bolshoytoster commented on #1025
@Pwnkmrdroch you're welcome.

BTC: 3PcvzFiZVgDSaEjVhBufc9qTbSgpNhWQAA

[2022-05-14 01:06] cryptovladX opened #1181 "How to use the same color?"
Hi there community, I recently stumbled upon this project and after giving it a few tests it looks really promising, kudos to the developers at Hashlips :)

I am having a little issue or question here so some guidance would be greatly appreciated. Is there a way to enforce the same color being used based on different layers? Let me give you an example, here is a sample structure:

- Hair
  - Yello

[2022-05-14 07:06] bolshoytoster commented on #1181
@cryptovladX could you have hair and beard on the same layer?

[2022-05-14 07:33] s-d-sd commented on #1123
@bolshoytoster

Thank you for the advice, the fork works great

One thing I'd like to ask is, is it possible to create collection which has mixing different traits with sequential number

not [1 | BDACCD........ABDCDA | 40]
↓
but [1 | ABAA.....BABA | 20 | DDCD....CDCD | 40]

somehow by modifying the code below?

[code]

[2022-05-14 08:55] bolshoytoster commented on #1123
@SDM-Shroom no, but you could try generating the first bit with just A and B then generate with just C and D, my repo lets you continue a henerated collection.

[2022-05-15 08:42] bettyboomy commented on #1016
Coding Novice too, sorry I don't understand the solution, can you be more specific please? where and how should I write this code?

I'm using Markdown for the Metadata Description and I would like to add some paragraph breaks.

Markdown code needs to add a blank line every paragraph break, but it return this error "Unterminated string literal. ts(1002)".

Also, you talk about using the constant `,

[2022-05-15 08:52] SwagCord13 commented on #1179
I used a different software to generate metadata and images. I dropped them into the code and made all the config.js all good and all folders all good. However i am having same problem. Like i have all the images and metadata just need to update the metadata

[2022-05-15 11:26] SwagCord13 commented on #1178
where did you add this? i believe i have the same problem

[2022-05-15 11:29] SwagCord13 commented on #1178
ARGH. i did the generate metadata thing and now all my trait types are 'not a hot dog' etc
"name": "Sloothz #2",
  "description": "Sloothz is an NFT hanging off the Ethereum blockchain. ",
  "image": "ipfs://QmVUNwgeuu7m26FE6Qw1FUcFVaBK8vHaQeCyc2jopyafCH/2.png",
  "edition": 2,
  "attributes": [
    [
      {
        "trait_type": "average color",
        "value": "rgb(141,97,69)"
      },
      {

[2022-05-15 11:31] SwagCord13 commented on #1178
Went into the "generate_metadata.js" tab and found this.
onst addRarity = () => {
  let w = canvas.width;
  let h = canvas.height;
  let i = -4;
  let count = 0;
  let imgdata = ctx.getImageData(0, 0, w, h);
  let rgb = imgdata.data;
  let newRgb = { r: 0, g: 0, b: 0 };
  const tolerance = 15;
  const rareColorBase = "NOT a Hot Dog";
  const rareColor = [
    { name: "Hot Dog", rgb: { r: 192, g: 1

[2022-05-15 14:47] 100DollarDoodle commented on #1174
ok, I'll start testing right now and I'll let you know

[2022-05-15 17:04] bolshoytoster commented on #1016
@bettyboomy

That's probably due to using \` in the text.

There are two solutions:
1. Use a single-line string using `'` or `"` as quotes (you'll have to use `\n` every time you want a new line):
[code]

2. Escape the \`s with backslashes, i.e.
[code]

[2022-05-15 17:13] bolshoytoster commented on #1179
@SwagCord13 so you just want to update the metadata? Is there an issue with just running `node utild/update_metadata.js`?

[2022-05-15 17:17] bolshoytoster commented on #1178
@SwagCord13 I think you're meant to change the `"NOT a Hot Dog"` and `"Hot Dog"`s before running it.

What are you trying to do?

[2022-05-15 17:32] wailsonlucas opened #1182 "i cloned hashlips_art_engine but when i try to install the dependencies i dace this error"
i cloned hashlips_art_engine but when i try to install the dependencies i dace this error
i have Node 16.15.0 installed on Windows 10 pc, i tried running it in administrator but the same error, but it run perfectly on my other laptop with Linux Manjaro on it.

C:\Users\Dev Station 1\Desktop\Nouveau dossier\final_hashlips_art_engine>npm install
npm ERR! code 1
npm ERR! path C:\Users\Dev Station 1\D

[2022-05-15 17:38] bolshoytoster commented on #1182
@beforecode did you read the error?
[code]

[2022-05-15 18:42] ICrafted opened #1183 "Tried to update metadata files using node utils/update_info.js and got this error."
PS C:\Users\IC\Desktop\create-10k-nft-collection-2.0.0> node utils/update_info.js
C:\Users\IC\Desktop\create-10k-nft-collection-2.0.0\utils\update_info.js:16
const updateName = await yesno(`Update names?`);
                   ^^^^^

SyntaxError: await is only valid in async functions and the top level bodies of modules
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/m

[2022-05-15 18:46] bolshoytoster commented on #1183
@ICrafted open an issue where you actually got the code from: [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection) please.

[2022-05-15 19:36] wailsonlucas commented on #1182
thank you, i missed it, my bad !!

[2022-05-15 19:36] #1182 closed, assigned to nobody

[2022-05-15 21:16] ICrafted commented on #1183
ah right my bad.

[2022-05-16 03:36] pmcrypto11023 commented on #1159
@Abrar-talpur did you get a solution to your issue, iam facing the same problems.

[2022-05-16 07:21] bolshoytoster commented on #1159
@pmcrypto11023 can you paste your error please.

[2022-05-16 07:56] KadeStroude commented on #1049
This usually happens when Pinata cannot find the CID as it is not pinned properly. Take a read of the following and see if it is helpful for you:

https://knowledge.pinata.cloud/en/articles/5509412-how-to-upload-a-large-folder-by-running-a-local-ipfs-node

[2022-05-16 09:21] talke13 commented on #747
i have node installed but still not working

[2022-05-16 14:08] jsbskzbakwu6568 opened #1184 "important issue"
i dont know why images like this its becuse my labtop is low end or what

![‏‏لقطة الشاشة (3)](https://user-images.githubusercontent.com/105160148/168611652-43e8e64f-92a3-47f2-879e-fad664e8e26a.png)

[2022-05-16 14:30] pmcrypto11023 commented on #1159
Hi folks, good new i was able to get the solution and the error is gone.
What i did was - revert to the same version of node (14.17.6) Hashlips is using in the videos---this resolved my Canvas package not found issues (full pages and more ) of errors.
To revert to node 14.17.6--i installed nvm (youtube) and then did the Git Bash steps (youtube) - giving admin authorization to overcome the Access D

[2022-05-16 15:32] bolshoytoster commented on #747
@talke13 when you installed node did you make sure to install npm?

What is the output of `node -v`?

[2022-05-16 21:53] pzehle commented on #1159
This is an issue no matter what `node` version you are using. Please fix.

[2022-05-16 21:56] bolshoytoster commented on #1159
@pzehle can you paste the error please.

It's not an issue with this repo. It's usually mis/not reading instructions.

[2022-05-16 21:58] pzehle commented on #1159
[code]

It is in _fact_ an issue with the repository, as the instructions are fairly simple. Download repo, `npm install`, then you are good to go.

After running `npm install` - I get the error pasted above. It is not even able to install the dependencies...

[2022-05-16 22:09] bolshoytoster commented on #1159
@pzehle the error says it can't find `pixman-1`:
[code]
Searching for the error comes up with [this stackOverflow answer](https://stackoverflow.com/a/64562622) which suggests running `brew install pkg-config cairo pango libpng jpeg giflib librsvg` if you have homebrew.

[2022-05-16 22:22] pzehle commented on #1159
Tried and failed. Also went back to node 14 instead of 16, still the same.

Can we now say this is a problem with the repository?

[2022-05-16 22:42] bolshoytoster commented on #1159
@pzehle
If you're on an M1 mac, [this](https://stackoverflow.com/a/70670814) answer suggests running `arch -arm64 brew install pkg-config cairo pango jpeg giflib librsvg`.

If that doesn't help, one of canvas' maintainers [suggested](https://github.com/Automattic/node-canvas/issues/1499#issuecomment-566880760) making sure you have `ignore-scripts` off (`npm config set ignore-scripts false`).

If i

[2022-05-17 02:19] lfjigu opened #1185 "create NFTs without attributes?"
how can I create nfts without attributes? I don't want the layers and I already have 1000 images.

I need to make the .json files looks like this:

{ "dna":"1",
  "name":"my nfts",
  "external_url":"https://www.mynfts.com",
  "description":"my nfts",
  "image":"ipfs://URL"
}

how can I modify the code to achieve this?

Thank you for your answering.

[2022-05-17 07:28] bolshoytoster commented on #1185
@lfjigu in `utils/update_info.js` ~line 26:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L26-L27

You can insert the line:
[code]

[2022-05-17 13:10] magoit07 opened #1186 "Engine stops generating images after 43 NFTS -> undefined.png // "Create edition: undefined""
So after 43 succeful created NFTs the Engine continues to create new Images : "Create edition: undefined" but no new images appear in the build folder. Instead, there is a file called undefined.png. Any help for this problem?

[2022-05-17 14:48] bolshoytoster commented on #1186
@magoit07 could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-05-17 21:25] ADAChance commented on #827
Hello
Did you find a solution ?

[2022-05-18 06:15] SwagCord13 opened #1187 "Not able to update my metadata"
Hi not able to update my metadata i used "node utils/update_info.js"
PS C:\Users\Sauld\Downloads\hashlips_art_engine-1.1.2_patch_v6> node utils/update_info.js
node:internal/fs/utils:345
    throw err;
    ^

Error: EISDIR: illegal operation on a directory, read
    at Object.readSync (node:fs:727:3)
    at tryReadSync (node:fs:433:20)
    at Object.readFileSync (node:fs:479:19)
    **at Object.<an

[2022-05-18 07:18] Jumpman329 opened #1188 "NPM RUN GENERATE"
I've been having issues generating NFT's. I've searched just about every forum but I can't seem to solve the issue. i'm not too good at coding. Any help would be greatly appreciated. This is the error that I receive:

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! 10k-collection-video@2.0.0 generate: `node index.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the 10k-collection-video@2.

[2022-05-18 12:23] santosh-kumar-kaushal opened #1189 "Is it possible to merge collection"
1st Base character and 30 Layers generate = 1000 NFT
2nd Base character and 25 Layers generate = 1000 NFT
3nd Base character and 35 Layers generate = 1000 NFT

Now we have 3000, can we jumble the numbers in the collection for images and JSON files?

Need help! Thanks in advance.

[2022-05-18 12:27] santosh-kumar-kaushal commented on #1189
@bolshoytoster Please check this.

[2022-05-18 14:15] wailsonlucas opened #1190 "Not able to run any npm command on hashlips art engine"
i am running Linux Manjaro kfce, i cloned the hashlips art engine with it's original layers and everything, after installing depenedencies and running `npm run build` i get this error

[yassine@yassine-tobefilledbyoem 2-final]$ npm run build

hashlips_art_engine@1.1.1 build
node index.js

node:internal/modules/cjs/loader:1189
  return process.dlopen(module, path.toNamespacedPath(filename));

[2022-05-18 15:13] bolshoytoster commented on #1187
@SwagCord13 Have you messed with the `build/json` folder? If your code is unmodified then it's saying `build/json/_metadata.json` is a folder (should be a file).

Make sure your `utils/update_info.js` line 14 matches this exactly:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L14

[2022-05-18 15:16] bolshoytoster commented on #1188
@Jumpman329 can you either paste the output of just `node index.js` or the full log (`/Users/johnpollock/.npm/_logs/2022-05-18T07_17_43_166Z-debug.log`) here.

[2022-05-18 15:36] bolshoytoster commented on #1189
@santosh-kumar-kaushal you could copy the images and individual metadata files from 2 & 3 into the first collection, delete the `_metadata.json` file then run [my `utils/update_info.js`](https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js) to regenerate it. This will only work if your collections are 1-1000, 1001-2000 etc.

Is there any reason you can't ju

[2022-05-18 15:45] bolshoytoster commented on #1190
@beforecode `libc.so.6` will likely be installed in `/usr/lib/x86_64-linux-gnu/libc.so.6` from the package `libc6` which is required by the majority of linux configurations. For some reason it's trying to access a snap version.

You should either try to update the snap version or make a symlink from `/usr/lib/x86_64-linux-gnu/libc.so.6` to `/snap/core20/current/lib/x86_64-linux-gnu/libc.so.6`.

[2022-05-18 17:23] santosh-kumar-kaushal commented on #1189
@bolshoytoster I want to use different layers for a single base. base is different in size. please suggest the best way to do it. I want to shuffle them once the collection is created. 1000 with one base, 1001-2000 with another base and so on. now once I make a shuffle couple of them comes from 1001-2000 collection to 0-1000.

[2022-05-18 21:14] blscrypto commented on #1005
Hello, I'm having a similar problem, no _metadata.json in the json folder.  I tried copying the code as above, but get the error below.  Any further ideas about generating a _metadata.json file?  I have 2378 png's.  Thanks!!
Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$ node utils/update_info.js
node:internal/fs/utils:345
    throw err;
    ^

Error: ENOENT: no

[2022-05-18 21:17] bolshoytoster commented on #1005
@blscrypto you could replace your `utils/update_info.js` with [mine](https://github.com/bolshoytoster/hashlips_art_engine/blob/main/utils/update_info.js) then run `node utils/update_info.js`.

[2022-05-18 21:35] blscrypto commented on #1005
Thanks for the response.  I just ran what you suggested and got:utils/update_info.js: line 1: syntax error near unexpected token `('utils/update_info.js: line 1: `const basePath = process.cwd();'
Sorry, I'm not a coder, so I may be missing something simple
Bruce S
    On Wednesday, May 18, 2022, 02:17:41 PM PDT, bolshoytoster ***@***.***> wrote:

@blscrypto you could replace your utils/update_info

[2022-05-18 21:48] bolshoytoster commented on #1005
@blscrypto are you definetely running it with `node utils/update_info.js`?

[2022-05-18 21:54] blscrypto commented on #1005
As far as I can tell.     utils/update_info.js is selected in the Explorer on the left, the utils/update_info.js tab is the open one.  DoI need to opena  different Terminal?
thanks    On Wednesday, May 18, 2022, 02:48:14 PM PDT, bolshoytoster ***@***.***> wrote:

@blscrypto are you definetely running it with node utils/update_info.js?

—
Reply to this email directly, view it on GitHub, or unsubscr

[2022-05-18 21:57] bolshoytoster commented on #1005
@blscrypto could you just run the command `node utils/update_info.js` and paste the **full** output here please.

[2022-05-18 22:09] blscrypto commented on #1005
That was the full output in Terminal after I hit enter.  With the original code in my utils/update_info.js, Hashlips tells me to check for each ()callback, which I did and found an extra (, so I deleted it, and the name of the folder appended with a 2 and turned red.
    On Wednesday, May 18, 2022, 02:58:11 PM PDT, bolshoytoster ***@***.***> wrote:

@blscrypto could you just run the command node u

[2022-05-18 22:24] blscrypto commented on #1005
DOH.   For pity sakes.  I was pasting wrong.  HERE's the entire output:
Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$ node utils/update_info.jsnode:internal/fs/utils:345    throw err;    ^
Error: ENOENT: no such file or directory, open '/Users/administrator/Desktop/HASHLIPS TUTORIAL/hashlips_art_engine-1.1.2_patch_v6AMAZON/build/json/_metadata.json'    at Objec

[2022-05-19 01:10] Jumpman329 commented on #1188
Not too sure if I was supposed to look for a folder titled "node index.js" or type "node index.js" into the terminal so I did both. I wasn't able to find a folder titled "node index.js". After running npm install and node -v, I ran node index. js and this is what I got. Please let me know if I do something wrong. PS I also have an M1 chip if that helps at all.

johnpollock@Johns-MacBook-Pro-2 crea

[2022-05-19 01:51] blscrypto opened #1191 "Can't update .json files with "npm run update_info" command"
Hello,
       I'm building NFT's with Hashlips and get the following  error message when I run  "npm run update_info" in terminal.   Not being a coder, I can't figure out what to do.  Can anyone help?

thanks
Bruce S

Here's the error I get in Terminal:

node:internal/fs/utils:345
    throw err;
    ^

Error: ENOENT: no such file or directory, open '/Users/administrator/Desktop/HASHLIPS TUTORIAL/h

[2022-05-19 07:27] bolshoytoster commented on #1005
@blscrypto it looks like you're still using the `utils/update_info.js` from the main repo, have you replaced it with the one from my fork?

[2022-05-19 07:30] bolshoytoster commented on #1188
@Jumpman329 the error says it can't find `layers/Outline/`, make sure your layer names match the names in `layersOrder` exactly (case sensitive as well).

[2022-05-19 07:32] bolshoytoster commented on #1191
@blscrypto could you check [my reply in the other thread](https://github.com/HashLips/hashlips_art_engine/issues/1005#issuecomment-1131329225).

[2022-05-19 08:13] Spyna opened #1192 "Add custom attributes"
I'd like to add a feature to generate custom random attributes.

[2022-05-19 08:17] bolshoytoster commented on #1192
@Spyna can you not just have a layer of fully transparent images with the attribute names?

[2022-05-19 08:19] Spyna commented on #1192
If you want to range between 100 values (maybe with numeric values) you don't want to create 100 files.

[2022-05-19 08:19] Spyna commented on #1192
I created the pull request https://github.com/HashLips/hashlips_art_engine/pull/1193 to add this feature

[2022-05-19 08:34] bolshoytoster commented on #1192
@Spyna fair enough, but your PR is unlikely to be merged because HashLips has been inactive for a few months.

Also, you shouldn’t create an extra file (`src/attributes.config.js`), just put the extra config in `src/config.js`.

And in [`addCustomMetadata`](https://github.com/Spyna/hashlips_art_engine/blob/05ccc4662b33efaa53d9925fb3bda41362b5a463/src/main.js#L180-L196) you could add some extra spa

[2022-05-19 08:48] Spyna commented on #1192
How come the project is at a standstill? Is there another one active?

It is better to add another small file that does one thing instead of adding more functionality to an already large file. It's called the single responsibility principle in programming.

For the spacing, I followed the style of the rest of the code, in which there are no spaces after ifs

[2022-05-19 09:43] bolshoytoster commented on #1192
@Spyna

HashLips is busy with another project

There’s [my fork](https://github.com/bolshoytoster/hashlips_art_engine), I try to stay as compatible with the main repo as possible, and there are a few other forks as well.

Out of 32 `if`s in the repo, all of them have spaces after them.

[2022-05-19 09:50] Spyna commented on #1192
Oh sorry, you're right. Spaces, not newlines :sweat_smile:. I added the commit just now for the spaces.
If your project is active and in use, feel free to create a pull request from my fork or copy the sources directly to it.

[2022-05-19 11:08] bolshoytoster commented on #1192
@Spyna

Sorry, that was probably my fault.

I’ve opened [a PR](https://github.com/bolshoytoster/hashlips_art_engine/pull/6) for my fork, I’ll resolve the conflicts when I get home.

[2022-05-19 11:20] wailsonlucas commented on #1190
but i checked ```/snap/core20/current/lib/x86_64-linux-gnu/libc.so.6``` & found libc.so.6 exist but cant exute whene double-click ont it as well as exectuing it as root.
i am kindda newbie to linux, can you tell me or provide a link how to update the snap version or make a symlink from ```/usr/lib/x86_64-linux-gnu/libc.so.6 ``` to ```/snap/core20/current/lib/x86_64-linux-gnu/libc.so.6```

[2022-05-19 11:24] Jumpman329 commented on #1188
All of the layer names match the names in layersOrder. I ran npm run generate and this is what I got:

johnpollock@Johns-MacBook-Pro-2 create-10k-nft-collection-2.0.0 2 % npm run generate

(node:36468) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, scandir '/Users/johnpollock/Desktop/NFT Coding/create-10k-nft-collection-2.0.0 2/layers/Outline/'
    at Object.readdirSyn

[2022-05-19 11:42] santosh-kumar-kaushal commented on #1189
@bolshoytoster Please help

[2022-05-19 16:04] bolshoytoster commented on #1190
@beforecode I don't know how you'd update libc with snap, but you could try updating `core20`, (maybe with `sudo snap refresh core20`?).

To symlink, you'd have to first delete the file (`/snap/core20/current/lib/x86_64-linux-gnu/libc.so.6`) then you could run `sudo ln -s /usr/lib/x86_64-linux-gnu/libc.so.6 /snap/core20/current/lib/x86_64-linux-gnu/libc.so.6` to create the link.

I can't garuntee

[2022-05-19 16:06] bolshoytoster commented on #1188
@Jumpman329 please make sure you save the `src/config.js` file after you edit it.

If that doesn't work could you paste your `layersOrder`(s) and the output of `ls layers` here please.

[2022-05-19 17:25] bolshoytoster commented on #1189
@santosh-kumar-kaushal if you're fine with regenerating, you could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) which lets you set `startEditionFrom` the same way you set `growEditionSizeTo`. You could use this to do what I suggested earlier.

Once you have the single collection you could shuffle it with some really hacky untested code that probably doesn't work:
[code]
Then

[2022-05-19 17:31] blscrypto commented on #1005
Hi,'
   With your utils/update_info.js code I get the following error:

Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$ node utils/update_info.js
node:internal/fs/utils:345
    throw err;
    ^

Error: ENOENT: no such file or directory, open '/Users/administrator/Desktop/HASHLIPS TUTORIAL/hashlips_art_engine-1.1.2_patch_v6AMAZON/build/json/_metadata.json'
    at

[2022-05-19 17:38] bolshoytoster commented on #1005
@blscrypto you're still not using my code, could you just run `curl https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js | node` to download and run it directly.

[2022-05-19 17:46] blscrypto commented on #1005
That yields this error:

Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$ curl https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js | node
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1870  100  1870    0

[2022-05-19 17:54] santosh-kumar-kaushal commented on #1189
@bolshoytoster so you mean the single collection will be shuffled including images and JSON files

Let's say 2.png is now 120.png with its JSON

[2022-05-19 17:55] bolshoytoster commented on #1005
@blscrypto could you paste the output of
[code]

[2022-05-19 17:56] bolshoytoster commented on #1189
@santosh-kumar-kaushal it should be (if the code works).

[2022-05-19 18:06] santosh-kumar-kaushal commented on #1189
@bolshoytoster Let me try and will come back soon, Thanks a lot for helping me out :) I have another short question is there a possibility if we can combine layers GIF + PNG = GIF

[2022-05-19 18:22] blscrypto commented on #1005
Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$ curl https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js | sed 's/e}`);/e}`); console.log(file, rawdata);' | node
sed: 1: "s/e}`);/e}`); console.l ...": unterminated substitute in regular expression
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Curr

[2022-05-19 18:23] bolshoytoster commented on #1189
@santosh-kumar-kaushal does [this](https://github.com/HashLips/hashlips_art_engine/issues/1008#issuecomment-1086636163) help?

[2022-05-19 18:25] bolshoytoster commented on #1005
@blscrypto sorry, what about this:
[code]

[2022-05-19 18:48] blscrypto commented on #1005
Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$ curl https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js | sed 's/e}`);/e}`); console.log(file, rawdata);/' | node
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
10

[2022-05-19 18:57] blscrypto commented on #1005
HI,  I'm out for the day.  Thanks for your help.
Bruce

[2022-05-19 18:59] bolshoytoster commented on #1005
@blscrypto could you delete the file `build/json/.DS_Store` please.

[2022-05-19 19:08] blscrypto commented on #1005
No such file in the build/json directory in VSC.  Also not found in Finder search.  Is there another way to find it?

thanks

[2022-05-19 19:12] bolshoytoster commented on #1005
@blscrypto that's because it starts with a `.`, marking it as hidden.

You can delete it by running `rm build/json/.DS_Store`.

[2022-05-19 19:19] blscrypto commented on #1005
Ran rm build/json/.DS_Store in Terminal, but it didn't say it did it.

Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$ rm build/json/.DS_Store
Bruce-Stubblefield-Mac-Pro:hashlips_art_engine-1.1.2_patch_v6AMAZON administrator$

[2022-05-19 19:22] bolshoytoster commented on #1005
@blscrypto `rm` isn't meant to return anything unless it fails.

[2022-05-19 21:07] ermiasabera commented on #813
I am experiencing this issue

[2022-05-20 03:12] Jumpman329 commented on #1188
Here's everything accompanied by a screenshot.

LayersOrder:

layersOrder: [
{ name: "Backgrounds" },
{ name: "Outline" },
{ name: "Outfits" },
{ name: "Hairstyles" },
{ name: "Glasses" },
{ name: "Accessories" }

Output of ls layers:

***@***.*** create-10k-nft-collection-2.0.0 2 % ls
layers
Accessories     Glasses         Outfits
Backgrounds     Hairstyles      Outline.png
***@***.*** create-10k

[2022-05-20 03:55] Tdawg007 commented on #370
i am getting the same thing-

errno -4058
syscall scandir
code enoent
path c:\\bsks2\\minter-dapp\\backend/layers/girl base/

[2022-05-20 04:02] Tdawg007 commented on #370
please help me

[2022-05-20 04:10] Tdawg007 opened #1195 "error ENOENT: no such file or directory -4058 scandir ENOENT"
when i try to generate nfts it gives me this error

errno: -4058,
  syscall: 'scandir',
  code: 'ENOENT',
  path: 'C:\\Users\\bsks2\\minter-dapp\\backend/layers/girl base/'

[2022-05-20 05:24] santosh-kumar-kaushal commented on #1189
No actually, I have GIFs and PNGs, this repo creates gifs out of PNGs

[2022-05-20 07:25] bolshoytoster commented on #1188
@Jumpman329 it's because `Outline.png` is probably not a folder, you should have it in a folder, `Outline`.

[2022-05-20 07:27] bolshoytoster commented on #370
@Tdawg007 it can't find `backend/layers/girl base/`, make sure your folder names in `backend/layers` match the names in your `layersOrder`s.

If that doesn't work, could you try opening an issue in the place you actually got the code from.

[2022-05-20 07:28] bolshoytoster commented on #1189
@santosh-kumar-kaushal well you'll have to split the gifs into individual frames then.

[2022-05-20 07:35] santosh-kumar-kaushal commented on #1189
I'm trying to merge the collection, will try this once this is successful, will keep you posted.

[2022-05-20 10:25] SwagCord13 commented on #1187
![gitbub issue](https://user-images.githubusercontent.com/105584009/169508475-ee45ab74-3f98-4d2d-921c-3a049a9cedcd.PNG)
![github issue 2](https://user-images.githubusercontent.com/105584009/169508477-fc0ef73f-083a-4726-9d20-ec47ebfc4adb.PNG)
![gitbub issue 3](https://user-images.githubusercontent.com/105584009/169508483-ff7dbaa5-f972-441c-8a7e-5f61a2546e94.PNG)

That is what my build folder looks

[2022-05-20 10:30] DanielArciniega commented on #488
THANK YOU, this was the only solution for me. For reference im running linus virtual box on a windows pc.

[2022-05-20 10:33] bolshoytoster commented on #1187
@SwagCord13 if you regenerate does it get rid of that folder?

[2022-05-20 10:50] SwagCord13 commented on #1187
when you say regenerate do you mean using the 'npm run generate_metadata" or do you just mean 'npm run generate'

[2022-05-20 10:52] SwagCord13 commented on #1187
@bolshoytoster should my build folder be "build/json" and then all my metadata. Because atm my build folder is "build/json/metadata"and then the all the metadata. does that need to change?

[2022-05-20 11:07] SwagCord13 commented on #1187
@bolshoytoster my "update_info" line 14 looks like this.
let rawdata = fs.readFileSync(`${basePath}/build/json/_metadata.json`);
Should i change the last bit to "build/json/metadata" because i dont have that _metadata.json thing.

[2022-05-20 11:26] SwagCord13 commented on #1187
![IMG_5453](https://user-images.githubusercontent.com/105584009/169518198-f18142c0-ba83-45df-a136-0bc23e61e87d.jpg)

Tried that says its an illegal operation.

[2022-05-20 12:25] leofanggithub commented on #1132
May I ask how did you solve the issue? I bumped into the same one

[2022-05-20 12:35] T-Ph525 opened #1196 "Engine ignore all but one config"
Currently my Engine is ignoring all but one config (Being bg-base-head config).
Here's my config.js:

`const basePath = process.cwd();`
`const { MODE } = require(${basePath}/constants/blend_mode.js);`
`const { NETWORK } = require(${basePath}/constants/network.js);`
`const network = NETWORK.eth`
`// General metadata for Ethereum`
`const namePrefix = "";`
const description = "";
const baseUri = "";

[2022-05-20 14:13] SwagCord13 commented on #1187
@bolshoytoster FIXED problem all goodf

[2022-05-20 14:13] #1187 closed, assigned to nobody

[2022-05-20 14:37] bolshoytoster commented on #1132
@leofanggithub that error was because they're on an M1 mac and one of our dependences doesn't support them.

Couuld you paste your error here please.

[2022-05-20 14:42] bolshoytoster commented on #1196
@T-Ph525 that's because you're not making your configs individual objects, making the latter configs overwrite the others.

Instead of doing
[code]
Do
[code]

[2022-05-20 14:56] Tdawg007 commented on #1195
some help would greatly appreciated

[2022-05-20 15:00] bolshoytoster commented on #1195
@Tdawg007 as I told you in [this comment](https://github.com/HashLips/hashlips_art_engine/issues/370#issuecomment-1132572718https://github.com/HashLips/hashlips_art_engine/issues/370#issuecomment-1132572718),:

[2022-05-20 15:36] Tdawg007 commented on #1195
all of the layer names match the layers order

[2022-05-20 15:39] blscrypto commented on #1005
So after doing the rm, I ran "npm run update_info".  I got this error:

node:internal/fs/utils:345
    throw err;
    ^

Error: ENOENT: no such file or directory, open '/Users/administrator/Desktop/HASHLIPS TUTORIAL/hashlips_art_engine-1.1.2_patch_v6AMAZON/build/json/_metadata.json'
    at Object.openSync (node:fs:585:3)
    at Object.readFileSync (node:fs:453:35)
    at Object.<anonymous> (/Users

[2022-05-20 15:40] bolshoytoster commented on #1195
@Tdawg007 can you paste your `layersOrder`(s) and the output of `ls {,backend/}layers` here please.

The `layersOrder` is case sensitive as well.

[2022-05-20 15:42] bolshoytoster commented on #1005
@blscrypto please run `curl https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js | node` instead of `npm run update_info`.

[2022-05-20 15:43] Tdawg007 commented on #1195
{ name: "girl base" },
      { name: "girl Eyes" },
      { name: "girl eyebrows" },
      { name: "girl nose" },
      { name: "girl mouth" },
      { name: "girl clothes" },
      { name: "girl hair" },
      { name: "girl accessories" },

At line:1 char:5
+ 1s{,backend/}layers
+     ~
Missing expression after unary operator ','.
At line:1 char:5
+ 1s{,backend/}layers
+     ~~~~~~~~
Unexpected t

[2022-05-20 15:46] bolshoytoster commented on #1195
@Tdawg007 sorry, I thought you were on mac, could you paste the output of `Get-ChildItem layers` here please.

[2022-05-20 15:47] Tdawg007 commented on #1195
Directory: C:\Users\bsks2\minter-dapp\backend\layers

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----         5/20/2022   7:50 AM                PNG FILES

[2022-05-20 15:49] bolshoytoster commented on #1195
@Tdawg007 you need to move your layers out of the `PNG FILES/` folder and just into `layers/`

[2022-05-20 15:54] Tdawg007 commented on #1195
it fixed it. thank a lot.

[2022-05-20 15:54] #1195 closed, assigned to nobody

[2022-05-20 16:15] Jumpman329 commented on #1188
Okay, thank you so much! It's at least generating now, however it is only
generating accessories. It isn't putting together any full images using
every layer provided. Is there a way to fix this?

On Thu, May 19, 2022 at 11:11 PM John Pollock ***@***.***>
wrote:

[2022-05-20 16:17] bolshoytoster commented on #1188
@Jumpman329 do your accessory images have transparent backgrounds?

[2022-05-20 16:22] Jumpman329 commented on #1188
They're all saved as png files. Is there another way to make them
transparent?

On Fri, May 20, 2022 at 12:17 PM bolshoytoster ***@***.***>
wrote:

[2022-05-20 16:24] bolshoytoster commented on #1188
@Jumpman329 it depends what you used to make them.

[2022-05-20 16:27] Jumpman329 commented on #1188
I created all of my images in a software called Krita as JPEGS. Then
converted the JPEG files into PNGS.

On Fri, May 20, 2022 at 12:24 PM bolshoytoster ***@***.***>
wrote:

[2022-05-20 16:30] bolshoytoster commented on #1188
@Jumpman329 could you add transparency in krita, ([this might help](https://krita-artists.org/t/how-to-make-background-transparent/15105)) then export as png?

[2022-05-20 17:54] Jumpman329 commented on #1188
Okay it's working fine now but I can still only generate twenty images even
when I alter the growth edition size. Any reason for this? Thanks in
advance!

On Fri, May 20, 2022 at 12:30 PM bolshoytoster ***@***.***>
wrote:

[2022-05-20 17:58] blscrypto commented on #1005
Genius!  It worked like a charm.  Thanks SO much!!!  What's  your name, or do you like to be anon?

[2022-05-20 18:01] bolshoytoster commented on #1188
@Jumpman329 does it say `You need more layers or elements to grow your edition to ... artworks!`? or does it just create 20?

If it's the latter, could you please paste your `layersConfigurations` here please, if you want multiple with different sizes you'll have to use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-20 18:23] Jumpman329 commented on #1188
Also if I don't specify rarity for the outline, will it show up 100% of the
time?

On Fri, May 20, 2022 at 2:22 PM John Pollock ***@***.***>
wrote:

[2022-05-20 18:27] bolshoytoster commented on #1188
@Jumpman329 yes.

[2022-05-20 18:34] Jumpman329 commented on #1188
Okay cool, and as for the GrowthEdition size?

On Fri, May 20, 2022 at 2:27 PM bolshoytoster ***@***.***>
wrote:

[2022-05-20 18:35] bolshoytoster commented on #1188
@Jumpman329 what about it?

[2022-05-20 19:46] Jumpman329 commented on #1188
It’ll only generate 20 no matter what number I put in. I want to generate
50k.
On Fri, May 20, 2022 at 2:35 PM bolshoytoster ***@***.***>
wrote:

[2022-05-20 19:48] bolshoytoster commented on #1188
@Jumpman329 did you see my above comment?

[2022-05-20 20:18] Jumpman329 commented on #1188
Yeah I responded to the above comment. I don't know if you saw it. It
doesn't say "you need more layers or elements to grow your edition." it
just creates 20. Here is the layersConfigurations:
Thanks for your help.
const layerConfigurations = [
{
growEditionSizeTo: 10000,
layersOrder: [
{ name: "Backgrounds" },
{ name: "Outline" },
{ name: "Outfits" },
{ name: "Hairstyles" },
{ name: "Glasses" },

[2022-05-20 20:21] bolshoytoster commented on #1188
@Jumpman329 is that the full `layersConfigurations`? If you have multiple configs with different sizes you'll have to use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-20 20:27] Jumpman329 commented on #1188
Sorry to ask but what is my fork, what will it do? Here is everything under
layersConfigurations:
const layerConfigurations = [
{
growEditionSizeTo: 10000,
layersOrder: [
{ name: "Backgrounds" },
{ name: "Outline" },
{ name: "Outfits" },
{ name: "Hairstyles" },
{ name: "Glasses" },
{ name: "Accessories" },
],
},
];

const shuffleLayerConfigurations = false;

const debugLogs = false;

const format

[2022-05-20 20:34] bolshoytoster commented on #1188
@Jumpman329 could you paste the output of generating here please.

My fork (the fork I maintain) is just hashlips with some fixes and improvements.

[2022-05-20 20:44] Jumpman329 commented on #1188
npm run generate

Coding/create-10k-nft-collection-2.0.0 2

Created edition: 1, with DNA: f15e2511c6d4a9a5f9ed3a3809d2b181bf40500e
Created edition: 2, with DNA: d42b2cddc1c9276aee68120f8cc00709c63ec984
Created edition: 3, with DNA: a57c781cd3625b9e94c714b012d36cbc71ce5ac9
Created edition: 4, with DNA: 68b9c4aff42dc7e6b8a04dc562b08e8af7d79628
Created edition: 5, with DNA: e8929e96d5cba1ddadcd20fb2f

[2022-05-20 20:45] bolshoytoster commented on #1188
@Jumpman329 have you saved the `src/config.js` file?

[2022-05-20 21:45] santosh-kumar-kaushal commented on #1189
@bolshoytoster This is shuffling the images in the image folder but not shuffling the JSON files in the JSON folder. Please help.

[2022-05-20 21:47] bolshoytoster commented on #1189
@santosh-kumar-kaushal did you run `node utils/update_info.js` afterwards?

[2022-05-20 21:48] santosh-kumar-kaushal commented on #1189
Yes, I did but Json files are not shuffling, it stays as it is.

[2022-05-20 21:55] bolshoytoster commented on #1189
@santosh-kumar-kaushal what about this:
[code]
For me it doesn't look like it's even shuffling images.

[2022-05-20 21:56] santosh-kumar-kaushal commented on #1189
I can see shuffling in _metadata.json file but it is not matching with the image layers, Looks like _metadata.json is shuffled with other random values.

[2022-05-20 22:06] santosh-kumar-kaushal commented on #1189
I have created shuffle.js in the utils package and pasted this piece of code in it. Running with the command line shuffles individual images and metadata.json but JSON shuffling is not matching with shuffled image layers.

node utils/shuffle.js

[2022-05-21 11:43] wailsonlucas commented on #1190
before i read your reply today i was messing with GLIBC 2.34 & now the system crashed & refuse to boot ... nice.
i'll install a new copy of Linux Manjaro i try your solution inchall, thank you after all.

[2022-05-21 11:45] bolshoytoster commented on #1190
@beforecode your system is probably recoverable, but if you were planning to reinstall anyway you may as well.

It might also fix this error as long as you don't install snap.

[2022-05-21 11:48] #631 closed

[2022-05-21 17:44] AASIM0987 opened #1197 "image layers get enlarged"
when ever i try to generate nft resultant image layers get enlarged placed on top of each other using adobe photoshop composition composer every art work seems to be perfect

[2022-05-21 18:52] santosh-kumar-kaushal commented on #1189
@bolshoytoster did you find anything? Please help.

[2022-05-21 18:53] bolshoytoster commented on #1189
@santosh-kumar-kaushal no, sorry, you could try fixing it yourself though.

[2022-05-21 19:04] santosh-kumar-kaushal commented on #1189
I don't have exposure to python but I tried it. unfortunately, it didn't work.

[2022-05-22 14:56] NinaCritptoArt commented on #1174
Hello @bolshoytoster, thanks for your contribution, I already implemented it and it worked perfectly... I'm not an expert in this and I'm just learning... now I want to mint my NFTs in OPENSEA. The question is... is it right for me to follow this video? https://www.youtube.com/watch?v=Zhmj4PiJ-GA&list=PLvfQp12V0hS1PWDxlrfASk0Mq6AbC5n5f&index=11 it's a bit complicated for me, I think I can do it...

[2022-05-22 15:11] bolshoytoster commented on #1174
@NinaCritptoArt you should be able to follow that video.

[2022-05-22 19:17] blscrypto opened #1198 "Hashlips won't load Truffle"
Hello,
     Working on an NFT smart contract.  When I run npm i -g truffle in the hashlips terminal, it works for a long time, then finally fails with the error below.  Any help?  Thanks!!

npm ERR! code 1
npm ERR! path /Users/administrator/.nvm/versions/node/v18.2.0/lib/node_modules/truffle/node_modules/ganache/node_modules/@trufflesuite/bigint-buffer
npm ERR! command failed
npm ERR! command sh -

[2022-05-22 19:21] bolshoytoster commented on #1198
@blscrypto
Did you read the error?
[code]

[2022-05-22 19:23] blscrypto commented on #1198
I thought I did, but apparently not!  Will do as told.  thanks.

[2022-05-22 19:37] blscrypto commented on #1198
So I installed Python and tried npm i -g truffle again.  Results were a much longer string of errors, copied below:

npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated ipld-raw@6.0.0: This module has b

[2022-05-22 19:47] bolshoytoster commented on #1198
@blscrypto as said on [this issue](https://github.com/trufflesuite/ganache/issues/2256#issuecomment-1065938457), you might have to downgrade node/npm:

Here some tests:
❌ node v14.18.1 (npm v8.5.1)
❌ node v10.15.3 (npm v7.5.4)
✅ node v11.1.0 (npm v6.5.0)

[2022-05-22 20:02] blscrypto commented on #1198
To downgrade nom I tried running npm install -g npm@v8.5.1  and got the below.  I'm not sure what it means.

Bruce-Stubblefield-Mac-Pro:nft-erc721-collection-2.0.0 administrator$ npm install -g npm@v8.5.1
npm WARN npm npm does not support Node.js v18.2.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this versi

[2022-05-22 20:07] blscrypto commented on #1198
I also tried the current version of Node (18.2.0), replacing what I had been using "recommended for most users" 16.15.0, but got the same error message as above

[2022-05-22 20:08] bolshoytoster commented on #1198
@blscrypto yeah, the comment suggests using node v11.1.0 with npm v6.5.0.

[2022-05-22 21:32] NinaCritptoArt commented on #1174
Excellent, thank you very much, as I progress I will tell you...

[2022-05-22 23:19] blscrypto commented on #1198
I downloaded Node 11.1.0 and ran the installer, said it worked.  To downgrade to npm 6.5.0 I ran npm install -g npm@v6.5.0.  Doing that gave me this error:

Bruce-Stubblefield-Mac-Pro:nft-erc721-collection-2.0.0 administrator$ npm install -g npm@v6.5.0
npm WARN npm npm does not support Node.js v18.2.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make

[2022-05-22 23:37] bolshoytoster commented on #1198
@blscrypto I'm not sure you're running node 11.1.0, you can run `node -v` to check.

You should try deleting node before installing a different version or use nvm.

[2022-05-23 06:05] abdullahtilalcodup opened #1199 "Error while running on cpanel"
**I am having this issue when I run app on cpanel terminal.**

return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: /lib64/libstdc++.so.6: version `CXXABI_1.3.9' not found (required by /home/stgbm/nfts/hashlipsOld/node_modules/canvas/build/Release/canvas.node)
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:1057:18)
    at Module.load (i

[2022-05-23 07:18] ChamalPerera1220889 opened #1200 "Engine Not working!!"
After the Repository clone, I tried a few times to run the code but it's not working. I didn't add my art layers to the engine because I just want to try sample art layers first. if I did wrong please help me to correct it and I hope your help for this matter.

Thank you!

<img width="1080" alt="Screenshot 2022-05-23 at 08 12 27" src="https://user-images.githubusercontent.com/61055771/169763855-1f

[2022-05-23 07:42] bolshoytoster commented on #1199
@abdullahtilalcodup [this stackexchange question](https://superuser.com/q/1432321) has some useful answers, could you paste the output of the command `strings /lib64/libstdc++.so.6 | grep '^CXXABI_'` here please.

[2022-05-23 09:01] bolshoytoster commented on #1200
@ChamalPerera1220889 you have to either upgrade node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-23 10:18] Jumpman329 commented on #1188
Hello again, after being told to create more elements I've returned to this
error. I did add a few layers to the layersOrder in the config.js. I hope
this didn't cause any issues. I've included a screenshot. Any help would be
greatly appreciated.

[image: Screen Shot 2022-05-23 at 6.16.45 AM.png]

Here is the error message:

. npm run generate

Coding/create-10k-nft-collection-2.0.0 2

(node:57101

[2022-05-23 10:29] bolshoytoster commented on #1188
@Jumpman329 the error says it can't find `layers/Accessories/`, make sure you've spelled it the exact same in `layersOrder` and the folder name, case sensitive as well.

If you can't do it could you please paste the output of `ls layers/` here.

[2022-05-23 12:35] Jumpman329 commented on #1188
On Mon, May 23, 2022 at 6:29 AM bolshoytoster ***@***.***>
wrote:

Okay, thank you so much!

[2022-05-23 12:41] boochang opened #1201 "error"
Error: Cannot find module 'C:\contracts\hashlips_art_engine-main/node_modules/sha1'???
excuse me,I encounter this problem when executing.

[2022-05-23 13:38] nilolalolal opened #1202 "Unsupported image type error"
hey, I'm getting this error, even after I instaled fork, and all layers are in png format. what could be problem? Thanks!

PS C:\Users\komp\Desktop\hashlips_art_engine-main\hashlips_art_engine-main> node index.js
Error: Unsupported image type: C:\Users\komp\Desktop\hashlips_art_engine-main\hashlips_art_engine-main/layers/background/Thumbs.db
Error: Unsupported image type: C:\Users\komp\Desktop\has

[2022-05-23 14:58] bolshoytoster commented on #1201
@boochang run `npm install` to install the dependencies.

[2022-05-23 15:00] bolshoytoster commented on #1202
@nilolalolal there doesn't seem to be a problem, the `Error: Unsupported image type: `s are just warnings and the `Edition exists!`s just mean you probably have to delete the `build/` folder between each generation.

[2022-05-23 15:09] nilolalolal commented on #1202
![3](https://user-images.githubusercontent.com/100449041/169850308-f40bb7e7-87a4-4c56-a5a6-dca9ed00a191.png)

okay, that solved problem partly, but I'm still getting this problem that some traits are not shown

[2022-05-23 16:30] nilolalolal commented on #1202
and these traits with problem, are also same file as the rest of them

[2022-05-23 20:14] rodrigooler commented on #1177
@samimikawi apparently in the github documentation there is nothing telling how to do conditionals in some scenarios with layers that don't quite match or that can't pre-exist together. Did you find something or implement it in some local test?

[2022-05-25 05:04] qiuye8023 opened #1203 "Cannot find module"

[2022-05-25 05:04] #1203 closed, assigned to nobody

[2022-05-25 08:29] Jacob-alwin commented on #977
did u get the answer, im having the same error, please help

[2022-05-25 14:21] bolshoytoster commented on #977
@Jacob-alwin can you paste your error here please.

[2022-05-25 21:34] Mangomax commented on #1200
Wow!
It is finally works on Windows 7!

Fine!
Thanks!

[2022-05-25 22:01] Mangomax commented on #1200
It is finally works on Windows 7!

But if I set growEditionSizeTo as 500 - it will create only 320.
if I set 1000 - it will create only 320.
Why?

    growEditionSizeTo: 500,
    layersOrder: [
      { name: "Background" },
      { name: "Eyeball" },
      { name: "Eye color" },
      { name: "Iris" },
      { name: "Shine" },
      { name: "Bottom lid" },
      { name: "Top lid" }
    ]

[2022-05-26 06:10] bolshoytoster commented on #1200
@Mangomax does the generation output end with `You need more layers or elements to grow your edition to ... artworks!`?

Have you made sure to save `src/config.js` when you edit it?

[2022-05-26 07:59] Mangomax commented on #1200
Yes I'm sure to save src/config.js

May be need more layers ))
It is still 6

[2022-05-26 13:33] ChickGum opened #1205 "Not generating specific number images"
Hey guys, I am using hashlips for the first time to create NFT Collection.
I have created a shades layer folder, in that folder I have only 1 file and have set it’s number to for example: “Shades#10”. But, when I generated the 20 NFT’s for testing it created all 20 images with shades. And the same goes for all layers.

[2022-05-26 14:18] bolshoytoster commented on #1200
@Mangomax does the generation output end with `You need more layers or elements to grow your edition to ... artworks!`?

[2022-05-26 16:24] bolshoytoster commented on #1205
@ChickGum that's because you have one file, meaning it has 100% chance of showing up.

You could either add an empty image there with `#90` or you could have two objects in your `layersConfigurations`, one with shades and one without.

[2022-05-26 17:21] #1205 closed, assigned to nobody

[2022-05-26 17:22] ChickGum commented on #1205
Thank you @bolshoytoster for helping. It means a lot.

[2022-05-26 19:34] swolswolomon commented on #248
If you want to force the background to always be black (as an example), create a new folder called Background2 and place only one trait inside of it. Then inside the layer configurations, add a configuration with a growEditionSizeTo: 1 and set the displayName to 'Background'. If you don't set the display name, then the json data will have a "Background2" trait.  Do this for all your manual NFTs, t

[2022-05-27 03:43] bouchidocode opened #1206 "I paste IMG and Json in assets folder but I have issue"
hello, When I generate, and copy paste imgs and json in assate folder and I whant to verify asset I have this msg issue:

BouchidoCode@Youssefs-MBP src % npx ts-node candy-machine-v2-cli.ts verify_assets -n 500 assets
bigint: Failed to load bindings, pure JS will be used (try npm run rebuild?)
started at: 1653621047302
Verifying token metadata for 500 (img+json) pairs
Checking manifest file: /User

[2022-05-27 06:32] bolshoytoster commented on #1206
@bouchidocode I believe you got this code from [metaplex](https://github.com/metaplex-foundation/metaplex/issues), can you please open an issue there, as you'll be much more likely to get help.

[2022-05-27 07:20] bouchidocode commented on #1206
I have a issue in json format
check that please

`{
  "name": "ETSY SPY #1",
  "description": "......",
  "image": "ipfs://MmR4xQ1r4KhLeyrM4oqJoXfrDHzrArJati6r49k6WR5JEc/1.png",
  "dna": "5g2217bfe46ba28a216092b83d5525a4efe81016",
  "edition": 1,
  "date": 1653609070702,
  "attributes": [
    {
      "trait_type": "BACKGROUND",
      "value": "background 1"
    },
    {
      "trait_type": "CARD",

[2022-05-27 09:01] Xfox1 opened #1207 "Error with special character in file names"
One of my layers was named "clothes", inside this folder I had few files starting with name "T-Shirt", the `_dna.split(DNA_DELIMITER)[index]` only parses the "T" within the name hence the function `constructLayerToDna` doesn't select any element and later generates error.

[2022-05-27 11:33] scottskeel opened #1208 "node index.js error"
Scott@DESKTOP-RICNRBN MINGW64 ~/Desktop/hashlips_art_engine (main)
$ node index.js
(node:7192) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1405
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such

[2022-05-27 14:57] bolshoytoster commented on #1206
@bouchidocode according to [`metaplex/js/packages/cli/src/commands/verifyTokenMetadata/index.ts` ~line 216](https://github.com/metaplex-foundation/metaplex/blob/ef9a10719b5598e0c75bafba36684a9c938231ff/js/packages/cli/src/commands/verifyTokenMetadata/index.ts#L216), it expects there to be a `properties.creators` value.

By default, HashLips only creates this if you're creating a solana collection.

[2022-05-27 14:59] bolshoytoster commented on #1207
@Xfox1 yes, you can change `DNA_DELIMITER` in `src/main.js` ~line 31:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L30-L32

[2022-05-27 14:59] bolshoytoster commented on #1208
@scottskeel make sure you save `src/config.js`.

[2022-05-27 15:12] bouchidocode commented on #1206
ok Thank you @bolshoytoster   I try that
thank you very much

[2022-05-27 15:25] Vatroslaw commented on #1191
It happened to me and nothing worked.
I found this, and it did the thing.

https://www.majorgeeks.com/files/details/fart.html
https://emtunc.org/blog/03/2011/farting-the-easy-way-find-and-replace-text/

[2022-05-27 15:27] Vatroslaw commented on #1139
I found this, and it did the thing.

https://www.majorgeeks.com/files/details/fart.html
https://emtunc.org/blog/03/2011/farting-the-easy-way-find-and-replace-text/

[2022-05-27 15:28] bolshoytoster commented on #1191
@Vatroslaw you could end up with syntax errors in your json files though.

If you want to manually edit json files I'd reccommend [`jq`](https://stedolan.github.io/jq/).

[2022-05-27 22:12] gregh-IW opened #1209 "node index.js image build issue"
After changing out the layersOrder name to match my layers, I would type in node index.js to create 5 editions. However, the editions do not display all of the layers and will only display 1 layer. For example, it will only show the Hair for all 5 created edition with none of the other layers shown.

Can anyone help me with this issue? Thank you!

const layerConfigurations = [
  {
    growEditionS

[2022-05-27 22:28] bolshoytoster commented on #1209
@gregh-IW make sure all the images in the `Hair` layer have transparent backgrounds.

[2022-05-27 22:33] gregh-IW commented on #1209
That may be the reason. I had a friend use an ipad app (Procreate) to make these images, but do you know of any apps that can help me make the backgrounds transparent without removing the color from the actual images themselves?

For example for hair when I try to make the background transparent it takes the color out of the hair also.

[2022-05-27 22:35] bolshoytoster commented on #1209
@gregh-IW if you're looking for a mobile app, you could try magic eraser, and remove the background.

[2022-05-28 09:37] RemDust commented on #1181
I would love to have a solution for this too.
Every collection that designs multiple skin/fur colors needs to force the same color on different body parts !

I suppose some nested folder structure would be useful, with "Color" folder being a branch

[2022-05-28 15:07] emrekacaar commented on #791
did you solve the problem

[2022-05-28 15:10] bolshoytoster commented on #791
@emrekacaar can you paste your error please.

[2022-05-28 15:12] emrekacaar commented on #791
hashlips_art_engine@1.1.1 generate

(node:5192) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
C:\Users\bkaca\OneDrive\Masaüstü\Solana_project\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas\lib\image.js:91

[2022-05-28 15:13] bolshoytoster commented on #791
@emrekacaar can you move your project folder to somewhere like `C:/Users/Public` please.

[2022-05-28 15:20] emrekacaar commented on #791
brooooooo thank you for helping me

[2022-05-28 15:21] emrekacaar commented on #791
please contact me on instagram: kacaremre54

[2022-05-28 15:33] hansamann opened #1210 "NPM install fails"
Any idea why this fails?

Mac Os
node --version
v16.14.2

npm install

npm ERR! code 1
npm ERR! path /Users/I511648/dev/hashlips_art_engine/node_modules/canvas
npm ERR! command failed
npm ERR! command sh -c node-pre-gyp install --fallback-to-build
npm ERR! Failed to execute '/usr/local/bin/node /usr/local/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js configure --fallback-to-build --mo

[2022-05-28 15:35] bolshoytoster commented on #1210
@hansamann this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-05-28 19:50] gregh-IW opened #1211 "DNA Exists"
Hi, just had a question. I have the uniqueDNATorrance = 10000 and as I begin to generate my collection of 10,000. I noticed that some of the created edition has "DNA exists!" pop up under it.

What does DNA exists mean? Does it mean that there are duplicates with the same layer combinations? I appreciate any help as I am new to this.

[2022-05-28 20:45] bolshoytoster commented on #1211
@gregh-IW it means that it has generated a DNA that already exists (obviously), but it creates a new, unique DNA before rendering the image, meaning there won't be any duplicates in your final collection.

[2022-05-28 22:57] Madman1384 opened #1212 "(node:10816) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead"
So whenever I run generate in the terminal i get this.

(node:10816) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead

It still creates my images but the colors come out distorted, but still keeping the shapes in tact
example;
![5](https://user-images.githubusercontent.com/104224681/170845

[2022-05-29 07:49] Jumpman329 commented on #1188
Hi, my NFT's randomly stopped generating. Did I do something wrong? Code:

Created edition: 1, with DNA: 658b0f482caec423ecfc30c057cff537b49d8df7
Created edition: 2, with DNA: af852d2b5ca31f291b0a4c1edae69dc3898e4fb4
Created edition: 3, with DNA: f041dbd6793fd76a518c5e2b4fe07ca637bff7dd
Created edition: 4, with DNA: bc2b6d6b51913ea753061d5c5ca52799e18f846a
Created edition: 5, with DNA: ef065ef43ea

[2022-05-29 08:22] NirSanasm opened #1213 "package.json not found"
I am getting this error when I run "yarn generate"

PS D:\nft\hashlips_art_engine-main> yarn generate
yarn run v1.22.15
error Couldn't find a package.json file in "D:\\nft\\hashlips_art_engine-main"
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
PS D:\nft\hashlips_art_engine-main>

[2022-05-29 16:35] bolshoytoster commented on #1188
@Jumpman329 there could be a folder/weird file in one of your `layers/` folders.

If you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine), it will tell you which file caused the error.

[2022-05-29 16:36] bolshoytoster commented on #1213
@Niranjit123 you're in the wrong folder, you can run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-05-29 16:52] NirSanasm commented on #1213
What will be the correct folder to run this command?

[2022-05-29 16:54] NirSanasm commented on #1213
When I run "yarn" it outputs like this.

PS D:\nft\hashlips_art_engine-main> yarn
yarn install v1.22.15
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistencies caused by unsynchronized lock files. To clear this warning, remove package-lock.json.
[1/4] Resolving packa

[2022-05-29 16:59] bolshoytoster commented on #1213
@Niranjit123

It'll be something like `hashlips_art_engine-main`, but not the one you're currently in; please refer to the comment I assume you read:

[2022-05-29 17:11] NirSanasm commented on #1213
Sorry for bothering you again and  again. I am a newbie. I have a folder like from where I should run this command. I have also included the link for screenshot of my folder

D:\nft\hashlips_art_engine-main\hashlips_art_engine-main
[https://drive.google.com/file/d/1_5MBhpM_Lke1M-xT9gkaGaU1LdMgYy4Z/view?usp=sharing](url)
[https://drive.google.com/file/d/1qhM-E9KyD5MkVxUeVmu-FKsobGNITPHJ/view?usp=sh

[2022-05-29 17:12] NirSanasm commented on #1213
ooh this link does not work

[2022-05-29 17:13] NirSanasm commented on #1213
D:\nft\hashlips_art_engine-main\hashlips_art_engine-main

This is my folder structure.

[2022-05-29 17:21] NirSanasm commented on #1213
I tried on D:\nft\hashlips_art_engine-main\hashlips_art_engine-main . And  i got this

PS D:\nft\hashlips_art_engine-main\hashlips_art_engine-main> yarn generate
yarn run v1.22.15
$ node index.js
D:\nft\hashlips_art_engine-main\hashlips_art_engine-main\src\main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token '.'
←[90m    at Object.

[2022-05-29 17:55] bolshoytoster commented on #1213
@Niranjit123 you need to either update node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-29 19:10] businessstratege commented on #1186
hey used your fork. But there is a problem, sometimes the layers are only white. Do you know what i can do against this problem?

[2022-05-29 21:57] Mikoks22 opened #1214 "Update_Info.js UNDEFINED"
I have a problem , when i start this script " update_info.js"

![image](https://user-images.githubusercontent.com/106193416/170892799-3688e4c5-2a90-47c6-a2b5-83c2176144fa.png)

and this
![image](https://user-images.githubusercontent.com/106193416/170892814-3c08fbaf-3369-42e2-8d7d-62824c507001.png)

and not import in all file json , only import cid in metadata (undefined) and ( undefined.json ) sor

[2022-05-30 04:17] #1212 closed, assigned to nobody

[2022-05-30 14:45] Jumpman329 commented on #1188
Okay, thank you so much. Also, I'm trying to update the base uri and I got
this. Any advice?

Error: Cannot find module '/Users/johnpollock/Desktop/NFT
Coding/create-10k-nft-collection-2.0.0 2/utils/updateBaseUri.js'
    at Function.Module._resolveFilename
(internal/modules/cjs/loader.js:902:15)
    at Function.Module._load (internal/modules/cjs/loader.js:746:27)
    at Function.executeUserEntryPo

[2022-05-30 14:46] bolshoytoster commented on #1188
@Jumpman329 `utils/updateBaseUri.js` is `utils/update_info.js` now.

[2022-05-30 17:23] bestify opened #1215 "Mark items as locked?"
I'm wondering if is there any way to mark items in the generated collection as 'locked'? Let's say you visually scan items in the collection and there are some randomly generated images which are awesome and you want to keep, but you want to run a new generation for the rest of the collection.

Is there a way to maintain some items, but run the generate command again to fill in the gaps?

I'd love

[2022-05-30 17:27] bolshoytoster commented on #1215
@bestify [my fork](https://github.com/bolshoytoster/hashlips_art_engine) does this if you delete the corresponding JSON objects of the ones you want the regenerate in `build/json/_metadata.json`.

[2022-05-30 17:33] lucabrini commented on #1209
@bolshoytoster  https://t.me/CutTheBGBot/ removes background from picture. It's a telegram bot and it works pretty well

[2022-05-30 19:58] Niviere commented on #251
so is it like, for example; I have 10 traits (eyes) all those 10 is equal to 100.
I can put whatever rarity number for each one as long as they all end up (added up) together as 100? (added up)

[2022-05-30 20:03] Jumpman329 commented on #1188
Hey, so I've been trying to troubleshoot this error for quite some time
now. Whenever I try to update the base uri it says permission denied. you
wouldn't happen to know how to solve that would you?

On Mon, May 30, 2022 at 10:54 AM John Pollock ***@***.***>
wrote:

[2022-05-30 20:24] bolshoytoster commented on #251
@Niviere yes, but they don't need to add up to 100.

[2022-05-30 20:24] bolshoytoster commented on #1188
@Jumpman329 can you paste the full error here please.

[2022-05-30 20:29] Jumpman329 commented on #1188
***@***.*** create-10k-nft-collection-2.0.0 2 % utils/
update_info.js
zsh: permission denied: utils/update_info.js

On Mon, May 30, 2022 at 4:24 PM bolshoytoster ***@***.***>
wrote:

[2022-05-30 20:31] bolshoytoster commented on #1188
@Jumpman329 you still have to run it with `node`, i.e. `node utils/update_info.js`.

[2022-05-30 20:33] Jumpman329 commented on #1188
okay, i got this:

SyntaxError: await is only valid in async function
    at wrapSafe (internal/modules/cjs/loader.js:1001:16)
    at Module._compile (internal/modules/cjs/loader.js:1049:27)
    at Object.Module._extensions..js
(internal/modules/cjs/loader.js:1114:10)
    at Module.load (internal/modules/cjs/loader.js:950:32)
    at Function.Module._load (internal/modules/cjs/loader.js:790:12)

[2022-05-30 20:40] bolshoytoster commented on #1188
@Jumpman329 you could try opening another issue on [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection/issues), but since they haven't touched the repo since april, you should just use the `utils/update_info.js` from either this repo or my fork.

[2022-05-31 09:17] bestify commented on #1215
Thank you @bolshoytoster I will give it a try!

[2022-05-31 15:28] Jumpman329 commented on #1188
Yeah, I haven't received anything back yet. Where can I access my fork
again?

On Mon, May 30, 2022 at 4:40 PM bolshoytoster ***@***.***>
wrote:

[2022-05-31 15:31] bolshoytoster commented on #1188
@Jumpman329 [here](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-05-31 15:37] Jumpman329 commented on #1188
Sorry, I'm pretty unfamiliar with coding. Do I just recopy the code into
CodeVS? Or is my fork something that I have to install? Thanks in advanced.

On Tue, May 31, 2022 at 11:31 AM bolshoytoster ***@***.***>
wrote:

[2022-05-31 15:43] bolshoytoster commented on #1188
@Jumpman329 my fork (as in the fork that I maintain) is just the hashlips art engine with some updates.

You can just copy the `utils/update_info.js` over to replace the existing one you're using.

[2022-05-31 15:53] Jumpman329 commented on #1188
Okay, I just copied and pasted the entire code. This error popped up:

SyntaxError: await is only valid in async function
    at wrapSafe (internal/modules/cjs/loader.js:1001:16)
    at Module._compile (internal/modules/cjs/loader.js:1049:27)
    at Object.Module._extensions..js
(internal/modules/cjs/loader.js:1114:10)
    at Module.load (internal/modules/cjs/loader.js:950:32)
    at Function.Modu

[2022-05-31 15:55] Jumpman329 commented on #1188
Should I also copy and paste the updateBaseuri.js?

On Tue, May 31, 2022 at 11:53 AM John Pollock ***@***.***>
wrote:

[2022-05-31 15:56] bolshoytoster commented on #1188
@Jumpman329 make sure you save the file before running it.

[2022-05-31 20:03] scottskeel opened #1216 "image width and height error"
my image is coming out long

[2022-05-31 20:08] bolshoytoster commented on #1216
@scottskeel you can change `width`/`height` in `src/config.js` ~line 45:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L47

[2022-05-31 20:19] scottskeel commented on #1216
thanks bro

[2022-06-01 02:27] jeff41101 commented on #700
Hi, may I ask which parameter is in charge of the total chances?

[2022-06-01 02:47] LorenzoElenkov opened #1217 "How to make exact numbers of attributes to be generated?"
I am trying to change the code in order to be able to generate 111 images with predetermined numbers of attributes in a layer that add up to 111:

Layer: 1
Attribute#1: **53** occurrences
Attribute#2: **20** occurrences
Attribute#3: **38** occurrences
they all add up to 111

Layer: 2
Attribute#4: **23** ...
Attribute#5: **18** ...
.....
Attribute#11: **13** ...
(they all add up to 111)

Layer: 3
C

[2022-06-01 09:35] bolshoytoster commented on #700
@jeff41101 it's just all of the chances added together.

[2022-06-01 09:39] bolshoytoster commented on #1217
@LorenzoElenkov do you have enough layers/attributes to generate 111 unique images?

Could you run `Get-ChildItem -Recurse layers` in powershell and paste the output here please.

[2022-06-01 15:26] LorenzoElenkov commented on #1217
@bolshoytoster
I am on MacBook M1, powershell is windows, is zsh the equivalent for powershell?

Each layer has various attributes ranging from 1 to 16. Then, each attribute has a number of occurrences. All layers' attributes occurrences add up to 111 so all attributes occurrences are exactly matching the output number.

[2022-06-01 15:30] bolshoytoster commented on #1217
@LorenzoElenkov

sorry, I assumed you were on windows. Could you run `ls -R layers` instead.

[2022-06-01 16:07] Kaytee-dev opened #1218 "npm run build, yarn build and node index.js not working"
C:\Users\Public\hashlips_art_engine>node index.js
(node:13892) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1405
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\

[2022-06-01 17:03] bolshoytoster commented on #1218
@Kaytee-dev could you paste your `layersConfigurations` here please.

[2022-06-02 06:17] Kaytee-dev commented on #1218
@bolshoytoster  I was able to resolve it, the problem arises from adding custom attributes in the layersOrder
which I wish to show the custom rarity like "legendary, rare, common".

This is the code that causes the error
const layerconfiguration : [
//this is for the 100 common Nft
{
growEditionSizeTo: 100,
layersOrder : [
  { name: "Background"},
  { name: "Body"},
  {"attributes" : [
"trait_type

[2022-06-02 07:01] LorenzoElenkov commented on #1217
@bolshoytoster

Armor           Background      Tribe           Weapon

layers/Armor:
Bronze#53.png   Gold#20.png     Silver#38.png

layers/Background:
Empty#23.png    Fire#18.png     Fog#20.png      Lightning#8.png Night#10.png    Rain#15.png     Sandstorm#4.png Snow#13.png

layers/Tribe:
Aphrodite#111.png

layers/Weapon:
Fire bow#1.png          Fire sword#4.png        Golden spear#11.png     Ice

[2022-06-02 07:04] nilolalolal opened #1219 "How to regenerate metadata"
Hey there!
I generated a collection, and now I want to change metadata only ( but I changed layer names). When I go utils/generate_metadata.js it gives me Error: Cannot find module 'C:\Users\komp\Desktop\hashlips_art_engine-main\utils\generate_metadata.js.
can you help me with this? Thank you!

[2022-06-02 07:13] LorenzoElenkov commented on #1217
It's worth mentioning that the number of each layer represents the occurrences and not a rarity percentage. E.g. out of 111 images generated, 53 must be with Bronze Armor, etc...

[2022-06-02 07:28] SeanYang816 commented on #747
@Warman8264 I use nvm and deleted the specific npm version and that error occurred to me despite the version name is still there but the file is not. Try uninstall the version if it exists and install it again. It worked for me.

[2022-06-02 08:11] bolshoytoster commented on #1218
@Kaytee-dev you still need a `name` property for each `layersOrder` object, and what you're trying to do isn't currently supported.

You could create a `layers/` folder structure like this:
[code]
Then have your `layersOrder`s like:
[code]

[2022-06-02 08:20] bolshoytoster commented on #1219
@nilolalolal the error is saying it can't find `utils\generate_metadata.js`, you're probably in the wrong folder (run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

Besides, you probably want `utils/update_info.js` for the majority of uses.

What are you trying to do?
`generate_metadata.js` just replaces your metadata with preset values and `update_info.j

[2022-06-02 08:37] nilolalolal commented on #1219
@bolshoytoster I generated a collection with wrong trait names, and now I changed names, and just want to generate metadata that it is compatible to already generated NFTs.
But, I deleted all previous process in Studio Code because of other work I had to do.
And now I'm not sure how to load generated NFTs and generate updated metadata for them.
So basically, I'm not familiar with any step of how t

[2022-06-02 08:48] bolshoytoster commented on #1219
@nilolalolal

You won't be able to do this, as there's no way for it to know what traits to change to what.

You could try a find+replace in `_metadata.json` (you can either do this in most text editors with `ctrl` + `r`, or by running `(Get-Content build/json/_metadata.json) -Replace 'foo', 'bar' | Set-Content build/json/_metadata.json` where `foo` is what you want to replace and `bar` is what yo

[2022-06-02 08:58] nilolalolal commented on #1219
@bolshoytoster oh okay, thank you!
I'll generate it again..
Is there any chance I can speed up that? It takes 5 sec to generate 1 piece, and art is very simple.
and for some more complicated takes 2 sec per piece..not sure why ?

[2022-06-02 09:12] bolshoytoster commented on #1219
@nilolalolal [my fork](https://github.com/bolshoytoster/hashlips_art_engine) has some speed optimisations.

[2022-06-02 09:26] Kaytee-dev commented on #1218
@bolshoytoster I will try that out too.

Thanks for your contribution

[2022-06-02 09:50] neoreo-terrex opened #1220 "Can't Install NPM"
Why do i get this error?

neoreo@Nishads-MacBook-Pro hashlips_art_engine-1.1.2_patch_v6 % npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old

[2022-06-02 09:52] bolshoytoster commented on #1220
@neoreo-terrex this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-06-02 09:54] neoreo-terrex commented on #1220
so m1 users can't generate using hashlips art engine?

[2022-06-02 09:56] bolshoytoster commented on #1220
@neoreo-terrex you can, but you'll have to find a workaround.

[2022-06-02 13:29] Kaytee-dev commented on #1218
@bolshoytoster it works.

Thanks for your help🙏🫂

[2022-06-02 13:59] nilolalolal commented on #1219
@bolshoytoster  thank you!

[2022-06-02 23:43] wesdeth commented on #266
I'm also having this issue

[2022-06-02 23:49] bolshoytoster commented on #266
@CryptoniteMining if you have the same error can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-06-03 02:17] acmartinz opened #1221 "npm install fail"
Alexanders-MacBook-Pro:NFT Acmartinez$ npm install
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path /Users/Acmartinez/Desktop/NFT/package.json
npm ERR! errno -2
npm ERR! enoent ENOENT: no such file or directory, open '/Users/Acmartinez/Desktop/NFT/package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be

[2022-06-03 04:29] Jezzail opened #1222 "image generation wrong"
When I run the generate for my layers, the process runs good but the final result is bad.
This are 3D rendered transparent items.
![2](https://user-images.githubusercontent.com/14903362/171786348-fd5ab40f-5ff3-4dbb-bf88-e765a27ec447.png)

This worked in the past with the same layers but not in this new tests I am doing.
It still works using the default eyes layers or other tests I have.

Thank you

[2022-06-03 08:30] bolshoytoster commented on #1221
@acmartinz you are in the wrong folder. You probably just need to run `cd hashlips*' to change into it.

[2022-06-03 08:36] neoreo-terrex commented on #1220
<img width="939" alt="Screenshot 2022-06-03 at 14 05 02" src="https://user-images.githubusercontent.com/93146135/171819312-64af2be5-8de6-4e4d-a59c-096be6e97a24.png">
I found the solution. this worked for me. try this method.

[2022-06-03 08:36] #1220 closed, assigned to nobody

[2022-06-03 16:20] heypig6 opened #1223 "NPM Install Error"
pm WARN old lockfile The package-lock.json file was created with an old version of npm

I get that crash what should i do?

[2022-06-03 16:54] bolshoytoster commented on #1223
@heypig6 that's not an error, that's a warning.

Can you paste the *full* error please.

[2022-06-03 16:59] heypig6 commented on #1223
z33@z33-MacBook-Pro hashlips_art_engine % npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/z3

[2022-06-03 17:30] bolshoytoster commented on #1223
@heypig6 this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-06-03 17:31] heypig6 commented on #1223
so should i use windows instead?

[2022-06-03 17:56] bolshoytoster commented on #1223
@heypig6 you could but there are workarounds you can use.

[2022-06-03 18:02] heypig6 commented on #1223
where can i check those workarounds

[2022-06-03 18:10] bolshoytoster commented on #1223
@heypig6 here: https://github.com/HashLips/hashlips_art_engine/issues/1115

[2022-06-03 20:49] srn87 opened #1224 "growedition, how can i?"
hey guys someone knows if i have 2k nfts done and i want to starts again i would like after this, if is possible?

[2022-06-03 21:10] bolshoytoster commented on #1224
@srn87 do you mean you want to continue a collection or start a new one starting from 2k?

[2022-06-03 21:44] srn87 commented on #1224
@bolshoytoster I would like to continue the collection but where did the previous print run end, Thanks in advance

[2022-06-03 21:46] bolshoytoster commented on #1224
@srn87 you can use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) and set `growEditionSizeTo` to whatever you want the full collection to be.

[2022-06-03 21:51] srn87 commented on #1224
@bolshoytoster maybe I explained myself wrong, I have 2000 nfts already created but I don't want to launch node index.js again because it overwrites the previous ones, so I want it to start in 2001 and start saving from there, thankss

[2022-06-03 21:52] bolshoytoster commented on #1224
@srn87 yes, my fork doesn't overwrite the existing collection.

[2022-06-03 21:52] srn87 commented on #1224
@bolshoytoster oks, i copy then, thanks a lot

[2022-06-04 08:32] 624133262 opened #1225 "layerObj.options?.["displayName"] != undefined"
<img width="452" alt="image" src="https://user-images.githubusercontent.com/28002830/171991397-ba468e2c-1b33-4877-a1f4-a2ec506cb6d5.png">
node v10.18.0
npm v6.13.0
hashlips_art_engine v1.1.1
I see have the same as issues,but all try failed。

[2022-06-04 11:16] srn87 commented on #1224
hi @bolshoytoster  i do with your fork, i receive this how can i do now for do more? do you have some var  like "starteditionfrom" = 10 for example?
![2022-06-04](https://user-images.githubusercontent.com/66142800/171996598-a7cabdf3-d50f-4c07-a8f9-9697661653f7.png)

[2022-06-04 11:24] bolshoytoster commented on #1225
@624133262 you need to either upgrade node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-06-04 11:26] bolshoytoster commented on #1224
@srn87 yes, there is `startEditionFrom`, the same way you set `growEditionSizeTo`.

[2022-06-04 14:18] dnvrg commented on #933
your images should be saved in 8 bit

[2022-06-05 12:17] #812 closed

[2022-06-05 20:19] buhduhzah opened #1228 "Regenerate with removed background"
I'd like to be able to generate a 10k collection and then _also_ generate a duplicate with the background layers removed (keeping the exact same image/metadata, minus the background) Can anyone tell me how to do this? Thanks!

[2022-06-05 20:20] buhduhzah commented on #1228
Also, I'm using a background layer, as opposed to using the art engine's "create background" thing

[2022-06-05 22:56] Indygreg317 commented on #419
----------------------------------------
This did not work for me.  It doesn't update my baseuri.

[2022-06-06 04:15] Indygreg317 commented on #1157
Bro, Feel Your Pain..  Did You Figure It Out?

[2022-06-06 07:22] bolshoytoster commented on #419
@Indygreg317 the script updates the `name` values using the `namePrefix` value.

It also updates the `image` values to use `baseUri` only if you're not using solana.

Could you make sure you save `src/config.js` and that it's not set to use solana.

[2022-06-06 14:38] Indygreg317 commented on #419
I am on Solana.. does it not work on that network?

[2022-06-06 14:44] bolshoytoster commented on #419
@Indygreg317 I don't think there is a base uri in solana.

[2022-06-06 15:38] Indygreg317 commented on #1128
Did You Figure This Out?  Any help would be awesome.  Just start my journey..

[2022-06-06 16:47] rwsbrasil commented on #748
Hi,

Hi, did you succeed ?

[2022-06-06 16:50] srn87 commented on #1224
thanks @bolshoytoster work it, could you know how can i add in this metadata var;
description something like this, i want to put the name of layer in description, would be something there:
description ="This is the " + `${namePrefix}` + " of the nft collection. "
But need name of layer concatenated to namePrefix, so that it says which version it is in the description, for example if it is drawing

[2022-06-07 19:18] W-Lefebvre opened #1230 "Issue when I try to create a collection of 5555 NFTs, please help!"
Hi everyone,

I am trying to create a collection of 5555 NFTs. I know that the number of layers I currently have (20 background, 10 animals) does not allow me to create a collection of this size without duplicates. It doesn't matter to me if there are 1, 10 or 100 duplicates.

After checking this repo for issues concerning my problem, I still can't generate the 5555 NFTs. The terminal seems to be

[2022-06-07 19:18] W-Lefebvre commented on #1230
`const basePath = process.cwd();
const { NETWORK } = require(`${basePath}/constants/network.js`);
const fs = require("fs");
const sha1 = require(`${basePath}/node_modules/sha1`);
const { createCanvas, loadImage } = require(`${basePath}/node_modules/canvas`);
const buildDir = `${basePath}/build`;
const layersDir = `${basePath}/layers`;
const {
  format,
  baseUri,
  description,
  background,
  uni

[2022-06-07 19:19] W-Lefebvre commented on #1230
const basePath = process.cwd();
const { NETWORK } = require(`${basePath}/constants/network.js`);
const fs = require("fs");
const sha1 = require(`${basePath}/node_modules/sha1`);
const { createCanvas, loadImage } = require(`${basePath}/node_modules/canvas`);
const buildDir = `${basePath}/build`;
const layersDir = `${basePath}/layers`;
const {
  format,
  baseUri,
  description,
  background,
  uniq

[2022-06-07 19:20] W-Lefebvre commented on #1230
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-06-07 19:46] bolshoytoster commented on #1230
@W-Lefebvre you can change `src/main.js` ~line 363:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L362-L364

to
[code]

[2022-06-07 19:48] W-Lefebvre commented on #1230
I just found the solution (that you gave!) in issue #783 , apologies for the duplication and thank you so much for your response and involvement!

[2022-06-07 19:51] #1230 closed, assigned to nobody

[2022-06-07 20:49] validusvell commented on #251
I have a trait group i only want to occur 10 percent of the time, can i apply the # to the folder? or do i have to create an "empty" trait in the group

[2022-06-08 04:01] alfonsolua36 commented on #1078
Did you get the issue fixed? I might have a possible solution. Let me know if you need it.

[2022-06-08 06:41] ZahraShiraz commented on #1078
Hi. I am not using nftport anymore. I guess there was some problem with its
 api key in my case.

[2022-06-08 17:12] simbaeth commented on #1010
hey man any update on this? Im getting the same issue

[2022-06-08 17:19] GHEM900 opened #1231 "Truffle error"
Please! I need help! How can I solve this error? node is installed :/

 node-pre-gyp install --fallback-to-build

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(403): https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v4.2.0/node-v83-win32-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for sqlite3@4.2.0 and node@14.18.2 (node-v83 ABI

[2022-06-08 17:26] bolshoytoster commented on #1231
@GHEM900 have you read the error?
[code]

[2022-06-08 17:29] GHEM900 commented on #1231
Thank you!! Because yesterday it worked, I didn't change anything! That's what made me so curious :D

[2022-06-08 20:56] EmanuilVg opened #1232 "npm run deploy_contract Problem"
CATCH ERROR: ERROR STATUS: 403
Retrying

[2022-06-08 20:59] bolshoytoster commented on #1232
@ToBecomeaHero this error only occurs in codeSTACKr's repo, please use the [existing issue over there](https://github.com/codeSTACKr/create-10k-nft-collection/issues/168#issuecomment-1138563265).

[2022-06-09 00:11] coeuscrypto opened #1233 "Writing rarity data to json file?"
Hi,

I think this would be a great feature, as I could parse it to create rarity tables...

Unless there's another way to do this?  I'd like to make something like; https://meebits.app/meebits/categorylist

[2022-06-09 07:12] asamox opened #1234 "node index.js not working"
save the config.js and didn't change any default 😢

`kiki@MacBook-Pro hashlips_art_engine-main % node index.js
(node:7822) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
Created edition: 1, with DNA: 27953e0009d58

[2022-06-09 08:26] W-Lefebvre opened #1235 "Rarity issues for 5555 Nfts"
Hello everyone,

I have checked a maximum the different issues related to rarity and no matter what I do, rarity is not significant between my different NFTs. I explain:

I have a collection of 5555 NFTs, but I only have two traits:
- Background (21 units)
- Animals (10 units)

I tried several possible combinations, followed the tutorial, searched in the different issues and tried their method, th

[2022-06-09 10:13] guyleung801 commented on #676
For Someone who still facing this issues, I have my solutions here.

Actually this might happens just for Windows users, this error in my case, is because of the "Thumb.db" files exists in your layers folder, I have my view Hidden items option checked, but I cannot see this file, but after I follow the steps below, I finally see it and after I deleted the "Thumb.db" files that in my layers folder,

[2022-06-09 10:31] zainkazi opened #1236 "Cannot disappear traits depending on other traits."
Is there any way to make some traits depend on other traits. For example if 'reptile eyes' occur in generation then don't mix it with 'penguin nose'.
And also what do i do if i have hundreds of rules like that. I cannot add 200 if elses.

[2022-06-09 10:38] OctaneDDDDD opened #1237 "'npm run generate' command generating a error rather than images???"
---
name: Generation bug
about: 'npm run generate' command giving error, error code 'ERR_DLOPEN_FAILED'
labels: bug
---

## Description

### Steps to reproduce

### Expected result

### Actual result

### Environment

- OS Version: v14.18.2
- Node.js version: V18

[2022-06-09 14:00] bolshoytoster commented on #1237
@OctaneDDDDD can you please paste the full error.

[2022-06-09 14:01] ilanoh opened #1238 "Force create some specific combinations"
Hello,

I would like to create specific combination, how can we use this engine do to this.

For example, I want to create a collection of 250 NFTs, with 250 different background and use each background exactly once.

How can I do this without having to create 250 folders, and 250 growEditionSizeTo, that would result in having too many attributes on opensea as well.

Also, I want that for Backgrou

[2022-06-09 16:38] bolshoytoster commented on #1233
@coeuscrypto in `utils/rarity.js` ~line 74:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/rarity.js#L73-L75

You can add something like this:
[code]
To write the data to `build/json/rarity.json`.

[2022-06-09 16:39] bolshoytoster commented on #1234
@asamox [this stackoverflow answer](https://stackoverflow.com/a/70064802) suggests running `npm install canvas@2.9.0`.

[2022-06-09 16:43] bolshoytoster commented on #1235
@W-Lefebvre the issue is that there are only a certain number of combinations available, and once you get closer to the limit, the weights matter a lot less.

The only solutions I can see would be to either allow duplicates, reduce the collection size, or add more traits or 'units'.

[2022-06-09 18:01] Jumpman329 commented on #1188
Hi, I'm further on in the minting process now. I've just uploaded to
testnet, however the metadata has not been transferred over properly. The
traits don't match the image. I was told to reupload the metadata, however
it didn't work. I then checked the names of the traits and attributes to
make sure I didn't misspell anything. That didn't work either. I was told
by a contact on Fiverr that there c

[2022-06-09 19:16] Derindrn commented on #1005
bu hatayı neden veriyor bana yardımcı olurmusunuz?

syscall: 'open',
  code: 'ENOENT',
  path: '/Users/Mac/Downloads/hashlips_art_engine-main/build/json/_metadata.json'
}
Mac@192 hashlips_art_engine-main % node utils/update_info.js_metadata.json
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/Users/Mac/Downloads/hashlips_art_engine-main/utils/update_info.js_metad

[2022-06-09 19:20] bolshoytoster commented on #1005
@Derindrn Çünkü `build/json/_metadata.json` mevcut değil

Zaten bir koleksiyon oluşturduysanız, lütfen çalıştırmayı deneyebilir misiniz `curl https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js | node`.

[2022-06-09 19:25] jorgelameiras opened #1240 "Rarity"
Hello, I want to know if there is a way where certain layers don't appear in some images, making them rare. Is there a way to do it?

Because I have two types of shirts but in some images I want the character to have no shirt.

Thank you!

[2022-06-09 19:39] Derindrn commented on #1005
node indirdim

[2022-06-09 19:54] Derindrn commented on #1005
bu sayfa bulunamadı diyor anlamadım ben

[2022-06-09 19:57] bolshoytoster commented on #1240
@jorgelameiras you can have an empty image with whatever rarity you want.

[2022-06-09 20:00] bolshoytoster commented on #1005
@Derindrn Ya `Invoke-WebRequest -URI https://raw.githubusercontent.com/bolshoytoster/hashlips_art_engine/main/utils/update_info.js | node`

[2022-06-10 08:53] peaceofbulldog opened #1242 "what is problem ?"
Error: EILSEQ, Illegal byte sequence 'C:\Users\Desktop\hashlips_art_engine-main/layers/Background/Black#1.png'
    at setSource (C:\Users\Desktop\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\Desktop\hashlips_art_engine-main\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\Desktop\hashlips_art_engine-main\node_modules\canvas\index.js:34:15
    at

[2022-06-10 09:18] peaceofbulldog commented on #1242
find out the path way, hashlips file is install to c drive
that is working

[2022-06-10 14:31] Jumpman329 commented on #1188
Hey, just in case you didn't see my last email: I'm further on in the
minting process now. I've just uploaded to testnet, however the metadata
has not been transferred over properly. The traits don't match the image. I
was told to reupload the metadata, however it didn't work. I then checked
the names of the traits and attributes to make sure I didn't
misspell anything. That didn't work either. I

[2022-06-10 21:47] Phall3 opened #1243 "Is there a possibility of the same image being generated twice?"
Is there a possibility of the same image being generated twice?

[2022-06-10 21:49] bolshoytoster commented on #1243
@Phall3 not by default.

[2022-06-11 00:39] Phall3 opened #1244 "I am having a problem with resolution issues."
![10](https://user-images.githubusercontent.com/107281328/173165773-759e8708-5fbf-43c2-b963-58b5c7c78696.png)

[2022-06-11 08:53] tahaimran opened #1245 "Nfts pics issue URGENT"
![8201](https://user-images.githubusercontent.com/59136478/173181000-a7b1562e-6f7e-443e-ad4b-67e1e7fd24a5.png)
Hi please let me know as soon as possible how to fix it

[2022-06-11 10:36] bolshoytoster commented on #1244
@Phall3 you can change the resolution in `src/config.js` ~line 46:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L47

[2022-06-11 11:28] Chroniccoding commented on #722
Hi I am also trying to create a NFT collection in the Visual Studio Code Terminal and keep getting this error

Error: Cannot find module 'C:\Users\Owner\Documents\create-10k-nft-collection-2.0.0/node_modules/sha1'
Require stack:
- C:\Users\Owner\Documents\create-10k-nft-collection-2.0.0\src\main.js
- C:\Users\Owner\Documents\create-10k-nft-collection-2.0.0\index.js
    at Function.Module._resolveF

[2022-06-11 11:29] bolshoytoster commented on #722
@Chroniccoding run `npm install`.

[2022-06-11 11:53] Chroniccoding commented on #722
Thanks. I tried that with the package name and this is the error i got

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/10k-collection-video - Not found
npm ERR! 404
npm ERR! 404  '10k-collection-video@*' is not in this registry.
npm ERR! 404
npm ERR! 404 Note that you can also

[2022-06-11 11:58] bolshoytoster commented on #722
@Chroniccoding I believe this is an issue with [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection/issues), if you're using it can you please open an issue there.

[2022-06-11 12:19] Derindrn commented on #1005
path: '/Users/Mac/Downloads/hashlips_art_engine-main/build/json/_metadata.json bu hatayı veriyor rarity kısmında ne yapmalıım

[2022-06-11 14:33] Derindrn commented on #1005
node indirdim yinede hata veriyor

[2022-06-11 22:47] pmcrypto11023 commented on #1009
[bolshoytoster](https://github.com/bolshoytoster) --- i had the same issue--and was reading the thread--thank you for the solution--helped solve my problem too.

[2022-06-11 22:49] alpharhoking commented on #1036
Did you manage to solve this issue?

[2022-06-12 00:52] sadun619 commented on #1036
yes. generated to 4 times. with keeping previous DNS

[2022-06-12 04:35] TTibbs commented on #1219
Hi I got a issue where in the metadata "ipfs://" was left out of "image": so it just has "image": "CIDHERE/1.png" for example. Any tips on fixing this?

[2022-06-12 05:26] Phall3 opened #1246 "Don't have enough layers to generate 10000"
I have 5 layers, each layer has 6-8 elements. When I run the terminal, I only get to 7466 combinations. I also have rarities for each element. Does anyone know how I can solve this?

[2022-06-12 08:19] bolshoytoster commented on #1219
@TTibbs you need to include `ipfs://` in your `baseUri`.

[2022-06-12 08:22] bolshoytoster commented on #1246
@Phall3 in `src/config.js` ~line 85:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L84-L86

You can increase the `10000` or just change it to `Infinity`.

[2022-06-12 10:52] fahadqayyum5 commented on #419
**USE BELOW CODE TO UPDATE JSON FILES NOT METADATA FILE.**

[code]

[2022-06-12 13:31] Omegacris commented on #1025
Hi all,

Similar to the cmd `npm run rarity > rarity.log 2>&1` what is the cmd to export into a file what are the Top 10 most rarest generated items (images) from the entire generated collection ?
Basically I'd like to have generated a Top 10 or 100 List showing the **Name** of the generated image and what **Traits** it contains (Background, Eyes, Mouth) types. If not Top # then the entire generat

[2022-06-12 14:11] The52nd opened #1247 "Can't seem to download the code folders"
Code button not working

[2022-06-12 14:22] bolshoytoster commented on #1247
@The52nd [here's a direct link to the most recent zip if you want: https://github.com/HashLips/hashlips_art_engine/archive/refs/heads/main.zip](https://github.com/HashLips/hashlips_art_engine/archive/refs/heads/main.zip)

Or if that doesn't work, you could try [this: https://codeload.github.com/HashLips/hashlips_art_engine/zip/refs/heads/main](https://codeload.github.com/HashLips/hashlips_art_engi

[2022-06-12 14:44] Omegacris commented on #1233
Hi all,

Similar to the cmd `npm run rarity > rarity.log 2>&1` what is the cmd to export into a file what are the Top 10 most rarest generated items (images) from the entire generated collection ?
Basically I'd like to have generated a Top 10 or 100 List showing the **Name** of the generated image and what **Traits** it contains (Background, Eyes, Mouth) types. If not Top # then the entire generat

[2022-06-12 15:02] Omegacris commented on #1233
BTW I tried to test this function as you wrote it, and is not exporting anything

[code]

[2022-06-12 15:05] bolshoytoster commented on #1233
@Omegacris

Make sure you save `utils/rarity.js`.

[2022-06-12 19:01] Omegacris commented on #1233
@bolshoytoster
Thank you for your reply.
I made sure I saved the `utils/rarity.js` file after adding that code function, and actually it creates the "rarity.json" file but there is nothing inside but only `[ ]` as in the attached screenshot below. Any idea why ? :(
![image](https://user-images.githubusercontent.com/103084012/173249095-8c4dccf3-b8af-41ec-867b-7bcef2acf784.png)

What it should look

[2022-06-12 19:27] bolshoytoster commented on #1233
@Omegacris I get the same thing, probably should've tested the code before posting it.

The issue is because hashlips used an array where an object would've been more appropriate; it would probably require a rework to fix this (I can't be bothered).

---

Besides, it doesn't affect your original issue, but that would also require effort so I therefore can't be bothered.

[2022-06-12 21:20] Phall3 opened #1248 "Cant figure out how to update the Uri from Pinata."
I updated the Uri in config from my CID. After I save and enter the command "node utils/updateBaseUri.js" I get this error:

  throw err;
  ^

Error: Cannot find module '/Users/patrickhall/Desktop/Master Class/hashlips_art_engine-1.1.2_patch_v6/utils/updateBaseUri.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:902:15)
    at Function.Module._load (internal/modules/cjs/

[2022-06-12 21:23] bolshoytoster commented on #1248
@Phall3 `utils/updateBaseUri.js` is now `utils/update_info.js`.

[2022-06-12 21:25] Phall3 commented on #1248
You are awesome

[2022-06-13 10:58] mednologic commented on #480
i get the same :( i cant solve it

[2022-06-13 14:43] bolshoytoster commented on #480
@mednologic can you paste your error here please? You're probably just in the wrong folder.

[2022-06-13 18:41] rwsbrasil opened #1249 "After creating the nfts can I delete the cloud ?"
Hi, after creating the entire collection with 10k images, I have 10k images and the metadata files. At this point I upload everything to a cloud then I create the nfts. After the nfts are created and are in the opensea collection or wallet, can I delete them from the cloud? thank you

[2022-06-13 21:31] Jumpman329 commented on #1188
Hey, just in case you didn't see my last email: I'm further on in the
minting process now. I've just uploaded to testnet, however the metadata
has not been transferred over properly. The traits don't match the image. I
was told to reupload the metadata, however it didn't work. I then checked
the names of the traits and attributes to make sure I didn't
misspell anything. That didn't work either. I

[2022-06-14 00:22] Rr00012 opened #1250 "npm install not working"
I downloaded the zip file and node.js
however when I put npm install in command it does not work
it says
'npm' is not recognized as an internal or external command,
operable program or batch file.

[2022-06-14 03:11] illusionCode4 opened #1251 "npm install error please help me!!!!!"
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path E:\hashlips_art_engine\node_modules\canvas
npm ERR! command fai

[2022-06-14 06:20] bolshoytoster commented on #1250
@Rr00012 you need to install `npm`.

Can you tun `node -v` and paste the output here please.

[2022-06-14 06:25] bolshoytoster commented on #1251
@illusionCode4 since the server gave `ECONNRESET`, it's probably just a temporary connection error, you should try running `npm install` again.

[2022-06-14 07:25] illusionCode4 commented on #1251
thank you,I reinstalled the dependency and it works

[2022-06-14 15:23] rithunandc opened #1252 "Remove certain trait type from meta data"
Hi   how is it possible in order to use a certain layer to generate the images , but it is should be removed from " trait_type" in the meta data of all json output.

[2022-06-14 20:26] memolguin commented on #1245
I have the same problem, any solution yet?

[2022-06-14 20:49] Rr00012 commented on #1250
'node' is not recognized as an internal or external command,
operable program or batch file.
It's weird cause I installed node.js

[2022-06-14 20:50] bolshoytoster commented on #1250
@Rr00012 please run the node installer again.

[2022-06-14 21:08] Rr00012 commented on #1250
C:\Users\ROSA\Downloads\hashlips_art_engine-1.1.2_patch_v6>node -v
v18.3.0

C:\Users\ROSA\Downloads\hashlips_art_engine-1.1.2_patch_v6>npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\ROSA\Downloads\hashlips_art_engine-1.1.2_patch_v6/package.json
npm ERR! errno -4058
npm ERR!

[2022-06-14 21:11] bolshoytoster commented on #1250
@Rr00012 you're in the wrong folder, run `Get-ChildItem -Directory` to get the name then run `cd ` + the name to change into it.

[2022-06-14 21:15] Rr00012 commented on #1250
C:\Users\ROSA\Downloads\hashlips_art_engine-1.1.2_patch_v6\hashlips_art_engine-1.1.2_patch_v6>npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WAR

[2022-06-14 21:17] bolshoytoster commented on #1250
@Rr00012
[code]

[2022-06-14 21:26] Rr00012 commented on #1250
C:\Users\ROSA\Downloads\hashlips_art_engine-1.1.2_patch_v6 (1)\hashlips_art_engine-1.1.2_patch_v6>npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm

[2022-06-14 21:27] bolshoytoster commented on #1250
@Rr00012
[code]

[2022-06-14 21:50] memolguin commented on #1245
I solved it, I have a file in Photoshop where I open all the images before generating the random images to see if there is a problem with the overlapping or something like that so I upload all the images to Photoshop and then exported all the layer to file and those images were the ones I put on the folders of the visual studio file. and Voila!

[2022-06-14 21:55] Rr00012 commented on #1250
C:\Users\ROSA\Downloads\hashlips_art_engine-1.1.2_patch_v6 (1)\hashlips_art_engine-1.1.2_patch_v6>npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm

[2022-06-14 22:05] bolshoytoster commented on #1250
@Rr00012 could you try downgrading your node.js?

[2022-06-14 22:38] Rr00012 commented on #1250
Downgrading worked thank you

[2022-06-15 09:10] tahaimran commented on #1245
Yup, you have  to convert 64 bit files to smaller

[2022-06-15 09:10] #1245 closed, assigned to nobody

[2022-06-15 17:34] massimo-leon opened #1253 "hashlips art engine v1.0.0 "npm install yarn" ERR!"
When I code "npm install yarn" several errors show:

PS C:\Users\hashlips_art_engine-1.0.0_update> npm install yarn
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...

[2022-06-15 17:41] bolshoytoster commented on #1253
@massimo-leon you need elevated permissions to install yarn.

You don't need yarn though, you can just run `npm install` to install the dependencies.

[2022-06-15 17:43] massimo-leon commented on #1253
@bolshoytoster  I tried npm install but the same errors are showing:

npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code EPERM
npm

[2022-06-15 17:45] bolshoytoster commented on #1253
@massimo-leon you'll need to either give yourself permissions to `C:\Users\hashlips_art_engine-1.0.0_update` or run powershell as admin.

[2022-06-15 17:49] massimo-leon commented on #1253
thank you for that info. how do I give myself permission?

[2022-06-15 17:51] massimo-leon commented on #1253
@bolshoytoster  I'm running windows as an administrator currently

[2022-06-15 17:55] bolshoytoster commented on #1253
@massimo-leon

I don't know about windows.

That's probably the issue, you extracted the project as admin but you're probably running powershell as a normal user. You should probably not run your whole system with elevated priveledges, it's quite a big security risk.

Just run powershell as admin.

[2022-06-15 17:57] massimo-leon commented on #1253
@bolshoytoster  ok thank you. Here's what it says on powershell:

PS C:\WINDOWS\system32> npm install yarn

added 1 package, and audited 2 packages in 643ms

found 0 vulnerabilities
PS C:\WINDOWS\system32>

[2022-06-15 17:58] bolshoytoster commented on #1253
@massimo-leon run `cd C:\Users\hashlips_art_engine-1.0.0_update` to get to the project directory then you can run `npm` or `yarn` `install`.

[2022-06-15 18:02] massimo-leon commented on #1253
ok. on Visual Studio Code I entered "yarn install". I'm not sure how to fix the error:

yarn : File C:\Users\David
Grappe\AppData\Roaming\npm\yarn.ps1 cannot be
loaded because running scripts is disabled on this
system. For more information, see
about_Execution_Policies at
https:/go.microsoft.com/fwlink/?LinkID=135170.
At line:1 char:1
+ yarn install
+ ~~~~
    + CategoryInfo          : SecurityEr

[2022-06-15 18:03] bolshoytoster commented on #1253
@massimo-leon this is another issue caused by logging in as admin, run `Set-ExecutionPolicy Unrestricted`.

[2022-06-15 18:08] massimo-leon commented on #1253
Ok thank you. Here's what it says: Do I say yes or no to the execution policy?

Execution Policy Change
The execution policy helps protect you from scripts that you do not trust. Changing the execution policy might expose
you to the security risks described in the about_Execution_Policies help topic at
https:/go.microsoft.com/fwlink/?LinkID=135170. Do you want to change the execution policy?
[Y] Y

[2022-06-15 18:10] bolshoytoster commented on #1253
@massimo-leon yes.

[2022-06-15 18:12] massimo-leon commented on #1253
I said yes, but visual studio code stills says same errors:

npm install yarn
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code E

[2022-06-15 18:17] bolshoytoster commented on #1253
@massimo-leon are you still on the admin powershell?

[2022-06-15 18:19] massimo-leon commented on #1253
I have the admin powershell open, but I'm also using visual studio code
I'm following the instructions from this video: https://www.youtube.com/watch?v=igRayexyc6Q
Unfortunately, w little success

[2022-06-15 18:23] bolshoytoster commented on #1253
@massimo-leon the easiest thing would probably be to just add permissions to the project folder, I think `cacls C:\Users\hashlips_art_engine-1.0.0_update /g everyone:f` might do it.

[2022-06-15 18:25] massimo-leon commented on #1253
I added the permission in powershell. Now should I enter "npm install yarn"?

[2022-06-15 18:28] massimo-leon commented on #1253
I entered "npm install yarn", the following errors show:

npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path C:\Us

[2022-06-15 18:30] bolshoytoster commented on #1253
@massimo-leon you'll probably need to downgrade node.js

[2022-06-15 18:32] massimo-leon commented on #1253
alright. thank you. how do I do that?
I tried downloading node v14.17.6 but it wouldn't let me.
do I uninstall v18, then try again?

[2022-06-15 18:35] bolshoytoster commented on #1253
@massimo-leon

Yes

[2022-06-15 18:38] massimo-leon commented on #1253
I installed v14.17.6. Here's what it says on powershell after "npm install yarn":

npm : The term 'npm' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ npm install yarn
+ ~~~
    + CategoryInfo          : ObjectNotFound: (npm:String) []

[2022-06-15 18:41] bolshoytoster commented on #1253
@massimo-leon try running the installer again or starting a new powershell.

[2022-06-15 18:44] Jumpman329 commented on #1188
Hey, just in case you didn't see my last few emails: I'm further on in the
minting process now. I've just uploaded to testnet, however the
metadata has not
been transferred over properly. The traits don't match the image. I was
told to reupload the metadata, however it didn't work. I then checked the
names of the traits and attributes to make sure I didn't misspell anything.
That didn't work eithe

[2022-06-15 19:18] massimo-leon commented on #1253
ok. I think we're getting close!
here's what it says:

node-pre-gyp ERR! install response status 404 Not Found on https://github.com/Automattic/node-canvas/releases/download/v2.8.0/canvas-v2.8.0-node-v83-win32-unknown-ia32.tar.gz
node-pre-gyp WARN Pre-built binaries not installable for canvas@2.8.0 and node@14.17.6 (node-v83 ABI, unknown) (falling back to source compile with node-gyp)
node-pre-gyp

[2022-06-15 19:30] massimo-leon commented on #1253
I followed the 2 command prompts at the beginning w the following result:

PS C:\WINDOWS\system32> :\Users\hashlips_art_engine-1.0.0_update\node_modules\yarn

At line:2 char:43
+ :; (node ./preinstall.js > /dev/null 2>&1 || true)
+                                           ~~
The token '||' is not a valid statement separator in this version.
    + CategoryInfo          : ParserError: (:) [], Paren

[2022-06-15 19:42] coeuscrypto opened #1254 "Rarity only seems to be generated for the last Layer Config..."
I have an NFT Collection generated (5,000), but there are roughly 10 different layer configurations. The last layer config generates a single NFT with all its attributes at #100 (I have guaranteed the appearance of the final NFT).

But when I run rarity tools, it shows me the rarity only for the Attributes present in the final layerConfiguration, (i.e. I have only one background say its Red#100.pn

[2022-06-15 19:43] bolshoytoster commented on #1253
@massimo-leon looks like you installed the 32 bit version of node, canvas doesn't support 32 bit node, could you uninstall node and [reinstall the same version but 64 bit](https://nodejs.org/download/release/v14.17.6/node-v14.17.6-x64.msi).

[2022-06-15 19:46] massimo-leon commented on #1253
@bolshoytoster sure! thanks for the continued help btw!

[2022-06-15 19:46] coeuscrypto commented on #1254
Yes, if I add more backgrounds to the last collection like Blue#0.png, Yellow#0.png then it will show me their rarity across all the layer configs.

So this would be a bug, it should not only need the keys from the final collection; just unsure how to fix it!

[2022-06-15 19:51] massimo-leon commented on #1253
@bolshoytoster  I installed the 64 bit

Here's what it says:
npm : The term 'npm' is not
recognized as the name of a
cmdlet, function, script file, or
operable program. Check the
spelling of the name, or if a
path was included, verify that
the path is correct and try again.
At line:1 char:1
+ npm install yarn
+ ~~~
    + CategoryInfo          : Obj
   ectNotFound: (npm:String) [],
   CommandNotFou

[2022-06-15 19:52] bolshoytoster commented on #1253
@massimo-leon can try you running the installer again

[2022-06-15 19:57] massimo-leon commented on #1253
I ran the visual studio code and it says:

PS C:\Users\hashlips_art_engine-1.0.0_update> node --version
node : The term 'node' is not
recognized as the name of a
cmdlet, function, script file, or
operable program. Check the
spelling of the name, or if a
path was included, verify that
the path is correct and try again.
At line:1 char:1
+ node --version
+ ~~~~
    + CategoryInfo          : Obj
   ec

[2022-06-15 20:05] massimo-leon commented on #1253
which installer please?

[2022-06-15 20:06] bolshoytoster commented on #1253
@massimo-leon the node.js installer.

[2022-06-15 20:11] massimo-leon commented on #1253
@bolshoytoster  I ran it normally and as an admin

[2022-06-15 20:12] massimo-leon commented on #1253
alright! now it says this on VSC:

[canvas] Success: "C:\Users\hashlips_art_engine-1.0.0_update\node_modules\canvas\build\Release\canvas.node" is installed via remote
npm WARN hashlips_art_engine@1.0.0 No repository field.

+ yarn@1.22.19
added 62 packages from 29 contributors, updated 1 package and audited 63 packages in 5.342s

5 packages are looking for funding
  run `npm fund` for details

fou

[2022-06-15 20:16] bolshoytoster commented on #1253
@massimo-leon good, everything is installed.

[2022-06-15 20:17] massimo-leon commented on #1253
i entered "yarn add all" it says this:

yarn add v1.22.19
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistencies caused by unsynchronized lock files. To clear this warning, remove package-lock.json.
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linkin

[2022-06-15 20:20] massimo-leon commented on #1253
@bolshoytoster I think this is bad

"error An unexpected error occurred: "EPERM: operation not permitted, open 'C:\Users\hashlips_art_engine-1.0.0_update\yarn.lock'".

[2022-06-15 20:20] bolshoytoster commented on #1253
@massimo-leon that can be ignored, you've already installed the dependencies with `npm install`. I assume `yarn add all` is just for people that prefer yarn over npm.

[2022-06-15 20:36] massimo-leon commented on #1253
I'm struggling to generate the nft collection. it says:

[canvas] Success: "C:\Users\hashlips_art_engine-1.0.0_update\node_modules\canvas\build\Release\canvas.node" is installed via remote
npm WARN hashlips_art_engine@1.0.0 No repository field.

+ yarn@1.22.19
added 62 packages from 29 contributors, updated 1 package and audited 63 packages in 5.342s

5 packages are looking for funding
  run `npm

[2022-06-15 20:48] bolshoytoster commented on #1253
@massimo-leon this is probably also caused by running your OS as admin. Try building with both user and admin powershells.

[2022-06-16 08:43] rendisyahrul66 opened #1255 "NPM INSTALL ERROR"
I have problem when i did npm install, i dont know why i follow every instruction in haslips youtube and also i downgrade node js still same result, please help me
![npm error](https://user-images.githubusercontent.com/107614098/174030603-68044631-3541-4287-adf0-012b44a699de.jpeg)

[2022-06-16 09:39] bolshoytoster commented on #1255
@rendisyahrul66 you are in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-06-16 09:54] rendisyahrul66 commented on #1255
whats the name?package.json or my folder name?

[2022-06-16 09:59] rendisyahrul66 commented on #1255
@bolshoytoster

[2022-06-16 10:03] bolshoytoster commented on #1255
@rendisyahrul66 the name of the folder you get from running `Get-ChildItem -Directory`.

[2022-06-16 10:30] rendisyahrul66 commented on #1255
I have this problem know
![WhatsApp Image 2022-06-16 at 5 29 22 PM](https://user-images.githubusercontent.com/107614098/174051474-42bf980e-ce37-4fe1-9c92-c237eabfdd1e.jpeg)

[2022-06-16 12:15] valar964 opened #1256 "NPM INSTALL ERROR"
Error: Cannot find module 'C:\hashlips_art_engine-1.1.2_patch_v6/node_modules/sha1'
Require stack:
- C:\hashlips_art_engine-1.1.2_patch_v6\src\main.js
- C:\hashlips_art_engine-1.1.2_patch_v6\index.js
PS C:\hashlips_art_engine-1.1.2_patch_v6> npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN old lockfile
npm WARN old lockfile The pack

[2022-06-16 13:01] valar964 opened #1257 "Node index.js"
PS C:\hashlips_art_engine-1.1.2_patch_v6> node index.js
(node:18952) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
C:\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas\lib\image.js:91
  SetSource.call(img, s

[2022-06-16 14:55] ravisth1991 commented on #415
I'm getting the same error message. Did you get it resolved?

[2022-06-16 15:52] bolshoytoster commented on #1255
@rendisyahrul66 you haven't run `cd`.

[2022-06-16 15:53] bolshoytoster commented on #1256
@valar964 run `npm install`.

[2022-06-16 15:57] bolshoytoster commented on #1257
@valar964 unfortunately, the library we use to load images (canvas) doesn't work if you have non-ascii characters in your path.

Unfortunately, that means you'll have to get rid of the `ı` in the `Ayakkabı` layer name, but you could still re-add it with a find+replace in the `build/json/_metadata.json` file with basically any text editor then running `node utils/update_info.js` to update the indiv

[2022-06-16 16:01] bolshoytoster commented on #415
@ryan5481 this is not an error, it's a warning.

Can you please paste the *full* error here please..

[2022-06-16 17:24] TTibbs commented on #1219
Fixed it the other day, just saw this now and thank you as well

[2022-06-17 09:37] niunainai opened #1258 "npm install err"
c:\Web3\nft_auto\hashlips_art_engine-main>npm install

node-pre-gyp ERR! install request to https://objects.githubusercontent.com/github-production-release-asset-2e65be/948957/1e344480-b956-11eb-9ff5-61b9fa1aeb37?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20220617%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220617T093639Z&X-Amz-Expires=300&X-Amz-Signature=51895c07a2b

[2022-06-17 12:40] denboydoc commented on #1248
After the images and json files created and images loaded to Pinata - Ive got CID
Ok, then I changed config.json line 10 const baseUri = "ipfs://<my pinata CID>";
now I have to update the baseUri and run "npm run update_info"

the output is following:
Updated description for images to ===> Welcome back home
Updated name prefix for images to ===> Panda_life
Updated creators for images to ===> [{"ad

[2022-06-17 13:11] rendisyahrul66 commented on #1255
it works thank you

[2022-06-17 14:49] bolshoytoster commented on #1258
@niunainai it timed out, could you try running `npm install` again.

[2022-06-17 14:58] bolshoytoster commented on #1248
@denboydoc hashlips doesn't set a baseUri for solana, it presumably doesn't need one.

[2022-06-17 15:10] denboydoc commented on #1248
So is it enough just to past my Pinata CID to  const baseUri = "ipfs:/xxxxx/" in config.json file?
How to use Pinata or another ipfs storage for Solana?

[2022-06-17 15:10] denboydoc commented on #1248
@bolshoytoster So is it enough just to past my Pinata CID to const baseUri = "ipfs:/xxxxx/" in config.json file?
 How to use Pinata or another ipfs storage for Solana?

[2022-06-17 15:11] bolshoytoster commented on #1248
@denboydoc I'm not sure if you can use pinata for solana.

[2022-06-17 15:14] denboydoc commented on #1248
@bolshoytoster thank you

[2022-06-17 15:52] pogotka commented on #1255
@rendisyahrul66 could you explain how it started working?

[2022-06-17 15:53] bolshoytoster commented on #1255
@pogotka they probably changed into the right folder.

Can you paste your error(s) here please.

[2022-06-17 15:54] pogotka commented on #1255
@bolshoytoster
nikita@Nikitas-MacBook-Air hashlips_art_engine-1.1.2_patch_v6 % npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
np

[2022-06-17 16:00] bolshoytoster commented on #1255
@pogotka this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-06-17 17:35] massimo-leon commented on #1253
@bolshoytoster  what is the OS please? should I enter the code into both power shells you mean?

[2022-06-17 17:36] bolshoytoster commented on #1253
@massimo-leon

the OS - the Operating System - is your computer.

Yes.

[2022-06-17 17:39] massimo-leon commented on #1253
@bolshoytoster  ok, so I used reg powershell it says:

npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!

npm WARN David Grappe No description
npm WARN David Grappe No repository field.
npm WARN David Grappe No license field.

+ yarn@1.22.19
updated 1 package and audited 1 pa

[2022-06-17 17:40] massimo-leon commented on #1253
then yarn add all:

yarn add v1.22.19
warning package.json: No license field
info No lockfile found.
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistencies caused by unsynchronized lock files. To clear this warning, remove package-lock.json.
warning No license field

[2022-06-17 17:41] bolshoytoster commented on #1253
@massimo-leon you just need to run `node index.js`.

[2022-06-17 17:42] massimo-leon commented on #1253
ok i ran user power shell:
PS C:\Users\David Grappe> node index.js
internal/modules/cjs/loader.js:892
  throw err;
  ^

Error: Cannot find module 'C:\Users\David Grappe\index.js'
←[90m    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:889:15)←[39m
←[90m    at Function.Module._load (internal/modules/cjs/loader.js:745:27)←[39m
←[90m    at Function.executeUserEntryPoint [as runMa

[2022-06-17 17:43] massimo-leon commented on #1253
the same error shows in admin:
PS C:\WINDOWS\system32> node index.js
internal/modules/cjs/loader.js:892
  throw err;
  ^

Error: Cannot find module 'C:\WINDOWS\system32\index.js'
←[90m    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:889:15)←[39m
←[90m    at Function.Module._load (internal/modules/cjs/loader.js:745:27)←[39m
←[90m    at Function.executeUserEntryPoint [as runMa

[2022-06-17 17:45] bolshoytoster commented on #1253
@massimo-leon you have to run `cd C:\Users\hashlips_art_engine-1.0.0_update` then `node index.js`.

[2022-06-17 17:46] massimo-leon commented on #1253
i ran it in VSC too:

PS C:\Users\hashlips_art_engine-1.0.0_update> node index.js
internal/fs/utils.js:314
    throw err;
    ^

Error: EEXIST: file already exists, mkdir 'C:\Users\hashlips_art_engine-1.0.0_update/build'
    at Object.mkdirSync (fs.js:1009:3)
    at buildSetup (C:\Users\hashlips_art_engine-1.0.0_update\src\main.js:28:6)
    at C:\Users\hashlips_art_engine-1.0.0_update\index.js:4:3

[2022-06-17 17:46] massimo-leon commented on #1253
- ok thank you

[2022-06-17 17:48] massimo-leon commented on #1253
so I ran "cd C:\Users\hashlips_art_engine-1.0.0_update then node index.js",
but it still shows error in user PS:

PS C:\Users\hashlips_art_engine-1.0.0_update> node index.js
internal/fs/utils.js:314
    throw err;
    ^

Error: EEXIST: file already exists, mkdir 'C:\Users\hashlips_art_engine-1.0.0_update/build'
←[90m    at Object.mkdirSync (fs.js:1009:3)←[39m
    at buildSetup (C:\Users\hashlips_a

[2022-06-17 17:49] bolshoytoster commented on #1253
@massimo-leon try running it as admin then.

[2022-06-17 17:51] massimo-leon commented on #1253
ok as admin:

PS C:\WINDOWS\system32> cd C:\Users\hashlips_art_engine-1.0.0_update
PS C:\Users\hashlips_art_engine-1.0.0_update> node index.js
Created edition: 1, with DNA: 0,1,5,0,0,2,1
DNA exists!
Created edition: 2, with DNA: 0,0,3,0,0,1,0
Created edition: 3, with DNA: 0,0,0,0,0,1,1
PS C:\Users\hashlips_art_engine-1.0.0_update>

[2022-06-17 17:51] bolshoytoster commented on #1253
@massimo-leon then it works as admin.

[2022-06-17 17:54] massimo-leon commented on #1253
alright now I entered npm install yarn:

PS C:\Users\hashlips_art_engine-1.0.0_update> npm install yarn
npm WARN rm not removing C:\Users\hashlips_art_engine-1.0.0_update\node_modules\.bin\semver.cmd as it wasn't installed by C:\Users\hashlips_art_engine-1.0.0_update\node_modules\semver
npm WARN rm not removing C:\Users\hashlips_art_engine-1.0.0_update\node_modules\.bin\semver as it wasn't install

[2022-06-17 17:55] massimo-leon commented on #1253
@bolshoytoster  should i enter it in VCS or PS?

[2022-06-17 17:56] bolshoytoster commented on #1253
@massimo-leon you do not need yarn. Everything is working.

[2022-06-17 17:56] massimo-leon commented on #1253
@bolshoytoster ok. what do I do now to run the nft generator?

[2022-06-17 17:57] bolshoytoster commented on #1253
@massimo-leon `node index.js`

[2022-06-17 17:58] massimo-leon commented on #1253
here's what it says:

PS C:\Users\hashlips_art_engine-1.0.0_update> node index.js
Created edition: 1, with DNA: 0,1,5,1,0,1,2
Created edition: 2, with DNA: 0,1,2,2,0,2,1
Created edition: 3, with DNA: 0,0,3,1,0,2,2
PS C:\Users\hashlips_art_engine-1.0.0_update>

[2022-06-17 18:00] bolshoytoster commented on #1253
@massimo-leon it's still working.

[2022-06-17 18:05] massimo-leon commented on #1253
@bolshoytoster  it's not generating the pictures. how do add this template to the vcs code?
"C:\Users\David Grappe\Downloads\Bored Ape Yacht Club Template.psd"

[2022-06-17 18:14] bolshoytoster commented on #1253
@massimo-leon

it should be creating the images in `C:\Users\hashlips_art_engine-1.0.0_update\build\images\`, if they're not there you'll probably have to try using a more up to date version of hashlips.

You'll have to split it into seperate files for each image, put them in their own folders in `layers/`, then update `src/config.js` accordingly.

Can you please at least watch a video (like [this

[2022-06-18 04:30] tonyke-bot opened #1259 "Do you have any donation address?"
Want to express my gratefulness.

[2022-06-18 04:30] tonyke-bot opened #1260 "Do you have any donation address?"
Want to express my gratefulness.

[2022-06-18 14:09] SebbeDuck opened #1261 "node index.js"
SyntaxError: Unexpected token ']'
←[90m    at wrapSafe (internal/modules/cjs/loader.js:988:16)←[39m
←[90m    at Module._compile (internal/modules/cjs/loader.js:1036:27)←[39m
←[90m    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1101:10)←[39m
←[90m    at Module.load (internal/modules/cjs/loader.js:937:32)←[39m
←[90m    at Function.Module._load (internal/modules/cjs/loader.js:778

[2022-06-18 14:11] bolshoytoster commented on #1261
@SebbeDuck can you paste the *full* error please, it's probably an issue with your `src/config.js`.

[2022-06-18 14:13] SebbeDuck commented on #1261
This is the full error.

C:\Users\sebbe\hashlips>node index.js
C:\Users\sebbe\hashlips\src\config.js:765
];
^

SyntaxError: Unexpected token ']'
←[90m    at wrapSafe (internal/modules/cjs/loader.js:988:16)←[39m
←[90m    at Module._compile (internal/modules/cjs/loader.js:1036:27)←[39m
←[90m    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1101:10)←[39m
←[90m    at Module.load (in

[2022-06-18 14:14] bolshoytoster commented on #1261
@SebbeDuck can you paste lines 763-767 of your `src\config.js` here please.

[2022-06-18 14:15] SebbeDuck commented on #1261
},
    {
];

const shuffleLayerConfigurations = false;

[2022-06-18 14:17] bolshoytoster commented on #1261
@SebbeDuck could you try removing the `{` ~line 764

[2022-06-18 14:18] SebbeDuck commented on #1261
That was the issue, it works perfectly now, thanks! :)

[2022-06-18 14:30] #1261 closed, assigned to nobody

[2022-06-18 19:45] Abrar-talpur opened #1262 "How can i generate the collection like this? Guide me!"
Trait type: Background
{
trait: 'Cloud',

occurrence: '251 in 5000 editions (5.02 %)'
}
{
trait: 'Fade1',

occurrence: '539 in 5000 editions (10.78 %)'
}
{
trait: 'Fade2',

occurrence: '489 in 5000 editions (9.78 %)'
}
{
trait: 'Fade3',

occurrence: '532 in 5000 editions (10.64 %)'
}
{
trait: 'Green',

occurrence: '576 in 5000 editions (11.52 %)'
}
{
trait: 'Orange',

occurrence: '632 in 5000 edit

[2022-06-18 19:52] bolshoytoster commented on #1262
@Abrar-talpur this repo won't let you generate the exact amounts, but you can set the file names to `Cloud#251.png`/`Fade1#539.png` etc to get those approximate amounts.

[2022-06-18 20:25] rompo33 commented on #1240
@bolshoytoster How can I do this if I want to have a blank outfit and not show the rarity at the same time, I'm attaching a few photos to make it more descriptive..

![a](https://user-images.githubusercontent.com/107773169/174456040-2a514304-0416-400f-bebc-1cbb6b3c98df.png)
![b](https://user-images.githubusercontent.com/107773169/174456042-e375deea-6958-4829-a2c0-5a5cc12d8859.png)

[2022-06-18 22:57] Marlonsawsm commented on #939
I'm having a problem when updating IPFS, it updates the name and removes it to the name on the config.js file

[2022-06-18 23:03] Marlonsawsm commented on #939
NVM.

 Just deleted it from the update_info file.

Leaving this here for future reference.

[2022-06-18 23:36] sean00880 commented on #1078
I'm having the same issue but getting error code 502

[2022-06-19 09:33] bolshoytoster commented on #1078
@sean00880 can you please at least check issues on [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection/issues) and open an issue there if you can't find anything.

[2022-06-19 09:51] Tusardutta opened #1263 "Cannot generate"
TypeError: Cannot read properties of undefined (reading 'edition')
    at C:\Users\91943\Dropbox\PC\Desktop\t folder\hashlips_art_engine-1.1.1_update\src\main.js:307:65
    at Array.find (<anonymous>)
    at saveMetaDataSingleFile (C:\Users\91943\Dropbox\PC\Desktop\t folder\hashlips_art_engine-1.1.1_update\src\main.js:307:31)
    at C:\Users\91943\Dropbox\PC\Desktop\t folder\hashlips_art_engine-1.

[2022-06-19 09:52] bolshoytoster commented on #1263
@Tusardutta can you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) please.

[2022-06-19 09:57] Tusardutta commented on #1263
@bolshoytoster how to use my fork

[2022-06-19 09:58] bolshoytoster commented on #1263
@Tusardutta the fork that I maintain is just a more up to date hashlips. Just use it the same way you use hashlips.

[2022-06-19 11:13] wylim6783 commented on #1263
### npm install error

I'm Windows 10 with nodejs & npm installation. But hit the error after enter npm install. Appreciate if I'd get solution to fix it & continue to move on as it's just the beginning...🙏

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\Pauline&Rueben\Desktop\NFT project\hashl

[2022-06-19 11:16] bolshoytoster commented on #1263
@wylim6783 that's weird, you could try installing `node-pre-gyp` with `npm install node-pre-gyp`. If it gives the same error you could try installing it globally with `npm install -g node-pre-gyp` (you'll need to run it in an admin powershell/cmd).

[2022-06-19 11:17] ghost opened #1264 "npm install error"
I'm using Windows 10 with below installation. But hit error when execute npm install. Appreciate if I would be able to get solution to fixt it so that I can continue to move on as this is just the beginning  😥

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\Pauline&Rueben\Desktop\NFT project\ha

[2022-06-19 11:52] ghost commented on #1263
Sorry, I suposed to drop the new issue from my account but accidentally used other ppl account to ask for help.
Yes, is it ok as shown as below?

PS C:\Users\Pauline&Rueben\Desktop\NFT project\hashlips_art_engine-1.1.2_patch_v6> npm install -g node-pre-gyp
npm WARN deprecated node-pre-gyp@0.17.0: Please upgrade to @mapbox/node-pre-gyp: the non-scoped node-pre-gyp package is deprecated and only the

[2022-06-19 11:55] bolshoytoster commented on #1263
@wylim6783 try running `npm install` again.

[2022-06-19 12:07] ghost commented on #1263
It's same. But I don't know how run as an admin powershell just now then I type npm install -g node-pre-gyp. I thought it should be fine but after npm install, it come back error again. Could you show me how to run as admin powershell?

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\Pauline&Rue

[2022-06-19 12:12] bolshoytoster commented on #1263
@wylim6783 could you try running `New-Item -Path C:\Users@mapbox -ItemType SymbolicLink -Value C:\Users\Pauline&Rueben\AppData\Roaming\npm\node_modules` to create a symlink to maybe make it work.

You'll probably have to run this in an admin powershell (when running, right click -> run as administrator).

[2022-06-19 12:21] ghost commented on #1263
I haven't run it yet as I don't understand on which screen to right click. Btw, could you please head over to issue #1264? That's mine....Sorry

[2022-06-19 12:25] bolshoytoster commented on #1264
@wylim6783

https://www.howtogeek.com/742916/how-to-open-windows-powershell-as-an-admin-in-windows-10/

[2022-06-19 12:41] ghost commented on #1264
I try to attach printscreen after I hit run as administrator in PowerShell but seems I can't find the attach file icon. But result shown as below:

PS C:\Users\Pauline&Rueben\Desktop\NFT project\hashlips_art_engine-1.1.2_patch_v6> New-Item -Path C:\Users@mapbox -ItemType SymbolicLink -Value C:\Users\Pauline&Rueben\AppData\Roaming\npm\node_modules
At line:1 char:78
+ ... \Users@mapbox -ItemType Sym

[2022-06-19 12:49] bolshoytoster commented on #1264
@wylim6783 try running `New-Item -Path C:\Users@mapbox -ItemType SymbolicLink -Value "C:\Users\Pauline&Rueben\AppData\Roaming\npm\node_modules"` then.

[2022-06-19 12:55] ghost commented on #1264
Before I run as you adviced, I head over to PowerShell run as administrator again...it's still the same

PS C:\Users\Pauline&Rueben\Desktop\NFT project\hashlips_art_engine-1.1.2_patch_v6> New-Item -Path C:\Users@mapbox -ItemType SymbolicLink -Value "C:\Users\Pauline&Rueben\AppData\Roaming\npm\node_modules"
New-Item : Administrator privilege required for this operation.
At line:1 char:1
+ New-Item

[2022-06-19 12:58] bolshoytoster commented on #1264
@wylim6783 that's not an admin powershell.

[2022-06-19 13:02] ghost commented on #1264
I thought I followed the link you shared just now should activate as administrator.

[2022-06-19 13:22] ghost commented on #1264
Is it correct that I should change VS code compatibility to "run as administrator" at the properties? I tried to change it & result shown as below:

PS C:\Users\Pauline&Rueben\Desktop\NFT project\hashlips_art_engine-1.1.2_patch_v6> New-Item -Path C:\Users@mapbox -ItemType SymbolicLink -Value "C:\Users\Pauline&Rueben\AppData\Roaming\npm\node_modules"
New-Item : NewItemIOError
At line:1 char:1
+ New

[2022-06-19 13:32] bolshoytoster commented on #1264
@wylim6783 can you try running `npm install` again now.

[2022-06-19 13:34] ghost commented on #1264
Error still there...

 Session contents restored from 6/19/2022 at 9:21:03 PM

Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\Pauline&Rueben\Desktop\NFT project\hashlips_art_engine-1.1.2_patch_v6> npm install

The system cannot find the path specified.
internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: C

[2022-06-19 14:10] Acexxp opened #1265 "npm run generate error"
I don't understand why it is not working!! help me

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

(node:16356) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:f

[2022-06-19 14:14] bolshoytoster commented on #1265
@Acexxp it can't find `layers/BACKGROUND`, make sure your folder names match the layer names in your `layersOrder`s exactly (case-sensitive as well).

[2022-06-19 14:22] Acexxp commented on #1265
it was the dashes "-"  hhhhh xp btw thx mate

[2022-06-19 16:21] tahaimran commented on #652
bros do you found any solution

[2022-06-19 16:36] bolshoytoster commented on #652
@tahaimran [my fork](https://github.com/bolshoytoster/hashlips_art_engine) does this by default.

[2022-06-19 16:37] tahaimran commented on #652
bro but would you let me know how this is solved

[2022-06-19 16:38] bolshoytoster commented on #652
@tahaimran use my fork.

[2022-06-19 16:40] tahaimran commented on #652
I downloaded it but would you let me know exact working

[2022-06-19 16:42] bolshoytoster commented on #652
@tahaimran do you mean how does my fork work or how does it help with this issue?

[2022-06-19 16:42] tahaimran commented on #652
how does it help with this issue

[2022-06-19 16:45] bolshoytoster commented on #652
@tahaimran well, the main repo (hashlips) deletes `build/` if it exists; my fork doesn't do that.

My fork reads the existing `build/json/_metadata.json` to check which editions already exist so they aren't overwritten.

[2022-06-19 16:46] tahaimran commented on #652
So it save time or take same time

[2022-06-19 16:47] bolshoytoster commented on #652
@tahaimran it saves time, and my fork also has some performance optimisations as well.

[2022-06-19 16:47] tahaimran commented on #652
That's great

[2022-06-19 19:36] ermiasabera commented on #251
Good discussion,
what it looks like in multiple traits more than 2.

Example from
Blue eye
Brown eye
Black eye
And I want 100 NFTs with other traits.

What if I want the maximum of 15% occurrence of blue eyes. And the other traits normal random. What would be the value of others ?

Thank you

[2022-06-19 19:42] bolshoytoster commented on #251
@ermiasabera you could have blue eyes as `#15` then have the rest be `85 / number_of_other_traits`.

[2022-06-19 19:46] ermiasabera commented on #251
Thanks for your answer,
I use hashlips no code tool/application, not the code. I will try to use this method there by changing # to $. Hopefully it works.

[2022-06-19 20:03] bolshoytoster commented on #251
@ermiasabera

I was talking about the `#number` in the image names, using a `$` won't work.

[2022-06-19 20:26] FishDudes opened #1266 "Problem with coding a Discord Bot"
I have been trying to code a discord bot for a while now and every tutorial I follow has the same outcome on my mac which is this...
Error: Cannot find module '/Users/..../index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal

[2022-06-19 20:31] bolshoytoster commented on #1266
@FishDudeYT you're in the wrong folder then. You need to be in the root of the hashlips' project.

[2022-06-19 21:53] FishDudes commented on #1266
@bolshoytoster I don’t know what folder to put it in. I have put it in my user folder but it still does not work. I have an index.js file but it is empty. Maybe I have to put something inside of it?

[2022-06-19 21:54] bolshoytoster commented on #1266
@FishDudeYT what are you trying to do?

[2022-06-19 21:55] FishDudes commented on #1266
I am trying to code a Discord Bot.

[2022-06-19 21:56] FishDudes commented on #1266
I am following this tutorial... https://www.digitalocean.com/community/tutorials/how-to-build-a-discord-bot-with-node-js

[2022-06-19 21:56] bolshoytoster commented on #1266
@FishDudeYT what are you trying to do with hashlips?

[2022-06-19 21:56] FishDudes commented on #1266
What do you mean?

[2022-06-19 21:58] bolshoytoster commented on #1266
@FishDudeYT are you trying to generate images from the discord bot?

[2022-06-19 21:59] FishDudes commented on #1266
No I am just trying to code it to to respond to commands

[2022-06-19 22:01] bolshoytoster commented on #1266
@FishDudeYT I think your issue is in the wrong place, what are you running that causes the issue you originally pasted?

[2022-06-19 22:02] FishDudes commented on #1266
Terminal

[2022-06-19 22:03] bolshoytoster commented on #1266
@FishDudeYT what command did you run?

[2022-06-19 22:06] FishDudes commented on #1266
All of the commands listed in the website I posted earlier following the instructions as thoroughly as possible.

[2022-06-19 22:08] bolshoytoster commented on #1266
@FishDudeYT but which command gave you that error?

[2022-06-19 22:10] FishDudes commented on #1266
node index.js

[2022-06-19 22:25] FishDudes commented on #1266
@bolshoytoster

[2022-06-19 22:25] bolshoytoster commented on #1266
@FishDudeYT you should either put your code in `index.js` or substitute `index.js` with whatever file you didi put you code in.

[2022-06-19 22:34] FishDudes commented on #1266
@bolshoytoster I did what you said and it gave me another different error...
Error: Cannot find module '/Users/...../bot/index.js'. Please verify that the package.json has a valid "main" entry
    at tryPackage (node:internal/modules/cjs/loader:353:19)
    at Function.Module._findPath (node:internal/modules/cjs/loader:566:18)
    at resolveMainPath (node:internal/modules/run_main:19:25)
    at Fun

[2022-06-19 22:35] bolshoytoster commented on #1266
@FishDudeYT what did you run to get this error and could you paste the output of running `ls` please.

[2022-06-19 22:37] FishDudes commented on #1266
node 7sf-bot
(This is the folder I used for the bot)

[2022-06-19 22:50] bolshoytoster commented on #1266
@FishDudeYT could you paste the output of `grep -A1B1 index.js 7sf-bot`

[2022-06-19 22:52] FishDudes commented on #1266
grep: Invalid argument

[2022-06-19 22:55] bolshoytoster commented on #1266
@FishDudeYT could you paste the contents of `7sf-bot` here please.

[2022-06-19 23:03] FishDudes commented on #1266
@bolshoytoster Like the file? Or what do you mean?

[2022-06-19 23:04] bolshoytoster commented on #1266
@FishDudeYT the file.

[2022-06-19 23:12] FishDudes commented on #1266
@bolshoytoster It will not let me post the file because it is not supported.

[2022-06-19 23:13] bolshoytoster commented on #1266
@FishDudeYT you can just copy/paste the contents

[2022-06-19 23:13] FishDudes commented on #1266
Ok

[2022-06-19 23:18] FishDudes commented on #1266
{
    "BOT_TOKEN":
""
}
______________________
{
  "name": "7sf",
  "version": "1.0.0",
  "lockfileVersion": 2,
  "requires": true,
  "packages": {
    "": {
      "name": "7sf",
      "version": "1.0.0",
      "license": "ISC",
      "dependencies": {
        "discord.js": "^13.8.0"
      }
    },
    "node_modules/@discordjs/builders": {
      "version": "0.14.0",
      "resolved": "https://regi

[2022-06-19 23:23] bolshoytoster commented on #1266
@FishDudeYT I think the issue is that you're trying to execute a folder.

Either move your javascript code into `index.js` or run `node 7sf-bot/THE_FILE_WITH_YOUR_CODE.js`.

If neither work, could you please paste the output of the command `ls`.

[2022-06-19 23:36] FishDudes commented on #1266
@bolshoytoster So would I just move all of the documents into the empty folder called index.js? And when you said "THE FILE WITH YOUR CODE" are you talking about the file index.js when it is full of all of the other code inside of it? So would it just be "node 7sf-bot/index.js"?

[2022-06-19 23:40] bolshoytoster commented on #1266
@FishDudeYT `index.js` is not a folder, it's just a regular file. I suggested you put the
[code]

in `index.js` (a file). Then you can run it with either `node 7sf-bot` or `node 7sf-bot/index.js`.

[2022-06-19 23:47] FishDudes commented on #1266
I think I found my issue. In the instructions it said create a *file* called index.js not a folder and that is why it is confused I am pretty sure.

[2022-06-19 23:49] FishDudes commented on #1266
@bolshoytoster Do I have to get rid of the file that this,
const Discord = require("discord.js");
const config = require("./config.json");
...
const client = new Discord.Client({intents: ["GUILDS", "GUILD_MESSAGES"]});

client.login(config.BOT_TOKEN);
Originally came in and keep the index.js file or should I just keep both?

[2022-06-19 23:51] FishDudes commented on #1266
Because that file is called discord.js. I am wondering if I should get rid of that and replace it with index.js

[2022-06-19 23:51] bolshoytoster commented on #1266
@FishDudeYT

It doesn't matter.

[2022-06-19 23:57] FishDudes commented on #1266
@bolshoytoster I put in the code you told me to and it still did not work. When I clicked enter no outcome happened it just moved onto the next line. You suggested I should us the command "ls". Should I use that command by itself or with something?

[2022-06-20 00:00] bolshoytoster commented on #1266
@FishDudeYT you need to save the file (index.js) then run `node 7sf-bot/index.js`; I need to sleep.

[2022-06-20 00:07] FishDudes commented on #1266
Ok thanks for you help today hopefully we can chat again tomorrow. Here is the result of that command with the file saved...
SyntaxError: Unexpected token 'const'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1033:15)
    at Module._compile (node:internal/modules/cjs/loader:1069:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/l

[2022-06-20 01:38] ghost commented on #1264
Could you please advise if any solution? Appreciate that

[2022-06-20 07:14] bolshoytoster commented on #1266
@FishDudeYT could you make sure you paste the full error, there should be an extra bit above that.

[2022-06-20 07:23] bolshoytoster commented on #1264
@wylim6783 I don't know, it looks more like an issue either node, npm or node-pre-gyp; you should try openning an issue in [node-pre-gyp](https://github.com/mapbox/node-pre-gyp/issues/new)'s repo.

[2022-06-20 08:23] ankinobear opened #1267 "How can I use this code achieve orderly merge images?"

[2022-06-20 09:42] Tusardutta opened #1268 "ipfs upload problem"
SyntaxError: Unexpected identifier
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1033:15)
    at Module._compile (node:internal/modules/cjs/loader:1069:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1159:10)
    at Module.load (node:internal/modules/cjs/loader:981:32)
    at Function.Module._load (node:internal/modules/

[2022-06-20 10:24] bolshoytoster commented on #1268
@Tusardutta can you paste tte full error please.

[2022-06-20 12:07] ghost commented on #1264
I think below yarn install triggered me that I have to enable PowerShell execution policy. After changed it, seem everything realized... 😀. Hopefully by changing the policy won't risk my pc. Anyway for sharing the outcome.

PS C:\Users\Pauline&Rueben\Desktop\NFT project\hashlips_art_engine-1.1.2_patch_v6> yarn install
this system. For more information, see about_Execution_Policies at https:/go.mic

[2022-06-20 14:16] FishDudes commented on #1266
Yes

[2022-06-20 14:34] FishDudes commented on #1266
.......-MBP:~ .......$ node 7sf-bot/index.js
/Users/......./7sf-bot/index.js:4
const client = new Discord.Client({intents: ["GUILDS", "GUILD_MESSAGES"]});
^^^^^

SyntaxError: Unexpected token 'const'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1033:15)
    at Module._compile (node:internal/modules/cjs/loader:1069:27)
    at Object.Module._extens

[2022-06-20 14:35] FishDudes commented on #1266
@bolshoytoster

[2022-06-20 14:40] bolshoytoster commented on #1266
@FishDudeYT don't literally add the `...`, I assume it's just meant to show there's code above.

[2022-06-20 14:42] FishDudes commented on #1266
@bolshoytoster The ... is my name.

[2022-06-20 14:43] bolshoytoster commented on #1266
@FishDudeYT no, in the code.
[code]

[2022-06-20 14:44] FishDudeYT commented on #1266
@bolshoytoster Yeah in the code whenever there is ... that is where my name is.

[2022-06-20 14:44] FishDudes commented on #1266
OH ok

[2022-06-20 14:47] FishDudes commented on #1266
@bolshoytoster When I switched that it gave me a completely new error...
.......-MBP:~ ......$ node 7sf-bot/index.js
/Users/....../7sf-bot/node_modules/discord.js/src/client/Client.js:237
    if (!token || typeof token !== 'string') throw new Error('TOKEN_INVALID');
                                                   ^

Error [TOKEN_INVALID]: An invalid token was provided.
    at Client.login (/Use

[2022-06-20 14:47] FishDudes commented on #1266
I assume I should just renew the discord bot code.

[2022-06-20 14:48] FishDudes commented on #1266
Or the Token

[2022-06-20 14:50] bolshoytoster commented on #1266
@FishDudeYT

You could try doing that.

[2022-06-20 14:59] FishDudes commented on #1266
I switched that and when I do the "node 7sf-bot/index.js" command it has no outcome. I saved the file as well.

[2022-06-20 15:01] bolshoytoster commented on #1266
@FishDudeYT if you're only on step 2 of that tutorial it shouldn't do anything just yet, just log in; so I assume it's working as it's meant to.

[2022-06-20 15:06] FishDudes commented on #1266
@bolshoytoster Ok but how come when I type in "node index.js" it still gives me the same error? And when I type in the command you sent me it doesn’t work?

[2022-06-20 15:07] bolshoytoster commented on #1266
@FishDudeYT what do you mean by "it doesn’t work"?

If it gives an error could you paste it here please

[2022-06-20 15:14] FishDudes commented on #1266
@bolshoytoster When I type in the code you gave me it starts listing. This is what it looks like...
[.......-MBP:~ .......$ node 7sf-bot/index.js
-And then it has me type down here and when I type anything and click enter again nothing happens it just moves to the next line.

[2022-06-20 15:14] bolshoytoster commented on #1266
@FishDudeYT it's working.

[2022-06-20 15:21] FishDudes commented on #1266
@bolshoytoster In the tutorial on the second step it shows that the bot is working. When I checked on Discord the bot is still offline and I have finished the second step. And I am pretty sure it will say "Connected to 7sf-bot" or something like that.

[2022-06-20 15:23] bolshoytoster commented on #1266
@FishDudeYT try to do the next steps, the article might just be a bit out of date with that.

[2022-06-20 15:24] FishDudes commented on #1266
@bolshoytoster So do you recommend I follow a different article?

[2022-06-20 15:25] FishDudes commented on #1266
The next steps are giving the bot commands. And if it is offline there is no way to test that.

[2022-06-20 15:26] bolshoytoster commented on #1266
@FishDudeYT just try to continue and ignore that it's offline.

[2022-06-20 15:32] FishDudes commented on #1266
@bolshoytoster Ok thank you for the help!

[2022-06-20 16:55] FishDudes opened #1269 "Problem with select Redirect URL"
When I click the Redirect URL button nothing shows up. Does anyone know how I can fix this?
<img width="818" alt="Screen Shot 2022-06-20 at 11 45 52 AM" src="https://user-images.githubusercontent.com/107809921/174648755-6455f5d4-46d3-459b-878f-5c80bfd5574f.png">

[2022-06-20 17:12] #1269 closed, assigned to nobody

[2022-06-20 18:45] FishDudes opened #1270 "Question"
What code should I use to make my discord bot respond to a command with a message for discord.js?

[2022-06-20 19:01] cool4556 opened #1271 "node index.js not working"
PS C:\Users\hudson\Desktop\hashlips_art_engine-main\hashlips_art_engine-main\src> node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\hudson\Desktop\hashlips_art_engine-main\hashlips_art_engine-main\src\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/

[2022-06-20 19:04] bolshoytoster commented on #1271
@cool4556 run `cd ..` then you can run `node index.js`.

[2022-06-20 21:13] SolanaJax commented on #1259
Hey if you go to his YT and open the description section it says his addresses

https://www.youtube.com/watch?v=04vbjEhu4Fk&ab_channel=HashLipsNFT

Ethereum:
0x943590A42C27D08e3744202c4Ae5eD55c2dE240D

Solana:
2JqDeRFMANcABAuHYvje24TJYka5ki5XRdbjXEiwXKpr

[2022-06-20 21:33] cool4556 commented on #1271
still does not work

[2022-06-20 22:13] bolshoytoster commented on #1271
@cool4556 can you paste the error please

[2022-06-20 23:13] #1270 closed, assigned to nobody

[2022-06-21 00:35] #1266 closed, assigned to nobody

[2022-06-21 00:39] FishDudes opened #1272 "Discord Code Request"
Does anyone know what code I can use to make my bot make bulleted lists with discord.js? If so please send the JavaScript code to me.

[2022-06-21 06:49] bolshoytoster commented on #1272
@FishDudeYT can you please stop opening issues here, this is  completely unrelated software. Try stackoverflow.

[2022-06-21 07:21] gonzo1980 opened #1273 "Gif with movement"
I would like create a final gif using different gif  layers with movement.
Is possible have a final .gif result?

[2022-06-21 08:52] vishalkr01396 opened #1274 "npm install error help"
npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\nEW u\AppData\Local\npm-cache\_logs\2022-06-21T08_40_03_462Z-debug-0.log
PS C:\Users\nEW u\Desktop\nft maker\hashlips_art_engine-1.1.2_patch_v6> npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fe

[2022-06-21 08:57] naighba commented on #434
+1

[2022-06-21 12:47] bolshoytoster commented on #1273
@gonzo1980 does [this](https://github.com/HashLips/hashlips_art_engine/issues/1008#issuecomment-1086636163) help?

[2022-06-21 12:49] bolshoytoster commented on #1274
@vishalkr01396 did you read the error?
[code]

[2022-06-22 23:58] GangstaDev opened #1275 "Any way to allow hashlips art engine to generate without DNA check?"
Can I generate 1000 of the exact same image, 1 layer?? I did DNABypass true and it still spams DNA exists

[2022-06-23 00:36] #1275 closed, assigned to nobody

[2022-06-23 08:42] ermiasabera commented on #1250
Which version worked for you? I am encountering similar problems.
👇🏼

PS D:\03. MY BUSSINESS\NFT\CODE GENERATOR\hashlips_art_engine-1.1.2_patch_v6> npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path D:\03. MY BUSSINESS\NFT\CODE GENERATOR\hashlips_art_engine-1.1.2_patch_v6/package.json
np

[2022-06-23 09:24] VVie opened #1276 "npm install"
Anybody can tell me what is the issue and advise on solution?

rita@192 hashlips_art_engine-main % npm install
npm ERR! code 1
npm ERR! path /Users/rita/Downloads/hashlips_art_engine-main/node_modules/canvas
npm ERR! command failed
npm ERR! command sh -c node-pre-gyp install --fallback-to-build
npm ERR! Failed to execute '/usr/local/bin/node /usr/local/lib/node_modules/npm/node_modules/node-gyp/bi

[2022-06-23 10:05] ermiasabera commented on #1263
I am having the same problems.
PS D:\HASHLIPS\hashlips_art_engine-1.0.8_update> npm run generate

D:\HASHLIPS\hashlips_art_engine-1.0.8_update\src\main.js:89
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js

[2022-06-23 11:25] ermiasabera commented on #370
Very Nice!

[2022-06-23 11:56] bolshoytoster commented on #1250
@ermiasabera you are in the wrong folder, run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-06-23 11:58] bolshoytoster commented on #1276
@VVie this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-06-23 11:59] bolshoytoster commented on #1263
@ermiasabera you need to either upgrade your node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-06-23 12:37] VVie commented on #1276
Thank you for the help

[2022-06-23 12:37] #1276 closed, assigned to nobody

[2022-06-24 01:55] #1264 closed, assigned to nobody

[2022-06-24 15:48] Cetrolio opened #1277 "Can't install npm help :c"
PS C:\Users\alleg\Downloads\hashlips_art_engine-1.0.6_update> npm install
npm WARN alleg No description
npm WARN alleg No repository field.
npm WARN alleg No license field.

audited 1 package in 0.438s
found 0 vulnerabilities

[2022-06-24 15:50] bolshoytoster commented on #1277
@Cetrolio that's not an error.

You may however be in the wrong folder, run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-06-24 16:12] Cetrolio commented on #1277
@bolshoytoster i don't understand what name i should get

[2022-06-24 16:13] bolshoytoster commented on #1277
@Cetrolio it should be something like `hashlips_art_engine-1.0.6_update`.

[2022-06-24 16:19] Cetrolio commented on #1277
@bolshoytoster omg thank u a lot

[2022-06-24 16:20] #1277 closed, assigned to nobody

[2022-06-24 16:29] Cetrolio opened #1278 "node index.js, what's the problem?"
PS C:\Users\alleg\Downloads\hashlips_art_engine-1.0.6_update\hashlips_art_engine-1.0.6_update> node index.js
C:\Users\alleg\Downloads\hashlips_art_engine-1.0.6_update\hashlips_art_engine-1.0.6_update\src\config.js
(node:14388) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'split' of undefined
    at cleanDna (C:\Users\alleg\Downloads\hashlips_art_engine-1.0.6_update\hashlips_ar

[2022-06-24 16:31] bolshoytoster commented on #1278
@Cetrolio could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead.

[2022-06-24 16:34] Cetrolio commented on #1278
@bolshoytoster im sorry, i dont' understand what do you mean, also it's my first time using vs code so im very ignorant about this subject

[2022-06-24 16:36] bolshoytoster commented on #1278
@Cetrolio my fork is a more updated version of hashlips, could you follow the link and use that instead of hashlips.

[2022-06-24 16:44] Cetrolio commented on #1278
@bolshoytoster
 layers/Eyeball doesn't exist, make sure your layers/ folder matches your src/config.js
idk why there's this error, my folders match with the ones in config.js

[2022-06-24 16:49] bolshoytoster commented on #1278
@Cetrolio make sure you save `src/config.js`.

[2022-06-24 16:50] Cetrolio commented on #1278
@bolshoytoster mate i love you it worked

[2022-06-24 17:00] #1278 closed, assigned to nobody

[2022-06-25 19:48] TalhaElaine opened #1279 "i am Facing This Issue"
Error: The module '\\?\C:\Users\talha\Downloads\hashlips_art_engine-main\node_modules\canvas\build\Release\canvas.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 93. This version of Node.js requires
NODE_MODULE_VERSION 108. Please try re-compiling or re-installing
the module (for instance, using `npm rebuild` or `npm install`).
    at Module._extensions..node (node

[2022-06-25 19:50] bolshoytoster commented on #1279
@TalhaElaine as the error suggests, try running `npm rebuild`.

[2022-06-25 19:53] TalhaElaine commented on #1279
@bolshoytoster but still not working

[2022-06-25 19:54] bolshoytoster commented on #1279
@TalhaElaine try deleting the `node_modules/` folder then running `npm install` again.

[2022-06-26 04:41] Cryptolex-USDEV commented on #218
It creates duplicates constantly. I have one folder with 777 layers all with a weight of #1 and another folder with 3 layers with weights of 7, 27, 66. Every time I generate it makes at least 2 duplicates.

[2022-06-26 07:39] bolshoytoster commented on #218
@Cryptolex-USDEV hashlips doesn't generate duplicates unless you tell it to. How are you identifying them?

[2022-06-26 17:04] peter-wolfe opened #1280 "Hashlips version number not updated in package.json?"
for the 1.1.2 release (latest in github right now), the package.json file still has:
 "version": "1.1.1",

[2022-06-26 18:29] TalhaElaine commented on #1279
@bolshoytoster ok i'll try

[2022-06-27 13:17] ac6113 opened #1281 "layerObj.options?.["displayName"] != undefined Error. What needs to be done?"
PS C:\Users\apurv\OneDrive\Desktop\Hashlips\hashlips_art_engine-1.1.2_patch_v6> node index.js
C:\Users\apurv\OneDrive\Desktop\Hashlips\hashlips_art_engine-1.1.2_patch_v6\src\main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (int

[2022-06-27 18:00] bolshoytoster commented on #1281
@ac6113 upgrade node or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-06-28 04:25] ac6113 commented on #1195
I am getting same error. How move the layers out of png files? (p.s. I am not a coder, sorry if it is a very basic question)

[2022-06-28 04:27] ac6113 commented on #1281
@bolshoytoster I sorted out the issue. Had to gradually upgrade node. Now I am facing -4058 error on both, so, saw the solution that I have to remove png files to layers, how to do that?

[2022-06-28 05:04] ac6113 commented on #1281
@bolshoytoster sorted the -4058 error. Now, I am getting weird output. The images is dots like how TV used to get. Checked the layer folder for hidden files, there are none.
(node:15528) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the

[2022-06-28 05:04] ac6113 commented on #1281
(process:15528): GLib-GIO-WARNING **: 10:20:16.199: Unexpectedly, UWP app `Evernote.Evernote_10.39.6.0_x86__q4d96b2w5wcc2' (AUMId `Evernote.Evernote_q4d96b2w5wcc2!Evernote') supports 1 extensions but has no verbs

[2022-06-28 06:53] bolshoytoster commented on #1195
@ac6113 can you paste your error(s) here please. Make sure your layer names match your `layersOrder`s exactly.

[2022-06-28 07:12] c-drazen opened #1282 "How to write name and edition on image?"
Anybody know how to write text (  name: `${namePrefix} #${_edition}`, ) to picture? I want to write on nft image a name and edition, etc (name #1).

╭――――――╮
│
│
│      name #01
╰――――――╯

This is a function for draw only text to background without image. And doesn't have option for nft  name: `${namePrefix} #${_edition}`, (name #1).

👇

const text = {
  only: false,
  color: "#ffffff",
  size: 20,

[2022-06-28 07:37] inaamul09 opened #1283 "While Run " npm install " this error will coming on terminal. Why ???"
npm : The term 'npm' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path
was included, verify that the path is correct and try again.
At line:1 char:1
+ npm install
+ ~~~
    + CategoryInfo          : ObjectNotFound: (npm:String) [], CommandNotFoundException
    + FullyQualifiedErrorId : CommandNotFoundException

[2022-06-28 08:00] inaamul09 opened #1284 "After running npm install code This error will coming why anyone help me please"
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path C:\Users\NM2022\Downloads\hashlips_art_engine-1.1.2_patch_v6\ha

[2022-06-28 10:30] bolshoytoster commented on #1283
@inaamul09 you need to install node.js

[2022-06-28 12:30] Luca5a opened #1285 "npm run isn't running script"
I'm not familiar with code, i only use the hashlips art engine for nft generation. when I try to run the script to generate my images, it just puts this in the terminal. What do i do?

![Screenshot 2022-06-28 132953](https://user-images.githubusercontent.com/108343020/176178850-51343b71-d160-4511-8843-a475213612cd.png)

[2022-06-28 15:42] bolshoytoster commented on #1285
@Luca5a you need to run either `npm run build`, `npm run generate` or just `node index.js` - they're all the same,

[2022-06-28 15:43] bolshoytoster commented on #1284
@inaamul09 have you read the error?
[code]

[2022-06-28 17:10] jonnahhex opened #1286 "node index.js"
Hi there, I keep facing this issue when i use node index.js. Can someone kindly assist me with this ? Thank you
<img width="1148" alt="Screenshot 2022-06-28 at 22 43 07" src="https://user-images.githubusercontent.com/100067750/176242218-5f86cd7b-a298-4d0b-bb89-a0bd6e06be48.png">
u

[2022-06-28 18:48] bolshoytoster commented on #1286
@jonnahhex make sure there are no non-image files in your layer folders.

If you can't get that to work, try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine); it'll tell you what file caused the issue and will also continue running despite it.

[2022-06-28 21:06] cool4556 opened #1287 "npm run not working"
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\hudson\Desktop\gnome images\hashlips_art_engine-main\hashlips_art_engine-main\src\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:interna

[2022-06-28 21:11] cool4556 commented on #1271
Error: Cannot find module 'C:\Users\hudson\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
    at node:internal/main/run_main_module:17:47 {
  code: 'MODULE_NOT_FOUND',
  requireStack: []

[2022-06-28 21:26] bolshoytoster commented on #1287
@cool4556 what are you running?

[2022-06-28 21:28] bolshoytoster commented on #1271
@cool4556 `cd` is relative to your current path, opening a new terminal resets your path.

Just run `cd C:\Users\hudson\Desktop\hashlips_art_engine-main\hashlips_art_engine-main` to go to the correct place.

[2022-06-29 03:14] cool4556 commented on #1271
it still isn't working

[2022-06-29 03:15] cool4556 commented on #1271
Error: EACCES, Permission denied 'C:\Users\hudson\Desktop\hashlips_art_engine-main\hashlips_art_engine-main/layers/body/legendary'
    at setSource (C:\Users\hudson\Desktop\hashlips_art_engine-main\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\hudson\Desktop\hashlips_art_engine-main\hashlips_art_engine-main\node_modules\canvas\lib\image.js:62:9)
    at

[2022-06-29 03:15] cool4556 commented on #1287
node index.js

[2022-06-29 06:44] bolshoytoster commented on #1271
@cool4556 it doesn't have permission to access `layers/body/legendary`; try running this in an admin powershell.

[2022-06-29 10:12] funkymonkey5150 commented on #812
npm ERR! Failed at the hashlips_art_engine@1.1.1 generate script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

[2022-06-29 10:12] funkymonkey5150 commented on #812
npm ERR! Failed at the hashlips_art_engine@1.1.1 generate script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

[2022-06-29 10:17] funnyleopard commented on #1185
@bolshoytoster where did you excatly put the code may i have example i tried out putting after line 26 it did not worked thanks

[2022-06-29 10:20] funnyleopard opened #1288 "skip attributes part in metadata"
how to i generate NFT and **skip** attributes part in metadata

example:

I need to make the .json files looks like this:

{ "dna":"1",
"name":"my nfts",
"external_url":"https://www.mynfts.com/",
"description":"my nfts",
"image":"ipfs://URL"
}

Thank you for your answering.

[2022-06-29 10:26] bolshoytoster commented on #812
@funkymonkey5150 is that the whole error? If so, could you paste the output of running `node index.js`.

[2022-06-29 10:27] bolshoytoster commented on #1185
@funnyleopard you put it between line 26 and 27 by creating a new line there.

Make sure you save files when you change them.

**You also need to run `node utils/update_info.js` to actually run it**

[2022-06-29 11:04] young-to opened #1289 "error with canvas or input stream"
I tried running with
node index.js
 npm run generate
  npm run build

  all gives this same error
  `hashlips_art_engine % npm run build

(node:86924) UnhandledPromiseRejectionWarning: Error: error while reading from input stream
    at setSource (/Users/hamzah/Desktop/hashlips_art_engine/node_modules/canvas/lib/image.js:91:13)
    at Image.set (/Users/hamzah/Desktop/hashlips_art_engine/node_modul

[2022-06-29 12:19] bolshoytoster commented on #1289
@young-to use [my fork](https://github.com/bolshoytoster/hashlips_art_engine)

[2022-06-29 20:11] hugolarge opened #1290 "startEditionFrom"
Any way to use this with sol, because it automatically starts at 0

[2022-06-29 20:14] hugolarge commented on #1290
For now I just change the offset manually

[2022-06-29 20:17] bolshoytoster commented on #1290
@ImEz96 this issue is in the wrong repo, but you can chage line ~442:
[code]
to just
[code]

[2022-06-29 20:23] hugolarge commented on #1290
would there be any way to change it on this repo

[2022-06-29 20:25] bolshoytoster commented on #1290
@ImEz96 `startEditionFrom` isn't in this repo, if you want to use it you have to use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-06-29 20:25] hugolarge commented on #1290
ok thanks

[2022-06-29 21:16] cool4556 commented on #1271
how do I do that ?

[2022-06-29 21:17] bolshoytoster commented on #1271
@cool4556 https://www.howtogeek.com/742916/how-to-open-windows-powershell-as-an-admin-in-windows-10/

[2022-06-30 11:28] ghost opened #1291 "DNA exixts"
I was using v1.1.2 to generate my artwork with layers traits 8 x 4 x 7 x 15 x 3 supposed not a problem for 10k images. But I encountered a lot of DNA exists after npm run generate. I noticed from the reply on this issue saying it can be ignored. Is it true? Another question is that even if I have enough layers or traits to generate 10k images, will it be affected with different rarity (eg. from al

[2022-06-30 11:35] jonnahhex commented on #1286
Thank you, will give it s shot.

[2022-06-30 12:02] bolshoytoster commented on #1291
@wylim6783

It can be ignored, unless you end up generating too many and it stops generating, in which case you can either increase `uniqueDnaTorrance` or set it to `Infinity` in `src/config.js` ~line 85:

https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L84-L86

As you near the point of using up all possible combinations the weights matte

[2022-06-30 12:54] ghost commented on #1291
Thanks for your reply. One more question. When DNA exists happened, will the generated images get any chances of duplicating which I worry about? Thanks

[2022-06-30 14:23] bolshoytoster commented on #1291
@wylim6783 when it says DNA exists it doesn't generate the image.

[2022-06-30 17:28] tahaimran opened #1292 "How can I turn eth metadata to sol?"

[2022-06-30 17:32] bolshoytoster commented on #1292
@tahaimran is there any reason you can't just regenerate?

[2022-06-30 19:48] #1282 closed, assigned to nobody

[2022-06-30 20:34] tahaimran commented on #1292
@bolshoytoster I don't have layers only art and metadata

[2022-06-30 20:46] bolshoytoster commented on #1292
@tahaimran you can try changing ~lines 18-26 of `utils/update_info.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L18-L26

to
[code]
Then run `node utils/update_info.js`.

[2022-07-01 01:40] ghost commented on #1291
Great! Your answer is much helpful.

[2022-07-01 14:43] tahaimran opened #1295 "cannot find module index.js"
![image](https://user-images.githubusercontent.com/59136478/176916541-52c8873b-b0af-47f2-96bd-22a159068b35.png)

[2022-07-01 14:44] tahaimran commented on #1292
Thanks buddy

[2022-07-01 14:44] #1292 closed, assigned to nobody

[2022-07-01 14:45] bolshoytoster commented on #1295
@tahaimran run `cd art_engine-main` first.

[2022-07-01 15:07] tahaimran commented on #1295
![image (2)](https://user-images.githubusercontent.com/59136478/176920824-dcec3568-557e-4b23-b19e-3e80041db1d8.png)
@bolshoytoster  can you help me with it

[2022-07-01 15:10] bolshoytoster commented on #1295
@tahaimran could you do as the error suggests and delete the `node_modules/` folder and run `npm install` again.

[2022-07-01 15:11] tahaimran commented on #1295
okay

[2022-07-01 19:16] P0p0lv1ll3cr0ze commented on #480
I tried to do what @ricothronic said, but I still does not work.

[2022-07-01 19:17] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze can you paste your error(s) here please.

[2022-07-01 19:17] P0p0lv1ll3cr0ze commented on #480
How?

[2022-07-01 19:18] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze you copy the errors then paste them here.

[2022-07-01 19:20] P0p0lv1ll3cr0ze commented on #480
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Nicol\AppData\Local\npm-cache\_logs\2022-07-01T19_20_39_671Z-debug-0.log

[2022-07-01 19:54] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze you're likely in the wrong folder. run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-07-01 19:56] P0p0lv1ll3cr0ze commented on #480
What name?

[2022-07-01 19:58] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze the name of the folder.

[2022-07-01 20:03] P0p0lv1ll3cr0ze commented on #480
wich folder?😅

[2022-07-01 20:04] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze the one you get from running `Get-ChildItem -Directory`

[2022-07-01 20:05] P0p0lv1ll3cr0ze commented on #480
I wavent got any folder with Get-ChildItem -Directory

[2022-07-01 20:06] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze can you paste the output of `Get-ChildItem -Directory` here please

[2022-07-01 20:07] P0p0lv1ll3cr0ze commented on #480
Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        01.07.2022     21:15                create-10k-nft-collection-2.0.0
d-----        01.07.2022     18:47                node_modules

[2022-07-01 20:08] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze run `cd create-10k-nft-collection-2.0.0` then.

[2022-07-01 20:12] P0p0lv1ll3cr0ze commented on #480
I di it, then I put "npm run generate" and I still have an Error
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

(node:3408) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was cre

[2022-07-01 20:12] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze make sure you save `src/config.js`

[2022-07-01 20:13] P0p0lv1ll3cr0ze commented on #480
I do

[2022-07-01 20:15] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze can you paste your `layersOrder`s and the output of running `Get-ChildItem layers` here please.

[2022-07-01 20:16] P0p0lv1ll3cr0ze commented on #480
const layerConfigurations = [
  {
    growEditionSizeTo: 5,
    layersOrder: [
      { name: "Background" },
      { name: "Body" },
      { name: "Durags" },
      { name: "Eyes" },
      { name: "Mouths" },
      { name: "Necklaces" },
    ],
  },
];

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        01.07.2022     20:07

[2022-07-01 20:21] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze can you make sure you spell `layers/Background` correctly.

[2022-07-01 20:22] P0p0lv1ll3cr0ze commented on #480
it is

[2022-07-01 20:27] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze can you make sure it's spelled with an uppercase `B`, could you try pasting the output of `Get-ChildItem layers/*` here please.

[2022-07-01 20:29] P0p0lv1ll3cr0ze commented on #480
Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        01.07.2022     20:07                layers

[2022-07-01 20:35] bolshoytoster commented on #480
@P0p0lv1ll3cr0ze I think I know the issue; I think you have another `layers` folder inside the existing one, could you try running `Move-Item -Path layers/layers/* -Destination layers` to move them into the expected place.

[2022-07-01 20:37] P0p0lv1ll3cr0ze commented on #480
thak you very much!
It works!

[2022-07-01 21:02] P0p0lv1ll3cr0ze commented on #531
I dont understand why I put 1080 in GrowEditionSizeTo but it still creates only 5 images like it did on the beginning

[2022-07-01 21:04] bolshoytoster commented on #531
@P0p0lv1ll3cr0ze make sure you save `src/config.js`.

[2022-07-01 21:04] P0p0lv1ll3cr0ze commented on #531
I do

[2022-07-01 21:06] bolshoytoster commented on #531
@P0p0lv1ll3cr0ze could you paste your `layerConfigurations` and the output of running `node index.js` here please.

[2022-07-01 21:08] P0p0lv1ll3cr0ze commented on #531
(node:15048) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
Created edition: 1, with DNA: 34ec58d4f31e34cc635fad3b7457939f8959b1d3
Created edition: 2, with DNA: e5006bb5f76d015b20a4d7a5e5c6fbc3a5fe7d9e
Created edi

[2022-07-02 10:03] Mkhuliseni commented on #787
Hey please help am running into this problem when trying to compile my code
code:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '/root/folder/hh-fcc/ethers-simple-storage/...'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as

[2022-07-02 10:04] bolshoytoster commented on #787
@Mkhuliseni what did you run to get that error?

[2022-07-02 12:28] P0p0lv1ll3cr0ze commented on #531
Are you still there?

[2022-07-02 12:33] bolshoytoster commented on #531
@P0p0lv1ll3cr0ze you need to make sure you save `src/config.js`, that's the only reasonable thing I can see.

[2022-07-02 12:33] P0p0lv1ll3cr0ze commented on #531
And how do I save it?

[2022-07-02 12:35] bolshoytoster commented on #531
@P0p0lv1ll3cr0ze go to where you have it open and then use `ctrl` + `S`

[2022-07-02 12:36] P0p0lv1ll3cr0ze commented on #531
thank you very much again:)
It works now!

[2022-07-02 21:43] Marlonsawsm opened #1296 "npm run build not outputting _metadata.json file"
I cant run update_info since I am missing _metadata.json file

[2022-07-02 21:50] bolshoytoster commented on #1296
@Marlonsawsm you can replace the existing `src/update_info.js` with [mine](https://github.com/bolshoytoster/hashlips_art_engine/blob/main/utils/update_info.js).

[2022-07-03 00:10] cool4556 commented on #1271
still does not work

[2022-07-03 08:37] bolshoytoster commented on #1271
@cool4556 can you paste the error from running it in the admin powershell please.

[2022-07-03 11:12] P0p0lv1ll3cr0ze commented on #1078
@ZahraShiraz  what are you using then?

[2022-07-03 11:17] P0p0lv1ll3cr0ze commented on #1078
@bolshoytoster when I am typing npm run upload_files, I get this:

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! Missing script: "upload_files"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Nicol\AppData\Local\npm-cache\_logs\2022-07-03T11_15_01

[2022-07-03 11:20] bolshoytoster commented on #1078
@P0p0lv1ll3cr0ze only [codeSTACKr's repo](https://github.com/codeSTACKr/create-10k-nft-collection) has upload_files.

[2022-07-03 16:37] DrFalcon13 commented on #1001
@bolshoytoster C:\Users\hayal\AppData\Local\Programs\Python\Python310\python.exe: can't open file 'C:\\bulk-upload-to-opensea-main\\upload': [Errno 2] No such file or directory do you have any idea what this error means i couldn't figure it out

[2022-07-03 18:11] bolshoytoster commented on #1001
@DrFalcon13 what did you run?

[2022-07-03 20:09] apmg1 opened #1297 "npm install error"
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\User\Downloads\hashlips_art_engine-main> npm install
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\User\Downloads\hashlips_art_engine-

[2022-07-03 21:26] bolshoytoster commented on #1297
@apmg1 you're probably in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-07-04 01:26] Babsdiopdev commented on #977
bonsoir j'avais cette meme erreur mais je reglais en changeant le chemin du fichier

[2022-07-04 10:57] 0xLauge opened #1298 "."

[2022-07-04 10:58] 0xLauge opened #1299 "A problem with "collection" when generating bulk"
I have a problem when generating my art, it doesn't add the collection data in each JSON file.

Is there an updated version or a way around this, thanks in advance!

[2022-07-04 14:07] Tusardutta opened #1300 "not generateing"
Error: EEXIST: file already exists, mkdir 'C:\Users\91943\Dropbox\PC\Desktop\t folder\hashlips_art_engine-1.1.2_patch_v6/build'
    at Object.mkdirSync (node:fs:1349:3)
    at buildSetup (C:\Users\91943\Dropbox\PC\Desktop\t folder\hashlips_art_engine-1.1.2_patch_v6\src\main.js:40:6)
    at C:\Users\91943\Dropbox\PC\Desktop\t folder\hashlips_art_engine-1.1.2_patch_v6\index.js:5:3
    at Object.<ano

[2022-07-04 16:56] bolshoytoster commented on #1298
@LaugeBirchLorup what is the problem?

[2022-07-04 16:56] bolshoytoster commented on #1299
@LaugeBirchLorup what do you mean by 'collection data'?

[2022-07-04 16:57] bolshoytoster commented on #1300
@Tusardutta you might want to consider moving the project out of `Dropbox/`.

[2022-07-04 18:05] gonzo1980 commented on #1273
It works perfect.
Thanks.

[2022-07-04 18:20] DrFalcon13 commented on #1001
@bolshoytoster bulk upload nft

[2022-07-04 18:20] bolshoytoster commented on #1001
@DrFalcon13 what command did you run?

[2022-07-04 18:20] DrFalcon13 commented on #1001
@bolshoytoster https://github.com/infotrex/bulk-upload-to-opensea

[2022-07-04 18:21] DrFalcon13 commented on #1001
python upload_captcha.py

[2022-07-04 18:21] DrFalcon13 commented on #1001
this command

[2022-07-04 18:22] bolshoytoster commented on #1001
@DrFalcon13 what did you type into powershell/cmd which resulted in that error?

Besides, you should probably open an issue over there since this is the wrong place to be discussing this.

[2022-07-04 18:24] DrFalcon13 commented on #1001
ok

[2022-07-04 18:26] bolshoytoster commented on #1001
@DrFalcon13 my guess is that you accidentally added a space in `upload_captcha.py`, try running it again.

If you're using the most recent version of that repo you'll probably have to run `python upload_2captcha_V2.py`

[2022-07-04 18:33] 0xLauge commented on #1299
@bolshoytoster There's a URI specifically for the collection to show the overall collection image and name

[2022-07-04 18:35] bolshoytoster commented on #1299
@LaugeBirchLorup you could try running `node utils/update_info.js`

[2022-07-05 04:08] Tusardutta commented on #1300
@bolshoytoster how to do that

[2022-07-05 06:47] bolshoytoster commented on #1300
@Tusardutta just move the project folder somewhere else.

[2022-07-05 16:41] apmg1 opened #1301 "File Error"
**** Even if the file name is changed, it shows as follows. ****

Error: layer name can not contain dashes, please fix: pixil-framec #100.png
    at C:\Users\User\Documents\hashlips_art_engine-main\src\main.js:77:15
    at Array.map (<anonymous>)
    at getElements (C:\Users\User\Documents\hashlips_art_engine-main\src\main.js:75:6)
    at C:\Users\User\Documents\hashlips_art_engine-main\src\main.j

[2022-07-05 17:17] bolshoytoster commented on #1301
@apmg1 you haven't changed the name, you need to remove the `-` from `pixil-framec #100.png`.

[2022-07-05 17:57] apmg1 commented on #1301
thank you 🤗

[2022-07-06 01:47] apmg1 opened #1302 "SyntaxError"
SyntaxError: Unexpected token '{'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1033:15)
    at Module._compile (node:internal/modules/cjs/loader:1069:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1159:10)
    at Module.load (node:internal/modules/cjs/loader:981:32)
    at Function.Module._load (node:internal/modules/c

[2022-07-06 05:37] Joshua-Ogbonna commented on #424
I updated my node version and it solved the issue for me

[2022-07-06 06:37] bolshoytoster commented on #1302
@apmg1 there is probably an issue with your `src/config.js`, but I can't help you unless you paste the **full** error - there's a bit just before that.

[2022-07-06 11:13] Tusardutta opened #1303 "not able to update base uri"
^

Error: ENOENT: no such file or directory, open 'C:\Users\91943\Dropbox\PC\Desktop\hashlips_art_engine-1.1.2_patch_v6/build/json/_metadata.json'
    at Object.openSync (node:fs:585:3)
    at Object.readFileSync (node:fs:453:35)
    at Object.<anonymous> (C:\Users\91943\Dropbox\PC\Desktop\hashlips_art_engine-1.1.2_patch_v6\utils\update_info.js:14:18)
    at Module._compile (node:internal/modules/

[2022-07-06 11:48] Joy4Meta opened #1304 "Error when "npm run build""
when run "npm run build"， there are errors, what should I do?

---------------------------------------------------------
$ npm run build

/home/fox/hashlips_art_engine/src/main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (inter

[2022-07-06 14:49] bolshoytoster commented on #1303
@Tusardutta have you built a collection? If so, you'll have to generate `build/json/_metadata.json` with [my utils/update_info.js](https://github.com/bolshoytoster/hashlips_art_engine/blob/main/utils/update_info.js) - just replace the existing one and run what you did before.

[2022-07-06 14:50] bolshoytoster commented on #1304
@Joy4Meta you need to either update node.js or use [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-07-06 16:23] Metamoc opened #1305 "Code 1"
when npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile
npm ERR! code 1
npm ERR! path /Users/sagibitan/hashlips_art_engine/node_modu

[2022-07-06 16:29] bolshoytoster commented on #1305
@Metamoc this is because one of our dependencies doesn't support m1, please look  at [some existing issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for help.

[2022-07-07 09:22] Metamoc opened #1306 "Hello Please help very strange problem"
all the images came without Color
![4](https://user-images.githubusercontent.com/108821320/177739684-ee969f21-715a-45dd-a6d6-39597c14a104.png)
![1](https://user-images.githubusercontent.com/108821320/177739689-81ce2507-e8c0-4d06-9f60-c8b5798db081.png)
![2](https://user-images.githubusercontent.com/108821320/177739691-1c3d1c50-2d42-4598-9ecb-9dee4a98ed21.png)
![3](https://user-images.githubusercont

[2022-07-07 10:38] Metamoc commented on #1306
PS C:\Users\username\Desktop\hashlips_art_engine-1.1.2_patch_v6> node index.js
(node:15576) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
Created edition: 1, with DNA: 1cd3326562fde0ce83a12d4b508d2b864efaa3af
Cre

[2022-07-07 12:53] MarkoPolonft opened #1307 "Rarity problem"
Writes everywhere - 100% have this trait, what could be the problem
![photo_2022-07-04_21-38-34](https://user-images.githubusercontent.com/107468994/177777848-29e8616b-3810-499c-b2da-efd4be506096.jpg)
![photo_2022-07-05_21-56-06](https://user-images.githubusercontent.com/107468994/177777852-422ec0db-a56b-46e9-a239-b046575c9454.jpg)

[2022-07-07 18:01] 948485100 opened #1308 "Problems with npm i"
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code 6
npm ERR! path F:\NFT\minter-dapp\backend\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build --update-binary
npm ERR! node-pre-gyp info it worked if it ends with ok
npm ERR! node-pre-gyp info using node-

[2022-07-07 18:03] 948485100 commented on #1308
I deleted node_modules and reinstalled several times and this is the case。thanks for help

[2022-07-07 18:05] bolshoytoster commented on #1308
@948485100 according to [this comment](https://github.com/mapbox/node-pre-gyp/issues/367#issuecomment-392770854) this can be caused by antivirus.

[2022-07-07 19:23] Digus01 opened #1309 "problem for node.index"
at setSource (C:\Users\guigu\OneDrive\Área de Trabalho\NFTStuff\hashlips_art_engine-main\hashlips_art_engine-main\node_modules\canvas\lib\image.js:91:13)
    at Image.set (C:\Users\guigu\OneDrive\Área de Trabalho\NFTStuff\hashlips_art_engine-main\hashlips_art_engine-main\node_modules\canvas\lib\image.js:62:9)
    at C:\Users\guigu\OneDrive\Área de Trabalho\NFTStuff\hashlips_art_engine-main\hashlip

[2022-07-07 19:27] bolshoytoster commented on #1309
@Digus01 that's because your path has `Á` in it, try moving the project folder elsewhere.

[2022-07-08 03:21] 948485100 commented on #1308
Thank you so much, hope you are all well

[2022-07-08 03:22] #1308 closed, assigned to nobody

[2022-07-09 10:37] dua1422 opened #1310 "npm run generate, missing script generate"
whenever I type 'npm run generate' an error keeps occurring. Can someone pls tell me what do i do because i have no knowledge of coding.
 npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\kk\AppData\Local\npm-cache\_logs\2022-07-09T22_25_50_365Z-debug-0.log

[2022-07-09 10:41] dua1422 commented on #898
I am getting this error, can u help me out please
npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\kk\AppData\Local\npm-cache\_logs\2022-07-09T22_25_50_365Z-debug-0.log

[2022-07-09 10:42] dua1422 commented on #898
i'm getting this error can u help me out pls?

npm ERR! Missing script: "generate"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\kk\AppData\Local\npm-cache\_logs\2022-07-09T22_25_50_365Z-debug-0.log

[2022-07-09 11:08] dua1422 opened #1311 "npm run generate, module not found"
whenever i type npm run generate this error is showing up. Can someone help?

node:internal/modules/cjs/loader:949
  throw err;
  ^

Error: Cannot find module 'C:\Users\kk\Downloads\hashlips_art_engine-main\hashlips_art_engine-main/node_modules/sha1'
Require stack:
- C:\Users\kk\Downloads\hashlips_art_engine-main\hashlips_art_engine-main\src\main.js
- C:\Users\kk\Downloads\hashlips_art_engine-main

[2022-07-09 12:47] dua1422 commented on #1310
@bolshoytoster help me out pls?

[2022-07-09 13:22] bolshoytoster commented on #898
@dua1422 you're in the wrong folder. Run `Get-ChildItem -Directory` to get the name, then run `cd ` + the name to change into it.

[2022-07-10 12:27] aleksnamaniuk commented on #1311
I have the same issue

[2022-07-10 13:07] MarkoPolonft opened #1312 "Trait problem, please help"
Writes everywhere - 100% have this trait, what could be the problem
![photo_2022-07-05_21-56-06](https://user-images.githubusercontent.com/107468994/178146093-2428c18b-00ac-4765-96f8-d54b48b924b3.jpg)
![photo_2022-07-04_21-38-34](https://user-images.githubusercontent.com/107468994/178146094-78a80db7-c696-4c6f-95a8-92ed3c23f0e8.jpg)

[2022-07-10 19:10] tahaimran opened #1313 "How to create cardano nfts?"
I have searched alot but not find a possible solution. Kindly guide me to create cardano nfts

[2022-07-10 21:53] bolshoytoster commented on #1311
@aleks-bel you probably just neet to run `npm install`, can you please paste your error here otherwise.

[2022-07-11 06:42] PamZ33 opened #1314 "Yarn install error"
I'm getting this error with yarn install ( see below ). Can anyone help, please?
c:Users\AppData\Roaming\npm\yarn.ps1 cannot be loaded because running scripts is disabled on this
system. For more information, see about_Execution_Policies at https:/go.microsoft.com/fwlink/?LinkID=135170.
At line:1 char:1
+ yarn install
+ ~~~~
    + CategoryInfo          : SecurityError: (:) [], PSSecurityException

[2022-07-11 06:44] bolshoytoster commented on #1314
@PamZ33 run `Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy Unrestricted`

[2022-07-11 07:03] Tusardutta opened #1315 "not able to update base uri"
Command run but base uri didn't got updated

[2022-07-11 07:04] Tusardutta commented on #1315
@bolshoytoster

[2022-07-11 12:25] bolshoytoster commented on #1315
@Tusardutta is there an error? Have you made sure to save `src/config.js`?

[2022-07-11 13:16] MarkoPolonft opened #1316 "Help"
Writes everywhere - 100% have this trait, what could be the proble
![photo_2022-07-05_21-56-06](https://user-images.githubusercontent.com/107468994/178272764-395569f5-35cc-442a-9e58-58fd4fd3ee59.jpg)
![photo_2022-07-04_21-38-34](https://user-images.githubusercontent.com/107468994/178272767-cfa034ab-92af-4cf6-8451-0a30858d21a3.jpg)
m

[2022-07-11 14:48] LynxNunkima98 commented on #977
run npm i, everything will be all right :-) on root folder

[2022-07-11 19:38] 0x471 opened #1317 "Using the same layer multiple times"
Hi,

It is possible to use same layer multiple times while generating NFTs? For instance:

[code]

Thanks in advance.

[2022-07-11 19:40] bolshoytoster commented on #1317
@0x471 yes.

[2022-07-11 19:49] 0x471 commented on #1317
I tried but it doesn't generate as I said? It only uses one image from Pixel folder.

[2022-07-11 19:51] #1317 closed, assigned to nobody

[2022-07-11 19:51] bolshoytoster commented on #1317
@0x471 have you saved `src/config.js`?

[2022-07-12 03:24] Noodz-NFT commented on #511
Saw this vid and then spotted your post:
https://www.youtube.com/watch?v=APZQC3s_NUw
This fellow seems to be on the right track. The synchronous fs calls kill performance. But the comments section of the vid shows there was more work to do to get it working completely. If that work was done, do you still think you'd need the multithreaded approach? The stock code takes approx an hour for me to gen