[2022-02-21 10:45] AlexandreFrart commented on #781
Bonjour, merci, qu'est-ce que je doios réaliser sur ce lien ? @bolshoytoster

[2022-02-21 10:46] bolshoytoster commented on #781
@AlexandreFrart suivez les étapes

[2022-02-21 10:59] AlexandreFrart commented on #781
D'accord, le bug vient d'où finalement ? J'aimerais comprendre svp

[2022-02-21 11:07] bolshoytoster commented on #781
@AlexandreFrart vous devez installer Visual Studio avec la charge de travail c++ pour installer Truffle.

[2022-02-21 12:33] AlexandreFrart commented on #781
J'ai installé visual studio 2022 avec la charge de travail c++ puis en tapant npm install truffle -g dans le terminal,  j'ai exactement la même suite d'erreur. Il marque toujours que je dois télécharger la dernière version avec la prise en charge desktop c++
Il y a t'il une action à faire pour actualiser l'installation de la charge de travail c++ ou autre chose à faire svp ?

[2022-02-21 12:39] bolshoytoster commented on #781
@AlexandreFrart pouvez-vous coller l'erreur à nouveau s'il vous plaît.

[2022-02-21 12:45] AlexandreFrart commented on #781
PS E:\NFT\generative-art-node-main> npm install truffle -g
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm W

[2022-02-21 12:54] bolshoytoster commented on #781
@AlexandreFrart cela peut fonctionner si vous modifiez la ligne
[code]
À
[code]
autour de la ligne 270 en `C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\lib\find-visualstudio.js`.

[2022-02-21 13:08] sasha567-vng opened #782 "layers"
my generated image only shows one layers and the rest dont show up.! yes i have checked, all my layers are transparent and correctly placed in order.! please help.!

[2022-02-21 13:12] AlexandreFrart commented on #781
PS E:\NFT\generative-art-node-main> npm install truffle -g
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm W

[2022-02-21 13:17] bolshoytoster commented on #781
@AlexandreFrart pourriez-vous essayer d'exécuter l'invite de commande en tant qu'administrateur puis d'exécuter `npm install truffle -g`.

[2022-02-21 13:22] AlexandreFrart commented on #781
Oui, je dois faire comment pour l'exécuter en tant qu'administrateur ?

(merci pour votre aide, j'espère vraiment y arriver)

[2022-02-21 13:34] bolshoytoster commented on #781
@AlexandreFrart
![](https://www.howtogeek.com/wp-content/uploads/2017/05/cpa_4.png)

[2022-02-21 13:43] AlexandreFrart commented on #781
C:\Windows\System32>npm install truffle -g
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated h

[2022-02-21 13:46] AlexandreFrart commented on #781
Je vais essayer d'installer les modules de C++ qui ne sont pas par défault

[2022-02-21 13:49] AlexandreFrart commented on #781
npm ERR ! gyp ERR ! trouver VS - il manque un ensemble d'outils VC++

Par rapport à cette ligne d'erreur, vous pensez qu'il pourrait manquer quel outils ?

[2022-02-21 15:05] AlexandreFrart commented on #781
Bon j'ai tout désinstaller, je vais tout réinstaller dans l'ordre.

[2022-02-21 15:29] sasha567-vng opened #784 "layers misplaced"
layers of the generated images are misplaced even though they are placed in correct order.!

[2022-02-21 16:53] williamoliver107 commented on #774
I understand you perfectly friend, I faced the same.

I needed a quick fix and I managed to find one.

It may not be the best option, but it was the fastest I found, so as not to change the code too much and not generate possible errors in the future.

In the comment below I explain what I did, and I hope it works for you too.

[2022-02-21 17:35] williamoliver107 commented on #774
What you need to do is create two folders in the root of the project, one folder called male and the other female.

As in the image below:
[](https://i.ibb.co/wRCpQRh/source.jpg)

Did you understand?

And inside these folders are located other folders that will be the layers, as you can see in the image below:
[](https://i.ibb.co/qMBsjnG/layers.jpg)

Let's say you want to generate 20 male nfts and

[2022-02-21 17:55] hashisyumy commented on #774
Hi again thanks for to info it looks really helpfull.I will try today when I go on my laptop.I have one question.

 "Once the switch is done, now it's time for you to run the index.js file normally."

Do I need to write  run index.js and create or how I  will run index.js because if I create before changing male to female it's will make it separate 2 folder maybe one is male other is female folder

[2022-02-21 18:01] williamoliver107 opened #786 "Gas estimation errored"
I can't do too many Mints at once I get the following error.
Internal JSON-RPC error. { "code": -32000, "message": "gas required exceeds allowance (29970705)" }

I don't want to have to do 200 mints at a time.

To be faster, I'd like to mint the 10k in one go.

Detail: I am using the main polygon network, and the contract is below:
0xce55d7d4a457bb07b177acb43fe5d538028bf1c8

I'm also using the acc

[2022-02-21 18:22] williamoliver107 commented on #774
Cool, let me see if I really understand.

You want to upload the 40 (fictitious number) images containing both genders to solana isn't it?

[2022-02-21 18:26] williamoliver107 commented on #774
Because if you want to send the "40" images in the same folder that could be called for example: "MyNft"

using the method I said above, you can.

But for that you would need to mix the images and metadata as if they were generated normally.

[2022-02-21 18:37] hashisyumy commented on #774
So  looks like I need to generate that way what you wrote its hard to mix 2 different folders in one.
I will try to do your way better.

[2022-02-21 18:44] williamoliver107 commented on #774
Combined friend!

Take the test and then come back here to tell me if it worked.

Combined friend!

Take the test and then come back here to tell me if it worked.

[2022-02-21 18:44] williamoliver107 commented on #774
Combined friend!

Take the test and then come back here to tell me if it worked.

[2022-02-21 20:03] chudney commented on #355
I can confirm that @[GabrielCHP] error was solved for me by adding rarities with #1-1000 etc in ALL image titles in ALL layers, I only needed them for some folders and left some without, this caused the 'TypeError: Cannot read properties of undefined (reading 'replace') error'

[2022-02-22 00:40] Hectorious84 commented on #448
![MingoOutline4](https://user-images.githubusercontent.com/78246140/155042841-258d0b61-611e-4cd7-8f98-13d31fc72070.png)

Thank you! I am still facing a resolution issue can you assist me, I am trying to clean up this file

[2022-02-22 00:53] YuchengHappy opened #787 "Cannot find module"
npm run build

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- /Users/luyucheng/Downloads/hashlips_art_engine-main/node_modules/canvas/lib/bindings.js
- /Users/luyucheng/Downloads/hashlips_art_engine-main/node_modules/canvas/lib/canvas.js
- /Users/luyucheng/Downloads/hashlips_art_engine-main/node_modules/canvas/index.

[2022-02-22 00:55] YuchengHappy commented on #787
I don't know why this happened to me, I run the npm install canvas few times, but the bug keeps happening to me.

[2022-02-22 00:57] bolshoytoster commented on #787
@YuchengHappy It's a problem with M1 macs, I think you can get around it by downgrading node to v14 and running `npm i` again.

[2022-02-22 01:11] YuchengHappy commented on #787
I tried with my older mac, indeed, it was due to the M1 chips problem.

[2022-02-22 07:37] kelvin-zhao commented on #787
Downgrading to v14 node didn't fix it for me. Is there any workaround for M1 macs?

[2022-02-22 08:33] tuncatunc commented on #781
I recommend you to switch to WSL on windows.

[2022-02-22 10:59] bolshoytoster commented on #787
@kelvin-zhao what about 14.19.0?

[2022-02-22 11:02] bolshoytoster commented on #781
@tuncatunc I don't think that would help; the eror is because it doesn't accept their visual studio: `msvs_version does not match this version`. Using WSL would mean it probably wouldn't find VS at all.

[2022-02-22 11:26] tuncatunc commented on #781
I had the same problem before. With WSL you'll be using gcc instead of Microsoft VS

[2022-02-22 11:31] bolshoytoster commented on #781
@tuncatunc fair enough.

[2022-02-22 11:41] VikasGoyal0806 commented on #686
@bolshoytoster

I am facing almost similar issue. I deleted the readymade layers and added my own layers and tried to generate the images. This is the below result:

PS D:\NFT_Project\Hashlips\hashlips_art_engine-1.1.2_patch_v5(1)> npm run generate

node:internal/fs/utils:344
    throw err;
    ^

Error: EEXIST: file already exists, mkdir 'D:\NFT_Project\Hashlips\hashlips_art_engine-1.1.2_patch_v5

[2022-02-22 11:44] bolshoytoster commented on #686
@VikasGoyal0806 you could try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-02-22 11:49] williamoliver107 commented on #786
Somebody?

[2022-02-22 12:16] klibansky opened #788 "Update documentation "Metadata from colors""
In the latest release notes I see that you can output/include meta-data based on colors however I cannot find anything about that in the documentation.
I'm not a dev so don't know exactly how it works so perhaps someone can include it.

[2022-02-22 12:29] VikasGoyal0806 commented on #686
@bolshoytoster

Thanks! It worked. Above error did not come up. But when I proceeded, it gave below error:

PS D:\NFT_Project\Bolshoytoster\hashlips_art_engine-main> npm run generate

Edition exists!
Edition exists!
Edition exists!
Edition exists!
Edition exists!
D:\NFT_Project\Bolshoytoster\hashlips_art_engine-main\src\main.js:343
  let metadata = metadataList.find((meta) => meta.custom_fields.ed

[2022-02-22 12:33] bolshoytoster commented on #686
@VikasGoyal0806 strange, that code doesn't exist in my repo. Could you try downloading it again?

[2022-02-22 18:09] hashisyumy commented on #774
[](https://user-images.githubusercontent.com/99926197/155186449-55c83c3f-6086-44a9-9c04-857e264c0a77.png)hey again
I am getting that errors.I check my layers twice and they matched but still, I got an error.(I save it also)

hashlips_art_engine@1.1.1 generate
node index.js

{path} doesn't exist, make sure your layers/ folder matches your src/config.js

here is the folders
![image](https://user-ima

[2022-02-22 18:24] bolshoytoster commented on #774
@hashisyumy can you add a `$` before the `{path}` at ~line 87 i. `src/main.js`. It should be `${path}`. Then it will tell you which layer it can't find.

[2022-02-22 18:28] hashisyumy commented on #774
error is in bacground
C:\Users\OnurPC\Downloads\hashlips_art_engine-mainbra2743\hashlips_art_engine-main/male/Background/ doesn't exist, make sure your layers/ folder matches your src/config.js
PS C:\Users\OnurPC\Downloads\hashlips_art_engine-mainbra2743\hashlips_art_engine-main>

[2022-02-22 18:32] hashisyumy commented on #774
But look like the background is the same  in the layer folder

[2022-02-22 18:35] bolshoytoster commented on #774
@hashisyumy if you look at the error, it can't find `male/Background`. I think you've probably understood `layerConfiguration` wrong, but I probably have as well.

If you want a lazy solution: copy the folders from `layers/` to `male/`.

[2022-02-22 18:44] GuiSamaaa commented on #768
I'm facing the same issue. I'm trying to figure it out.

[2022-02-22 18:52] hashisyumy commented on #774
Ok I did it 2 parts build1 for male build2 for female my other question is how I can upload to Solanart male and female mix just one or 2 male next to female I don't want to upload female and male separate
Not: I never try to upload to Solanart just make it sure and generate correctly before uploading.

[2022-02-22 19:12] SorinIScintei commented on #355
@bolshoytoster @chudney thank you, guys. The generate function worked after I've set the rarity of each layer.

[2022-02-22 19:32] bolshoytoster commented on #774
@hashisyumy

## boys first, then girls

if you don't mind regenerating one set, my repo has functionality to start a collection from a certain number.

- Delete the existing build folder for the one you want to have the higher numbers. Add `startEditionFrom: ` + the number of items in the first set, change `growEditionSizeTo` to the size of the complete set then generate again.

## mix layer numbe

[2022-02-22 19:57] GuiSamaaa commented on #768
Wow, I got it. You need to convert the images to 8-bit.
/o/

[2022-02-22 20:00] hashisyumy commented on #774
Can I change also that part in main.js?
const buildDir = `${basePath}/build2`;
const layersDir = `${basePath}/female`;
If I do one part how can I switch the items for girls and boys
One example that's for some items
{
    growEditionSizeTo: 260,
    layersOrder: [
      {name: "background" },
      {name: "weapon" },
      {name: "base" },
      {name: "eyepatch" },
      {name: "hair" },
      {n

[2022-02-22 20:14] bolshoytoster commented on #774
@hashisyumy

You don't need to.

Next to `growEditionSizeTo`.

[2022-02-22 20:23] hashisyumy commented on #774
Is that not correct I guess
![image](https://user-images.githubusercontent.com/99926197/155212898-07428f9c-cc62-42dc-a383-52ab79b23ca5.png)

[2022-02-22 21:01] bolshoytoster commented on #774
@hashisyumy you need a comma at the end of the line.

[2022-02-22 21:37] hashisyumy commented on #774
I want male 3333 and girl 3333 so startEditionFrom: will be 3333 or the same number from growEditionSizeTo.
I have so many different variations of items set so all of them I add and make it like this. Is that correct?

growEditionSizeTo: 70, startEditionFrom:70,
    layersOrder: [
      {name: "background" },
      {name: "weapon" },
      {name: "base" },
      {name: "face" },
      {name: "hair

[2022-02-22 21:43] bolshoytoster commented on #774
@hashisyumy the numbers accumulate, i.e.
1. `growEditionSizeTo: 70` && `startEditionFrom: 0` (you can omit it `startEditionFrom`)
2. `growEditionSizeTo: 150` && `startEditionFrom: 71` (creates 80)
3. `growEditionSizeTo: 240` && `startEditionFrom: 151` (creates 90)

[2022-02-22 21:50] hashisyumy commented on #774
so that way first I will generate girls and later boys. How can I make it in one folder? Or there is no way to make it 1 folder because they have different items and
Is this way work like I guess 1 to 10 boys 10 to 20 girls in different folders. Is that correct?

[2022-02-22 22:00] bolshoytoster commented on #774
@hashisyumy they end up in the same folder.

[2022-02-22 22:09] hashisyumy commented on #774
So if I make like that.I will have started with 15 boys and started with 30 boys again. And I change to girls' main.js.And calculate from there and generate it that's what I get it.
How can I make number 1 girl 2 girl 3 boy 4 boy 5 boy 6 girl 7 boy etc.
My way in the down its look hard to make 6000 picture.
{
    growEditionSizeTo: 30, startEditionFrom:15,
    layersOrder: [
      {name: "backgrou

[2022-02-22 22:19] bolshoytoster commented on #774
@hashisyumy

Merge your boy's `layerConfiguration` and the girl's `layerConfiguration` and make sure `shuffleLayerConfigurations` is `true` (it looks like it already is from the screenshot)

[2022-02-22 22:33] hashisyumy commented on #774
How can I merge the boy's layerConfiguration and the girl's layerConfiguration?
They have different items. In main.js I do the first female and than the male that way I can't merge them as one.

[2022-02-22 22:47] Emma071189 commented on #632
Hi anybody resolved this?

[2022-02-22 23:12] bolshoytoster commented on #774
@hashisyumy you could change `layersDir` to just ``` `${basePath}` ``` and prefix the layer names with either `male/` or `female/`.

The resulting metadata files would have `male/`/`female/` in them as well, you might be able to get rid of them with:
[code]

[2022-02-22 23:17] hashisyumy commented on #774
foreach($file in Get-ChildItem build/json) {(((Get-Content build/json/$file -Raw) -replace 'female/','') -replace 'male/','') | Set-Content build/json/$file}

Where can I add that codes config.js or main.js

[2022-02-22 23:23] bolshoytoster commented on #774
@hashisyumy run it in the powershell prompt in visual studio.

[2022-02-22 23:44] hashisyumy commented on #774
@bolshoytoster
I change main.js like this
const buildDir = `${basePath}/build2`;
const layersDir = `${basePath}`;

and I wrote in terminal (right side was pointed +powesell) copy your code and paste.
I get again same error

C:\Users\OnurPC\Downloads\hashlips_art_engine-mainbra2743\hashlips_art_engine-main/background/ doesn't exist, make sure your layers/ folder matches your src/config.js
My layers

[2022-02-22 23:54] bolshoytoster commented on #774
@hashisyumy you ned to add `female/` or `male/` to the layer names (in `layersOrder`). (e.g. `background` would be `male/background`).

[2022-02-23 00:00] buhduhzah commented on #219
same

[2022-02-23 00:09] bolshoytoster commented on #219
@buhduhzah what is your issue?

[2022-02-23 00:38] hashisyumy commented on #774
I did all fine more girl same boy generated but its about maybe girl rarity the problem just json file looks not that looks good.
I copy your code and generate but is same.
thats one of json file.
 {
      "trait_type": "male/background",
      "value": "background20"
    },
    {
      "trait_type": "male/weapon",
      "value": "weapon10"
    },
    {
      "trait_type": "male/base",
      "valu

[2022-02-23 00:49] bolshoytoster commented on #774
@hashisyumy Ah, since your metadata is in `build2/json` instead of `build/json` you should run this instead:
[code]

[2022-02-23 04:03] NyamumboC commented on #714
throw err;
    ^

Error: ENOENT: no such file or directory, open 'C:\Users\x380 Yoga\OneDrive\Desktop\hashlips_art_engine-main/build/json/_metadata.json'
    at Object.openSync (node:fs:585:3)
    at Object.readFileSync (node:fs:453:35)
    at Object.<anonymous> (C:\Users\x380 Yoga\OneDrive\Desktop\hashlips_art_engine-main\utils\update_info.js:14:18)
    at Module._compile (node:internal/modules/c

[2022-02-23 04:04] NyamumboC commented on #714
Guys, what is the best way to solve this error?

[2022-02-23 05:08] kelvin-zhao commented on #787
@bolshoytoster 14.19.0 worked! Thank you~

[2022-02-23 10:00] wyrw opened #789 "Preview png amount of pictures"
Hi everyone, can you help me with this task? I have collection with 10k pictures, dont want to create a preview with whole collection only with chosen ones, or the same colors ones, or simply just first 30 from 10k collection. Is it possible?

[2022-02-23 10:27] bolshoytoster commented on #714
@NyamumboC can you run `Get-ChildItem` in the powershell you ran `node utils/update_info.js` in and send me the output please.

[2022-02-23 10:35] bolshoytoster commented on #789
@wyrw hashlips doesn't support this; you could create a dummy `build/json/_metadata.json` file with only the images you want (make a backup of the original file).

[2022-02-23 10:42] wyrw commented on #789
thanks man!

[2022-02-23 10:42] #789 closed

[2022-02-23 14:59] kisbalazspatrik opened #790 "GIF export unsupported file type"
Hi!

Whenever i export GIF files (with config gif toggle aswell), it creates a 0 byte file and it says unsupported file type.

[2022-02-23 15:09] bolshoytoster commented on #790
@kisbalazspatrik could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine). It won't fix it but it'll give a more informative error message.

[2022-02-23 19:55] hashisyumy commented on #774
Yesterday I did with code and its girls and boys together and today again became same when  I generate this morning
The last generate series was a full girl not any boy and the JSON file again became "male/base". Trying it a long time but still the same

[2022-02-23 20:12] bolshoytoster commented on #774
@hashisyumy

Just run the comand again.

Did you want this or was this what happened?

[2022-02-23 20:18] hashisyumy commented on #774
@bolshoytoster

No, I want the girl and boy same number in the build folder.Just happen again.

What do you mean just do in Powershell again?

[2022-02-23 20:21] bolshoytoster commented on #774
@hashisyumy

Can you paste your `src/config.js` here please.

Yes.

[2022-02-23 21:05] hashisyumy commented on #774
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-02-23 21:15] bolshoytoster commented on #774
@hashisyumy the male and female configurations should be in different objects.

[2022-02-23 21:17] hashisyumy commented on #774
@bolshoytoster
How can I fix that? Should I separate them?

[2022-02-23 21:20] bolshoytoster commented on #774
@hashisyumy yes, instead of:
[code]
Write:
[code]

[2022-02-23 21:28] hashisyumy commented on #774
Now only male generated and Json files still same.

[2022-02-23 21:30] bolshoytoster commented on #774
@hashisyumy can you paste your current `src/config.js` please.

[2022-02-23 21:31] hashisyumy commented on #774
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-02-23 21:46] bolshoytoster commented on #774
@hashisyumy how many inamges does it generate?

[2022-02-23 21:53] hashisyumy commented on #774
I did not wait at all but around 200 images were generated and there was no any girl so I stopped.
I want to generate 6000 images.

[2022-02-23 22:00] bolshoytoster commented on #774
@hashisyumy if you add `console.log(i)` on line 416 of `src/main.js` does `node index.js` return the numbers in order or shuffled?

[2022-02-23 22:07] hashisyumy commented on #774
@bolshoytoster
I add console.log(i) and generate 200 again there was no girl still all the boys generated.

[2022-02-23 22:08] bolshoytoster commented on #774
@hashisyumy it wasn't meant to fix anything, were the output numbers in order or shuffled?

[2022-02-23 22:13] hashisyumy commented on #774
it's shuffled  I guess.
![image](https://user-images.githubusercontent.com/99926197/155417811-1e7b02a7-e863-44ef-a3bd-10faf389d403.png)

[2022-02-23 22:15] bolshoytoster commented on #774
@hashisyumy change `const layers = layerArray[abstractedIndex];` on line 415 to `const layers = layerArray[i];`.

[2022-02-23 22:19] anthonysilvar opened #791 "Error: ENOENT: no such file or directory, scandir"
Please help me with a simple issue:
-In shortcut. I wanted to generate a couple of NFTs. I have all of my layers done and I followed step by step the exact process from the hashlips guy on youtube (how to create an NFT collection - ultimate guide). On the photo connected to this you can see that I'm using the default code that was on Github even with the same layers.
-I did the following: npm inst

[2022-02-23 22:28] hashisyumy commented on #774
@bolshoytoster
It generates boys and girls together thanks last things  I need to find a way to change the JSON file if you saying the only way to put that code I will keep trying that.

foreach($file in Get-ChildItem build/json) {(((Get-Content build/json/$file -Raw) -replace 'female/','') -replace 'male/','') | Set-Content build/json/$file}

[2022-02-23 23:24] kkevin6000 opened #792 "Syntax Error: unexpected token . line 94 in main.js"
When I run the node index.js command, there is a syntax error:

 node index.js
C:\Users\Kevin\Documents\Programming Demos\hashlips_art_engine\src\main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token '.'
←[90m    at wrapSafe (internal/modules/cjs/loader.js:1053:16)←[39m
←[90m    at Module._compile (internal/modules/cjs/loader.js:110

[2022-02-24 00:06] bolshoytoster commented on #792
@kkevin6000 update your node.

[2022-02-24 03:40] Sevenrex opened #793 "Will this be able to detect dupes?"
Hi! im just new here and i was wondering if this will be able to detect dupes and wont make them?

i have a random amount of traits per each type ranging from 7-10 and i plan on generating around 3-5k nfts. will that be suffice?

[2022-02-24 08:18] anthonysilvar commented on #791
Doesn't work.

[2022-02-24 09:48] bolshoytoster commented on #791
@anthonysilvar the error is because it looks for a layer called `Main` but can't find it. You could create an empty `layers/main` to satisfy it.

[2022-02-24 11:24] Zachkes opened #794 "Generate metadata"
Hi, I am totally new to coding and have been learning how to use this from YouTube.

I generated 7000 collection, deleted some error images and I tried to generate my metadata again by using the ‘npm run generate_metadata” in utility.

It failed, and now all the json files are gone, and I received the message Killed: 9

Really appreciate if anyone could help. Thanks.

[2022-02-24 11:41] bolshoytoster commented on #793
@Sevenrex yes.

[2022-02-24 11:41] bolshoytoster commented on #794
@Zachkes can you paste the full error please.

[2022-02-24 12:09] Zachkes commented on #794
Hi @bolshoytoster , thanks for replying.

Killed: 9

That is the error, nothing else, that is the only msg or words after I typed in npm run generate_metadata

[2022-02-24 12:21] bolshoytoster commented on #794
@Zachkes `killed: 9` means that the OS killed the process. It might be fixed by rebooting.

[2022-02-24 13:31] anthonysilvar commented on #791
-The screenshot is probably without saved layers. On the image below there is the right one (with saved config and layers, right layers, and installed npm).
-There you can also see that the code is looking for layer Black #1 and can not find it but it is clearly there.
![2022-02-24 (1)](https://user-images.githubusercontent.com/100318136/155533079-1bd7664c-6893-4fab-a262-65432932bfab.png)

[2022-02-24 14:57] bolshoytoster commented on #791
@anthonysilvar sometimes there can be issues when you have the project in the `OneDrive` folder. Try moving it elsewhere.

[2022-02-24 15:24] ArtistanVillage commented on #736
I tried all the methods, It's not working  :-(

[2022-02-24 16:24] kkevin6000 commented on #792
Thanks, that worked

[2022-02-24 16:24] #792 closed

[2022-02-24 18:40] hashisyumy opened #796 "How can I calculate rarity"
How I can calculate rarity from items. I saw the video calculating rarity with the calculator I can't find the video again. Does anyone can help me with that issues.

[2022-02-24 18:42] bolshoytoster commented on #796
@hashisyumy `node utils/rarity.js`?

[2022-02-24 18:55] hashisyumy commented on #796
@bolshoytoster
One example I have 5 items in the hair folder and I would like to calculate and write it exactly fit in the property.
that's what I do in the image down (#15) and how it can calculate for the property page. Like %20 hair or %30 weapons etc.
How I can do this calculating before I upload.
![image](https://user-images.githubusercontent.com/99926197/155588922-281d7cde-bd40-4873-8d9b-ccf

[2022-02-24 19:52] anthonysilvar commented on #791
Appreciate your help, but still nothing. Any other ideas? :/
![2022-02-24 (3)](https://user-images.githubusercontent.com/100318136/155596968-103873c0-37ed-4f0f-beaa-f38ce57de7f8.png)

[2022-02-24 21:04] hashisyumy opened #797 "Javascript error"
#
# Fatal error in , line 0
# Fatal JavaScript invalid size error 169220804
#
#
#
#FailureMessage Object: 0000004D2B9EE910
 1: 00007FF71F087B7F v8::internal::CodeObjectRegistry::~CodeObjectRegistry+114079
 2: 00007FF71EFA25AF std::basic_ostream<char,std::char_traits<char> >::operator<<+65023
 3: 00007FF71FC82772 V8_Fatal+162
 4: 00007FF71F8065C5 v8::internal::FactoryBase<v8::internal::Factory>::Ne

[2022-02-24 21:06] hashisyumy commented on #774
that's the last error I got this morning I didn't change anything and that's happening when I write npm run generate

#FailureMessage Object: 0000004D2B9EE910
1: 00007FF71F087B7F v8::internal::CodeObjectRegistry::~CodeObjectRegistry+114079
2: 00007FF71EFA25AF std::basic_ostream<char,std::char_traits >::operator<<+65023
3: 00007FF71FC82772 V8_Fatal+162
4: 00007FF71F8065C5 v8::internal::FactoryBasev

[2022-02-24 21:25] bolshoytoster commented on #797
@hashisyumy you might have luck downgrading node.

[2022-02-24 21:51] hashisyumy commented on #797
@bolshoytoster
How can I make that?

[2022-02-24 21:58] bolshoytoster commented on #797
@hashisyumy I'm not sure what versions will work, but you can look [here](https://nodejs.org/download/release/) and try a few different versions.

[2022-02-24 22:29] parsadevuk commented on #626
typo error. Do not use " ' " instead use " ` "

[2022-02-24 22:33] hashisyumy commented on #797
@bolshoytoster
I download and install v17.6.0 and am still I get errors.I have a windows x64 system.
Which one I can download?

[2022-02-24 22:56] bolshoytoster commented on #797
@hashisyumy I don't know which one, **down**grade until you find a version that works.

[2022-02-24 23:07] hashisyumy commented on #797
@bolshoytoster
I downloaded many of that but now I have problems with chocolatey I guess.
![image](https://user-images.githubusercontent.com/99926197/155622663-568427d8-a0c7-4bb3-9de7-a3403e81812d.png)

[2022-02-24 23:12] bolshoytoster commented on #797
@hashisyumy can you paste the choclatey log file please.

[2022-02-24 23:12] Thannatos1 commented on #791
extracts in program file and tries to open the folder

[2022-02-24 23:36] hashisyumy commented on #797
[chocolatey.log](https://github.com/HashLips/hashlips_art_engine/files/8137251/chocolatey.log)
that's the log I guess

[2022-02-25 00:09] bolshoytoster commented on #797
@hashisyumy it looks like you're trying to upgrade visual studio and choclatey. Visual Studio is already the most recent version and you need to run `choco upgrade choclatey` to upgrade choclatey.

[2022-02-25 00:12] hashisyumy commented on #797
@bolshoytoster
I just write that code in Visual Studio and it give that error.
choclatey not installed. The package was not found with the source(s) listed.
 Source(s): 'https://community.chocolatey.org/api/v2/'
 NOTE: When you specify explicit sources, it overrides default sources.
If the package version is a prerelease and you didn't specify `--pre`,
 the package may not be found.
Please see htt

[2022-02-25 00:24] KimberleyRose commented on #419
I was using an older version but a pop up came up saying it was capped at 5000 for tokenisation/wrapping, clicked on it and changed it to 10000 and also check you have pressed  save! Also check you are running the right command for the utils folder. Mine was node utils/updateBaseUri.js (this may have changed with newer versions).

[2022-02-25 00:24] bolshoytoster commented on #797
@hashisyumy if you're having problems with choclatey, create an issue on [their repo](https://github.com/chocolatey/choco/issues). I've never used it before.

[2022-02-25 00:58] hashisyumy commented on #797
@bolshoytoster
Do you know that error.
npm : The term 'npm' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was inc
luded, verify that the path is correct and try again.
At line:1 char:1
+ npm run generate
+ ~~~
    + CategoryInfo          : ObjectNotFound: (npm:String) [], CommandNotFoundException
    + FullyQuali

[2022-02-25 01:58] hashisyumy opened #798 "package.json file not error"
I having that error and how can I fix that.
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\OnurPC\Downloads\hashlips_art_engine-mainbra2743/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\OnurPC\Downloads\hashlips_art_engine-mainbra2743\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR!

[2022-02-25 02:00] #798 closed

[2022-02-25 02:16] hashisyumy opened #799 "#FailureMessage Object: 00000030BD3CE460"
I have that error how can I fix it .

#
# Fatal error in , line 0
# Fatal JavaScript invalid size error 169220804
#
#
#
#FailureMessage Object: 00000030BD3CE460
 1: 00007FF79E931B4F v8::internal::CodeObjectRegistry::~CodeObjectRegistry+115135
 2: 00007FF79E84EA2F std::basic_ostream<char,std::char_traits<char> >::operator<<+64591
 3: 00007FF79F612432 V8_Fatal+162
 4: 00007FF79F184D85 v8::internal::

[2022-02-25 02:27] NFTapparel commented on #419
Yes this info worked for me node utils/update_info.js

[2022-02-25 02:34] CarlBainbridge commented on #626
Hmm I always questioned that, however I cannot find that symbol on any of my apple keyboards

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: parsadevuk ***@***.***>
Sent: Thursday, February 24, 2022 6:29:27 PM
To: HashLips/hashlips_art_engine ***@***.***>
Cc: Carl Bainbridge ***@***.***>; Comment ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] No such fi

[2022-02-25 02:52] Zachkes commented on #794
@bolshoytoster I tried rebooting but still get the same message T.T

is it because the collection is too big, 6666 images?

[2022-02-25 05:34] randytorres opened #800 "Collection is generating more than desired"
I am trying to generate a 10k collection with the below config but it's generating way to many. It's going over 26k and I'm not sure what the issue is.

[code]

[2022-02-25 05:54] AdityaNikhil opened #801 "Some layers are GIFs but are generated as images"
Is there any way I can generate GIF layers as it is instead of images?

[2022-02-25 07:20] GGSargsyan opened #802 "Backgrounds do not change"
I'm seeing something odd where the backgrounds do not change. I have four different colored backgrounds: blue, navy, orange, and purple. They are 3470 by 5000 pixels in size and I set the width and height in my config.js to be 347 and 500 respectively.

The program only uses the first background from the folder which is Blue because it is ordered alphabetically. I even tried running the program wi

[2022-02-25 07:21] GGSargsyan commented on #802
I have also tried assigning bypassDNA to options in layersOrder with no luck.

[2022-02-25 07:29] #802 closed

[2022-02-25 07:29] GGSargsyan commented on #802
I realized my mistake, please ignore.

[2022-02-25 11:12] bolshoytoster commented on #626
@CarlBainbridge it should be in the top left, if not you can copy/paste them.

[2022-02-25 11:19] julienrosario opened #803 "Only 5 nfts generate"
Hello, i only have 5 nft genereted. I change growEditionSizeTo: 5 to 100 but nothings. have you an idee?

[2022-02-25 12:46] bolshoytoster commented on #794
@Zachkes could you try again on [this branch](https://github.com/bolshoytoster/hashlips_art_engine/tree/log_overkill). It won't fix the error but it will give more logs, could you send the full output of it please.

[2022-02-25 12:48] bolshoytoster commented on #800
@randytorres it's because hashlips lazily takes the `growEditionSizeTo` from the last edition and uses that for all of them. You could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead which does it properly.

[2022-02-25 12:50] bolshoytoster commented on #803
@julienrosario have you saved your `src/config.js` file? Some people have similar issues because of this.

[2022-02-25 12:53] bolshoytoster commented on #802
@GGSargsyan [in future, you should say what your mistake was so anyone that has the same issue can fix their mistake more easily.](https://xkcd.com/979/)

[2022-02-25 13:58] WhyUBullyMeNFT commented on #755
Hello, I have the same problem. If you solved this please tell me how or if anybody knows what to do please educate me. Thanks

[2022-02-25 14:35] Priyarajsinh opened #804 "NFTs are not generating."
Everything I did correctly and build folder is also coming, but main problem is this that no images are generated, only folder is generate every single time . Please help me with this problem . I used v.1.0.6 version

[2022-02-25 15:25] Hassaanshabbir opened #805 "images not generating well."
I am getting strange issue with the art engine. It start generating the images but its color is completely irrelevant and completely make the object as an( old tv screen not working). I also tried by doing it with other images but at that time it worked well.
So i am not getting that how to solve it. So is there any one who have same issue and solved it. Just need help.
![Screenshot 2022-02-23 201

[2022-02-25 15:25] bolshoytoster commented on #755
@WhyUBullyMeNFT you need to make sure your layer names match the folder names exactly (case-sensitive as well).

[2022-02-25 15:28] bolshoytoster commented on #804
@Priyarajsinh is the output when you're generating normal (`Created edition: x, with DNA: y`/`Edition exists!`)

[2022-02-25 15:47] Rafiqjalalia opened #806 "Hi dear please guide me how to resolve this problem"
when ever i want to run node index.js the following error messages apears.
code: 'MODULE_NOT_FOUND',
  requireStack: [
    'C:\\Users\\Muhammad.Rafiq Khan\\Desktop\\hash_lips\\hashlips_art_engine-main\\node_modules\\canvas\\lib\\bindings.js',
    'C:\\Users\\Muhammad.Rafiq Khan\\Desktop\\hash_lips\\hashlips_art_engine-main\\node_modules\\canvas\\lib\\canvas.js',
    'C:\\Users\\Muhammad.Rafiq Khan

[2022-02-25 16:02] bolshoytoster commented on #806
@Rafiqjalalia you could try deleting the `node_modules` folder and running `npm`/`yarn` `install`.

[2022-02-25 16:09] Rafiqjalalia commented on #806
Thanks for your guidence but it does not run it shows error
Unknown command: "/yarm"

[2022-02-25 16:33] Priyarajsinh commented on #804
I dont know what that means but, you tell me what to do next to generate nft collection easily . Please help me

[2022-02-25 16:37] bolshoytoster commented on #804
@Priyarajsinh what does it say when you run `node index.js`.

[2022-02-25 16:40] Rafiqjalalia commented on #806
Thanks module folder created but it shows this type of erros
npm ERR! node-pre-gyp ERR! node -v v16.14.0
npm ERR! node-pre-gyp ERR! node-pre-gyp -v v1.0.6
npm ERR! node-pre-gyp ERR! not ok
 index .js also shows the error
Error: Cannot find module 'C:\Users\Muhammad.Rafiq Khan\Desktop\hash_lips\hashlips_art_engine-main/node_modules/sha1'
Require stack:
- C:\Users\Muhammad.Rafiq Khan\Desktop\hash_li

[2022-02-25 16:43] bolshoytoster commented on #806
@Rafiqjalalia try running `yarn install` if you have yarn - or `npm install` if you don't.

[2022-02-25 17:12] AdityaNikhil commented on #355
Though I set the rarity, it doesn't work... Any other solutions?

[2022-02-25 17:15] bolshoytoster commented on #355
@AdityaNikhil try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine), it probably won't fix it but it'll give a more informative error.

[2022-02-25 17:25] Priyarajsinh commented on #804
C:\Users\priya\Downloads\hashlips_art_engine-1.0.6_update\hashlips_art_engine-1.0.6_update>node index.js
C:\Users\priya\Downloads\hashlips_art_engine-1.0.6_update\hashlips_art_engine-1.0.6_update\src\config.js
C:\Users\priya\Downloads\hashlips_art_engine-1.0.6_update\hashlips_art_engine-1.0.6_update\src\main.js:54
  var dna = Number(_str.split(":").shift());
                        ^

TypeError: C

[2022-02-25 17:29] bolshoytoster commented on #804
@Priyarajsinh try using a more recent version.

[2022-02-25 17:45] Priyarajsinh commented on #804
I tried in latest version , tell me  if i did something  wrong

C:\Users\priya\Downloads\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5>npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old l

[2022-02-25 18:04] bolshoytoster commented on #804
@Priyarajsinh there should be a `modules/` folder. Try downloading the full zip again. Also you only need to run `npm install` of `yarn install`, not both.

[2022-02-25 18:12] Priyarajsinh commented on #804
I tried in latest version , but i did not change anything and i run npm install and then node index.js and pics were generated . Then i increased number of images to 10 but , it generated only 5 pics\s . Then i decreased number of images to 2 , then also it genertaed 5 images . But every time images were of different combinations . So tell me how to increase number of images.

[2022-02-25 18:33] bolshoytoster commented on #804
@Priyarajsinh can you paste your `src/config.js` please.

[2022-02-25 18:35] AdityaNikhil commented on #355
@bolshoytoster Setting the rarity works but am afraid there are 100s of images and it's tedious to rename every file right now. Will your code work without providing rarity?

[2022-02-25 18:37] bolshoytoster commented on #355
@AdityaNikhil yes, in my repo, if all images in a layer don't have a rarity it will just pick a random one.

[2022-02-25 18:39] AdityaNikhil commented on #355
@bolshoytoster Great, will try that and do you have any solution for this [issue](https://github.com/HashLips/hashlips_art_engine/issues/801) I opened today?

[2022-02-25 18:50] bolshoytoster commented on #355
@AdityaNikhil no, sorry.

[2022-02-25 19:16] vuxxea opened #807 "Nfts's with hidden metadata uploaded to opensea dont have #'s reflecting the token ID"
First off simply amazing. Not only Daniel from Haslips who is obviously incredibly generous, but this entire community. I, someone with zero coding experience, was able to create an entire 10k collection, create a contract, and deploy to Opensea thanks to yall's willingness to problem solve. From the bottom of my heart, thank ya'll.

I do have one question though. I have my collection, I'm minting

[2022-02-25 20:39] Kresoart opened #808 "Sinchronize different layers"
Lets say i have a layer with different hairstyles and one with different beards and i want if the hair is brown to only look at brown beards is there a way to do it

[2022-02-25 20:40] Eluwsive commented on #355
@bolshoytoster Im using your fork but i get this error Error: EACCES, Permission denied 'D:\downies\hashlips_art_engine-main/layers/Background/PNG'

[2022-02-25 21:26] cryptocraig-nft commented on #736
Hi, I've been having the same issue. I have no idea but maybe this info could give someone with more coding knowledge a clue? I thought I'd try an earlier version, I ran a test and it worked. When I then produce my own artwork this is when the problem occurs. This makes me think it's not an issue with (main.js row 136 is file_url: ${baseUri}/${_edition}.png).

I believe it's when generating your o

[2022-02-25 21:51] bolshoytoster commented on #355
@Eluwsive can you paste the full error please.

[2022-02-25 22:07] theHighLibrarian commented on #355
FYI. My issue was fixed by using the exact same file names as you used.

[2022-02-25 22:40] cryptocraig-nft commented on #597
Hi Everyone, Im having the same issue but running on mac. I have added the cid to the baseUri, then ran: node utils/update_info.js, I get a message back saying its updated but nothing changes in the json files.

I downloaded an earlier version, ran a test and everything works fine but as soon as I generate images and json files, then do the process the same issue occurs.

I also tied downloading a

[2022-02-25 23:07] nilolalolal opened #809 "Can't generate more that 5 images"
Hey guys, I don't know coding but I'm trying to generate collection for the first time. I'm using Hashlips original layers to test myself and I follow all his steps but when I change edition size form 5 to any number, it still generates 5 images.

PS C:\Users\Nikola\Desktop\hashlips_art_engine-1.1.2_patch_v5> npm run generate

(node:2428) [DEP0147] DeprecationWarning: In future versions of Node.js

[2022-02-25 23:10] bolshoytoster commented on #809
@nilolalolal can you paste your `src/config.js` and make sure it's saved.

[2022-02-25 23:12] nilolalolal commented on #809
Can you please explain me more, about how to do it?
how, where

[2022-02-25 23:14] bolshoytoster commented on #809
@nilolalolal copy the contents of the file and paste them here in backticks:
\`\`\`js
Paste here
\`\`\`

[2022-02-25 23:18] nilolalolal commented on #809
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-02-25 23:21] bolshoytoster commented on #809
@nilolalolal in that, it looks like you have `growEditionSizeTo` set to five anyway.

[2022-02-25 23:24] nilolalolal commented on #809
const basePath = process.cwd();
const { MODE } = require(`${basePath}/constants/blend_mode.js`);
const { NETWORK } = require(`${basePath}/constants/network.js`);

const network = NETWORK.eth;

// General metadata for Ethereum
const namePrefix = "Your Collection";
const description = "Remember to replace this description";
const baseUri = "ipfs://NewUriToReplace";

const solanaMetadata = {
  symbol

[2022-02-25 23:27] bolshoytoster commented on #809
@nilolalolal have you made sure to save the file (`ctrl` + `s`) before generating again.

[2022-02-25 23:32] nilolalolal commented on #809
No, I haven't.
And yeah, it's working now..
Thanks A lot and sorry !

[2022-02-25 23:34] hashisyumy opened #810 "layerObj.options?.["displayName"] != undefined"
I am getting that error.Does anybody know how can I fix that?

  layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Module.load (internal/modules/cjs/loader.js:653:32)
    at tryModuleLoad (internal/

[2022-02-25 23:37] bolshoytoster commented on #810
@hashisyumy you'll need to upgrade node again, this is supported in node v14 and higher.

[2022-02-25 23:46] hashisyumy commented on #810
@bolshoytoster
I download so many node still the same Let me download v14 one more time and back to you thanks

[2022-02-25 23:50] TelmoFrancisco opened #811 "Repeat more than one trait on layer"
Hi,

Is there possible to add more than one trait per layer?
For example:

const layerConfigurations = [
  {
    growEditionSizeTo: 4700,
    layersOrder: [
      { name: "card" },
      { name: "attributes" }
    ],
  },

For this case I want only one card, but i could add everything inside attributes. ex:
"attributes": [
    {
      "trait_type": "card",
      "value": "CARD1"
    },
    {

[2022-02-25 23:52] bolshoytoster commented on #810
@hashisyumy I've also just added support for older node versions in [my repo](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-02-26 00:08] hashisyumy commented on #810
@bolshoytoster
Its was working before with lastest version in node.js why its just happen I don't no: I will look your repo definitly.

[2022-02-26 00:43] hashisyumy commented on #810
I get this error I read on the internet maybe I need to change V8 space make it 8gb or still node version error

#
# Fatal error in , line 0
# Fatal JavaScript invalid size error 169220804
#
#
#
#FailureMessage Object: 000000B8180FE4E0
 1: 00007FF6B2B91B4F v8::internal::CodeObjectRegistry::~CodeObjectRegistry+115135
 2: 00007FF6B2AAEA2F std::basic_ostream<char,std::char_traits<char> >::operator<<+

[2022-02-26 04:11] SuperGeniusSidhant10 commented on #597
Use macro instead

[2022-02-26 05:21] Priyarajsinh commented on #804
now it's generating perfectly , i saw your comment on another issue ans i saved it first and then , it works perfectly

[2022-02-26 05:21] Priyarajsinh commented on #804
now it's generating perfectly , i saw your comment on another issue ans i saved it first and then , it works perfectly. Thanks a lot :)

[2022-02-26 11:02] deemount opened #812 "Fix for Apple M1 Chips (makes your Hashlips Art Engine working)"
1. Download the source and put it somewhere
2. Be sure using a nodejs version around v14.17.3. Manage your version with nvm, if you need to!
a) nvm install v14.17.3
b) nvm alias default v14.17.3
Be sure, you have no node version in your export path in zshrc
3. Canvas 2.8 failed to install (main reason why it's not working on m1)? Put in your zsh or bash:
`arch -arm64 brew install pkg-config cairo

[2022-02-26 12:36] bolshoytoster commented on #810
@hashisyumy I've just added a commit to the `log_overkill` branch on my repo. Can you try downloading [that](https://github.com/bolshoytoster/hashlips_art_engine/archive/refs/heads/log_overkill.zip) and send me the output of `node index.js` please.

[2022-02-26 13:26] Kugesz opened #813 "Missing layer"
So I have a really vierd issue. I want to genarete a collection size of 666 NFTs. And in the end results the skins of the character are missing sometimes, buit in the json files they have the proper value.

Can someone help me how can I fix that?

![2](https://user-images.githubusercontent.com/81580775/155844943-b667e732-a4fb-41fb-b100-0a253ad9e76b.png)
![Képkivágás](https://user-images.githubuser

[2022-02-26 13:29] bolshoytoster commented on #813
@Kugesz you could try exporting the `White.png` again from whatever editor you used.

[2022-02-26 13:47] Rafiqjalalia commented on #806
v16.14.0 not installing npm install it shows alot of errors i m stuck at this point .Changed node version now it shows the following message when i try to run npm install
npm ERR! node-pre-gyp ERR! node -v v16.14.0
npm ERR! node-pre-gyp ERR! node-pre-gyp -v v1.0.6
npm ERR! node-pre-gyp ERR! not ok
how to fix it please guide me

[2022-02-26 13:54] bolshoytoster commented on #806
@Rafiqjalalia can you paste all of the errors please.

[2022-02-26 14:08] Kugesz commented on #813
I tried to export again from Photoshop and it didnt worked

[2022-02-26 14:13] bolshoytoster commented on #813
@Kugesz is it just the `White.png` that isn't showing/ does it show in other images?

[2022-02-26 14:43] Rafiqjalalia commented on #806
thaks for replying bolshotoster here is the complete list
npm ERR! gyp ERR! node-gyp -v v8.4.1
npm ERR! gyp ERR! not ok
npm ERR! node-pre-gyp ERR! build error
npm ERR! node-pre-gyp ERR! stack Error: Failed to execute 'C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js configure --fallback-to-build --module=C:\Users\Muhammad.Rafiq Khan\De

[2022-02-26 14:44] Rafiqjalalia commented on #806
plus it is taking alot of time

[2022-02-26 15:08] Kugesz commented on #813
Its showing on other images its happens all of the types of sking but only with the skin

[2022-02-27 03:43] Rafiqjalalia commented on #806
so can you tell me latest  version of hash lips and js

[2022-02-27 05:25] santosh-kumar-kaushal opened #814 "How to know the rarest NFT after generating a collection ?"
I have generated 10K NFT with rarity, I want to know the rarity order how can I check that ?

Thanks

[2022-02-27 07:33] smartconvergence commented on #755
﻿
리눅스라면 ...
[FOR LINUX]
you're in the wrong folder. Run ls -Directory to get the name and run cd + the name. Then run npm run generate.

윈도우즈 비주얼 스투디오 code 라면
폴더 경로가 문제가 있어서 발생된 것이다. index.js 파일이 있는 폴더 경로 'vs code' 프로젝트 경로를 열고 시작하면 된다.

[FOR WINDOWS]
There is a problem with the folder path. You can start by opening the 'vs code' project path to the folder path where the index.js file is located.

[2022-02-27 11:43] bolshoytoster commented on #806
@Rafiqjalalia you can use any version of hashlips, you should use [node v16.14.0](https://nodejs.org/dist/v16.14.0/node-v16.14.0-x86.msi).

[2022-02-27 11:46] bolshoytoster commented on #755
@smartconvergence the "[FOR LINUX]" part actually only works on windows.

Also your answer isn't related to this question.

[2022-02-27 13:02] DrjavaB opened #815 "project does not run at all"
after cloning project and install the project does not run.
$ npm run preview

[code]

[2022-02-27 13:09] bolshoytoster commented on #815
@DrjavaB you have to generate the images (`npm run generate`) before you can preview them.

[2022-02-27 13:50] nancyyyy333 commented on #588
Having the same issue on both VS code and window

[2022-02-27 13:53] nancyyyy333 commented on #588
I know this sounds silly but click on the config file and save it again. Somehow it works for me!

[2022-02-27 14:05] #813 closed

[2022-02-27 14:39] 9dieg commented on #812
I tryed everything here, but still not working. I get this dlopen(/Users/*****/Desktop/hashlips_art_engine-main/node_modules/canvas/build/Release/canvas.node, 0x0001): symbol not found in flat namespace '_cairo_fill'

[2022-02-27 14:47] marcpre opened #816 "Mixup generated when running artengine"
Hello,

I have created my collection in photoshop and exported it the following way:

![image](https://user-images.githubusercontent.com/30902582/155886665-04656841-111e-4f76-8d4a-b125ccdb0003.png)

I have put everything in the right folders and renamed it with **#10.png**.

![image](https://user-images.githubusercontent.com/30902582/155887087-72c47714-a265-47e8-bc23-0edcb994667b.png)

When I run

[2022-02-27 15:01] bolshoytoster commented on #816
@marcpre make sure all images have the same aspect ratio and resolution.

[2022-02-27 16:48] chrisreymann opened #817 "syntax error ????"
i get this when i run terminal and have already tried uploading the files twice to a new file in visual studio code.
what should i do next ???
Apples-Air:hashlips_art_engine-1.1.2_patch_v5 apple$ node index.js
/Users/apple/Downloads/hashlips_art_engine-1.1.2_patch_v5/src/main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at

[2022-02-27 16:51] Rafiqjalalia commented on #806
nothing works for me i have tried almost 5 versions of node js and installed and reinstalled many times .What can i use instead of vs code .I installed brackets but it does not have terminal i used sublime text but there is also no terminal i am stuck but determine to compile the code please give me your valueable advice whether to switch on Linux install another verson of win 10  I am eagerly loo

[2022-02-27 17:21] bolshoytoster commented on #817
@chrisreymann upgrade node

[2022-02-27 17:22] bolshoytoster commented on #806
@Rafiqjalalia you could just use windows' command line/powershell.

[2022-02-27 18:10] hashisyumy commented on #810
@bolshoytoster
I downloaded and edited like before I got that ERRORS.

const basePath = process.cwd();
const { NETWORK } = require(`${basePath}/constants/network.js`);
const fs = require("fs");
const sha1 = require(`${basePath}/node_modules/sha1`);
node:internal/modules/cjs/loader:1181
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: Belirtilen modül bul

[2022-02-27 18:14] hashisyumy commented on #810
I change also that part and its generating codes not images and json files.
const buildDir = `${basePath}/build`;
console.log('const buildDir = `${basePath}/build`;');
const layersDir = `${basePath}`;
console.log('const layersDir = `${basePath}`');

[2022-02-27 18:20] bolshoytoster commented on #810
@hashisyumy

You need to run `npm install`

It's meant to do that. Can you copy/paste all of it here please.

[2022-02-27 18:29] hashisyumy commented on #810
@bolshoytoster
Yes I wrote npm install first and npm run generate and change this part .

const buildDir = `${basePath}/build`;
console.log('const buildDir = `${basePath}/build`;');
const layersDir = `${basePath}`;
console.log('const layersDir = `${basePath}`');
Generate that codes a  lot I just stop and copy some of this.

    ) {
      } else {
        abstractedIndexes.push(i);
        layerArr

[2022-02-27 18:35] bolshoytoster commented on #810
@hashisyumy does it still give the `Fatal JavaScript invalid size error 169220804` error?

[2022-02-27 18:36] hashisyumy commented on #810
@bolshoytoster
no just generating that codes

[2022-02-27 18:37] bolshoytoster commented on #810
@hashisyumy Can you paste the full output please.

[2022-02-27 18:48] Eluwsive commented on #736
@Cem802 That worked but it replaced everything but the file_url

[2022-02-27 18:52] hashisyumy commented on #810
@bolshoytoster
  addAttributes(_renderObject);
          );
          }
        renderObjectArray.forEach((renderObject, index) => {
const drawElement = (_renderObject, _index, _layersLen) => {
  ctx.globalAlpha = _renderObject.layer.opacity;
  ctx.globalCompositeOperation = _renderObject.layer.blend;
      );
const addAttributes = (_element) => {
  let selectedElement = _element.layer.selectedEle

[2022-02-27 18:58] bolshoytoster commented on #810
@hashisyumy it looks like the images should be made, at least the `build/json/_metadata.json`. If the images aren't in `build/images` you could try deleting the `build` folder and regenerating.

[2022-02-27 19:01] Eluwsive commented on #419
Still doesnt fix anything. For me, it replaces everything but "file_url"

[2022-02-27 19:04] KimberleyRose commented on #419
What comes up when you run it?  Also have you saved it after changing base uri?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 27 February 2022 19:01
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] Update BaseUri? Help pls (Issue #419)

Still doesnt fix anything. For me, it replaces everything but "f

[2022-02-27 19:09] hashisyumy commented on #810
@bolshoytoster
First, it generated when I just had one part of layersOrder like this. It was the same generating codes in the terminal but images were in the build folder.
But when I write all my layersOrder like more than 20 around it's not generating just codes.
(That's the line I have like more than 20 groups and 6000 images I trying to generate.)
{
    growEditionSizeTo: 300,
    layersOrder:

[2022-02-27 19:19] bolshoytoster commented on #810
@hashisyumy Does it give an error when you try to generate more than 20? Could you paste the last ~20 lines of the outpus please.

[2022-02-27 19:27] hashisyumy commented on #810
@bolshoytoster
It's not giving an error but the code is too long its going like more than 10 minutes generating codes.
Some of the code I can write here.
    abstractedIndexes.push(i);
        layerArray[i] = layers;
      }
    }
  for (layerconfiguration of layerConfigurations) {
const layersSetup = (layersOrder) => {
const getElements = (path) => {
  }
    .map((i, index) => {
      }
     }
co

[2022-02-27 19:31] bolshoytoster commented on #810
@hashisyumy When it finishes can you paste the last ~20 lines please.

[2022-02-27 20:42] Tim05449 opened #818 "Config.js problem"
config.js settings do not update when I change them.
Can you help me

[2022-02-27 20:43] bolshoytoster commented on #818
@Tim05449 make sure you save the file.

[2022-02-27 20:46] Tim05449 commented on #818
thank you its work!

[2022-02-27 20:48] hashisyumy commented on #810
@bolshoytoster
I just write npm run generate go for coffee and I saw it's generating already 1400 images created let's see If I get an error I will write here. I forget to the change description names and etc also one of the background names is incorrect.
Is there a way to fix JSON files when they are all finished I remember there was a code to upgrade Json files from all images or do I stop and m

[2022-02-28 02:01] AAOG31 opened #819 "Edition Exists!"
Every time I try to generate after the first initial setup it just tells me "Edition Exists!" multiple times and doesn't generate the new batch of images.

Example:

PS C:\Users\aaog3\Desktop\hashlips_art_engine-main> npm run generate

Created edition: 1, with DNA: 88fcb2676b109e78048ad78c621e105afe35577c
Created edition: 2, with DNA: a8fe72563d8f51c23b1c2a273980eabb7eb34ff8
Created edition: 3, wi

[2022-02-28 02:27] watsonwhs opened #820 "Cannot find node_modules file"
When I run npm run build, there is an error shows that
Error: Cannot find module '/Users/wanghuasheng01/Desktop/romo_generator/node_modules/sha1'

There is no node_modules file in the dict, how should I get it?

[2022-02-28 02:55] Rafiqjalalia commented on #806
PS C:\Users\Muhammad.Rafiq Khan> npm install
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\Muhammad.Rafiq Khan/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\Muhammad.Rafiq Khan\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent
installed node js 16.0.4

[2022-02-28 03:14] ijaz13100 opened #821 "Use DNA to construct NFT"
Hi, thanks for this and the videos, works great!  I was looking for a way to use the DNA generated in the .json files of an initial collection (collection_1) to create another nft collection (collection_2) which uses the same layers in each and has the same rarity.  So nft3 in both collections will have the same layers used and the same rarity.  I want to be able to switch out the layer files (but

[2022-02-28 03:19] watsonwhs commented on #820
Done

[2022-02-28 04:12] AAOG31 commented on #819
I've reinstalled nodejs,vs code multple times and I've changed the config.js to match all my folder names and there are no hyphens in any names.... I'm stumped please help!

[2022-02-28 05:06] chrisreymann opened #822 "help please"
any ideas because im lost here whats this mean??
christopherreymann@CHRISTOHERsiMac hashlips_art_engine-1.0.0_update % node index.js
/Users/christopherreymann/Desktop/hashlips_art_engine-1.0.0_update/src/config.js:16
const format = {
^^^^^

SyntaxError: Unexpected token 'const'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1026:15)
    at Module._

[2022-02-28 05:30] ezrana94 commented on #814
Have u tried run "npm run rarity?"

[2022-02-28 05:33] jone3fingers commented on #736
I have the same issue, but last time I did any coding was almost 35 years ago.
The issue is with "edition" the edition is put into all of the original metadata, but it is not being retrieved when called
under the item loop. If you can figure out how to get that part working changing file url is easy
just change this line item.image = `${baseUri}/${item.edition}.png`;
item.file_url ='${baseUrl}/${i

[2022-02-28 05:41] lloydcarroll opened #823 "Images totally distored"
My images look psycodelic but should look normal objects.  Left part is what I get, right part is what is SHOULD look like. Overall image, I can tell it's all there and layered correctly, but obviously something is messed up. What am I doing wrong? What should I change?

![image](https://user-images.githubusercontent.com/7604352/155930197-fce22847-a6ce-499f-994e-ae9ac5ccb4a9.png)

[2022-02-28 05:45] lloydcarroll commented on #317
You closed? What was the fix? I have the same issue @janunezconde

[2022-02-28 08:16] bolshoytoster commented on #806
@Rafiqjalalia you're in the wrong folder. Run `ls -Directory` to see the name and `cd ` + name to change into it

[2022-02-28 08:21] bolshoytoster commented on #821
@ijaz13100

That would be a terrible idea. That's literally what crypto mining is, and it takes quite a lot of time/energy.

The metadata files save the names of the layers used, although hashlips doesn't currently support this, if you keep the layer names the same it is possible.

[2022-02-28 08:23] bolshoytoster commented on #819
@AAOG31 if you remove the `build/` folder it should generate them. If not, you could try [my fork](https://github.com/bolshoytoster/hashlips_art_engine).

[2022-02-28 08:25] bolshoytoster commented on #822
@chrisreymann there's a syntax error in your `src/config.js`. Can you paste the lines that come before that error (before line 16).

[2022-02-28 08:29] bolshoytoster commented on #736
@jone3fingers

item.file_url ='${baseUri}/${item.edition}.png';

Using backticks means the variables will be inserted within the `${}`s. Using normal quotes means it's interpretedas a literal string.

I don't think this is the solution.

[2022-02-28 08:39] jone3fingers commented on #736
I did this as a workaround. It makes a 0.json but 1.json is a duplicate. not sure how to fix that but deleting a file is an easy fix

var itemnumber = 0

data.forEach((item) =>
  {
    item.name = `${namePrefix} #${itemnumber}`;
    item.description = description;
    item.file_url = `${baseUri}/${itemnumber}.png`;
    item.image = `${baseUri}/${itemnumber}.png`;
    fs.writeFileSync(`${basePath}/

[2022-02-28 08:44] AlanTrudor commented on #823
I have this same issue!

[2022-02-28 08:57] jone3fingers commented on #736
It is a literal string

From: bolshoytoster ***@***.***>
Sent: Monday, February 28, 2022 2:30 AM
To: HashLips/hashlips_art_engine ***@***.***>
Cc: jone3fingers ***@***.***>; Mention ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] Not able to update IPFS cid into Metadata (Issue #736)

@jone3fingers <https://github.com/jone3fingers>

just change this line item.image = `${baseUri}/${item.ed

[2022-02-28 08:58] jone3fingers commented on #736
I have it a new post it is working with the exception you it creates a duplicate of 1.json and names it 0.json.

You can just delete 0.json

From: bolshoytoster ***@***.***>
Sent: Monday, February 28, 2022 2:30 AM
To: HashLips/hashlips_art_engine ***@***.***>
Cc: jone3fingers ***@***.***>; Mention ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] Not able to update IPFS cid into Metadata (I

[2022-02-28 09:11] jone3fingers commented on #736
just doubled checked my working code it does have quotes

[2022-02-28 09:31] AAOG31 commented on #819
@bolshoytoster I used your fork and yes deleted the build folder. is there a way around having to delete the build folder every time I want to generate? Thank you for the help!

[2022-02-28 10:02] sleiman88 opened #824 "Error: out of memory"
Trying to generate 100 Item ,but iam running out of memory .
Created edition: 82, with DNA: a444cdb1a3a2d5eb548411d576d255d034ee8ac2
Waiting for the debugger to disconnect...
C:\Users\Allouche\Documents\hashlips_art_engine-1.1.2_patch_v5\node_modules\canvas\lib\image.js:91
  SetSource.call(img, src);
            ^

Error: out of memory

[2022-02-28 10:13] Rafiqjalalia commented on #806
npm ERR! node-pre-gyp ERR! node -v v16.14.0
npm ERR! node-pre-gyp ERR! node-pre-gyp -v v1.0.6
npm ERR! node-pre-gyp ERR! not ok
same     error  again and again i run the command through bash shell in the folder where i have files but  ivain same error .What to do ????

[2022-02-28 10:28] sleiman88 commented on #708
Can you add a code how to do that Please ?

[2022-02-28 10:32] bolshoytoster commented on #819
@AAOG31 you could add the lines:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/src/main.js#L37-L39

back to the top of the  `buildSetup` function in my repo (~line 47).

[2022-02-28 10:34] ymc182 commented on #708
if you using terminal inside VS Code and having this issue, try running the build command from external terminal like powershell or windows terminal

[2022-02-28 10:35] sasha567-vng commented on #808
really dont know wtf you are trying to say

[2022-02-28 10:37] sasha567-vng commented on #768
how do i do that.?

[2022-02-28 10:39] sleiman88 commented on #708
You are a savior. Thanks a lot .Problem solved using window terminal

[2022-02-28 10:43] Avicii786 opened #825 "Not able to generate 10k collection, Kindly help"
I have two layers:
1) Layers1 with 50 elements (which is the background layer)
2) Layer2 with 200 elements

As far as my understanding is concerned with 50 x 200 = 10000, I should be able to generate a 10k collection but when I ran the art engine it only generated 8418 nfts and suggesting me to create more elements.
Can someone help to understand what I am doing wrong.

p.s: I don't have any rarit

[2022-02-28 11:32] Sevenrex opened #826 "Can this still work in candymachine v2?"
Can this still work in candymachine v2?

[2022-02-28 11:36] ArtistanVillage commented on #736
I have found the key issue, most of us are not coders. That's number one, Other thing is we are using Hashlips art engine but somehow botched up because of few modifications suggested by Codestack and here the problem lies. Now the simple solution is without wasting much of our time we should deleted all the previous versions from our system, start a fresh by downloading the latest version of art

[2022-02-28 12:32] Kresoart commented on #808
@sasha567-vng Like i have Brown hair blond and black and i olso have Brown beard blond and black. I want to if the black hair is selected to use the black beard

[2022-02-28 12:39] jone3fingers commented on #736
That is how I started. It didn’t work. It never updated the URL correctly on json files

From: ArtistanVillage ***@***.***>
Sent: Monday, February 28, 2022 5:37 AM
To: HashLips/hashlips_art_engine ***@***.***>
Cc: jone3fingers ***@***.***>; Mention ***@***.***>
Subject: Re: [HashLips/hashlips_art_engine] Not able to update IPFS cid into Metadata (Issue #736)

I have found the key issue, most of us

[2022-02-28 12:40] #821 closed

[2022-02-28 12:40] sendilvip opened #827 "How to generate images with names printed on the image"
I want to generate a collection using names from a text file.
Along with layers, one of the additional layer we want is to pick the unique name from the text file, place at centre of the image and generate.

[2022-02-28 12:50] psavva commented on #821
Hmmm,  If you have 5 layers, with 10 images each, I don't see how this will be a lot of time/energy....

If he does not have the metadata, and does not have the final images, and still (for some reason), wants to construct the original run only based on the "dna hashes", I see this being perfectly feasible in some seconds...

Please explain how this is a "terrible idea"

[2022-02-28 13:28] ijaz13100 commented on #821
@bolshoytoster @psavva

Thanks @bolshoytoster.  I think it would be fun to create a changing NFT that takes on community input/voting in each "generation" e.g. if an nft holder has an nft with "tophat" attribute then they get a vote on what the next "tophat" layer look like and so on... I figured I could update the base uri, with the new files, assuming I could recreate each nft (with attributes/r

[2022-02-28 13:35] ijaz13100 commented on #821
Thanks @psavva I just saw your reply.  I have all the metadata and final images for collection_1.  I want the metadata (rarity and attributes) to be the same for collection_2. Metadata and images tied to collection_2 will be the new baseuri....

[2022-02-28 14:15] azf20 commented on #812
@9dieg I think you may need to make sure your Homebrew is updated for your M1

[2022-02-28 15:07] jone3fingers commented on #736
Run in the same issue on making preview. The code even has note not to trust edition I added index+1 instead of edition  and it works

 await loadImage(`${buildDir}/images/${index+1}.png`).then((image) => {

[2022-02-28 15:48] bolshoytoster commented on #824
@sleiman88 you could try rebooting, or running it without visual studio.

[2022-02-28 15:49] bolshoytoster commented on #806
@Rafiqjalalia can you pastr the full error please.

[2022-02-28 15:54] bolshoytoster commented on #768
@sasha567-vng when exporting the images it should give you the option (prbably under something like 'pixel format').

[2022-02-28 15:59] bolshoytoster commented on #825
@Avicii786 hashlips generates until it reaches a certain number of duplicates, you can remove this check by removing the line `failedCount++;` in `src/main.js` ~line 418:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/src/main.js#L417-L419

It will probably take a while to generate the final images but you'll get what you asked for.

[2022-02-28 16:01] bolshoytoster commented on #808
@Kresoart you could have them on the same layer.

[2022-02-28 16:05] sasha567-vng commented on #768
i still have that layer misplaced problem when exporting the images 🙄 & why are you not replying to my issue even you noticed it😒 @bolshoytoster

[2022-02-28 16:31] Rafiqjalalia commented on #806
npm ERR! gyp ERR! cwd C:\Users\Muhammad.Rafiq Khan\Desktop\rafiq_hash\hashlips_art_engine-main_2\hashlips_art_engine-main\node_modules\canvas
npm ERR! gyp ERR! node -v v17.6.0
npm ERR! gyp ERR! node-gyp -v v8.4.1
npm ERR! gyp ERR! not ok
npm ERR! node-pre-gyp ERR! build error
npm ERR! node-pre-gyp ERR! stack Error: Failed to execute 'C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_mo

[2022-02-28 16:49] TriLogic opened #828 "Enhancement opportunity"
After looking at the way the project code utilized layers I hacked in some custom functionality I felt was missing:

- individual layers can be assigned a weight from 1- 100 (default 100) indicating the % chance the layer is selected for output
- addition of a mutex array providing the ability to exclude one of more, or all "down stream" layers.
- inclusion of specific pre-generated 1 of a kind it

[2022-02-28 16:54] bolshoytoster commented on #821
@ijaz13100 if you keep the images + metadata from previous generations, my repo has support for continuing a set. You can just set `growEditionSizeTo` to the target size.

[2022-02-28 17:01] bolshoytoster commented on #768
@sasha567-vng sorry, I don't know how to fix that issue. Could you send some of your layers so I try to recreate it please.

[2022-02-28 17:07] shivani1406 commented on #733
You can check what version of node you are using nvm ls (to list out the node versions)

try changing the node version to check and run the command again nvm use version_number (to change the version)

I changed the node version to 12.22.7 , thus worked for me.
Hope this helps

[2022-02-28 17:17] sasha567-vng commented on #768
where should i send it?

[2022-02-28 17:39] bolshoytoster commented on #828
@TriLogic nice, unfortunately the owner of this repo hasn't been active since the 26th of janurary. You could try promoting your fork elsewhere though.

[2022-02-28 17:41] Avicii786 commented on #825
Thank you for your response. That might also work but I tried another method. By default the value of uniqueDnaTorrance set to 10k I changed it huge number and as I result I am able to generate 10k collection.

[2022-02-28 17:41] bolshoytoster commented on #768
@sasha567-vng you can drag the images into the github comment box.

[2022-02-28 17:43] sasha567-vng commented on #768
do one thing. send me a video on how you do it.! i will send you 10$ if you want. (not about money, don’t get it wrong)

[2022-02-28 18:28] bolshoytoster commented on #768
@sasha567-vng sorry for the delay, I had to get my windows VM working:
![lol](https://user-images.githubusercontent.com/91278344/156037809-e0741592-3b76-4a28-b43b-961c76c64928.gif)

[2022-02-28 18:35] sasha567-vng commented on #768
lmao! i dont mean by this🥲!
i mean..
yeah what ever i will send you some of my layers..
i would want your paypal address when we are done

[2022-02-28 18:36] nftgreat commented on #370
(node:7336) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: t

rue }) instead

(Use `node --trace-deprecation ...` to show where the warning was created)

node:fs:1392

  handleErrorFromBinding(ctx);

  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\ckali\Downloads\hashlips_art_engine-1.1

[2022-02-28 18:36] santosh-kumar-kaushal commented on #814
@ezrana94 npm run rarity is not gonna return the rarity order I believe, at least not returning for me.

[2022-02-28 18:37] nftgreat commented on #370
Posted

[2022-02-28 18:37] ijaz13100 commented on #821
Thanks @bolshoytoster but I'm trying to create a new set, with the same dna...its kind of a different take, looking to create generative generational art...so different generations will have the same dna (attribute/rarity same for each nft both previous and new generation) but different phenotype (look)

[2022-02-28 18:38] santosh-kumar-kaushal opened #829 "node utils/pixelate.js is not working for me."

[2022-02-28 19:07] bolshoytoster commented on #370
@nftgreat can you also paste the `layerConfigurations` bit of your `src/config.js`, and make sure it's saved as well.

[2022-02-28 19:18] nftgreat commented on #370
// If you have selected Solana then the collection starts from 0 automatically

const layerConfigurations = [

  {

    growEditionSizeTo: 5,

    layersOrder: [

      { name: "Background" },

      { name: "sign" },

      { name: "numbers" },

    ],

  },

];

const shuffleLayerConfigurations = false;

const debugLogs = false;

const format = {

width: 1500,

  height: 1500,

  smoothing: fals

[2022-02-28 19:19] nftgreat commented on #370
All layers folders are spelled exactly how you see there

[2022-02-28 19:22] lloydcarroll commented on #823
Short term fix, I opened all the layers one by one with Paint 3D and Save As image  and png. Overwrite file. Worked. Something in the way (at least for me) blender was exporting. Maybe too high for this program to handle.

[2022-02-28 19:22] genius665 opened #830 "gif generating"
hello, i have problem with gif collection generating, assets is generating but not animating, just static pictures but in format .GIF, tried using layers and using GIF files! any idea how to fix?

  export: true,
  repeat: 0,
  quality: 100,
  delay: 500,
};

[2022-02-28 19:25] bolshoytoster commented on #370
@nftgreat can you run the command `ls C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update/layers/` and paste the output please.

[2022-02-28 19:29] bolshoytoster commented on #829
@santosh-kumar-kaushal does it give an error or are the images just not showing up in `build/pixel_images`?

[2022-02-28 19:30] santosh-kumar-kaushal commented on #829
@bolshoytoster Just showing up build/pixel_images on the console.

[2022-02-28 19:33] bolshoytoster commented on #829
@santosh-kumar-kaushal do you mean the folder only shows up in the console?

[2022-02-28 19:34] nftgreat commented on #370
PS C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update> C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update/layers/

C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update/layers/ : The term 'C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update/layers/' is not

recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if

[2022-02-28 19:34] nftgreat commented on #370
Posted

[2022-02-28 19:36] bolshoytoster commented on #370
@nftgreat with the `ls` at the start of the command.

[2022-02-28 19:37] nftgreat commented on #370
PS C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update> ls C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update/layers/

    Directory: C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update\layers

Mode                 LastWriteTime         Length Name

----                 -------------         ------ ----

d-----         2/28/2022   8:35 AM                Backround

d-----

[2022-02-28 19:39] santosh-kumar-kaushal commented on #829
@bolshoytoster Showing this on console
<img width="336" alt="Screenshot 2022-03-01 at 1 08 48 AM" src="https://user-images.githubusercontent.com/43371182/156047575-85949492-60b6-4729-923c-79e6106df5d0.png">

[2022-02-28 19:41] bolshoytoster commented on #370
@nftgreat you've spelled `Backround` wrong in the folder name.

[2022-02-28 19:42] bolshoytoster commented on #829
@santosh-kumar-kaushal it's probably stuck in a loop somewhere then, if you have a big collection it might take a while. Probably best to add more logs there.

[2022-02-28 19:45] santosh-kumar-kaushal commented on #829
@bolshoytoster Logs are already added I'm not a python developer but I can see logs are added well, not sure what is the issue.

[2022-02-28 19:46] nftgreat commented on #370
Ok I changed it spelled correctly now but still won’t work to generate

[2022-02-28 19:48] bolshoytoster commented on #829
@santosh-kumar-kaushal you could try inserting `console.log(i)` at line 30:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/utils/pixelate.js#L29-L30

just before the `return`.

[2022-02-28 19:48] bolshoytoster commented on #370
@nftgreat does it give an error?

[2022-02-28 19:58] nftgreat commented on #370
Yes

Yes

[2022-02-28 20:03] nftgreat commented on #370
It says out of memory

[2022-02-28 20:04] nftgreat commented on #370
PS C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update> npm run generate

(node:3168) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead

(Use `node --trace-deprecation ...` to show where the warning was created)

C:\Users\ckali\Downloads\hashlips_art_engine-1.1.1_update\node_modules\c

[2022-02-28 20:16] bolshoytoster commented on #370
@nftgreat you could try rebooting, and running it with just powershell (Visual Studio can use a lot of memory sometimes).

[2022-02-28 20:19] nftgreat commented on #370
They make it look so easy on the videos it’s complicated lmao

[2022-02-28 21:01] bolshoytoster commented on #821
@ijaz13100 sorry, I've tried to implement this, but it's not really possibe with the current metadata files. You're probably better off making a seperate project if you can find a programmer(s) that will help you.

[2022-02-28 21:22] MyCryptoBabies opened #831 "Module not found require Stack"
First of all thank you for providing us with the opportunity.  I looked though ALL 19 pages and could not find what I need.  If I go to package.Json and run the debug, it generates about 25 pics.  I can't get it to work for anything else.  I am trying to make 500 but I have been dealing with this since last Tuesday.  Googling, watching videos etc... First I had a HUGE problem getting the program t

[2022-02-28 21:27] bolshoytoster commented on #831
@MyCryptoBabies it's `npm run generate`.

[2022-02-28 21:35] larryj52 opened #832 "NFT Upload to ipfs error message"
Can anyone help with this error message I am getting from trying to use the Upload NFT instructions:

Error [ERR_REQUIRE_ESM]: require() of ES Module /Users/raad_1/Desktop/NFT Experiment/hashlips_art_engine-1.1.2_patch_v5/node_modules/node-fetch/src/index.js from /Users/raad_1/Desktop/NFT Experiment/hashlips_art_engine-1.1.2_patch_v5/utils/nftport/uploadFiles_1.js not supported.
Instead change the

[2022-02-28 21:38] MyCryptoBabies commented on #831
![++](https://user-images.githubusercontent.com/100310137/156062834-7f10f3fe-2452-48dd-9ab5-4af0764884c4.PNG)

I've tried everything

[2022-02-28 21:48] bolshoytoster commented on #832
@larryj52 this issue is related to [this repo](https://github.com/codeSTACKr/create-10k-nft-collection), but  you might be able to avoid this issue by using changing line 2 of `utils/nftport/uploadFiles.js` to `import fetch from "node-fetch";`.

[2022-02-28 21:51] bolshoytoster commented on #831
@MyCryptoBabies I think you're in the wrong folder. Run `ls -Directory` to get the name, and run `cd ` + name to change to it.

[2022-02-28 21:58] MyCryptoBabies commented on #831
Thank you so much...It worked but it only generated 109 images.  All these tries I've been doing, I have been saving the files.  Can I use those files if I change the files numbers?  And THANK YOU so much for getting back to me so quickly.  where can I go to make a donation for all the amazing work you guys are doing?  Ps - I'm sure I'll be back here needing more help.

[2022-02-28 22:03] bolshoytoster commented on #831
@MyCryptoBabies

Could you paste the last ~5 lines of the output please.

I don't think there is a place for donations.

lol

[2022-02-28 22:08] MyCryptoBabies commented on #831
You need to have a paypal link.  So many people are using this program, I am sure MANY would be willing to help support the development you are doing.  It's VERY GENEROUS and GREAT that is is FREE! but there are a lot of people that would like to back you in the venture.  ADD A PAYPAL LINK! I will be the first to donate> Thanks again!

[2022-02-28 22:17] bolshoytoster commented on #831
@MyCryptoBabies the main developer for this hasn't been active since the 26th Janurary unfortunately.

[2022-02-28 22:26] larryj52 commented on #832
I'll try it.

[2022-02-28 23:08] nftgreat commented on #824
How would I run it without Visual studio what other program can. I use

[2022-02-28 23:09] bolshoytoster commented on #824
@nftgreat you can use cmd or powershell.

[2022-02-28 23:29] larryj52 commented on #832
New error:

error:Error: ENOENT: no such file or directory, open '${basePath}/build/json/${fileName}.json'

What's this about?

[2022-02-28 23:30] larryj52 commented on #832
**This my uploadFiles.js code:**

const FormData = require("form-data");
const fetch = require("node-fetch");
const path = require("path");
const basePath = process.cwd();
const fs = require("fs");

fs.readdirSync(`${basePath}/build/images`).
  forEach(file => {
    const formData = new FormData();
    const fileStream = fs.createReadStream(`${basePath}/build/images/${file}`);
    formData.append(

[2022-02-28 23:31] larryj52 commented on #832
**This is the return errors:**

error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument

[2022-03-01 00:46] larryj52 opened #833 "SyntaxError: Unexpected end of input"
const FormData = require("form-data");
const fetch = require("node-fetch");
const path = require("path");
const basePath = process.cwd();
const fs = require("fs");

fs.readdirSync(`${basePath}/build/images`).
  forEach(file => {
    const formData = new FormData();
    const fileStream = fs.createReadStream(`${basePath}/build/images/${file}`);
    formData.append('file', fileStream);
    let url =

[2022-03-01 01:17] MyCryptoBabies commented on #831
Hi,  Trying to upload the base url and can't   please help,  Thank you

![base url error](https://user-images.githubusercontent.com/100310137/156086344-e46f0546-ce04-4413-a0d5-68bde424cc20.PNG)

[2022-03-01 01:35] MyCryptoBabies opened #834 "Can't update the Baseurl"
Hello,  I got as far as trying to update the baseurl for the ipfs link.  No go - This is what I get
![base url error](https://user-images.githubusercontent.com/100310137/156087984-a8dbcab8-e6ec-4408-ba14-915b1df64beb.PNG)
.

[2022-03-01 03:59] levianlp commented on #366
@debashisdey thank you for yr advice mate, so do you have any example of a script that can rename the name inside json like for every single json file

[2022-03-01 04:29] OrganicSelling opened #835 "blend_mode.js not found"
Pulling this error.

C:\Program Files\nodejs\node.exe .\hashlips_art_engine-main\src\config.js
Uncaught Error: Cannot find module 'c:\Users\Owner\Desktop\NFT\hashlips_art_engine-main/constants/blend_mode.js'

Require stack:
- c:\Users\Owner\Desktop\NFT\hashlips_art_engine-main\hashlips_art_engine-main\src\config.js

Process exited with code 1

[2022-03-01 04:30] TheGODMasterDu opened #836 "Visual Studio Code errno: -4058,"
Got this error code while trying to finish up my NFT. What am I missing?
![Error Code](https://user-images.githubusercontent.com/100662087/156105083-8359602e-a6d2-4ae0-aca7-563f19061ba7.jpg)

[2022-03-01 08:16] bolshoytoster commented on #832
@larryj52 on this line:
[code]
change the quotes (') to backticks(\`).

[2022-03-01 08:21] bolshoytoster commented on #833
@larryj52 it means there's a syntax error. Try getting the file again from github.

[2022-03-01 08:23] bolshoytoster commented on #831
@MyCryptoBabies `utils/updateBaseUrl.js` doesn't exist. Perhaps you meant `utils/update_info.js`.

[2022-03-01 08:26] bolshoytoster commented on #366
@levianlp you can start a collection from any number in  [my repo](https://github.com/bolshoytoster/hashlips_art_engine). You set `startEditionFrom` just like you set `growEditionSizeTo`.

[2022-03-01 08:58] sasha567-vng commented on #768
@bolshoytoster
how can contact you privately.???

[2022-03-01 09:50] levianlp commented on #366
@bolshoytoster ola thank you mate i'll try it now, thank you so much

[2022-03-01 12:26] sanokkk opened #837 "Help me with some err"
Guys hi im trying to repeat your actions in this tutorial: https://www.youtube.com/watch?v=fzH7Gjadmj0 but i have some troubles
I have installed node.js latest version and used command npm install
Then i added my layers and used node index.js but then there were these err
(node:852) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, scandir 'C:\Users\Александр\Desktop\hash

[2022-03-01 13:34] KimberleyRose opened #839 "Images not showing on opensea"
Hello everyone,

I am running a test on the rinkeby for a collection but images are not loading on opensea, I can see metadata for them though? My cids work and metadata is linked and shows ok. Is this a cid problem? Or image size problem (1500). My code also has 'image' in it so it's not that either.  I have used the 0.6 version as on hashlips tutorial. Do I need to use a newer version? Any advic

[2022-03-01 13:36] KimberleyRose commented on #834
Uri not ur1

[2022-03-01 14:56] Nextwolfxtez opened #840 "tezo"
I am attesting that this GitHub handle Nextwolfxtez is linked to the Tezos account tz1PmWpVV4FZotwik6utZixeisU9HZNRF2VU for tzprofiles

sig:edsigtyiyDQBc5q8vKhrXBks4YTcrTgy8RYRtWhAdUWCFASxeaK5Fq1Q21K3sXdrMnyNcEx8gmxjsQhpPoFC5UXLPp6yYdJP1MZ

[2022-03-01 15:46] bolshoytoster commented on #835
@OrganicSelling there should be a `constants/blend_mode.js` file. You could redownload hashlips, or as a workaround, you could replace the line:
https://github.com/HashLips/hashlips_art_engine/blob/f04b036dc8839dcbe6093b8243d1c7aa20538e8b/src/config.js#L2

With the following code:
https://github.com/HashLips/hashlips_art_engine/blob/f04b036dc8839dcbe6093b8243d1c7aa20538e8b/constants/blend_mode.js#

[2022-03-01 15:48] bolshoytoster commented on #836
@TheGODMasterDu you need to save the `src/config.js` file (`ctrl` + `s`).

[2022-03-01 16:03] bolshoytoster commented on #837
@sanokkk make sure your layer names match your folder names exactly (case sensitive as well). Also make sure you save the `src/config.js` file.

[2022-03-01 16:07] bolshoytoster commented on #834
@MyCryptoBabies also it's `utils/update_info.js`.

[2022-03-01 16:25] 9dieg commented on #812
@azf20 didn't work..:s

[2022-03-01 16:35] sanokkk commented on #837
@bolshoytoster i just tried with basic layers in art engine repo so i dont have to change folders names. And again i get err
PS C:\Users\Александр\Documents\hashlips_art_engine-1.1.2_patch_v5> node index.js
(node:11656) UnhandledPromiseRejectionWarning: Error: ENOENT, No such file or directory 'C:\Users\Александр\Documents\hashlips_art_engine-1.1.2_patch_v5/layers/Background/Black#1.png'
    at se

[2022-03-01 16:40] KimberleyRose commented on #834
Sorry I wasn't very clear was I.... I ran in the 0.6 version (Hashlips ultimate guide tutorial version) node utils/updateBaseUri.js

[2022-03-01 18:12] asrert opened #841 "is there a way to add unlockable content to metadata ?"
hi everyone, a have a question of you guys:
   how I can add unlockable content to the metadata of the generated NFTs for Opensea?

[2022-03-01 19:13] santosh-kumar-kaushal commented on #829
@bolshoytoster Added but not printing anything.

[2022-03-01 19:17] bolshoytoster commented on #829
@santosh-kumar-kaushal you could try inserting `console.log(item)` just before at line 24:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/utils/pixelate.js#L23-L24

[2022-03-01 19:17] bolshoytoster commented on #829
@santosh-kumar-kaushal you could try inserting `console.log(item)` just before at line 24:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/utils/pixelate.js#L23-L24

[2022-03-01 20:02] OrganicSelling commented on #835
Yah ... both the line you reference, and the config,js with no modifications are present.  Not sure why it won't run properly.

[2022-03-01 20:14] bolshoytoster commented on #835
@OrganicSelling I know they exist.

There should be a `constants/blend_mode.js` file. A quick workaround would be to remove [this](https://github.com/HashLips/hashlips_art_engine/blob/f04b036dc8839dcbe6093b8243d1c7aa20538e8b/src/config.js#L2) line and replace it with:
https://github.com/HashLips/hashlips_art_engine/blob/f04b036dc8839dcbe6093b8243d1c7aa20538e8b/constants/blend_mode.js#L1-L28

[2022-03-01 20:38] OrganicSelling opened #842 "Module Not Found: Loader Error"
Error: Cannot find module 'D:\000 - NFT Generative Art\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12)
    at node:internal/main/run_main_module:17:47 {
  code: 'MODULE_NOT_FOUND',
  requireStack

[2022-03-01 20:40] bolshoytoster commented on #842
@OrganicSelling what command are you using to run hashlips.

[2022-03-01 20:42] OrganicSelling commented on #842
@bolshoytoster I am running "node index.js"

[2022-03-01 20:47] bolshoytoster commented on #842
@OrganicSelling you're probably in the wrong folder then. Run `ls -Directory` to get the name and run `cd ` + name to change to it.

[2022-03-01 20:57] OrganicSelling commented on #842
@bolshoytoster - well I have really screwed something up ... and IDK what it is ...

PS D:\000 - NFT Generative Art> -directory
-directory : The term '-directory' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

At line:1 char:1
+ -directory
+ ~~~~~~~~~~

[2022-03-01 20:58] bolshoytoster commented on #842
@OrganicSelling run `ls -Directory`. Not just `-Directory`.

[2022-03-01 21:36] OrganicSelling commented on #842
@bolshoytoster similar error ...

PS D:\000 - NFT Generative Art> 1s directory
1s : The term '1s' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ 1s directory
+ ~~
    + CategoryInfo          : ObjectNotFound: (1s:String) [], CommandNot

[2022-03-01 21:40] bolshoytoster commented on #842
@OrganicSelling it's an L, not a 1.

[2022-03-01 21:47] OrganicSelling commented on #842
Thank you for your patience @bolshoytoster .... here are my results now.

PS D:\000 - NFT Generative Art> cd hashlips_art_engine-1.1.2_patch_v5
PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5> node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\index.js'
    at Function.Modu

[2022-03-01 21:50] bolshoytoster commented on #842
@OrganicSelling do the `ls` and `cd` thing again.

[2022-03-01 21:56] OrganicSelling commented on #842
PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5> ls -directory

    Directory: D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          3/1/2022   2:24 PM                hashlips_art_engine-1.1.2_patch_v5

[2022-03-01 21:58] bolshoytoster commented on #842
@OrganicSelling run `cd hashlips_art_engine-1.1.2_patch_v5`.

[2022-03-01 22:01] OrganicSelling commented on #842
PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5> ls -directory

    Directory: D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          3/1/2022   2:24 PM                .github
d

[2022-03-01 22:09] bolshoytoster commented on #842
@OrganicSelling you can `node index.js` now.

[2022-03-01 22:15] OrganicSelling commented on #842
PS D:\000 - NFT Generative Art> ^C
PS D:\000 - NFT Generative Art> cd hashlips_art_engine-1.1.2_patch_v5
PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5> node index.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\index.js'
    at Function.Module._load (node:internal/modules/cjs/loa

[2022-03-01 22:16] OrganicSelling commented on #842
Now it is just blinking ...

PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5> .\index node.js
PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5>

[2022-03-01 22:21] bolshoytoster commented on #842
@OrganicSelling

Looks like you spelled it wrong. It's `node index.js`.

[2022-03-01 22:27] OrganicSelling commented on #842
@bolshoytoster - tried it a couple of times and this is what I am seeing ...

Directory: D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          3/1/2022   2:24 PM                .github
d-----          3/1/2022   2:24 PM

[2022-03-01 22:28] bolshoytoster commented on #842
@OrganicSelling you need to install the dependencies by running `npm install`.

[2022-03-01 22:31] OrganicSelling commented on #842
@bolshoytoster - happy you are still with me here ... closed it all out, reselected the folder, per your suggestion, and re-installing dependencies.  I think ...

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6
PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_

[2022-03-01 22:32] bolshoytoster commented on #842
@OrganicSelling you should be able to run `node index.js` now.

[2022-03-01 22:33] OrganicSelling commented on #842
And ... now it's generating ... @bolshoytoster - you are a genius coder ... and generous with your time. Many thanks.  It is now generating per the code.  WOOT!

[2022-03-02 06:00] thepeanutgalleryandco commented on #828
@TriLogic please add a PR so that the rest of us xan check it out and maybe add to our repos.

[2022-03-02 08:47] MelanieCroce commented on #554
@thepeanutgalleryandco
I don't know if you still need a solution to make byPassDNA: true work, I found a simple solution :

In main.js
[code]

[code]

[2022-03-02 09:37] TheGODMasterDu commented on #836
Do you mean I have to just hit ctrl + s or do I have to do something with the src/config.js file?

[2022-03-02 09:53] OrganicSelling opened #846 "Run node utils/updateBaseUri.js - error"
Double checked the folder I am.
Ran: npm i utils
Re-ran:  npm i -r requirements.txt .... etc ... What Stack am I missing?
===============================================

PS D:\000 - NFT Generative Art\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5> node utils/updateBaseUri.js
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'D:\000 - NFT Gene

[2022-03-02 12:37] sasha567-vng commented on #768
sent you a friend request my user name is cobynae#5893

[2022-03-02 16:58] Alexandriaaaaa commented on #676
I have a similar problem.
I set it to generate 1000 undamaged 3000x3000 png images. Error: Unsupported image type appears on the way.
The timing when this error appears may appear after randomly generating 18 pieces.
I changed the version of the node and tried it, but it doesn't work at all.

Created edition: 45, with DNA: 43a4b262ad61e35dd529731a18cf9dab1baf676f
(node: 8448) UnhandledPromiseRejec

[2022-03-02 17:02] bolshoytoster commented on #676
@Alexandriaaaaa could you try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine). It doesn't fix the issue but it should tell you what image(s) cause it to fail.

[2022-03-02 17:15] Alexandriaaaaa opened #847 "Error: Unsupported image type I want to settle this problem anyway."
konnnitiha
I'm a beginner and don't know the code, but I want to do my best to solve the problem. Thank you for your cooperation.
When trying to generate 1000 images, on the way
(node: 8448) UnhandledPromiseRejectionWarning: Error: Unsupported image type
This will definitely come out.
If you think that you could finally generate it by referring to other people's questions, this is it.
I've been wo

[2022-03-02 17:36] Alexandriaaaaa commented on #837
I also suffered from this problem at first.
I found an article that the latest node.js is not compatible, so I downloaded node v14.18.1 and tried it and it worked.

[2022-03-02 18:59] Alexandriaaaaa commented on #676
thank you.
I tried it with npm run generate and node index.js.

PS C: \ new folder \ hashlips_art_engine-main> npm run generate

(node: 16360) UnhandledPromiseRejectionWarning: Error: ENOENT, No such file or directory'C: \ new folder \ hashlips_art_engine-main / layers / Background / Pink # 4.PNG'
    at setSource (C: \ new folder \ hashlips_art_engine-main \ node_modules \ canvas \ lib \ image.js

[2022-03-02 19:08] bolshoytoster commented on #676
@Alexandriaaaaa [this](https://github.com/HashLips/hashlips_art_engine/issues/276#issuecomment-974693486) comment suggests moving the `hashlips_art_engine-main` folder to your user folder (`C:\Users\whatever`).

[2022-03-02 19:48] Alexandriaaaaa commented on #676
You are a surprisingly gentleman.
thank you.
When I expanded it to the user folder and tried it, I encountered a new problem. I'm about to cry (´ ； ω ； `) Wow
PS C: \ Users \ hashlips_art_engine-main> npm install
npm WARN hashlips_art_engine@1.1.1 No repository field.

audited 66 packages in 1.201s

6 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

PS C: \ U

[2022-03-02 20:09] CLKJL opened #848 "updateBaseUri error"
Error: Cannot find module 'C:\Users\Downloads\hashlips_art_engine-1.1.1_update\utils\update_info.js.'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:77:12)
    at node:internal/main/run_main_module:17:47 {
  cod

[2022-03-02 20:09] Alexandriaaaaa commented on #676
I'm sorry many times.
Thank you for your precious time.
I was able to generate up to 6 normally, but I don't know where there is a problem.

PS C: \ Users \ hashlips_art_engine-main> npm install
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion @ 1, but package-lock.json was generated for lockfileVersion @ 2. I'll try to do my best
with it!

[canvas] Success: "C: \ Us

[2022-03-02 20:11] bolshoytoster commented on #848
@CLKJL I think you're in the wrong folder. Run `ls -Directory` to get the name and run `cd ` + name to change to it.

[2022-03-02 20:24] gh-vicentiu opened #849 "How do you get Description From Layer Name ("trait")"
Hello, i would like to pull the metadata description from the layers i have into a folder named quotes.

When the scrip runs by default, it also truncates the text, some layers have long names as they are quotes...
I've just checked out, Photoshop is actually the one shortening the text from the layer.

Still the first question remains, maybe you have an idea for the second issue as well. Is there

[2022-03-02 20:32] bolshoytoster commented on #849
@gh-vicentiu could you elaborate?

Is the metadata in the json files generated by hashlips or is it in the images?

[2022-03-02 20:34] CLKJL commented on #848
PS C:\Users\Downloads\hashlips_art_engine-1.1.1_update\hashlips_art_engine-1.1.1_update> node utils/update_info.js
Updated baseUri for images to ===> ipfs://HOLYSHP
Updated description for images to ===> Hxxxxxxxp are sxxxxxs with all types of emotions and brings happiness to others
Updated name prefix for images to ===> Hxxxxxxp
PS C:\Users\\Downloads\hashlips_art_engine-1.1.1_update\hashlips_art

[2022-03-02 20:40] gh-vicentiu commented on #849
Hi, the metadata is generated by hashlips,
wanted to paste a json file here but it's a mess so i will try to explain.

So i have a number of folders with layers inside lets say 3:

----------------------
Folder1: (contains image layers)
layer1
layer2
layer3

Folder2: (contains shape layers)
layer1
layer2
layer3

Folder3: (contains text layers)
"the way to heaven is the bla bla bla bla (it stops)
"

[2022-03-02 20:45] bolshoytoster commented on #849
@gh-vicentiu

Could you paste it within backticks:

\`\`\`json
Paste here
\`\`\`
---

What do you mean by this?

[2022-03-02 20:45] gh-vicentiu commented on #849
this is the collection i'm working out, maybe it will help, i hope there si no problem posting it.
i've uploaded it without metadata since i'm trying to figure out how these things work

https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/11787924387244752130098042952642960192992341106648159254018264962479295561729

so what i want is to use that quote in the description,
ide

[2022-03-02 20:46] gh-vicentiu commented on #849
ok, sry for the mess, the metadata names and all that is a mess:

`{"name":"Little Buddha Quotes NFT #2","description":"Little Buddha Quotes","image":"2","edition":2,"attributes":[{"trait_type":"nose","value":"Layer 118"},{"trait_type":"mouths","value":"Layer 146"},{"trait_type":"3rd eye","value":"Layer 63"},{"trait_type":"eyes","value":"Layer 84"},{"trait_type":"head shapes","value":"Ellipse 4 co

[2022-03-02 20:47] CLKJL commented on #848
@bolshoytoster
PS C:\Users\Downloads\hashlips_art_engine-1.1.1_update\hashlips_art_engine-1.1.1_update> node utils/update_info.js
Updated baseUri for images to ===> ipfs://HOLYSHP
Updated description for images to ===> Hxxxxxxxp are sxxxxxs with all types of emotions and brings happiness to others
Updated name prefix for images to ===> Hxxxxxxp
PS C:\Users\Downloads\hashlips_art_engine-1.1.1_updat

[2022-03-02 20:50] gh-vicentiu commented on #849
this is the quote:
”If you seek peace, be still.
If you seek wisdom, be silent.
If you seek love, be yourself.”

Becca Lee

-----------------

this is the name of the layer:
”If you seek peace, be still.  If you seek wisdom, be silent.

[2022-03-02 20:50] bolshoytoster commented on #849
@gh-vicentiu
If you only have one layer config you could use something like (pseudocode):
[code]
What command are you using to upload them?

[2022-03-02 20:54] gh-vicentiu commented on #849
i tried a few things to upload but had issues with those before i found this:

https://github.com/infotrex/bulk-upload-to-opensea

[2022-03-02 21:12] CryptoPique commented on #453
can't figure out ! any one ?

[2022-03-02 21:17] bolshoytoster commented on #849
@gh-vicentiu if that loads the descriptions from the `description` attribute of the json files, you could try running this js code:
[code]

[2022-03-02 21:21] bolshoytoster commented on #453
@CryptoPique you could see [this](https://github.com/HashLips/hashlips_art_engine/issues/554#issuecomment-1056592405) comment.

[2022-03-02 21:57] gh-vicentiu commented on #849
`def save():

    if len(start_num_input.input_field.get()) == 0 or len(end_num_input.input_field.get()) == 0 or (int(end_num_input.input_field.get()) < int(start_num_input.input_field.get())):
        #messagebox.showwarning("showwarning", "End number should greater than start number!")
        print ("true")
    elif len( start_num_input.input_field.get()) == 0 or len(end_num_input.input_field.g

[2022-03-02 22:13] bolshoytoster commented on #849
@gh-vicentiu It would probably be on [this](https://github.com/infotrex/bulk-upload-to-opensea/blob/cc2b0b798da394d42c5ed8515e3120aa8dfb7059/upload.py#L273) line:

[2022-03-02 22:20] bolshoytoster commented on #849
@gh-vicentiu you could replace the line I linked with this:
[code]
Note: it presumes that the quote is always layer 10. If it's not always that layer I could make something but it would be more complicated.

It's also not awfully efficient, but it should do.

[2022-03-02 22:30] CarlBainbridge commented on #632
My Question @bolshoytoster is

how would one rewrite the code for mint.js to go around nftport so that you could upload to polygon without these limits and without losing the rest of the work put into it before then.

const fetch = require("node-fetch");
const path = require("path");
const basePath = process.cwd();
const fs = require("fs");

const AUTH = 'nft port api key ';
const CONTRACT_ADDRESS

[2022-03-02 22:32] bolshoytoster commented on #632
@CarlBainbridge being completely honest, I have no clue. I have 0 experience with things like that.

[2022-03-02 22:35] CarlBainbridge commented on #632
Yeah me either. I know it has to exist, but I am having a bugger of a time finding a file that can pull the info from ipfs and upload it to opensea without pretty much starting again.

[2022-03-02 22:38] bolshoytoster commented on #632
@CarlBainbridge it looks like the code relies on nftport for minting, it's probably best to find a [different script](https://github.com/search?q=mint%20nft).

You could also try asking on [this](https://github.com/codeSTACKr/create-10k-nft-collection) repo.

[2022-03-03 00:20] LEO16123 opened #850 "I don't know what the problem is. Help me."
Microsoft Windows [Version 10.0.19043.1526]
(c) Microsoft Corporation. All rights reserved.

D:\Zhem2>npm install
npm ERR! code EPERM
npm ERR! syscall mkdir
npm ERR! path D:\
npm ERR! errno -4048
npm ERR! Error: EPERM: operation not permitted, mkdir 'D:\'
npm ERR!  [Error: EPERM: operation not permitted, mkdir 'D:\'] {
npm ERR!   errno: -4048,
npm ERR!   code: 'EPERM',
npm ERR!   syscall: 'mkdir',

[2022-03-03 00:32] bolshoytoster commented on #850
@LEO16123 you don't have permissions in your current folder, and I'm not sure you're even in the project folder. If you'rre sure you're in the right folder you can run the command prompt as admin.

[2022-03-03 03:15] TheGODMasterDu opened #851 "I am stuck at this Error Code code: 'ERR_REQUIRE_ESM'"
Mostly through writing this program. But once again I am stuck. Can anyone help me figure this one out?
![PencilNeck to Hashlips JS](https://user-images.githubusercontent.com/100662087/156489331-a7c7d50d-803d-4778-af26-711d572c8d6d.png)

[2022-03-03 03:33] lloydcarroll opened #852 "F*^%% You need more layers or elements to grow your edition to 250000 artworks!"
So I got this message and it stopped creating at 94k. WTF? I already calculated and the amount of layers and elements I have is WELL over 1 Billion unique possibilities.

5 x 2 x 19 x 26 x 7 x 11 x 21 x 3 x 5 x 1 x 10 = 1,198,197,000....

WTH would it stop and say I don't have enough layers. I've randomly picked items, looked through thumbnails and doesn't seem to be skipping.

AND..... How do I s

[2022-03-03 08:02] bolshoytoster commented on #851
@TheGODMasterDu this error does not occur in this repo, but [this one](https://github.com/codeSTACKr/create-10k-nft-collection). But as [this](https://github.com/HashLips/hashlips_art_engine/issues/832#issuecomment-1054697197) comment suggests, you could try changing line 2 of `utils/nftport/uploadFiles.js` to `const fetch = await import("node-fetch");`.

[2022-03-03 08:05] bolshoytoster commented on #852
@lloydcarroll once hashlips has made a certain number of duplicates, it assumes most of the rest it will make will be duplicates. You can remove this by removing the line `failedCount++` from ~line 418 of `src/main.js`:
https://github.com/HashLips/hashlips_art_engine/blob/7ea809424694e4f3348d0c2281eb8d9e8e483649/src/main.js#L417-L419

[2022-03-03 08:10] lloydcarroll commented on #852
Should it not try to make other combos not made yet? 1B possibilities and
it supported so many in 84k that it errors out?

I will probably remove that but I think that's tired to the other number
which I had seen to 10000 I think.

On Thu, Mar 3, 2022, 2:05 AM bolshoytoster ***@***.***> wrote:

[2022-03-03 08:17] bolshoytoster commented on #852
@lloydcarroll the way hashlips generates probably isn't the best for large collections. It generates a random one, then checks if it's a duplicate.

[2022-03-03 08:42] baringji commented on #851
[code]

As noted on the codeStackr repo readme

[2022-03-03 08:51] AceDontCom213 opened #853 "node utils/update_info.js does not work on Windows"
Keep getting this error few time have tried.

PS C:\Users\User\Downloads\Mar_2022\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5> node utils/update_info.js
internal/fs/utils.js:332
    throw err;
    ^

Error: ENOENT: no such file or directory, open 'C:\Users\User\Downloads\Mar_2022\hashlips_art_engine-1.1.2_patch_v5\hashlips_art_engine-1.1.2_patch_v5/build/json/_metadata.js

[2022-03-03 09:57] bolshoytoster commented on #853
@AceDontCom213 the `build/json/_metadata.json` file doesn’t exist. You have to let the generation finish for it to be generated.

[2022-03-03 13:39] jas-dot commented on #848
i have the same isue,did u fix it yet?

[2022-03-03 15:00] SamFordGH opened #854 "Match Specific Traits From Main Folders"
Is there a way to target specific traits inside of the parent folder? For example, if I only wanted a green body with blue eyes and a sad mouth, can I specifically target these 3 traits to be paired together in a separate growEditionSizeTo?

Im assuming some code that will go next to the parenting folder...

growEditionSizeTo: 1,
    layersOrder: [
      { name: "Body (only use green body) " } ,

[2022-03-03 15:20] CLKJL commented on #848
no, still waiting for solution.

@bolshoytoster  did I miss anything? or did I do anything wrong?

[2022-03-03 16:58] bolshoytoster commented on #848
@CLKJL being completely honest, I don't know what went wrong. You should make sure yyour `src/config.js` file is saved before running `node utils/update_info.js`, and make sure you only open the json file after running it.

[2022-03-03 18:36] TheGODMasterDu commented on #851
Okay I did that but got this instead. Here's the whole this time
![PencilNeck to Hashlips JS Utils](https://user-images.githubusercontent.com/100662087/156629940-e835c16d-66e5-4adc-9957-ceda8013e98e.png)
.

[2022-03-03 18:50] bolshoytoster commented on #851
@TheGODMasterDu it means the connection with nftport timed out. See if you can go to https://api.nftport.xyz/v0/files in your browser, it should return `{"detail":"Method Not Allowed"}`

[2022-03-03 18:51] DoubleL2 commented on #852
It's really the only one I could find other than options to render in 3d programs which was taking about 100x as long. I can go through and deal with this I think. But how can I start at a certain number? Would that be setting this line to the next number?

  let editionCount = 1;

Also, I have little trust for much out there, so do you have another recommendation?

[2022-03-03 18:55] bolshoytoster commented on #852
@lloydcarroll

[My fork](https://github.com/bolshoytoster/hashlips_art_engine) supports this. You set `startEditionFrom` the same as you set `growEditionSizeTo`.

[2022-03-03 20:47] MyCryptoBabies opened #855 "Please Help this is the error"
![help1](https://user-images.githubusercontent.com/100310137/156650164-a476072f-8f93-48a9-8507-92655cf36494.PNG)

I am in the config.js folder

[2022-03-03 20:48] bolshoytoster commented on #855
@MyCryptoBabies there isn't a `layers` folder.

[2022-03-03 21:07] MyCryptoBabies commented on #855
i got it - i had hat 2 times.   Now another question.  I am making an animal and it would have something in its arms.  The animals are different colors.  When i run it, the last layer has to be the arms.  The layers are in order  background, balloons, animal, face, glasses, hat, bow, item (that they are holding) and lastly arms.  Is there a way to match up the animal fur color and the arm fur colo

[2022-03-03 21:12] MyCryptoBabies opened #856 "question about the layers"
I am making an animal and it would have something in its arms. The animals are different colors. When i run it, the last layer has to be the arms. The layers are in order background, balloons, animal, face, glasses, hat, bow, item (that they are holding) and lastly arms. Is there a way to match up the animal fur color and the arm fur color so they match? I'm getting pink bodies and green arms.....

[2022-03-03 21:14] bolshoytoster commented on #855
@MyCryptoBabies this repo doesn't support this, but you could check some forks.

[Here's thePeanutGalleryAndCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection)

[Here's nftchef's repo](https://github.com/nftchef/art-engine)

[2022-03-03 21:29] aadi3124 commented on #387
hi,
I am quite new in nodejs and express, getting this error and not finding any solution. Please help me.
thanks!

C:\D\PlayBox\back_end\middlewares\auth.js:41
    return res.sendStatus(401).send("Invalid Token");
               ^

TypeError: Cannot read properties of undefined (reading 'sendStatus')
    at Object.verifyToken (C:\D\PlayBox\back_end\middlewares\auth.js:41:16)
    at C:\D\PlayBox\b

[2022-03-03 21:36] bolshoytoster commented on #387
@aadi3124 the function (`verifyToken`) is being passed `undefined` for `res`. If you don't mind, could you share the code where you call `verifyToken` (~line 70).

Also, in future, if you're making a multi-line code block use triple backticks:
\`\`\`js
code
\`\`\`

[2022-03-03 22:18] TheGODMasterDu commented on #851
So does that mean the only reason it isn't working is because my computer is bogged down, slow "the internet connecction"?

[2022-03-03 22:25] bolshoytoster commented on #851
@TheGODMasterDu there are many reasons, it could be your internet, the server could be limiting you, etc.

Looking into the `utils/nftport/uploadFiles.js` file, you could try increasing the `TIMEOUT` variable. (Should be defined on ~line 8).

[2022-03-03 22:49] TheGODMasterDu commented on #851
Are we talking about line 8 here?
![PencilNeck to Hashlips JS Utils](https://user-images.githubusercontent.com/100662087/156665973-e93a2182-fffe-45d2-8a26-c3845368271e.png)

[2022-03-03 22:51] Sats05 opened #857 ""INVALID_ARG_TYPE" error when generating"
Hello! whenever I try to npm run generate, It only generates 1 jpg, no json, and I get the following text. I have the latest node version (17.6.0) and I'm using hashlips engine vr 1.1.1

(node:13436)` [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to s

[2022-03-03 22:51] bolshoytoster commented on #851
@TheGODMasterDu it looks like you're using an old version, you can get the latest from [github](https://raw.githubusercontent.com/codeSTACKr/create-10k-nft-collection/main/utils/nftport/uploadFiles.js).

[2022-03-03 23:06] TheGODMasterDu commented on #851
Okay I Copied and Pasted the new code placed my API key in and got this
![PencilNeck to Hashlips JS Utils Getting Close](https://user-images.githubusercontent.com/100662087/156667859-9e854fda-3509-49d6-a3dd-8ec66a01c404.png)

[2022-03-03 23:29] Hagop-K commented on #773
I got the same error too, at first it was showing the same error but it required me to install a **Desktop development with C++**
from **Visual Studio Installer** after that, I started to show the same error above... **_Does anyone know how to fix this?_**
Programming gets you crazy

[2022-03-04 00:00] larryursini commented on #773
So you need to get NVM and make sure you have node 14.19.10 and ***@***.*** (version 2) should work if you have those. Google tutorial setup nvm if you dont know how that works.

Larry Ursini
303.547.6815
***@***.******@***.***>
https://larryursini.nyc<https://larryursini.nyc/>
UX & Product Designer

On Mar 3, 2022, at 6:30 PM, Hagop-K ***@***.***> wrote:

﻿

I got the same error too, at first it

[2022-03-04 00:37] Sats05 commented on #857
I just updated Harshlips art engine to the newest version and retried and it worked, thanks.

[2022-03-04 00:37] #857 closed, assigned to nobody

[2022-03-04 01:03] baringji commented on #855
Put your arms and bodies on the same layer

[2022-03-04 03:32] rdotcom7 opened #859 "Gif layers?"
Is it possible to have layers as Gifs, so that when the collection is built they can have these different moving gif traits?

Thankyou, you help is very appreciated :)

[2022-03-04 05:14] #847 closed

[2022-03-04 05:18] aadi3124 commented on #387
Hi @bolshoytoster
First of all thanks a lot for the reply.
here is my code from where I am calling verifyToken() function.

[code]

I am providing token in header as Authorization>> Bearer token
which  I am getting correctly here in the verifyToken() function
[code]

[2022-03-04 06:56] ecom-newb commented on #773
THANK YOU! I had the same issue as OP... downloading the 14.19.10 version and installing the C++ worked! @larryursini (coming from someone with absolutely NO coding/computer sci knowledge, I was able to figure it out in seconds with the info you provided, tysm)!

[2022-03-04 09:14] ForCrypto1101 commented on #728
I think its probably because of the 1 chip

[2022-03-04 09:26] sleiman88 commented on #859
i have same question .anyone ?did you find a solution

[2022-03-04 09:57] trcworks opened #860 "npm install canvas ERROR"
Hi every one, I´m having troubles installing the canvas module. After i cloned the art engine, I try to run npm install and this error keeps appearing:

[code]
Basically my problem is that i can download every module except for Canva. Could be something wrong with some versions?
Thanks!

[2022-03-04 10:03] sleiman88 opened #861 "Generating 10k of file.gif with animation"
when i use gif files is layers ,the software build only png static images .How can we update the software to provide image.gif

[2022-03-04 11:50] safiullah007 opened #862 "Layer pixels distortion"
HI.
I am generating the collection and the final renders have white pixels outside. Check the attachments
![2](https://user-images.githubusercontent.com/76186456/156758361-d281bde6-94bb-4c2b-a3e5-070451db5456.JPG)
![3](https://user-images.githubusercontent.com/76186456/156758370-cf69f8f7-c550-4143-903f-cdef084579de.JPG)
![1](https://user-images.githubusercontent.com/76186456/156758375-98fc04cb-d25

[2022-03-04 12:43] chek4lovv commented on #842
I have same problem    Error: Cannot find module 'C:\Windows\hashlips_art_engine-main/node_modules/canvas'
Require stack:
- C:\Windows\hashlips_art_engine-main\src\main.js
- C:\Windows\hashlips_art_engine-main\index.js
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Module.require (node:

[2022-03-04 14:38] bolshoytoster commented on #851
@TheGODMasterDu `socket hang up` can mean pretty much anything. It’s usually the server’s fault but I think here it’s the code.

I barely work with network code, you should open an issue on [codeSTACKr’s repo](https://github.com/codeSTACKr/create-10k-nft-collection/issues) or find [some other code](https://github.com/search?q=nftport) to do this.

[2022-03-04 14:59] MyCryptoBabies commented on #855
Hi baringgjj

Thanks for the reply
That's the problem.  There are things between the layers. Not sure how to do it to match the colors.  If the program matches randomly

[2022-03-04 15:15] TheGODMasterDu commented on #851
Okay Thanks I'll post it.

[2022-03-04 15:25] TheGODMasterDu opened #863 "New problem plz help error: FetchError: request to http://api.nftport.xyz/v0/files failed, reason: socket hang up"
So I'm trying to run this code node utils/nftport/uploadFiles.js but I keep running into this.
![PencilNeck to Hashlips JS Utils Getting Close](https://user-images.githubusercontent.com/100662087/156790957-516bb081-ccf7-40e0-9a68-0a36283455b4.png)

[2022-03-04 15:25] CLKJL commented on #848
@bolshoytoster thank you for your help! I will try it again!

[2022-03-04 16:00] bolshoytoster commented on #387
@aadi3124

Looks like you only pass `req` to it. Try changing it to `auth.verifyToken(req, res, () => {});`.

Obviously change `() => {}` to whatever function `next` should be.

[2022-03-04 16:02] bolshoytoster commented on #860
@trcworks could you please paste the full error.

[2022-03-04 16:05] bolshoytoster commented on #861
@sleiman88 I assume you can change `export` under `gif` to `true` in `src/config.js`:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L50-L52

[2022-03-04 16:05] Tab007 commented on #626
I'm having the same issue

[2022-03-04 16:08] bolshoytoster commented on #862
@safiullah007 could you make sure these don't exist in your original images (give them a black background).

[2022-03-04 16:09] bolshoytoster commented on #842
@chek4lovv run `npm install`.

[2022-03-04 16:10] Tab007 commented on #626
didnt work

[2022-03-04 16:11] bolshoytoster commented on #863
@TheGODMasterDu codeSTACKr's repo is https://github.com/codeSTACKr/create-10k-nft-collection

[2022-03-04 16:20] bolshoytoster commented on #626
@Tab007 can you paste the error please.

[2022-03-04 16:26] Tab007 commented on #626
Error: ENOENT: no such file or directory, scandir '${basePath}/build/images'
    at Object.readdirSync (node:fs:1392:3)
    at Object.<anonymous> (C:\Users\Dell\Desktop\nft\utils\nftport\uploadFiles.js:7:4)
    at Module._compile (node:internal/modules/cjs/loader:1103:14)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1155:10)
    at Module.load (node:internal/modules/cjs/l

[2022-03-04 16:36] bolshoytoster commented on #626
@Tab007 can you paste the first ~10 lines of `utils\nftport\uploadFiles.js` please, there are sevral versions I've found.

[2022-03-04 16:40] Tab007 commented on #626
https://github.com/codeSTACKr/create-10k-nft-collection/blob/main/utils/nftport/uploadFiles.js    I think this is the solution it already started working I think.

[2022-03-04 16:45] TheGODMasterDu commented on #863
Yeah I've gone over that video a million times and it isn't working for me.

[2022-03-04 16:50] bolshoytoster commented on #863
@TheGODMasterDu not the video, open an issue there because the error doesn't come from hashlips' code.

[2022-03-04 16:50] nurekend commented on #804
а как сохранить?

[2022-03-04 16:52] bolshoytoster commented on #804
@nurekend `ctrl` + `s`.

[2022-03-04 17:31] chek4lovv commented on #842
i installed npm but this error appears again, my error looks like this:

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Windows\hashlips_art_engine-main/node_modules/canvas'
Require stack:
- C:\Windows\hashlips_art_engine-main\src\main.js
- C:\Windows\hashlips_art_engine-main\index.js
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:93

[2022-03-04 17:33] bolshoytoster commented on #842
@chek4lovv could you run `npm install canvas`.

[2022-03-04 17:39] chek4lovv commented on #842
when i run npm install canvas  i get this error

PS C:\Windows\hashlips_art_engine-main> npm install canvas
npm ERR! code 1
npm ERR! path C:\Windows\hashlips_art_engine-main\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! ???????? ?????????? ?? ???? ? ?? ????. ??? ??????? ????????? ???, ??????? ????

[2022-03-04 18:36] bolshoytoster commented on #842
@chek4lovv according to [this](https://github.com/mapbox/node-pre-gyp/issues/526#issue-753211483) comment, running `npm i  canvas --canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/` might fix it.

[2022-03-04 19:03] chek4lovv commented on #842
Unfortunately, the error has come up again

npm ERR! code 1
npm ERR! path C:\Windows\hashlips_art_engine-main\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! ???????? ?????????? ?? ???? ? ?? ????. ??? ??????? ????????? ???, ??????? ?????? "/m".
npm ERR!   Backend.cc
npm ERR! c:\users\???\appdata\loc

[2022-03-04 19:17] larryj52 opened #864 "Cannot find module error"
Any advice:

code: 'MODULE_NOT_FOUND',
code: 'MODULE_NOT_FOUND',
  requireStack: [
    '/"mydirectory"/hashlips_art_engine-1.1.2_patch_v5/utils/nftport/uploadFiles.js'
  ]

[2022-03-04 19:17] trcworks commented on #860
@bolshoytoster I dont know what i did but now is working perfectly. Thanks anyway!!

[2022-03-04 19:24] trcworks opened #865 "Rarity issue - rarity not applied"
hi All!!

Im having an issue with the rarity for each layer.

I have write the percentage for each trait with # and the number after that but im having the same rarity for each trait.
<img width="211" alt="image" src="https://user-images.githubusercontent.com/100143326/156827944-0191725b-1cfe-4dfa-a02b-c70666c45b8e.png">

<img width="314" alt="image" src="https://user-images.githubusercontent.com/

[2022-03-04 19:48] bolshoytoster commented on #768
If anyone else has this problem make sure your `layersOrder` is in the right order (background at the top).

[2022-03-04 19:50] bolshoytoster commented on #864
@larryj52 can you paste the output of the command `Get-ChildItem -Recurse utils` please.

[2022-03-04 19:52] bolshoytoster commented on #865
@trcworks It's because you make every possibility, they all have equal chance. If you make more layers/images or reduce the `growEditionSizeTo` you'll see the effect of the rarity more.

[2022-03-04 20:21] larryj52 commented on #864
I tried putting this in a new terminal. Nothing returned

[2022-03-04 20:25] bolshoytoster commented on #864
@larryj52 what about running it without `utils`.

[2022-03-04 20:30] larryj52 commented on #864
command not found: zsh:

[2022-03-04 20:32] bolshoytoster commented on #864
@larryj52 try `ls -R` then.

[2022-03-04 20:39] larryj52 commented on #864
I don't understand

[2022-03-04 20:39] larryj52 commented on #864
Do you mean inverse the words utils and recourse?

[2022-03-04 20:41] bolshoytoster commented on #864
@larryj52 run `ls -R`.

[2022-03-04 20:45] larryj52 commented on #864
nothing.

[2022-03-04 20:45] larryj52 commented on #864
zsh: command not found: run

[2022-03-04 20:46] bolshoytoster commented on #864
@larryj52 just `ls -R`.

[2022-03-04 20:51] larryj52 commented on #864
LICENSE                 index.js                package-lock.json
README.md               layers                  package.json
banner.png              logo.png                src
build                   modules                 utils
constants               node_modules            yarn.lock

./build:
images  json

./build/images:
1.png   10.png  2.png   3.png   4.png   5.png   6.png   7.png   8.png

[2022-03-04 20:52] bolshoytoster commented on #864
@larryj52 you should be able to run `node utils/nftport/uploadFiles.js`

[2022-03-04 20:53] larryj52 commented on #864
I thought so.  But it does not work.

[2022-03-04 20:57] larryj52 commented on #864
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'node-fetch'
Require stack:
- /Users/raad_1/Desktop/NFT Experiment/hashlips_art_engine-1.1.2_patch_v5/utils/nftport/uploadFiles.js
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Module.require (node:interna

[2022-03-04 21:00] bolshoytoster commented on #864
@larryj52 that's because you need to run `npm install`.

[2022-03-04 21:04] larryj52 commented on #864
Now I am back to:
{
code: 'MODULE_NOT_FOUND',
requireStack [ 'my directory/file' ] }

[2022-03-04 23:32] aadi3124 commented on #387
Hi @bolshoytoster,
Yes, got it. Thanks for helping me out. Its working now.
Just wanted to ask, right now I am getting resp = undefined
I want to send some message to client. How can I do that? May be this silly doubt but Its very new to me so. Hope you understand.
thanks!
[code]

[2022-03-04 23:41] bolshoytoster commented on #387
@aadi3124 looking at your `verifyToken` function, it looks like if there's no error it returns the function you pass to it. (`() => {}` in this case).

As I mentioned, you should change the `() => {}` to the function you want to be called. I'm not completely sure what you want to do, but you could change it to `() => res.sendStatus(200).send("Message")` and it will send the message with the [statu

[2022-03-04 23:54] aadi3124 commented on #387
@bolshoytoster I am making system in which if user is already registered and try to login again in the system and if user's token is valid, user can directly login and can access resources.
I tried () => res.sendStatus(200).send("Message"), getting a message "OK" in postman with a code 200 but also getting below error in terminal. Can you please help me with this

[code]

[2022-03-05 00:03] bolshoytoster commented on #387
@aadi3124 sorry, I just copied the code you pasted before. I think `() => res.send("message")` will work for this one, then for the ones in the `verifyToken` function just change the `sendStatus`s to just `status`s.

[2022-03-05 00:18] aadi3124 commented on #387
@bolshoytoster Thanks! Its working and able to send the "message" to the client till my token is valid, once token get expired, getting same above error.

this is my verifyToken() function

[code]
Error is (when token expired)
[code]

[2022-03-05 02:42] rebyav opened #866 "[ERR_INVALID_ARG_TYPE]"
Hey

I cant manage to get node utils/nftport/uploadfiles,js running correctly. I recieve this error message when i try to run it

error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
error:TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must

[2022-03-05 04:09] bigtarsier opened #867 "/build/json/_metadata.json is missing"
/build/json/_metadata.json this folder/file is missing from the repo.

Any idea? Thank you

[2022-03-05 06:32] levianlp commented on #366
@bolshoytoster hello i got this error Cannot find module 'D:\hashlips_art_engine-main (1)/node_modules/sha1', what node patch do you use

[2022-03-05 06:46] Vikassingh121 opened #868 "Error: Unsupported image type"
![Screenshot 2022-03-05 121506](https://user-images.githubusercontent.com/52183505/156871945-be9d7374-85a7-4be6-b8c4-030d23f629ba.png)

[2022-03-05 06:52] Vikassingh121 commented on #868
I have run 2 to 4 times its showing me same error again and again, in new version; If i use old version no error.

[2022-03-05 07:28] calvinvalerian opened #869 "I need help! Do you know how to start hashlips_art_engine from the last image number I left off?"
My last image generated is #121 I need to start from 122

[2022-03-05 08:13] ckevinroque commented on #685
Try this.
In line 15 change the code from `let data = JSON.parse(rawdata);` to `let data = (rawdata);`

[2022-03-05 08:15] ZDigitalDesigns opened #870 "npm install issue"
0 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'install' ]
1 info using npm@8.3.1
2 info using node@v16.14.0
3 timing npm:load:whichnode Completed in 0ms
4 timing config:load:defaults Completed in 0ms
5 timing config:load:file:/usr/local/lib/node_modules/npm/npmrc Completed in 0ms
6 timing config:load:builtin Completed in 1ms
7 timing config:load:cli Completed in 1ms
8 timing config:

[2022-03-05 09:49] bolshoytoster commented on #387
@aadi3124 you also have to change the second `sendStatus` to `send`.

[2022-03-05 10:01] bolshoytoster commented on #866
@rebyav hashlips doesn't have anything to do with nftport. You can probably avoid this by download the latest version from wherever you got the code.

[2022-03-05 10:05] bolshoytoster commented on #867
@bigtarsier it's meant to be made after a succesful build. If your build failed it won't be generated.

[My repo](https://github.com/bolshoytoster/hashlips_art_engine) generates it even if it runs into too many duplicates, you could use that if you want. Either way you'll have to regenerate your collection.

[2022-03-05 10:05] bolshoytoster commented on #366
@levianlp just run `npm install`.

[2022-03-05 10:07] bolshoytoster commented on #868
@Vikassingh121 which version did it work on? It's a notorious issue and that could help us track it down.

[2022-03-05 10:08] bolshoytoster commented on #869
@calvinvalerian [my repo](https://github.com/bolshoytoster/hashlips_art_engine) supports this, you can just run it and it'll skip any images already generated.

[2022-03-05 10:10] bolshoytoster commented on #685
@0xitsHimanshu can you paste one of your json files please.

[2022-03-05 10:12] bolshoytoster commented on #870
@ZDigitalDesigns sorry, it's a notorious issue with M1 macs. One of our dependencies doesn't support it.

You should check [other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for potential solutions.

[2022-03-05 11:42] proraheelaslam opened #871 "How to build multiple images by multiple layers directories"
Hi

please have a look at this.

![image](https://user-images.githubusercontent.com/11072516/156881496-b471a3b1-167f-48e3-b821-46189adab65c.png)

[2022-03-05 11:45] bolshoytoster commented on #871
@proraheelaslam do you want the `gsset` layers on that image?

[2022-03-05 11:49] proraheelaslam commented on #871
@bolshoytoster No i want to make separate image as like 2.png in build/images directory. Currently only `1.png` is created success for layers (A,B,C,D,E). But it is not created  `2.png` for another layers gsset1,gsset2,gsset3,gsset4,gsset4

[2022-03-05 11:51] bolshoytoster commented on #871
@proraheelaslam can you paste your `layerConfigurations` please.

[2022-03-05 11:53] proraheelaslam commented on #871
@bolshoytoster This is layer configuration
[code]

[2022-03-05 11:55] bolshoytoster commented on #871
@proraheelaslam did it give you an error when you generated them? From this, it should create 300 images but it only generated 1.

edit: just realised the issue. It looks like you only have 1 image for each layer, meaning it creates the one image and exits because of duplicates.

You can set `shuffleLayerConfigurations` to `true` on one of the lines below.

[2022-03-05 11:59] calvinvalerian commented on #869
Wow it did. But there is one problem. When I import the image collection from the original hashlips_art_engine to your repo, yours will overwrite the previously crafted images from the original haslips_art_engine.

Your repo solved my issue by the way if I start from scratch. Thanks :)

[2022-03-05 12:00] #869 closed, assigned to nobody

[2022-03-05 12:01] bolshoytoster commented on #869
@calvinvalerian I think you need to copy over the `build/json` folder as well.

[2022-03-05 12:01] proraheelaslam commented on #871
@bolshoytoster There is no error when run `npm run build `
Here is attachment
![image](https://user-images.githubusercontent.com/11072516/156882085-b9315720-2874-49c2-9453-45220efeee07.png)

[2022-03-05 12:03] calvinvalerian commented on #869
yes that's what I did it overwrite the original hashlips build folder

[2022-03-05 12:04] bolshoytoster commented on #871
@proraheelaslam add more images to your layers and it will be able to generate 300 images.

[2022-03-05 12:05] bolshoytoster commented on #869
@calvinvalerian oh, it relies on the `build/json/_metadata.json` file, which isn't generated if you cancel it mid-generation.

[2022-03-05 12:08] calvinvalerian commented on #869
oh yes it now makes sense I can see what _metadata.json do
Greatly appreciate your work. Genius.

[2022-03-05 12:19] proraheelaslam commented on #871
@bolshoytoster My question is only on layer object is working and other object is not working.
I want like this

Layers directory:
- A,B,C,D,E
- F,G,S,T,U,
- Q,R,W,X

The output should be like this in builder/image directory
- 1.png
- 2.png
- 3,png

[2022-03-05 12:21] bolshoytoster commented on #871
@proraheelaslam it will work if you either add more images or reduce the `growEditionSizeTo`s.

[2022-03-05 12:27] proraheelaslam commented on #871
@bolshoytoster Please can you try to look script and run this script I have update whole script on this link
https://github.com/proraheelaslam/multiple_layers

Thanks

[2022-03-05 12:34] Sevenrex opened #872 "Does this still work for candymachine v2?"
has anyone tried using this for v2?

[2022-03-05 12:38] bolshoytoster commented on #871
@proraheelaslam the main issue was that it only had enough images to generate 2 images, but `growEditionSizeTo` was set to 50.

I ended up using my fork because this repo is 'stupid' when it comes to multiple `layerConfigurations`; it takes the `growEditionSizeTo` from the last config just uses that for the full thing. If you use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) and

[2022-03-05 12:42] proraheelaslam commented on #871
@bolshoytoster I have delete my repo now.

[2022-03-05 12:44] Kishiyan107 opened #873 "adding a new layer based on overall rarity"
Is there a way I can add a Rarity Layer based on overall rarity
of the generated NFT?

For example I think there is a rarity variable for each layer.
Then add those rarity for all layers to get the overall rarity ratings.

Based on the rarity ratings I want to add a Frame Trait
like
Bronze < Silver < Gold < Platinum

or

Common < Uncommon < Rare < Epic < Legendary

[2022-03-05 12:49] bolshoytoster commented on #873
@Kishiyan107 not sure if I understood correctly, but you could have the images named:
- Platinum#1.png
- Gold#2.png
- Silver#3.png
- Bronze#4.png

You can adjust the values if you want.

[2022-03-05 12:52] proraheelaslam commented on #871
@bolshoytoster  Thank you very much
 It is working fine now if we start `growEditionSizeTo`  from 1. Here is another issue. If we set growEditionSizeTo 30 for third layer then it still created two images.
 Please see attachment
![image](https://user-images.githubusercontent.com/11072516/156883838-7dec0058-066d-41d7-962b-08f4202e4af2.png)

[2022-03-05 12:53] bolshoytoster commented on #871
@proraheelaslam are there enough images to create that many images?

[2022-03-05 13:01] proraheelaslam commented on #871
@bolshoytoster It will be more than 100 layers. For testing I have just make copy of layer A,B.. etc and create Y 1, Y2 etc. I have set `growEditionSizeTo ` 20 but not create third image in builder/images directory . Can you guide what will be `growEditionSizeTo `  if we set third and so on.

Thanks

[2022-03-05 13:03] bolshoytoster commented on #871
@proraheelaslam set them all to 1 for now, until you get more images.

[2022-03-05 13:06] proraheelaslam commented on #871
@bolshoytoster Only one image is created.

![image](https://user-images.githubusercontent.com/11072516/156884314-007e32c6-d4ad-4f9d-a3bb-e035e2cac4da.png)

[2022-03-05 13:10] bolshoytoster commented on #871
@proraheelaslam are you using my fork?

[2022-03-05 13:14] proraheelaslam opened #874 "How can set config of sub directory in layers."
Hi,

I want to set layer folder structure like this
[code]

 and so on.

 How can set configuration of this structure.
 Please see attachment

 Please help us.

 Thanks

![image](https://user-images.githubusercontent.com/11072516/156884633-249378aa-1574-4132-b6df-68263d3ca67a.png)

[2022-03-05 13:16] Kishiyan107 commented on #873
If I add that layer during creation, it would be randomly added to the image itself
regardless of the overall rarity of the image created.

For example if I have these traits created

Head: Common
Eyes:Common
Ears:Common
Nose:Common
Mouth:Common

After the creation of the image, this image would have an overall rating of Common
then I want to add for example Frame:Bronze to represent that it is co

[2022-03-05 13:17] proraheelaslam commented on #871
@bolshoytoster No I am using this https://github.com/HashLips/hashlips_art_engine

[2022-03-05 13:18] bolshoytoster commented on #874
@proraheelaslam would this work:
[code]
Then
[code]

[2022-03-05 13:20] bolshoytoster commented on #873
@Kishiyan107 that's not supported currently, and I'm not sure how many people would like this. But I'll see if I can put something together.

[2022-03-05 13:30] proraheelaslam commented on #871
@bolshoytoster Should we use your fork ?

[2022-03-05 13:57] proraheelaslam commented on #874
@bolshoytoster Thanks it works.

[2022-03-05 14:51] thomas-gc opened #875 "Contract deploy error"
Hi, I have successfully followed the youtube tutorial and deployed my contract to Rinkeby. I have confirmed everything working on testnet at opensea. When I try to deploy on Polygon, I get an error stating "transaction underpriced". The entire error is: errored: [ethjs-query] while formatting outputs from RPC '{"value":{"code":-32603,"data":{"code":-32000,"message":"transaction underpriced. Thank

[2022-03-05 14:59] thomas-gc commented on #875
NVM, I figured it out. Was able to increase gas fee on MetaMask. Then it went through.

[2022-03-05 14:59] #875 closed, assigned to nobody

[2022-03-05 18:20] proraheelaslam opened #876 "How can set merged image file named as folder containing layer files"
Hi

Is it possible to set build images name is same as layer main directory name?
How to set custom name of build images.?

Thanks

![unknown](https://user-images.githubusercontent.com/11072516/156895521-4c5d1786-870b-4392-9e6b-fe6c798c80b7.png)

[2022-03-05 18:21] proraheelaslam commented on #876
This is config.js file
![unknown (1)](https://user-images.githubusercontent.com/11072516/156895547-e17869b9-b998-4f14-93b4-f9c247d99ddb.png)

[2022-03-05 18:55] proraheelaslam opened #877 "Build final image is not show correct after place all layers in one layer folder"
Hi,

I have make each folder for every layer it is working fine and image is show correct. But when i want to place all layers in one folder then build final image is not show correct. How can show correct imager after set layers in single  folder. Here is example Art folder has layers 1,2,3,4,5 the image of these layers is not show correct. If we place these layers in own folder then it show corr

[2022-03-05 19:15] bolshoytoster commented on #873
@Kishiyan107 I've made something that works. Granted, not very efficient and it doesn't update the metadata, but it works.

First, remove the layer you want to add from your `layersOrder`s, Then generate.

Paste the following code into a new file at the top of your project:
[code]

Save the file and run it with `node {whatever you called the file}` in the terminal.

You'll be prompted to give the

[2022-03-05 19:35] proraheelaslam commented on #871
@bolshoytoster Thank you very much for help.
It is working fine.

Thanks

[2022-03-05 19:40] proraheelaslam commented on #876
@bolshoytoster Hope you can see this.

[2022-03-05 20:18] funkymonkey5150 commented on #812
it worked for me thaNK YOU

[2022-03-05 20:19] funkymonkey5150 commented on #812
YOU MIGHT HAVE SOMETHING OR ANOTHER VERSION OF NODE ISNTALLED

[2022-03-05 21:33] bolshoytoster commented on #877
@proraheelaslam could you give an example of one of the wrong images?

[2022-03-05 22:00] bolshoytoster commented on #876
@proraheelaslam in the `saveImage` function in `src/main.js` ~line 136:
https://github.com/bolshoytoster/hashlips_art_engine/blob/20f23a52b7b7e8dbc422ad1ca810beb6c7d7df58/src/main.js#L136-L141

You could change the
[code]
to
[code]
It should (I haven't tested it) set the names to be like: `1 Art.png`. You can move the `${attributesList[0].trait_type.split(`/`).shift()}` to move where the layer nam

[2022-03-05 23:03] Tach916 opened #878 "Way to code to not use a layer if "X" element was used prior?"
I don't know how to best describe this but for example if there is a layer with 4 different elements (like suit jackets) but one of them is a shirt, is there a way to code it so if the shirt is used the next layer which is something like ties is not used?

[2022-03-06 01:24] Braybray90 opened #879 "Keep getting the same error over and over"
PS C:\Users\Brayden\Documents\GitHub\Pacca\Engine\hashlips_art_engine-1.1.2_patch_v6> npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lock

[2022-03-06 01:34] djcol14 opened #880 "'ERR_INVALID_ARG_TYPE'"
ypeError [ERR_INVALID_ARG_TYPE]: The "data" argument must be of type string or an instance of Buffer, TypedArray, or DataView. Received undefined
    at Object.writeFileSync (node:fs:2148:5)
    at saveMetaDataSingleFile (C:\Users\decla\OneDrive\Desktop\hashlips_art_engine-1.1.2_patch_v6\src\main.js:320:6)
    at C:\Users\decla\OneDrive\Desktop\hashlips_art_engine-1.1.2_patch_v6\src\main.js:409:11

[2022-03-06 04:30] pratham-abc commented on #837
I am encountering same error and downgraded node too but its still not working

[2022-03-06 06:52] proraheelaslam commented on #876
@bolshoytoster Thank you.
It is working fine.

![image](https://user-images.githubusercontent.com/11072516/156912520-82a96a33-ce76-4d93-b6dd-6bfabf96aa30.png)

[2022-03-06 07:24] proraheelaslam commented on #877
@bolshoytoster Here is example in which first image is show correct if we add each layer in folder. But second image is not correct if we move all layers in one folder. You can see attachments last two images are not correct.

Thanks

1-
![image](https://user-images.githubusercontent.com/11072516/156913221-e82494be-09a8-4afa-906f-dce7a1d372d6.png)
2-

![image](https://user-images.githubusercontent

[2022-03-06 08:06] sleiman88 opened #881 "Generation is slow"
how to remove the delay while generative different images .need to make generation faster and remove delay between dna creation

[2022-03-06 09:26] bolshoytoster commented on #879
@Braybray90 it's not an error; it's just a warning. You can safely ignore it.

[2022-03-06 09:36] bolshoytoster commented on #880
@djcol14 can you set `debugLogs` in `src/config.js` (~line 42) to true please.

[2022-03-06 09:36] bolshoytoster commented on #837
@pratham-abc can you paste the error please.

[2022-03-06 09:38] bolshoytoster commented on #877
@proraheelaslam could you paste your `layersOrder` please.

[2022-03-06 09:49] levianlp commented on #366
@bolshoytoster yep already do npm install sha1 and it works man, thank you for yr work appreciate it so much

[2022-03-06 10:32] proraheelaslam commented on #877
@bolshoytoster Here is layer order

[code]

[2022-03-06 10:36] bolshoytoster commented on #877
@proraheelaslam you can't have the layers in the same folder, hashlips wouldn't know order or anything.

[2022-03-06 10:39] proraheelaslam commented on #877
@bolshoytoster Can we change the hashlips accept the layers in one folder as
[code]

[2022-03-06 10:40] bolshoytoster commented on #877
@proraheelaslam no, because it wouldn't know what order to put the images in.

[2022-03-06 10:41] proraheelaslam commented on #877
@bolshoytoster It is very difficult process for users if more than 20 layers. User change manually and make the folder for each layer.

[2022-03-06 10:43] proraheelaslam commented on #877
@bolshoytoster I think It should read all layers in directory. For example folder 'A' has 5 layers. It should read 5 layers in one folder.

[2022-03-06 10:47] proraheelaslam commented on #877
@bolshoytoster Have any solution for this ? Because designer generate 500 layers for different image. How can automate this process. User just paste the layers in layers directory and program automatically generate the images against the layer.
User will create layer likes this.
- Circle layer
- Rectangle Layer
- Animation
- PI
etc...

Thanks

[2022-03-06 11:02] bolshoytoster commented on #877
@proraheelaslam I guess you could, at ~line 112 in `src/config.js`:
[code]
change it to:
[code]
I haven't tested this but it might work. If I've understood you correctly.

[2022-03-06 11:14] proraheelaslam commented on #877
@bolshoytoster This function exist in main.js can you paste complete function of `layersSetup`.
Thanks
![image](https://user-images.githubusercontent.com/11072516/156920612-88a35e5e-421d-422c-85a7-642c0401c70b.png)

[2022-03-06 11:24] bolshoytoster commented on #877
@proraheelaslam
[code]
And in the function above, `getElements`:
[code]

[2022-03-06 11:38] proraheelaslam commented on #877
@bolshoytoster The fs is include on top page but still this error of this `readdirsync `

[code]

![image](https://user-images.githubusercontent.com/11072516/156921109-6efed00a-e772-4025-9083-57f0fe8b23be.png)
![image](https://user-images.githubusercontent.com/11072516/156921116-bbbc75e4-0c70-40c3-ba73-6729b6e75a4e.png)

[2022-03-06 11:39] bolshoytoster commented on #877
@proraheelaslam sorry, the 's' is meant to be uppercase: `readdirSync`.

[2022-03-06 11:42] proraheelaslam commented on #877
@bolshoytoster The path is not read.

![image](https://user-images.githubusercontent.com/11072516/156921480-885e0fdd-afd0-400f-a0e0-259277a71390.png)

[2022-03-06 11:47] bolshoytoster commented on #877
@proraheelaslam at the top of `layersSetup`, change
[code]
to
[code]

[2022-03-06 11:57] proraheelaslam commented on #877
@bolshoytoster  Got this.

[code]

![image](https://user-images.githubusercontent.com/11072516/156922047-7950298f-5f07-472c-b4d1-83b6203322d0.png)

[2022-03-06 12:02] bolshoytoster commented on #877
@proraheelaslam at the end of `getElements`:
[code]
you could try changing `id: 0` to `id: 1`.

[2022-03-06 12:06] proraheelaslam commented on #877
@bolshoytoster In both cases `id:0 and id:1` still same thing

![image](https://user-images.githubusercontent.com/11072516/156922340-d64e995f-7348-4ad5-867c-5a97e8b54bbf.png)

[2022-03-06 12:08] bolshoytoster commented on #877
@proraheelaslam I recommend just doing it the normal way, having a folder for each layer.

[2022-03-06 12:22] proraheelaslam commented on #877
@bolshoytoster Thank you for your effort and time. If you will find another solution then let you can know.

Thanks

[2022-03-06 12:37] Hagop-K opened #882 "Error: CANNOT FIND MODULE /hashlips_art_engine-main/node_modules/canvas"
Before I was continuously getting an **ERROR** every time I was trying to do "npm install" in order to install all the node dependencies, but then I used node v14.18.2.
I installed node v14.18.2, it was said that it worked the best with canvas API from all other node versions. After installing it, it started to work. however, I started to get this error...

Does anyone know how to fix this?

**---

[2022-03-06 12:49] bolshoytoster commented on #882
@Hagop-K have you tried deleting the `node_modules` folder and running `npm install` again?

Or just running `npm install canvas`.

If either of those gives an error can you paste it here please.

[2022-03-06 13:08] Sats05 opened #883 "Changing name after generation"
So I already generated my collection but I'd like to change the collection nameon the jsons, is there a way to change all json at once or do I have to do it manually?

[2022-03-06 13:17] Hagop-K commented on #882
@bolshoytoster Yes, I tried your first suggestion and it didn't help. However, I tried your second option too and It showed this...
It started installing the "canvas" and right after finishing the installment, It showed a bunch of errors.
Check This Out!👇

npm install canvas

node-pre-gyp
ERR! install request to https://objects.githubusercontent.com/github-production-release-asset-2e65be/948957/da

[2022-03-06 13:20] KeaganM27 opened #884 "npm i ERRORS"
I'm trying to generate my NFT collection, but this error is showing up and I'm unsure how to resolve the issue.

Any suggestions?

*ATTACHED ARE THE VERSIONS OF NODEJS, VSCODE, AND HASHLIPS GENERATOR THAT I'M USING*
<img width="254" alt="Screen Shot 2022-03-06 at 7 17 30 AM" src="https://user-images.githubusercontent.com/97859483/156925041-e230c522-2f15-4b1b-b6e2-18b98409139c.png">

————————

The

[2022-03-06 13:23] bolshoytoster commented on #882
@Hagop-K I've never seen that error before.

[this](https://stackoverflow.com/a/28818172) stackoverflow answer says running `npm config delete proxy` fixed it.

[2022-03-06 13:28] bolshoytoster commented on #883
@Sats05 running `node utils/update_info.js` should update the names if you change `namePrefix` in `src/config.js`.

[2022-03-06 13:31] bolshoytoster commented on #884
@KeaganM27 rhis is a well known issue with M1 macs. You should check some [other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for potential solutions.

[2022-03-06 13:35] KeaganM27 commented on #884
Thank you 🤘 I will check it out now

[2022-03-06 13:41] Hagop-K commented on #882
@bolshoytoster Yeah... it's also new for me. Been using StackOverflow, but I couldn't really find a solution for this maybe cuz it's new and doesn't have any solution on the internet yet...

But I'm gonna try npm config delete proxy and see what happens.

[2022-03-06 13:42] Sevenrex opened #885 "what does dna exists mean?"
I generated like 5k nfts and dna exists appeared like around 20-30 times. does that mean i have 30 duplicates? or it just detected that it was a duplicate and generated a new one?

[2022-03-06 13:46] Sats05 commented on #883
Thank you so much! it worked.

[2022-03-06 13:46] #883 closed, assigned to nobody

[2022-03-06 13:59] bolshoytoster commented on #885
@Sevenrex it means it detected that it was a duplicate and generated a new one

[2022-03-06 14:18] proraheelaslam opened #886 "The layer name doesn't accept without dash file name."
Hi,

We have to set all layer file name with hash(#). But when we removed the hash from layer file name then image does not build. We have tried to change this script `const rarityDelimiter = " ";` It does not work.
Actually We do not want to restrict the user to add the hash(#) in file name. It can be any name of file layer.

Thanks

![image](https://user-images.githubusercontent.com/11072516/156

[2022-03-06 14:23] chek4lovv opened #887 "npm run build error"
(Windows 8.1) When i run `npm run generate` or `npm run build` or `node index.js` i get this error:

PS C:\hashlips_art_engine-1.1.2_patch_v6> npm run generate

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- C:\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas\lib\bindings.js
- C:\hashlips_art_engine-1.1.2_patch

[2022-03-06 14:37] bolshoytoster commented on #886
@proraheelaslam does it give an error when you try to build?

Also, who do you mean by 'the user'?

[2022-03-06 14:37] bolshoytoster commented on #886
@proraheelaslam does it give an error when you try to build?

Also, who do you mean by 'the user'?

[2022-03-06 14:38] bolshoytoster commented on #887
@chek4lovv does it give an error if you delete the `node_modules` folder and run `npm install` again?

[2022-03-06 14:44] chek4lovv commented on #887
When i delete `node_modules` and run `npm install` i get this

PS C:\hashlips_art_engine-1.1.2_patch_v6> npm install
npm ERR! code 1
npm ERR! path C:\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! ???????? ?????????? ?? ???? ? ?? ????. ??? ??????? ????????? ???, ?

[2022-03-06 15:11] proraheelaslam commented on #886
@bolshoytoster It gives below error.
User mean any person (designer) who will use the system.
[code]

![image](https://user-images.githubusercontent.com/11072516/156929139-2d9423e6-64d9-4edc-a279-fe3e19853262.png)

[2022-03-06 15:14] bolshoytoster commented on #886
@proraheelaslam if you change the `rarityDelimeter` to `" "` you have to change all of the element names accordingly (i.e. `name#1.png` => `name 1.png`)

[2022-03-06 15:15] proraheelaslam commented on #886
@bolshoytoster The layer file could have any name. It should accept all name. It should not depend on format.

[2022-03-06 15:58] bolshoytoster commented on #887
@chek4lovv I think you could run `npm i canvas --canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/`

[2022-03-06 16:00] tryshka commented on #370
![image](https://user-images.githubusercontent.com/101057184/156931056-827130b9-e630-478c-a851-67d1fc8ae0dd.png)
 help solve this problem

  errno: 2,
  code: 'ENOENT',
  path: 'C:\\Users\\Пользователь\\Documents\\hashlips_art_engine-main/layers/1_Background/error#5.png',
  syscall: 'fopen'

[2022-03-06 16:04] chek4lovv commented on #887
in another issue, you suggested that I do the same and left a link to the instructions, but this did not help either
I get this error
npm ERR! code 1
npm ERR! path C:\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! ???????? ?????????? ?? ???? ? ?? ????. ??? ???????

[2022-03-06 16:13] bolshoytoster commented on #887
@chek4lovv you could try changing the canvas version to 2.9.0.

In `package.json` ~line 27:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/package.json#L26-L28

Change `"canvas": "^2.8.0",` to `"canvas": "^2.9.0",`.

[2022-03-06 16:19] chek4lovv commented on #887
I'm a beginner, please write in more detail, or is everything described in the article?

[2022-03-06 16:22] bolshoytoster commented on #887
@chek4lovv you can just change `"canvas": "^2.8.0",` to `"canvas": "^2.9.0",` in the `package.json` file.

[2022-03-06 16:28] chek4lovv commented on #887
i changed canvas version what should i do next?

[2022-03-06 16:35] chek4lovv commented on #887
I changed the `canvas` version to `2.9.0` and then i tried to run `npm run generate` and i got this error:

PS C:\hashlips_art_engine-1.1.2_patch_v6> npm run generate

node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\hashlips_art_engine-1.1.2_patch_v6/node_modules/sha1'
Require stack:
- C:\hashlips_art_engine-1.1.2_patch_v6\src\main.js
- C:\hashlips_art_engine-1

[2022-03-06 16:35] bolshoytoster commented on #887
@chek4lovv you need to run `npm install` again.

[2022-03-06 16:39] chek4lovv commented on #887
@bolshoytoster error again

PS C:\hashlips_art_engine-1.1.2_patch_v6> npm install
npm ERR! code 1
npm ERR! path C:\hashlips_art_engine-1.1.2_patch_v6\node_modules\canvas
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-pre-gyp install --fallback-to-build
npm ERR! ???????? ?????????? ?? ???? ? ?? ????. ??? ??????? ????????? ???, ??????? ?????? "/m".
npm ERR!   Copy

[2022-03-06 16:44] bolshoytoster commented on #887
@chek4lovv from the error, it looks like it's still trying to download canvas 2.8.0. Could you delete the `node_modules` folder, make sure you saved the change in `package.json` and run `npm install` again.

[2022-03-06 17:03] chek4lovv commented on #887
@bolshoytoster ![image](https://user-images.githubusercontent.com/100942672/156933491-ce852001-4b5a-4fc6-a4b9-ea9156d6b8ed.png!
 i can't delete `node_modules` because this folder is not in the workspace

[2022-03-06 17:06] bolshoytoster commented on #887
@chek4lovv you can skip that then. From the screenshot, it looks like you haven't saved the `package.json` file. You can click `ctrl` + `s` to save it and run `npm install` again.

[2022-03-06 17:11] chek4lovv commented on #887
@bolshoytoster ugh
again error, i think my PC is kidding me

![image](https://user-images.githubusercontent.com/100942672/156933917-9601e1c6-59b7-4975-b31e-127fc84a8e79.png)

i saved the changes in package.json

[2022-03-06 18:03] bolshoytoster commented on #881
@sleiman88 I've managed to over quadruple the speed by making the rendering happen in a seperate thread. I'm going to push this to [my fork](https://github.com/bolshoytoster/hashlips_art_engine) once I've gotten rid of any other things that might be slowing it down.

Edit: practically, I've only sped it up by 30%. If javascript wasn't stupid and just let me make a duplicate of a class without over

[2022-03-06 19:31] xSkazi opened #888 "How to start generating at a specific index?"
Basically, I have a 1000 piece collection I want to generate.

I want the first 250 to all have attribute W
The next 250 should all have attribute X
The next 250 should all have attribute Y
The final 250 should all have attribute Z

So I would generate the first 250 images and metadata pairs (0.png & 0.json to 249.png & 249.json) with attribute W. How would I go about starting the next generation

[2022-03-06 19:38] ghost commented on #565
I am having the same issue. The images do not even show up on the opensea test.net, and I know i have done everything right so far since I tripled check. I havent revealed any ye, but wonder why my hidden  image is not showing.

[2022-03-06 20:01] codehakan opened #889 "Making at least 2 or 3 different layers"
Hello,

I have 12 layers. Production is provided even with only 1 change in the default settings. But I want to change that. For example, I don't want everything to be the same in 12 layers and only the background to be different. In other words, I want production to occur when there are at least 3 changes. Can anyone help on how I can do this?

[2022-03-06 20:48] bolshoytoster commented on #888
@xSkazi it should do this already, if you have 4 items in your `layerConfigurations`: W, X, Y, Z. If you have all of their `growEditionSizeTo`s set to 250.

[2022-03-06 20:50] bolshoytoster commented on #889
@codehakan do you mean you don't want the images to be too similar?

[2022-03-06 20:58] codehakan commented on #889
@bolshoytoster Yes. For example, the only difference between the 200th produced NFT and the 201st produced NFT is only the background color. I don't want a single difference. I want it to be 2 or 3 differences. The difference between it and the previously produced picture should not be the only one. That is, in the 300th NFT, the eye color is blue, and in the 301st NFT, the eye color is green. I s

[2022-03-06 21:29] MyCryptoBabies opened #890 "syntax error"
I deleted the version I had a few days ago because I saw a new version that said "TODAY" so i downloaded that.  With the old version, I was getting so many errors.  With the new one, it ran like a charm from the beginning.  Not 1 error, don't know what I did but I got this...I haven't seen this one before   .Please Help
![syntax error](https://user-images.githubusercontent.com/100310137/156942895-

[2022-03-06 22:33] kaikecloss commented on #313
Waiting for the soltion too

[2022-03-06 22:43] johnathan8608 opened #891 "hey I have problem"
that is(withrowEditionSizeTo) what ever I do it just create 5 nfts why is that I am going crazy whit this

[2022-03-06 22:44] johnathan8608 opened #892 "hey I have problem"
that is(withrowEditionSizeTo) what ever I do it just create 5 nfts why is that I am going crazy whit this

[2022-03-06 22:53] #892 closed, assigned to nobody

[2022-03-06 23:27] bolshoytoster commented on #889
@codehakan in `src/main.js` ~line 277:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L277-L280

You could replace that function with:
[code]
Then change `MAX_OVERLAP` to be the max number of layers you want to be the same.

I haven't tested this and it's quite inefficient, but it might work.

[2022-03-06 23:31] bolshoytoster commented on #890
@MyCryptoBabies it means there's a syntax error in your `src/config.js` file. Can you paste the full error please.

[2022-03-06 23:34] bolshoytoster commented on #313
@FunkySea run `ls -Directory` in your powershell to get the name, then run `cd ` + the name and you should be in the correct folder.

[2022-03-06 23:35] bolshoytoster commented on #891
@johnathan8608 make sure you save the `src/config.js` file (`ctrl` + `s`).

[2022-03-06 23:47] MyCryptoBabies commented on #890
Hi again,  Thank you so much for being so quick to help
![syntax error](https://user-images.githubusercontent.com/100310137/156947559-b0de24dd-94af-401d-add1-4ca20665a89e.PNG)

[2022-03-07 00:00] bolshoytoster commented on #890
@MyCryptoBabies you should move the second quote (") to the end of the line (just before the semicolon).

[2022-03-07 02:35] MyCryptoBabies commented on #890
no idea- it worked until I changed the description - now I'm lost
![error again](https://user-images.githubusercontent.com/100310137/156958097-7cf6de23-4ff9-4631-b66d-3c211ce3878e.PNG)

[2022-03-07 04:44] ZENPAIKUN opened #893 "Error: Unsupported image type"
I don't know what's wrong even if the file I entered is correct, png is my file why unsupported?

[2022-03-07 05:33] Vikassingh121 commented on #868
@bolshoytoster  latest version of [hashlips_art_engine](https://github.com/HashLips/hashlips_art_engine)

[2022-03-07 05:43] Vikassingh121 commented on #868
@bolshoytoster their are other issue also
 :- It's not picking all the image from the folder's. Like I have skin folder and folder contain 19 skins and hashlips_art_engine
    only half of the skins.
:- when I run the npm run rarity in terminal, after generating 10,000 nfts  It's not showing all the traits in the terminal, only 4 or 5 traits out of 15.

[2022-03-07 06:12] kasun19944 opened #894 "npm run generate / node index.js wats wrong ?"
C:\Users\LENOVO\Downloads\hashlips_art_engine-main (1)\hashlips_art_engine-main\src\main.js:94
      layerObj.options?.["displayName"] != undefined
                       ^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Module.load (internal/modules/cjs/loader.js:653

[2022-03-07 07:32] bolshoytoster commented on #893
@ZENPAIKUN it's a known issue, check out some [other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+Error%3A+Unsupported+image+type) for potential solutions.

[2022-03-07 07:36] bolshoytoster commented on #868
@Vikassingh121 can you run `Get-ChildItem -Recurse` in the powershell and paste the output here please.

[2022-03-07 07:38] bolshoytoster commented on #894
@kasun19944 you need to update your node.js. If you don't want to, you could use [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead.

[2022-03-07 07:42] bolshoytoster commented on #890
@MyCryptoBabies can you paste the FULL error please? It looks like you need to run `npm install` but I can't tell just from the stack trace.

[2022-03-07 10:51] ecom-newb opened #896 "Output images low quality"
Original quality is clean - output is trash/pixelated 😬

I can't figured out how to correct this??

Original:
<img width="400" alt="Screen Shot 2022-03-07 at 2 49 32 AM" src="https://user-images.githubusercontent.com/100897617/157017380-385913fb-198c-4117-b3a3-8049d3c12cbe.png">

Output:
<img width="400" alt="Screen Shot 2022-03-07 at 2 49 49 AM" src="https://user-images.githubusercontent.com/1008

[2022-03-07 11:37] omer2307 opened #897 "How the code locate each layer in the NFT picture"
Hi, I have a theoretical question.
how the code knows how to locate each layer? and how can I change that location?
Thank you!

[2022-03-07 12:51] bolshoytoster commented on #896
@ecom-newb you can turn up the output resolution in `src/config.js` ~line 45:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L48

change width and height to the resolution of your layer images.

[2022-03-07 13:21] bolshoytoster commented on #897
@omer2307 it’s based on the position within the input image. I could add functionality to chose position/size of a layer but I can’t be arsed.

[2022-03-07 13:37] omer2307 commented on #897
I see... thanks for the response.
Then how can I add functionality to adjust the position of a specific item (and in main or config)? I'm looking for providing location for some special items in a specific layer. If you have an idea I would love you share, even if it only part solved.
Thanks!

[2022-03-07 15:00] bolshoytoster commented on #897
@omer2307 in `src/main.js` ~line 90:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L90-L108

you could add at the end:
[code]
Then at ~line 211:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L211-L217

Change it to:
[code]
Then in your `layersOrder` you can add e.g.:
[code]
To gi

[2022-03-07 15:52] omer2307 commented on #897
great! thanks, I'll try it.

[2022-03-07 16:05] codehakan commented on #889
@bolshoytoster thanks. But im taking error.

(node:24012) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead

TypeError: _DnaList.find is not a function
at isDnaUnique (C:\Users\hakan\Desktop\hashlips_art_engine-main\src\main.js:286:14)
    at startCreating (C:\Users\hakan\Desktop\hashlips_a

[2022-03-07 16:17] omer2307 commented on #897
It actually outputted the images with the background all over the image.
When I listed the layers in config I inserted the posX and posY only, so why should I add to the layers setup size? the size gets its place and needed probably other place.
Do you have any idea what's the problem? Maybe its connected to the part I mentioned?

[2022-03-07 16:23] MyCryptoBabies commented on #890
Hi  I ran just ran it today and this is what i got.  I ran the npm install.  Then I ran node index.js and got this
![3-7 error](https://user-images.githubusercontent.com/100310137/157074825-15dc27a0-809e-48c7-a3cb-dbf19c57c419.PNG)

[2022-03-07 16:40] WebDev-Learner opened #898 "NFT generate Error"
I can't generate NFT. It has shown "missing script" how can i solve it?

[2022-03-07 17:02] Achillesnft opened #899 "I cant change my file url in metadata"
while i did what every tutorial said and i used both 1.1.1 and 1.2. So i changed the baseUri and saved it and when i run node utils/update_file.js it updates both my collection name and description but my file_url in the metadata remains the same, i will apreciate if anyone helps me and i will actually give them one the nfts im creating from a collection of 7750. But i first need to obviously uplo

[2022-03-07 17:33] MyCryptoBabies commented on #890
These are all the errors I got from these commands - maybe this can make it clear what's wrong.  Do I need to uninstall and reinstall it?

![3-7 npm audit](https://user-images.githubusercontent.com/100310137/157087009-9ea1b6d3-6257-4e3e-be89-71bb9f2de27b.PNG)

![3-7 npm run generate](https://user-images.githubusercontent.com/100310137/157087019-3da577a6-9a76-4e70-979f-cc174e9d4203.PNG)

![3-7-node

[2022-03-07 18:01] weepope opened #900 "The Impute for the number of builds is not working and is stuck on 5"

[2022-03-07 18:07] xSkazi commented on #888
@bolshoytoster

Forgive my ignorance, but please confirm if this is what is needed. This is the current codeblock I have for the `layerConfigurations` below

I would like the `name: "Base"` property to have four different layers, each of 250 size. In the layers\Base folder I have four different images. How do I attribute each item in `layerConfigurations` to the four separate Base images?

[code]

[2022-03-07 19:23] kasun19944 commented on #894
thanks @bolshoytoster

[2022-03-07 19:25] kasun19944 commented on #894
How to set the resolution of the image to 300pp @bolshoytoster

[2022-03-07 19:25] kasun19944 opened #901 "How to set the resolution of the image to 300pp"
How to set the resolution of the image to 300pp

[2022-03-07 19:58] MyCryptoBabies opened #902 "These are all the errors I got from these commands - maybe this can make it clear what's wrong. Do I need to uninstall and reinstall it?"
These are all the errors I got from these commands - maybe this can make it clear what's wrong.  Do I need to uninstall and reinstall it?

![3-7 npm audit](https://user-images.githubusercontent.com/100310137/157087009-9ea1b6d3-6257-4e3e-be89-71bb9f2de27b.PNG)

![3-7 npm run generate](https://user-images.githubusercontent.com/100310137/157087019-3da577a6-9a76-4e70-979f-cc174e9d4203.PNG)

![3-7-node

[2022-03-07 21:35] bolshoytoster commented on #889
@codehakan if you add `console.log(_DnaList)` at the start of the function and run it again what does it say?

[2022-03-07 21:36] bolshoytoster commented on #897
@omer2307 do you mean all of the other layers are covered up by the background?

[2022-03-07 21:36] bolshoytoster commented on #898
@HtooKhant2001 can you paste the actual error please.

[2022-03-07 21:37] codehakan commented on #889
@bolshoytoster

Output: `Set(0) {}`

[2022-03-07 21:41] CGICLUB opened #903 "Any ideas?"
SyntaxError: Unexpected token .

[2022-03-07 21:42] bolshoytoster commented on #889
@codehakan I think you could change the line:
[code]
to
[code]

[2022-03-07 21:42] #903 closed, assigned to nobody

[2022-03-07 21:44] bolshoytoster commented on #899
@Achillesnft it should've set the `image` attribute to it. In `utils/update_info.js` ~line 25:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/utils/update_info.js#L24-L26

You could change `item.image` to `item.file_url`.

[2022-03-07 21:46] bolshoytoster commented on #890
@MyCryptoBabies there's a syntax error in your `src/config.js`. Can you paste the lines around line 84 please

[2022-03-07 21:46] bolshoytoster commented on #900
@weepope make sure you save the `src/config.js` file.

[2022-03-07 21:48] codehakan commented on #889
@bolshoytoster
![image](https://user-images.githubusercontent.com/36774186/157123377-b0887cd2-8944-46be-9b89-bc2da540f7d9.png)

[2022-03-07 21:52] nilolalolal opened #904 "is there a code to use when I don't want two layers to meet"
hey guys, is there a code to use when I don't want two layers to meet?
For example, I have hair and a hats, and I don't want two of those layers to meet.

[2022-03-07 21:54] bolshoytoster commented on #888
@xSkazi If I understand you right, you want each layer configuration to have a set background?

If so, hashlips doesn't have an easy way to do this. You could have your folder structure:
[code]
Then have your `layerConfigurations`:
[code]

[2022-03-07 21:56] bolshoytoster commented on #894
@kasun19944 in `src/config.js`, ~line 44:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L48

You can change `width` and `height` to the dimensions you want (in pixels).

[2022-03-07 21:57] bolshoytoster commented on #889
@codehakan sorry, It's meant to be
[code]

[2022-03-07 21:57] bolshoytoster commented on #904
@nilolalolal you can have two layer configurations, one with hair and one with hats.

[2022-03-07 22:07] nilolalolal commented on #904
Okay cool, thank you.

[2022-03-07 22:31] codehakan commented on #889
@bolshoytoster ☹️

![image](https://user-images.githubusercontent.com/36774186/157128840-342a3611-69bb-4be1-9afa-4d152bedede2.png)

[2022-03-07 22:35] bolshoytoster commented on #889
@codehakan I've actually tested it this time:
[code]

[2022-03-07 22:53] codehakan commented on #889
@bolshoytoster yup, its working. 👍 But not generating NFT. Console log always saying "DNA exists!". 🤔

I tried change MAX_OVERLAP with 1,2,3,4,5,6,7. But nothing happened.

[2022-03-07 23:30] bolshoytoster commented on #889
@codehakan how many layers do you have?

[2022-03-07 23:42] tryshka opened #905 "errno: 2, code: 'ENOENT', path: 'C:\\Users\\Пользователь\\Documents\\hashlips_art_engine-main/layers/1_Background/pink#8.png', syscall: 'fopen'"
![image](https://user-images.githubusercontent.com/101057184/157136972-571f6fed-0930-4d60-b770-2559d5aeb154.png)
help, what do I need to do?

[2022-03-08 00:07] MyCryptoBabies opened #906 "somebody please help me before I slit my wrists"
I'm so lost - It worked a few days ago and BOOM - no mor
![help](https://user-images.githubusercontent.com/100310137/157139496-deab6341-050e-4b26-9900-3bc87db4a885.PNG)
e

[2022-03-08 02:16] KS1388 opened #907 "The Creator issue"
Noted the Creator in the minted NFTs become somebody else. Is there anything in the codes that I have to changed? so far unable to find any. Anybody can advise? Thanks

[2022-03-08 05:12] kasun19944 commented on #894
Thank you

On Tue, Mar 8, 2022 at 3:26 AM bolshoytoster ***@***.***>
wrote:

[2022-03-08 05:14] Vikassingh121 commented on #868
Directory: C:\Users\Admin\IS132\NFT

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        05-03-2022  04:48 PM                .github
d-----        05-03-2022  04:48 PM                .vs
d-----        05-03-2022  05:24 PM                .vscode
d-----        07-03-2022  11:30 AM                build
d-----        05-03-2022  0

[2022-03-08 05:16] jamesdobry commented on #906
I mean, it says exactly what the issue is. Your package.json file must have been edited and so cannot compile as proper JSON. Look for "ve" in that file and you'll find the culprit.

[2022-03-08 05:20] Vikassingh121 commented on #868
@bolshoytoster  I used this data to use left skins to make 315 nfts

[2022-03-08 05:29] Vikassingh121 commented on #868
Directory: C:\Users\Admin\IS132\Characters\hashlips_art_engine-1.1.2_patch_v5

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----        02-03-2022  10:33 AM                .github
d-----        02-03-2022  10:33 AM                .vs
d-----        04-03-2022  02:37 PM                .vscode
d-----        05-03-2022  04:48 PM

[2022-03-08 05:33] WebDev-Learner commented on #898
@bolshoytoster i had already solved it and thank you.

[2022-03-08 05:33] #898 closed, assigned to nobody

[2022-03-08 05:35] Vikassingh121 commented on #868
@bolshoytoster I used this data to make 10000 NFT's

[2022-03-08 07:41] codehakan commented on #889
@bolshoytoster i have 12 layers.

[2022-03-08 07:48] bolshoytoster commented on #889
@codehakan set `MAX_OVERLAP` to 11 and decrease it until you grt whst you want.

[2022-03-08 08:04] bolshoytoster commented on #868
@Vikassingh121

only half of the skins.

It looks like you only have one image in your `Skins` folder.

It runs through layers in your `layerConfigurations`. If there are layers not in there they will be ignored.

[2022-03-08 08:08] marcneagu opened #908 "I don't want the ocurrences to be more than 1"
Hello, guys and girls! I want to create 7000 NFTs. The variable folders contains 10-30 PNGs each, from which the rarities will form. One of the folders contains 7000 different PNGs (main body of the NFT) and I want each of them to show up in the final image. I don’t want any of them (main body) to be a duplicate. Can anyone help me? Thanks
![Screenshot 2022-03-08 100717](https://user-images.github

[2022-03-08 08:20] bolshoytoster commented on #908
@marcneagu I think [thePeanutGalleryandCo's repo](https://github.com/thepeanutgalleryandco/create-and-mint-nft-collection) or [nftchef's repo](https://github.com/nftchef/art-engine) might have what you want.

[2022-03-08 09:19] Vikassingh121 commented on #868
@bolshoytoster  yes, I put one image in `Skins`  folder but there are 10 folders that contains `skins` those folder name are 1,2,3...8.
I Did this to avoid the problem.
So , my nft collections can have all the skins.

[2022-03-08 09:49] marcneagu commented on #908
Thanks a lot! The nftchef's repo doesn't have what I need and I think the PeanutGalleryandCo's repo is bugged beacause i can't seem to make it work. I will look deeper into it, but at a first glance I think it is not 100% what I want. I just want 1 folder to not repeat the files in it; the rest of the atributes cand repeat as much as they can.
I appreciate you took time to respond, @bolshoytoster

[2022-03-08 13:05] sandabot opened #909 "Mantain 300 ppi quality"
Considering every layer image has a pixel density of 300 ppi, is there a way that this quality would be kept for the build image?
Right now, it seems to downgrade it to 72 ppi.

Thanks !

[2022-03-08 13:10] Alexandriaaaaa opened #910 "It's urgent!Cannot deploy！！"
I'm trying to make my own contract with Matic, but I can't deploy it no matter how many times I try.
I have a headache because I don't understand what the error message is saying.
Does anyone understand this problem?
Please help me! !!
creation of LamasHeadNomadCrew errored: [ethjs-query] while formatting outputs from RPC'{"value": {"code": -32603, "data": {"code": -32000, "message": "transaction

[2022-03-08 13:15] bolshoytoster commented on #909
@sandabot you can turn up the output resolution in src/config.js ~line 45:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/config.js#L44-L48

you can change width and height to the resolution of your layer images

[2022-03-08 13:15] bolshoytoster commented on #901
@kasun19944 In src/main.js ~line 116:

https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L113-L118

You can change `canvas.toBuffer("image/png")` to `canvas.toBuffer("image/png", { resolution: 300 })`.

[2022-03-08 13:16] bolshoytoster commented on #910
@Alexandriaaaaa does [this](https://github.com/HashLips/hashlips_art_engine/issues/875#issuecomment-1059779015) comment help?

[2022-03-08 13:45] Alexandriaaaaa commented on #910
Thank you, bolshoytoster.
I found the post first and paid a lot of gas to try the transaction.

The polygon scan seems to have received the transaction, but the red sign does not reflect the transactioned contract.
Is there such a thing! ??
![スクリーンショット (5)](https://user-images.githubusercontent.com/100789342/157250285-fd5ead58-1c4b-452f-ac96-51951f2f0d2d.png)
![Inkedスクリーンショット (6)_LI](https://user-

[2022-03-08 13:48] tawseefnabi commented on #733
I also got same error..
 i tried on different version of node -- 12, 14, 16 , still got same error..
can anyone help ?

[2022-03-08 14:22] pratham-abc opened #911 "only 1 layer order generating images"

[2022-03-08 14:23] pratham-abc commented on #911
{
    growEditionSizeTo: 3333,
    layersOrder: [
      { name: "background" },
      { name: "shell" },
      { name: "skin" },
      { name: "clothes" },
      { name: "hat" },
      { name: "eyewear" },
      { name: "cigar" },
    ],
  },
{
    growEditionSizeTo: 1000,
    layersOrder: [
      { name: "background" },
      { name: "shell" },
      { name: "skin" },
      { name: "clothes" },

[2022-03-08 15:51] LembuHitam opened #912 "Forced tagging!!!"
Hi! I'm kinda new to this but how to make this x image to be inserted when y is present? If there's any if function to the code because I use the forcedcombination method but it doesn't work! Please help or do I need just to create new layerss

[2022-03-08 15:53] bolshoytoster commented on #909
@sandabot sorry, hashlips doesn't currently have functionality for this, however, you can add it yourself.

In `src/main.js` ~line 116:
https://github.com/HashLips/hashlips_art_engine/blob/d8ee279043d2d4a8de3bdfac0d89d0e966fb04a2/src/main.js#L113-L118

You can change `canvas.toBuffer("image/png")` to `canvas.toBuffer("image/png", { resolution: 300 })`

[2022-03-08 15:56] musobek253 opened #913 "giving me this error"
(node:21164) [DEP0147] DeprecationWarning: In future versions of Node.js, fs.rmdir(path, { recursive: true }) will be removed. Use fs.rm(path, { recursive: true }) instead
(Use `node --trace-deprecation ...` to show where the warning was created)
node:fs:1392
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\muso_\Desktop\create-10k-nft-collection-1.2.

[2022-03-08 16:00] bolshoytoster commented on #733
@tawseefnabi try doing what the error suggests, run `npm rebuild` and/or `npm install`.

[2022-03-08 16:02] bolshoytoster commented on #911
@pratham-abc This repo isn't very smart when it comes to multiple layer configurations. You can try using [my fork](https://github.com/bolshoytoster/hashlips_art_engine) instead.

[2022-03-08 16:05] bolshoytoster commented on #912
@LembuHitam `forcedcombination` isn't in this repo. You should try [nftchef's repo](https://github.com/nftchef/art-engine) instead.

[2022-03-08 16:06] bolshoytoster commented on #913
@musobek253
1. make sure you save your `src/config.js`
2. make sure the layer names in there match the folder names exactly (case sensitive as well)

[2022-03-08 16:18] mattray7 opened #914 "New MAC npm ERR! node-pre-gyp ERR!"
Can someone please help! I have no real coding experience and cannot figure out this error:

npm ERR! command sh -c node-pre-gyp install --fallback-to-build
npm ERR! Failed to execute '/usr/local/bin/node /usr/local/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js configure --fallback-to-build --module=/Users/mattsmacbookpro/Downloads/hashlips_art_engine-main/node_modules/canvas/build/Re

[2022-03-08 16:21] tawseefnabi commented on #733
it works on only node v14

[2022-03-08 16:27] bolshoytoster commented on #914
@mattray7 it's a well known issue with M1 macs. Check out some [other issues](https://github.com/HashLips/hashlips_art_engine/issues?q=is%3Aissue+M1) for potential solutions.

[2022-03-08 16:58] mattray7 commented on #914
Thank you, will do.

[2022-03-08 17:01] omer2307 commented on #897
No, I'm using the hashlips_art_engine file as specifies in this repo, so there is only one black background so its not possible to come from the background.  I'm adding two examples below. The other images are kind of the same with random colors.
![1](https://user-images.githubusercontent.com/99732978/157287699-86ec6fe0-b343-44d2-b3f7-6244b1fff52a.png)
![2](https://user-images.githubusercontent.co

[2022-03-08 17:04] bolshoytoster commented on #897
@omer2307 it looks like it's either drawing your layers off the canvas or not at all.Does it work without any of the `posX`/`posY` stuff in `src/config.js`?

[2022-03-08 19:34] designoor commented on #889
@bolshoytoster thank you, works like a charm!

[2022-03-08 20:04] designoor commented on #886
@proraheelaslam this config option gives you the pssibility to set it however you want.

[2022-03-08 21:28] MyCryptoBabies opened #915 "errno 1 error - please help"
Everyday it is something new.  I don't change anything so I don't understand how It can work and generate.  I go to bed, wake up and it doesn't work....  anyway,  I got my things generated (at least a batch to get started) changing the base uri I get this after running
npm run update_info.
What?  Daniel makes it looks so smooth on the videos.  I am on a windows 10
![+errno 1](https://user-images.g

[2022-03-08 21:31] bolshoytoster commented on #915
@MyCryptoBabies can you paste the full error please.

[2022-03-08 21:38] MyCryptoBabies commented on #915
Man your quick - I like it when you are working...
![errno 1 1](https://user-images.githubusercontent.com/100310137/157329520-a6e6f64e-e201-4056-976d-cb3df0ce94b0.PNG)

![errno 1 2](https://user-images.githubusercontent.com/100310137/157329530-6d1201f4-5051-46b6-be8b-b1a1770ad9fa.PNG)

![errno 1 3](https://user-images.githubusercontent.com/100310137/157329540-66bbb167-9ed7-4cd7-ad28-09f5df1b921b.P

[2022-03-08 21:40] MyCryptoBabies commented on #915
It looks like I didn't put the metadata in there.  I am following Daniels new video step by step

[2022-03-08 21:43] bolshoytoster commented on #915
@MyCryptoBabies In this repo, it doesn't create the `_metadata.json` file if it runs into too many duplicates (if it says `You need more layers or elements to grow your edition to ... artworks!`). You could either use [my repo](https://github.com/bolshoytoster/hashlips_art_engine), or you could add this line:
[code]
At ~line 423 of `src/main.js`:
https://github.com/HashLips/hashlips_art_engine/blo

[2022-03-08 21:45] MyCryptoBabies commented on #915
I changed some of the pictures numbers and in the json file to match.  That must have messed it up. I went through all the pictures and didn't like some so I took them out.

[2022-03-08 21:46] bolshoytoster commented on #915
@MyCryptoBabies I don't think that would cause it; unless you deleted the `build/json/_metadata.json` file.

[2022-03-08 22:23] MyCryptoBabies commented on #915
trying to generate again from scratch - getting this . I am just so frustrated because I have been working on all this for 6 weeks now and all I want to do is get going.  Thanks for your help.

![+errno 1](https://user-images.githubusercontent.com/100310137/157335793-1432695e-884c-4b0d-9104-1ea4b329322d.PNG)

[2022-03-08 22:23] MyCryptoBabies commented on #915
trying to generate again from scratch - getting this . I am just so frustrated because I have been working on all this for 6 weeks now and all I want to do is get going.  Thanks for your help.

![+errno 1](https://user-images.githubusercontent.com/100310137/157335793-1432695e-884c-4b0d-9104-1ea4b329322d.PNG)

[2022-03-08 22:25] bolshoytoster commented on #915
@MyCryptoBabies I think you're in the wrong folder, run `Get-ChildItem -Directory` to get the name, then run `cd ` + name to go into it.

[2022-03-08 22:36] MyCryptoBabies commented on #915
I went into the json pkg and pushed the debug button.  It's generating now.  What happened?

[2022-03-08 22:38] bolshoytoster commented on #915
@MyCryptoBabies I have no clue. By 'json pkg' do you mean `package.json`?

[2022-03-08 22:39] MyCryptoBabies commented on #915
got 336 and it stopped then got this

![+errno 1](https://user-images.githubusercontent.com/100310137/157337868-ddad056a-fa99-4987-a0a6-28bebdeae63b.PNG)

[2022-03-08 22:43] MyCryptoBabies commented on #915
package.json  yes, that... I hit debug again and it is generating more

[2022-03-08 22:43] bolshoytoster commented on #915
@MyCryptoBabies if you run `node index.js` instead of `npm run generate` it'll probably show the error.

[2022-03-08 22:51] MyCryptoBabies commented on #915
i did that and it didn't show an error.  It started generating.  BTW - Can i rename these files if I rename it in the json file that matches?  If so, can I do it in windows explorer or do I have to do it in the visual studio.?

[2022-03-08 22:55] bolshoytoster commented on #915
@MyCryptoBabies if you rename the files, you can rename the pngs, then go to `build/json/_metadata.json` and change the corresponding `edition` value.

It doesn't matter.

[2022-03-08 22:56] MyCryptoBabies commented on #915
I don't see a metadata file in the build json folder on these runs

[2022-03-08 22:58] bolshoytoster commented on #915
@MyCryptoBabies did your build end with `You need more layers or elements to grow your edition to ... artworks!`?

[2022-03-08 23:00] MyCryptoBabies commented on #915
no,  I have a lot of layers and images - 7 layers and at least 20-50 in each folder

[2022-03-08 23:00] MyCryptoBabies commented on #915
no,  I have a lot of layers and images - 7 layers and at least 20-50 in each folder

[2022-03-08 23:02] MyCryptoBabies commented on #915
I just don't want to waste MORE time renaming if I need the metadata json file.  I'm not sure why it's not there

[2022-03-08 23:02] MyCryptoBabies commented on #915
I just don't want to waste MORE time renaming if I need the metadata json file.  I'm not sure why it's not there

[2022-03-08 23:09] bolshoytoster commented on #915
@MyCryptoBabies paste this code:
[code]
into a file in your project folder, then run it with `node ` + whatever you called the file.

The code will generate a `_metadata.json`.

[2022-03-08 23:40] MyCryptoBabies commented on #915
Why would it just stop working if no changes are made?  I generated some.  Tried to generate more and it gives me this.  The only thing I did is move the last build into another folder on my desktop to start from scratch with a new collection - I'm in the config.js folder

![+errno 1](https://user-images.githubusercontent.com/100310137/157344311-6e61e3b5-1244-4ce2-87fb-fac9bec52b03.PNG)

[2022-03-08 23:41] MyCryptoBabies commented on #915
Why would it just stop working if no changes are made?  I generated some.  Tried to generate more and it gives me this.  The only thing I did is move the last build into another folder on my desktop to start from scratch with a new collection - I'm in the config.js folder

![+errno 1](https://user-images.githubusercontent.com/100310137/157344311-6e61e3b5-1244-4ce2-87fb-fac9bec52b03.PNG)

[2022-03-08 23:57] bolshoytoster commented on #915
@MyCryptoBabies if you're using my fork, it normally carries on from the previous build. So if you want to restart you have to manually delete the `build` folder.

[2022-03-09 00:05] Alansos opened #916 ""no such file or directory open" and "'module_not_found'" PLZ HELP"
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\lopez\Downloads\Koby NFTS\hashlips_art_engine-main/package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\lopez\Downloads\Koby NFTS\hashlips_art_engine-main\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this

[2022-03-09 00:08] bolshoytoster commented on #916
@AlanSPK I think you're in the wrong folder, run `Get-ChildItem -Directory` to get the name, then run `cd ` + name to go into it.

[2022-03-09 00:11] MyCryptoBabies commented on #915
Where and how do I get your fork? And how to I use it?  The Problem is nothing will generate now.  Should I delete the program and reinstall it?

[2022-03-09 00:37] Alansos commented on #916
is the name the length name? This is what comes up - PS C:\Users\lopez\Downloads\Koby NFTS\hashlips_art_engine-main> Get-ChildItem -Directory

    Directory: C:\Users\lopez\Downloads\Koby NFTS\hashlips_art_engine-main

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----          3/4/2022   5:37 PM                hashlips_art_engine-m

[2022-03-09 01:28] yestinlin commented on #839
I had the same problem and am not sure why : (

[2022-03-09 02:11] yestinlin commented on #839
I figured it out after that comment lol. My problem was I accidentally put png folders' cid in Remix, but the truth is that I should use the JSON folder's cid. You can debug your metadata using this link: https://docs.opensea.io/docs/4-debugging-your-metadata